USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_GTFILE_GTFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_GTFILE_GTFILE_SELECT              */
/*               PROGRAM NAME: UT/GTFILE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 02/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: GTFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_GTFILE_GTFILE_SELECT]
    @QGT1_WBEG_BRANCH   AS INT,
	@QGT1_WBEG_DATE3    AS DATE,
    @QGT1_WEND_DATE3    AS DATE

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QGT1_WBEG_BRANCH  INT
--DECLARE @QGT1_WBEG_DATE3   DATE
--DECLARE @QGT1_WEND_DATE3   DATE

--SET @QGT1_WBEG_BRANCH = 1504
--SET @QGT1_WBEG_DATE3  = '2019-01-01'
--SET @QGT1_WEND_DATE3  = '2019-12-31'

            SELECT GTFILE.GT_FLAG,
                   GTFILE.GT_REF,
                   CAST(GTFILE.GT_DATE1 AS VARCHAR(10)),
                   GTFILE.GT_SOURCE,
                   CAST(GTFILE.GT_DATE2 AS VARCHAR(10)),
                   GTFILE.GT_BRANCH,
                   GTFILE.GT_ACCTNO,
                   CAST(GTFILE.GT_DATE3 AS VARCHAR(10)),
                   GTFILE.GT_DRCRFG,
                   GTFILE.GT_LINE,
                   CAST(GTFILE.GT_LTOUCH_DATE AS VARCHAR(10)),
                   GTFILE.GT_AMT,
                   GTFILE.GT_EXPL,
                   GTFILE.GT_PERIOD,
                   GTFILE.GT_SMITH_SENT,
                   GTFILE.GT_POST_USERID,
                   CAST(GTFILE.GT_POST_DATE AS VARCHAR(10)),
                   GTFILE.GT_POST_TIME

            FROM DBO.GTFILE

            WHERE GTFILE.GT_BRANCH = @QGT1_WBEG_BRANCH
              AND GTFILE.GT_DATE3 BETWEEN @QGT1_WBEG_DATE3 AND @QGT1_WEND_DATE3

            ORDER BY GTFILE.GT_BRANCH,
			         GTFILE.GT_ACCTNO,
					 GTFILE.GT_DATE3,  
                     GTFILE.GT_DRCRFG, 
                     GTFILE.GT_LINE    
			
END 
GO
