USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_UMCEXT_TRSFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_UMCEXT_TRSFILE_SELECT             */
/*               PROGRAM NAME: SP/UMCEXT.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 10/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRSFILE LNFILE                                          */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_UMCEXT_TRSFILE_SELECT]
    @BRANCHLIST         AS VARCHAR(7500),
   	@QTRS1_WBEG_DATE    AS DATE,
    @QTRS1_WEND_DATE    AS DATE,
    @QTRS1_WBEG_CLASS   AS INT,
    @QTRS1_WEND_CLASS   AS INT

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @BRANCHLIST         VARCHAR(7500)
--DECLARE @QTRS1_WBEG_DATE    DATE
--DECLARE @QTRS1_WEND_DATE    DATE
--DECLARE @QTRS1_WBEG_CLASS   INT
--DECLARE @QTRS1_WEND_CLASS   INT 

--SET @BRANCHLIST         = '1504'
--SET @QTRS1_WBEG_DATE    = '2019-12-01'
--SET @QTRS1_WEND_DATE    = '2019-12-31'
--SET @QTRS1_WBEG_CLASS   = 000
--SET @QTRS1_WEND_CLASS   = 999
      
CREATE TABLE #TEMP1_BRANCH_GROUP_TBL
   ( SEQ int IDENTITY(1,1),
     BRNO int ); 

INSERT INTO #TEMP1_BRANCH_GROUP_TBL (BRNO)
SELECT P.VALUE FROM string_Split(@BRANCHLIST, ',') P;

	        SELECT TRSFILE.TS_BRNO,
                   CAST(TRSFILE.TS_DATE AS VARCHAR(10)),
                   TRSFILE.TS_CLASS,
                   TRSFILE.TS_ACCTNO,
                   TRSFILE.TS_LAWCODE,
                   TRSFILE.TS_LINE,
                   TRSFILE.TS_FEECODE_1,
                   TRSFILE.TS_FEECODE_2,
                   TRSFILE.TS_FEECODE_3,
                   TRSFILE.TS_FEECODE_4,
                   TRSFILE.TS_FEECODE_5,
                   TRSFILE.TS_FEECODE_6,
                   TRSFILE.TS_FEECODE_7,
                   TRSFILE.TS_FEECODE_8,
                   TRSFILE.TS_FEECODE_9,
                   TRSFILE.TS_FEECODE_10,
                   TRSFILE.TS_FEECODE_11,
                   TRSFILE.TS_FEECODE_12,
                   TRSFILE.TS_FEECODE_13,
                   TRSFILE.TS_FEECODE_14,
                   TRSFILE.TS_FEECODE_15,
                   TRSFILE.TS_FEECODE_16,
                   TRSFILE.TS_FEECODE_17,
                   TRSFILE.TS_FEECODE_18,
                   TRSFILE.TS_FEECODE_19,
                   TRSFILE.TS_FEECODE_20,
                   TRSFILE.TS_FEEAMT_1,
                   TRSFILE.TS_FEEAMT_2,
                   TRSFILE.TS_FEEAMT_3,
                   TRSFILE.TS_FEEAMT_4,
                   TRSFILE.TS_FEEAMT_5,
                   TRSFILE.TS_FEEAMT_6,
                   TRSFILE.TS_FEEAMT_7,
                   TRSFILE.TS_FEEAMT_8,
                   TRSFILE.TS_FEEAMT_9,
                   TRSFILE.TS_FEEAMT_10,
                   TRSFILE.TS_FEEAMT_11,
                   TRSFILE.TS_FEEAMT_12,
                   TRSFILE.TS_FEEAMT_13,
                   TRSFILE.TS_FEEAMT_14,
                   TRSFILE.TS_FEEAMT_15,
                   TRSFILE.TS_FEEAMT_16,
                   TRSFILE.TS_FEEAMT_17,
                   TRSFILE.TS_FEEAMT_18,
                   TRSFILE.TS_FEEAMT_19,
                   TRSFILE.TS_FEEAMT_20,     

				   LNFILE.LN_OWNBR,
                   LNFILE.LN_ACCTNO,
                   LNFILE.LN_SSNO1,
                   LNFILE.LN_MAKERCD1, 
                   LNFILE.LN_SSNO2,
                   LNFILE.LN_MAKERCD2, 
                   LNFILE.LN_SSNO3,
                   LNFILE.LN_MAKERCD3, 
                   LNFILE.LN_SSNO4,
                   LNFILE.LN_MAKERCD4, 
                   CAST(LNFILE.LN_LOANDATE AS VARCHAR(10))
            	
	 FROM #TEMP1_BRANCH_GROUP_TBL T1

	 INNER JOIN DBO.TRSFILE TRSFILE
	  ON TRSFILE.TS_BRNO = T1.BRNO

     INNER JOIN DBO.LNFILE LNFILE
       ON LNFILE.LN_OWNBR  = TRSFILE.TS_BRNO
      AND LNFILE.LN_ACCTNO = TRSFILE.TS_ACCTNO
      
	WHERE TRSFILE.TS_DATE  BETWEEN @QTRS1_WBEG_DATE  AND @QTRS1_WEND_DATE
      AND TRSFILE.TS_CLASS BETWEEN @QTRS1_WBEG_CLASS AND @QTRS1_WEND_CLASS
 
     ORDER BY T1.SEQ,
	          TRSFILE.TS_DATE,
	          TRSFILE.TS_CLASS,
              TRSFILE.TS_ACCTNO,
	          TRSFILE.TS_LINE

END 
GO
