USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BNKLGL_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_BNKLGL_LNFILE_SELECT              */
/*               PROGRAM NAME: LP/BNKLGL.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 02/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE BWFILE                                           */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_BNKLGL_LNFILE_SELECT]
    @QLN3_WBEG_OWNBR  AS INT,
	@QLN3_WBEG_CLASS  AS INT,
	@QLN3_WEND_CLASS  AS INT
		
AS
BEGIN
	SET NOCOUNT ON;

 DECLARE @PARAMLIST  NVARCHAR(4000),      
	     @SQL        NVARCHAR(MAX)

--DECLARE @QLN3_WBEG_OWNBR  INT
--DECLARE @QLN3_WBEG_CLASS  INT
--DECLARE @QLN3_WEND_CLASS  INT

--SET  @QLN3_WBEG_OWNBR  = 1504  
--SET  @QLN3_WBEG_CLASS  = 0
--SET  @QLN3_WEND_CLASS  = 99

 SELECT @SQL = 
            'SELECT LNFILE.LN_OWNBR,
                  LNFILE.LN_ACCTNO,
                  LNFILE.LN_CLASS,
                  LNFILE.LN_SUBCLASS,
                  LNFILE.LN_LAWCODE,
                  LNFILE.LN_SSNO1,
                  LNFILE.LN_MAKERCD1,
                  LNFILE.LN_SSNO2,
                  LNFILE.LN_MAKERCD2,
                  LNFILE.LN_SSNO3,
                  LNFILE.LN_MAKERCD3,
                  LNFILE.LN_SSNO4,
                  LNFILE.LN_MAKERCD4,
                  LNFILE.LN_ORGST,
                  LNFILE.LN_SPRCLASS,
                  LNFILE.LN_POCD,
                  LNFILE.LN_PLCD,
                  LNFILE.LN_PAY_SCHLD_FG,
                  LNFILE.LN_STATFLAGS,
                  CAST(LNFILE.LN_LOANDATE       AS VARCHAR(10)),
                  CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)),
                  CAST(LNFILE.LN_1STPYDATE     AS VARCHAR(10)),
                  CAST(LNFILE.LN_LEGALDATE     AS VARCHAR(10)),
                  CAST(LNFILE.LN_BNKRPTDATE    AS VARCHAR(10)),
                  LNFILE.LN_ORGTERM,
                  LNFILE.LN_1STPYAMT,
                  LNFILE.LN_NOREGPY,
                  LNFILE.LN_REGPYAMT,
                  LNFILE.LN_LASTPYAMT,
                  LNFILE.LN_PY_YYYYMM_RECDEL,
                  LNFILE.LN_MTD_PAYS_RECDEL,
                  LNFILE.LN_CURBAL,
                  LNFILE.LN_INTBAL,
                  LNFILE.LN_LCBAL,
                  LNFILE.LN_OTHBAL,
                  LNFILE.LN_OT2BAL,
                  LNFILE.LN_TOTPAYMNTD,
                  LNFILE.LN_TOTNODEF,
                  LNFILE.LN_TOTNOALDEL,
                  CAST(LNFILE.LN_DATE_PAID_LAST AS VARCHAR(10)),
                  LNFILE.LN_SUM_ORGTERM,
                  LNFILE.LN_UNITPER_CD,
                  LNFILE.LN_UNITPER_FREQ,
	              ISNULL(BWFILE.BW_OWNBR,0),
                  ISNULL(BWFILE.BW_SSNO,0),
                  ISNULL(BWFILE.BW_LNAME,''''),
                  ISNULL(BWFILE.BW_FNAME,''''),
                  ISNULL(BWFILE.BW_SOLICIT,'''')

     FROM DBO.LNFILE LNFILE
  	 
	 LEFT OUTER JOIN DBO.BWFILE BWFILE 
       ON BWFILE.BW_OWNBR = LNFILE.LN_OWNBR  	
	  AND BWFILE.BW_SSNO  = LNFILE.LN_SSNO1   

	 WHERE LNFILE.LN_OWNBR = @QLN3_WBEG_OWNBR
	  AND LNFILE.LN_CLASS BETWEEN @QLN3_WBEG_CLASS AND @QLN3_WEND_CLASS
	  AND (LNFILE.LN_POCD NOT IN (''**'', ''*I'', ''*R'', ''*U''))
	  AND (LNFILE.LN_BNKRPTDATE != ''1900-01-01'' OR LNFILE.LN_LEGALDATE != ''1900-01-01'')'

	  
 SELECT @SQL += ' ORDER BY LNFILE.LN_OWNBR, LNFILE.LN_CLASS, LNFILE.LN_ACCTNO'

 SELECT @paramlist = '@QLN3_WBEG_OWNBR  INT,
             	      @QLN3_WBEG_CLASS  INT,
	                  @QLN3_WEND_CLASS  INT'

EXEC sp_executesql @SQL, @paramlist, @QLN3_WBEG_OWNBR, @QLN3_WBEG_CLASS, @QLN3_WEND_CLASS

END
GO
