USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_UMCEXT_TRLFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_UMCEXT_TRLFILE_SELECT             */
/*               PROGRAM NAME: SP/UMCEXT.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 10/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRLFILE LNFILE                                          */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_UMCEXT_TRLFILE_SELECT]
    @BRANCHLIST         AS VARCHAR(7500),
    @QTRL1_WBEG_DATE    AS DATE,
    @QTRL1_WEND_DATE    AS DATE,
    @QTRL1_WBEG_CLASS   AS INT,
    @QTRL1_WEND_CLASS   AS INT 
    
 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @BRANCHLIST       VARCHAR(7500)
--DECLARE @QTRL1_WBEG_DATE  DATE
--DECLARE @QTRL1_WEND_DATE  DATE
--DECLARE @QTRL1_WBEG_CLASS INT
--DECLARE @QTRL1_WEND_CLASS INT 

--SET @BRANCHLIST     =  = '1504'
--SET @QTRL1_WBEG_DATE   =  '2019-12-01'
--SET @QTRL1_WEND_DATE   =  '2019-12-31'
--SET @QTRL1_WBEG_CLASS  =  000
--SET @QTRL1_WEND_CLASS  =  999


CREATE TABLE #TEMP1_BRANCH_GROUP_TBL
   ( SEQ int IDENTITY(1,1),
     BRNO int ); 

INSERT INTO #TEMP1_BRANCH_GROUP_TBL (BRNO)
SELECT P.VALUE FROM string_Split(@BRANCHLIST, ',') P;

            SELECT TRLFILE.TL_BRNO,
                   CAST(TRLFILE.TL_DATE AS VARCHAR(10)),
                   TRLFILE.TL_CLASS,
                   TRLFILE.TL_ACCTNO,
                   TRLFILE.TL_LAWCODE,
                   TRLFILE.TL_LINE,
                   TRLFILE.TL_FEECODE_1,
                   TRLFILE.TL_FEECODE_2,
                   TRLFILE.TL_FEECODE_3,
                   TRLFILE.TL_FEECODE_4,
                   TRLFILE.TL_FEECODE_5,
                   TRLFILE.TL_FEECODE_6,
                   TRLFILE.TL_FEECODE_7,
                   TRLFILE.TL_FEECODE_8,
                   TRLFILE.TL_FEECODE_9,
                   TRLFILE.TL_FEECODE_10,
                   TRLFILE.TL_FEECODE_11,
                   TRLFILE.TL_FEECODE_12,
                   TRLFILE.TL_FEECODE_13,
                   TRLFILE.TL_FEECODE_14,
                   TRLFILE.TL_FEECODE_15,
                   TRLFILE.TL_FEECODE_16,
                   TRLFILE.TL_FEECODE_17,
                   TRLFILE.TL_FEECODE_18,
                   TRLFILE.TL_FEECODE_19,
                   TRLFILE.TL_FEECODE_20,
                   TRLFILE.TL_FEEAMT_1,
                   TRLFILE.TL_FEEAMT_2,
                   TRLFILE.TL_FEEAMT_3,
                   TRLFILE.TL_FEEAMT_4,
                   TRLFILE.TL_FEEAMT_5,
                   TRLFILE.TL_FEEAMT_6,
                   TRLFILE.TL_FEEAMT_7,
                   TRLFILE.TL_FEEAMT_8,
                   TRLFILE.TL_FEEAMT_9,
                   TRLFILE.TL_FEEAMT_10,
                   TRLFILE.TL_FEEAMT_11,
                   TRLFILE.TL_FEEAMT_12,
                   TRLFILE.TL_FEEAMT_13,
                   TRLFILE.TL_FEEAMT_14,
                   TRLFILE.TL_FEEAMT_15,
                   TRLFILE.TL_FEEAMT_16,
                   TRLFILE.TL_FEEAMT_17,
                   TRLFILE.TL_FEEAMT_18,
                   TRLFILE.TL_FEEAMT_19,
                   TRLFILE.TL_FEEAMT_20,

				   LNFILE.LN_OWNBR,
                   LNFILE.LN_ACCTNO,
                   LNFILE.LN_SSNO1,
                   LNFILE.LN_MAKERCD1, 
                   LNFILE.LN_SSNO2,
                   LNFILE.LN_MAKERCD2, 
                   LNFILE.LN_SSNO3,
                   LNFILE.LN_MAKERCD3, 
                   LNFILE.LN_SSNO4,
                   LNFILE.LN_MAKERCD4, 
                   CAST(LNFILE.LN_LOANDATE AS VARCHAR(10))
				   				    
	 FROM #TEMP1_BRANCH_GROUP_TBL T1
	
	 INNER JOIN DBO.TRLFILE TRLFILE
	   ON TRLFILE.TL_BRNO = T1.BRNO

	INNER JOIN DBO.LNFILE LNFILE
       ON LNFILE.LN_OWNBR  = TRLFILE.TL_BRNO
      AND LNFILE.LN_ACCTNO = TRLFILE.TL_ACCTNO
   
   WHERE TRLFILE.TL_DATE  BETWEEN @QTRL1_WBEG_DATE  AND @QTRL1_WEND_DATE
     AND TRLFILE.TL_CLASS BETWEEN @QTRL1_WBEG_CLASS AND @QTRL1_WEND_CLASS
     
   ORDER BY T1.SEQ,
            TRLFILE.TL_DATE,
            TRLFILE.TL_CLASS,
            TRLFILE.TL_ACCTNO,
			TRLFILE.TL_LAWCODE,
            TRLFILE.TL_LINE

END 
GO
