USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_ILNEXT_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_ILNEXT_LNFILE_SELECT              */
/*               PROGRAM NAME: SP/ILNEXT.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE, LTCFILE, SPAFILE                                */
/*                                                                   */
/*   REV DT:     BY:       REV:                                      */
/*   07/02/2024  RMZ       ADDED CLASS 55 TO EXCLUDE LIST: #S35Q-75  */
/*   MM/DD/YYYY  XXX       XXXXXXX                                   */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_ILNEXT_LNFILE_SELECT]
    @QLN3_WBEG_OWNBR      AS INT,
	@QLN3_WBEG_CLASS      AS INT,
	@QLN3_WEND_CLASS      AS INT, 
    @QWS_BEG_DATE         AS DATE,
    @QWS_END_DATE         AS DATE

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN3_WBEG_OWNBR      INT
--DECLARE @QLN3_WBEG_CLASS      INT
--DECLARE @QLN3_WEND_CLASS      INT
--DECLARE @QWS_BEG_DATE         DATE
--DECLARE @QWS_END_DATE         DATE

--SET     @QLN3_WBEG_OWNBR      = 1000
--SET     @QLN3_WBEG_CLASS      = 000   
--SET     @QLN3_WEND_CLASS      = 999
--SET     @QWS_BEG_DATE         = '2023-12-01' 
--SET     @QWS_END_DATE         = '2023-12-31' 

   SELECT LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_SUBCLASS,
          LNFILE.LN_LAWCODE,
          LNFILE.LN_SSNO1,
          LNFILE.LN_MAKERCD1, 
          LNFILE.LN_SSNO2,
          LNFILE.LN_MAKERCD2,
          LNFILE.LN_SSNO3,
          LNFILE.LN_MAKERCD3,
          LNFILE.LN_SSNO4,
          LNFILE.LN_MAKERCD4,
          LNFILE.LN_ORGST,
          LNFILE.LN_SPRCLASS,
          LNFILE.LN_CONVERCD, 
          LNFILE.LN_SRCD, 
          LNFILE.LN_COLLCD, 
          LNFILE.LN_POCD, 
          LNFILE.LN_LOANTYPE, 
          CAST(LNFILE.LN_ENTDATE        AS VARCHAR(10)), 
          CAST(LNFILE.LN_LOANDATE       AS VARCHAR(10)), 
          CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)), 
          CAST(LNFILE.LN_1STPYDATE      AS VARCHAR(10)), 
          LNFILE.LN_APRATE,
          LNFILE.LN_INTCHG,
          LNFILE.LN_SERCHG,
          LNFILE.LN_EXTCHG,
          LNFILE.LN_MAINTFEE,
          LNFILE.LN_ORGTERM,
          LNFILE.LN_1STPYAMT,
          LNFILE.LN_NOREGPY,
          LNFILE.LN_REGPYAMT,
          LNFILE.LN_LASTPYAMT,
          LNFILE.LN_FEECODE_1, 
          LNFILE.LN_FEECODE_2, 
          LNFILE.LN_FEECODE_3, 
          LNFILE.LN_FEECODE_4, 
          LNFILE.LN_FEECODE_5, 
          LNFILE.LN_FEECODE_6, 
          LNFILE.LN_FEECODE_7, 
          LNFILE.LN_FEECODE_8, 
          LNFILE.LN_FEECODE_9, 
          LNFILE.LN_FEECODE_10, 
          LNFILE.LN_FEECODE_11, 
          LNFILE.LN_FEECODE_12, 
          LNFILE.LN_FEECODE_13, 
          LNFILE.LN_FEECODE_14, 
          LNFILE.LN_FEECODE_15, 
          LNFILE.LN_FEECODE_16, 
          LNFILE.LN_FEECODE_17, 
          LNFILE.LN_FEECODE_18, 
          LNFILE.LN_FEECODE_19, 
          LNFILE.LN_FEECODE_20, 
          LNFILE.LN_FEEAMT_1,
          LNFILE.LN_FEEAMT_2,
          LNFILE.LN_FEEAMT_3,
          LNFILE.LN_FEEAMT_4,
          LNFILE.LN_FEEAMT_5,
          LNFILE.LN_FEEAMT_6,
          LNFILE.LN_FEEAMT_7,
          LNFILE.LN_FEEAMT_8,
          LNFILE.LN_FEEAMT_9,
          LNFILE.LN_FEEAMT_10,
          LNFILE.LN_FEEAMT_11,
          LNFILE.LN_FEEAMT_12,
          LNFILE.LN_FEEAMT_13,
          LNFILE.LN_FEEAMT_14,
          LNFILE.LN_FEEAMT_15,
          LNFILE.LN_FEEAMT_16,
          LNFILE.LN_FEEAMT_17,
          LNFILE.LN_FEEAMT_18,
          LNFILE.LN_FEEAMT_19,
          LNFILE.LN_FEEAMT_20,
          LNFILE.LN_FEEOURS_1, 
          LNFILE.LN_FEEOURS_2, 
          LNFILE.LN_FEEOURS_3, 
          LNFILE.LN_FEEOURS_4, 
          LNFILE.LN_FEEOURS_5, 
          LNFILE.LN_FEEOURS_6, 
          LNFILE.LN_FEEOURS_7, 
          LNFILE.LN_FEEOURS_8, 
          LNFILE.LN_FEEOURS_9, 
          LNFILE.LN_FEEOURS_10, 
          LNFILE.LN_FEEOURS_11, 
          LNFILE.LN_FEEOURS_12, 
          LNFILE.LN_FEEOURS_13, 
          LNFILE.LN_FEEOURS_14, 
          LNFILE.LN_FEEOURS_15, 
          LNFILE.LN_FEEOURS_16, 
          LNFILE.LN_FEEOURS_17, 
          LNFILE.LN_FEEOURS_18, 
          LNFILE.LN_FEEOURS_19, 
          LNFILE.LN_FEEOURS_20, 
          LNFILE.LN_FEEFINCHG_1, 
          LNFILE.LN_FEEFINCHG_2, 
          LNFILE.LN_FEEFINCHG_3, 
          LNFILE.LN_FEEFINCHG_4, 
          LNFILE.LN_FEEFINCHG_5, 
          LNFILE.LN_FEEFINCHG_6, 
          LNFILE.LN_FEEFINCHG_7, 
          LNFILE.LN_FEEFINCHG_8, 
          LNFILE.LN_FEEFINCHG_9, 
          LNFILE.LN_FEEFINCHG_10, 
          LNFILE.LN_FEEFINCHG_11, 
          LNFILE.LN_FEEFINCHG_12, 
          LNFILE.LN_FEEFINCHG_13, 
          LNFILE.LN_FEEFINCHG_14, 
          LNFILE.LN_FEEFINCHG_15, 
          LNFILE.LN_FEEFINCHG_16, 
          LNFILE.LN_FEEFINCHG_17, 
          LNFILE.LN_FEEFINCHG_18, 
          LNFILE.LN_FEEFINCHG_19, 
          LNFILE.LN_FEEFINCHG_20, 
          LNFILE.LN_INSOURS_1, 
          LNFILE.LN_INSOURS_2, 
          LNFILE.LN_INSOURS_3, 
          LNFILE.LN_INSOURS_4, 
          LNFILE.LN_INSOURS_5, 
          LNFILE.LN_INSOURS_6, 
          LNFILE.LN_INSOURS_7, 
          LNFILE.LN_INSOURS_8, 
          LNFILE.LN_INSOURS_9, 
          LNFILE.LN_INSOURS_10, 
          LNFILE.LN_INSPREM_1,
          LNFILE.LN_INSPREM_2,
          LNFILE.LN_INSPREM_3,
          LNFILE.LN_INSPREM_4,
          LNFILE.LN_INSPREM_5,
          LNFILE.LN_INSPREM_6,
          LNFILE.LN_INSPREM_7,
          LNFILE.LN_INSPREM_8,
          LNFILE.LN_INSPREM_9,
          LNFILE.LN_INSPREM_10,
          LNFILE.LN_INSFINCHG_1, 
          LNFILE.LN_INSFINCHG_2, 
          LNFILE.LN_INSFINCHG_3, 
          LNFILE.LN_INSFINCHG_4, 
          LNFILE.LN_INSFINCHG_5, 
          LNFILE.LN_INSFINCHG_6, 
          LNFILE.LN_INSFINCHG_7, 
          LNFILE.LN_INSFINCHG_8, 
          LNFILE.LN_INSFINCHG_9, 
          LNFILE.LN_INSFINCHG_10, 
          LNFILE.LN_ANTICERN_1,
          LNFILE.LN_ANTICERN_2,
          LNFILE.LN_ANTICERN_3,
          LNFILE.LN_ANTICERN_4,
          LNFILE.LN_ANTICERN_5,
          LNFILE.LN_ANTICERN_6,
          LNFILE.LN_ANTICERN_7,
          LNFILE.LN_ANTICERN_8,
          LNFILE.LN_ANTICERN_9,
          LNFILE.LN_ANTICERN_10,
          LNFILE.LN_TOTNODEF,
          LNFILE.LN_CREDITLIM,
          LNFILE.LN_SUM_ORGTERM,
          LNFILE.LN_UNITPER_CD,
          LNFILE.LN_UNITPER_FREQ,
          ISNULL(LTCFILE.LTC_BRNO, 0),
          ISNULL(LTCFILE.LTC_ACCTNO, 0),
          ISNULL(LTCFILE.LTC_SEQNO, 0), 
          ISNULL(LTCFILE.LTC_DESC_1,'%'),
          ISNULL(LTCFILE.LTC_MAKE_1,' '),
          ISNULL(LTCFILE.LTC_MODEL_1,' '),
          ISNULL(LTCFILE.LTC_YEAR_1,' '),
          ISNULL(LTCFILE.LTC_STYLE_1,' '),
          ISNULL(LTCFILE.LTC_CLASS_1,' '),
          ISNULL(LTCFILE.LTC_VIN_1,' '),
          ISNULL(LTCFILE.LTC_TITLE_NO_1,' '),
          ISNULL(LTCFILE.LTC_MILEAGE_1, 0),
          ISNULL(LTCFILE.LTC_VALUE_1, 0),
          ISNULL(LTCFILE.LTC_SELLPR_1, 0),
          ISNULL(LTCFILE.LTC_MISC_AMT_1, 0),
          ISNULL(LTCFILE.LTC_SENT_FLAG_1,' '),
          ISNULL(CAST(LTCFILE.LTC_VIN_CHG_DATE_1
                                    AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTCFILE.LTC_DESC_2,' '),
          ISNULL(LTCFILE.LTC_MAKE_2,' '),
          ISNULL(LTCFILE.LTC_MODEL_2,' '),
          ISNULL(LTCFILE.LTC_YEAR_2,' '),
          ISNULL(LTCFILE.LTC_STYLE_2,' '),
          ISNULL(LTCFILE.LTC_CLASS_2,' '),
          ISNULL(LTCFILE.LTC_VIN_2,' '),
          ISNULL(LTCFILE.LTC_TITLE_NO_2,' '),
          ISNULL(LTCFILE.LTC_MILEAGE_2, 0),
          ISNULL(LTCFILE.LTC_VALUE_2, 0),
          ISNULL(LTCFILE.LTC_SELLPR_2, 0),
          ISNULL(LTCFILE.LTC_MISC_AMT_2, 0),
          ISNULL(LTCFILE.LTC_SENT_FLAG_2,' '),
          ISNULL(CAST(LTCFILE.LTC_VIN_CHG_DATE_2
                                    AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTCFILE.LTC_DESC_3,' '),
          ISNULL(LTCFILE.LTC_MAKE_3,' '),
          ISNULL(LTCFILE.LTC_MODEL_3,' '),
          ISNULL(LTCFILE.LTC_YEAR_3,' '),
          ISNULL(LTCFILE.LTC_STYLE_3,' '),
          ISNULL(LTCFILE.LTC_CLASS_3,' '),
          ISNULL(LTCFILE.LTC_VIN_3,' '),
          ISNULL(LTCFILE.LTC_TITLE_NO_3,' '),
          ISNULL(LTCFILE.LTC_MILEAGE_3, 0),
          ISNULL(LTCFILE.LTC_VALUE_3, 0),
          ISNULL(LTCFILE.LTC_SELLPR_3, 0),
          ISNULL(LTCFILE.LTC_MISC_AMT_3, 0),
          ISNULL(LTCFILE.LTC_SENT_FLAG_3,' '),
          ISNULL(CAST(LTCFILE.LTC_VIN_CHG_DATE_3
                                    AS VARCHAR(10)),'1900-01-01'),
          ISNULL(SPAFILE.SPA_ORGST,'%'),
          ISNULL(SPAFILE.SPA_SPRCLASS, 0),
          ISNULL(SPAFILE.SPA_SUBCLASS, 0),
          ISNULL(SPAFILE.SPA_LAWCODE, 0),
          ISNULL(SPAFILE.SPA_MFFRMLA, 0),
          ISNULL(SPAFILE.SPA_CAL_CHGABLE_1,' '),
          ISNULL(SPAFILE.SPA_CAL_CHGABLE_2,' ')

     FROM DBO.LNFILE  LNFILE

	 LEFT OUTER JOIN 
          DBO.LTCFILE LTCFILE
       ON (  LTCFILE.LTC_BRNO        = LNFILE.LN_OWNBR	
      AND    LTCFILE.LTC_ACCTNO      = LNFILE.LN_ACCTNO
	  AND    LTCFILE.LTC_SEQNO       = 1 )
 
     LEFT OUTER JOIN
          DBO.SPAFILE SPAFILE
       ON (  SPAFILE.SPA_ORGST        = LNFILE.LN_ORGST
      AND    SPAFILE.SPA_SPRCLASS     = LNFILE.LN_SPRCLASS
      AND    SPAFILE.SPA_SUBCLASS     = LNFILE.LN_SUBCLASS
      AND    SPAFILE.SPA_LAWCODE      = LNFILE.LN_LAWCODE )

    WHERE (  LNFILE.LN_OWNBR         = @QLN3_WBEG_OWNBR
      AND    LNFILE.LN_CLASS   BETWEEN @QLN3_WBEG_CLASS
                                   AND @QLN3_WEND_CLASS  )

      AND (  LNFILE.LN_POCD      NOT IN ('**', '*I', '*R', '*U', 'BT'))
      AND (  LNFILE.LN_ORGST          = 'IL' )
      AND (  LNFILE.LN_CLASS     NOT IN (50, 55) )
      AND (( LNFILE.LN_CONVERCD       = 'Y'
	  AND    LNFILE.LN_ENTDATE  BETWEEN @QWS_BEG_DATE
                                    AND @QWS_END_DATE )
       OR  ( LNFILE.LN_CONVERCD      != 'Y'
	  AND    LNFILE.LN_LOANDATE BETWEEN @QWS_BEG_DATE
                                    AND @QWS_END_DATE ))

    ORDER BY LNFILE.LN_OWNBR,
             LNFILE.LN_CLASS,
             LNFILE.LN_ACCTNO; 
             
END
GO
