USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_ICUNR3_LPFILE_SELECT_NG]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_ICUNR3_LPFILE_SELECT_NG           */
/*               PROGRAM NAME: CL/ICUNR3.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 09/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LPFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_ICUNR3_LPFILE_SELECT_NG]
    @QLP1_WEND_BRNO    AS INT,
    @QLP1_WEND_ACCT    AS INT,
    @QLP1_WEND_SEQ     AS INT
	
 AS
BEGIN
	SET NOCOUNT ON;
	 		   
--DECLARE @QLP1_WEND_BRNO   INT
--DECLARE @QLP1_WEND_ACCT   INT
--DECLARE @QLP1_WENDG_SEQ   INT 

--SET @QLP1_WEND_BRNOR   =  10
--SET @QLP1_WEND_ACCT    =  4
--SET @QLP1_WEND_SEQ     =  99999

            SELECT LPFILE.LP_BRNO,
                   LPFILE.LP_ACCTNO,
                   LPFILE.LP_SEQNO,
                   CAST(LPFILE.LP_TRDATE AS VARCHAR(10)),
                   CAST(LPFILE.LP_PAYDATE AS VARCHAR(10)), 
                   LPFILE.LP_TRCD, 
                   LPFILE.LP_REFNO, 
                   LPFILE.LP_TRAMT,
                   LPFILE.LP_APINT,
                   LPFILE.LP_APCUR,
                   LPFILE.LP_SSNO,
                   LPFILE.LP_LT_SEQNO,
                   LPFILE.LP_REV
            FROM DBO.LPFILE
            WHERE LPFILE.LP_BRNO    = @QLP1_WEND_BRNO
              AND LPFILE.LP_ACCTNO  = @QLP1_WEND_ACCT
              AND LPFILE.LP_SEQNO  <= @QLP1_WEND_SEQ
            ORDER BY LPFILE.LP_SEQNO  DESC

END 
GO
