USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_SETNON_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_SETNON_LNFILE_SELECT              */
/*               PROGRAM NAME: SP/SETNON.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 11/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE BRFILE                                           */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_SETNON_LNFILE_SELECT]
    @BRANCHLIST         AS VARCHAR(7500)
    
 AS
BEGIN
	SET NOCOUNT ON;
	 		   
--DECLARE @BRANCHLIST   VARCHAR(7500)

--SET @BRANCHLIST = ' 0010'

CREATE TABLE #TEMP1_BRANCH_GROUP_TBL
   ( SEQ int IDENTITY(1,1),
     BRNO int ); 

INSERT INTO #TEMP1_BRANCH_GROUP_TBL (BRNO)
SELECT P.VALUE FROM string_Split(@BRANCHLIST, ',') P;

      SELECT BRFILE.BR_NO,
             BRFILE.BR_DATA_PATH, 
             BRFILE.BR_MACHINE, 
	         LNFILE.LN_OWNBR,
             LNFILE.LN_ACCTNO,
             LNFILE.LN_STATUSFG, 
             LNFILE.LN_STATFLAGS, 
             CAST(LNFILE.LN_PLDATE  AS VARCHAR(10)), 
             CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)), 
             LNFILE.LN_ERNDELQ_STOP
		   
     FROM #TEMP1_BRANCH_GROUP_TBL T1
	 
	 INNER JOIN DBO.BRFILE BRFILE
	   ON BRFILE.BR_NO = T1.BRNO

	 INNER JOIN DBO.LNFILE LNFILE
	   ON LNFILE.LN_OWNBR = BRFILE.BR_NO
	
	 WHERE LNFILE.LN_POFFDATE = '1900-01-01'
      AND LNFILE.LN_PLDATE    = '1900-01-01'
      AND LNFILE.LN_STATFLAGS NOT LIKE '%N%'
      AND LNFILE.LN_ERNDELQ_STOP = 'C'
	
    ORDER BY T1.SEQ, LNFILE.LN_ACCTNO
	       
END 
GO
