USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_CPCORP_LPFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_CPCORP_LPFILE_SELECT              */
/*               PROGRAM NAME: LP/CPCORP.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 03/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LPFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_CPCORP_LPFILE_SELECT]
	@QLP1_WBEG_BRNO   AS INT,
    @QLP1_WBEG_ACCTNO AS INT
	
 AS
BEGIN
	SET NOCOUNT ON;
	 		   
--DECLARE QLP1_WBEG_BRNO    INT
--DECLARE @QLP1_WBEG_ACCTNO INT 

--SET @QLP1_WBEG_BRNO   =  1504
--SET @QLP1_WBEG_ACCTNO =  226

            SELECT TOP 4 LPFILE.LP_BRNO,
                   LPFILE.LP_ACCTNO,
                   LPFILE.LP_SEQNO,
                   CAST(LPFILE.LP_TRDATE AS VARCHAR(10)), 
                   CAST(LPFILE.LP_PAYDATE AS VARCHAR(10)), 
                   LPFILE.LP_TRCD, 
                   LPFILE.LP_REFNO, 
                   LPFILE.LP_TRAMT,
                   LPFILE.LP_APOTH,
                   LPFILE.LP_APINT,
                   LPFILE.LP_APLC,
                   LPFILE.LP_APCUR,
                   LPFILE.LP_OTHBAL,
                   LPFILE.LP_OT2BAL,
                   LPFILE.LP_INTBAL,
                   LPFILE.LP_LCBAL,
                   LPFILE.LP_CURBAL,
                   LPFILE.LP_INTDUE,
                   CAST(LPFILE.LP_PDTH_DATE AS VARCHAR(10)), 
                   LPFILE.LP_APINTOWE,
                   LPFILE.LP_REV, 
                   LPFILE.LP_REVSEQNO,
                   LPFILE.LP_NEWSTAT_RATE,
                   LPFILE.LP_LCPARTIALS

            FROM DBO.LPFILE
            WHERE LPFILE.LP_BRNO   = @QLP1_WBEG_BRNO
              AND LPFILE.LP_ACCTNO = @QLP1_WBEG_ACCTNO
            ORDER BY LPFILE.LP_SEQNO DESC

END 
GO
