USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BNKLG2_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_BNKLG2_LNFILE_SELECT              */
/*               PROGRAM NAME: LP/BNKLG2.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE, BWFILE                                          */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_BNKLG2_LNFILE_SELECT]
    @QLN1_WBEG_OWNBR      AS INT, 
	@QWS_BEG_CLASS        AS INT,
	@QWS_END_CLASS        AS INT,  
    @QWS_INCLUDE_BANKRUPT AS CHAR(1), 
 	@QWS_INCLUDE_LEGAL    AS CHAR(1)

AS
BEGIN
  SET NOCOUNT ON;

--DECLARE @QLN1_WBEG_OWNBR      INT
--DECLARE @QWS_BEG_CLASS        INT
--DECLARE @QWS_END_CLASS        INT
--DECLARE @QWS_INCLUDE_BANKRUPT CHAR(1)
--DECLARE @QWS_INCLUDE_LEGAL    CHAR(1)

--SET     @QLN1_WBEG_OWNBR     = 0010   
--SET     @QWS_BEG_CLASS       = 00   
--SET     @QWS_END_CLASS       = 99
--SET     @QWS_INCLUDE_BANKRUPT = 'Y' 
--SET     @QWS_INCLUDE_LEGAL    = 'Y' 
 
   SELECT LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_SUBCLASS,
          LNFILE.LN_LAWCODE,
          LNFILE.LN_SSNO1,
          LNFILE.LN_MAKERCD1,
          LNFILE.LN_SSNO2,
          LNFILE.LN_MAKERCD2,
          LNFILE.LN_SSNO3,
          LNFILE.LN_MAKERCD3,
          LNFILE.LN_SSNO4,
          LNFILE.LN_MAKERCD4,
          LNFILE.LN_ORGST,
          LNFILE.LN_SPRCLASS,
          LNFILE.LN_POCD, 
          LNFILE.LN_PLCD, 
          LNFILE.LN_PAY_SCHLD_FG, 
          LNFILE.LN_STATFLAGS, 							    
          CAST(LNFILE.LN_LOANDATE       AS VARCHAR(10)), 
          CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)), 
          CAST(LNFILE.LN_1STPYDATE      AS VARCHAR(10)), 
          CAST(LNFILE.LN_LEGALDATE      AS VARCHAR(10)), 
          CAST(LNFILE.LN_BNKRPTDATE     AS VARCHAR(10)),  
          LNFILE.LN_ORGTERM,
          LNFILE.LN_1STPYAMT,
          LNFILE.LN_NOREGPY,
          LNFILE.LN_REGPYAMT,
          LNFILE.LN_LASTPYAMT,
          LNFILE.LN_PY_YYYYMM_RECDEL,
          LNFILE.LN_MTD_PAYS_RECDEL,
          LNFILE.LN_CURBAL,
          LNFILE.LN_INTBAL,
          LNFILE.LN_LCBAL,
          LNFILE.LN_OTHBAL,
          LNFILE.LN_OT2BAL,
          LNFILE.LN_TOTPAYMNTD,
          LNFILE.LN_TOTNODEF,
          LNFILE.LN_TOTNOALDEL,
          CAST(LNFILE.LN_DATE_PAID_LAST  AS VARCHAR(10)),
          LNFILE.LN_SUM_ORGTERM,
          LNFILE.LN_UNITPER_CD,
          LNFILE.LN_UNITPER_FREQ,
          LNFILE.LN_BNKRPT_CHAPTER,	
		  ISNULL(BWFILE.BW_OWNBR, 0), 
          ISNULL(BWFILE.BW_SSNO, 0), 
          ISNULL(BWFILE.BW_LNAME,' '),
          ISNULL(BWFILE.BW_FNAME,' '),
          ISNULL(BWFILE.BW_SOLICIT,' ')
     FROM DBO.LNFILE   LNFILE

     LEFT OUTER JOIN
          DBO.BWFILE   BWFILE
       ON (  LNFILE.LN_OWNBR           = BWFILE.BW_OWNBR
      AND    LNFILE.LN_SSNO1           = BWFILE.BW_SSNO ) 

    WHERE (  LNFILE.LN_OWNBR        = @QLN1_WBEG_OWNBR
      AND    LNFILE.LN_CLASS  BETWEEN @QWS_BEG_CLASS
                                  AND @QWS_END_CLASS ) 

      AND (  LNFILE.LN_BNKRPTDATE  != '1900-01-01' 
       OR    LNFILE.LN_LEGALDATE   != '1900-01-01' )

	  AND (  LNFILE.LN_POCD    NOT IN ('**', '*I', '*R', '*U') )

    ORDER BY LNFILE.LN_OWNBR,
	         CASE WHEN @QWS_INCLUDE_BANKRUPT = 'Y'
				  THEN LNFILE.LN_BNKRPTDATE
	              WHEN @QWS_INCLUDE_LEGAL    = 'Y'
			      THEN LNFILE.LN_LEGALDATE
				  ELSE '1900-01-01'
              END, 
              LNFILE.LN_ACCTNO 
  
END
GO
