USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LTEXTR_LNFILE_LSLTFILE_SELECT]    Script Date: 4/15/2025 9:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LTEXTR_LNFILE_LSLTFILE_SELECT     */
/*               PROGRAM NAME: SP/LTEXTR.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*           (S35Q-197)                                              */
/*                                                                   */
/*   TABLES: LNFILE, LSMFILE, LTBFILE, LTCFILE, LTDFILE (S35Q-197)   */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_LTEXTR_LNFILE_LSLTFILE_SELECT]
  @QLN3_WBEG_OWNBR              AS INT,
  @QLN3_WBEG_CLASS              AS INT,
  @QLN3_WEND_CLASS              AS INT,
  @QWS_ZBAL                     AS CHAR(1),
  @QWS_PL                       AS CHAR(1),
  @QWS_PLACTIVE                 AS CHAR(1),
  @QWS_PLTYPE                   AS CHAR(1),
  @QWS_PL_FROM_DATE             AS DATE,
  @QWS_ZBAL_DATE                AS DATE,
  @QWS_JULIAN_BEG               AS DATE,
  @QWS_TEST_DATE_PAID_LAST      AS DATE


AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN3_WBEG_OWNBR         INT
--DECLARE @QLN3_WBEG_CLASS         INT
--DECLARE @QLN3_WEND_CLASS         INT
--DECLARE @QWS_ZBAL                CHAR(1)
--DECLARE @QWS_PL                  CHAR(1)
--DECLARE @QWS_PLACTIVE            CHAR(1)
--DECLARE @QWS_PLTYPE              CHAR(1)
--DECLARE @QWS_PL_FROM_DATE        DATE
--DECLARE @QWS_ZBAL_DATE           DATE 
--DECLARE @QWS_JULIAN_BEG          DATE
--DECLARE @QWS_TEST_DATE_PAID_LAST DATE

--SET     @QLN3_WBEG_OWNBR         = 410
--SET     @QLN3_WBEG_CLASS         = 000   
--SET     @QLN3_WEND_CLASS         = 999
--SET     @QWS_ZBAL                = 'I' 
--SET     @QWS_PL                  = 'I' 
--SET     @QWS_PLACTIVE            = 'B' 
--SET     @QWS_PLTYPE              = 'A' 
--SET     @QWS_PL_FROM_DATE        = '1970-01-01'
--SET     @QWS_ZBAL_DATE           = '1970-01-01' 
--SET     @QWS_JULIAN_BEG          = '1950-01-01' 
--SET     @QWS_TEST_DATE_PAID_LAST = '1970-01-01'

   SELECT TEMP.LN_OWNBR,
          TEMP.LN_ACCTNO,
          TEMP.LN_CLASS,
          TEMP.LN_PLDATE,
          TEMP.LN_PLCD,
          TEMP.LN_PLTYPE,
          TEMP.LN_DATE_PAID_LAST,
          TEMP.LN_CURBAL,
          TEMP.LN_INTBAL,  
          TEMP.LN_LCBAL,  
          TEMP.LN_OTHBAL,
          TEMP.LN_POFFDATE,
          TEMP.LN_PAY_SCHLD_FG,
          TEMP.LN_ORGST,   
          TEMP.LN_SPRCLASS,
          TEMP.LN_SUBCLASS,
          TEMP.LN_LAWCODE, 
          TEMP.LN_MAKERCD1, 
          ISNULL(LSMFILE.LSM_BRNO, 0),
          ISNULL(LSMFILE.LSM_ACCTNO, 0) AS LSM_ACCTNO,
          ISNULL(LSMFILE.LSM_SEQNO, 0),
          ISNULL(LSMFILE.LSM_MISC_FIELD_1,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_2,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_3,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_4,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_5,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_6,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_7,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_8,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_9,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_10,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_11,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_12,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_13,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_14,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_15,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_16,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_17,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_18,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_19,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_20,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_21,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_22,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_23,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_24,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_25,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_26,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_27,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_28,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_29,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_30,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_31,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_32,''),
          ISNULL(LSMFILE.LSM_TRANS_FROM_BRNO, 0),
          ISNULL(LSMFILE.LSM_TRANS_FROM_ACCTNO, 0),
          ISNULL(CAST(LSMFILE.LSM_TRANS_FROM_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSMFILE.LSM_MISPAY_90_DATE  AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSMFILE.LSM_SECOND_BEN_NAME,''),
          ISNULL(LSMFILE.LSM_SECOND_BEN_ADR,''),
          ISNULL(LSMFILE.LSM_SECOND_BEN_CITY,''),
          ISNULL(LSMFILE.LSM_SECOND_BEN_ST,''),
          ISNULL(LSMFILE.LSM_SECOND_BEN_ZIP,''),
          ISNULL(LSMFILE.LSM_SECOND_BEN_PHONE, 0),
          ISNULL(LSMFILE.LSM_SECOND_BEN_RELATION,''),
          ISNULL(LTBFILE.LTB_BRNO, 0),
          ISNULL(LTBFILE.LTB_ACCTNO, 0) AS LTB_ACCTNO,
          ISNULL(LTBFILE.LTB_SEQNO, 0),
          ISNULL(CAST(LTBFILE.LTB_FILEDATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTBFILE.LTB_CASE_NO,''),
          ISNULL(LTBFILE.LTB_CHAPTER, 0),
          ISNULL(LTBFILE.LTB_MISC1,''),
          ISNULL(LTBFILE.LTB_MISC2,''),
          ISNULL(LTBFILE.LTB_MISC3,''),
          ISNULL(CAST(LTBFILE.LTB_BDDATE   
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTBFILE.LTB_WHO_FILED,''),
          ISNULL(LTBFILE.LTB_ENDORSER_FILED,''),
          ISNULL(LTBFILE.LTB_CLAIM_AMT, 0),
          ISNULL(LTBFILE.LTB_ACTIVE_INACTIVE,''),
          ISNULL(LTBFILE.LTB_INT_LC_DUE, 0),
          ISNULL(LTBFILE.LTB_OTH_DUE, 0),
          ISNULL(LTBFILE.LTB_TDUEAMT, 0),
          ISNULL(LTBFILE.LTB_NAME_1,''),
          ISNULL(LTBFILE.LTB_NAME_2,''),
          ISNULL(LTBFILE.LTB_NAME_3,''),
          ISNULL(LTBFILE.LTB_ADR1_1,''),
          ISNULL(LTBFILE.LTB_ADR1_2,''),
          ISNULL(LTBFILE.LTB_ADR1_3,''),
          ISNULL(LTBFILE.LTB_ADR2_1,''),
          ISNULL(LTBFILE.LTB_ADR2_2,''),
          ISNULL(LTBFILE.LTB_ADR2_3,''),
          ISNULL(LTBFILE.LTB_CITY_1,''),
          ISNULL(LTBFILE.LTB_CITY_2,''),
          ISNULL(LTBFILE.LTB_CITY_3,''),
          ISNULL(LTBFILE.LTB_STATE_1,''),
          ISNULL(LTBFILE.LTB_STATE_2,''),
          ISNULL(LTBFILE.LTB_STATE_3,''),
          ISNULL(LTBFILE.LTB_ZIP_1,''),
          ISNULL(LTBFILE.LTB_ZIP_2,''),
          ISNULL(LTBFILE.LTB_ZIP_3,''),
          ISNULL(LTBFILE.LTB_PHONE_1, 0),
          ISNULL(LTBFILE.LTB_PHONE_2, 0),
          ISNULL(LTBFILE.LTB_PHONE_3, 0),
          ISNULL(CAST(LTBFILE.LTB_REAFF_DATE     
                                  AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LTBFILE.LTB_REAFF_SYSDATE  
                                  AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTBFILE.LTB_REAFF_BALANCE, 0),
          ISNULL(LTBFILE.LTB_REAFF_PAYAMT, 0),
          ISNULL(LTBFILE.LTB_REAFF_NO_PAYS, 0),
          ISNULL(LTBFILE.LTB_INTRATE, 0),
          ISNULL(CAST(LTBFILE.LTB_RESCIND_DATE   
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTBFILE.LTB_PARTIAL_FULL,''),
          ISNULL(CAST(LTBFILE.LTB_DISCHARGE_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LTBFILE.LTB_DISCHARGE_SYSDATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTCFILE.LTC_BRNO, 0),
          ISNULL(LTCFILE.LTC_ACCTNO, 0) AS LTC_ACCTNO,
          ISNULL(LTCFILE.LTC_SEQNO, 0),
          ISNULL(LTCFILE.LTC_DESC_1,''),
          ISNULL(LTCFILE.LTC_MAKE_1,''),
          ISNULL(LTCFILE.LTC_MODEL_1,''),
          ISNULL(LTCFILE.LTC_YEAR_1,''),
          ISNULL(LTCFILE.LTC_STYLE_1,''),
          ISNULL(LTCFILE.LTC_CLASS_1,''),
          ISNULL(LTCFILE.LTC_VIN_1,''),
          ISNULL(LTCFILE.LTC_TITLE_NO_1,''),
          ISNULL(LTCFILE.LTC_MILEAGE_1, 0),
          ISNULL(LTCFILE.LTC_VALUE_1, 0),
          ISNULL(LTCFILE.LTC_SELLPR_1, 0),
          ISNULL(LTCFILE.LTC_MISC_AMT_1, 0),
          ISNULL(LTCFILE.LTC_SENT_FLAG_1,''),
          ISNULL(CAST(LTCFILE.LTC_VIN_CHG_DATE_1
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTCFILE.LTC_DESC_2,''),
          ISNULL(LTCFILE.LTC_MAKE_2,''),
          ISNULL(LTCFILE.LTC_MODEL_2,''),
          ISNULL(LTCFILE.LTC_YEAR_2,''),
          ISNULL(LTCFILE.LTC_STYLE_2,''),
          ISNULL(LTCFILE.LTC_CLASS_2,''),
          ISNULL(LTCFILE.LTC_VIN_2,''),
          ISNULL(LTCFILE.LTC_TITLE_NO_2,''),
          ISNULL(LTCFILE.LTC_MILEAGE_2, 0),
          ISNULL(LTCFILE.LTC_VALUE_2, 0),
          ISNULL(LTCFILE.LTC_SELLPR_2, 0),
          ISNULL(LTCFILE.LTC_MISC_AMT_2, 0),
          ISNULL(LTCFILE.LTC_SENT_FLAG_2,''),
          ISNULL(CAST(LTCFILE.LTC_VIN_CHG_DATE_2
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTCFILE.LTC_DESC_3,''),
          ISNULL(LTCFILE.LTC_MAKE_3,''),
          ISNULL(LTCFILE.LTC_MODEL_3,''),
          ISNULL(LTCFILE.LTC_YEAR_3,''),
          ISNULL(LTCFILE.LTC_STYLE_3,''),
          ISNULL(LTCFILE.LTC_CLASS_3,''),
          ISNULL(LTCFILE.LTC_VIN_3,''),
          ISNULL(LTCFILE.LTC_TITLE_NO_3,''),
          ISNULL(LTCFILE.LTC_MILEAGE_3, 0),
          ISNULL(LTCFILE.LTC_VALUE_3, 0),
          ISNULL(LTCFILE.LTC_SELLPR_3, 0),
          ISNULL(LTCFILE.LTC_MISC_AMT_3, 0),
          ISNULL(LTCFILE.LTC_SENT_FLAG_3,''),
          ISNULL(CAST(LTCFILE.LTC_VIN_CHG_DATE_3
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTCFILE.LTC_HHGS_1,''),
          ISNULL(LTCFILE.LTC_HHGS_2,''),
          ISNULL(LTCFILE.LTC_HHGS_3,''),
          ISNULL(LTDFILE.LTD_BRNO, 0),
          ISNULL(LTDFILE.LTD_ACCTNO, 0) AS LTD_ACCTNO,
          ISNULL(LTDFILE.LTD_SEQNO, 0),
          ISNULL(LTDFILE.LTD_DEBIT_CARD_NUMBER, 0),
          ISNULL(LTDFILE.LTD_DEBIT_CARD_AMT, 0),
          ISNULL(CAST(LTDFILE.LTD_LOANDATE     
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LTDFILE.LTD_VOID_DATE    
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LTDFILE.LTD_CLEARED_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTDFILE.LTD_CLEARED_AMT, 0) 

     FROM

  (SELECT LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_PLDATE,
          LNFILE.LN_PLCD,
          LNFILE.LN_PLTYPE,
          LNFILE.LN_DATE_PAID_LAST,
          LNFILE.LN_CURBAL,
          LNFILE.LN_INTBAL,  
          LNFILE.LN_LCBAL,  
          LNFILE.LN_OTHBAL,
          LNFILE.LN_POFFDATE,
          LNFILE.LN_PAY_SCHLD_FG,
          LNFILE.LN_ORGST,   
          LNFILE.LN_SPRCLASS,
          LNFILE.LN_SUBCLASS,
          LNFILE.LN_LAWCODE, 
          LNFILE.LN_MAKERCD1, 
          CASE WHEN @QWS_PL           = 'O'
                AND LNFILE.LN_PLDATE  = '1900-01-01'
               THEN 'N'
      		   WHEN @QWS_PL           = 'S'
                AND LNFILE.LN_PLDATE != '1900-01-01'
               THEN 'N' 
               WHEN LNFILE.LN_PLDATE != '1900-01-01'
                AND @QWS_PLACTIVE     = 'A'
                AND LNFILE.LN_PLCD   != 'P'
               THEN 'N' 
               WHEN LNFILE.LN_PLDATE != '1900-01-01'
                AND @QWS_PLACTIVE     = 'I'
                AND LNFILE.LN_PLCD   != 'I'
                AND LNFILE.LN_PLCD   != 'W'
               THEN 'N'    
               WHEN LNFILE.LN_PLDATE != '1900-01-01'
                AND @QWS_PLTYPE      != 'A'
                AND LNFILE.LN_PLTYPE != @QWS_PLTYPE
               THEN 'N'
               WHEN LNFILE.LN_PLDATE != '1900-01-01'
                AND LNFILE.LN_PLDATE  < @QWS_PL_FROM_DATE
                AND LNFILE.LN_DATE_PAID_LAST 
                                      = '1900-01-01'
               THEN 'N'
               WHEN LNFILE.LN_PLDATE != '1900-01-01'
                AND LNFILE.LN_PLDATE  < @QWS_PL_FROM_DATE
                AND LNFILE.LN_DATE_PAID_LAST 
                                      < @QWS_TEST_DATE_PAID_LAST
               THEN 'N'
               WHEN @QWS_ZBAL         = 'O'
               AND (LNFILE.LN_CURBAL != 0 
                 OR LNFILE.LN_INTBAL != 0 
                 OR LNFILE.LN_LCBAL  != 0 
                 OR LNFILE.LN_OTHBAL != 0 )
               THEN 'N'
               WHEN @QWS_ZBAL         = 'S'
               AND (LNFILE.LN_CURBAL  = 0 
               AND  LNFILE.LN_INTBAL  = 0 
               AND  LNFILE.LN_LCBAL   = 0 
               AND  LNFILE.LN_OTHBAL  = 0 )
               THEN 'N'
               WHEN LNFILE.LN_POFFDATE != '1900-01-01'
                AND @QWS_ZBAL_DATE     != @QWS_JULIAN_BEG
                AND LNFILE.LN_POFFDATE < @QWS_ZBAL_DATE
               THEN 'N'
               ELSE 'Y'
           END  AS USE_SW     

     FROM DBO.LNFILE  LNFILE

    WHERE    LNFILE.LN_OWNBR            = @QLN3_WBEG_OWNBR
      AND    LNFILE.LN_CLASS      BETWEEN @QLN3_WBEG_CLASS
                                      AND @QLN3_WEND_CLASS) TEMP 

     LEFT OUTER JOIN
            DBO.LSMFILE  LSMFILE
       ON (  TEMP.LN_OWNBR            = LSMFILE.LSM_BRNO   
      AND    TEMP.LN_ACCTNO           = LSMFILE.LSM_ACCTNO
      AND    LSMFILE.LSM_SEQNO          = 1 )

     LEFT OUTER JOIN
            DBO.LTBFILE  LTBFILE
       ON (  TEMP.LN_OWNBR            = LTBFILE.LTB_BRNO   
      AND    TEMP.LN_ACCTNO           = LTBFILE.LTB_ACCTNO
      AND    LTBFILE.LTB_SEQNO        = 1 ) 

     LEFT OUTER JOIN
            DBO.LTCFILE  LTCFILE
       ON (  TEMP.LN_OWNBR            = LTCFILE.LTC_BRNO   
      AND    TEMP.LN_ACCTNO           = LTCFILE.LTC_ACCTNO
      AND    LTCFILE.LTC_SEQNO        = 1 ) 

     LEFT OUTER JOIN
            DBO.LTDFILE  LTDFILE
       ON (  TEMP.LN_OWNBR            = LTDFILE.LTD_BRNO   
      AND    TEMP.LN_ACCTNO           = LTDFILE.LTD_ACCTNO
      AND    LTDFILE.LTD_SEQNO        = 1 ) 

    WHERE (( TEMP.USE_SW = 'Y' )
      AND  ( LSM_ACCTNO != 0
       OR    LTB_ACCTNO != 0 
       OR    LTC_ACCTNO != 0 
       OR    LTD_ACCTNO != 0 ))

    ORDER BY TEMP.LN_OWNBR,
             TEMP.LN_CLASS,
             TEMP.LN_ACCTNO;
             
END
GO
