USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_SSUPD_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_SSUPD_LNFILE_SELECT               */
/*               PROGRAM NAME: LP/SSUPD.CBL                          */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE, BWFILE                                          */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_SSUPD_LNFILE_SELECT]
    @QLN3_WBEG_OWNBR            AS INT,
	@QLN3_WBEG_CLASS            AS INT,
	@QLN3_WEND_CLASS            AS INT,
    @QWS_MONTH_END_DATE_YYYYMM  AS INT,
	@QWS_MONTH_END_DATE         AS DATE
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN3_WBEG_OWNBR           INT
--DECLARE @QLN3_WBEG_CLASS           INT
--DECLARE @QLN3_WEND_CLASS           INT
--DECLARE @QWS_MONTH_END_DATE_YYYYMM INT
--DECLARE @QWS_MONTH_END_DATE        DATE       
 
--SET     @QLN3_WBEG_OWNBR           = 408
--SET     @QLN3_WBEG_CLASS           = 000   
--SET     @QLN3_WEND_CLASS           = 999
--SET     @QWS_MONTH_END_DATE_YYYYMM = 201912  
--SET     @QWS_MONTH_END_DATE        = '2023-03-31'      

DROP TABLE IF EXISTS #TEMP_SSUPD_LNFILE;

   SELECT TEMP.LN_OWNBR,
          TEMP.LN_ACCTNO,
          TEMP.LN_CLASS,
          TEMP.LN_SSNO1,
          TEMP.LN_MAKERCD1,
          TEMP.LN_SSNO2,
          TEMP.LN_MAKERCD2,
          TEMP.LN_SSNO3,
          TEMP.LN_MAKERCD3,
          TEMP.LN_SSNO4,
          TEMP.LN_MAKERCD4,
          TEMP.LN_POCD,
          TEMP.LN_PLTYPE,
          TEMP.LN_ENTDATE,  
          TEMP.LN_LOANDATE,  
          TEMP.LN_PLDATE,    
          TEMP.LN_POFFDATE,  
          TEMP.LN_MONTHEND_BAL,
          TEMP.LN_BR_TFR_FG,
          TEMP.LN_PLAMT,
          TEMP.LN_BMO_CON_STATUS, 
          TEMP.BW_OWNBR, 
          TEMP.BW_SSNO,  
          TEMP.BW_CREDIT_SCORE,  
          TEMP.BW_BNKRPT_SCORE_1, 
          TEMP.BW_BNKRPT_SCORE_2, 
          TEMP.BW_BNKRPT_SCORE_3, 
          TEMP.BW_BNKRPT_SCORE_4 

     INTO #TEMP_SSUPD_LNFILE

     FROM

  (SELECT LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_SSNO1,
          LNFILE.LN_MAKERCD1,
          LNFILE.LN_SSNO2,
          LNFILE.LN_MAKERCD2,
          LNFILE.LN_SSNO3,
          LNFILE.LN_MAKERCD3,
          LNFILE.LN_SSNO4,
          LNFILE.LN_MAKERCD4,
          LNFILE.LN_POCD,
          LNFILE.LN_PLTYPE,
          CAST(LNFILE.LN_ENTDATE  AS VARCHAR(10)) AS LN_ENTDATE , 
          CAST(LNFILE.LN_LOANDATE AS VARCHAR(10)) AS LN_LOANDATE, 
          CAST(LNFILE.LN_PLDATE   AS VARCHAR(10)) AS LN_PLDATE , 
          CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)) AS LN_POFFDATE, 
          LNFILE.LN_MONTHEND_BAL,
          LNFILE.LN_BR_TFR_FG,
          LNFILE.LN_PLAMT,
          LNFILE.LN_BMO_CON_STATUS, 
          ISNULL(BWFILE.BW_OWNBR, 0)             AS BW_OWNBR,
          ISNULL(BWFILE.BW_SSNO, 0)              AS BW_SSNO,
          ISNULL(BWFILE.BW_CREDIT_SCORE, 0)      AS BW_CREDIT_SCORE,
          ISNULL(BWFILE.BW_BNKRPT_SCORE_1, 0)    AS BW_BNKRPT_SCORE_1,
          ISNULL(BWFILE.BW_BNKRPT_SCORE_2, 0)    AS BW_BNKRPT_SCORE_2,
          ISNULL(BWFILE.BW_BNKRPT_SCORE_3, 0)    AS BW_BNKRPT_SCORE_3,
          ISNULL(BWFILE.BW_BNKRPT_SCORE_4, 0)    AS BW_BNKRPT_SCORE_4

     FROM DBO.LNFILE  LNFILE

     LEFT OUTER JOIN 
          DBO.BWFILE  BWFILE 
       ON (  LNFILE.LN_OWNBR         = BWFILE.BW_OWNBR  
      AND    LNFILE.LN_SSNO1         = BWFILE.BW_SSNO  )

    WHERE (( LNFILE.LN_OWNBR         = @QLN3_WBEG_OWNBR
      AND    LNFILE.LN_CLASS   BETWEEN @QLN3_WBEG_CLASS
                                   AND @QLN3_WEND_CLASS )
      AND (  LNFILE.LN_POCD         != '**'
	   OR  ( LNFILE.LN_POCD          = '**'           
      AND    LNFILE.LN_ENTDATE      <= @QWS_MONTH_END_DATE 
	  AND    LNFILE.LN_POFFDATE      > @QWS_MONTH_END_DATE ))
      AND (  LNFILE.LN_LOANDATE     <= @QWS_MONTH_END_DATE )
      AND (  LNFILE.LN_MONTHEND_BAL != 0 ))) TEMP;

   SELECT #TEMP_SSUPD_LNFILE.LN_OWNBR,
          #TEMP_SSUPD_LNFILE.LN_ACCTNO,
          #TEMP_SSUPD_LNFILE.LN_CLASS,
          #TEMP_SSUPD_LNFILE.LN_SSNO1,
          #TEMP_SSUPD_LNFILE.LN_MAKERCD1,
          #TEMP_SSUPD_LNFILE.LN_SSNO2,
          #TEMP_SSUPD_LNFILE.LN_MAKERCD2,
          #TEMP_SSUPD_LNFILE.LN_SSNO3,
          #TEMP_SSUPD_LNFILE.LN_MAKERCD3,
          #TEMP_SSUPD_LNFILE.LN_SSNO4,
          #TEMP_SSUPD_LNFILE.LN_MAKERCD4,
          #TEMP_SSUPD_LNFILE.LN_POCD,
          #TEMP_SSUPD_LNFILE.LN_PLTYPE,
          #TEMP_SSUPD_LNFILE.LN_ENTDATE,  
          #TEMP_SSUPD_LNFILE.LN_LOANDATE,  
          #TEMP_SSUPD_LNFILE.LN_PLDATE,    
          #TEMP_SSUPD_LNFILE.LN_POFFDATE,  
          #TEMP_SSUPD_LNFILE.LN_MONTHEND_BAL,
          #TEMP_SSUPD_LNFILE.LN_BR_TFR_FG,
          #TEMP_SSUPD_LNFILE.LN_PLAMT,
          #TEMP_SSUPD_LNFILE.LN_BMO_CON_STATUS, 
          #TEMP_SSUPD_LNFILE.BW_OWNBR, 
          #TEMP_SSUPD_LNFILE.BW_SSNO,  
          #TEMP_SSUPD_LNFILE.BW_CREDIT_SCORE,  
          #TEMP_SSUPD_LNFILE.BW_BNKRPT_SCORE_1, 
          #TEMP_SSUPD_LNFILE.BW_BNKRPT_SCORE_2, 
          #TEMP_SSUPD_LNFILE.BW_BNKRPT_SCORE_3, 
          #TEMP_SSUPD_LNFILE.BW_BNKRPT_SCORE_4 

     FROM #TEMP_SSUPD_LNFILE

    ORDER BY #TEMP_SSUPD_LNFILE.LN_OWNBR,
             #TEMP_SSUPD_LNFILE.LN_CLASS,
             #TEMP_SSUPD_LNFILE.LN_ACCTNO; 

DROP TABLE IF EXISTS #TEMP_SSUPD_LNFILE;

END
GO
