USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_TXMOR2_TRLFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_TXMOR2_TRLFILE_SELECT             */
/*               PROGRAM NAME: LP/TXMOR2.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 06/24/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRLFILE, LNFILE                                         */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/  

CREATE PROCEDURE [dbo].[SSP_TXMOR2_TRLFILE_SELECT]
    @QTRL1_WBEG_BRNO    AS INT,
    @QTRL1_WBEG_DATE    AS DATE,
    @QTRL1_WEND_DATE    AS DATE,
    @QTRL1_WBEG_CLASS   AS INT,
    @QTRL1_WEND_CLASS   AS INT, 
    @QWS_BEG_ST	        AS CHAR(2),
    @QWS_END_ST	        AS CHAR(2)


 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRL1_WBEG_BRNO    INT
--DECLARE @QTRL1_WBEG_DATE    DATE
--DECLARE @QTRL1_WEND_DATE    DATE
--DECLARE @QTRL1_WBEG_CLASS   INT
--DECLARE @QTRL1_WEND_CLASS   INT
--DECLARE @QWS_BEG_ST         CHAR(2)
--DECLARE @QWS_END_ST         CHAR(2)
 
--SET @QTRL1_WBEG_BRNO    =  1428
--SET @QTRL1_WBEG_DATE    =  '2021-01-01'
--SET @QTRL1_WEND_DATE    =  '2021-12-31'
--SET @QTRL1_WBEG_CLASS   =  000
--SET @QTRL1_WEND_CLASS   =  999
--SET @QWS_BEG_ST         =  '  ' 
--SET @QWS_END_ST         =  'ZZ' 

   SELECT TRLFILE.TL_BRNO,
          CAST(TRLFILE.TL_DATE AS VARCHAR(10)), 
          TRLFILE.TL_CLASS,
          TRLFILE.TL_ACCTNO,
          TRLFILE.TL_LAWCODE,
          TRLFILE.TL_LINE,
          TRLFILE.TL_FEECODE_1, 
          TRLFILE.TL_FEECODE_2, 
          TRLFILE.TL_FEECODE_3, 
          TRLFILE.TL_FEECODE_4, 
          TRLFILE.TL_FEECODE_5, 
          TRLFILE.TL_FEECODE_6, 
          TRLFILE.TL_FEECODE_7, 
          TRLFILE.TL_FEECODE_8, 
          TRLFILE.TL_FEECODE_9, 
          TRLFILE.TL_FEECODE_10, 
          TRLFILE.TL_FEECODE_11, 
          TRLFILE.TL_FEECODE_12, 
          TRLFILE.TL_FEECODE_13, 
          TRLFILE.TL_FEECODE_14, 
          TRLFILE.TL_FEECODE_15, 
          TRLFILE.TL_FEECODE_16, 
          TRLFILE.TL_FEECODE_17, 
          TRLFILE.TL_FEECODE_18, 
          TRLFILE.TL_FEECODE_19, 
          TRLFILE.TL_FEECODE_20, 
          TRLFILE.TL_FEEAMT_1,
          TRLFILE.TL_FEEAMT_2,
          TRLFILE.TL_FEEAMT_3,
          TRLFILE.TL_FEEAMT_4,
          TRLFILE.TL_FEEAMT_5,
          TRLFILE.TL_FEEAMT_6,
          TRLFILE.TL_FEEAMT_7,
          TRLFILE.TL_FEEAMT_8,
          TRLFILE.TL_FEEAMT_9,
          TRLFILE.TL_FEEAMT_10,
          TRLFILE.TL_FEEAMT_11,
          TRLFILE.TL_FEEAMT_12,
          TRLFILE.TL_FEEAMT_13,
          TRLFILE.TL_FEEAMT_14,
          TRLFILE.TL_FEEAMT_15,
          TRLFILE.TL_FEEAMT_16,
          TRLFILE.TL_FEEAMT_17,
          TRLFILE.TL_FEEAMT_18,
          TRLFILE.TL_FEEAMT_19,
          TRLFILE.TL_FEEAMT_20,
          TRLFILE.TL_INSCOMP_1,
          TRLFILE.TL_INSCOMP_2,
          TRLFILE.TL_INSCOMP_3,
          TRLFILE.TL_INSCOMP_4,
          TRLFILE.TL_INSCOMP_5,
          TRLFILE.TL_INSCOMP_6,
          TRLFILE.TL_INSCOMP_7,
          TRLFILE.TL_INSCOMP_8,
          TRLFILE.TL_INSCOMP_9,
          TRLFILE.TL_INSCOMP_10,
          TRLFILE.TL_INS_TAX_COUNTY_CD, 
          TRLFILE.TL_INS_TAX_CITY_CD,  
          LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_SUBCLASS,
          LNFILE.LN_LAWCODE,
          LNFILE.LN_SSNO1,
          LNFILE.LN_MAKERCD1, 
          LNFILE.LN_SSNO2,
          LNFILE.LN_MAKERCD2,
          LNFILE.LN_SSNO3,
          LNFILE.LN_MAKERCD3, 
          LNFILE.LN_SSNO4,
          LNFILE.LN_MAKERCD4, 
          LNFILE.LN_ORGST, 
          LNFILE.LN_SPRCLASS,
          LNFILE.LN_STATFLAGS, 
          CAST(LNFILE.LN_LOANDATE       AS VARCHAR(10)),
          CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)),
          CAST(LNFILE.LN_1STPYDATE      AS VARCHAR(10)),
          CAST(LNFILE.LN_POFFDATE       AS VARCHAR(10)),
          LNFILE.LN_ORGTERM,
          LNFILE.LN_FEECODE_1, 
          LNFILE.LN_FEECODE_2, 
          LNFILE.LN_FEECODE_3, 
          LNFILE.LN_FEECODE_4, 
          LNFILE.LN_FEECODE_5, 
          LNFILE.LN_FEECODE_6, 
          LNFILE.LN_FEECODE_7, 
          LNFILE.LN_FEECODE_8, 
          LNFILE.LN_FEECODE_9, 
          LNFILE.LN_FEECODE_10, 
          LNFILE.LN_FEECODE_11, 
          LNFILE.LN_FEECODE_12, 
          LNFILE.LN_FEECODE_13, 
          LNFILE.LN_FEECODE_14, 
          LNFILE.LN_FEECODE_15, 
          LNFILE.LN_FEECODE_16, 
          LNFILE.LN_FEECODE_17, 
          LNFILE.LN_FEECODE_18, 
          LNFILE.LN_FEECODE_19, 
          LNFILE.LN_FEECODE_20, 
          LNFILE.LN_FEEAMT_1,
          LNFILE.LN_FEEAMT_2,
          LNFILE.LN_FEEAMT_3,
          LNFILE.LN_FEEAMT_4,
          LNFILE.LN_FEEAMT_5,
          LNFILE.LN_FEEAMT_6,
          LNFILE.LN_FEEAMT_7,
          LNFILE.LN_FEEAMT_8,
          LNFILE.LN_FEEAMT_9,
          LNFILE.LN_FEEAMT_10,
          LNFILE.LN_FEEAMT_11,
          LNFILE.LN_FEEAMT_12,
          LNFILE.LN_FEEAMT_13,
          LNFILE.LN_FEEAMT_14,
          LNFILE.LN_FEEAMT_15,
          LNFILE.LN_FEEAMT_16,
          LNFILE.LN_FEEAMT_17,
          LNFILE.LN_FEEAMT_18,
          LNFILE.LN_FEEAMT_19,
          LNFILE.LN_FEEAMT_20,
          LNFILE.LN_INSURED, 
          LNFILE.LN_INSPREM_1,
          LNFILE.LN_INSPREM_2,
          LNFILE.LN_INSPREM_3,
          LNFILE.LN_INSPREM_4,
          LNFILE.LN_INSPREM_5,
          LNFILE.LN_INSPREM_6,
          LNFILE.LN_INSPREM_7,
          LNFILE.LN_INSPREM_8,
          LNFILE.LN_INSPREM_9,
          LNFILE.LN_INSPREM_10,
          LNFILE.LN_TOTNODEF,
          LNFILE.LN_SUM_ORGTERM,
          LNFILE.LN_UNITPER_CD, 
          LNFILE.LN_UNITPER_FREQ

     FROM DBO.TRLFILE TRLFILE
       INNER JOIN
          DBO.LNFILE  LNFILE
          ON ( LNFILE.LN_OWNBR           = TRLFILE.TL_BRNO
         AND   LNFILE.LN_ACCTNO          = TRLFILE.TL_ACCTNO 
         AND   LNFILE.LN_ORGST     BETWEEN @QWS_BEG_ST 
                                       AND @QWS_END_ST )
       WHERE ( TRLFILE.TL_BRNO           = @QTRL1_WBEG_BRNO   
         AND   TRLFILE.TL_DATE     BETWEEN @QTRL1_WBEG_DATE
                                       AND @QTRL1_WEND_DATE  
         AND   TRLFILE.TL_CLASS    BETWEEN @QTRL1_WBEG_CLASS
                                       AND @QTRL1_WEND_CLASS )

       ORDER BY TRLFILE.TL_BRNO,
                TRLFILE.TL_DATE,
                TRLFILE.TL_CLASS,
                TRLFILE.TL_ACCTNO,
                TRLFILE.TL_LAWCODE,
                TRLFILE.TL_LINE;

END 
GO
