USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_DAILY_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_DAILY_LNFILE_SELECT               */
/*               PROGRAM NAME: LP/DAILY.CBL                          */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_DAILY_LNFILE_SELECT]
    @QLN1_WBEG_OWNBR      AS INT 
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN1_WBEG_OWNBR      INT
--SET     @QLN1_WBEG_OWNBR      = 408
  
DROP TABLE IF EXISTS #TEMP_DAILY_LNFILE;

   SELECT TEMP.LN_OWNBR,
          TEMP.LN_ACCTNO,
          TEMP.LN_CLASS,
          TEMP.LN_SUBCLASS,
          TEMP.LN_LAWCODE,
          TEMP.LN_ORGST, 
          TEMP.LN_SPRCLASS,
          TEMP.LN_CONVERCD, 
          TEMP.LN_POCD, 
          TEMP.LN_PLCD, 
          TEMP.LN_SALEFIN, 
          TEMP.LN_SERVACCT, 
          TEMP.LN_LOANTYPE, 
          TEMP.LN_ADDON_FG, 
          TEMP.LN_PAY_SCHLD_FG, 
          TEMP.LN_LOANDATE,        
          TEMP.LN_PURDATE,         
          TEMP.LN_INTDATE,         
          TEMP.LN_CASHDATE,        
          TEMP.LN_ORIG_1STPYDATE,  
          TEMP.LN_1STPYDATE,       
          TEMP.LN_BNKRPTDATE,      
          TEMP.LN_APRATE,
          TEMP.LN_EFFRATE,
          TEMP.LN_SMPRATE,
          TEMP.LN_OVRDRATE,
          TEMP.LN_LNAMT,
          TEMP.LN_FINCHG,
          TEMP.LN_INTCHG,
          TEMP.LN_SERCHG,
          TEMP.LN_EXTCHG,
          TEMP.LN_MAINTFEE,
          TEMP.LN_POINTS,
          TEMP.LN_ORGTERM,
          TEMP.LN_1STPYAMT,
          TEMP.LN_NOREGPY,
          TEMP.LN_REGPYAMT,
          TEMP.LN_LASTPYAMT,
          TEMP.LN_FEECODE_1, 
          TEMP.LN_FEECODE_2, 
          TEMP.LN_FEECODE_3, 
          TEMP.LN_FEECODE_4, 
          TEMP.LN_FEECODE_5, 
          TEMP.LN_FEECODE_6, 
          TEMP.LN_FEECODE_7, 
          TEMP.LN_FEECODE_8, 
          TEMP.LN_FEECODE_9, 
          TEMP.LN_FEECODE_10, 
          TEMP.LN_FEECODE_11, 
          TEMP.LN_FEECODE_12, 
          TEMP.LN_FEECODE_13, 
          TEMP.LN_FEECODE_14, 
          TEMP.LN_FEECODE_15, 
          TEMP.LN_FEECODE_16, 
          TEMP.LN_FEECODE_17, 
          TEMP.LN_FEECODE_18, 
          TEMP.LN_FEECODE_19, 
          TEMP.LN_FEECODE_20, 
          TEMP.LN_FEEAMT_1,
          TEMP.LN_FEEAMT_2,
          TEMP.LN_FEEAMT_3,
          TEMP.LN_FEEAMT_4,
          TEMP.LN_FEEAMT_5,
          TEMP.LN_FEEAMT_6,
          TEMP.LN_FEEAMT_7,
          TEMP.LN_FEEAMT_8,
          TEMP.LN_FEEAMT_9,
          TEMP.LN_FEEAMT_10,
          TEMP.LN_FEEAMT_11,
          TEMP.LN_FEEAMT_12,
          TEMP.LN_FEEAMT_13,
          TEMP.LN_FEEAMT_14,
          TEMP.LN_FEEAMT_15,
          TEMP.LN_FEEAMT_16,
          TEMP.LN_FEEAMT_17,
          TEMP.LN_FEEAMT_18,
          TEMP.LN_FEEAMT_19,
          TEMP.LN_FEEAMT_20,
          TEMP.LN_FEEOURS_1, 
          TEMP.LN_FEEOURS_2, 
          TEMP.LN_FEEOURS_3, 
          TEMP.LN_FEEOURS_4, 
          TEMP.LN_FEEOURS_5, 
          TEMP.LN_FEEOURS_6, 
          TEMP.LN_FEEOURS_7, 
          TEMP.LN_FEEOURS_8, 
          TEMP.LN_FEEOURS_9, 
          TEMP.LN_FEEOURS_10, 
          TEMP.LN_FEEOURS_11, 
          TEMP.LN_FEEOURS_12, 
          TEMP.LN_FEEOURS_13, 
          TEMP.LN_FEEOURS_14, 
          TEMP.LN_FEEOURS_15, 
          TEMP.LN_FEEOURS_16, 
          TEMP.LN_FEEOURS_17, 
          TEMP.LN_FEEOURS_18, 
          TEMP.LN_FEEOURS_19, 
          TEMP.LN_FEEOURS_20, 
          TEMP.LN_FEEFINCHG_1, 
          TEMP.LN_FEEFINCHG_2, 
          TEMP.LN_FEEFINCHG_3, 
          TEMP.LN_FEEFINCHG_4, 
          TEMP.LN_FEEFINCHG_5, 
          TEMP.LN_FEEFINCHG_6, 
          TEMP.LN_FEEFINCHG_7, 
          TEMP.LN_FEEFINCHG_8, 
          TEMP.LN_FEEFINCHG_9, 
          TEMP.LN_FEEFINCHG_10, 
          TEMP.LN_FEEFINCHG_11, 
          TEMP.LN_FEEFINCHG_12, 
          TEMP.LN_FEEFINCHG_13, 
          TEMP.LN_FEEFINCHG_14, 
          TEMP.LN_FEEFINCHG_15, 
          TEMP.LN_FEEFINCHG_16, 
          TEMP.LN_FEEFINCHG_17, 
          TEMP.LN_FEEFINCHG_18, 
          TEMP.LN_FEEFINCHG_19, 
          TEMP.LN_FEEFINCHG_20, 
          TEMP.LN_INSURED, 
          TEMP.LN_INSTYPES, 
          TEMP.LN_INSCOMP_1,
          TEMP.LN_INSCOMP_2,
          TEMP.LN_INSCOMP_3,
          TEMP.LN_INSCOMP_4,
          TEMP.LN_INSCOMP_5,
          TEMP.LN_INSCOMP_6,
          TEMP.LN_INSCOMP_7,
          TEMP.LN_INSCOMP_8,
          TEMP.LN_INSCOMP_9,
          TEMP.LN_INSCOMP_10,
          TEMP.LN_INSOURS_1, 
          TEMP.LN_INSOURS_2, 
          TEMP.LN_INSOURS_3, 
          TEMP.LN_INSOURS_4, 
          TEMP.LN_INSOURS_5, 
          TEMP.LN_INSOURS_6, 
          TEMP.LN_INSOURS_7, 
          TEMP.LN_INSOURS_8, 
          TEMP.LN_INSOURS_9, 
          TEMP.LN_INSOURS_10, 
          TEMP.LN_INSEFF_DATE_1, 
          TEMP.LN_INSEFF_DATE_2, 
          TEMP.LN_INSEFF_DATE_3, 
          TEMP.LN_INSEFF_DATE_4, 
          TEMP.LN_INSEFF_DATE_5, 
          TEMP.LN_INSEFF_DATE_6, 
          TEMP.LN_INSEFF_DATE_7, 
          TEMP.LN_INSEFF_DATE_8, 
          TEMP.LN_INSEFF_DATE_9, 
          TEMP.LN_INSEFF_DATE_10, 
          TEMP.LN_INSEXP_DATE_1, 
          TEMP.LN_INSEXP_DATE_2, 
          TEMP.LN_INSEXP_DATE_3, 
          TEMP.LN_INSEXP_DATE_4, 
          TEMP.LN_INSEXP_DATE_5, 
          TEMP.LN_INSEXP_DATE_6, 
          TEMP.LN_INSEXP_DATE_7, 
          TEMP.LN_INSEXP_DATE_8, 
          TEMP.LN_INSEXP_DATE_9, 
          TEMP.LN_INSEXP_DATE_10, 
          TEMP.LN_INSPREM_1,
          TEMP.LN_INSPREM_2,
          TEMP.LN_INSPREM_3,
          TEMP.LN_INSPREM_4,
          TEMP.LN_INSPREM_5,
          TEMP.LN_INSPREM_6,
          TEMP.LN_INSPREM_7,
          TEMP.LN_INSPREM_8,
          TEMP.LN_INSPREM_9,
          TEMP.LN_INSPREM_10,
          TEMP.LN_INSCOVR_1,
          TEMP.LN_INSCOVR_2,
          TEMP.LN_INSCOVR_3,
          TEMP.LN_INSCOVR_4,
          TEMP.LN_INSCOVR_5,
          TEMP.LN_INSCOVR_6,
          TEMP.LN_INSCOVR_7,
          TEMP.LN_INSCOVR_8,
          TEMP.LN_INSCOVR_9,
          TEMP.LN_INSCOVR_10,
          TEMP.LN_INSFINCHG_1, 
          TEMP.LN_INSFINCHG_2, 
          TEMP.LN_INSFINCHG_3, 
          TEMP.LN_INSFINCHG_4, 
          TEMP.LN_INSFINCHG_5, 
          TEMP.LN_INSFINCHG_6, 
          TEMP.LN_INSFINCHG_7, 
          TEMP.LN_INSFINCHG_8, 
          TEMP.LN_INSFINCHG_9, 
          TEMP.LN_INSFINCHG_10, 
          TEMP.LN_PY_YYYYMM_RECDEL,
          TEMP.LN_MTD_PAYS_RECDEL,
          TEMP.LN_DLNO,
          TEMP.LN_CURBAL,
          TEMP.LN_OT2BAL,
          TEMP.LN_ANTICERN_1,
          TEMP.LN_ANTICERN_2,
          TEMP.LN_ANTICERN_3,
          TEMP.LN_ANTICERN_4,
          TEMP.LN_ANTICERN_5,
          TEMP.LN_ANTICERN_6,
          TEMP.LN_ANTICERN_7,
          TEMP.LN_ANTICERN_8,
          TEMP.LN_ANTICERN_9,
          TEMP.LN_ANTICERN_10,
          TEMP.LN_ANTICADJ_1,
          TEMP.LN_ANTICADJ_2,
          TEMP.LN_ANTICADJ_3,
          TEMP.LN_ANTICADJ_4,
          TEMP.LN_ANTICADJ_5,
          TEMP.LN_ANTICADJ_6,
          TEMP.LN_ANTICADJ_7,
          TEMP.LN_ANTICADJ_8,
          TEMP.LN_ANTICADJ_9,
          TEMP.LN_ANTICADJ_10,
          TEMP.LN_UFERN_1,
          TEMP.LN_UFERN_2,
          TEMP.LN_UFERN_3,
          TEMP.LN_UFERN_4,
          TEMP.LN_UFERN_5,
          TEMP.LN_UFERN_6,
          TEMP.LN_UFERN_7,
          TEMP.LN_UFERN_8,
          TEMP.LN_UFERN_9,
          TEMP.LN_UFERN_10,
          TEMP.LN_ACCERN_1,
          TEMP.LN_ACCERN_2,
          TEMP.LN_ACCERN_3,
          TEMP.LN_ACCERN_4,
          TEMP.LN_ACCERN_5,
          TEMP.LN_ACCERN_6,
          TEMP.LN_ACCERN_7,
          TEMP.LN_ACCERN_8,
          TEMP.LN_ACCERN_9,
          TEMP.LN_ACCERN_10,
          TEMP.LN_TOTINT,
          TEMP.LN_TOTDEF,
          TEMP.LN_TOTPAYMNTD,
          TEMP.LN_TOTNODEF,
          TEMP.LN_TOTNOALDEL,
          TEMP.LN_CL_REBATE, 
          TEMP.LN_AH_REBATE, 
          TEMP.LN_PP_REBATE, 
          TEMP.LN_INT_REBATE, 
          TEMP.LN_SC_REBATE, 
          TEMP.LN_MF_REBATE, 
          TEMP.LN_DF_REBATE, 
          TEMP.LN_EX_REBATE, 
          TEMP.LN_O1_REBATE, 
          TEMP.LN_O2_REBATE, 
          TEMP.LN_O3_REBATE, 
          TEMP.LN_O4_REBATE, 
          TEMP.LN_O5_REBATE, 
          TEMP.LN_O6_REBATE, 
          TEMP.LN_O7_REBATE, 
          TEMP.LN_UN_O7_REB, 
          TEMP.LN_UN_O8_REB, 
          TEMP.LN_UN_O9_REB, 
          TEMP.LN_UN_O10_REB, 
          TEMP.LN_DATE_PAID_LAST, 
          TEMP.LN_CREDITLIM,
          TEMP.LN_OLDACCTNO,
          TEMP.LN_PRLNNO,
          TEMP.LN_SUM_FINCHG,
          TEMP.LN_SUM_ORGTERM,
          TEMP.LN_UNITPER_CD, 
          TEMP.LN_UNITPER_FREQ,
          TEMP.LN_REPOCD 

     INTO #TEMP_DAILY_LNFILE

     FROM

  (SELECT LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_SUBCLASS,
          LNFILE.LN_LAWCODE,
          LNFILE.LN_ORGST, 
          LNFILE.LN_SPRCLASS,
          LNFILE.LN_CONVERCD, 
          LNFILE.LN_POCD, 
          LNFILE.LN_PLCD, 
          LNFILE.LN_SALEFIN, 
          LNFILE.LN_SERVACCT, 
          LNFILE.LN_LOANTYPE, 
          LNFILE.LN_ADDON_FG, 
          LNFILE.LN_PAY_SCHLD_FG, 
          CAST(LNFILE.LN_LOANDATE       AS VARCHAR(10)) AS LN_LOANDATE, 
          CAST(LNFILE.LN_PURDATE        AS VARCHAR(10)) AS LN_PURDATE, 
          CAST(LNFILE.LN_INTDATE        AS VARCHAR(10)) AS LN_INTDATE, 
          CAST(LNFILE.LN_CASHDATE       AS VARCHAR(10)) AS LN_CASHDATE, 
          CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)) AS LN_ORIG_1STPYDATE, 
          CAST(LNFILE.LN_1STPYDATE      AS VARCHAR(10)) AS LN_1STPYDATE, 
          CAST(LNFILE.LN_BNKRPTDATE     AS VARCHAR(10)) AS LN_BNKRPTDATE, 
          LNFILE.LN_APRATE,
          LNFILE.LN_EFFRATE,
          LNFILE.LN_SMPRATE,
          LNFILE.LN_OVRDRATE,
          LNFILE.LN_LNAMT,
          LNFILE.LN_FINCHG,
          LNFILE.LN_INTCHG,
          LNFILE.LN_SERCHG,
          LNFILE.LN_EXTCHG,
          LNFILE.LN_MAINTFEE,
          LNFILE.LN_POINTS,
          LNFILE.LN_ORGTERM,
          LNFILE.LN_1STPYAMT,
          LNFILE.LN_NOREGPY,
          LNFILE.LN_REGPYAMT,
          LNFILE.LN_LASTPYAMT,
          LNFILE.LN_FEECODE_1, 
          LNFILE.LN_FEECODE_2, 
          LNFILE.LN_FEECODE_3, 
          LNFILE.LN_FEECODE_4, 
          LNFILE.LN_FEECODE_5, 
          LNFILE.LN_FEECODE_6, 
          LNFILE.LN_FEECODE_7, 
          LNFILE.LN_FEECODE_8, 
          LNFILE.LN_FEECODE_9, 
          LNFILE.LN_FEECODE_10, 
          LNFILE.LN_FEECODE_11, 
          LNFILE.LN_FEECODE_12, 
          LNFILE.LN_FEECODE_13, 
          LNFILE.LN_FEECODE_14, 
          LNFILE.LN_FEECODE_15, 
          LNFILE.LN_FEECODE_16, 
          LNFILE.LN_FEECODE_17, 
          LNFILE.LN_FEECODE_18, 
          LNFILE.LN_FEECODE_19, 
          LNFILE.LN_FEECODE_20, 
          LNFILE.LN_FEEAMT_1,
          LNFILE.LN_FEEAMT_2,
          LNFILE.LN_FEEAMT_3,
          LNFILE.LN_FEEAMT_4,
          LNFILE.LN_FEEAMT_5,
          LNFILE.LN_FEEAMT_6,
          LNFILE.LN_FEEAMT_7,
          LNFILE.LN_FEEAMT_8,
          LNFILE.LN_FEEAMT_9,
          LNFILE.LN_FEEAMT_10,
          LNFILE.LN_FEEAMT_11,
          LNFILE.LN_FEEAMT_12,
          LNFILE.LN_FEEAMT_13,
          LNFILE.LN_FEEAMT_14,
          LNFILE.LN_FEEAMT_15,
          LNFILE.LN_FEEAMT_16,
          LNFILE.LN_FEEAMT_17,
          LNFILE.LN_FEEAMT_18,
          LNFILE.LN_FEEAMT_19,
          LNFILE.LN_FEEAMT_20,
          LNFILE.LN_FEEOURS_1, 
          LNFILE.LN_FEEOURS_2, 
          LNFILE.LN_FEEOURS_3, 
          LNFILE.LN_FEEOURS_4, 
          LNFILE.LN_FEEOURS_5, 
          LNFILE.LN_FEEOURS_6, 
          LNFILE.LN_FEEOURS_7, 
          LNFILE.LN_FEEOURS_8, 
          LNFILE.LN_FEEOURS_9, 
          LNFILE.LN_FEEOURS_10, 
          LNFILE.LN_FEEOURS_11, 
          LNFILE.LN_FEEOURS_12, 
          LNFILE.LN_FEEOURS_13, 
          LNFILE.LN_FEEOURS_14, 
          LNFILE.LN_FEEOURS_15, 
          LNFILE.LN_FEEOURS_16, 
          LNFILE.LN_FEEOURS_17, 
          LNFILE.LN_FEEOURS_18, 
          LNFILE.LN_FEEOURS_19, 
          LNFILE.LN_FEEOURS_20, 
          LNFILE.LN_FEEFINCHG_1, 
          LNFILE.LN_FEEFINCHG_2, 
          LNFILE.LN_FEEFINCHG_3, 
          LNFILE.LN_FEEFINCHG_4, 
          LNFILE.LN_FEEFINCHG_5, 
          LNFILE.LN_FEEFINCHG_6, 
          LNFILE.LN_FEEFINCHG_7, 
          LNFILE.LN_FEEFINCHG_8, 
          LNFILE.LN_FEEFINCHG_9, 
          LNFILE.LN_FEEFINCHG_10, 
          LNFILE.LN_FEEFINCHG_11, 
          LNFILE.LN_FEEFINCHG_12, 
          LNFILE.LN_FEEFINCHG_13, 
          LNFILE.LN_FEEFINCHG_14, 
          LNFILE.LN_FEEFINCHG_15, 
          LNFILE.LN_FEEFINCHG_16, 
          LNFILE.LN_FEEFINCHG_17, 
          LNFILE.LN_FEEFINCHG_18, 
          LNFILE.LN_FEEFINCHG_19, 
          LNFILE.LN_FEEFINCHG_20, 
          LNFILE.LN_INSURED, 
          LNFILE.LN_INSTYPES, 
          LNFILE.LN_INSCOMP_1,
          LNFILE.LN_INSCOMP_2,
          LNFILE.LN_INSCOMP_3,
          LNFILE.LN_INSCOMP_4,
          LNFILE.LN_INSCOMP_5,
          LNFILE.LN_INSCOMP_6,
          LNFILE.LN_INSCOMP_7,
          LNFILE.LN_INSCOMP_8,
          LNFILE.LN_INSCOMP_9,
          LNFILE.LN_INSCOMP_10,
          LNFILE.LN_INSOURS_1, 
          LNFILE.LN_INSOURS_2, 
          LNFILE.LN_INSOURS_3, 
          LNFILE.LN_INSOURS_4, 
          LNFILE.LN_INSOURS_5, 
          LNFILE.LN_INSOURS_6, 
          LNFILE.LN_INSOURS_7, 
          LNFILE.LN_INSOURS_8, 
          LNFILE.LN_INSOURS_9, 
          LNFILE.LN_INSOURS_10, 
          CAST(LNFILE.LN_INSEFF_DATE_1  AS VARCHAR(10)) AS LN_INSEFF_DATE_1, 
          CAST(LNFILE.LN_INSEFF_DATE_2  AS VARCHAR(10)) AS LN_INSEFF_DATE_2, 
          CAST(LNFILE.LN_INSEFF_DATE_3  AS VARCHAR(10)) AS LN_INSEFF_DATE_3, 
          CAST(LNFILE.LN_INSEFF_DATE_4  AS VARCHAR(10)) AS LN_INSEFF_DATE_4, 
          CAST(LNFILE.LN_INSEFF_DATE_5  AS VARCHAR(10)) AS LN_INSEFF_DATE_5, 
          CAST(LNFILE.LN_INSEFF_DATE_6  AS VARCHAR(10)) AS LN_INSEFF_DATE_6, 
          CAST(LNFILE.LN_INSEFF_DATE_7  AS VARCHAR(10)) AS LN_INSEFF_DATE_7, 
          CAST(LNFILE.LN_INSEFF_DATE_8  AS VARCHAR(10)) AS LN_INSEFF_DATE_8, 
          CAST(LNFILE.LN_INSEFF_DATE_9  AS VARCHAR(10)) AS LN_INSEFF_DATE_9, 
          CAST(LNFILE.LN_INSEFF_DATE_10 AS VARCHAR(10)) AS LN_INSEFF_DATE_10, 
          CAST(LNFILE.LN_INSEXP_DATE_1  AS VARCHAR(10)) AS LN_INSEXP_DATE_1, 
          CAST(LNFILE.LN_INSEXP_DATE_2  AS VARCHAR(10)) AS LN_INSEXP_DATE_2, 
          CAST(LNFILE.LN_INSEXP_DATE_3  AS VARCHAR(10)) AS LN_INSEXP_DATE_3, 
          CAST(LNFILE.LN_INSEXP_DATE_4  AS VARCHAR(10)) AS LN_INSEXP_DATE_4, 
          CAST(LNFILE.LN_INSEXP_DATE_5  AS VARCHAR(10)) AS LN_INSEXP_DATE_5, 
          CAST(LNFILE.LN_INSEXP_DATE_6  AS VARCHAR(10)) AS LN_INSEXP_DATE_6, 
          CAST(LNFILE.LN_INSEXP_DATE_7  AS VARCHAR(10)) AS LN_INSEXP_DATE_7, 
          CAST(LNFILE.LN_INSEXP_DATE_8  AS VARCHAR(10)) AS LN_INSEXP_DATE_8, 
          CAST(LNFILE.LN_INSEXP_DATE_9  AS VARCHAR(10)) AS LN_INSEXP_DATE_9, 
          CAST(LNFILE.LN_INSEXP_DATE_10 AS VARCHAR(10)) AS LN_INSEXP_DATE_10, 
          LNFILE.LN_INSPREM_1,
          LNFILE.LN_INSPREM_2,
          LNFILE.LN_INSPREM_3,
          LNFILE.LN_INSPREM_4,
          LNFILE.LN_INSPREM_5,
          LNFILE.LN_INSPREM_6,
          LNFILE.LN_INSPREM_7,
          LNFILE.LN_INSPREM_8,
          LNFILE.LN_INSPREM_9,
          LNFILE.LN_INSPREM_10,
          LNFILE.LN_INSCOVR_1,
          LNFILE.LN_INSCOVR_2,
          LNFILE.LN_INSCOVR_3,
          LNFILE.LN_INSCOVR_4,
          LNFILE.LN_INSCOVR_5,
          LNFILE.LN_INSCOVR_6,
          LNFILE.LN_INSCOVR_7,
          LNFILE.LN_INSCOVR_8,
          LNFILE.LN_INSCOVR_9,
          LNFILE.LN_INSCOVR_10,
          LNFILE.LN_INSFINCHG_1, 
          LNFILE.LN_INSFINCHG_2, 
          LNFILE.LN_INSFINCHG_3, 
          LNFILE.LN_INSFINCHG_4, 
          LNFILE.LN_INSFINCHG_5, 
          LNFILE.LN_INSFINCHG_6, 
          LNFILE.LN_INSFINCHG_7, 
          LNFILE.LN_INSFINCHG_8, 
          LNFILE.LN_INSFINCHG_9, 
          LNFILE.LN_INSFINCHG_10, 
          LNFILE.LN_PY_YYYYMM_RECDEL,
          LNFILE.LN_MTD_PAYS_RECDEL,
          LNFILE.LN_DLNO,
          LNFILE.LN_CURBAL,
          LNFILE.LN_OT2BAL,
          LNFILE.LN_ANTICERN_1,
          LNFILE.LN_ANTICERN_2,
          LNFILE.LN_ANTICERN_3,
          LNFILE.LN_ANTICERN_4,
          LNFILE.LN_ANTICERN_5,
          LNFILE.LN_ANTICERN_6,
          LNFILE.LN_ANTICERN_7,
          LNFILE.LN_ANTICERN_8,
          LNFILE.LN_ANTICERN_9,
          LNFILE.LN_ANTICERN_10,
          LNFILE.LN_ANTICADJ_1,
          LNFILE.LN_ANTICADJ_2,
          LNFILE.LN_ANTICADJ_3,
          LNFILE.LN_ANTICADJ_4,
          LNFILE.LN_ANTICADJ_5,
          LNFILE.LN_ANTICADJ_6,
          LNFILE.LN_ANTICADJ_7,
          LNFILE.LN_ANTICADJ_8,
          LNFILE.LN_ANTICADJ_9,
          LNFILE.LN_ANTICADJ_10,
          LNFILE.LN_UFERN_1,
          LNFILE.LN_UFERN_2,
          LNFILE.LN_UFERN_3,
          LNFILE.LN_UFERN_4,
          LNFILE.LN_UFERN_5,
          LNFILE.LN_UFERN_6,
          LNFILE.LN_UFERN_7,
          LNFILE.LN_UFERN_8,
          LNFILE.LN_UFERN_9,
          LNFILE.LN_UFERN_10,
          LNFILE.LN_ACCERN_1,
          LNFILE.LN_ACCERN_2,
          LNFILE.LN_ACCERN_3,
          LNFILE.LN_ACCERN_4,
          LNFILE.LN_ACCERN_5,
          LNFILE.LN_ACCERN_6,
          LNFILE.LN_ACCERN_7,
          LNFILE.LN_ACCERN_8,
          LNFILE.LN_ACCERN_9,
          LNFILE.LN_ACCERN_10,
          LNFILE.LN_TOTINT,
          LNFILE.LN_TOTDEF,
          LNFILE.LN_TOTPAYMNTD,
          LNFILE.LN_TOTNODEF,
          LNFILE.LN_TOTNOALDEL,
          LNFILE.LN_CL_REBATE, 
          LNFILE.LN_AH_REBATE, 
          LNFILE.LN_PP_REBATE, 
          LNFILE.LN_INT_REBATE, 
          LNFILE.LN_SC_REBATE, 
          LNFILE.LN_MF_REBATE, 
          LNFILE.LN_DF_REBATE, 
          LNFILE.LN_EX_REBATE, 
          LNFILE.LN_O1_REBATE, 
          LNFILE.LN_O2_REBATE, 
          LNFILE.LN_O3_REBATE, 
          LNFILE.LN_O4_REBATE, 
          LNFILE.LN_O5_REBATE, 
          LNFILE.LN_O6_REBATE, 
          LNFILE.LN_O7_REBATE, 
          LNFILE.LN_UN_O7_REB, 
          LNFILE.LN_UN_O8_REB, 
          LNFILE.LN_UN_O9_REB, 
          LNFILE.LN_UN_O10_REB, 
          CAST(LNFILE.LN_DATE_PAID_LAST AS VARCHAR(10)) AS LN_DATE_PAID_LAST, 
          LNFILE.LN_CREDITLIM,
          LNFILE.LN_OLDACCTNO,
          LNFILE.LN_PRLNNO,
          LNFILE.LN_SUM_FINCHG,
          LNFILE.LN_SUM_ORGTERM,
          LNFILE.LN_UNITPER_CD, 
          LNFILE.LN_UNITPER_FREQ,
          LNFILE.LN_REPOCD 

     FROM DBO.LNFILE  LNFILE

    WHERE  LNFILE.LN_OWNBR       = @QLN1_WBEG_OWNBR 
      AND  LNFILE.LN_POCD   NOT IN ('**', '*I', '*R', '*U') 
      AND  LNFILE.LN_CURBAL     != 0
      AND  LNFILE.LN_PLCD        = ' '
      AND  LNFILE.LN_REPOCD NOT IN ('X', 'S')) TEMP;

   SELECT #TEMP_DAILY_LNFILE.LN_OWNBR,
          #TEMP_DAILY_LNFILE.LN_ACCTNO,
          #TEMP_DAILY_LNFILE.LN_CLASS,
          #TEMP_DAILY_LNFILE.LN_SUBCLASS,
          #TEMP_DAILY_LNFILE.LN_LAWCODE,
          #TEMP_DAILY_LNFILE.LN_ORGST, 
          #TEMP_DAILY_LNFILE.LN_SPRCLASS,
          #TEMP_DAILY_LNFILE.LN_CONVERCD, 
          #TEMP_DAILY_LNFILE.LN_POCD, 
          #TEMP_DAILY_LNFILE.LN_PLCD, 
          #TEMP_DAILY_LNFILE.LN_SALEFIN, 
          #TEMP_DAILY_LNFILE.LN_SERVACCT, 
          #TEMP_DAILY_LNFILE.LN_LOANTYPE, 
          #TEMP_DAILY_LNFILE.LN_ADDON_FG, 
          #TEMP_DAILY_LNFILE.LN_PAY_SCHLD_FG, 
          #TEMP_DAILY_LNFILE.LN_LOANDATE,        
          #TEMP_DAILY_LNFILE.LN_PURDATE,         
          #TEMP_DAILY_LNFILE.LN_INTDATE,         
          #TEMP_DAILY_LNFILE.LN_CASHDATE,        
          #TEMP_DAILY_LNFILE.LN_ORIG_1STPYDATE,  
          #TEMP_DAILY_LNFILE.LN_1STPYDATE,       
          #TEMP_DAILY_LNFILE.LN_BNKRPTDATE,      
          #TEMP_DAILY_LNFILE.LN_APRATE,
          #TEMP_DAILY_LNFILE.LN_EFFRATE,
          #TEMP_DAILY_LNFILE.LN_SMPRATE,
          #TEMP_DAILY_LNFILE.LN_OVRDRATE,
          #TEMP_DAILY_LNFILE.LN_LNAMT,
          #TEMP_DAILY_LNFILE.LN_FINCHG,
          #TEMP_DAILY_LNFILE.LN_INTCHG,
          #TEMP_DAILY_LNFILE.LN_SERCHG,
          #TEMP_DAILY_LNFILE.LN_EXTCHG,
          #TEMP_DAILY_LNFILE.LN_MAINTFEE,
          #TEMP_DAILY_LNFILE.LN_POINTS,
          #TEMP_DAILY_LNFILE.LN_ORGTERM,
          #TEMP_DAILY_LNFILE.LN_1STPYAMT,
          #TEMP_DAILY_LNFILE.LN_NOREGPY,
          #TEMP_DAILY_LNFILE.LN_REGPYAMT,
          #TEMP_DAILY_LNFILE.LN_LASTPYAMT,
          #TEMP_DAILY_LNFILE.LN_FEECODE_1, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_2, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_3, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_4, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_5, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_6, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_7, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_8, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_9, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_10, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_11, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_12, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_13, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_14, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_15, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_16, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_17, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_18, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_19, 
          #TEMP_DAILY_LNFILE.LN_FEECODE_20, 
          #TEMP_DAILY_LNFILE.LN_FEEAMT_1,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_2,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_3,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_4,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_5,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_6,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_7,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_8,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_9,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_10,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_11,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_12,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_13,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_14,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_15,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_16,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_17,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_18,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_19,
          #TEMP_DAILY_LNFILE.LN_FEEAMT_20,
          #TEMP_DAILY_LNFILE.LN_FEEOURS_1, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_2, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_3, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_4, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_5, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_6, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_7, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_8, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_9, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_10, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_11, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_12, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_13, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_14, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_15, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_16, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_17, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_18, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_19, 
          #TEMP_DAILY_LNFILE.LN_FEEOURS_20, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_1, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_2, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_3, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_4, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_5, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_6, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_7, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_8, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_9, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_10, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_11, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_12, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_13, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_14, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_15, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_16, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_17, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_18, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_19, 
          #TEMP_DAILY_LNFILE.LN_FEEFINCHG_20, 
          #TEMP_DAILY_LNFILE.LN_INSURED, 
          #TEMP_DAILY_LNFILE.LN_INSTYPES, 
          #TEMP_DAILY_LNFILE.LN_INSCOMP_1,
          #TEMP_DAILY_LNFILE.LN_INSCOMP_2,
          #TEMP_DAILY_LNFILE.LN_INSCOMP_3,
          #TEMP_DAILY_LNFILE.LN_INSCOMP_4,
          #TEMP_DAILY_LNFILE.LN_INSCOMP_5,
          #TEMP_DAILY_LNFILE.LN_INSCOMP_6,
          #TEMP_DAILY_LNFILE.LN_INSCOMP_7,
          #TEMP_DAILY_LNFILE.LN_INSCOMP_8,
          #TEMP_DAILY_LNFILE.LN_INSCOMP_9,
          #TEMP_DAILY_LNFILE.LN_INSCOMP_10,
          #TEMP_DAILY_LNFILE.LN_INSOURS_1, 
          #TEMP_DAILY_LNFILE.LN_INSOURS_2, 
          #TEMP_DAILY_LNFILE.LN_INSOURS_3, 
          #TEMP_DAILY_LNFILE.LN_INSOURS_4, 
          #TEMP_DAILY_LNFILE.LN_INSOURS_5, 
          #TEMP_DAILY_LNFILE.LN_INSOURS_6, 
          #TEMP_DAILY_LNFILE.LN_INSOURS_7, 
          #TEMP_DAILY_LNFILE.LN_INSOURS_8, 
          #TEMP_DAILY_LNFILE.LN_INSOURS_9, 
          #TEMP_DAILY_LNFILE.LN_INSOURS_10, 
          #TEMP_DAILY_LNFILE.LN_INSEFF_DATE_1, 
          #TEMP_DAILY_LNFILE.LN_INSEFF_DATE_2, 
          #TEMP_DAILY_LNFILE.LN_INSEFF_DATE_3, 
          #TEMP_DAILY_LNFILE.LN_INSEFF_DATE_4, 
          #TEMP_DAILY_LNFILE.LN_INSEFF_DATE_5, 
          #TEMP_DAILY_LNFILE.LN_INSEFF_DATE_6, 
          #TEMP_DAILY_LNFILE.LN_INSEFF_DATE_7, 
          #TEMP_DAILY_LNFILE.LN_INSEFF_DATE_8, 
          #TEMP_DAILY_LNFILE.LN_INSEFF_DATE_9, 
          #TEMP_DAILY_LNFILE.LN_INSEFF_DATE_10, 
          #TEMP_DAILY_LNFILE.LN_INSEXP_DATE_1, 
          #TEMP_DAILY_LNFILE.LN_INSEXP_DATE_2, 
          #TEMP_DAILY_LNFILE.LN_INSEXP_DATE_3, 
          #TEMP_DAILY_LNFILE.LN_INSEXP_DATE_4, 
          #TEMP_DAILY_LNFILE.LN_INSEXP_DATE_5, 
          #TEMP_DAILY_LNFILE.LN_INSEXP_DATE_6, 
          #TEMP_DAILY_LNFILE.LN_INSEXP_DATE_7, 
          #TEMP_DAILY_LNFILE.LN_INSEXP_DATE_8, 
          #TEMP_DAILY_LNFILE.LN_INSEXP_DATE_9, 
          #TEMP_DAILY_LNFILE.LN_INSEXP_DATE_10, 
          #TEMP_DAILY_LNFILE.LN_INSPREM_1,
          #TEMP_DAILY_LNFILE.LN_INSPREM_2,
          #TEMP_DAILY_LNFILE.LN_INSPREM_3,
          #TEMP_DAILY_LNFILE.LN_INSPREM_4,
          #TEMP_DAILY_LNFILE.LN_INSPREM_5,
          #TEMP_DAILY_LNFILE.LN_INSPREM_6,
          #TEMP_DAILY_LNFILE.LN_INSPREM_7,
          #TEMP_DAILY_LNFILE.LN_INSPREM_8,
          #TEMP_DAILY_LNFILE.LN_INSPREM_9,
          #TEMP_DAILY_LNFILE.LN_INSPREM_10,
          #TEMP_DAILY_LNFILE.LN_INSCOVR_1,
          #TEMP_DAILY_LNFILE.LN_INSCOVR_2,
          #TEMP_DAILY_LNFILE.LN_INSCOVR_3,
          #TEMP_DAILY_LNFILE.LN_INSCOVR_4,
          #TEMP_DAILY_LNFILE.LN_INSCOVR_5,
          #TEMP_DAILY_LNFILE.LN_INSCOVR_6,
          #TEMP_DAILY_LNFILE.LN_INSCOVR_7,
          #TEMP_DAILY_LNFILE.LN_INSCOVR_8,
          #TEMP_DAILY_LNFILE.LN_INSCOVR_9,
          #TEMP_DAILY_LNFILE.LN_INSCOVR_10,
          #TEMP_DAILY_LNFILE.LN_INSFINCHG_1, 
          #TEMP_DAILY_LNFILE.LN_INSFINCHG_2, 
          #TEMP_DAILY_LNFILE.LN_INSFINCHG_3, 
          #TEMP_DAILY_LNFILE.LN_INSFINCHG_4, 
          #TEMP_DAILY_LNFILE.LN_INSFINCHG_5, 
          #TEMP_DAILY_LNFILE.LN_INSFINCHG_6, 
          #TEMP_DAILY_LNFILE.LN_INSFINCHG_7, 
          #TEMP_DAILY_LNFILE.LN_INSFINCHG_8, 
          #TEMP_DAILY_LNFILE.LN_INSFINCHG_9, 
          #TEMP_DAILY_LNFILE.LN_INSFINCHG_10, 
          #TEMP_DAILY_LNFILE.LN_PY_YYYYMM_RECDEL,
          #TEMP_DAILY_LNFILE.LN_MTD_PAYS_RECDEL,
          #TEMP_DAILY_LNFILE.LN_DLNO,
          #TEMP_DAILY_LNFILE.LN_CURBAL,
          #TEMP_DAILY_LNFILE.LN_OT2BAL,
          #TEMP_DAILY_LNFILE.LN_ANTICERN_1,
          #TEMP_DAILY_LNFILE.LN_ANTICERN_2,
          #TEMP_DAILY_LNFILE.LN_ANTICERN_3,
          #TEMP_DAILY_LNFILE.LN_ANTICERN_4,
          #TEMP_DAILY_LNFILE.LN_ANTICERN_5,
          #TEMP_DAILY_LNFILE.LN_ANTICERN_6,
          #TEMP_DAILY_LNFILE.LN_ANTICERN_7,
          #TEMP_DAILY_LNFILE.LN_ANTICERN_8,
          #TEMP_DAILY_LNFILE.LN_ANTICERN_9,
          #TEMP_DAILY_LNFILE.LN_ANTICERN_10,
          #TEMP_DAILY_LNFILE.LN_ANTICADJ_1,
          #TEMP_DAILY_LNFILE.LN_ANTICADJ_2,
          #TEMP_DAILY_LNFILE.LN_ANTICADJ_3,
          #TEMP_DAILY_LNFILE.LN_ANTICADJ_4,
          #TEMP_DAILY_LNFILE.LN_ANTICADJ_5,
          #TEMP_DAILY_LNFILE.LN_ANTICADJ_6,
          #TEMP_DAILY_LNFILE.LN_ANTICADJ_7,
          #TEMP_DAILY_LNFILE.LN_ANTICADJ_8,
          #TEMP_DAILY_LNFILE.LN_ANTICADJ_9,
          #TEMP_DAILY_LNFILE.LN_ANTICADJ_10,
          #TEMP_DAILY_LNFILE.LN_UFERN_1,
          #TEMP_DAILY_LNFILE.LN_UFERN_2,
          #TEMP_DAILY_LNFILE.LN_UFERN_3,
          #TEMP_DAILY_LNFILE.LN_UFERN_4,
          #TEMP_DAILY_LNFILE.LN_UFERN_5,
          #TEMP_DAILY_LNFILE.LN_UFERN_6,
          #TEMP_DAILY_LNFILE.LN_UFERN_7,
          #TEMP_DAILY_LNFILE.LN_UFERN_8,
          #TEMP_DAILY_LNFILE.LN_UFERN_9,
          #TEMP_DAILY_LNFILE.LN_UFERN_10,
          #TEMP_DAILY_LNFILE.LN_ACCERN_1,
          #TEMP_DAILY_LNFILE.LN_ACCERN_2,
          #TEMP_DAILY_LNFILE.LN_ACCERN_3,
          #TEMP_DAILY_LNFILE.LN_ACCERN_4,
          #TEMP_DAILY_LNFILE.LN_ACCERN_5,
          #TEMP_DAILY_LNFILE.LN_ACCERN_6,
          #TEMP_DAILY_LNFILE.LN_ACCERN_7,
          #TEMP_DAILY_LNFILE.LN_ACCERN_8,
          #TEMP_DAILY_LNFILE.LN_ACCERN_9,
          #TEMP_DAILY_LNFILE.LN_ACCERN_10,
          #TEMP_DAILY_LNFILE.LN_TOTINT,
          #TEMP_DAILY_LNFILE.LN_TOTDEF,
          #TEMP_DAILY_LNFILE.LN_TOTPAYMNTD,
          #TEMP_DAILY_LNFILE.LN_TOTNODEF,
          #TEMP_DAILY_LNFILE.LN_TOTNOALDEL,
          #TEMP_DAILY_LNFILE.LN_CL_REBATE, 
          #TEMP_DAILY_LNFILE.LN_AH_REBATE, 
          #TEMP_DAILY_LNFILE.LN_PP_REBATE, 
          #TEMP_DAILY_LNFILE.LN_INT_REBATE, 
          #TEMP_DAILY_LNFILE.LN_SC_REBATE, 
          #TEMP_DAILY_LNFILE.LN_MF_REBATE, 
          #TEMP_DAILY_LNFILE.LN_DF_REBATE, 
          #TEMP_DAILY_LNFILE.LN_EX_REBATE, 
          #TEMP_DAILY_LNFILE.LN_O1_REBATE, 
          #TEMP_DAILY_LNFILE.LN_O2_REBATE, 
          #TEMP_DAILY_LNFILE.LN_O3_REBATE, 
          #TEMP_DAILY_LNFILE.LN_O4_REBATE, 
          #TEMP_DAILY_LNFILE.LN_O5_REBATE, 
          #TEMP_DAILY_LNFILE.LN_O6_REBATE, 
          #TEMP_DAILY_LNFILE.LN_O7_REBATE, 
          #TEMP_DAILY_LNFILE.LN_UN_O7_REB, 
          #TEMP_DAILY_LNFILE.LN_UN_O8_REB, 
          #TEMP_DAILY_LNFILE.LN_UN_O9_REB, 
          #TEMP_DAILY_LNFILE.LN_UN_O10_REB, 
          #TEMP_DAILY_LNFILE.LN_DATE_PAID_LAST, 
          #TEMP_DAILY_LNFILE.LN_CREDITLIM,
          #TEMP_DAILY_LNFILE.LN_OLDACCTNO,
          #TEMP_DAILY_LNFILE.LN_PRLNNO,
          #TEMP_DAILY_LNFILE.LN_SUM_FINCHG,
          #TEMP_DAILY_LNFILE.LN_SUM_ORGTERM,
          #TEMP_DAILY_LNFILE.LN_UNITPER_CD, 
          #TEMP_DAILY_LNFILE.LN_UNITPER_FREQ,
          #TEMP_DAILY_LNFILE.LN_REPOCD

     FROM #TEMP_DAILY_LNFILE

    ORDER BY #TEMP_DAILY_LNFILE.LN_OWNBR,
             #TEMP_DAILY_LNFILE.LN_CLASS,
             #TEMP_DAILY_LNFILE.LN_ACCTNO; 

DROP TABLE IF EXISTS #TEMP_DAILY_LNFILE;

             
END
GO
