USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_CKVOID_CKFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_CKVOID_CKFILE_SELECT              */
/*               PROGRAM NAME: LP/CKVOID.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 03/18/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: CKFILE                                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_CKVOID_CKFILE_SELECT]
    @QCK1_WBEG_BRNO          AS INT,
    @QCK1_WBEG_CKNO          AS INT,
    @QCK1_WEND_CKNO          AS INT,
    @QWS1_WBEG_DATE          AS DATE,
    @QWS1_WEND_DATE          AS DATE, 
    @QWS1_WBEG_CDATE         AS DATE,
    @QWS1_WEND_CDATE         AS DATE, 
    @QWS1_WBEG_VDATE         AS DATE,
    @QWS1_WEND_VDATE         AS DATE 

AS
BEGIN
	SET NOCOUNT ON;

-- DECLARE @QCK1_WBEG_BRNO    INT
-- DECLARE @QCK1_WBEG_CKNO    INT
-- DECLARE @QCK1_WEND_CKNO    INT
-- DECLARE @QWS1_WBEG_DATE    DATE
-- DECLARE @QWS1_WEND_DATE    DATE 
-- DECLARE @QWS1_WBEG_CDATE   DATE
-- DECLARE @QWS1_WEND_CDATE   DATE 
-- DECLARE @QWS1_WBEG_VDATE   DATE
-- DECLARE @QWS1_WEND_VDATE   DATE 
 
-- SET     @QCK1_WBEG_BRNO    = 10
-- SET     @QCK1_WBEG_CKNO    = 000000      
-- SET     @QCK1_WEND_CKNO    = 999999      
-- SET     @QWS1_WBEG_DATE    = '1900-01-01' 
-- SET     @QWS1_WEND_DATE    = '2099-12-31'
-- SET     @QWS1_WBEG_CDATE   = '1900-01-01' 
-- SET     @QWS1_WEND_CDATE   = '2099-12-31'
-- SET     @QWS1_WBEG_VDATE   = '1900-01-01' 
-- SET     @QWS1_WEND_VDATE   = '2099-12-31'

    SELECT CKFILE.CK_BRNO,
           CKFILE.CK_NO,
           CAST(CKFILE.CK_DATE         AS VARCHAR(10)),
           CKFILE.CK_AMT,
           CKFILE.CK_PAYEE,
           CAST(CKFILE.CK_VOID_DATE    AS VARCHAR(10)),
           CAST(CKFILE.CK_CLEARED_DATE AS VARCHAR(10))

     FROM DBO.CKFILE

    WHERE (( CKFILE.CK_BRNO               = @QCK1_WBEG_BRNO
      AND    CKFILE.CK_NO           BETWEEN @QCK1_WBEG_CKNO
                                        AND @QCK1_WEND_CKNO
      AND    CKFILE.CK_DATE         BETWEEN @QWS1_WBEG_DATE
	                                    AND @QWS1_WEND_DATE
      AND    CKFILE.CK_CLEARED_DATE BETWEEN @QWS1_WBEG_CDATE
	                                    AND @QWS1_WEND_CDATE
      AND    CKFILE.CK_VOID_DATE    BETWEEN @QWS1_WBEG_VDATE
	                                    AND @QWS1_WEND_VDATE)
      AND  ( CKFILE.CK_CLEARED_DATE      != '1900-01-01' )
      AND  ( CKFILE.CK_VOID_DATE         != '1900-01-01' )
      AND  ( CKFILE.CK_VOID_DATE         >= CKFILE.CK_CLEARED_DATE ))	

    ORDER BY CKFILE.CK_BRNO,
             CKFILE.CK_NO;

END
GO
