USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_CJINQ_CJFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_CJINQ_CJFILE_SELECT               */
/*               PROGRAM NAME: WI/CJINQ.CBL                          */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 03/2025                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: CJFILE. LNFILE, BWFILE                                  */
/* NOTE: SUMMARY REQUEST DOES NOT BRING BACK BW DATA                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_CJINQ_CJFILE_SELECT]
    @QCJ1_WBEG_BRNO     AS INT,
    @QCJ1_WBEG_COLLID   AS CHAR(3),
    @QCJ1_WEND_COLLID   AS CHAR(3),
	@QCJ1_WBEG_DATE     AS DATE,
	@QCJ1_WEND_DATE     AS DATE,
	@WOFFSET            AS INT,
	@DETSUM             AS CHAR(1)

 AS
BEGIN
	SET NOCOUNT ON;

 DECLARE @PARAMLIST  NVARCHAR(4000),      
		  @SQL        NVARCHAR(MAX)

--DECLARE @QCJ1_WBEG_BRNO     INT
--DECLARE @QCJ1_WBEG_COLLID   CHAR(3)
--DECLARE @QCJ1_WEND_COLLID   CHAR(3)
--DECLARE @QCJ1_WBEG_DATE     DATE
--DECLARE @QCJ1_WEND_DATE     DATE
--DECLARE @WOFFSET            INT
--DECLARE @DETSUM             CHAR(1)

--SET @QCJ1_WBEG_BRNO     = 25
--SET @QCJ1_WBEG_COLLID   = 'R00'
--SET @QCJ1_WEND_COLLID   = 'R00'
--SET @QCJ1_WBEG_DATE     = '2020-01-01'
--SET @QCJ1_WEND_DATE     = '2020-12-31'
--SET @WOFFSET            = 0
--SET @DETSUM             = 'D'

SELECT @SQL = 'SELECT CJFILE.CJ_BRNO,
                   CJFILE.CJ_COLLID, 
                   CAST(CJFILE.CJ_DATE AS VARCHAR(10)), 
                   CJFILE.CJ_START_TIME,
                   CJFILE.CJ_SEQNO,
                   CJFILE.CJ_ACCTNO,
                   CJFILE.CJ_ACTIVITY_CD, 
                   CJFILE.CJ_RESULT_CD, 
                   CJFILE.CJ_ACTION_CD, 
                   CJFILE.CJ_CON_STAT, 
                   CJFILE.CJ_REC_STAT, 
                   CAST(CJFILE.CJ_PROMISE_DATE1 AS VARCHAR(10)), 
                   CJFILE.CJ_PROMISE_AMT,
                   CJFILE.CJ_CUR_BAL,
                   CJFILE.CJ_PAST_DUE,'

IF @DETSUM = 'D'
   SELECT @SQL += ' ISNULL(BWFILE.BW_LNAME,''???'')'
IF @DETSUM = 'S'
   SELECT @SQL += ' ''  '''

SELECT @SQL += '  FROM DBO.CJFILE CJFILE '

IF @DETSUM = 'D'
   SELECT @SQL += ' INNER JOIN DBO.LNFILE LNFILE
		             ON LNFILE.LN_OWNBR   = CJFILE.CJ_BRNO
			        AND LNFILE.LN_ACCTNO = CJFILE.CJ_ACCTNO
                   
				   LEFT OUTER JOIN DBO.BWFILE BWFILE
			         ON BWFILE.BW_OWNBR  = LNFILE.LN_OWNBR
			        AND BWFILE.BW_SSNO   = LNFILE.LN_SSNO1'

SELECT @SQL += ' WHERE CJFILE.CJ_BRNO = @QCJ1_WBEG_BRNO
                   AND CJFILE.CJ_COLLID BETWEEN @QCJ1_WBEG_COLLID AND @QCJ1_WEND_COLLID
                   AND CJFILE.CJ_DATE   BETWEEN @QCJ1_WBEG_DATE   AND @QCJ1_WEND_DATE

                 ORDER BY CJFILE.CJ_BRNO,
                          CJFILE.CJ_COLLID,
                          CJFILE.CJ_DATE,
                          CJFILE.CJ_START_TIME,
                          CJFILE.CJ_SEQNO '

IF @DETSUM = 'D'
   SELECT @SQL += '  OFFSET @WOFFSET ROWS FETCH NEXT 20 ROWS ONLY'


SELECT @paramlist = '@QCJ1_WBEG_BRNO     AS INT,
                     @QCJ1_WBEG_COLLID   AS CHAR(3),
                     @QCJ1_WEND_COLLID   AS CHAR(3),
	                 @QCJ1_WBEG_DATE     AS DATE,
	                 @QCJ1_WEND_DATE     AS DATE,
	                 @WOFFSET            AS INT,
	                 @DETSUM             AS CHAR(1)'

EXEC sp_executesql @SQL, @paramlist, @QCJ1_WBEG_BRNO, @QCJ1_WBEG_COLLID, @QCJ1_WEND_COLLID, @QCJ1_WBEG_DATE,
                   @QCJ1_WEND_DATE,	@WOFFSET, @DETSUM 

END 
GO
