USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BYINQ_BYAFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_BYINQ_BYAFILE_SELECT              */
/*               PROGRAM NAME: LP/BYINQ.CBL                          */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 06/19/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: BYAFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_BYINQ_BYAFILE_SELECT]
    @QBY1_WBEG_DATE         AS INT,
    @QBY1_WEND_DATE         AS INT,
	@QBY1_WBEG_BRNO         AS INT,
	@QBY1_WEND_BRNO         AS INT,
	@QBY1_WBEG_CLASS        AS INT,
	@QBY1_WEND_CLASS        AS INT
    
 	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QBY1_WBEG_DATE      INT
--DECLARE @QBY1_WEND_DATE      INT
--DECLARE @QBY1_WBEG_BRNO      INT
--DECLARE @QBY1_WEND_BRNO      INT
--DECLARE @QBY1_WBEG_CLASS     INT
--DECLARE @QBY1_WEND_CLASS     INT
--
--SET @QBY1_WBEG_DATE          = 201901
--SET @QBY1_WEND_DATE          = 201912
--SET @QBY1_WBEG_BRNO          = 1 
--SET @QBY1_WEND_BRNO          = 9999
--SET @QBY1_WBEG_CLASS         = 0
--SET @QBY1_WEND_CLASS         = 999

  SELECT BYAFILE.BYA_DATE_CCYYMM,
         BYAFILE.BYA_BRNO,
         BYAFILE.BYA_CLASS,
         CAST(BYAFILE.BYA_LTOUCH_DATE AS VARCHAR(10)) AS BYA_LTOUCH_DATE,
         BYAFILE.BYA_NO_1_1_1,
         BYAFILE.BYA_AMT_1_1_1,
         BYAFILE.BYA_O2_1_1_1,
         BYAFILE.BYA_INT_1_1_1,
         BYAFILE.BYA_NO_1_1_2,
         BYAFILE.BYA_AMT_1_1_2,
         BYAFILE.BYA_O2_1_1_2,
         BYAFILE.BYA_INT_1_1_2,
         BYAFILE.BYA_NO_1_1_3,
         BYAFILE.BYA_AMT_1_1_3,
         BYAFILE.BYA_O2_1_1_3,
         BYAFILE.BYA_INT_1_1_3,
         BYAFILE.BYA_NO_1_1_4,
         BYAFILE.BYA_AMT_1_1_4,
         BYAFILE.BYA_O2_1_1_4,
         BYAFILE.BYA_INT_1_1_4,
         BYAFILE.BYA_NO_1_1_5,
         BYAFILE.BYA_AMT_1_1_5,
         BYAFILE.BYA_O2_1_1_5,
         BYAFILE.BYA_INT_1_1_5,
         BYAFILE.BYA_NO_1_1_6,
         BYAFILE.BYA_AMT_1_1_6,
         BYAFILE.BYA_O2_1_1_6,
         BYAFILE.BYA_INT_1_1_6,
         BYAFILE.BYA_NO_1_1_7,
         BYAFILE.BYA_AMT_1_1_7,
         BYAFILE.BYA_O2_1_1_7,
         BYAFILE.BYA_INT_1_1_7,
         BYAFILE.BYA_NO_1_1_8,
         BYAFILE.BYA_AMT_1_1_8,
         BYAFILE.BYA_O2_1_1_8,
         BYAFILE.BYA_INT_1_1_8,
         BYAFILE.BYA_NO_1_1_9,
         BYAFILE.BYA_AMT_1_1_9,
         BYAFILE.BYA_O2_1_1_9,
         BYAFILE.BYA_INT_1_1_9,
         BYAFILE.BYA_NO_1_1_10,
         BYAFILE.BYA_AMT_1_1_10,
         BYAFILE.BYA_O2_1_1_10,
         BYAFILE.BYA_INT_1_1_10,
         BYAFILE.BYA_NO_1_1_11,
         BYAFILE.BYA_AMT_1_1_11,
         BYAFILE.BYA_O2_1_1_11,
         BYAFILE.BYA_INT_1_1_11,
         BYAFILE.BYA_NO_1_2_1,
         BYAFILE.BYA_AMT_1_2_1,
         BYAFILE.BYA_O2_1_2_1,
         BYAFILE.BYA_INT_1_2_1,
         BYAFILE.BYA_NO_1_2_2,
         BYAFILE.BYA_AMT_1_2_2,
         BYAFILE.BYA_O2_1_2_2,
         BYAFILE.BYA_INT_1_2_2,
         BYAFILE.BYA_NO_1_2_3,
         BYAFILE.BYA_AMT_1_2_3,
         BYAFILE.BYA_O2_1_2_3,
         BYAFILE.BYA_INT_1_2_3,
         BYAFILE.BYA_NO_1_2_4,
         BYAFILE.BYA_AMT_1_2_4,
         BYAFILE.BYA_O2_1_2_4,
         BYAFILE.BYA_INT_1_2_4,
         BYAFILE.BYA_NO_1_2_5,
         BYAFILE.BYA_AMT_1_2_5,
         BYAFILE.BYA_O2_1_2_5,
         BYAFILE.BYA_INT_1_2_5,
         BYAFILE.BYA_NO_1_2_6,
         BYAFILE.BYA_AMT_1_2_6,
         BYAFILE.BYA_O2_1_2_6,
         BYAFILE.BYA_INT_1_2_6,
         BYAFILE.BYA_NO_1_2_7,
         BYAFILE.BYA_AMT_1_2_7,
         BYAFILE.BYA_O2_1_2_7,
         BYAFILE.BYA_INT_1_2_7,
         BYAFILE.BYA_NO_1_2_8,
         BYAFILE.BYA_AMT_1_2_8,
         BYAFILE.BYA_O2_1_2_8,
         BYAFILE.BYA_INT_1_2_8,
         BYAFILE.BYA_NO_1_2_9,
         BYAFILE.BYA_AMT_1_2_9,
         BYAFILE.BYA_O2_1_2_9,
         BYAFILE.BYA_INT_1_2_9,
         BYAFILE.BYA_NO_1_2_10,
         BYAFILE.BYA_AMT_1_2_10,
         BYAFILE.BYA_O2_1_2_10,
         BYAFILE.BYA_INT_1_2_10,
         BYAFILE.BYA_NO_1_2_11,
         BYAFILE.BYA_AMT_1_2_11,
         BYAFILE.BYA_O2_1_2_11,
         BYAFILE.BYA_INT_1_2_11,
         BYAFILE.BYA_NO_2_1_1,
         BYAFILE.BYA_AMT_2_1_1,
         BYAFILE.BYA_O2_2_1_1,
         BYAFILE.BYA_INT_2_1_1,
         BYAFILE.BYA_NO_2_1_2,
         BYAFILE.BYA_AMT_2_1_2,
         BYAFILE.BYA_O2_2_1_2,
         BYAFILE.BYA_INT_2_1_2,
         BYAFILE.BYA_NO_2_1_3,
         BYAFILE.BYA_AMT_2_1_3,
         BYAFILE.BYA_O2_2_1_3,
         BYAFILE.BYA_INT_2_1_3,
         BYAFILE.BYA_NO_2_1_4,
         BYAFILE.BYA_AMT_2_1_4,
         BYAFILE.BYA_O2_2_1_4,
         BYAFILE.BYA_INT_2_1_4,
         BYAFILE.BYA_NO_2_1_5,
         BYAFILE.BYA_AMT_2_1_5,
         BYAFILE.BYA_O2_2_1_5,
         BYAFILE.BYA_INT_2_1_5,
         BYAFILE.BYA_NO_2_1_6,
         BYAFILE.BYA_AMT_2_1_6,
         BYAFILE.BYA_O2_2_1_6,
         BYAFILE.BYA_INT_2_1_6,
         BYAFILE.BYA_NO_2_1_7,
         BYAFILE.BYA_AMT_2_1_7,
         BYAFILE.BYA_O2_2_1_7,
         BYAFILE.BYA_INT_2_1_7,
         BYAFILE.BYA_NO_2_1_8,
         BYAFILE.BYA_AMT_2_1_8,
         BYAFILE.BYA_O2_2_1_8,
         BYAFILE.BYA_INT_2_1_8,
         BYAFILE.BYA_NO_2_1_9,
         BYAFILE.BYA_AMT_2_1_9,
         BYAFILE.BYA_O2_2_1_9,
         BYAFILE.BYA_INT_2_1_9,
         BYAFILE.BYA_NO_2_1_10,
         BYAFILE.BYA_AMT_2_1_10,
         BYAFILE.BYA_O2_2_1_10,
         BYAFILE.BYA_INT_2_1_10,
         BYAFILE.BYA_NO_2_1_11,
         BYAFILE.BYA_AMT_2_1_11,
         BYAFILE.BYA_O2_2_1_11,
         BYAFILE.BYA_INT_2_1_11,
         BYAFILE.BYA_NO_2_2_1,
         BYAFILE.BYA_AMT_2_2_1,
         BYAFILE.BYA_O2_2_2_1,
         BYAFILE.BYA_INT_2_2_1,
         BYAFILE.BYA_NO_2_2_2,
         BYAFILE.BYA_AMT_2_2_2,
         BYAFILE.BYA_O2_2_2_2,
         BYAFILE.BYA_INT_2_2_2,
         BYAFILE.BYA_NO_2_2_3,
         BYAFILE.BYA_AMT_2_2_3,
         BYAFILE.BYA_O2_2_2_3,
         BYAFILE.BYA_INT_2_2_3,
         BYAFILE.BYA_NO_2_2_4,
         BYAFILE.BYA_AMT_2_2_4,
         BYAFILE.BYA_O2_2_2_4,
         BYAFILE.BYA_INT_2_2_4,
         BYAFILE.BYA_NO_2_2_5,
         BYAFILE.BYA_AMT_2_2_5,
         BYAFILE.BYA_O2_2_2_5,
         BYAFILE.BYA_INT_2_2_5,
         BYAFILE.BYA_NO_2_2_6,
         BYAFILE.BYA_AMT_2_2_6,
         BYAFILE.BYA_O2_2_2_6,
         BYAFILE.BYA_INT_2_2_6,
         BYAFILE.BYA_NO_2_2_7,
         BYAFILE.BYA_AMT_2_2_7,
         BYAFILE.BYA_O2_2_2_7,
         BYAFILE.BYA_INT_2_2_7,
         BYAFILE.BYA_NO_2_2_8,
         BYAFILE.BYA_AMT_2_2_8,
         BYAFILE.BYA_O2_2_2_8,
         BYAFILE.BYA_INT_2_2_8,
         BYAFILE.BYA_NO_2_2_9,
         BYAFILE.BYA_AMT_2_2_9,
         BYAFILE.BYA_O2_2_2_9,
         BYAFILE.BYA_INT_2_2_9,
         BYAFILE.BYA_NO_2_2_10,
         BYAFILE.BYA_AMT_2_2_10,
         BYAFILE.BYA_O2_2_2_10,
         BYAFILE.BYA_INT_2_2_10,
         BYAFILE.BYA_NO_2_2_11,
         BYAFILE.BYA_AMT_2_2_11,
         BYAFILE.BYA_O2_2_2_11,
         BYAFILE.BYA_INT_2_2_11,
         BYAFILE.BYA_NO_3_1_1,
         BYAFILE.BYA_AMT_3_1_1,
         BYAFILE.BYA_O2_3_1_1,
         BYAFILE.BYA_INT_3_1_1,
         BYAFILE.BYA_NO_3_1_2,
         BYAFILE.BYA_AMT_3_1_2,
         BYAFILE.BYA_O2_3_1_2,
         BYAFILE.BYA_INT_3_1_2,
         BYAFILE.BYA_NO_3_1_3,
         BYAFILE.BYA_AMT_3_1_3,
         BYAFILE.BYA_O2_3_1_3,
         BYAFILE.BYA_INT_3_1_3,
         BYAFILE.BYA_NO_3_1_4,
         BYAFILE.BYA_AMT_3_1_4,
         BYAFILE.BYA_O2_3_1_4,
         BYAFILE.BYA_INT_3_1_4,
         BYAFILE.BYA_NO_3_1_5,
         BYAFILE.BYA_AMT_3_1_5,
         BYAFILE.BYA_O2_3_1_5,
         BYAFILE.BYA_INT_3_1_5,
         BYAFILE.BYA_NO_3_1_6,
         BYAFILE.BYA_AMT_3_1_6,
         BYAFILE.BYA_O2_3_1_6,
         BYAFILE.BYA_INT_3_1_6,
         BYAFILE.BYA_NO_3_1_7,
         BYAFILE.BYA_AMT_3_1_7,
         BYAFILE.BYA_O2_3_1_7,
         BYAFILE.BYA_INT_3_1_7,
         BYAFILE.BYA_NO_3_1_8,
         BYAFILE.BYA_AMT_3_1_8,
         BYAFILE.BYA_O2_3_1_8,
         BYAFILE.BYA_INT_3_1_8,
         BYAFILE.BYA_NO_3_1_9,
         BYAFILE.BYA_AMT_3_1_9,
         BYAFILE.BYA_O2_3_1_9,
         BYAFILE.BYA_INT_3_1_9,
         BYAFILE.BYA_NO_3_1_10,
         BYAFILE.BYA_AMT_3_1_10,
         BYAFILE.BYA_O2_3_1_10,
         BYAFILE.BYA_INT_3_1_10,
         BYAFILE.BYA_NO_3_1_11,
         BYAFILE.BYA_AMT_3_1_11,
         BYAFILE.BYA_O2_3_1_11,
         BYAFILE.BYA_INT_3_1_11,
         BYAFILE.BYA_NO_3_2_1,
         BYAFILE.BYA_AMT_3_2_1,
         BYAFILE.BYA_O2_3_2_1,
         BYAFILE.BYA_INT_3_2_1,
         BYAFILE.BYA_NO_3_2_2,
         BYAFILE.BYA_AMT_3_2_2,
         BYAFILE.BYA_O2_3_2_2,
         BYAFILE.BYA_INT_3_2_2,
         BYAFILE.BYA_NO_3_2_3,
         BYAFILE.BYA_AMT_3_2_3,
         BYAFILE.BYA_O2_3_2_3,
         BYAFILE.BYA_INT_3_2_3,
         BYAFILE.BYA_NO_3_2_4,
         BYAFILE.BYA_AMT_3_2_4,
         BYAFILE.BYA_O2_3_2_4,
         BYAFILE.BYA_INT_3_2_4,
         BYAFILE.BYA_NO_3_2_5,
         BYAFILE.BYA_AMT_3_2_5,
         BYAFILE.BYA_O2_3_2_5,
         BYAFILE.BYA_INT_3_2_5,
         BYAFILE.BYA_NO_3_2_6,
         BYAFILE.BYA_AMT_3_2_6,
         BYAFILE.BYA_O2_3_2_6,
         BYAFILE.BYA_INT_3_2_6,
         BYAFILE.BYA_NO_3_2_7,
         BYAFILE.BYA_AMT_3_2_7,
         BYAFILE.BYA_O2_3_2_7,
         BYAFILE.BYA_INT_3_2_7,
         BYAFILE.BYA_NO_3_2_8,
         BYAFILE.BYA_AMT_3_2_8,
         BYAFILE.BYA_O2_3_2_8,
         BYAFILE.BYA_INT_3_2_8,
         BYAFILE.BYA_NO_3_2_9,
         BYAFILE.BYA_AMT_3_2_9,
         BYAFILE.BYA_O2_3_2_9,
         BYAFILE.BYA_INT_3_2_9,
         BYAFILE.BYA_NO_3_2_10,
         BYAFILE.BYA_AMT_3_2_10,
         BYAFILE.BYA_O2_3_2_10,
         BYAFILE.BYA_INT_3_2_10,
         BYAFILE.BYA_NO_3_2_11,
         BYAFILE.BYA_AMT_3_2_11,
         BYAFILE.BYA_O2_3_2_11,
         BYAFILE.BYA_INT_3_2_11,
         BYAFILE.BYA_NO_REPO_1_1_1,
         BYAFILE.BYA_AMT_REPO_1_1_1,
         BYAFILE.BYA_O2_REPO_1_1_1,
         BYAFILE.BYA_INT_REPO_1_1_1,
         BYAFILE.BYA_NO_REPO_1_1_2,
         BYAFILE.BYA_AMT_REPO_1_1_2,
         BYAFILE.BYA_O2_REPO_1_1_2,
         BYAFILE.BYA_INT_REPO_1_1_2,
         BYAFILE.BYA_NO_REPO_1_1_3,
         BYAFILE.BYA_AMT_REPO_1_1_3,
         BYAFILE.BYA_O2_REPO_1_1_3,
         BYAFILE.BYA_INT_REPO_1_1_3,
         BYAFILE.BYA_NO_REPO_1_1_4,
         BYAFILE.BYA_AMT_REPO_1_1_4,
         BYAFILE.BYA_O2_REPO_1_1_4,
         BYAFILE.BYA_INT_REPO_1_1_4,
         BYAFILE.BYA_NO_REPO_1_1_5,
         BYAFILE.BYA_AMT_REPO_1_1_5,
         BYAFILE.BYA_O2_REPO_1_1_5,
         BYAFILE.BYA_INT_REPO_1_1_5,
         BYAFILE.BYA_NO_REPO_1_2_1,
         BYAFILE.BYA_AMT_REPO_1_2_1,
         BYAFILE.BYA_O2_REPO_1_2_1,
         BYAFILE.BYA_INT_REPO_1_2_1,
         BYAFILE.BYA_NO_REPO_1_2_2,
         BYAFILE.BYA_AMT_REPO_1_2_2,
         BYAFILE.BYA_O2_REPO_1_2_2,
         BYAFILE.BYA_INT_REPO_1_2_2,
         BYAFILE.BYA_NO_REPO_1_2_3,
         BYAFILE.BYA_AMT_REPO_1_2_3,
         BYAFILE.BYA_O2_REPO_1_2_3,
         BYAFILE.BYA_INT_REPO_1_2_3,
         BYAFILE.BYA_NO_REPO_1_2_4,
         BYAFILE.BYA_AMT_REPO_1_2_4,
         BYAFILE.BYA_O2_REPO_1_2_4,
         BYAFILE.BYA_INT_REPO_1_2_4,
         BYAFILE.BYA_NO_REPO_1_2_5,
         BYAFILE.BYA_AMT_REPO_1_2_5,
         BYAFILE.BYA_O2_REPO_1_2_5,
         BYAFILE.BYA_INT_REPO_1_2_5,
         BYAFILE.BYA_NO_REPO_2_1_1,
         BYAFILE.BYA_AMT_REPO_2_1_1,
         BYAFILE.BYA_O2_REPO_2_1_1,
         BYAFILE.BYA_INT_REPO_2_1_1,
         BYAFILE.BYA_NO_REPO_2_1_2,
         BYAFILE.BYA_AMT_REPO_2_1_2,
         BYAFILE.BYA_O2_REPO_2_1_2,
         BYAFILE.BYA_INT_REPO_2_1_2,
         BYAFILE.BYA_NO_REPO_2_1_3,
         BYAFILE.BYA_AMT_REPO_2_1_3,
         BYAFILE.BYA_O2_REPO_2_1_3,
         BYAFILE.BYA_INT_REPO_2_1_3,
         BYAFILE.BYA_NO_REPO_2_1_4,
         BYAFILE.BYA_AMT_REPO_2_1_4,
         BYAFILE.BYA_O2_REPO_2_1_4,
         BYAFILE.BYA_INT_REPO_2_1_4,
         BYAFILE.BYA_NO_REPO_2_1_5,
         BYAFILE.BYA_AMT_REPO_2_1_5,
         BYAFILE.BYA_O2_REPO_2_1_5,
         BYAFILE.BYA_INT_REPO_2_1_5,
         BYAFILE.BYA_NO_REPO_2_2_1,
         BYAFILE.BYA_AMT_REPO_2_2_1,
         BYAFILE.BYA_O2_REPO_2_2_1,
         BYAFILE.BYA_INT_REPO_2_2_1,
         BYAFILE.BYA_NO_REPO_2_2_2,
         BYAFILE.BYA_AMT_REPO_2_2_2,
         BYAFILE.BYA_O2_REPO_2_2_2,
         BYAFILE.BYA_INT_REPO_2_2_2,
         BYAFILE.BYA_NO_REPO_2_2_3,
         BYAFILE.BYA_AMT_REPO_2_2_3,
         BYAFILE.BYA_O2_REPO_2_2_3,
         BYAFILE.BYA_INT_REPO_2_2_3,
         BYAFILE.BYA_NO_REPO_2_2_4,
         BYAFILE.BYA_AMT_REPO_2_2_4,
         BYAFILE.BYA_O2_REPO_2_2_4,
         BYAFILE.BYA_INT_REPO_2_2_4,
         BYAFILE.BYA_NO_REPO_2_2_5,
         BYAFILE.BYA_AMT_REPO_2_2_5,
         BYAFILE.BYA_O2_REPO_2_2_5,
         BYAFILE.BYA_INT_REPO_2_2_5,
         BYAFILE.BYA_NO_REPO_3_1_1,
         BYAFILE.BYA_AMT_REPO_3_1_1,
         BYAFILE.BYA_O2_REPO_3_1_1,
         BYAFILE.BYA_INT_REPO_3_1_1,
         BYAFILE.BYA_NO_REPO_3_1_2,
         BYAFILE.BYA_AMT_REPO_3_1_2,
         BYAFILE.BYA_O2_REPO_3_1_2,
         BYAFILE.BYA_INT_REPO_3_1_2,
         BYAFILE.BYA_NO_REPO_3_1_3,
         BYAFILE.BYA_AMT_REPO_3_1_3,
         BYAFILE.BYA_O2_REPO_3_1_3,
         BYAFILE.BYA_INT_REPO_3_1_3,
         BYAFILE.BYA_NO_REPO_3_1_4,
         BYAFILE.BYA_AMT_REPO_3_1_4,
         BYAFILE.BYA_O2_REPO_3_1_4,
         BYAFILE.BYA_INT_REPO_3_1_4,
         BYAFILE.BYA_NO_REPO_3_1_5,
         BYAFILE.BYA_AMT_REPO_3_1_5,
         BYAFILE.BYA_O2_REPO_3_1_5,
         BYAFILE.BYA_INT_REPO_3_1_5,
         BYAFILE.BYA_NO_REPO_3_2_1,
         BYAFILE.BYA_AMT_REPO_3_2_1,
         BYAFILE.BYA_O2_REPO_3_2_1,
         BYAFILE.BYA_INT_REPO_3_2_1,
         BYAFILE.BYA_NO_REPO_3_2_2,
         BYAFILE.BYA_AMT_REPO_3_2_2,
         BYAFILE.BYA_O2_REPO_3_2_2,
         BYAFILE.BYA_INT_REPO_3_2_2,
         BYAFILE.BYA_NO_REPO_3_2_3,
         BYAFILE.BYA_AMT_REPO_3_2_3,
         BYAFILE.BYA_O2_REPO_3_2_3,
         BYAFILE.BYA_INT_REPO_3_2_3,
         BYAFILE.BYA_NO_REPO_3_2_4,
         BYAFILE.BYA_AMT_REPO_3_2_4,
         BYAFILE.BYA_O2_REPO_3_2_4,
         BYAFILE.BYA_INT_REPO_3_2_4,
         BYAFILE.BYA_NO_REPO_3_2_5,
         BYAFILE.BYA_AMT_REPO_3_2_5,
         BYAFILE.BYA_O2_REPO_3_2_5,
         BYAFILE.BYA_INT_REPO_3_2_5,
         BYAFILE.BYA_NO_PL_1_1_1,
         BYAFILE.BYA_AMT_PL_1_1_1,
         BYAFILE.BYA_O2_PL_1_1_1,
         BYAFILE.BYA_INT_PL_1_1_1,
         BYAFILE.BYA_NO_PL_1_1_2,
         BYAFILE.BYA_AMT_PL_1_1_2,
         BYAFILE.BYA_O2_PL_1_1_2,
         BYAFILE.BYA_INT_PL_1_1_2,
         BYAFILE.BYA_NO_PL_1_1_3,
         BYAFILE.BYA_AMT_PL_1_1_3,
         BYAFILE.BYA_O2_PL_1_1_3,
         BYAFILE.BYA_INT_PL_1_1_3,
         BYAFILE.BYA_NO_PL_1_1_4,
         BYAFILE.BYA_AMT_PL_1_1_4,
         BYAFILE.BYA_O2_PL_1_1_4,
         BYAFILE.BYA_INT_PL_1_1_4,
         BYAFILE.BYA_NO_PL_1_1_5,
         BYAFILE.BYA_AMT_PL_1_1_5,
         BYAFILE.BYA_O2_PL_1_1_5,
         BYAFILE.BYA_INT_PL_1_1_5,
         BYAFILE.BYA_NO_PL_1_1_6,
         BYAFILE.BYA_AMT_PL_1_1_6,
         BYAFILE.BYA_O2_PL_1_1_6,
         BYAFILE.BYA_INT_PL_1_1_6,
         BYAFILE.BYA_NO_PL_1_1_7,
         BYAFILE.BYA_AMT_PL_1_1_7,
         BYAFILE.BYA_O2_PL_1_1_7,
         BYAFILE.BYA_INT_PL_1_1_7,
         BYAFILE.BYA_NO_PL_1_1_8,
         BYAFILE.BYA_AMT_PL_1_1_8,
         BYAFILE.BYA_O2_PL_1_1_8,
         BYAFILE.BYA_INT_PL_1_1_8,
         BYAFILE.BYA_NO_PL_1_1_9,
         BYAFILE.BYA_AMT_PL_1_1_9,
         BYAFILE.BYA_O2_PL_1_1_9,
         BYAFILE.BYA_INT_PL_1_1_9,
         BYAFILE.BYA_NO_PL_1_1_10,
         BYAFILE.BYA_AMT_PL_1_1_10,
         BYAFILE.BYA_O2_PL_1_1_10,
         BYAFILE.BYA_INT_PL_1_1_10,
         BYAFILE.BYA_NO_PL_1_2_1,
         BYAFILE.BYA_AMT_PL_1_2_1,
         BYAFILE.BYA_O2_PL_1_2_1,
         BYAFILE.BYA_INT_PL_1_2_1,
         BYAFILE.BYA_NO_PL_1_2_2,
         BYAFILE.BYA_AMT_PL_1_2_2,
         BYAFILE.BYA_O2_PL_1_2_2,
         BYAFILE.BYA_INT_PL_1_2_2,
         BYAFILE.BYA_NO_PL_1_2_3,
         BYAFILE.BYA_AMT_PL_1_2_3,
         BYAFILE.BYA_O2_PL_1_2_3,
         BYAFILE.BYA_INT_PL_1_2_3,
         BYAFILE.BYA_NO_PL_1_2_4,
         BYAFILE.BYA_AMT_PL_1_2_4,
         BYAFILE.BYA_O2_PL_1_2_4,
         BYAFILE.BYA_INT_PL_1_2_4,
         BYAFILE.BYA_NO_PL_1_2_5,
         BYAFILE.BYA_AMT_PL_1_2_5,
         BYAFILE.BYA_O2_PL_1_2_5,
         BYAFILE.BYA_INT_PL_1_2_5,
         BYAFILE.BYA_NO_PL_1_2_6,
         BYAFILE.BYA_AMT_PL_1_2_6,
         BYAFILE.BYA_O2_PL_1_2_6,
         BYAFILE.BYA_INT_PL_1_2_6,
         BYAFILE.BYA_NO_PL_1_2_7,
         BYAFILE.BYA_AMT_PL_1_2_7,
         BYAFILE.BYA_O2_PL_1_2_7,
         BYAFILE.BYA_INT_PL_1_2_7,
         BYAFILE.BYA_NO_PL_1_2_8,
         BYAFILE.BYA_AMT_PL_1_2_8,
         BYAFILE.BYA_O2_PL_1_2_8,
         BYAFILE.BYA_INT_PL_1_2_8,
         BYAFILE.BYA_NO_PL_1_2_9,
         BYAFILE.BYA_AMT_PL_1_2_9,
         BYAFILE.BYA_O2_PL_1_2_9,
         BYAFILE.BYA_INT_PL_1_2_9,
         BYAFILE.BYA_NO_PL_1_2_10,
         BYAFILE.BYA_AMT_PL_1_2_10,
         BYAFILE.BYA_O2_PL_1_2_10,
         BYAFILE.BYA_INT_PL_1_2_10,
         BYAFILE.BYA_NO_PL_2_1_1,
         BYAFILE.BYA_AMT_PL_2_1_1,
         BYAFILE.BYA_O2_PL_2_1_1,
         BYAFILE.BYA_INT_PL_2_1_1,
         BYAFILE.BYA_NO_PL_2_1_2,
         BYAFILE.BYA_AMT_PL_2_1_2,
         BYAFILE.BYA_O2_PL_2_1_2,
         BYAFILE.BYA_INT_PL_2_1_2,
         BYAFILE.BYA_NO_PL_2_1_3,
         BYAFILE.BYA_AMT_PL_2_1_3,
         BYAFILE.BYA_O2_PL_2_1_3,
         BYAFILE.BYA_INT_PL_2_1_3,
         BYAFILE.BYA_NO_PL_2_1_4,
         BYAFILE.BYA_AMT_PL_2_1_4,
         BYAFILE.BYA_O2_PL_2_1_4,
         BYAFILE.BYA_INT_PL_2_1_4,
         BYAFILE.BYA_NO_PL_2_1_5,
         BYAFILE.BYA_AMT_PL_2_1_5,
         BYAFILE.BYA_O2_PL_2_1_5,
         BYAFILE.BYA_INT_PL_2_1_5,
         BYAFILE.BYA_NO_PL_2_1_6,
         BYAFILE.BYA_AMT_PL_2_1_6,
         BYAFILE.BYA_O2_PL_2_1_6,
         BYAFILE.BYA_INT_PL_2_1_6,
         BYAFILE.BYA_NO_PL_2_1_7,
         BYAFILE.BYA_AMT_PL_2_1_7,
         BYAFILE.BYA_O2_PL_2_1_7,
         BYAFILE.BYA_INT_PL_2_1_7,
         BYAFILE.BYA_NO_PL_2_1_8,
         BYAFILE.BYA_AMT_PL_2_1_8,
         BYAFILE.BYA_O2_PL_2_1_8,
         BYAFILE.BYA_INT_PL_2_1_8,
         BYAFILE.BYA_NO_PL_2_1_9,
         BYAFILE.BYA_AMT_PL_2_1_9,
         BYAFILE.BYA_O2_PL_2_1_9,
         BYAFILE.BYA_INT_PL_2_1_9,
         BYAFILE.BYA_NO_PL_2_1_10,
         BYAFILE.BYA_AMT_PL_2_1_10,
         BYAFILE.BYA_O2_PL_2_1_10,
         BYAFILE.BYA_INT_PL_2_1_10,
         BYAFILE.BYA_NO_PL_2_2_1,
         BYAFILE.BYA_AMT_PL_2_2_1,
         BYAFILE.BYA_O2_PL_2_2_1,
         BYAFILE.BYA_INT_PL_2_2_1,
         BYAFILE.BYA_NO_PL_2_2_2,
         BYAFILE.BYA_AMT_PL_2_2_2,
         BYAFILE.BYA_O2_PL_2_2_2,
         BYAFILE.BYA_INT_PL_2_2_2,
         BYAFILE.BYA_NO_PL_2_2_3,
         BYAFILE.BYA_AMT_PL_2_2_3,
         BYAFILE.BYA_O2_PL_2_2_3,
         BYAFILE.BYA_INT_PL_2_2_3,
         BYAFILE.BYA_NO_PL_2_2_4,
         BYAFILE.BYA_AMT_PL_2_2_4,
         BYAFILE.BYA_O2_PL_2_2_4,
         BYAFILE.BYA_INT_PL_2_2_4,
         BYAFILE.BYA_NO_PL_2_2_5,
         BYAFILE.BYA_AMT_PL_2_2_5,
         BYAFILE.BYA_O2_PL_2_2_5,
         BYAFILE.BYA_INT_PL_2_2_5,
         BYAFILE.BYA_NO_PL_2_2_6,
         BYAFILE.BYA_AMT_PL_2_2_6,
         BYAFILE.BYA_O2_PL_2_2_6,
         BYAFILE.BYA_INT_PL_2_2_6,
         BYAFILE.BYA_NO_PL_2_2_7,
         BYAFILE.BYA_AMT_PL_2_2_7,
         BYAFILE.BYA_O2_PL_2_2_7,
         BYAFILE.BYA_INT_PL_2_2_7,
         BYAFILE.BYA_NO_PL_2_2_8,
         BYAFILE.BYA_AMT_PL_2_2_8,
         BYAFILE.BYA_O2_PL_2_2_8,
         BYAFILE.BYA_INT_PL_2_2_8,
         BYAFILE.BYA_NO_PL_2_2_9,
         BYAFILE.BYA_AMT_PL_2_2_9,
         BYAFILE.BYA_O2_PL_2_2_9,
         BYAFILE.BYA_INT_PL_2_2_9,
         BYAFILE.BYA_NO_PL_2_2_10,
         BYAFILE.BYA_AMT_PL_2_2_10,
         BYAFILE.BYA_O2_PL_2_2_10,
         BYAFILE.BYA_INT_PL_2_2_10,
         BYAFILE.BYA_NO_PL_3_1_1,
         BYAFILE.BYA_AMT_PL_3_1_1,
         BYAFILE.BYA_O2_PL_3_1_1,
         BYAFILE.BYA_INT_PL_3_1_1,
         BYAFILE.BYA_NO_PL_3_1_2,
         BYAFILE.BYA_AMT_PL_3_1_2,
         BYAFILE.BYA_O2_PL_3_1_2,
         BYAFILE.BYA_INT_PL_3_1_2,
         BYAFILE.BYA_NO_PL_3_1_3,
         BYAFILE.BYA_AMT_PL_3_1_3,
         BYAFILE.BYA_O2_PL_3_1_3,
         BYAFILE.BYA_INT_PL_3_1_3,
         BYAFILE.BYA_NO_PL_3_1_4,
         BYAFILE.BYA_AMT_PL_3_1_4,
         BYAFILE.BYA_O2_PL_3_1_4,
         BYAFILE.BYA_INT_PL_3_1_4,
         BYAFILE.BYA_NO_PL_3_1_5,
         BYAFILE.BYA_AMT_PL_3_1_5,
         BYAFILE.BYA_O2_PL_3_1_5,
         BYAFILE.BYA_INT_PL_3_1_5,
         BYAFILE.BYA_NO_PL_3_1_6,
         BYAFILE.BYA_AMT_PL_3_1_6,
         BYAFILE.BYA_O2_PL_3_1_6,
         BYAFILE.BYA_INT_PL_3_1_6,
         BYAFILE.BYA_NO_PL_3_1_7,
         BYAFILE.BYA_AMT_PL_3_1_7,
         BYAFILE.BYA_O2_PL_3_1_7,
         BYAFILE.BYA_INT_PL_3_1_7,
         BYAFILE.BYA_NO_PL_3_1_8,
         BYAFILE.BYA_AMT_PL_3_1_8,
         BYAFILE.BYA_O2_PL_3_1_8,
         BYAFILE.BYA_INT_PL_3_1_8,
         BYAFILE.BYA_NO_PL_3_1_9,
         BYAFILE.BYA_AMT_PL_3_1_9,
         BYAFILE.BYA_O2_PL_3_1_9,
         BYAFILE.BYA_INT_PL_3_1_9,
         BYAFILE.BYA_NO_PL_3_1_10,
         BYAFILE.BYA_AMT_PL_3_1_10,
         BYAFILE.BYA_O2_PL_3_1_10,
         BYAFILE.BYA_INT_PL_3_1_10,
         BYAFILE.BYA_NO_PL_3_2_1,
         BYAFILE.BYA_AMT_PL_3_2_1,
         BYAFILE.BYA_O2_PL_3_2_1,
         BYAFILE.BYA_INT_PL_3_2_1,
         BYAFILE.BYA_NO_PL_3_2_2,
         BYAFILE.BYA_AMT_PL_3_2_2,
         BYAFILE.BYA_O2_PL_3_2_2,
         BYAFILE.BYA_INT_PL_3_2_2,
         BYAFILE.BYA_NO_PL_3_2_3,
         BYAFILE.BYA_AMT_PL_3_2_3,
         BYAFILE.BYA_O2_PL_3_2_3,
         BYAFILE.BYA_INT_PL_3_2_3,
         BYAFILE.BYA_NO_PL_3_2_4,
         BYAFILE.BYA_AMT_PL_3_2_4,
         BYAFILE.BYA_O2_PL_3_2_4,
         BYAFILE.BYA_INT_PL_3_2_4,
         BYAFILE.BYA_NO_PL_3_2_5,
         BYAFILE.BYA_AMT_PL_3_2_5,
         BYAFILE.BYA_O2_PL_3_2_5,
         BYAFILE.BYA_INT_PL_3_2_5,
         BYAFILE.BYA_NO_PL_3_2_6,
         BYAFILE.BYA_AMT_PL_3_2_6,
         BYAFILE.BYA_O2_PL_3_2_6,
         BYAFILE.BYA_INT_PL_3_2_6,
         BYAFILE.BYA_NO_PL_3_2_7,
         BYAFILE.BYA_AMT_PL_3_2_7,
         BYAFILE.BYA_O2_PL_3_2_7,
         BYAFILE.BYA_INT_PL_3_2_7,
         BYAFILE.BYA_NO_PL_3_2_8,
         BYAFILE.BYA_AMT_PL_3_2_8,
         BYAFILE.BYA_O2_PL_3_2_8,
         BYAFILE.BYA_INT_PL_3_2_8,
         BYAFILE.BYA_NO_PL_3_2_9,
         BYAFILE.BYA_AMT_PL_3_2_9,
         BYAFILE.BYA_O2_PL_3_2_9,
         BYAFILE.BYA_INT_PL_3_2_9,
         BYAFILE.BYA_NO_PL_3_2_10,
         BYAFILE.BYA_AMT_PL_3_2_10,
         BYAFILE.BYA_O2_PL_3_2_10,
         BYAFILE.BYA_INT_PL_3_2_10,
         BYAFILE.BYA_DLRVPRIN_1_1_1,
         BYAFILE.BYA_DLRVPRIN_1_1_2,
         BYAFILE.BYA_DLRVPRIN_1_1_3,
         BYAFILE.BYA_DLRVCHGS_1_1_1,
         BYAFILE.BYA_DLRVCHGS_1_1_2,
         BYAFILE.BYA_DLRVCHGS_1_1_3,
         BYAFILE.BYA_DLPARVHELD_1_1,
         BYAFILE.BYA_DLRVPRIN_1_2_1,
         BYAFILE.BYA_DLRVPRIN_1_2_2,
         BYAFILE.BYA_DLRVPRIN_1_2_3,
         BYAFILE.BYA_DLRVCHGS_1_2_1,
         BYAFILE.BYA_DLRVCHGS_1_2_2,
         BYAFILE.BYA_DLRVCHGS_1_2_3,
         BYAFILE.BYA_DLPARVHELD_1_2,
         BYAFILE.BYA_DLRVPRIN_2_1_1,
         BYAFILE.BYA_DLRVPRIN_2_1_2,
         BYAFILE.BYA_DLRVPRIN_2_1_3,
         BYAFILE.BYA_DLRVCHGS_2_1_1,
         BYAFILE.BYA_DLRVCHGS_2_1_2,
         BYAFILE.BYA_DLRVCHGS_2_1_3,
         BYAFILE.BYA_DLPARVHELD_2_1,
         BYAFILE.BYA_DLRVPRIN_2_2_1,
         BYAFILE.BYA_DLRVPRIN_2_2_2,
         BYAFILE.BYA_DLRVPRIN_2_2_3,
         BYAFILE.BYA_DLRVCHGS_2_2_1,
         BYAFILE.BYA_DLRVCHGS_2_2_2,
         BYAFILE.BYA_DLRVCHGS_2_2_3,
         BYAFILE.BYA_DLPARVHELD_2_2,
         BYAFILE.BYA_DLRVPRIN_3_1_1,
         BYAFILE.BYA_DLRVPRIN_3_1_2,
         BYAFILE.BYA_DLRVPRIN_3_1_3,
         BYAFILE.BYA_DLRVCHGS_3_1_1,
         BYAFILE.BYA_DLRVCHGS_3_1_2,
         BYAFILE.BYA_DLRVCHGS_3_1_3,
         BYAFILE.BYA_DLPARVHELD_3_1,
         BYAFILE.BYA_DLRVPRIN_3_2_1,
         BYAFILE.BYA_DLRVPRIN_3_2_2,
         BYAFILE.BYA_DLRVPRIN_3_2_3,
         BYAFILE.BYA_DLRVCHGS_3_2_1,
         BYAFILE.BYA_DLRVCHGS_3_2_2,
         BYAFILE.BYA_DLRVCHGS_3_2_3,
         BYAFILE.BYA_DLPARVHELD_3_2
 
    FROM DBO.BYAFILE 
   
   WHERE BYAFILE.BYA_DATE_CCYYMM BETWEEN @QBY1_WBEG_DATE  
                                     AND @QBY1_WEND_DATE
     AND BYAFILE.BYA_BRNO        BETWEEN @QBY1_WBEG_BRNO  
                                     AND @QBY1_WEND_BRNO
     AND BYAFILE.BYA_CLASS       BETWEEN @QBY1_WBEG_CLASS
	                                 AND @QBY1_WEND_CLASS 
   ORDER BY BYAFILE.BYA_DATE_CCYYMM, 
            BYAFILE.BYA_BRNO, 
            BYAFILE.BYA_CLASS; 
                       
END
GO
