USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_COLLET_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_COLLET_LNFILE_SELECT              */
/*               PROGRAM NAME: LP/COLLET.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE, BWFILE, LCFILE                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_COLLET_LNFILE_SELECT]
    @QLN3_WBEG_OWNBR      AS INT,
	@QLN3_WBEG_CLASS      AS INT,
	@QLN3_WEND_CLASS      AS INT,
    @QWS_ZBAL_ISO         AS CHAR(1) 
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN3_WBEG_OWNBR      INT
--DECLARE @QLN3_WBEG_CLASS      INT
--DECLARE @QLN3_WEND_CLASS      INT
--DECLARE @QWS_ZBAL_ISO         CHAR(1)

--SET     @QLN3_WBEG_OWNBR      = 10
--SET     @QLN3_WBEG_CLASS      = 000   
--SET     @QLN3_WEND_CLASS      = 999
--SET     @QWS_ZBAL_ISO         = 'I' 

   SELECT LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_SUBCLASS,
          LNFILE.LN_LAWCODE,
          LNFILE.LN_SSNO1,
          LNFILE.LN_MAKERCD1,
          LNFILE.LN_SSNO2,
          LNFILE.LN_MAKERCD2, 
          LNFILE.LN_SSNO3,
          LNFILE.LN_MAKERCD3, 
          LNFILE.LN_SSNO4,
          LNFILE.LN_MAKERCD4, 
          LNFILE.LN_ORGST, 
          LNFILE.LN_SPRCLASS,
          LNFILE.LN_POCD, 
          LNFILE.LN_PLCD, 
          LNFILE.LN_SERVACCT, 
          LNFILE.LN_PAY_SCHLD_FG, 
          LNFILE.LN_STATFLAGS, 
          CAST(LNFILE.LN_LOANDATE       AS VARCHAR(10)), 
          CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)), 
          CAST(LNFILE.LN_1STPYDATE      AS VARCHAR(10)), 
          CAST(LNFILE.LN_PLDATE         AS VARCHAR(10)), 
          LNFILE.LN_ORGTERM,
          LNFILE.LN_1STPYAMT,
          LNFILE.LN_NOREGPY,
          LNFILE.LN_REGPYAMT,
          LNFILE.LN_LASTPYAMT,
          LNFILE.LN_PY_YYYYMM_RECDEL,
          LNFILE.LN_MTD_PAYS_RECDEL,
          LNFILE.LN_CURBAL,
          LNFILE.LN_INTBAL,
          LNFILE.LN_LCBAL,
          LNFILE.LN_OTHBAL,
          LNFILE.LN_ANTICERN_1,
          LNFILE.LN_ANTICERN_2,
          LNFILE.LN_ANTICERN_3,
          LNFILE.LN_ANTICERN_4,
          LNFILE.LN_ANTICERN_5,
          LNFILE.LN_ANTICERN_6,
          LNFILE.LN_ANTICERN_7,
          LNFILE.LN_ANTICERN_8,
          LNFILE.LN_ANTICERN_9,
          LNFILE.LN_ANTICERN_10,
          LNFILE.LN_ANTICADJ_1,
          LNFILE.LN_ANTICADJ_2,
          LNFILE.LN_ANTICADJ_3,
          LNFILE.LN_ANTICADJ_4,
          LNFILE.LN_ANTICADJ_5,
          LNFILE.LN_ANTICADJ_6,
          LNFILE.LN_ANTICADJ_7,
          LNFILE.LN_ANTICADJ_8,
          LNFILE.LN_ANTICADJ_9,
          LNFILE.LN_ANTICADJ_10,
          LNFILE.LN_UFERN_1,
          LNFILE.LN_UFERN_2,
          LNFILE.LN_UFERN_3,
          LNFILE.LN_UFERN_4,
          LNFILE.LN_UFERN_5,
          LNFILE.LN_UFERN_6,
          LNFILE.LN_UFERN_7,
          LNFILE.LN_UFERN_8,
          LNFILE.LN_UFERN_9,
          LNFILE.LN_UFERN_10,
          LNFILE.LN_ACCERN_1,
          LNFILE.LN_ACCERN_2,
          LNFILE.LN_ACCERN_3,
          LNFILE.LN_ACCERN_4,
          LNFILE.LN_ACCERN_5,
          LNFILE.LN_ACCERN_6,
          LNFILE.LN_ACCERN_7,
          LNFILE.LN_ACCERN_8,
          LNFILE.LN_ACCERN_9,
          LNFILE.LN_ACCERN_10,
          LNFILE.LN_TOTPAYMNTD,
          LNFILE.LN_TOTNODEF,
          LNFILE.LN_TOTNOALDEL,
          CAST(LNFILE.LN_DATE_PAID_LAST AS VARCHAR(10)), 
          LNFILE.LN_SUM_ORGTERM,
          LNFILE.LN_UNITPER_CD,
          LNFILE.LN_UNITPER_FREQ,
          ISNULL(BWFILE.BW_OWNBR, 0),
          ISNULL(BWFILE.BW_SSNO, 0),
          ISNULL(BWFILE.BW_LNAME,' '),
          ISNULL(BWFILE.BW_FNAME,' '),
          ISNULL(BWFILE.BW_SOLICIT,' '),
          ISNULL(LCFILE.LC_CODE, 0),
          ISNULL(LCFILE.LC_DESC,' ') 

     FROM DBO.LNFILE  LNFILE

	 LEFT OUTER JOIN 
          DBO.BWFILE  BWFILE
       ON (  LNFILE.LN_OWNBR          = BWFILE.BW_OWNBR	
      AND    LNFILE.LN_SSNO1          = BWFILE.BW_SSNO )

     LEFT OUTER JOIN 
          DBO.LCFILE  LCFILE 
       ON (  LNFILE.LN_CLASS         = LCFILE.LC_CODE  )

    WHERE (  LNFILE.LN_OWNBR         = @QLN3_WBEG_OWNBR
      AND    LNFILE.LN_CLASS   BETWEEN @QLN3_WBEG_CLASS
                                   AND @QLN3_WEND_CLASS  )

      AND (  LNFILE.LN_POCD     NOT IN ('**', '*I', '*R', '*U'))
 
      AND (  LNFILE.LN_PLDATE        = '1900-01-01'  )         

      AND  (( @QWS_ZBAL_ISO          = 'I' )
	   OR  (  @QWS_ZBAL_ISO          = 'O' 
	  AND     LNFILE.LN_CURBAL       = 0
	  AND     LNFILE.LN_INTBAL       = 0
      AND     LNFILE.LN_LCBAL        = 0 
      AND     LNFILE.LN_OTHBAL       = 0 )
 	   OR  (  @QWS_ZBAL_ISO          = 'S' 
	   OR     LNFILE.LN_CURBAL      != 0
	   OR     LNFILE.LN_INTBAL      != 0
       OR     LNFILE.LN_LCBAL       != 0 
       OR     LNFILE.LN_OTHBAL      != 0 )) 

    ORDER BY LNFILE.LN_OWNBR,
             LNFILE.LN_CLASS,
             LNFILE.LN_ACCTNO; 
             
END
GO
