USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BNKRP1_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_BNKRP1_LNFILE_SELECT              */
/*               PROGRAM NAME: LP/BNKRP1.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE, BWFILE, CDFILE                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_BNKRP1_LNFILE_SELECT]
    @QLN3_WBEG_OWNBR      AS INT,
	@QLN3_WBEG_CLASS      AS INT,
	@QLN3_WEND_CLASS      AS INT,
    @QWS_PL               AS CHAR(1),
	@QWS_SERVA            AS CHAR(1),
    @QWS_ZBAL             AS CHAR(1),
    @QWS_SALEFIN          AS CHAR(1),
    @QWS_BULK             AS CHAR(1),
    @QWS_REPO             AS CHAR(1),
    @QWS_SEC_SECURED      AS CHAR(1),
    @QWS_SEC_UNSECURED    AS CHAR(1),
    @QWS_SEC_REAL_ESTATE  AS CHAR(1)
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN3_WBEG_OWNBR      INT
--DECLARE @QLN3_WBEG_CLASS      INT
--DECLARE @QLN3_WEND_CLASS      INT
--DECLARE @QWS_PL               CHAR(1)
--DECLARE @QWS_SERVA            CHAR(1)
--DECLARE @QWS_ZBAL             CHAR(1)
--DECLARE @QWS_SALEFIN          CHAR(1)
--DECLARE @QWS_BULK             CHAR(1)
--DECLARE @QWS_REPO             CHAR(1)
--DECLARE @QWS_SEC_SECURED      CHAR(1)
--DECLARE @QWS_SEC_UNSECURED    CHAR(1)
--DECLARE @QWS_SEC_REAL_ESTATE  CHAR(1)

--SET     @QLN3_WBEG_OWNBR      = 10
--SET     @QLN3_WBEG_CLASS      = 000   
--SET     @QLN3_WEND_CLASS      = 999
--SET     @QWS_PL               = 'I'
--SET     @QWS_SERVA            = 'I'
--SET     @QWS_ZBAL             = 'I'
--SET     @QWS_SALEFIN          = 'I'
--SET     @QWS_BULK             = 'I'
--SET     @QWS_REPO             = 'I'
--SET     @QWS_SEC_SECURED      = 'S' 
--SET     @QWS_SEC_UNSECURED    = 'U' 
--SET     @QWS_SEC_REAL_ESTATE  = 'R' 

   SELECT LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_SUBCLASS,
          LNFILE.LN_LAWCODE,
          LNFILE.LN_SSNO1,
          LNFILE.LN_MAKERCD1, 
          LNFILE.LN_SSNO2,
          LNFILE.LN_MAKERCD2, 
          LNFILE.LN_SSNO3,
          LNFILE.LN_MAKERCD3, 
          LNFILE.LN_SSNO4,
          LNFILE.LN_MAKERCD4, 
          LNFILE.LN_ORGST, 
          LNFILE.LN_ORGBR,
          LNFILE.LN_SPRCLASS,
          LNFILE.LN_CONVERCD, 
          LNFILE.LN_MIDSTREAM, 
          LNFILE.LN_PURCD, 
          LNFILE.LN_SRCD, 
          LNFILE.LN_COLLCD,
          LNFILE.LN_POCD,
          LNFILE.LN_PLCD,
          LNFILE.LN_STATUSFG,
          LNFILE.LN_SALEFIN,
          LNFILE.LN_SERVACCT,
          LNFILE.LN_LOANTYPE,
          LNFILE.LN_ADDON_FG,
          LNFILE.LN_PAY_SCHLD_FG,
          LNFILE.LN_STATFLAGS,
          CAST(LNFILE.LN_ENTDATE         AS VARCHAR(10)), 
          CAST(LNFILE.LN_LOANDATE        AS VARCHAR(10)), 
          CAST(LNFILE.LN_PURDATE         AS VARCHAR(10)), 
          CAST(LNFILE.LN_INTDATE         AS VARCHAR(10)), 
          CAST(LNFILE.LN_CASHDATE        AS VARCHAR(10)), 
          CAST(LNFILE.LN_RESCISSION_DATE AS VARCHAR(10)), 
          CAST(LNFILE.LN_ORIG_1STPYDATE  AS VARCHAR(10)), 
          CAST(LNFILE.LN_1STPYDATE       AS VARCHAR(10)), 
          CAST(LNFILE.LN_JDDATE          AS VARCHAR(10)), 
          CAST(LNFILE.LN_PLDATE          AS VARCHAR(10)), 
          CAST(LNFILE.LN_ACCELDATE       AS VARCHAR(10)), 
          CAST(LNFILE.LN_REDUDATE        AS VARCHAR(10)), 
          LNFILE.LN_APRATE,
          LNFILE.LN_EFFRATE,
          LNFILE.LN_SMPRATE,
          LNFILE.LN_OVRDRATE,
          LNFILE.LN_JDRATE,
          LNFILE.LN_ACCRATE,
          LNFILE.LN_LNAMT,
          LNFILE.LN_FINCHG,
          LNFILE.LN_INTCHG,
          LNFILE.LN_SERCHG,
          LNFILE.LN_EXTCHG,
          LNFILE.LN_MAINTFEE,
          LNFILE.LN_POINTS,
          LNFILE.LN_PROCEEDS,
          LNFILE.LN_ORGTERM,
          LNFILE.LN_1STPYAMT,
          LNFILE.LN_NOREGPY,
          LNFILE.LN_REGPYAMT,
          LNFILE.LN_LASTPYAMT,
          LNFILE.LN_FEECODE_1, 
          LNFILE.LN_FEECODE_2, 
          LNFILE.LN_FEECODE_3, 
          LNFILE.LN_FEECODE_4, 
          LNFILE.LN_FEECODE_5, 
          LNFILE.LN_FEECODE_6, 
          LNFILE.LN_FEECODE_7, 
          LNFILE.LN_FEECODE_8, 
          LNFILE.LN_FEECODE_9, 
          LNFILE.LN_FEECODE_10, 
          LNFILE.LN_FEECODE_11, 				
          LNFILE.LN_FEECODE_12, 				
          LNFILE.LN_FEECODE_13, 				
          LNFILE.LN_FEECODE_14, 				
          LNFILE.LN_FEECODE_15, 				
          LNFILE.LN_FEECODE_16, 				
          LNFILE.LN_FEECODE_17, 				
          LNFILE.LN_FEECODE_18, 				
          LNFILE.LN_FEECODE_19, 				
          LNFILE.LN_FEECODE_20, 				
          LNFILE.LN_FEEAMT_1,
          LNFILE.LN_FEEAMT_2,
          LNFILE.LN_FEEAMT_3,
          LNFILE.LN_FEEAMT_4,
          LNFILE.LN_FEEAMT_5,
          LNFILE.LN_FEEAMT_6,
          LNFILE.LN_FEEAMT_7,
          LNFILE.LN_FEEAMT_8,
          LNFILE.LN_FEEAMT_9,
          LNFILE.LN_FEEAMT_10,
          LNFILE.LN_FEEAMT_11,			
          LNFILE.LN_FEEAMT_12,			
          LNFILE.LN_FEEAMT_13,			
          LNFILE.LN_FEEAMT_14,			
          LNFILE.LN_FEEAMT_15,			
          LNFILE.LN_FEEAMT_16,			
          LNFILE.LN_FEEAMT_17,			
          LNFILE.LN_FEEAMT_18,			
          LNFILE.LN_FEEAMT_19,			
          LNFILE.LN_FEEAMT_20,			
          LNFILE.LN_FEEOURS_1, 
          LNFILE.LN_FEEOURS_2, 
          LNFILE.LN_FEEOURS_3, 
          LNFILE.LN_FEEOURS_4, 
          LNFILE.LN_FEEOURS_5, 
          LNFILE.LN_FEEOURS_6, 
          LNFILE.LN_FEEOURS_7, 
          LNFILE.LN_FEEOURS_8, 
          LNFILE.LN_FEEOURS_9, 
          LNFILE.LN_FEEOURS_10, 
          LNFILE.LN_FEEOURS_11, 			
          LNFILE.LN_FEEOURS_12, 			
          LNFILE.LN_FEEOURS_13, 			
          LNFILE.LN_FEEOURS_14, 			
          LNFILE.LN_FEEOURS_15, 			
          LNFILE.LN_FEEOURS_16, 			
          LNFILE.LN_FEEOURS_17, 			
          LNFILE.LN_FEEOURS_18, 			
          LNFILE.LN_FEEOURS_19, 			
          LNFILE.LN_FEEOURS_20, 			
          LNFILE.LN_FEEFINCHG_1, 
          LNFILE.LN_FEEFINCHG_2, 
          LNFILE.LN_FEEFINCHG_3, 
          LNFILE.LN_FEEFINCHG_4, 
          LNFILE.LN_FEEFINCHG_5, 
          LNFILE.LN_FEEFINCHG_6, 
          LNFILE.LN_FEEFINCHG_7, 
          LNFILE.LN_FEEFINCHG_8, 
          LNFILE.LN_FEEFINCHG_9, 
          LNFILE.LN_FEEFINCHG_10, 
          LNFILE.LN_FEEFINCHG_11, 			
          LNFILE.LN_FEEFINCHG_12, 			
          LNFILE.LN_FEEFINCHG_13, 			
          LNFILE.LN_FEEFINCHG_14, 			
          LNFILE.LN_FEEFINCHG_15, 			
          LNFILE.LN_FEEFINCHG_16, 			
          LNFILE.LN_FEEFINCHG_17, 			
          LNFILE.LN_FEEFINCHG_18, 			
          LNFILE.LN_FEEFINCHG_19, 			
          LNFILE.LN_FEEFINCHG_20, 			
          LNFILE.LN_INSURED, 
          LNFILE.LN_INSTYPES, 
          LNFILE.LN_INSCOMP_1,
          LNFILE.LN_INSCOMP_2,
          LNFILE.LN_INSCOMP_3,
          LNFILE.LN_INSCOMP_4,
          LNFILE.LN_INSCOMP_5,
          LNFILE.LN_INSCOMP_6,
          LNFILE.LN_INSCOMP_7,
          LNFILE.LN_INSCOMP_8,
          LNFILE.LN_INSCOMP_9,
          LNFILE.LN_INSCOMP_10,
          LNFILE.LN_INSOURS_1, 
          LNFILE.LN_INSOURS_2, 
          LNFILE.LN_INSOURS_3, 
          LNFILE.LN_INSOURS_4, 
          LNFILE.LN_INSOURS_5, 
          LNFILE.LN_INSOURS_6, 
          LNFILE.LN_INSOURS_7, 
          LNFILE.LN_INSOURS_8, 
          LNFILE.LN_INSOURS_9, 
          LNFILE.LN_INSOURS_10, 
          CAST(LNFILE.LN_INSEFF_DATE_1  AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_2	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_3	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_4  AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_5	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_6	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_7	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_8	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_9	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_10	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_1	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_2	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_3	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_4	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_5	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_6	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_7	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_8	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_9	AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_10 AS VARCHAR(10)), 
          LNFILE.LN_INSPREM_1,
          LNFILE.LN_INSPREM_2,
          LNFILE.LN_INSPREM_3,
          LNFILE.LN_INSPREM_4,
          LNFILE.LN_INSPREM_5,
          LNFILE.LN_INSPREM_6,
          LNFILE.LN_INSPREM_7,
          LNFILE.LN_INSPREM_8,
          LNFILE.LN_INSPREM_9,
          LNFILE.LN_INSPREM_10,
          LNFILE.LN_INSCOVR_1,
          LNFILE.LN_INSCOVR_2,
          LNFILE.LN_INSCOVR_3,
          LNFILE.LN_INSCOVR_4,
          LNFILE.LN_INSCOVR_5,
          LNFILE.LN_INSCOVR_6,
          LNFILE.LN_INSCOVR_7,
          LNFILE.LN_INSCOVR_8,
          LNFILE.LN_INSCOVR_9,
          LNFILE.LN_INSCOVR_10,
          LNFILE.LN_INSFINCHG_1, 
          LNFILE.LN_INSFINCHG_2, 
          LNFILE.LN_INSFINCHG_3, 
          LNFILE.LN_INSFINCHG_4, 
          LNFILE.LN_INSFINCHG_5, 
          LNFILE.LN_INSFINCHG_6, 
          LNFILE.LN_INSFINCHG_7, 
          LNFILE.LN_INSFINCHG_8, 
          LNFILE.LN_INSFINCHG_9, 
          LNFILE.LN_INSFINCHG_10, 
          LNFILE.LN_RESCISSION, 
          LNFILE.LN_CURBAL,
          LNFILE.LN_INTBAL, 
          LNFILE.LN_LCBAL,
          LNFILE.LN_OTHBAL,
          LNFILE.LN_OT2BAL,
          LNFILE.LN_ANTICERN_1,
          LNFILE.LN_ANTICERN_2,
          LNFILE.LN_ANTICERN_3,
          LNFILE.LN_ANTICERN_4,
          LNFILE.LN_ANTICERN_5,
          LNFILE.LN_ANTICERN_6,
          LNFILE.LN_ANTICERN_7,
          LNFILE.LN_ANTICERN_8,
          LNFILE.LN_ANTICERN_9,
          LNFILE.LN_ANTICERN_10,
          LNFILE.LN_ANTICADJ_1,
          LNFILE.LN_ANTICADJ_2,
          LNFILE.LN_ANTICADJ_3,
          LNFILE.LN_ANTICADJ_4,
          LNFILE.LN_ANTICADJ_5,
          LNFILE.LN_ANTICADJ_6,
          LNFILE.LN_ANTICADJ_7,
          LNFILE.LN_ANTICADJ_8,
          LNFILE.LN_ANTICADJ_9,
          LNFILE.LN_ANTICADJ_10,
          LNFILE.LN_UFERN_1,
          LNFILE.LN_UFERN_2,
          LNFILE.LN_UFERN_3,
          LNFILE.LN_UFERN_4,
          LNFILE.LN_UFERN_5,
          LNFILE.LN_UFERN_6,
          LNFILE.LN_UFERN_7,
          LNFILE.LN_UFERN_8,
          LNFILE.LN_UFERN_9,
          LNFILE.LN_UFERN_10,
          LNFILE.LN_ACCERN_1,
          LNFILE.LN_ACCERN_2,
          LNFILE.LN_ACCERN_3,
          LNFILE.LN_ACCERN_4,
          LNFILE.LN_ACCERN_5,
          LNFILE.LN_ACCERN_6,
          LNFILE.LN_ACCERN_7,
          LNFILE.LN_ACCERN_8,
          LNFILE.LN_ACCERN_9,
          LNFILE.LN_ACCERN_10,
          LNFILE.LN_TOTINT,
          LNFILE.LN_TOTLCHG,
          LNFILE.LN_TOTDEF,
          LNFILE.LN_TOTPAYMNTD,
          LNFILE.LN_TOTNODEF,
          LNFILE.LN_TOTNOALDEL,
          LNFILE.LN_CL_REBATE, 
          LNFILE.LN_AH_REBATE, 
          LNFILE.LN_PP_REBATE, 
          LNFILE.LN_INT_REBATE, 
          LNFILE.LN_SC_REBATE, 
          LNFILE.LN_MF_REBATE, 
          LNFILE.LN_DF_REBATE, 
          LNFILE.LN_EX_REBATE, 
          LNFILE.LN_O1_REBATE, 
          LNFILE.LN_O2_REBATE, 
          LNFILE.LN_O3_REBATE, 
          LNFILE.LN_O4_REBATE, 
          LNFILE.LN_O5_REBATE, 
          LNFILE.LN_O6_REBATE, 
          LNFILE.LN_O7_REBATE, 
          LNFILE.LN_UN_O7_REB, 
          LNFILE.LN_UN_O8_REB, 
          LNFILE.LN_UN_O9_REB, 
          LNFILE.LN_UN_O10_REB, 
          CAST(LNFILE.LN_DATE_PAID_LAST AS VARCHAR(10)), 
          LNFILE.LN_CREDITLIM,
          LNFILE.LN_OLDACCTNO,
          LNFILE.LN_PRLNNO,
          LNFILE.LN_PRBAL,
          LNFILE.LN_PRINTDUE,
          LNFILE.LN_PRFINCHGRB,
          LNFILE.LN_PRINSRB,
          LNFILE.LN_SUM_FINCHG,
          LNFILE.LN_SUM_ORGTERM,
          LNFILE.LN_UNITPER_CD, 
          LNFILE.LN_UNITPER_FREQ,
          LNFILE.LN_REPOCD, 
          LNFILE.LN_BR_TFR_FG, 
          ISNULL(BWFILE.BW_OWNBR, 0),
          ISNULL(BWFILE.BW_SSNO, 0),
          ISNULL(BWFILE.BW_LNAME,' '), 
          ISNULL(BWFILE.BW_FNAME,' '),
          ISNULL(BWFILE.BW_SOLICIT,' '),
          ISNULL(LCFILE.LC_CODE, 0),
          ISNULL(LCFILE.LC_DESC,' '),
          ISNULL(CDFILE.CD_TYPE,' '),
          ISNULL(CDFILE.CD_CODE,'ZZZZZZZZ'),
          ISNULL(CDFILE.CD_DESC,' '),
          ISNULL(CDFILE.CD_CO_SECURED,' ')
     FROM DBO.LNFILE  LNFILE
     LEFT JOIN 
          DBO.BWFILE  BWFILE 
       ON (  LNFILE.LN_OWNBR        = BWFILE.BW_OWNBR	
      AND    LNFILE.LN_SSNO1        = BWFILE.BW_SSNO  ) 
   
     LEFT JOIN 
          DBO.LCFILE  LCFILE 
       ON (  LNFILE.LN_CLASS        = LCFILE.LC_CODE  )

     LEFT JOIN 
          DBO.CDFILE  CDFILE 
       ON (  CDFILE.CD_TYPE         = 'CO'
      AND    LNFILE.LN_COLLCD       = CDFILE.CD_CODE  )
   
    WHERE (  LNFILE.LN_OWNBR        = @QLN3_WBEG_OWNBR
      AND    LNFILE.LN_CLASS  BETWEEN @QLN3_WBEG_CLASS
                                  AND @QLN3_WEND_CLASS  )

      AND (  LNFILE.LN_POCD    NOT IN ('**', '*I', '*R', '*U'))
 
      AND  (  @QWS_PL                = 'I'
	   OR  (  @QWS_PL                = 'O' 
	  AND     LNFILE.LN_PLDATE      != '1900-01-01' )
 	   OR  (  @QWS_PL                = 'S' 
	  AND     LNFILE.LN_PLDATE       = '1900-01-01' )) 

      AND  (  @QWS_SERVA             = 'I'
	   OR  (  @QWS_SERVA             = 'O' 
	  AND     LNFILE.LN_SERVACCT     = 'Y' )
 	   OR  (  @QWS_SERVA             = 'S' 
	  AND     LNFILE.LN_SERVACCT    != 'Y' )) 

      AND  (  @QWS_ZBAL              = 'I'
	   OR  (  @QWS_ZBAL              = 'O' 
	  AND     LNFILE.LN_CURBAL       = 0
	  AND     LNFILE.LN_INTBAL       = 0
	  AND     LNFILE.LN_LCBAL        = 0
	  AND     LNFILE.LN_OTHBAL       = 0 )
 	   OR  (  @QWS_ZBAL              = 'S' 
	  AND     LNFILE.LN_CURBAL      != 0
	   OR     LNFILE.LN_INTBAL      != 0
	   OR     LNFILE.LN_LCBAL       != 0
	   OR     LNFILE.LN_OTHBAL      != 0  )) 

      AND  (  @QWS_SALEFIN           = 'I'
	   OR  (  @QWS_SALEFIN           = 'O' 
	  AND     LNFILE.LN_SALEFIN      = 'Y' )
 	   OR  (  @QWS_SALEFIN           = 'S' 
	  AND     LNFILE.LN_SALEFIN     != 'Y' )) 

      AND  (  @QWS_BULK              = 'I'
	   OR  (  @QWS_BULK              = 'O' 
	  AND     LNFILE.LN_MIDSTREAM   != ' ' )
 	   OR  (  @QWS_BULK              = 'S' 
	  AND     LNFILE.LN_MIDSTREAM    = ' ' )) 

      AND  (  @QWS_REPO              = 'I'
	   OR  (  @QWS_REPO              = 'O' 
	  AND     LNFILE.LN_REPOCD      IN ( 'X', 'S' ))
 	   OR  (  @QWS_REPO              = 'S' 
	  AND     LNFILE.LN_REPOCD  NOT IN ( 'X', 'S' ))) 

      AND  (( CDFILE.CD_CODE        IS NULL )
	   OR   ( CDFILE.CD_CO_SECURED   = 'S' 
	  AND     @QWS_SEC_SECURED       = 'S') 
       OR   ( CDFILE.CD_CO_SECURED   = 'U' 
	  AND     @QWS_SEC_UNSECURED     = 'U')
	   OR   ( CDFILE.CD_CO_SECURED   = 'R' 
	  AND     @QWS_SEC_REAL_ESTATE   = 'R'))

    ORDER BY LNFILE.LN_OWNBR,
             LNFILE.LN_CLASS,
             LNFILE.LN_ACCTNO; 
             
END
GO
