USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_FXGLUP_GTFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_FXGLUP_GTFILE_SELECT              */
/*               PROGRAM NAME: LP/FXGLUP.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 05/23/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: GTFILE                                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   02/28/2025  RMZ          REMOVED GLFILE CALL BECAUSE IT IS      */
/*                            UPDATED IN THE COBOL PROGRAM:          */
/*                            (S35Q-167)                             */
/*                                                                   */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_FXGLUP_GTFILE_SELECT]
    @QGT1_WBEG_SOURCE   AS INT,
    @QGT1_WEND_SOURCE   AS INT,
    @QGT1_WBEG_DATE2    AS DATE, 
    @QGT1_WEND_DATE2    AS DATE, 
    @QGT1_WBEG_BRANCH   AS INT,
    @QGT1_WEND_BRANCH   AS INT

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QGT1_WBEG_SOURCE    INT 
--DECLARE @QGT1_WEND_SOURCE    INT 
--DECLARE @QGT1_WBEG_DATE2     DATE
--DECLARE @QGT1_WEND_DATE2     DATE
--DECLARE @QGT1_WBEG_BRANCH    INT
--DECLARE @QGT1_WEND_BRANCH    INT
 
--SET     @QGT1_WBEG_SOURCE    = 0
--SET     @QGT1_WEND_SOURCE    = 9
--SET     @QGT1_WBEG_DATE2     = '2023-04-01'
--SET     @QGT1_WEND_DATE2     = '2023-04-30'
--SET     @QGT1_WBEG_BRANCH    = 10
--SET     @QGT1_WEND_BRANCH    = 10 

   DROP TABLE IF EXISTS #TEMP_FXGLUP_GTFILE1;

     SELECT TEMP1.GT_FLAG, 
            TEMP1.GT_DATE1, 
            TEMP1.GT_SOURCE,
            TEMP1.GT_DATE2,
            TEMP1.GT_BRANCH,
            TEMP1.GT_ACCTNO,
            TEMP1.GT_DATE3,
            TEMP1.GT_DRCRFG,
            TEMP1.GT_LINE,
            TEMP1.GT_AMT,
            TEMP1.GT_PERIOD 
 
       INTO #TEMP_FXGLUP_GTFILE1
 
       FROM

    (SELECT GTFILE.GT_FLAG,
            CAST(GTFILE.GT_DATE1 AS VARCHAR(10)) AS GT_DATE1, 
            GTFILE.GT_SOURCE,
            CAST(GTFILE.GT_DATE2 AS VARCHAR(10)) AS GT_DATE2,
            GTFILE.GT_BRANCH,
            GTFILE.GT_ACCTNO,
            CAST(GTFILE.GT_DATE3 AS VARCHAR(10)) AS GT_DATE3,
            GTFILE.GT_DRCRFG,
            GTFILE.GT_LINE,
            GTFILE.GT_AMT,
            GTFILE.GT_PERIOD
       FROM DBO.GTFILE GTFILE
       WHERE (GTFILE.GT_SOURCE BETWEEN @QGT1_WBEG_SOURCE
                                   AND @QGT1_WEND_SOURCE
        AND   GTFILE.GT_DATE2  BETWEEN @QGT1_WBEG_DATE2 
                                   AND @QGT1_WEND_DATE2 
        AND   GTFILE.GT_BRANCH BETWEEN @QGT1_WBEG_BRANCH
                                   AND @QGT1_WEND_BRANCH)
        AND   GTFILE.GT_FLAG         = 'P') TEMP1;


     SELECT #TEMP_FXGLUP_GTFILE1.GT_FLAG, 
            #TEMP_FXGLUP_GTFILE1.GT_DATE1, 
            #TEMP_FXGLUP_GTFILE1.GT_SOURCE,
            #TEMP_FXGLUP_GTFILE1.GT_DATE2,
            #TEMP_FXGLUP_GTFILE1.GT_BRANCH,
            #TEMP_FXGLUP_GTFILE1.GT_ACCTNO,
            #TEMP_FXGLUP_GTFILE1.GT_DATE3,
            #TEMP_FXGLUP_GTFILE1.GT_DRCRFG,
            #TEMP_FXGLUP_GTFILE1.GT_LINE,
            #TEMP_FXGLUP_GTFILE1.GT_AMT,
            #TEMP_FXGLUP_GTFILE1.GT_PERIOD

       FROM #TEMP_FXGLUP_GTFILE1

      ORDER BY #TEMP_FXGLUP_GTFILE1.GT_SOURCE,
               #TEMP_FXGLUP_GTFILE1.GT_DATE2,
               #TEMP_FXGLUP_GTFILE1.GT_BRANCH,
               #TEMP_FXGLUP_GTFILE1.GT_ACCTNO,
               #TEMP_FXGLUP_GTFILE1.GT_DATE3,
               #TEMP_FXGLUP_GTFILE1.GT_DRCRFG,
               #TEMP_FXGLUP_GTFILE1.GT_LINE;

   DROP TABLE IF EXISTS #TEMP_FXGLUP_GTFILE1;

END
GO
