USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LMFILE_LMFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LMFILE_LMFILE_SELECT              */
/*               PROGRAM NAME: UT/LMFILE.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 02/29/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LMFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_LMFILE_LMFILE_SELECT]
    @QLM1_WBEG_BRNO             AS INT,
    @QLM1_WBEG_ACCTNO           AS INT,
    @QLM1_WEND_ACCTNO           AS INT,
    @QLM1_WBEG_DATE_REV         AS INT,
    @QLM1_WEND_DATE_REV         AS INT,
    @QLM1_WBEG_SEQ              AS INT, 
    @QLM1_WEND_SEQ              AS INT 
 	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLM1_WBEG_BRNO            INT
--DECLARE @QLM1_WBEG_ACCTNO          INT
--DECLARE @QLM1_WEND_ACCTNO          INT
--DECLARE @QLM1_WBEG_DATE_REV        INT
--DECLARE @QLM1_WEND_DATE_REV        INT
--DECLARE @QLM1_WBEG_SEQ             INT 
--DECLARE @QLM1_WEND_SEQ             INT  

--SET @QLM1_WBEG_BRNO            = 10
--SET @QLM1_WBEG_ACCTNO          = 00000000
--SET @QLM1_WEND_ACCTNO          = 99999999
--SET @QLM1_WBEG_DATE_REV        = 00000000
--SET @QLM1_WEND_DATE_REV        = 99999999
--SET @QLM1_WBEG_SEQ             = 000 
--SET @QLM1_WEND_SEQ             = 999  

  SELECT LMFILE.LM_BRNO,
         LMFILE.LM_ACCTNO,
         LMFILE.LM_DATE_REVERSED,
         LMFILE.LM_SEQ,
         LMFILE.LM_MEMO,
         LMFILE.LM_MEMO_TYPE
  FROM DBO.LMFILE LMFILE
  WHERE    LMFILE.LM_BRNO                = @QLM1_WBEG_BRNO
    AND    LMFILE.LM_ACCTNO        BETWEEN @QLM1_WBEG_ACCTNO
                                       AND @QLM1_WEND_ACCTNO
    AND    LMFILE.LM_DATE_REVERSED BETWEEN @QLM1_WBEG_DATE_REV
                                       AND @QLM1_WEND_DATE_REV
    AND    LMFILE.LM_SEQ           BETWEEN @QLM1_WBEG_SEQ       
                                      AND  @QLM1_WEND_SEQ
  ORDER BY LMFILE.LM_BRNO,
           LMFILE.LM_ACCTNO,
           LMFILE.LM_DATE_REVERSED,
           LMFILE.LM_SEQ
             
END
GO
