USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BIFILE_BIFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*********************************************************************/
/*      STORED PROCEDURE NAME: SP_BIFILE_BIFILE_SELECT               */
/*               PROGRAM NAME: UT/BIFILE.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 03/20/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: BIFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_BIFILE_BIFILE_SELECT]
    @QBI1_WBEG_OWNBR            AS INT,
    @QBI1_WBEG_SSNO             AS INT,
    @QBI1_WEND_SSNO             AS INT 
    
 	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QBI1_WBEG_OWNBR      INT
--DECLARE @QBI1_WBEG_SSNO       INT
--DECLARE @QBI1_WEND_SSNO       INT
 
--SET @QBI1_WBEG_OWNBR          = 11
--SET @QBI1_WBEG_SSNO           = 000000000
--SET @QBI1_WEND_SSNO           = 999999999
  
   SELECT BIFILE.BI_SSNO,
          BIFILE.BI_ACCTNO,
          BIFILE.BI_OWNBR,
          BIFILE.BI_LNAME,
          BIFILE.BI_FNAME,
          CAST(BIFILE.BI_LTOUCH_DATE AS VARCHAR(10)),
          BIFILE.BI_MAKERCD,
          BIFILE.BI_ORGST,
          BIFILE.BI_GIFTNET,
          CAST(BIFILE.BI_POFFDATE    AS VARCHAR(10)),
          CAST(BIFILE.BI_ENTDATE     AS VARCHAR(10)),
          BIFILE.BI_SALEFIN,
          BIFILE.BI_CONVERCD,
          BIFILE.BI_PLCD,
          BIFILE.BI_SMALLOAN,
          CAST(BIFILE.BI_PLDATE      AS VARCHAR(10))

     FROM DBO.BIFILE
    WHERE BIFILE.BI_OWNBR      = @QBI1_WBEG_OWNBR
      AND BIFILE.BI_SSNO BETWEEN @QBI1_WBEG_SSNO
                             AND @QBI1_WEND_SSNO

    ORDER BY BIFILE.BI_OWNBR, 
             BIFILE.BI_ACCTNO,
             BIFILE.BI_SSNO;
             
END
GO
