USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_IXFILE_IXFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_IXFILE_IXFILE_SELECT              */
/*               PROGRAM NAME: UT/IXFILE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 02/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: IXFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_IXFILE_IXFILE_SELECT]
    @QIX1_WBEG_BRNO  AS INT
 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QIX1_WBEG_BRNO  INT
--SET @QIX1_WBEG_BRNO  =  1504

     SELECT IXFILE.IX_BRNO                
           ,IXFILE.IX_CODE                
           ,IXFILE.IX_ACCTNO             
           ,IXFILE.IX_SEQNO              
           ,IXFILE.IX_VIN         
    FROM DBO.IXFILE IXFILE
	WHERE IXFILE.IX_BRNO = @QIX1_WBEG_BRNO
	ORDER BY IXFILE.IX_CODE                
            ,IXFILE.IX_ACCTNO             
            ,IXFILE.IX_SEQNO  

END 
GO
