USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_EAFILE_EAFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_EAFILE_EAFILE_SELECT              */
/*               PROGRAM NAME: UT/EAFILE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 04/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: EAFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_EAFILE_EAFILE_SELECT]
    @QEA_WBEG_BRNO  AS INT,
	@QEA_WBEG_CLASS AS INT,
	@QEA_WEND_CLASS AS INT

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QEA_WBEG_BRNO  INT
--DECLARE @QEA_WBEG_CLASS INT
--DECLARE @QEA_WEND_CLASS INT

--SET @QEA_WBEG_BRNO  = 1504
--SET @QEA_WBEG_CLASS = 0
--SET @QEA_WEND_CLASS = 999

            SELECT EAFILE.EA_BRANCH,
                   EAFILE.EA_CLASS,
                   EAFILE.EA_GROUP_ID,
                   EAFILE.EA_SEQNO,
                   CAST(EAFILE.EA_LTOUCH_DATE AS VARCHAR(10)),
                   EAFILE.EA_DESC,
                   EAFILE.EA_PASTDUE_DAY1,
                   EAFILE.EA_PASTDUE_DAY2,
                   EAFILE.EA_PASTDUE_AMT1,
                   EAFILE.EA_PASTDUE_AMT2,
                   EAFILE.EA_ACCT_BAL1,
                   EAFILE.EA_ACCT_BAL2,
                   EAFILE.EA_MATURED,
                   EAFILE.EA_PROMISED,
                   EAFILE.EA_ACTION,
                   CAST(EAFILE.EA_LSTFM_DATE1 AS VARCHAR(10)),
                   CAST(EAFILE.EA_LSTFM_DATE2 AS VARCHAR(10)),
                   EAFILE.EA_LSTFM_NO1,
                   EAFILE.EA_LSTFM_NO2,
                   EAFILE.EA_PASTPROM_DAY1,
                   EAFILE.EA_PASTPROM_DAY2,
                   EAFILE.EA_RECENCY_DAY1,
                   EAFILE.EA_RECENCY_DAY2,
                   EAFILE.EA_ALPNAME1,
                   EAFILE.EA_ALPNAME2,
                   EAFILE.EA_RECENCYDATE,
                   EAFILE.EA_DLNO1,
                   EAFILE.EA_DLNO2,
                   EAFILE.EA_CONTRACTUAL_DAY1,
                   EAFILE.EA_CONTRACTUAL_DAY2,
                   EAFILE.EA_SETFM_NO,
                   EAFILE.EA_SETACT_CD,
                   EAFILE.EA_INC_CNT,
                   EAFILE.EA_INC_PROMISED,
                   EAFILE.EA_SETFM_1,
                   EAFILE.EA_SETFM_2,
                   EAFILE.EA_SETFM_3,
                   EAFILE.EA_SET_LN_COL,
                   EAFILE.EA_LN_COL_ID,
                   EAFILE.EA_CQ_FG,
                   EAFILE.EA_COL_POOL,
                   EAFILE.EA_CPOTS,
                   EAFILE.EA_REPO,
                   EAFILE.EA_PL,
                   EAFILE.EA_BANKRUPT,
                   EAFILE.EA_PL_IN_ACTIVE_BOTH,
                   EAFILE.EA_CONFIDENTIAL_FG,
                   EAFILE.EA_1ST_PMT_MISSES,
                   EAFILE.EA_LEGAL,
                   EAFILE.EA_DEBTAID,
                   EAFILE.EA_JUDGEMENT,
                   EAFILE.EA_BROKEN_PROM_FG,
                   EAFILE.EA_PROM_BREAK1,
                   EAFILE.EA_PROM_BREAK2,
                   EAFILE.EA_ORIGIN,
                   CAST(EAFILE.EA_PL_BEG_DATE AS VARCHAR(10)),
                   CAST(EAFILE.EA_PL_END_DATE AS VARCHAR(10)),
                   EAFILE.EA_RPOTS,
                   EAFILE.EA_MISPAYS,
                   EAFILE.EA_ALLOTMENTS,
                   EAFILE.EA_LNDATE_DAYS1,
                   EAFILE.EA_LNDATE_DAYS2,
                   EAFILE.EA_MATURE_DAYS1,
                   EAFILE.EA_MATURE_DAYS2,
                   EAFILE.EA_DAY_OF_MO_DUE1,
                   EAFILE.EA_DAY_OF_MO_DUE2,
                   EAFILE.EA_INCL_COLLECTOR,
                   EAFILE.EA_BORR_STATE
            FROM DBO.EAFILE

            WHERE EAFILE.EA_BRANCH = @QEA_WBEG_BRNO
              AND EAFILE.EA_CLASS BETWEEN @QEA_WBEG_CLASS AND @QEA_WEND_CLASS

            ORDER BY EAFILE.EA_BRANCH,
                     EAFILE.EA_CLASS,
                     EAFILE.EA_GROUP_ID,
                     EAFILE.EA_SEQNO
 
END 
GO
