USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BWDUP_TOTAL_BWFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_BWDUP_TOTAL_BWFILE_SELECT         */
/*               PROGRAM NAME: SP/BWDUP.CBL                          */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED TOTALS COUNTERS IN COBOL PROGRAM.      */
/*                                                                   */
/*   TABLES: BWFILE, LNFILE                                          */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_BWDUP_TOTAL_BWFILE_SELECT]
    @QBW1_WBEG_OWNBR       AS INT 
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QBW1_WBEG_OWNBR    INT
--SET     @QBW1_WBEG_OWNBR  = 11  

   SELECT C.QWS_D_2_LOANS,
          C.QWS_D_3_LOANS,
          C.QWS_D_4_PLUS_LOANS,
          C.QWS_D_TOTAL_LOANS,
          C.QWS_D_WITH_PL_LOANS
     FROM 
     ( SELECT SUM(CASE WHEN B.CNT  = 2
                       THEN 1
                       ELSE 0
                   END)  AS QWS_D_2_LOANS,
              SUM(CASE WHEN B.CNT  = 3
                       THEN 1
                       ELSE 0
                   END)  AS QWS_D_3_LOANS,
              SUM(CASE WHEN B.CNT  > 3
                       THEN 1
                       ELSE 0
                   END)  AS QWS_D_4_PLUS_LOANS,
              SUM(CASE WHEN B.CNT  > 1
                       THEN 1
                       ELSE 0
                   END)  AS QWS_D_TOTAL_LOANS,
              SUM(CASE WHEN PL_IND = 'Y'
                       THEN 1
                       ELSE 0
                   END)  AS QWS_D_WITH_PL_LOANS
         FROM
         ( SELECT A.SSNO,
                 SUM(A.CNT)       AS CNT,
                 MAX(A.PL_IND)    AS PL_IND
             FROM
         ( SELECT BWFILE.BW_SSNO  AS SSNO,
                  1               AS CNT,
                  CASE WHEN ISNULL(LNFILE.LN_PLDATE, '1900-01-01')
                                                 !=  '1900-01-01'
                       THEN 'Y'
                       ELSE 'N'
                   END            AS PL_IND
             FROM DBO.BWFILE BWFILE
             LEFT OUTER JOIN
                  DBO.LNFILE LNFILE
               ON (( BWFILE.BW_OWNBR       = LNFILE.LN_OWNBR
              AND    BWFILE.BW_SSNO        = LNFILE.LN_SSNO1 )
              AND (  LNFILE.LN_POFFDATE    = '1900-01-01' )
              AND (  LNFILE.LN_POCD   NOT IN
                  ('**', '*I', '*R', '*U') ))
            WHERE (  BWFILE.BW_OWNBR       = @QBW1_WBEG_OWNBR
              AND    ISNULL(LNFILE.LN_SSNO1, 0)
                                          != 0 )
            UNION ALL

           SELECT BWFILE.BW_SSNO  AS SSNO,
                  1               AS CNT,
                  CASE WHEN ISNULL(LNFILE.LN_PLDATE, '1900-01-01')
                                                 !=  '1900-01-01'
                       THEN 'Y'
                       ELSE 'N'
                   END            AS PL_IND
             FROM DBO.BWFILE BWFILE
             LEFT OUTER JOIN
                  DBO.LNFILE LNFILE
               ON (( BWFILE.BW_OWNBR       = LNFILE.LN_OWNBR
              AND    BWFILE.BW_SSNO        = LNFILE.LN_SSNO2 )
              AND (  LNFILE.LN_POFFDATE    = '1900-01-01' )
              AND (  LNFILE.LN_POCD   NOT IN
                  ('**', '*I', '*R', '*U') ))
            WHERE (  BWFILE.BW_OWNBR       = @QBW1_WBEG_OWNBR
              AND    ISNULL(LNFILE.LN_SSNO2, 0)
                                          != 0 ) ) A
            GROUP BY A.SSNO
           HAVING SUM(A.CNT)               > 1   ) B
                                                 ) C 
                                                                         
END 
GO
