USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_PR1697_ALTER_TRPFILE]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SSP_PR1697_ALTER_TRPFILE] 
as begin
;
Alter Table [dbo].[TRPFILE] 
  ADD tp_closfee_reb_amt decimal(9, 2) NOT NULL default 0 with values
;

end
GO
