USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LTEXTR_LNFILE_LTFILE_SELECT]    Script Date: 4/15/2025 9:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LTEXTR_LNFILE_LTFILE_SELECT       */
/*               PROGRAM NAME: SP/LTEXTR.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE, LTAFILE, LTBFILE, LTCFILE, LTDFILE, LTLFILE     */
/*           LTPFILE, BWFILE                                         */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_LTEXTR_LNFILE_LTFILE_SELECT]
  @QLN3_WBEG_OWNBR              AS INT,
  @QLN3_WBEG_CLASS              AS INT,
  @QLN3_WEND_CLASS              AS INT,
  @QWS_ZBAL                     AS CHAR(1),
  @QWS_PL                       AS CHAR(1),
  @QWS_PLACTIVE                 AS CHAR(1),
  @QWS_PLTYPE                   AS CHAR(1),
  @QWS_PL_FROM_DATE             AS DATE,
  @QWS_ZBAL_DATE                AS DATE,
  @QWS_JULIAN_BEG               AS DATE,
  @QWS_TEST_DATE_PAID_LAST      AS DATE


AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN3_WBEG_OWNBR         INT
--DECLARE @QLN3_WBEG_CLASS         INT
--DECLARE @QLN3_WEND_CLASS         INT
--DECLARE @QWS_ZBAL                CHAR(1)
--DECLARE @QWS_PL                  CHAR(1)
--DECLARE @QWS_PLACTIVE            CHAR(1)
--DECLARE @QWS_PLTYPE              CHAR(1)
--DECLARE @QWS_PL_FROM_DATE        DATE
--DECLARE @QWS_ZBAL_DATE           DATE 
--DECLARE @QWS_JULIAN_BEG          DATE
--DECLARE @QWS_TEST_DATE_PAID_LAST DATE

--SET     @QLN3_WBEG_OWNBR         = 10
--SET     @QLN3_WBEG_CLASS         = 000   
--SET     @QLN3_WEND_CLASS         = 999
--SET     @QWS_ZBAL                = 'I' 
--SET     @QWS_PL                  = 'I' 
--SET     @QWS_PLACTIVE            = 'B' 
--SET     @QWS_PLTYPE              = 'A' 
--SET     @QWS_PL_FROM_DATE        = '2015-01-01'
--SET     @QWS_ZBAL_DATE           = '2008-12-01' 
--SET     @QWS_JULIAN_BEG          = '1950-01-01' 
--SET     @QWS_TEST_DATE_PAID_LAST = '2018-01-01'

   SELECT TEMP.LN_OWNBR,
          TEMP.LN_ACCTNO,
          TEMP.LN_CLASS,
          TEMP.LN_SUBCLASS,
          TEMP.LN_LAWCODE,
          TEMP.LN_SSNO1,
          TEMP.LN_MAKERCD1,
          TEMP.LN_SSNO2,
          TEMP.LN_MAKERCD2,
          TEMP.LN_SSNO3,
          TEMP.LN_MAKERCD3,
          TEMP.LN_SSNO4,
          TEMP.LN_MAKERCD4,
          TEMP.LN_ORGST,
          TEMP.LN_ORGBR,
          TEMP.LN_OWNST,
          TEMP.LN_SPRCLASS,
          TEMP.LN_CONVERCD,
          TEMP.LN_MIDSTREAM,
          TEMP.LN_PURCD,
          TEMP.LN_SRCD,
          TEMP.LN_COLLCD,
          TEMP.LN_COLLID,
          TEMP.LN_POCD,
          TEMP.LN_PLCD,
          TEMP.LN_PLTYPE,
          TEMP.LN_CONFIDENTCD,
          TEMP.LN_ALLOTCD,
          TEMP.LN_RECASTCD,
          TEMP.LN_SKIP_TRW,
          TEMP.LN_STATUSFG,
          TEMP.LN_SMALLOAN,
          TEMP.LN_SALEFIN,
          TEMP.LN_SERVACCT,
          TEMP.LN_LOANTYPE,
          TEMP.LN_ADDON_FG,
          TEMP.LN_PAY_SCHLD_FG,
          TEMP.LN_LC_CODE,
          TEMP.LN_CAN_LOAN_NO,
          TEMP.LN_STATFLAGS,
          TEMP.LN_ENTDATE,               
          TEMP.LN_LOANDATE,              
          TEMP.LN_PURDATE,               
          TEMP.LN_INTDATE,               
          TEMP.LN_CASHDATE,              
          TEMP.LN_FILEDATE,              
          TEMP.LN_RESCISSION_DATE,
          TEMP.LN_PART_RECOURSE_DATE,
          TEMP.LN_ORIG_1STPYDATE,
          TEMP.LN_1STPYDATE,
          TEMP.LN_JDDATE,
          TEMP.LN_PLDATE,
          TEMP.LN_PL_TRDATE,
          TEMP.LN_ACCELDATE,
          TEMP.LN_REDUDATE,
          TEMP.LN_POFFDATE,
          TEMP.LN_PO_TRDATE,
          TEMP.LN_LEGALDATE,
          TEMP.LN_BNKRPTDATE,
          TEMP.LN_BNKRPT_DISMISS_DATE,
          TEMP.LN_BNKRPT_DISCHARGE_DATE,
          TEMP.LN_BNKRPT_REAFFIRM_DATE,
          TEMP.LN_DEBTAIDATE,
          TEMP.LN_REPODATE,            
          TEMP.LN_REDEEMDATE,          
          TEMP.LN_SOLDDATE,            
          TEMP.LN_INS_CONFIRM_DATE,    
          TEMP.LN_PRIOR_RN_FOR10_DATE, 
          TEMP.LN_LAST_RN_FOR10_DATE,  
          TEMP.LN_TRW_DOFD_DATE,       
          TEMP.LN_LAST_PYPA_DATE,
          TEMP.LN_BT_TRDATE,
          TEMP.LN_METRO2_LAST_PMT_DATE,
          TEMP.LN_FOLLOWUP_DATE,
          TEMP.LN_LAST_ACCRUAL_DATE,
          TEMP.LN_APRATE,
          TEMP.LN_EFFRATE,
          TEMP.LN_SMPRATE,
          TEMP.LN_YLDRATE,
          TEMP.LN_OVRDRATE,
          TEMP.LN_ENDORATE,
          TEMP.LN_JDRATE,
          TEMP.LN_ACCRATE,
          TEMP.LN_REDURATE,
          TEMP.LN_CONRATE,
          TEMP.LN_SERVPER,
          TEMP.LN_SELLPR,
          TEMP.LN_DOWNPY,
          TEMP.LN_TRADEIN,
          TEMP.LN_LNAMT,
          TEMP.LN_FINCHG,
          TEMP.LN_INTCHG,
          TEMP.LN_SERCHG,
          TEMP.LN_EXTCHG,
          TEMP.LN_MAINTFEE,
          TEMP.LN_POINTS,
          TEMP.LN_PROCEEDS,
          TEMP.LN_ORGTERM,
          TEMP.LN_1STPYAMT,
          TEMP.LN_NOREGPY,
          TEMP.LN_REGPYAMT,
          TEMP.LN_LASTPYAMT,
          TEMP.LN_PROCASH,
          TEMP.LN_TILLNO,
          TEMP.LN_STATE_FLAG,
          TEMP.LN_STATE_WORKER,
          TEMP.LN_STATE_WORKER2,
          TEMP.LN_FEECODE_1,
          TEMP.LN_FEEAMT_1,
          TEMP.LN_FEEOURS_1,
          TEMP.LN_FEEFINCHG_1,
          TEMP.LN_FEECODE_2,
          TEMP.LN_FEEAMT_2,
          TEMP.LN_FEEOURS_2,
          TEMP.LN_FEEFINCHG_2,
          TEMP.LN_FEECODE_3,
          TEMP.LN_FEEAMT_3,
          TEMP.LN_FEEOURS_3,
          TEMP.LN_FEEFINCHG_3,
          TEMP.LN_FEECODE_4,
          TEMP.LN_FEEAMT_4,
          TEMP.LN_FEEOURS_4,
          TEMP.LN_FEEFINCHG_4,
          TEMP.LN_FEECODE_5,
          TEMP.LN_FEEAMT_5,
          TEMP.LN_FEEOURS_5,
          TEMP.LN_FEEFINCHG_5,
          TEMP.LN_FEECODE_6,
          TEMP.LN_FEEAMT_6,
          TEMP.LN_FEEOURS_6,
          TEMP.LN_FEEFINCHG_6,
          TEMP.LN_FEECODE_7,
          TEMP.LN_FEEAMT_7,
          TEMP.LN_FEEOURS_7,
          TEMP.LN_FEEFINCHG_7,
          TEMP.LN_FEECODE_8,
          TEMP.LN_FEEAMT_8,
          TEMP.LN_FEEOURS_8,
          TEMP.LN_FEEFINCHG_8,
          TEMP.LN_FEECODE_9,
          TEMP.LN_FEEAMT_9,
          TEMP.LN_FEEOURS_9,
          TEMP.LN_FEEFINCHG_9,
          TEMP.LN_FEECODE_10,
          TEMP.LN_FEEAMT_10,
          TEMP.LN_FEEOURS_10,
          TEMP.LN_FEEFINCHG_10,
          TEMP.LN_FEECODE_11,
          TEMP.LN_FEEAMT_11,
          TEMP.LN_FEEOURS_11,
          TEMP.LN_FEEFINCHG_11,
          TEMP.LN_FEECODE_12,
          TEMP.LN_FEEAMT_12,
          TEMP.LN_FEEOURS_12,
          TEMP.LN_FEEFINCHG_12,
          TEMP.LN_FEECODE_13,
          TEMP.LN_FEEAMT_13,
          TEMP.LN_FEEOURS_13,
          TEMP.LN_FEEFINCHG_13,
          TEMP.LN_FEECODE_14,
          TEMP.LN_FEEAMT_14,
          TEMP.LN_FEEOURS_14,
          TEMP.LN_FEEFINCHG_14,
          TEMP.LN_FEECODE_15,
          TEMP.LN_FEEAMT_15,
          TEMP.LN_FEEOURS_15,
          TEMP.LN_FEEFINCHG_15,
          TEMP.LN_FEECODE_16,
          TEMP.LN_FEEAMT_16,
          TEMP.LN_FEEOURS_16,
          TEMP.LN_FEEFINCHG_16,
          TEMP.LN_FEECODE_17,
          TEMP.LN_FEEAMT_17,
          TEMP.LN_FEEOURS_17,
          TEMP.LN_FEEFINCHG_17,
          TEMP.LN_FEECODE_18,
          TEMP.LN_FEEAMT_18,
          TEMP.LN_FEEOURS_18,
          TEMP.LN_FEEFINCHG_18,
          TEMP.LN_FEECODE_19,
          TEMP.LN_FEEAMT_19,
          TEMP.LN_FEEOURS_19,
          TEMP.LN_FEEFINCHG_19,
          TEMP.LN_FEECODE_20,
          TEMP.LN_FEEAMT_20,
          TEMP.LN_FEEOURS_20,
          TEMP.LN_FEEFINCHG_20,
          TEMP.LN_INSURED,
          TEMP.LN_INSTYPES,
          TEMP.LN_INSELIGIBLE,
          TEMP.LN_INSCOMP_1,
          TEMP.LN_INSOURS_1,
          TEMP.LN_INSEFF_DATE_1,
          TEMP.LN_INSEXP_DATE_1,
          TEMP.LN_INSPREM_1,
          TEMP.LN_INSCOVR_1,
          TEMP.LN_INSCOMM_1,
          TEMP.LN_INSANTICERN_1,
          TEMP.LN_INSANTICADJ_1,
          TEMP.LN_INSUFERN_1,
          TEMP.LN_INSACCERN_1,
          TEMP.LN_INSEARN_ORDER_1,
          TEMP.LN_INSFINCHG_1,
          TEMP.LN_INSCOMP_2,
          TEMP.LN_INSOURS_2,
          TEMP.LN_INSEFF_DATE_2,
          TEMP.LN_INSEXP_DATE_2,
          TEMP.LN_INSPREM_2,
          TEMP.LN_INSCOVR_2,
          TEMP.LN_INSCOMM_2,
          TEMP.LN_INSANTICERN_2,
          TEMP.LN_INSANTICADJ_2,
          TEMP.LN_INSUFERN_2,
          TEMP.LN_INSACCERN_2,
          TEMP.LN_INSEARN_ORDER_2,
          TEMP.LN_INSFINCHG_2,
          TEMP.LN_INSCOMP_3,
          TEMP.LN_INSOURS_3,
          TEMP.LN_INSEFF_DATE_3,
          TEMP.LN_INSEXP_DATE_3,
          TEMP.LN_INSPREM_3,
          TEMP.LN_INSCOVR_3,
          TEMP.LN_INSCOMM_3,
          TEMP.LN_INSANTICERN_3,
          TEMP.LN_INSANTICADJ_3,
          TEMP.LN_INSUFERN_3,
          TEMP.LN_INSACCERN_3,
          TEMP.LN_INSEARN_ORDER_3,
          TEMP.LN_INSFINCHG_3,
          TEMP.LN_INSCOMP_4,
          TEMP.LN_INSOURS_4,
          TEMP.LN_INSEFF_DATE_4,
          TEMP.LN_INSEXP_DATE_4,
          TEMP.LN_INSPREM_4,
          TEMP.LN_INSCOVR_4,
          TEMP.LN_INSCOMM_4,
          TEMP.LN_INSANTICERN_4,
          TEMP.LN_INSANTICADJ_4,
          TEMP.LN_INSUFERN_4,
          TEMP.LN_INSACCERN_4,
          TEMP.LN_INSEARN_ORDER_4,
          TEMP.LN_INSFINCHG_4,
          TEMP.LN_INSCOMP_5,
          TEMP.LN_INSOURS_5,
          TEMP.LN_INSEFF_DATE_5,
          TEMP.LN_INSEXP_DATE_5,
          TEMP.LN_INSPREM_5,
          TEMP.LN_INSCOVR_5,
          TEMP.LN_INSCOMM_5,
          TEMP.LN_INSANTICERN_5,
          TEMP.LN_INSANTICADJ_5,
          TEMP.LN_INSUFERN_5,
          TEMP.LN_INSACCERN_5,
          TEMP.LN_INSEARN_ORDER_5,
          TEMP.LN_INSFINCHG_5,
          TEMP.LN_INSCOMP_6,
          TEMP.LN_INSOURS_6,
          TEMP.LN_INSEFF_DATE_6,
          TEMP.LN_INSEXP_DATE_6,
          TEMP.LN_INSPREM_6,
          TEMP.LN_INSCOVR_6,
          TEMP.LN_INSCOMM_6,
          TEMP.LN_INSANTICERN_6,
          TEMP.LN_INSANTICADJ_6,
          TEMP.LN_INSUFERN_6,
          TEMP.LN_INSACCERN_6,
          TEMP.LN_INSEARN_ORDER_6,
          TEMP.LN_INSFINCHG_6,
          TEMP.LN_INSCOMP_7,
          TEMP.LN_INSOURS_7,
          TEMP.LN_INSEFF_DATE_7,
          TEMP.LN_INSEXP_DATE_7,
          TEMP.LN_INSPREM_7,
          TEMP.LN_INSCOVR_7,
          TEMP.LN_INSCOMM_7,
          TEMP.LN_INSANTICERN_7,
          TEMP.LN_INSANTICADJ_7,
          TEMP.LN_INSUFERN_7,
          TEMP.LN_INSACCERN_7,
          TEMP.LN_INSEARN_ORDER_7,
          TEMP.LN_INSFINCHG_7,
          TEMP.LN_INSCOMP_8,
          TEMP.LN_INSOURS_8,
          TEMP.LN_INSEFF_DATE_8,
          TEMP.LN_INSEXP_DATE_8,
          TEMP.LN_INSPREM_8,
          TEMP.LN_INSCOVR_8,
          TEMP.LN_INSCOMM_8,
          TEMP.LN_INSANTICERN_8,
          TEMP.LN_INSANTICADJ_8,
          TEMP.LN_INSUFERN_8,
          TEMP.LN_INSACCERN_8,
          TEMP.LN_INSEARN_ORDER_8,
          TEMP.LN_INSFINCHG_8,
          TEMP.LN_INSCOMP_9,
          TEMP.LN_INSOURS_9,
          TEMP.LN_INSEFF_DATE_9,
          TEMP.LN_INSEXP_DATE_9,
          TEMP.LN_INSPREM_9,
          TEMP.LN_INSCOVR_9,
          TEMP.LN_INSCOMM_9,
          TEMP.LN_INSANTICERN_9,
          TEMP.LN_INSANTICADJ_9,
          TEMP.LN_INSUFERN_9,
          TEMP.LN_INSACCERN_9,
          TEMP.LN_INSEARN_ORDER_9,
          TEMP.LN_INSFINCHG_9,
          TEMP.LN_INSCOMP_10,
          TEMP.LN_INSOURS_10,
          TEMP.LN_INSEFF_DATE_10,
          TEMP.LN_INSEXP_DATE_10,
          TEMP.LN_INSPREM_10,
          TEMP.LN_INSCOVR_10,
          TEMP.LN_INSCOMM_10,
          TEMP.LN_INSANTICERN_10,
          TEMP.LN_INSANTICADJ_10,
          TEMP.LN_INSUFERN_10,
          TEMP.LN_INSACCERN_10,
          TEMP.LN_INSEARN_ORDER_10,
          TEMP.LN_INSFINCHG_10,
          TEMP.LN_PY_YYYYMM_RECDEL,
          TEMP.LN_MTD_PAYS_RECDEL,
          TEMP.LN_GARNISH_EXTR,
          TEMP.LN_SHIP_SAME_FG,
          TEMP.LN_AD_D_INS_COVR,
          TEMP.LN_TOT_PARTIAL_CHGOFF,
          TEMP.LN_LPO,
          TEMP.LN_REP_CD,
          TEMP.LN_EMP_ID,
          TEMP.LN_PROCESS_CD,
          TEMP.LN_WCBC_CREDITLIM,
          TEMP.LN_FOLLOWUP_CD,
          TEMP.LN_MIP_FG,
          TEMP.LN_MIP_MTD_CLAHPAID,
          TEMP.LN_MIP_CLPDTH_DATE,
          TEMP.LN_MIP_TOT_CLPAID,
          TEMP.LN_MIP_AHPDTH_DATE,
          TEMP.LN_MIP_TOT_AHPAID,
          TEMP.LN_IL_GROSS_INCOME,
          TEMP.LN_IL_GROSS_INCOME2,
          TEMP.LN_RESCISSION,
          TEMP.LN_INTERIM_TRW,
          TEMP.LN_DLNO,
          TEMP.LN_DLPOOL,
          TEMP.LN_DLRECOURSE,
          TEMP.LN_DLPARTRCAMT,
          TEMP.LN_ORIGPURAMT,
          TEMP.LN_PURBAL,
          TEMP.LN_DLRVPRIN_1,
          TEMP.LN_DLRVPRIN_2,
          TEMP.LN_DLRVPRIN_3,
          TEMP.LN_DLRVCHGS_1,
          TEMP.LN_DLRVCHGS_2,
          TEMP.LN_DLRVCHGS_3,
          TEMP.LN_DLPARVHELD,
          TEMP.LN_DLPARVPAID,
          TEMP.LN_DLDISC,
          TEMP.LN_LCPDTH_DATE,
          TEMP.LN_INTPDTH_DATE,
          TEMP.LN_CURBAL,
          TEMP.LN_INTBAL,
          TEMP.LN_LCBAL,
          TEMP.LN_OTHBAL,
          TEMP.LN_OT2BAL,
          TEMP.LN_LCPAID,
          TEMP.LN_LCPARTIALS,
          TEMP.LN_STMT_COUNTER,
          TEMP.LN_PRIOR_STMT_COUNTER,
          TEMP.LN_FROZEN_REASON,
          TEMP.LN_COUPON_STATEMENT,
          TEMP.LN_MONTHEND_BAL,
          TEMP.LN_ANTICTERM,
          TEMP.LN_ANTICERN_1,
          TEMP.LN_ANTICADJ_1,
          TEMP.LN_UFERN_1,
          TEMP.LN_ACCERN_1,
          TEMP.LN_EARN_ORDER_1,
          TEMP.LN_ANTICERN_2,
          TEMP.LN_ANTICADJ_2,
          TEMP.LN_UFERN_2,
          TEMP.LN_ACCERN_2,
          TEMP.LN_EARN_ORDER_2,
          TEMP.LN_ANTICERN_3,
          TEMP.LN_ANTICADJ_3,
          TEMP.LN_UFERN_3,
          TEMP.LN_ACCERN_3,
          TEMP.LN_EARN_ORDER_3,
          TEMP.LN_ANTICERN_4,
          TEMP.LN_ANTICADJ_4,
          TEMP.LN_UFERN_4,
          TEMP.LN_ACCERN_4,
          TEMP.LN_EARN_ORDER_4,
          TEMP.LN_ANTICERN_5,
          TEMP.LN_ANTICADJ_5,
          TEMP.LN_UFERN_5,
          TEMP.LN_ACCERN_5,
          TEMP.LN_EARN_ORDER_5,
          TEMP.LN_ANTICERN_6,
          TEMP.LN_ANTICADJ_6,
          TEMP.LN_UFERN_6,
          TEMP.LN_ACCERN_6,
          TEMP.LN_EARN_ORDER_6,
          TEMP.LN_ANTICERN_7,
          TEMP.LN_ANTICADJ_7,
          TEMP.LN_UFERN_7,
          TEMP.LN_ACCERN_7,
          TEMP.LN_EARN_ORDER_7,
          TEMP.LN_ANTICERN_8,
          TEMP.LN_ANTICADJ_8,
          TEMP.LN_UFERN_8,
          TEMP.LN_ACCERN_8,
          TEMP.LN_EARN_ORDER_8,
          TEMP.LN_ANTICERN_9,
          TEMP.LN_ANTICADJ_9,
          TEMP.LN_UFERN_9,
          TEMP.LN_ACCERN_9,
          TEMP.LN_EARN_ORDER_9,
          TEMP.LN_ANTICERN_10,
          TEMP.LN_ANTICADJ_10,
          TEMP.LN_UFERN_10,
          TEMP.LN_ACCERN_10,
          TEMP.LN_EARN_ORDER_10,
          TEMP.LN_LMO_PRIOR_INTEREST,
          TEMP.LN_PRIOR_UNEARNED,
          TEMP.LN_ERNDELQ_STOP,
          TEMP.LN_NONACRERN,
          TEMP.LN_PRIOR_NONACRERN,
          TEMP.LN_ERN_IB_PDTH_DATE,
          TEMP.LN_ERN_IB_PRINBAL,
          TEMP.LN_ERN_IB_INTOWE,
          TEMP.LN_TOTERN,
          TEMP.LN_TOTOTH,
          TEMP.LN_TOTINT,
          TEMP.LN_TOTLCHG,
          TEMP.LN_TOTDEF,
          TEMP.LN_TOTSERACCT,
          TEMP.LN_LCWAIVERS,
          TEMP.LN_INTWAIVERS,
          TEMP.LN_TOTPAYMNTD,
          TEMP.LN_TOTEXCPAYMNTD,
          TEMP.LN_TOTNODEF,
          TEMP.LN_YTDNODEF,
          TEMP.LN_TOTNODEFACT,
          TEMP.LN_YTDNODEFACT,
          TEMP.LN_TOTNOALDEL,
          TEMP.LN_YTDNOALDEL,
          TEMP.LN_YTDINTPD,
          TEMP.LN_LYRINTPD,
          TEMP.LN_TOTINTPD,
          TEMP.LN_RECASTINT,
          TEMP.LN_RECASTPRIN,
          TEMP.LN_CL_REBATE,
          TEMP.LN_AH_REBATE,
          TEMP.LN_PP_REBATE,
          TEMP.LN_INT_REBATE,
          TEMP.LN_SC_REBATE,
          TEMP.LN_MF_REBATE,
          TEMP.LN_DF_REBATE,
          TEMP.LN_EX_REBATE,
          TEMP.LN_O1_REBATE,
          TEMP.LN_O2_REBATE,
          TEMP.LN_O3_REBATE,
          TEMP.LN_O4_REBATE,
          TEMP.LN_O5_REBATE,
          TEMP.LN_O6_REBATE,
          TEMP.LN_O7_REBATE,
          TEMP.LN_UN_O7_REB,
          TEMP.LN_UN_O8_REB,
          TEMP.LN_UN_O9_REB,
          TEMP.LN_UN_O10_REB,
          TEMP.LN_PLREASON,
          TEMP.LN_COLLECTOR,
          TEMP.LN_ACTIONCD,
          TEMP.LN_ACTIONCD2,
          TEMP.LN_ATCODE,
          TEMP.LN_RECODE,
          TEMP.LN_ESCROW_FG,
          TEMP.LN_PROMDAYS_PASTDUE,
          TEMP.LN_PROMID,
          TEMP.LN_PROMDATE,        
          TEMP.LN_PROMAMT,			 
          TEMP.LN_PROMDATE2,       
          TEMP.LN_DATE_PAID_LAST,  
          TEMP.LN_AMT_PAID_LAST,		 
          TEMP.LN_LASTCFORMNO,		 
          TEMP.LN_LASTCFORMDATE,   
          TEMP.LN_DELCNT,				 
          TEMP.LN_DELCNT2,
          TEMP.LN_CREDITLIM,
          TEMP.LN_CRSCORE,
          TEMP.LN_LASTSFORMNO,
          TEMP.LN_LASTSFORMDATE,
          TEMP.LN_SOLCNT,
          TEMP.LN_MESSAGE,
          TEMP.LN_OLDACCTNO,
          TEMP.LN_PRLNNO,
          TEMP.LN_PRBAL,
          TEMP.LN_PRINTDUE,
          TEMP.LN_PRFINCHGRB,
          TEMP.LN_PRINSRB,
          TEMP.LN_PRPOCD,
          TEMP.LN_PRPODATE,
          TEMP.LN_PRDELINQAMT,
          TEMP.LN_PRLNAMT,
          TEMP.LN_PRPDUE_DAYS,
          TEMP.LN_PRDLDISC_UNEARN,
          TEMP.LN_PRCONPROFILE,
          TEMP.LN_SUM_ORIGPURAMT,
          TEMP.LN_SUM_LNAMT,
          TEMP.LN_SUM_FINCHG,
          TEMP.LN_SUM_INTCHG,
          TEMP.LN_SUM_ORGTERM,
          TEMP.LN_SUM_REGPYAMT,
          TEMP.LN_SUM_EXTCHG,
          TEMP.LN_SUM_SERCHG,
          TEMP.LN_SUM_MAINTFEE,
          TEMP.LN_UNITPER_CD,
          TEMP.LN_UNITPER_FREQ,
          TEMP.LN_DAYS_IN_UNITPER,
          TEMP.LN_UNITPER_PER_YEAR,
          TEMP.LN_REPOCD,
          TEMP.LN_BR_TFR_FG,
          TEMP.LN_O3INS_DLPROC,
          TEMP.LN_INSPREM_DLADJ,
          TEMP.LN_PLAMT,
          TEMP.LN_MTD_PRIN,
          TEMP.LN_MTD_LC,
          TEMP.LN_MTD_INT,
          TEMP.LN_MTD_OT,
          TEMP.LN_MTD_EX,
          TEMP.LN_BNKRPT_CHAPTER,
          TEMP.LN_BMO_CON_STATUS,
          TEMP.LN_BMO_REC_STATUS,
          TEMP.LN_APP_NUMBER,
          TEMP.LN_GIFTNET,
          TEMP.LN_GIFTNET_OUR_PO,
          TEMP.LN_PROC_DISBURSED,
          TEMP.LN_NOODDPY,
          TEMP.LN_CONPROFILE_1,
          TEMP.LN_CONPROFILE_2,
          TEMP.LN_CONPROFILE_3,
          TEMP.LN_CONPROFILE_4,
          TEMP.LN_CONPROFILE_5,
          TEMP.LN_RECPROFILE_1,
          TEMP.LN_RECPROFILE_2,
          TEMP.LN_RECPROFILE_3,
          TEMP.LN_RECPROFILE_4,
          TEMP.LN_RECPROFILE_5,
          TEMP.LN_TRW_STATUS,
          TEMP.LN_ORIGIN,
          TEMP.LN_PO_TRCD,
          TEMP.LN_NEXIS_CRSCORE,
          TEMP.LN_TRW_B_CONSUMER_IND,
          TEMP.LN_PARVHELD_PAID_FG,
          TEMP.LN_ACCT_FROZEN,
          TEMP.LN_TRW_SPECIAL_CODE,
          TEMP.LN_CREATION_STATUS,
          TEMP.LN_TOTNOLCHG,
          TEMP.LN_LBOX,
          TEMP.LN_EXTRA_PRIN_LFP,
          TEMP.LN_REMAIN_INT_SINCE_LFP,
          TEMP.LN_REMAIN_PRIN_SINCE_LFP,
          TEMP.LN_INTERIM_COUPON,
          TEMP.LN_DLCOMM_O3_CMSI,
          TEMP.LN_DLCOMM_PP_CMSI,
          TEMP.LN_TRW_J_CONSUMER_IND,
          TEMP.LN_ACH,
          TEMP.LN_1099_C_FG,
          TEMP.LN_TRW_COMPLIANCE_CODE,
          TEMP.LN_UNWIND_REASON_CODE,
          TEMP.LN_PBI_PBD_FG,
          TEMP.LN_OLD_ACCT_FORMAT_FG,
          TEMP.LN_APPROVED_BY_USER,
          TEMP.LN_APPROVED_BY_CODE,
          TEMP.LN_APPROVED_BY_DATE,
          TEMP.LN_APPROVED_BY_TIME,	    
          TEMP.LN_LTOUCH_DATE,
          TEMP.LN_LTOUCH_TIME, 
          ISNULL(LTAFILE.LTA_BRNO, 0),
          ISNULL(LTAFILE.LTA_ACCTNO, 0),
          ISNULL(LTAFILE.LTA_SEQNO, 0),
          ISNULL(LTAFILE.LTA_DLR_REQ,''),
          ISNULL(LTAFILE.LTA_INS_TYPE,''),
          ISNULL(LTAFILE.LTA_INS_CO,''),
          ISNULL(LTAFILE.LTA_POLICY_NO,''),
          ISNULL(LTAFILE.LTA_AGENCY,''),
          ISNULL(LTAFILE.LTA_AGENT,''),
          ISNULL(LTAFILE.LTA_ADR1,''),
          ISNULL(LTAFILE.LTA_ADR2,''),
          ISNULL(LTAFILE.LTA_CITY,''),
          ISNULL(LTAFILE.LTA_STATE,''),
          ISNULL(LTAFILE.LTA_ZIP,''),
          ISNULL(LTAFILE.LTA_PHONE, 0),
          ISNULL(CAST(LTAFILE.LTA_EFF_DATE  
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LTAFILE.LTA_EXP_DATE  
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LTAFILE.LTA_CAN_DATE  
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LTAFILE.LTA_CONF_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTAFILE.LTA_LAST_FORM, 0),
          ISNULL(LTAFILE.LTA_COV_TYPE,''),
          ISNULL(LTAFILE.LTA_BIL_COV, 0),
          ISNULL(LTAFILE.LTA_PDL_COV, 0),
          ISNULL(LTAFILE.LTA_PIP_COV, 0),
          ISNULL(LTAFILE.LTA_UMB_COV, 0),
          ISNULL(LTAFILE.LTA_COL_COV, 0),
          ISNULL(LTAFILE.LTA_LOSS_PAYEE,''),
          ISNULL(LTAFILE.LTA_COM_COV, 0),
          ISNULL(LTAFILE.LTA_TRACK_ONLY,''),
          ISNULL(LTAFILE.LTA_INSURANCE,''),
          ISNULL(LTAFILE.LTA_TRACK_MONTHS,''),
          ISNULL(LTAFILE.LTA_INS_MONTHS,''),
          ISNULL(LTAFILE.LTA_CPP_MONTHS,''),
          ISNULL(LTBFILE.LTB_BRNO, 0),
          ISNULL(LTBFILE.LTB_ACCTNO, 0),
          ISNULL(LTBFILE.LTB_SEQNO, 0),
          ISNULL(CAST(LTBFILE.LTB_FILEDATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTBFILE.LTB_CASE_NO,''),
          ISNULL(LTBFILE.LTB_CHAPTER, 0),
          ISNULL(LTBFILE.LTB_MISC1,''),
          ISNULL(LTBFILE.LTB_MISC2,''),
          ISNULL(LTBFILE.LTB_MISC3,''),
          ISNULL(CAST(LTBFILE.LTB_BDDATE   
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTBFILE.LTB_WHO_FILED,''),
          ISNULL(LTBFILE.LTB_ENDORSER_FILED,''),
          ISNULL(LTBFILE.LTB_CLAIM_AMT, 0),
          ISNULL(LTBFILE.LTB_ACTIVE_INACTIVE,''),
          ISNULL(LTBFILE.LTB_INT_LC_DUE, 0),
          ISNULL(LTBFILE.LTB_OTH_DUE, 0),
          ISNULL(LTBFILE.LTB_TDUEAMT, 0),
          ISNULL(LTBFILE.LTB_NAME_1,''),
          ISNULL(LTBFILE.LTB_NAME_2,''),
          ISNULL(LTBFILE.LTB_NAME_3,''),
          ISNULL(LTBFILE.LTB_ADR1_1,''),
          ISNULL(LTBFILE.LTB_ADR1_2,''),
          ISNULL(LTBFILE.LTB_ADR1_3,''),
          ISNULL(LTBFILE.LTB_ADR2_1,''),
          ISNULL(LTBFILE.LTB_ADR2_2,''),
          ISNULL(LTBFILE.LTB_ADR2_3,''),
          ISNULL(LTBFILE.LTB_CITY_1,''),
          ISNULL(LTBFILE.LTB_CITY_2,''),
          ISNULL(LTBFILE.LTB_CITY_3,''),
          ISNULL(LTBFILE.LTB_STATE_1,''),
          ISNULL(LTBFILE.LTB_STATE_2,''),
          ISNULL(LTBFILE.LTB_STATE_3,''),
          ISNULL(LTBFILE.LTB_ZIP_1,''),
          ISNULL(LTBFILE.LTB_ZIP_2,''),
          ISNULL(LTBFILE.LTB_ZIP_3,''),
          ISNULL(LTBFILE.LTB_PHONE_1, 0),
          ISNULL(LTBFILE.LTB_PHONE_2, 0),
          ISNULL(LTBFILE.LTB_PHONE_3, 0),
          ISNULL(CAST(LTBFILE.LTB_REAFF_DATE     
                                  AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LTBFILE.LTB_REAFF_SYSDATE  
                                  AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTBFILE.LTB_REAFF_BALANCE, 0),
          ISNULL(LTBFILE.LTB_REAFF_PAYAMT, 0),
          ISNULL(LTBFILE.LTB_REAFF_NO_PAYS, 0),
          ISNULL(LTBFILE.LTB_INTRATE, 0),
          ISNULL(CAST(LTBFILE.LTB_RESCIND_DATE   
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTBFILE.LTB_PARTIAL_FULL,''),
          ISNULL(CAST(LTBFILE.LTB_DISCHARGE_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LTBFILE.LTB_DISCHARGE_SYSDATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTCFILE.LTC_BRNO, 0),
          ISNULL(LTCFILE.LTC_ACCTNO, 0),
          ISNULL(LTCFILE.LTC_SEQNO, 0),
          ISNULL(LTCFILE.LTC_DESC_1,''),
          ISNULL(LTCFILE.LTC_MAKE_1,''),
          ISNULL(LTCFILE.LTC_MODEL_1,''),
          ISNULL(LTCFILE.LTC_YEAR_1,''),
          ISNULL(LTCFILE.LTC_STYLE_1,''),
          ISNULL(LTCFILE.LTC_CLASS_1,''),
          ISNULL(LTCFILE.LTC_VIN_1,''),
          ISNULL(LTCFILE.LTC_TITLE_NO_1,''),
          ISNULL(LTCFILE.LTC_MILEAGE_1, 0),
          ISNULL(LTCFILE.LTC_VALUE_1, 0),
          ISNULL(LTCFILE.LTC_SELLPR_1, 0),
          ISNULL(LTCFILE.LTC_MISC_AMT_1, 0),
          ISNULL(LTCFILE.LTC_SENT_FLAG_1,''),
          ISNULL(CAST(LTCFILE.LTC_VIN_CHG_DATE_1
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTCFILE.LTC_DESC_2,''),
          ISNULL(LTCFILE.LTC_MAKE_2,''),
          ISNULL(LTCFILE.LTC_MODEL_2,''),
          ISNULL(LTCFILE.LTC_YEAR_2,''),
          ISNULL(LTCFILE.LTC_STYLE_2,''),
          ISNULL(LTCFILE.LTC_CLASS_2,''),
          ISNULL(LTCFILE.LTC_VIN_2,''),
          ISNULL(LTCFILE.LTC_TITLE_NO_2,''),
          ISNULL(LTCFILE.LTC_MILEAGE_2, 0),
          ISNULL(LTCFILE.LTC_VALUE_2, 0),
          ISNULL(LTCFILE.LTC_SELLPR_2, 0),
          ISNULL(LTCFILE.LTC_MISC_AMT_2, 0),
          ISNULL(LTCFILE.LTC_SENT_FLAG_2,''),
          ISNULL(CAST(LTCFILE.LTC_VIN_CHG_DATE_2
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTCFILE.LTC_DESC_3,''),
          ISNULL(LTCFILE.LTC_MAKE_3,''),
          ISNULL(LTCFILE.LTC_MODEL_3,''),
          ISNULL(LTCFILE.LTC_YEAR_3,''),
          ISNULL(LTCFILE.LTC_STYLE_3,''),
          ISNULL(LTCFILE.LTC_CLASS_3,''),
          ISNULL(LTCFILE.LTC_VIN_3,''),
          ISNULL(LTCFILE.LTC_TITLE_NO_3,''),
          ISNULL(LTCFILE.LTC_MILEAGE_3, 0),
          ISNULL(LTCFILE.LTC_VALUE_3, 0),
          ISNULL(LTCFILE.LTC_SELLPR_3, 0),
          ISNULL(LTCFILE.LTC_MISC_AMT_3, 0),
          ISNULL(LTCFILE.LTC_SENT_FLAG_3,''),
          ISNULL(CAST(LTCFILE.LTC_VIN_CHG_DATE_3
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTCFILE.LTC_HHGS_1,''),
          ISNULL(LTCFILE.LTC_HHGS_2,''),
          ISNULL(LTCFILE.LTC_HHGS_3,''),
          ISNULL(LTDFILE.LTD_BRNO, 0),
          ISNULL(LTDFILE.LTD_ACCTNO, 0),
          ISNULL(LTDFILE.LTD_SEQNO, 0),
          ISNULL(LTDFILE.LTD_DEBIT_CARD_NUMBER, 0),
          ISNULL(LTDFILE.LTD_DEBIT_CARD_AMT, 0),
          ISNULL(CAST(LTDFILE.LTD_LOANDATE     
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LTDFILE.LTD_VOID_DATE    
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LTDFILE.LTD_CLEARED_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTDFILE.LTD_CLEARED_AMT, 0),
          ISNULL(LTLFILE.LTL_BRNO, 0),
          ISNULL(LTLFILE.LTL_ACCTNO, 0),
          ISNULL(LTLFILE.LTL_SEQNO, 0),
          ISNULL(LTLFILE.LTL_LIEN_TYPE_1, 0),
          ISNULL(LTLFILE.LTL_LIEN_TYPE_2, 0),
          ISNULL(LTLFILE.LTL_LIEN_TYPE_3, 0),
          ISNULL(LTLFILE.LTL_LIEN_NAME_1,''),
          ISNULL(LTLFILE.LTL_LIEN_NAME_2,''),
          ISNULL(LTLFILE.LTL_LIEN_NAME_3,''),
          ISNULL(LTLFILE.LTL_LIEN_ADR_1,''),
          ISNULL(LTLFILE.LTL_LIEN_ADR_2,''),
          ISNULL(LTLFILE.LTL_LIEN_ADR_3,''),
          ISNULL(LTLFILE.LTL_LIEN_CITY_1,''),
          ISNULL(LTLFILE.LTL_LIEN_CITY_2,''),
          ISNULL(LTLFILE.LTL_LIEN_CITY_3,''),
          ISNULL(LTLFILE.LTL_LIEN_STATE_1,''),
          ISNULL(LTLFILE.LTL_LIEN_STATE_2,''),
          ISNULL(LTLFILE.LTL_LIEN_STATE_3,''),
          ISNULL(LTLFILE.LTL_LIEN_ZIP_1,''),
          ISNULL(LTLFILE.LTL_LIEN_ZIP_2,''),
          ISNULL(LTLFILE.LTL_LIEN_ZIP_3,''),
          ISNULL(CAST(LTLFILE.LTL_LIEN_DATE_1     
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LTLFILE.LTL_LIEN_DATE_2     
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LTLFILE.LTL_LIEN_DATE_3     
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LTLFILE.LTL_TITLE_RCV_DATE  
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LTLFILE.LTL_TITLE_LIEN_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTLFILE.LTL_TITLE_NO,''),
          ISNULL(LTLFILE.LTL_LIEN_LETTER_SENT,''),
          ISNULL(LTLFILE.LTL_LIEN_COMMENT1,''),
          ISNULL(LTLFILE.LTL_LIEN_COMMENT2,''),
          ISNULL(LTLFILE.LTL_LIEN_TITLE_STATE,''),
          ISNULL(LTLFILE.LTL_TITLE_STATUS_CODE,''),
          ISNULL(LTLFILE.LTL_TITLE_SEND_FLAG,''),
          ISNULL(LTLFILE.LTL_TITLE_NAME,''),
          ISNULL(LTLFILE.LTL_TITLE_ADR,''),
          ISNULL(LTLFILE.LTL_TITLE_CITY,''),
          ISNULL(LTLFILE.LTL_TITLE_STATE,''),
          ISNULL(LTLFILE.LTL_TITLE_ZIP,''),
          ISNULL(CAST(LTLFILE.LTL_TITLE_DATE 
		                           AS VARCHAR(10)),'1900-01-01'),     
          ISNULL(LTLFILE.LTL_TITLE_SENT_BY,''),
          ISNULL(LTLFILE.LTL_SEND_ASAP,''),
          ISNULL(LTLFILE.LTL_TITLE_ADR2,''),
          ISNULL(LTLFILE.LTL_TITLE_COMMENT1,''),
          ISNULL(LTLFILE.LTL_TITLE_COMMENT2,''),
          ISNULL(LTLFILE.LTL_RELEASE_TYPE,''),
          ISNULL(LTLFILE.LTL_CARRIER_TYPE,''),
          ISNULL(LTLFILE.LTL_CARRIER_ACCTNO,''),
          ISNULL(LTPFILE.LTP_BRNO, 0),
          ISNULL(LTPFILE.LTP_ACCTNO, 0),
          ISNULL(LTPFILE.LTP_SEQNO, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_1, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_2, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_3, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_4, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_5, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_6, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_7, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_8, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_9, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_10, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_11, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_12, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_13, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_14, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_15, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_16, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_17, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_18, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_19, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_20, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_21, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_22, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_23, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_24, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_25, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_26, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_27, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_28, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_29, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_30, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_31, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_32, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_33, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_34, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_35, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_36, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_37, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_38, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_39, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_40, 0),
          ISNULL(LTPFILE.LTP_SCHLD_TERM_41, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_1, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_2, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_3, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_4, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_5, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_6, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_7, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_8, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_9, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_10, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_11, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_12, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_13, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_14, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_15, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_16, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_17, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_18, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_19, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_20, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_21, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_22, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_23, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_24, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_25, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_26, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_27, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_28, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_29, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_30, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_31, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_32, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_33, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_34, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_35, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_36, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_37, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_38, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_39, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_40, 0),
          ISNULL(LTPFILE.LTP_SCHLD_PAYMNT_41, 0),
          ISNULL(BWFILE.BW_OWNBR, 0),
          ISNULL(BWFILE.BW_SSNO, 0), 
          ISNULL(CAST(BWFILE.BW_LAST_RN_FOR10_DATE
                                   AS VARCHAR(10)),'1900-01-01')

     FROM

  (SELECT LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_SUBCLASS,
          LNFILE.LN_LAWCODE,
          LNFILE.LN_SSNO1,
          LNFILE.LN_MAKERCD1,
          LNFILE.LN_SSNO2,
          LNFILE.LN_MAKERCD2,
          LNFILE.LN_SSNO3,
          LNFILE.LN_MAKERCD3,
          LNFILE.LN_SSNO4,
          LNFILE.LN_MAKERCD4,
          LNFILE.LN_ORGST,
          LNFILE.LN_ORGBR,
          LNFILE.LN_OWNST,
          LNFILE.LN_SPRCLASS,
          LNFILE.LN_CONVERCD,
          LNFILE.LN_MIDSTREAM,
          LNFILE.LN_PURCD,
          LNFILE.LN_SRCD,
          LNFILE.LN_COLLCD,
          LNFILE.LN_COLLID,
          LNFILE.LN_POCD,
          LNFILE.LN_PLCD,
          LNFILE.LN_PLTYPE,
          LNFILE.LN_CONFIDENTCD,
          LNFILE.LN_ALLOTCD,
          LNFILE.LN_RECASTCD,
          LNFILE.LN_SKIP_TRW,
          LNFILE.LN_STATUSFG,
          LNFILE.LN_SMALLOAN,
          LNFILE.LN_SALEFIN,
          LNFILE.LN_SERVACCT,
          LNFILE.LN_LOANTYPE,
          LNFILE.LN_ADDON_FG,
          LNFILE.LN_PAY_SCHLD_FG,
          LNFILE.LN_LC_CODE,
          LNFILE.LN_CAN_LOAN_NO,
          LNFILE.LN_STATFLAGS,
          CAST(LNFILE.LN_ENTDATE           AS VARCHAR(10))
                                           AS LN_ENTDATE,
          CAST(LNFILE.LN_LOANDATE          AS VARCHAR(10))
                                           AS LN_LOANDATE,
          CAST(LNFILE.LN_PURDATE           AS VARCHAR(10))
                                           AS LN_PURDATE,
          CAST(LNFILE.LN_INTDATE           AS VARCHAR(10))
                                           AS LN_INTDATE,
          CAST(LNFILE.LN_CASHDATE          AS VARCHAR(10))
                                           AS LN_CASHDATE,
          CAST(LNFILE.LN_FILEDATE          AS VARCHAR(10))
                                           AS LN_FILEDATE,
          CAST(LNFILE.LN_RESCISSION_DATE   AS VARCHAR(10))
                                           AS LN_RESCISSION_DATE,
          CAST(LNFILE.LN_PART_RECOURSE_DATE AS VARCHAR(10))
                                           AS LN_PART_RECOURSE_DATE,
          CAST(LNFILE.LN_ORIG_1STPYDATE    AS VARCHAR(10))
                                           AS LN_ORIG_1STPYDATE,
          CAST(LNFILE.LN_1STPYDATE         AS VARCHAR(10))
                                           AS LN_1STPYDATE,
          CAST(LNFILE.LN_JDDATE            AS VARCHAR(10))
                                           AS LN_JDDATE,
          CAST(LNFILE.LN_PLDATE            AS VARCHAR(10))
                                           AS LN_PLDATE,
          CAST(LNFILE.LN_PL_TRDATE         AS VARCHAR(10))
                                           AS LN_PL_TRDATE,
          CAST(LNFILE.LN_ACCELDATE         AS VARCHAR(10))
                                           AS LN_ACCELDATE,
          CAST(LNFILE.LN_REDUDATE          AS VARCHAR(10))
                                           AS LN_REDUDATE,
          CAST(LNFILE.LN_POFFDATE          AS VARCHAR(10))
                                           AS LN_POFFDATE,
          CAST(LNFILE.LN_PO_TRDATE         AS VARCHAR(10))
                                           AS LN_PO_TRDATE,
          CAST(LNFILE.LN_LEGALDATE         AS VARCHAR(10))
                                           AS LN_LEGALDATE,
          CAST(LNFILE.LN_BNKRPTDATE        AS VARCHAR(10))
                                           AS LN_BNKRPTDATE,
          CAST(LNFILE.LN_BNKRPT_DISMISS_DATE   AS VARCHAR(10))
                                           AS LN_BNKRPT_DISMISS_DATE,
          CAST(LNFILE.LN_BNKRPT_DISCHARGE_DATE AS VARCHAR(10))
                                           AS LN_BNKRPT_DISCHARGE_DATE,
          CAST(LNFILE.LN_BNKRPT_REAFFIRM_DATE  AS VARCHAR(10))
                                           AS LN_BNKRPT_REAFFIRM_DATE,
          CAST(LNFILE.LN_DEBTAIDATE        AS VARCHAR(10))
                                           AS LN_DEBTAIDATE,
          CAST(LNFILE.LN_REPODATE          AS VARCHAR(10))
                                           AS LN_REPODATE,
          CAST(LNFILE.LN_REDEEMDATE        AS VARCHAR(10))
                                           AS LN_REDEEMDATE,
          CAST(LNFILE.LN_SOLDDATE          AS VARCHAR(10))
                                           AS LN_SOLDDATE,
          CAST(LNFILE.LN_INS_CONFIRM_DATE  AS VARCHAR(10))
                                           AS LN_INS_CONFIRM_DATE,
          CAST(LNFILE.LN_PRIOR_RN_FOR10_DATE AS VARCHAR(10))
                                           AS LN_PRIOR_RN_FOR10_DATE,
          CAST(LNFILE.LN_LAST_RN_FOR10_DATE  AS VARCHAR(10))
                                           AS LN_LAST_RN_FOR10_DATE,
          CAST(LNFILE.LN_TRW_DOFD_DATE     AS VARCHAR(10))
                                           AS LN_TRW_DOFD_DATE,
          CAST(LNFILE.LN_LAST_PYPA_DATE    AS VARCHAR(10))
                                           AS LN_LAST_PYPA_DATE,
          CAST(LNFILE.LN_BT_TRDATE         AS VARCHAR(10))
                                           AS LN_BT_TRDATE,
          CAST(LNFILE.LN_METRO2_LAST_PMT_DATE AS VARCHAR(10))
                                           AS LN_METRO2_LAST_PMT_DATE,
          CAST(LNFILE.LN_FOLLOWUP_DATE     AS VARCHAR(10))
                                           AS LN_FOLLOWUP_DATE,
          CAST(LNFILE.LN_LAST_ACCRUAL_DATE AS VARCHAR(10))
                                           AS LN_LAST_ACCRUAL_DATE,
          LNFILE.LN_APRATE,
          LNFILE.LN_EFFRATE,
          LNFILE.LN_SMPRATE,
          LNFILE.LN_YLDRATE,
          LNFILE.LN_OVRDRATE,
          LNFILE.LN_ENDORATE,
          LNFILE.LN_JDRATE,
          LNFILE.LN_ACCRATE,
          LNFILE.LN_REDURATE,
          LNFILE.LN_CONRATE,
          LNFILE.LN_SERVPER,
          LNFILE.LN_SELLPR,
          LNFILE.LN_DOWNPY,
          LNFILE.LN_TRADEIN,
          LNFILE.LN_LNAMT,
          LNFILE.LN_FINCHG,
          LNFILE.LN_INTCHG,
          LNFILE.LN_SERCHG,
          LNFILE.LN_EXTCHG,
          LNFILE.LN_MAINTFEE,
          LNFILE.LN_POINTS,
          LNFILE.LN_PROCEEDS,
          LNFILE.LN_ORGTERM,
          LNFILE.LN_1STPYAMT,
          LNFILE.LN_NOREGPY,
          LNFILE.LN_REGPYAMT,
          LNFILE.LN_LASTPYAMT,
          LNFILE.LN_PROCASH,
          LNFILE.LN_TILLNO,
          LNFILE.LN_STATE_FLAG,
          LNFILE.LN_STATE_WORKER,
          LNFILE.LN_STATE_WORKER2,
          LNFILE.LN_FEECODE_1,
          LNFILE.LN_FEEAMT_1,
          LNFILE.LN_FEEOURS_1,
          LNFILE.LN_FEEFINCHG_1,
          LNFILE.LN_FEECODE_2,
          LNFILE.LN_FEEAMT_2,
          LNFILE.LN_FEEOURS_2,
          LNFILE.LN_FEEFINCHG_2,
          LNFILE.LN_FEECODE_3,
          LNFILE.LN_FEEAMT_3,
          LNFILE.LN_FEEOURS_3,
          LNFILE.LN_FEEFINCHG_3,
          LNFILE.LN_FEECODE_4,
          LNFILE.LN_FEEAMT_4,
          LNFILE.LN_FEEOURS_4,
          LNFILE.LN_FEEFINCHG_4,
          LNFILE.LN_FEECODE_5,
          LNFILE.LN_FEEAMT_5,
          LNFILE.LN_FEEOURS_5,
          LNFILE.LN_FEEFINCHG_5,
          LNFILE.LN_FEECODE_6,
          LNFILE.LN_FEEAMT_6,
          LNFILE.LN_FEEOURS_6,
          LNFILE.LN_FEEFINCHG_6,
          LNFILE.LN_FEECODE_7,
          LNFILE.LN_FEEAMT_7,
          LNFILE.LN_FEEOURS_7,
          LNFILE.LN_FEEFINCHG_7,
          LNFILE.LN_FEECODE_8,
          LNFILE.LN_FEEAMT_8,
          LNFILE.LN_FEEOURS_8,
          LNFILE.LN_FEEFINCHG_8,
          LNFILE.LN_FEECODE_9,
          LNFILE.LN_FEEAMT_9,
          LNFILE.LN_FEEOURS_9,
          LNFILE.LN_FEEFINCHG_9,
          LNFILE.LN_FEECODE_10,
          LNFILE.LN_FEEAMT_10,
          LNFILE.LN_FEEOURS_10,
          LNFILE.LN_FEEFINCHG_10,
          LNFILE.LN_FEECODE_11,
          LNFILE.LN_FEEAMT_11,
          LNFILE.LN_FEEOURS_11,
          LNFILE.LN_FEEFINCHG_11,
          LNFILE.LN_FEECODE_12,
          LNFILE.LN_FEEAMT_12,
          LNFILE.LN_FEEOURS_12,
          LNFILE.LN_FEEFINCHG_12,
          LNFILE.LN_FEECODE_13,
          LNFILE.LN_FEEAMT_13,
          LNFILE.LN_FEEOURS_13,
          LNFILE.LN_FEEFINCHG_13,
          LNFILE.LN_FEECODE_14,
          LNFILE.LN_FEEAMT_14,
          LNFILE.LN_FEEOURS_14,
          LNFILE.LN_FEEFINCHG_14,
          LNFILE.LN_FEECODE_15,
          LNFILE.LN_FEEAMT_15,
          LNFILE.LN_FEEOURS_15,
          LNFILE.LN_FEEFINCHG_15,
          LNFILE.LN_FEECODE_16,
          LNFILE.LN_FEEAMT_16,
          LNFILE.LN_FEEOURS_16,
          LNFILE.LN_FEEFINCHG_16,
          LNFILE.LN_FEECODE_17,
          LNFILE.LN_FEEAMT_17,
          LNFILE.LN_FEEOURS_17,
          LNFILE.LN_FEEFINCHG_17,
          LNFILE.LN_FEECODE_18,
          LNFILE.LN_FEEAMT_18,
          LNFILE.LN_FEEOURS_18,
          LNFILE.LN_FEEFINCHG_18,
          LNFILE.LN_FEECODE_19,
          LNFILE.LN_FEEAMT_19,
          LNFILE.LN_FEEOURS_19,
          LNFILE.LN_FEEFINCHG_19,
          LNFILE.LN_FEECODE_20,
          LNFILE.LN_FEEAMT_20,
          LNFILE.LN_FEEOURS_20,
          LNFILE.LN_FEEFINCHG_20,
          LNFILE.LN_INSURED,
          LNFILE.LN_INSTYPES,
          LNFILE.LN_INSELIGIBLE,
          LNFILE.LN_INSCOMP_1,
          LNFILE.LN_INSOURS_1,
          CAST(LNFILE.LN_INSEFF_DATE_1 AS VARCHAR(10))
                                       AS LN_INSEFF_DATE_1,
          CAST(LNFILE.LN_INSEXP_DATE_1 AS VARCHAR(10))
                                       AS LN_INSEXP_DATE_1,
          LNFILE.LN_INSPREM_1,
          LNFILE.LN_INSCOVR_1,
          LNFILE.LN_INSCOMM_1,
          LNFILE.LN_INSANTICERN_1,
          LNFILE.LN_INSANTICADJ_1,
          LNFILE.LN_INSUFERN_1,
          LNFILE.LN_INSACCERN_1,
          LNFILE.LN_INSEARN_ORDER_1,
          LNFILE.LN_INSFINCHG_1,
          LNFILE.LN_INSCOMP_2,
          LNFILE.LN_INSOURS_2,
          CAST(LNFILE.LN_INSEFF_DATE_2 AS VARCHAR(10))
                                       AS LN_INSEFF_DATE_2,
          CAST(LNFILE.LN_INSEXP_DATE_2 AS VARCHAR(10))
                                       AS LN_INSEXP_DATE_2,
          LNFILE.LN_INSPREM_2,
          LNFILE.LN_INSCOVR_2,
          LNFILE.LN_INSCOMM_2,
          LNFILE.LN_INSANTICERN_2,
          LNFILE.LN_INSANTICADJ_2,
          LNFILE.LN_INSUFERN_2,
          LNFILE.LN_INSACCERN_2,
          LNFILE.LN_INSEARN_ORDER_2,
          LNFILE.LN_INSFINCHG_2,
          LNFILE.LN_INSCOMP_3,
          LNFILE.LN_INSOURS_3,
          CAST(LNFILE.LN_INSEFF_DATE_3 AS VARCHAR(10))
                                       AS LN_INSEFF_DATE_3,
          CAST(LNFILE.LN_INSEXP_DATE_3 AS VARCHAR(10))
                                       AS LN_INSEXP_DATE_3,
          LNFILE.LN_INSPREM_3,
          LNFILE.LN_INSCOVR_3,
          LNFILE.LN_INSCOMM_3,
          LNFILE.LN_INSANTICERN_3,
          LNFILE.LN_INSANTICADJ_3,
          LNFILE.LN_INSUFERN_3,
          LNFILE.LN_INSACCERN_3,
          LNFILE.LN_INSEARN_ORDER_3,
          LNFILE.LN_INSFINCHG_3,
          LNFILE.LN_INSCOMP_4,
          LNFILE.LN_INSOURS_4,
          CAST(LNFILE.LN_INSEFF_DATE_4 AS VARCHAR(10))
                                       AS LN_INSEFF_DATE_4,
          CAST(LNFILE.LN_INSEXP_DATE_4 AS VARCHAR(10))
                                       AS LN_INSEXP_DATE_4,
          LNFILE.LN_INSPREM_4,
          LNFILE.LN_INSCOVR_4,
          LNFILE.LN_INSCOMM_4,
          LNFILE.LN_INSANTICERN_4,
          LNFILE.LN_INSANTICADJ_4,
          LNFILE.LN_INSUFERN_4,
          LNFILE.LN_INSACCERN_4,
          LNFILE.LN_INSEARN_ORDER_4,
          LNFILE.LN_INSFINCHG_4,
          LNFILE.LN_INSCOMP_5,
          LNFILE.LN_INSOURS_5,
          CAST(LNFILE.LN_INSEFF_DATE_5 AS VARCHAR(10))
                                       AS LN_INSEFF_DATE_5,
          CAST(LNFILE.LN_INSEXP_DATE_5 AS VARCHAR(10))
                                       AS LN_INSEXP_DATE_5,
          LNFILE.LN_INSPREM_5,
          LNFILE.LN_INSCOVR_5,
          LNFILE.LN_INSCOMM_5,
          LNFILE.LN_INSANTICERN_5,
          LNFILE.LN_INSANTICADJ_5,
          LNFILE.LN_INSUFERN_5,
          LNFILE.LN_INSACCERN_5,
          LNFILE.LN_INSEARN_ORDER_5,
          LNFILE.LN_INSFINCHG_5,
          LNFILE.LN_INSCOMP_6,
          LNFILE.LN_INSOURS_6,
          CAST(LNFILE.LN_INSEFF_DATE_6 AS VARCHAR(10))
                                       AS LN_INSEFF_DATE_6,
          CAST(LNFILE.LN_INSEXP_DATE_6 AS VARCHAR(10))
                                       AS LN_INSEXP_DATE_6,
          LNFILE.LN_INSPREM_6,
          LNFILE.LN_INSCOVR_6,
          LNFILE.LN_INSCOMM_6,
          LNFILE.LN_INSANTICERN_6,
          LNFILE.LN_INSANTICADJ_6,
          LNFILE.LN_INSUFERN_6,
          LNFILE.LN_INSACCERN_6,
          LNFILE.LN_INSEARN_ORDER_6,
          LNFILE.LN_INSFINCHG_6,
          LNFILE.LN_INSCOMP_7,
          LNFILE.LN_INSOURS_7,
          CAST(LNFILE.LN_INSEFF_DATE_7 AS VARCHAR(10))
                                       AS LN_INSEFF_DATE_7,
          CAST(LNFILE.LN_INSEXP_DATE_7 AS VARCHAR(10))
                                       AS LN_INSEXP_DATE_7,
          LNFILE.LN_INSPREM_7,
          LNFILE.LN_INSCOVR_7,
          LNFILE.LN_INSCOMM_7,
          LNFILE.LN_INSANTICERN_7,
          LNFILE.LN_INSANTICADJ_7,
          LNFILE.LN_INSUFERN_7,
          LNFILE.LN_INSACCERN_7,
          LNFILE.LN_INSEARN_ORDER_7,
          LNFILE.LN_INSFINCHG_7,
          LNFILE.LN_INSCOMP_8,
          LNFILE.LN_INSOURS_8,
          CAST(LNFILE.LN_INSEFF_DATE_8 AS VARCHAR(10))
                                       AS LN_INSEFF_DATE_8,
          CAST(LNFILE.LN_INSEXP_DATE_8 AS VARCHAR(10))
                                       AS LN_INSEXP_DATE_8,
          LNFILE.LN_INSPREM_8,
          LNFILE.LN_INSCOVR_8,
          LNFILE.LN_INSCOMM_8,
          LNFILE.LN_INSANTICERN_8,
          LNFILE.LN_INSANTICADJ_8,
          LNFILE.LN_INSUFERN_8,
          LNFILE.LN_INSACCERN_8,
          LNFILE.LN_INSEARN_ORDER_8,
          LNFILE.LN_INSFINCHG_8,
          LNFILE.LN_INSCOMP_9,
          LNFILE.LN_INSOURS_9,
          CAST(LNFILE.LN_INSEFF_DATE_9 AS VARCHAR(10))
                                       AS LN_INSEFF_DATE_9,
          CAST(LNFILE.LN_INSEXP_DATE_9 AS VARCHAR(10))
                                       AS LN_INSEXP_DATE_9,
          LNFILE.LN_INSPREM_9,
          LNFILE.LN_INSCOVR_9,
          LNFILE.LN_INSCOMM_9,
          LNFILE.LN_INSANTICERN_9,
          LNFILE.LN_INSANTICADJ_9,
          LNFILE.LN_INSUFERN_9,
          LNFILE.LN_INSACCERN_9,
          LNFILE.LN_INSEARN_ORDER_9,
          LNFILE.LN_INSFINCHG_9,
          LNFILE.LN_INSCOMP_10,
          LNFILE.LN_INSOURS_10,
          CAST(LNFILE.LN_INSEFF_DATE_10 AS VARCHAR(10))
                                        AS LN_INSEFF_DATE_10,
          CAST(LNFILE.LN_INSEXP_DATE_10 AS VARCHAR(10))
                                        AS LN_INSEXP_DATE_10,
          LNFILE.LN_INSPREM_10,
          LNFILE.LN_INSCOVR_10,
          LNFILE.LN_INSCOMM_10,
          LNFILE.LN_INSANTICERN_10,
          LNFILE.LN_INSANTICADJ_10,
          LNFILE.LN_INSUFERN_10,
          LNFILE.LN_INSACCERN_10,
          LNFILE.LN_INSEARN_ORDER_10,
          LNFILE.LN_INSFINCHG_10,
          LNFILE.LN_PY_YYYYMM_RECDEL,
          LNFILE.LN_MTD_PAYS_RECDEL,
          LNFILE.LN_GARNISH_EXTR,
          LNFILE.LN_SHIP_SAME_FG,
          LNFILE.LN_AD_D_INS_COVR,
          LNFILE.LN_TOT_PARTIAL_CHGOFF,
          LNFILE.LN_LPO,
          LNFILE.LN_REP_CD,
          LNFILE.LN_EMP_ID,
          LNFILE.LN_PROCESS_CD,
          LNFILE.LN_WCBC_CREDITLIM,
          LNFILE.LN_FOLLOWUP_CD,
          LNFILE.LN_MIP_FG,
          LNFILE.LN_MIP_MTD_CLAHPAID,
          CAST(LNFILE.LN_MIP_CLPDTH_DATE AS VARCHAR(10))
                                         AS LN_MIP_CLPDTH_DATE,
          LNFILE.LN_MIP_TOT_CLPAID,
          CAST(LNFILE.LN_MIP_AHPDTH_DATE AS VARCHAR(10))
                                         AS LN_MIP_AHPDTH_DATE,
          LNFILE.LN_MIP_TOT_AHPAID,
          LNFILE.LN_IL_GROSS_INCOME,
          LNFILE.LN_IL_GROSS_INCOME2,
          LNFILE.LN_RESCISSION,
          LNFILE.LN_INTERIM_TRW,
          LNFILE.LN_DLNO,
          LNFILE.LN_DLPOOL,
          LNFILE.LN_DLRECOURSE,
          LNFILE.LN_DLPARTRCAMT,
          LNFILE.LN_ORIGPURAMT,
          LNFILE.LN_PURBAL,
          LNFILE.LN_DLRVPRIN_1,
          LNFILE.LN_DLRVPRIN_2,
          LNFILE.LN_DLRVPRIN_3,
          LNFILE.LN_DLRVCHGS_1,
          LNFILE.LN_DLRVCHGS_2,
          LNFILE.LN_DLRVCHGS_3,
          LNFILE.LN_DLPARVHELD,
          LNFILE.LN_DLPARVPAID,
          LNFILE.LN_DLDISC,
          CAST(LNFILE.LN_LCPDTH_DATE  AS VARCHAR(10))
                                      AS LN_LCPDTH_DATE,
          CAST(LNFILE.LN_INTPDTH_DATE AS VARCHAR(10))
                                      AS LN_INTPDTH_DATE,
          LNFILE.LN_CURBAL,
          LNFILE.LN_INTBAL,
          LNFILE.LN_LCBAL,
          LNFILE.LN_OTHBAL,
          LNFILE.LN_OT2BAL,
          LNFILE.LN_LCPAID,
          LNFILE.LN_LCPARTIALS,
          LNFILE.LN_STMT_COUNTER,
          LNFILE.LN_PRIOR_STMT_COUNTER,
          LNFILE.LN_FROZEN_REASON,
          LNFILE.LN_COUPON_STATEMENT,
          LNFILE.LN_MONTHEND_BAL,
          LNFILE.LN_ANTICTERM,
          LNFILE.LN_ANTICERN_1,
          LNFILE.LN_ANTICADJ_1,
          LNFILE.LN_UFERN_1,
          LNFILE.LN_ACCERN_1,
          LNFILE.LN_EARN_ORDER_1,
          LNFILE.LN_ANTICERN_2,
          LNFILE.LN_ANTICADJ_2,
          LNFILE.LN_UFERN_2,
          LNFILE.LN_ACCERN_2,
          LNFILE.LN_EARN_ORDER_2,
          LNFILE.LN_ANTICERN_3,
          LNFILE.LN_ANTICADJ_3,
          LNFILE.LN_UFERN_3,
          LNFILE.LN_ACCERN_3,
          LNFILE.LN_EARN_ORDER_3,
          LNFILE.LN_ANTICERN_4,
          LNFILE.LN_ANTICADJ_4,
          LNFILE.LN_UFERN_4,
          LNFILE.LN_ACCERN_4,
          LNFILE.LN_EARN_ORDER_4,
          LNFILE.LN_ANTICERN_5,
          LNFILE.LN_ANTICADJ_5,
          LNFILE.LN_UFERN_5,
          LNFILE.LN_ACCERN_5,
          LNFILE.LN_EARN_ORDER_5,
          LNFILE.LN_ANTICERN_6,
          LNFILE.LN_ANTICADJ_6,
          LNFILE.LN_UFERN_6,
          LNFILE.LN_ACCERN_6,
          LNFILE.LN_EARN_ORDER_6,
          LNFILE.LN_ANTICERN_7,
          LNFILE.LN_ANTICADJ_7,
          LNFILE.LN_UFERN_7,
          LNFILE.LN_ACCERN_7,
          LNFILE.LN_EARN_ORDER_7,
          LNFILE.LN_ANTICERN_8,
          LNFILE.LN_ANTICADJ_8,
          LNFILE.LN_UFERN_8,
          LNFILE.LN_ACCERN_8,
          LNFILE.LN_EARN_ORDER_8,
          LNFILE.LN_ANTICERN_9,
          LNFILE.LN_ANTICADJ_9,
          LNFILE.LN_UFERN_9,
          LNFILE.LN_ACCERN_9,
          LNFILE.LN_EARN_ORDER_9,
          LNFILE.LN_ANTICERN_10,
          LNFILE.LN_ANTICADJ_10,
          LNFILE.LN_UFERN_10,
          LNFILE.LN_ACCERN_10,
          LNFILE.LN_EARN_ORDER_10,
          LNFILE.LN_LMO_PRIOR_INTEREST,
          LNFILE.LN_PRIOR_UNEARNED,
          LNFILE.LN_ERNDELQ_STOP,
          LNFILE.LN_NONACRERN,
          LNFILE.LN_PRIOR_NONACRERN,
          CAST(LNFILE.LN_ERN_IB_PDTH_DATE AS VARCHAR(10))
                                          AS LN_ERN_IB_PDTH_DATE,
          LNFILE.LN_ERN_IB_PRINBAL,
          LNFILE.LN_ERN_IB_INTOWE,
          LNFILE.LN_TOTERN,
          LNFILE.LN_TOTOTH,
          LNFILE.LN_TOTINT,
          LNFILE.LN_TOTLCHG,
          LNFILE.LN_TOTDEF,
          LNFILE.LN_TOTSERACCT,
          LNFILE.LN_LCWAIVERS,
          LNFILE.LN_INTWAIVERS,
          LNFILE.LN_TOTPAYMNTD,
          LNFILE.LN_TOTEXCPAYMNTD,
          LNFILE.LN_TOTNODEF,
          LNFILE.LN_YTDNODEF,
          LNFILE.LN_TOTNODEFACT,
          LNFILE.LN_YTDNODEFACT,
          LNFILE.LN_TOTNOALDEL,
          LNFILE.LN_YTDNOALDEL,
          LNFILE.LN_YTDINTPD,
          LNFILE.LN_LYRINTPD,
          LNFILE.LN_TOTINTPD,
          LNFILE.LN_RECASTINT,
          LNFILE.LN_RECASTPRIN,
          LNFILE.LN_CL_REBATE,
          LNFILE.LN_AH_REBATE,
          LNFILE.LN_PP_REBATE,
          LNFILE.LN_INT_REBATE,
          LNFILE.LN_SC_REBATE,
          LNFILE.LN_MF_REBATE,
          LNFILE.LN_DF_REBATE,
          LNFILE.LN_EX_REBATE,
          LNFILE.LN_O1_REBATE,
          LNFILE.LN_O2_REBATE,
          LNFILE.LN_O3_REBATE,
          LNFILE.LN_O4_REBATE,
          LNFILE.LN_O5_REBATE,
          LNFILE.LN_O6_REBATE,
          LNFILE.LN_O7_REBATE,
          LNFILE.LN_UN_O7_REB,
          LNFILE.LN_UN_O8_REB,
          LNFILE.LN_UN_O9_REB,
          LNFILE.LN_UN_O10_REB,
          LNFILE.LN_PLREASON,
          LNFILE.LN_COLLECTOR,
          LNFILE.LN_ACTIONCD,
          LNFILE.LN_ACTIONCD2,
          LNFILE.LN_ATCODE,
          LNFILE.LN_RECODE,
          LNFILE.LN_ESCROW_FG,
          LNFILE.LN_PROMDAYS_PASTDUE,
          LNFILE.LN_PROMID,
          CAST(LNFILE.LN_PROMDATE       AS VARCHAR(10))
                                        AS LN_PROMDATE,
          LNFILE.LN_PROMAMT,
          CAST(LNFILE.LN_PROMDATE2      AS VARCHAR(10))
                                        AS LN_PROMDATE2,
          CAST(LNFILE.LN_DATE_PAID_LAST AS VARCHAR(10))
                                        AS LN_DATE_PAID_LAST,
          LNFILE.LN_AMT_PAID_LAST,
          LNFILE.LN_LASTCFORMNO,
          CAST(LNFILE.LN_LASTCFORMDATE  AS VARCHAR(10))
                                        AS LN_LASTCFORMDATE,
          LNFILE.LN_DELCNT,
          LNFILE.LN_DELCNT2,
          LNFILE.LN_CREDITLIM,
          LNFILE.LN_CRSCORE,
          LNFILE.LN_LASTSFORMNO,
          CAST(LNFILE.LN_LASTSFORMDATE  AS VARCHAR(10))
                                        AS LN_LASTSFORMDATE,
          LNFILE.LN_SOLCNT,
          LNFILE.LN_MESSAGE,
          LNFILE.LN_OLDACCTNO,
          LNFILE.LN_PRLNNO,
          LNFILE.LN_PRBAL,
          LNFILE.LN_PRINTDUE,
          LNFILE.LN_PRFINCHGRB,
          LNFILE.LN_PRINSRB,
          LNFILE.LN_PRPOCD,
          CAST(LNFILE.LN_PRPODATE       AS VARCHAR(10))
                                        AS LN_PRPODATE,
          LNFILE.LN_PRDELINQAMT,
          LNFILE.LN_PRLNAMT,
          LNFILE.LN_PRPDUE_DAYS,
          LNFILE.LN_PRDLDISC_UNEARN,
          LNFILE.LN_PRCONPROFILE,
          LNFILE.LN_SUM_ORIGPURAMT,
          LNFILE.LN_SUM_LNAMT,
          LNFILE.LN_SUM_FINCHG,
          LNFILE.LN_SUM_INTCHG,
          LNFILE.LN_SUM_ORGTERM,
          LNFILE.LN_SUM_REGPYAMT,
          LNFILE.LN_SUM_EXTCHG,
          LNFILE.LN_SUM_SERCHG,
          LNFILE.LN_SUM_MAINTFEE,
          LNFILE.LN_UNITPER_CD,
          LNFILE.LN_UNITPER_FREQ,
          LNFILE.LN_DAYS_IN_UNITPER,
          LNFILE.LN_UNITPER_PER_YEAR,
          LNFILE.LN_REPOCD,
          LNFILE.LN_BR_TFR_FG,
          LNFILE.LN_O3INS_DLPROC,
          LNFILE.LN_INSPREM_DLADJ,
          LNFILE.LN_PLAMT,
          LNFILE.LN_MTD_PRIN,
          LNFILE.LN_MTD_LC,
          LNFILE.LN_MTD_INT,
          LNFILE.LN_MTD_OT,
          LNFILE.LN_MTD_EX,
          LNFILE.LN_BNKRPT_CHAPTER,
          LNFILE.LN_BMO_CON_STATUS,
          LNFILE.LN_BMO_REC_STATUS,
          LNFILE.LN_APP_NUMBER,
          LNFILE.LN_GIFTNET,
          LNFILE.LN_GIFTNET_OUR_PO,
          LNFILE.LN_PROC_DISBURSED,
          LNFILE.LN_NOODDPY,
          LNFILE.LN_CONPROFILE_1,
          LNFILE.LN_CONPROFILE_2,
          LNFILE.LN_CONPROFILE_3,
          LNFILE.LN_CONPROFILE_4,
          LNFILE.LN_CONPROFILE_5,
          LNFILE.LN_RECPROFILE_1,
          LNFILE.LN_RECPROFILE_2,
          LNFILE.LN_RECPROFILE_3,
          LNFILE.LN_RECPROFILE_4,
          LNFILE.LN_RECPROFILE_5,
          LNFILE.LN_TRW_STATUS,
          LNFILE.LN_ORIGIN,
          LNFILE.LN_PO_TRCD,
          LNFILE.LN_NEXIS_CRSCORE,
          LNFILE.LN_TRW_B_CONSUMER_IND,
          LNFILE.LN_PARVHELD_PAID_FG,
          LNFILE.LN_ACCT_FROZEN,
          LNFILE.LN_TRW_SPECIAL_CODE,
          LNFILE.LN_CREATION_STATUS,
          LNFILE.LN_TOTNOLCHG,
          LNFILE.LN_LBOX,
          LNFILE.LN_EXTRA_PRIN_LFP,
          LNFILE.LN_REMAIN_INT_SINCE_LFP,
          LNFILE.LN_REMAIN_PRIN_SINCE_LFP,
          LNFILE.LN_INTERIM_COUPON,
          LNFILE.LN_DLCOMM_O3_CMSI,
          LNFILE.LN_DLCOMM_PP_CMSI,
          LNFILE.LN_TRW_J_CONSUMER_IND,
          LNFILE.LN_ACH,
          LNFILE.LN_1099_C_FG,
          LNFILE.LN_TRW_COMPLIANCE_CODE,
          LNFILE.LN_UNWIND_REASON_CODE,
          LNFILE.LN_PBI_PBD_FG,
          LNFILE.LN_OLD_ACCT_FORMAT_FG,
          LNFILE.LN_APPROVED_BY_USER,
          LNFILE.LN_APPROVED_BY_CODE,
          CAST(LNFILE.LN_APPROVED_BY_DATE AS VARCHAR(10))
                                        AS LN_APPROVED_BY_DATE,
          LNFILE.LN_APPROVED_BY_TIME,	    
          CAST(LNFILE.LN_LTOUCH_DATE    AS VARCHAR(10))
                                        AS LN_LTOUCH_DATE,
          LNFILE.LN_LTOUCH_TIME,
          CASE WHEN @QWS_PL           = 'O'
                AND LNFILE.LN_PLDATE  = '1900-01-01'
               THEN 'N'
      		   WHEN @QWS_PL           = 'S'
                AND LNFILE.LN_PLDATE != '1900-01-01'
               THEN 'N' 
               WHEN LNFILE.LN_PLDATE != '1900-01-01'
                AND @QWS_PLACTIVE     = 'A'
                AND LNFILE.LN_PLCD   != 'P'
               THEN 'N' 
               WHEN LNFILE.LN_PLDATE != '1900-01-01'
                AND @QWS_PLACTIVE     = 'I'
                AND LNFILE.LN_PLCD   != 'I'
                AND LNFILE.LN_PLCD   != 'W'
               THEN 'N'    
               WHEN LNFILE.LN_PLDATE != '1900-01-01'
                AND @QWS_PLTYPE      != 'A'
                AND LNFILE.LN_PLTYPE != @QWS_PLTYPE
               THEN 'N'
               WHEN LNFILE.LN_PLDATE != '1900-01-01'
                AND LNFILE.LN_PLDATE  < @QWS_PL_FROM_DATE
                AND LNFILE.LN_DATE_PAID_LAST 
                                      = '1900-01-01'
               THEN 'N'
               WHEN LNFILE.LN_PLDATE != '1900-01-01'
                AND LNFILE.LN_PLDATE  < @QWS_PL_FROM_DATE
                AND LNFILE.LN_DATE_PAID_LAST 
                                      < @QWS_TEST_DATE_PAID_LAST
               THEN 'N'
               WHEN @QWS_ZBAL         = 'O'
               AND (LNFILE.LN_CURBAL != 0 
                 OR LNFILE.LN_INTBAL != 0 
                 OR LNFILE.LN_LCBAL  != 0 
                 OR LNFILE.LN_OTHBAL != 0 )
               THEN 'N'
               WHEN @QWS_ZBAL         = 'S'
               AND (LNFILE.LN_CURBAL  = 0 
               AND  LNFILE.LN_INTBAL  = 0 
               AND  LNFILE.LN_LCBAL   = 0 
               AND  LNFILE.LN_OTHBAL  = 0 )
               THEN 'N'
               WHEN LNFILE.LN_POFFDATE != '1900-01-01'
                AND @QWS_ZBAL_DATE     != @QWS_JULIAN_BEG
                AND LNFILE.LN_POFFDATE < @QWS_ZBAL_DATE
               THEN 'N'
               ELSE 'Y'
           END  AS USE_SW     
   
        FROM DBO.LNFILE  LNFILE
   
       WHERE    LNFILE.LN_OWNBR         = @QLN3_WBEG_OWNBR
         AND    LNFILE.LN_CLASS   BETWEEN @QLN3_WBEG_CLASS
                                      AND @QLN3_WEND_CLASS) TEMP  
 
     LEFT OUTER JOIN
            DBO.LTAFILE  LTAFILE
       ON (  TEMP.LN_OWNBR            = LTAFILE.LTA_BRNO   
      AND    TEMP.LN_ACCTNO           = LTAFILE.LTA_ACCTNO
      AND    LTAFILE.LTA_SEQNO        = 1 ) 

     LEFT OUTER JOIN
            DBO.LTBFILE  LTBFILE
       ON (  TEMP.LN_OWNBR            = LTBFILE.LTB_BRNO   
      AND    TEMP.LN_ACCTNO           = LTBFILE.LTB_ACCTNO
      AND    LTBFILE.LTB_SEQNO        = 1 ) 

     LEFT OUTER JOIN
            DBO.LTCFILE  LTCFILE
       ON (  TEMP.LN_OWNBR            = LTCFILE.LTC_BRNO   
      AND    TEMP.LN_ACCTNO           = LTCFILE.LTC_ACCTNO
      AND    LTCFILE.LTC_SEQNO        = 1 ) 

     LEFT OUTER JOIN
            DBO.LTDFILE  LTDFILE
       ON (  TEMP.LN_OWNBR            = LTDFILE.LTD_BRNO   
      AND    TEMP.LN_ACCTNO           = LTDFILE.LTD_ACCTNO
      AND    LTDFILE.LTD_SEQNO        = 1 ) 

     LEFT OUTER JOIN
            DBO.LTLFILE  LTLFILE
       ON (  TEMP.LN_OWNBR            = LTLFILE.LTL_BRNO   
      AND    TEMP.LN_ACCTNO           = LTLFILE.LTL_ACCTNO
      AND    LTLFILE.LTL_SEQNO        = 1 ) 

     LEFT OUTER JOIN
            DBO.LTPFILE  LTPFILE
       ON (  TEMP.LN_OWNBR            = LTPFILE.LTP_BRNO   
      AND    TEMP.LN_ACCTNO           = LTPFILE.LTP_ACCTNO
      AND    LTPFILE.LTP_SEQNO        = 1 ) 

     LEFT OUTER JOIN
            DBO.BWFILE  BWFILE
       ON (  TEMP.LN_OWNBR            = BWFILE.BW_OWNBR   
      AND    TEMP.LN_SSNO1            = BWFILE.BW_SSNO ) 

    WHERE TEMP.USE_SW = 'Y'
  
    ORDER BY TEMP.LN_OWNBR,
             TEMP.LN_CLASS,
             TEMP.LN_ACCTNO; 
             
END
GO
