USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_TRANLS_GTFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_TRANLS_GTFILE_SELECT              */
/*               PROGRAM NAME: GL/TRANLS.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 08/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: GTFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_TRANLS_GTFILE_SELECT]
    @QGT_WBEG_SOURCE  AS INT,
	@QGT_WEND_SOURCE  AS INT, 
    @QGT_WBEG_DATE2   AS DATE,
	@QGT_WEND_DATE2   AS DATE,
    @BRANCHLIST       AS VARCHAR(7500),
	@QGT_WBEG_ACCTNO  AS INT,
	@QGT_WEND_ACCTNO  AS INT
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QGT_WBEG_SOURCE   INT
--DECLARE @QGT_WEND_SOURCE   INT 
--DECLARE @QGT_WBEG_DATE2    DATE  
--DECLARE @QGT_WEND_DATE2    DATE
--DECLARE @BRANCHLIST        VARCHAR(7500)
--DECLARE @QGT_WEND_BRANCH   INT
--DECLARE @QGT_WBEG_ACCTNO   INT
--DECLARE @QGT_WEND_ACCTNO   INT


--SET @QGT_WBEG_SOURCE   = 3
--SET @QGT_WEND_SOURCE   = 3 
--SET @QGT_WBEG_DATE2    = '2019-12-01' 
--SET @QGT_WEND_DATE2    = '2019-12-31'
--SET @BRANCHLIST        = '10,11'       
--SET @QGT_WBEG_ACCTNO   = 0
--SET @QGT_WEND_ACCTNO   = 9999999
 
 CREATE TABLE #TEMP1_BRANCH_GROUP_TBL
   ( SEQ int IDENTITY(1,1),
     BRNO int ); 

 INSERT INTO #TEMP1_BRANCH_GROUP_TBL (BRNO)
  SELECT P.VALUE FROM string_Split(@BRANCHLIST, ',') P;

      SELECT GTFILE.GT_FLAG, 
             GTFILE.GT_REF, 
             CAST(GTFILE.GT_DATE1 AS VARCHAR(10)), 
             GTFILE.GT_SOURCE,
             CAST(GTFILE.GT_DATE2 AS VARCHAR(10)), 
             GTFILE.GT_BRANCH,
             GTFILE.GT_ACCTNO,
             CAST(GTFILE.GT_DATE3 AS VARCHAR(10)), 
             GTFILE.GT_DRCRFG, 
             GTFILE.GT_LINE,
             GTFILE.GT_AMT,
             GTFILE.GT_EXPL, 
             GTFILE.GT_PERIOD,
			 ISNULL(GLFILE.GL_DESCRIPTION,' ')

      FROM #TEMP1_BRANCH_GROUP_TBL T1
			
      INNER JOIN DBO.GTFILE GTFILE
	     ON GTFILE.GT_BRANCH = T1.BRNO

	  LEFT OUTER JOIN DBO.GLFILE GLFILE
         ON GLFILE.GL_BR_ACCOUNT = CAST((((CAST(GTFILE.GT_BRANCH AS BIGINT)) * 10000000) + GTFILE.GT_ACCTNO) AS BIGINT)
		 
	 WHERE GTFILE.GT_SOURCE BETWEEN @QGT_WBEG_SOURCE AND @QGT_WEND_SOURCE
      AND  GTFILE.GT_DATE2  BETWEEN @QGT_WBEG_DATE2  AND @QGT_WEND_DATE2
	  AND  GTFILE.GT_ACCTNO BETWEEN @QGT_WBEG_ACCTNO AND @QGT_WEND_ACCTNO
    
	 ORDER BY GTFILE.GT_SOURCE,
	          GTFILE.GT_BRANCH

END
GO
