USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_AUDEXT_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_AUDEXT_LNFILE_SELECT              */
/*               PROGRAM NAME: LP/AUDEXT.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 10/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE BWFILE                                           */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_AUDEXT_LNFILE_SELECT]
    @QLN3_WBEG_OWNBR    AS INT,
    @QLN3_WBEG_CLASS    AS INT,
    @QLN3_WEND_CLASS    AS INT,
	@INCZBAL            AS CHAR(1),
	@INCPL              AS CHAR(1),
	@INCBNKRPT          AS CHAR(1),
	@INCCONFID          AS CHAR(1),
	@INCREPO            AS CHAR(1),
	@INCSRCD1           AS CHAR(2),
    @INCSRCD2           AS CHAR(2),
    @INCSRCD3           AS CHAR(2),
    @INCSRCD4           AS CHAR(2),
    @INCSRCD5           AS CHAR(2),
    @INCSRCD6           AS CHAR(2),
    @INCSRCD7           AS CHAR(2),
    @INCSRCD8           AS CHAR(2),
    @INCSRCD9           AS CHAR(2),
    @INCSRCD10          AS CHAR(2),
	@BEG_LNDATE         AS DATE,
	@END_LNDATE         AS DATE,
	@OFFSET             AS INT

 AS
BEGIN
	SET NOCOUNT ON;

  DECLARE @PARAMLIST  NVARCHAR(4000),      
		  @SQL        NVARCHAR(MAX)
		   
--DECLARE @QLN3_WBEG_OWNBR   INT
--DECLARE @QLN3_WBEG_CLASS   INT
--DECLARE @QLN3_WEND_CLASS   INT 
--DECLARE @INCZBAL           CHAR(1)
--DECLARE @INCPL             CHAR(1)
--DECLARE @INCBNKRPT         CHAR(1)
--DECLARE @INCCONFID         CHAR(1)
--DECLARE @INCREPO           CHAR(1)
--DECLARE @INCSRCD1          CHAR(2)
--DECLARE @INCSRCD2          CHAR(2)
--DECLARE @INCSRCD3          CHAR(2)
--DECLARE @INCSRCD4          CHAR(2)
--DECLARE @INCSRCD5          CHAR(2)
--DECLARE @INCSRCD6          CHAR(2)
--DECLARE @INCSRCD7          CHAR(2)
--DECLARE @INCSRCD8          CHAR(2)
--DECLARE @INCSRCD9          CHAR(2)
--DECLARE @INCSRCD10         CHAR(2)
--DECLARE @BEG_LNDATE        DATE
--DECLARE @END_LNDATE        DATE 
--DECLARE @OFFSET            INT

--SET @QLN3_WBEG_OWNBR   = 10
--SET @QLN3_WBEG_CLASS   = 000
--SET @QLN3_WEND_CLASS   = 999
--SET @INCZBAL           = 'N'
--SET @INCPL             = 'N'
--SET @INCBNKRPT         = 'Y'
--SET @INCCONFID         = 'N'
--SET @INCREPO           = 'N'
--SET @INCBNKRPT         = 'Y'
--SET @INCCONFID         = 'N'
--SET @INCREPO           = 'N'
--SET @INCSRCD1          = 'FB'
--SET @INCSRCD2          = 'NB'
--SET @INCSRCD3          = 'DM'
--SET @INCSRCD4          = 'RF'
--SET @INCSRCD5          = 'ML'
--SET @INCSRCD6          = 'LF'
--SET @INCSRCD7          = 'VN'
--SET @INCSRCD8          = 'VF'
--SET @INCSRCD9          = 'VR'
--SET @INCSRCD10         = '  '
--SET @BEG_LNDATE        = '1900-01-01'
--SET @END_LNDATE        = '2050-12-31'
--SET @OFFSET            = 0

SELECT @SQL = 'SELECT LNFILE.LN_OWNBR,
                   LNFILE.LN_ACCTNO,
                   LNFILE.LN_CLASS,
                   LNFILE.LN_SUBCLASS,
                   LNFILE.LN_LAWCODE,
                   LNFILE.LN_SSNO1,
                   LNFILE.LN_MAKERCD1,
                   LNFILE.LN_SSNO2,
                   LNFILE.LN_MAKERCD2,
                   LNFILE.LN_SSNO3,
                   LNFILE.LN_MAKERCD3,
                   LNFILE.LN_SSNO4,
                   LNFILE.LN_MAKERCD4,
                   LNFILE.LN_ORGST,
                   LNFILE.LN_SPRCLASS,
                   LNFILE.LN_SRCD,
                   LNFILE.LN_POCD,
                   LNFILE.LN_PLCD,
                   LNFILE.LN_CONFIDENTCD,
                   LNFILE.LN_ALLOTCD,
                   LNFILE.LN_PAY_SCHLD_FG,
                   CAST(LNFILE.LN_LOANDATE       AS VARCHAR(10)),
                   CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_1STPYDATE      AS VARCHAR(10)),
                   CAST(LNFILE.LN_JDDATE         AS VARCHAR(10)),
                   CAST(LNFILE.LN_PLDATE         AS VARCHAR(10)),
                   CAST(LNFILE.LN_LEGALDATE      AS VARCHAR(10)),
                   CAST(LNFILE.LN_BNKRPTDATE     AS VARCHAR(10)),
                   CAST(LNFILE.LN_DEBTAIDATE     AS VARCHAR(10)),
                   LNFILE.LN_PROCEEDS,
                   LNFILE.LN_ORGTERM,
                   LNFILE.LN_1STPYAMT,
                   LNFILE.LN_NOREGPY,
                   LNFILE.LN_REGPYAMT,
                   LNFILE.LN_LASTPYAMT,
                   LNFILE.LN_FEECODE_1,
                   LNFILE.LN_FEECODE_2,
                   LNFILE.LN_FEECODE_3,
                   LNFILE.LN_FEECODE_4,
                   LNFILE.LN_FEECODE_5,
                   LNFILE.LN_FEECODE_6,
                   LNFILE.LN_FEECODE_7,
                   LNFILE.LN_FEECODE_8,
                   LNFILE.LN_FEECODE_9,
                   LNFILE.LN_FEECODE_10,
                   LNFILE.LN_FEECODE_11,
                   LNFILE.LN_FEECODE_12,
                   LNFILE.LN_FEECODE_13,
                   LNFILE.LN_FEECODE_14,
                   LNFILE.LN_FEECODE_15,
                   LNFILE.LN_FEECODE_16,
                   LNFILE.LN_FEECODE_17,
                   LNFILE.LN_FEECODE_18,
                   LNFILE.LN_FEECODE_19,
                   LNFILE.LN_FEECODE_20,
                   LNFILE.LN_FEEAMT_1,
                   LNFILE.LN_FEEAMT_2,
                   LNFILE.LN_FEEAMT_3,
                   LNFILE.LN_FEEAMT_4,
                   LNFILE.LN_FEEAMT_5,
                   LNFILE.LN_FEEAMT_6,
                   LNFILE.LN_FEEAMT_7,
                   LNFILE.LN_FEEAMT_8,
                   LNFILE.LN_FEEAMT_9,
                   LNFILE.LN_FEEAMT_10,
                   LNFILE.LN_FEEAMT_11,
                   LNFILE.LN_FEEAMT_12,
                   LNFILE.LN_FEEAMT_13,
                   LNFILE.LN_FEEAMT_14,
                   LNFILE.LN_FEEAMT_15,
                   LNFILE.LN_FEEAMT_16,
                   LNFILE.LN_FEEAMT_17,
                   LNFILE.LN_FEEAMT_18,
                   LNFILE.LN_FEEAMT_19,
                   LNFILE.LN_FEEAMT_20,
                   LNFILE.LN_INSPREM_1,
                   LNFILE.LN_INSPREM_2,
                   LNFILE.LN_INSPREM_3,
                   LNFILE.LN_INSPREM_4,
                   LNFILE.LN_INSPREM_5,
                   LNFILE.LN_INSPREM_6,
                   LNFILE.LN_INSPREM_7,
                   LNFILE.LN_INSPREM_8,
                   LNFILE.LN_INSPREM_9,
                   LNFILE.LN_INSPREM_10,
                   LNFILE.LN_PY_YYYYMM_RECDEL,
                   LNFILE.LN_MTD_PAYS_RECDEL,
                   LNFILE.LN_CURBAL,
                   LNFILE.LN_INTBAL,
                   LNFILE.LN_LCBAL,
                   LNFILE.LN_OTHBAL,
                   LNFILE.LN_TOTPAYMNTD,
                   LNFILE.LN_TOTNODEF,
                   LNFILE.LN_TOTNOALDEL,
                   CAST(LNFILE.LN_DATE_PAID_LAST AS VARCHAR(10)),
                   LNFILE.LN_SUM_ORGTERM,
                   LNFILE.LN_UNITPER_CD,
                   LNFILE.LN_UNITPER_FREQ,
                   LNFILE.LN_REPOCD,
                   LNFILE.LN_LBOX,
				   ISNULL(BWFILE.BW_OWNBR,0),
                   ISNULL(BWFILE.BW_SSNO,0),
				   ISNULL(BWFILE.BW_FNAME,''''),
				   ISNULL(BWFILE.BW_LNAME,''''),
				   ISNULL(BWFILE.BW_ADR1,''''),
                   ISNULL(BWFILE.BW_ADR2,''''),
                   ISNULL(BWFILE.BW_CITY,''''),
                   ISNULL(BWFILE.BW_STATE,''''),
                   ISNULL(BWFILE.BW_ZIP,''''),
                   ISNULL(BWFILE.BW_CONFIDENTIAL,'''') '
				
IF @OFFSET  = 0
 SELECT @SQL += ' FROM DBO.LNFILE LNFILE'

IF @OFFSET  > 0
 SELECT @SQL += ' FROM (SELECT * FROM DBO.LNFILE 
			       WHERE LN_OWNBR = @QLN3_WBEG_OWNBR
			       AND LNFILE.LN_CLASS BETWEEN @QLN3_WBEG_CLASS AND @QLN3_WEND_CLASS
			       ORDER BY LN_CLASS, LN_ACCTNO
			       OFFSET @OFFSET ROWS) LNFILE'
				 
 SELECT @SQL += ' LEFT OUTER JOIN DBO.BWFILE BWFILE
                   ON BWFILE.BW_OWNBR = LNFILE.LN_OWNBR 
                   AND BWFILE.BW_SSNO  = LNFILE.LN_SSNO1
			 
			WHERE LNFILE.LN_OWNBR = @QLN3_WBEG_OWNBR
            AND LNFILE.LN_CLASS BETWEEN @QLN3_WBEG_CLASS AND @QLN3_WEND_CLASS
			AND LNFILE.LN_POCD NOT IN (''**'', ''*I'', ''*R'', ''*U'')
            AND LNFILE.LN_LOANDATE BETWEEN @BEG_LNDATE AND @END_LNDATE'
			
IF @INCZBAL = 'N'
SELECT @SQL += ' AND (LNFILE.LN_CURBAL <> 0 OR LNFILE.LN_INTBAL <> 0 OR LNFILE.LN_OTHBAL <> 0)'  

IF @INCPL = 'N'
SELECT @SQL += ' AND (LNFILE.LN_PLDATE = ''1900-01-01'')'  
   
IF @INCBNKRPT = 'N'
SELECT @SQL += ' AND (LNFILE.LN_BNKRPTDATE = ''1900-01-01'')' 

IF @INCCONFID = 'N'
SELECT @SQL += ' AND (LNFILE.LN_CONFIDENTCD != ''Y'')'
 
IF @INCREPO = 'N'
SELECT @SQL += ' AND (LNFILE.LN_REPOCD NOT IN (''X'', ''S''))'

IF @INCSRCD1 != '**'
 SELECT @SQL += ' AND LNFILE.LN_SRCD IN (''' +  @INCSRCD1 + ''',''' + @INCSRCD2 + ''',''' + @INCSRCD3 + '''' 
                                     +  ',''' + @INCSRCD4 + ''',''' + @INCSRCD5 + ''',''' + @INCSRCD6 + '''' 
									 +  ',''' + @INCSRCD7 + ''',''' + @INCSRCD8 + ''',''' + @INCSRCD9 + '''' 
								     +  ',''' + @INCSRCD10 + ''')'

SELECT @SQL += ' ORDER BY LNFILE.LN_CLASS, LNFILE.LN_ACCTNO '  

SELECT @paramlist = '@QLN3_WBEG_OWNBR  INT,
	                 @QLN3_WBEG_CLASS  INT,
                     @QLN3_WEND_CLASS  INT,
					 @INCZBAL          CHAR(1),
					 @INCPL            CHAR(1),
					 @INCBNKRPT        CHAR(1),
					 @INCCONFID        CHAR(1),
	                 @INCREPO          CHAR(1),
	                 @INCSRCD1         CHAR(2),
				     @INCSRCD2         CHAR(2),
                     @INCSRCD3         CHAR(2),
					 @INCSRCD4         CHAR(2),
					 @INCSRCD5         CHAR(2),
				     @INCSRCD6         CHAR(2),
                     @INCSRCD7         CHAR(2),
					 @INCSRCD8         CHAR(2),
				     @INCSRCD9         CHAR(2),
					 @INCSRCD10        CHAR(2),
					 @BEG_LNDATE       DATE,
					 @END_LNDATE       DATE,
					 @OFFSET           INT'
					
EXEC sp_executesql @SQL, @paramlist, @QLN3_WBEG_OWNBR, @QLN3_WBEG_CLASS, @QLN3_WEND_CLASS, @INCZBAL, @INCPL, 
                         @INCBNKRPT, @INCCONFID, @INCREPO, @INCSRCD1, @INCSRCD2, @INCSRCD3, @INCSRCD4, @INCSRCD5,
						 @INCSRCD6, @INCSRCD7, @INCSRCD8, @INCSRCD9, @INCSRCD10, @BEG_LNDATE, @END_LNDATE, @OFFSET

END 
GO
