USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_WDAYBK_GTFILE_TOTAL_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_WDAYBK_GTFILE_TOTAL_SELECT        */
/*               PROGRAM NAME: GL/WDAYBK.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: ADDED TOTAL ROWS SKIPPED. REPLACED EMBEDDED READ/COUNT. */
/*                                                                   */
/*   TABLES: GTFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_WDAYBK_GTFILE_TOTAL_SELECT]
    @QWS_WBEG_DATE        AS DATE,
    @QWS_WEND_DATE        AS DATE,
    @QWS_WBEG_SOURCE_CODE AS INT,
    @QWS_WEND_SOURCE_CODE AS INT,
    @QWS_PREV_EXTRACTED   AS CHAR(1)
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QWS_WBEG_DATE        DATE
--DECLARE @QWS_WEND_DATE        DATE
--DECLARE @QWS_WBEG_SOURCE_CODE INT
--DECLARE @QWS_WEND_SOURCE_CODE INT
--DECLARE @QWS_PREV_EXTRACTED   CHAR(1)

--SET     @QWS_WBEG_DATE        = '2022-12-01'
--SET     @QWS_WEND_DATE        = '2022-12-31'
--SET     @QWS_WBEG_SOURCE_CODE = 3
--SET     @QWS_WEND_SOURCE_CODE = 3
--SET     @QWS_PREV_EXTRACTED   = 'S'

DROP TABLE IF EXISTS #TEMP_WDAYBK_GTFILE_TOTAL;

    SELECT TEMP.QWS_TOTAL_SKIPPED

      INTO #TEMP_WDAYBK_GTFILE_TOTAL

      FROM

   (SELECT SUM(CASE WHEN (GTFILE.GT_SOURCE           < @QWS_WBEG_SOURCE_CODE
                      OR  GTFILE.GT_SOURCE           > @QWS_WEND_SOURCE_CODE)
                      OR  (@QWS_PREV_EXTRACTED       = 'S'
                     AND   GTFILE.GT_SMITH_SENT     IN ('X', 'E'))
                      OR  (@QWS_PREV_EXTRACTED       = 'O'
                     AND   GTFILE.GT_SMITH_SENT NOT IN ('X', 'E'))
                    THEN 1
                    ELSE 0
                END) AS QWS_TOTAL_SKIPPED 

      FROM DBO.GTFILE GTFILE 
     WHERE (GTFILE.GT_DATE1     BETWEEN @QWS_WBEG_DATE 
                                    AND @QWS_WEND_DATE)) TEMP;

    SELECT #TEMP_WDAYBK_GTFILE_TOTAL.QWS_TOTAL_SKIPPED
	  FROM #TEMP_WDAYBK_GTFILE_TOTAL;

DROP TABLE IF EXISTS #TEMP_WDAYBK_GTFILE_TOTAL;

END
GO
