USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LTBFLE_LTBFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LTBFLE_LTBFILE_SELECT             */
/*               PROGRAM NAME: UT/LTBFLE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 03/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LTBFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_LTBFLE_LTBFILE_SELECT]
    @QLTB_WBEG_BRNO   AS INT,
	@QLTB_WBEG_ACCTNO AS INT,
	@QLTB_WEND_ACCTNO AS INT

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLTB_WBEG_BRNO  INT
--DECLARE @QLTB_WBEG_ACCTNO INT
--DECLARE @QLTB_WEND_ACCTNO INT

--SET @QLTB_WBEG_BRNO   = 1504
--SET @QLTB_WBEG_ACCTNO = 0
--SET @QLTB_WEND_ACCTNO = 99999999

            SELECT LTBFILE.LTB_BRNO,
                   LTBFILE.LTB_ACCTNO,
                   LTBFILE.LTB_SEQNO,
                   CAST(LTBFILE.LTB_LTOUCH_DATE AS VARCHAR(10)),
                   CAST(LTBFILE.LTB_FILEDATE    AS VARCHAR(10)),
                   LTBFILE.LTB_CASE_NO,
                   LTBFILE.LTB_CHAPTER,
                   LTBFILE.LTB_MISC1,
                   LTBFILE.LTB_MISC2,
                   LTBFILE.LTB_MISC3,
                   CAST(LTBFILE.LTB_BDDATE AS VARCHAR(10)),
                   LTBFILE.LTB_WHO_FILED,
                   LTBFILE.LTB_ENDORSER_FILED,
                   LTBFILE.LTB_CLAIM_AMT,
                   LTBFILE.LTB_ACTIVE_INACTIVE,
                   LTBFILE.LTB_INT_LC_DUE,
                   LTBFILE.LTB_OTH_DUE,
                   LTBFILE.LTB_TDUEAMT,
                   LTBFILE.LTB_NAME_1,
                   LTBFILE.LTB_ADR1_1,
                   LTBFILE.LTB_ADR2_1,
                   LTBFILE.LTB_CITY_1,
                   LTBFILE.LTB_STATE_1,
                   LTBFILE.LTB_ZIP_1,
                   LTBFILE.LTB_PHONE_1,
                   LTBFILE.LTB_NAME_2,
                   LTBFILE.LTB_ADR1_2,
                   LTBFILE.LTB_ADR2_2,
                   LTBFILE.LTB_CITY_2,
                   LTBFILE.LTB_STATE_2,
                   LTBFILE.LTB_ZIP_2,
                   LTBFILE.LTB_PHONE_2,
                   LTBFILE.LTB_NAME_3,
                   LTBFILE.LTB_ADR1_3,
                   LTBFILE.LTB_ADR2_3,
                   LTBFILE.LTB_CITY_3,
                   LTBFILE.LTB_STATE_3,
                   LTBFILE.LTB_ZIP_3,
                   LTBFILE.LTB_PHONE_3,
                   CAST(LTBFILE.LTB_REAFF_DATE    AS VARCHAR(10)),
                   CAST(LTBFILE.LTB_REAFF_SYSDATE AS VARCHAR(10)),
                   LTBFILE.LTB_REAFF_BALANCE,
                   LTBFILE.LTB_REAFF_PAYAMT,
                   LTBFILE.LTB_REAFF_NO_PAYS,
                   LTBFILE.LTB_INTRATE,
                   CAST(LTBFILE.LTB_RESCIND_DATE  AS VARCHAR(10)),
                   LTBFILE.LTB_PARTIAL_FULL,
                   CAST(LTBFILE.LTB_DISCHARGE_DATE    AS VARCHAR(10)),
                   CAST(LTBFILE.LTB_DISCHARGE_SYSDATE AS VARCHAR(10)),
                   LTBFILE.LTB_GROSS_BAL
            FROM DBO.LTBFILE
            
			WHERE LTBFILE.LTB_BRNO  = @QLTB_WBEG_BRNO
              AND LTBFILE.LTB_ACCTNO BETWEEN @QLTB_WBEG_ACCTNO AND @QLTB_WEND_ACCTNO
            
			ORDER BY LTBFILE.LTB_BRNO,
                     LTBFILE.LTB_ACCTNO,
                     LTBFILE.LTB_SEQNO
 
END 
GO
