USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BWLNRP_BW2FILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_BWLNRP_BW2FILE_SELECT             */
/*               PROGRAM NAME: LP/BWLNRP.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: BWFILE                                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_BWLNRP_BW2FILE_SELECT]
    @QBW2_WBEG_OWNBR as int  
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QBW2_WBEG_OWNBR  INT
--SET     @QBW2_WBEG_OWNBR  = 0010   
 
   SELECT BWFILE.BW_OWNBR,
          BWFILE.BW_SSNO,             
          BWFILE.BW_LNAME, 
          BWFILE.BW_FNAME,
          BWFILE.BW_SOLICIT
     FROM DBO.BWFILE
    WHERE BWFILE.BW_OWNBR   = @QBW2_WBEG_OWNBR
    ORDER BY BWFILE.BW_OWNBR,
             BWFILE.BW_LNAME,
             BWFILE.BW_FNAME,
             BWFILE.BW_SSNO

END
GO
