USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_TCLP_BIFILE_LOAD]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_TCLP_BIFILE_LOAD                  */
/*               PROGRAM NAME: STAND ALONE                           */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE COBOL PROGRAM TO LOAD TABLE BIFILE.             */
/*                                                                   */
/*   TABLES: BIFILE, LNFILE, BWFILE                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   11/12/2024  RMZ          CHANGED 'DELETE' TO 'TRUNCATE' FOR     */
/*                            BIFILE.                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_TCLP_BIFILE_LOAD]
AS BEGIN

   TRUNCATE TABLE [dbo].[BIFILE];     

   INSERT INTO DBO.BIFILE  
         (BIFILE.BI_SSNO            
         ,BIFILE.BI_ACCTNO          
         ,BIFILE.BI_OWNBR           
         ,BIFILE.BI_LNAME           
         ,BIFILE.BI_FNAME           
         ,BIFILE.BI_LTOUCH_DATE     
         ,BIFILE.BI_MAKERCD         
         ,BIFILE.BI_ORGST           
         ,BIFILE.BI_GIFTNET         
         ,BIFILE.BI_POFFDATE        
         ,BIFILE.BI_ENTDATE         
         ,BIFILE.BI_SALEFIN         
         ,BIFILE.BI_CONVERCD        
         ,BIFILE.BI_PLCD            
         ,BIFILE.BI_SMALLOAN        
         ,BIFILE.BI_PLDATE)
   SELECT LNFILE.LN_SSNO1,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_OWNBR,
          ISNULL(BWFILE.BW_LNAME,'NOT FOUND'),
          ISNULL(BWFILE.BW_FNAME,' '),
          CONVERT (DATE, GETDATE()),  
          ISNULL(LNFILE.LN_MAKERCD1,''),
          ISNULL(LNFILE.LN_ORGST,''),
          ISNULL(LNFILE.LN_GIFTNET,''),
          ISNULL(CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LNFILE.LN_ENTDATE  AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LNFILE.LN_SALEFIN,''),
          ISNULL(LNFILE.LN_CONVERCD,''),
          ISNULL(LNFILE.LN_PLCD,''),
          ISNULL(LNFILE.LN_SMALLOAN,''),
          ISNULL(CAST(LNFILE.LN_PLDATE   AS VARCHAR(10)),'1900-01-01')
     FROM DBO.LNFILE      LNFILE
     LEFT JOIN DBO.BWFILE BWFILE 
       ON (LNFILE.LN_OWNBR    = BWFILE.BW_OWNBR     
      AND  LNFILE.LN_SSNO1    = BWFILE.BW_SSNO)
    WHERE ( LNFILE.LN_POCD  NOT IN ('**', '*I', '*R', '*U'));

    INSERT INTO DBO.BIFILE 
         (BIFILE.BI_SSNO            
         ,BIFILE.BI_ACCTNO          
         ,BIFILE.BI_OWNBR           
         ,BIFILE.BI_LNAME           
         ,BIFILE.BI_FNAME           
         ,BIFILE.BI_LTOUCH_DATE     
         ,BIFILE.BI_MAKERCD         
         ,BIFILE.BI_ORGST           
         ,BIFILE.BI_GIFTNET         
         ,BIFILE.BI_POFFDATE        
         ,BIFILE.BI_ENTDATE         
         ,BIFILE.BI_SALEFIN         
         ,BIFILE.BI_CONVERCD        
         ,BIFILE.BI_PLCD            
         ,BIFILE.BI_SMALLOAN        
         ,BIFILE.BI_PLDATE)
   SELECT LNFILE.LN_SSNO2,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_OWNBR,
          ISNULL(BWFILE.BW_LNAME,'NOT FOUND'),
          ISNULL(BWFILE.BW_FNAME,' '),
          CONVERT (DATE, GETDATE()),  
          ISNULL(LNFILE.LN_MAKERCD2,''),
          ISNULL(LNFILE.LN_ORGST,''),
          ISNULL(LNFILE.LN_GIFTNET,''),
          ISNULL(CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LNFILE.LN_ENTDATE  AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LNFILE.LN_SALEFIN,''),
          ISNULL(LNFILE.LN_CONVERCD,''),
          ISNULL(LNFILE.LN_PLCD,''),
          ISNULL(LNFILE.LN_SMALLOAN,''),
          ISNULL(CAST(LNFILE.LN_PLDATE   AS VARCHAR(10)),'1900-01-01')
     FROM DBO.LNFILE      LNFILE
     LEFT JOIN DBO.BWFILE BWFILE 
       ON ( LNFILE.LN_OWNBR   = BWFILE.BW_OWNBR     
      AND   LNFILE.LN_SSNO2   = BWFILE.BW_SSNO)
    WHERE ( LNFILE.LN_POCD  NOT IN ('**', '*I', '*R', '*U')
      AND   LNFILE.LN_SSNO2  != 0 
      AND   LN_SSNO2         != LN_SSNO1 );

    INSERT INTO DBO.BIFILE 
         (BIFILE.BI_SSNO            
         ,BIFILE.BI_ACCTNO          
         ,BIFILE.BI_OWNBR           
         ,BIFILE.BI_LNAME           
         ,BIFILE.BI_FNAME           
         ,BIFILE.BI_LTOUCH_DATE     
         ,BIFILE.BI_MAKERCD         
         ,BIFILE.BI_ORGST           
         ,BIFILE.BI_GIFTNET         
         ,BIFILE.BI_POFFDATE        
         ,BIFILE.BI_ENTDATE         
         ,BIFILE.BI_SALEFIN         
         ,BIFILE.BI_CONVERCD        
         ,BIFILE.BI_PLCD            
         ,BIFILE.BI_SMALLOAN        
         ,BIFILE.BI_PLDATE)
   SELECT LNFILE.LN_SSNO3,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_OWNBR,
          ISNULL(BWFILE.BW_LNAME,'NOT FOUND'),
          ISNULL(BWFILE.BW_FNAME,' '),
          CONVERT (DATE, GETDATE()),  
          ISNULL(LNFILE.LN_MAKERCD3,''),
          ISNULL(LNFILE.LN_ORGST,''),
          ISNULL(LNFILE.LN_GIFTNET,''),
          ISNULL(CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LNFILE.LN_ENTDATE  AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LNFILE.LN_SALEFIN,''),
          ISNULL(LNFILE.LN_CONVERCD,''),
          ISNULL(LNFILE.LN_PLCD,''),
          ISNULL(LNFILE.LN_SMALLOAN,''),
          ISNULL(CAST(LNFILE.LN_PLDATE   AS VARCHAR(10)),'1900-01-01')
     FROM DBO.LNFILE       LNFILE
     LEFT JOIN DBO.BWFILE BWFILE 
       ON ( LNFILE.LN_OWNBR   = BWFILE.BW_OWNBR     
      AND   LNFILE.LN_SSNO3   = BWFILE.BW_SSNO )
    WHERE ( LNFILE.LN_POCD  NOT IN ('**', '*I', '*R', '*U')
      AND   LNFILE.LN_SSNO3  != 0  
      AND   LN_SSNO3         != LN_SSNO2 
      AND   LN_SSNO3         != LN_SSNO1 );  

    INSERT INTO DBO.BIFILE 
         (BIFILE.BI_SSNO            
         ,BIFILE.BI_ACCTNO          
         ,BIFILE.BI_OWNBR           
         ,BIFILE.BI_LNAME           
         ,BIFILE.BI_FNAME           
         ,BIFILE.BI_LTOUCH_DATE     
         ,BIFILE.BI_MAKERCD         
         ,BIFILE.BI_ORGST           
         ,BIFILE.BI_GIFTNET         
         ,BIFILE.BI_POFFDATE        
         ,BIFILE.BI_ENTDATE         
         ,BIFILE.BI_SALEFIN         
         ,BIFILE.BI_CONVERCD        
         ,BIFILE.BI_PLCD            
         ,BIFILE.BI_SMALLOAN        
         ,BIFILE.BI_PLDATE)
   SELECT LNFILE.LN_SSNO4,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_OWNBR,
          ISNULL(BWFILE.BW_LNAME,'NOT FOUND'),
          ISNULL(BWFILE.BW_FNAME,' '),
          CONVERT (DATE, GETDATE()),  
          ISNULL(LNFILE.LN_MAKERCD4,''),
          ISNULL(LNFILE.LN_ORGST,''),
          ISNULL(LNFILE.LN_GIFTNET,''),
          ISNULL(CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LNFILE.LN_ENTDATE  AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LNFILE.LN_SALEFIN,''),
          ISNULL(LNFILE.LN_CONVERCD,''),
          ISNULL(LNFILE.LN_PLCD,''),
          ISNULL(LNFILE.LN_SMALLOAN,''),
          ISNULL(CAST(LNFILE.LN_PLDATE   AS VARCHAR(10)),'1900-01-01')
     FROM DBO.LNFILE      LNFILE
     LEFT JOIN DBO.BWFILE BWFILE 
       ON ( LNFILE.LN_OWNBR   = BWFILE.BW_OWNBR     
      AND   LNFILE.LN_SSNO4   = BWFILE.BW_SSNO )
    WHERE ( LNFILE.LN_POCD  NOT IN ('**', '*I', '*R', '*U')
      AND   LNFILE.LN_SSNO4  != 0 
      AND   LN_SSNO4         != LN_SSNO3 
      AND   LN_SSNO4         != LN_SSNO2
      AND   LN_SSNO4         != LN_SSNO1 );

END
GO
