USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LPEOD5_TYFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LPEOD5_TYFILE_SELECT              */
/*               PROGRAM NAME: LP/LPEOD5.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 06/13/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TYFILE                                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   06/13/2024  RMZ          ADDED 'TEMP' TABLE PROCESS - (S35Q-67) */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_LPEOD5_TYFILE_SELECT]
    @QTY1_WBEG_BRNO         AS INT,
    @QTY1_WBEG_DATE         AS DATE,
    @QTY1_WEND_DATE         AS DATE, 
 	@QTY1_WBEG_CLASS        AS INT,
	@QTY1_WEND_CLASS        AS INT 

	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTY1_WBEG_BRNO   INT
--DECLARE @QTY1_WBEG_DATE   DATE
--DECLARE @QTY1_WEND_DATE   DATE 
--DECLARE @QTY1_WBEG_CLASS  INT
--DECLARE @QTY1_WEND_CLASS  INT  

--SET @QTY1_WBEG_BRNO       = 1450
--SET @QTY1_WBEG_DATE       = '2021-04-01'
--SET @QTY1_WEND_DATE       = '2021-04-30'
--SET @QTY1_WBEG_CLASS      = 0
--SET @QTY1_WEND_CLASS      = 999 
 

    DROP TABLE IF EXISTS #TEMP_LPEOD5_TYFILE;            
	
  SELECT TYFILE.TY_BRNO,
         CAST(TYFILE.TY_DATE        AS VARCHAR(10)) AS TY_DATE,
         TYFILE.TY_CLASS,
         CAST(TYFILE.TY_LTOUCH_DATE AS VARCHAR(10)) AS TY_LTOUCH_DATE,
         TYFILE.TY_NO_1_1,
         TYFILE.TY_AMT_1_1,
         TYFILE.TY_O2_1_1,
         TYFILE.TY_INT_1_1,
         TYFILE.TY_NO_1_2,
         TYFILE.TY_AMT_1_2,
         TYFILE.TY_O2_1_2,
         TYFILE.TY_INT_1_2,
         TYFILE.TY_NO_1_3,
         TYFILE.TY_AMT_1_3,
         TYFILE.TY_O2_1_3,
         TYFILE.TY_INT_1_3,
         TYFILE.TY_NO_1_4,
         TYFILE.TY_AMT_1_4,
         TYFILE.TY_O2_1_4,
         TYFILE.TY_INT_1_4,
         TYFILE.TY_NO_1_5,
         TYFILE.TY_AMT_1_5,
         TYFILE.TY_O2_1_5,
         TYFILE.TY_INT_1_5,
         TYFILE.TY_NO_1_6,
         TYFILE.TY_AMT_1_6,
         TYFILE.TY_O2_1_6,
         TYFILE.TY_INT_1_6,
         TYFILE.TY_NO_1_7,
         TYFILE.TY_AMT_1_7,
         TYFILE.TY_O2_1_7,
         TYFILE.TY_INT_1_7,
         TYFILE.TY_NO_1_8,
         TYFILE.TY_AMT_1_8,
         TYFILE.TY_O2_1_8,
         TYFILE.TY_INT_1_8,
         TYFILE.TY_NO_1_9,
         TYFILE.TY_AMT_1_9,
         TYFILE.TY_O2_1_9,
         TYFILE.TY_INT_1_9,
         TYFILE.TY_NO_1_10,
         TYFILE.TY_AMT_1_10,
         TYFILE.TY_O2_1_10,
         TYFILE.TY_INT_1_10,
         TYFILE.TY_NO_1_11,
         TYFILE.TY_AMT_1_11,
         TYFILE.TY_O2_1_11,
         TYFILE.TY_INT_1_11,
         TYFILE.TY_NO_2_1,
         TYFILE.TY_AMT_2_1,
         TYFILE.TY_O2_2_1,
         TYFILE.TY_INT_2_1,
         TYFILE.TY_NO_2_2,
         TYFILE.TY_AMT_2_2,
         TYFILE.TY_O2_2_2,
         TYFILE.TY_INT_2_2,
         TYFILE.TY_NO_2_3,
         TYFILE.TY_AMT_2_3,
         TYFILE.TY_O2_2_3,
         TYFILE.TY_INT_2_3,
         TYFILE.TY_NO_2_4,
         TYFILE.TY_AMT_2_4,
         TYFILE.TY_O2_2_4,
         TYFILE.TY_INT_2_4,
         TYFILE.TY_NO_2_5,
         TYFILE.TY_AMT_2_5,
         TYFILE.TY_O2_2_5,
         TYFILE.TY_INT_2_5,
         TYFILE.TY_NO_2_6,
         TYFILE.TY_AMT_2_6,
         TYFILE.TY_O2_2_6,
         TYFILE.TY_INT_2_6,
         TYFILE.TY_NO_2_7,
         TYFILE.TY_AMT_2_7,
         TYFILE.TY_O2_2_7,
         TYFILE.TY_INT_2_7,
         TYFILE.TY_NO_2_8,
         TYFILE.TY_AMT_2_8,
         TYFILE.TY_O2_2_8,
         TYFILE.TY_INT_2_8,
         TYFILE.TY_NO_2_9,
         TYFILE.TY_AMT_2_9,
         TYFILE.TY_O2_2_9,
         TYFILE.TY_INT_2_9,
         TYFILE.TY_NO_2_10,
         TYFILE.TY_AMT_2_10,
         TYFILE.TY_O2_2_10,
         TYFILE.TY_INT_2_10,
         TYFILE.TY_NO_2_11,
         TYFILE.TY_AMT_2_11,
         TYFILE.TY_O2_2_11,
         TYFILE.TY_INT_2_11,
         TYFILE.TY_NO_REPO_1_1,
         TYFILE.TY_AMT_REPO_1_1,
         TYFILE.TY_O2_REPO_1_1,
         TYFILE.TY_INT_REPO_1_1,
         TYFILE.TY_NO_REPO_1_2,
         TYFILE.TY_AMT_REPO_1_2,
         TYFILE.TY_O2_REPO_1_2,
         TYFILE.TY_INT_REPO_1_2,
         TYFILE.TY_NO_REPO_1_3,
         TYFILE.TY_AMT_REPO_1_3,
         TYFILE.TY_O2_REPO_1_3,
         TYFILE.TY_INT_REPO_1_3,
         TYFILE.TY_NO_REPO_1_4,
         TYFILE.TY_AMT_REPO_1_4,
         TYFILE.TY_O2_REPO_1_4,
         TYFILE.TY_INT_REPO_1_4,
         TYFILE.TY_NO_REPO_1_5,
         TYFILE.TY_AMT_REPO_1_5,
         TYFILE.TY_O2_REPO_1_5,
         TYFILE.TY_INT_REPO_1_5,
         TYFILE.TY_NO_REPO_2_1,
         TYFILE.TY_AMT_REPO_2_1,
         TYFILE.TY_O2_REPO_2_1,
         TYFILE.TY_INT_REPO_2_1,
         TYFILE.TY_NO_REPO_2_2,
         TYFILE.TY_AMT_REPO_2_2,
         TYFILE.TY_O2_REPO_2_2,
         TYFILE.TY_INT_REPO_2_2,
         TYFILE.TY_NO_REPO_2_3,
         TYFILE.TY_AMT_REPO_2_3,
         TYFILE.TY_O2_REPO_2_3,
         TYFILE.TY_INT_REPO_2_3,
         TYFILE.TY_NO_REPO_2_4,
         TYFILE.TY_AMT_REPO_2_4,
         TYFILE.TY_O2_REPO_2_4,
         TYFILE.TY_INT_REPO_2_4,
         TYFILE.TY_NO_REPO_2_5,
         TYFILE.TY_AMT_REPO_2_5,
         TYFILE.TY_O2_REPO_2_5,
         TYFILE.TY_INT_REPO_2_5,
         TYFILE.TY_NO_PL_1_1,
         TYFILE.TY_AMT_PL_1_1,
         TYFILE.TY_O2_PL_1_1,
         TYFILE.TY_INT_PL_1_1,
         TYFILE.TY_NO_PL_1_2,
         TYFILE.TY_AMT_PL_1_2,
         TYFILE.TY_O2_PL_1_2,
         TYFILE.TY_INT_PL_1_2,
         TYFILE.TY_NO_PL_1_3,
         TYFILE.TY_AMT_PL_1_3,
         TYFILE.TY_O2_PL_1_3,
         TYFILE.TY_INT_PL_1_3,
         TYFILE.TY_NO_PL_1_4,
         TYFILE.TY_AMT_PL_1_4,
         TYFILE.TY_O2_PL_1_4,
         TYFILE.TY_INT_PL_1_4,
         TYFILE.TY_NO_PL_1_5,
         TYFILE.TY_AMT_PL_1_5,
         TYFILE.TY_O2_PL_1_5,
         TYFILE.TY_INT_PL_1_5,
         TYFILE.TY_NO_PL_1_6,
         TYFILE.TY_AMT_PL_1_6,
         TYFILE.TY_O2_PL_1_6,
         TYFILE.TY_INT_PL_1_6,
         TYFILE.TY_NO_PL_1_7,
         TYFILE.TY_AMT_PL_1_7,
         TYFILE.TY_O2_PL_1_7,
         TYFILE.TY_INT_PL_1_7,
         TYFILE.TY_NO_PL_1_8,
         TYFILE.TY_AMT_PL_1_8,
         TYFILE.TY_O2_PL_1_8,
         TYFILE.TY_INT_PL_1_8,
         TYFILE.TY_NO_PL_1_9,
         TYFILE.TY_AMT_PL_1_9,
         TYFILE.TY_O2_PL_1_9,
         TYFILE.TY_INT_PL_1_9,
         TYFILE.TY_NO_PL_1_10,
         TYFILE.TY_AMT_PL_1_10,
         TYFILE.TY_O2_PL_1_10,
         TYFILE.TY_INT_PL_1_10,
         TYFILE.TY_NO_PL_2_1,
         TYFILE.TY_AMT_PL_2_1,
         TYFILE.TY_O2_PL_2_1,
         TYFILE.TY_INT_PL_2_1,
         TYFILE.TY_NO_PL_2_2,
         TYFILE.TY_AMT_PL_2_2,
         TYFILE.TY_O2_PL_2_2,
         TYFILE.TY_INT_PL_2_2,
         TYFILE.TY_NO_PL_2_3,
         TYFILE.TY_AMT_PL_2_3,
         TYFILE.TY_O2_PL_2_3,
         TYFILE.TY_INT_PL_2_3,
         TYFILE.TY_NO_PL_2_4,
         TYFILE.TY_AMT_PL_2_4,
         TYFILE.TY_O2_PL_2_4,
         TYFILE.TY_INT_PL_2_4,
         TYFILE.TY_NO_PL_2_5,
         TYFILE.TY_AMT_PL_2_5,
         TYFILE.TY_O2_PL_2_5,
         TYFILE.TY_INT_PL_2_5,
         TYFILE.TY_NO_PL_2_6,
         TYFILE.TY_AMT_PL_2_6,
         TYFILE.TY_O2_PL_2_6,
         TYFILE.TY_INT_PL_2_6,
         TYFILE.TY_NO_PL_2_7,
         TYFILE.TY_AMT_PL_2_7,
         TYFILE.TY_O2_PL_2_7,
         TYFILE.TY_INT_PL_2_7,
         TYFILE.TY_NO_PL_2_8,
         TYFILE.TY_AMT_PL_2_8,
         TYFILE.TY_O2_PL_2_8,
         TYFILE.TY_INT_PL_2_8,
         TYFILE.TY_NO_PL_2_9,
         TYFILE.TY_AMT_PL_2_9,
         TYFILE.TY_O2_PL_2_9,
         TYFILE.TY_INT_PL_2_9,
         TYFILE.TY_NO_PL_2_10,
         TYFILE.TY_AMT_PL_2_10,
         TYFILE.TY_O2_PL_2_10,
         TYFILE.TY_INT_PL_2_10,
         TYFILE.TY_DLRVPRIN_1_1,
         TYFILE.TY_DLRVPRIN_1_2,
         TYFILE.TY_DLRVPRIN_1_3,
         TYFILE.TY_DLRVCHGS_1_1,
         TYFILE.TY_DLRVCHGS_1_2,
         TYFILE.TY_DLRVCHGS_1_3,
         TYFILE.TY_DLPARVHELD_1,
         TYFILE.TY_DLRVPRIN_2_1,
         TYFILE.TY_DLRVPRIN_2_2,
         TYFILE.TY_DLRVPRIN_2_3,
         TYFILE.TY_DLRVCHGS_2_1,
         TYFILE.TY_DLRVCHGS_2_2,
         TYFILE.TY_DLRVCHGS_2_3,
         TYFILE.TY_DLPARVHELD_2,
         TYFILE.TY_PL_PRINCOL_1,
         TYFILE.TY_PL_INTCOL_1,
         TYFILE.TY_PL_LATECOL_1,
         TYFILE.TY_PL_O2COL_1,
         TYFILE.TY_PL_PRINCOL_2,
         TYFILE.TY_PL_INTCOL_2,
         TYFILE.TY_PL_LATECOL_2,
         TYFILE.TY_PL_O2COL_2,
         TYFILE.TY_PL_PRINCOL_3,
         TYFILE.TY_PL_INTCOL_3,
         TYFILE.TY_PL_LATECOL_3,
         TYFILE.TY_PL_O2COL_3,
         TYFILE.TY_PL_PRINCOL_4,
         TYFILE.TY_PL_INTCOL_4,
         TYFILE.TY_PL_LATECOL_4,
         TYFILE.TY_PL_O2COL_4,
         TYFILE.TY_PL_PRINCOL_5,
         TYFILE.TY_PL_INTCOL_5,
         TYFILE.TY_PL_LATECOL_5,
         TYFILE.TY_PL_O2COL_5,
         TYFILE.TY_AMT_SOLD,
         TYFILE.TY_AMT_TRANS,
         TYFILE.TY_AMT_PURCH,
         TYFILE.TY_NO_SOLD,
         TYFILE.TY_NO_TRANS,
         TYFILE.TY_NO_PURCH,
         TYFILE.TY_OTHCOL,
         TYFILE.TY_OT2COL,
         TYFILE.TY_INTCOL,
         TYFILE.TY_LATECOL,
         TYFILE.TY_PRINCOL,
         TYFILE.TY_DEFCOL,
         TYFILE.TY_RNPRIN,
         TYFILE.TY_INTREB,
         TYFILE.TY_CLREB1,
         TYFILE.TY_CLREB2,
         TYFILE.TY_CLREB3,
         TYFILE.TY_CLREB4,
         TYFILE.TY_AHREB,
         TYFILE.TY_PPREB,
         TYFILE.TY_O1REB,
         TYFILE.TY_O2REB,
         TYFILE.TY_O3REB,
         TYFILE.TY_O4REB,
         TYFILE.TY_O5REB,
         TYFILE.TY_O6REB,
         TYFILE.TY_O7REB,
         TYFILE.TY_SCREB,
         TYFILE.TY_MFREB,
         TYFILE.TY_DFREB,
         TYFILE.TY_UN7_REB,
         TYFILE.TY_UN8_REB,
         TYFILE.TY_UN9_REB,
         TYFILE.TY_UN10_REB,
         TYFILE.TY_PART_CHGOFF,
         TYFILE.TY_INS_NO_ELIG_1,
         TYFILE.TY_INS_NO_WROTE_1,
         TYFILE.TY_INS_NO_NOTWROTE_1,
         TYFILE.TY_INS_AMT_WROTE_1,
         TYFILE.TY_INS_NO_ELIG_2,
         TYFILE.TY_INS_NO_WROTE_2,
         TYFILE.TY_INS_NO_NOTWROTE_2,
         TYFILE.TY_INS_AMT_WROTE_2,
         TYFILE.TY_INS_NO_ELIG_3,
         TYFILE.TY_INS_NO_WROTE_3,
         TYFILE.TY_INS_NO_NOTWROTE_3,
         TYFILE.TY_INS_AMT_WROTE_3,
         TYFILE.TY_INS_NO_ELIG_4,
         TYFILE.TY_INS_NO_WROTE_4,
         TYFILE.TY_INS_NO_NOTWROTE_4,
         TYFILE.TY_INS_AMT_WROTE_4,
         TYFILE.TY_INS_NO_ELIG_5,
         TYFILE.TY_INS_NO_WROTE_5,
         TYFILE.TY_INS_NO_NOTWROTE_5,
         TYFILE.TY_INS_AMT_WROTE_5,
         TYFILE.TY_INS_NO_ELIG_6,
         TYFILE.TY_INS_NO_WROTE_6,
         TYFILE.TY_INS_NO_NOTWROTE_6,
         TYFILE.TY_INS_AMT_WROTE_6,
         TYFILE.TY_INS_NO_ELIG_7,
         TYFILE.TY_INS_NO_WROTE_7,
         TYFILE.TY_INS_NO_NOTWROTE_7,
         TYFILE.TY_INS_AMT_WROTE_7,
         TYFILE.TY_INS_NO_ELIG_8,
         TYFILE.TY_INS_NO_WROTE_8,
         TYFILE.TY_INS_NO_NOTWROTE_8,
         TYFILE.TY_INS_AMT_WROTE_8,
         TYFILE.TY_INS_NO_ELIG_9,
         TYFILE.TY_INS_NO_WROTE_9,
         TYFILE.TY_INS_NO_NOTWROTE_9,
         TYFILE.TY_INS_AMT_WROTE_9,
         TYFILE.TY_INS_NO_ELIG_10,
         TYFILE.TY_INS_NO_WROTE_10,
         TYFILE.TY_INS_NO_NOTWROTE_10,
         TYFILE.TY_INS_AMT_WROTE_10,
         TYFILE.TY_FEE_NO_ELIG_1,
         TYFILE.TY_FEE_NO_WROTE_1,
         TYFILE.TY_FEE_NO_NOTWROTE_1,
         TYFILE.TY_FEE_AMT_WROTE_1,
         TYFILE.TY_FEE_NO_ELIG_2,
         TYFILE.TY_FEE_NO_WROTE_2,
         TYFILE.TY_FEE_NO_NOTWROTE_2,
         TYFILE.TY_FEE_AMT_WROTE_2,
         TYFILE.TY_FEE_NO_ELIG_3,
         TYFILE.TY_FEE_NO_WROTE_3,
         TYFILE.TY_FEE_NO_NOTWROTE_3,
         TYFILE.TY_FEE_AMT_WROTE_3,
         TYFILE.TY_OTH_NO_COL,
         TYFILE.TY_OT2_NO_COL,
         TYFILE.TY_INT_NO_COL,
         TYFILE.TY_LATE_NO_COL,
         TYFILE.TY_OTH_NO_WAIVED,
         TYFILE.TY_OT2_NO_WAIVED,
         TYFILE.TY_INT_NO_WAIVED,
         TYFILE.TY_LATE_NO_WAIVED,
         TYFILE.TY_OTH_AMT_WAIVED,
         TYFILE.TY_OT2_AMT_WAIVED,
         TYFILE.TY_INT_AMT_WAIVED,
         TYFILE.TY_LATE_AMT_WAIVED,
         TYFILE.TY_CKWRITTEN_1,
         TYFILE.TY_CKWRITTEN_2,
         TYFILE.TY_CKWRITTEN_3,
         TYFILE.TY_CKWRITTEN_4,
         TYFILE.TY_CKWRITTEN_5,
         TYFILE.TY_CKWRITTEN_6,
         TYFILE.TY_CKWRITTEN_7,
         TYFILE.TY_CKWRITTEN_8,
         TYFILE.TY_CKWRITTEN_9,
         TYFILE.TY_CKWRITTEN_10,
         TYFILE.TY_CKWRITTEN_11,
         TYFILE.TY_CKWRITTEN_12,
         TYFILE.TY_CKWRITTEN_13,
         TYFILE.TY_CKWRITTEN_14,
         TYFILE.TY_CKWRITTEN_15,
         TYFILE.TY_CKWRITTEN_16,
         TYFILE.TY_UNITS_1_1,
         TYFILE.TY_OUTBAL_1_1,
         TYFILE.TY_UNITS_1_2,
         TYFILE.TY_OUTBAL_1_2,
         TYFILE.TY_UNITS_1_3,
         TYFILE.TY_OUTBAL_1_3,
         TYFILE.TY_UNITS_1_4,
         TYFILE.TY_OUTBAL_1_4,
         TYFILE.TY_UNITS_1_5,
         TYFILE.TY_OUTBAL_1_5,
         TYFILE.TY_UNITS_1_6,
         TYFILE.TY_OUTBAL_1_6,
         TYFILE.TY_UNITS_1_7,
         TYFILE.TY_OUTBAL_1_7,
         TYFILE.TY_UNITS_1_8,
         TYFILE.TY_OUTBAL_1_8,
         TYFILE.TY_UNITS_1_9,
         TYFILE.TY_OUTBAL_1_9,
         TYFILE.TY_UNITS_1_10,
         TYFILE.TY_OUTBAL_1_10,
         TYFILE.TY_UNITS_2_1,
         TYFILE.TY_OUTBAL_2_1,
         TYFILE.TY_UNITS_2_2,
         TYFILE.TY_OUTBAL_2_2,
         TYFILE.TY_UNITS_2_3,
         TYFILE.TY_OUTBAL_2_3,
         TYFILE.TY_UNITS_2_4,
         TYFILE.TY_OUTBAL_2_4,
         TYFILE.TY_UNITS_2_5,
         TYFILE.TY_OUTBAL_2_5,
         TYFILE.TY_UNITS_2_6,
         TYFILE.TY_OUTBAL_2_6,
         TYFILE.TY_UNITS_2_7,
         TYFILE.TY_OUTBAL_2_7,
         TYFILE.TY_UNITS_2_8,
         TYFILE.TY_OUTBAL_2_8,
         TYFILE.TY_UNITS_2_9,
         TYFILE.TY_OUTBAL_2_9,
         TYFILE.TY_UNITS_2_10,
         TYFILE.TY_OUTBAL_2_10,
         TYFILE.TY_UNITS_BNKRPT_1_1,
         TYFILE.TY_OUTBAL_BNKRPT_1_1,
         TYFILE.TY_UNITS_BNKRPT_1_2,
         TYFILE.TY_OUTBAL_BNKRPT_1_2,
         TYFILE.TY_UNITS_BNKRPT_1_3,
         TYFILE.TY_OUTBAL_BNKRPT_1_3,
         TYFILE.TY_UNITS_BNKRPT_1_4,
         TYFILE.TY_OUTBAL_BNKRPT_1_4,
         TYFILE.TY_UNITS_BNKRPT_1_5,
         TYFILE.TY_OUTBAL_BNKRPT_1_5,
         TYFILE.TY_UNITS_BNKRPT_1_6,
         TYFILE.TY_OUTBAL_BNKRPT_1_6,
         TYFILE.TY_UNITS_BNKRPT_1_7,
         TYFILE.TY_OUTBAL_BNKRPT_1_7,
         TYFILE.TY_UNITS_BNKRPT_1_8,
         TYFILE.TY_OUTBAL_BNKRPT_1_8,
         TYFILE.TY_UNITS_BNKRPT_1_9,
         TYFILE.TY_OUTBAL_BNKRPT_1_9,
         TYFILE.TY_UNITS_BNKRPT_1_10,
         TYFILE.TY_OUTBAL_BNKRPT_1_10,
         TYFILE.TY_UNITS_BNKRPT_2_1,
         TYFILE.TY_OUTBAL_BNKRPT_2_1,
         TYFILE.TY_UNITS_BNKRPT_2_2,
         TYFILE.TY_OUTBAL_BNKRPT_2_2,
         TYFILE.TY_UNITS_BNKRPT_2_3,
         TYFILE.TY_OUTBAL_BNKRPT_2_3,
         TYFILE.TY_UNITS_BNKRPT_2_4,
         TYFILE.TY_OUTBAL_BNKRPT_2_4,
         TYFILE.TY_UNITS_BNKRPT_2_5,
         TYFILE.TY_OUTBAL_BNKRPT_2_5,
         TYFILE.TY_UNITS_BNKRPT_2_6,
         TYFILE.TY_OUTBAL_BNKRPT_2_6,
         TYFILE.TY_UNITS_BNKRPT_2_7,
         TYFILE.TY_OUTBAL_BNKRPT_2_7,
         TYFILE.TY_UNITS_BNKRPT_2_8,
         TYFILE.TY_OUTBAL_BNKRPT_2_8,
         TYFILE.TY_UNITS_BNKRPT_2_9,
         TYFILE.TY_OUTBAL_BNKRPT_2_9,
         TYFILE.TY_UNITS_BNKRPT_2_10,
         TYFILE.TY_OUTBAL_BNKRPT_2_10,
         TYFILE.TY_SUMWGTTM,
         TYFILE.TY_SUMWGTAV,
         TYFILE.TY_SUMWGTTA,
         TYFILE.TY_ALLOTMENTS,
         TYFILE.TY_BRFG,
         TYFILE.TY_DLDISC,
         TYFILE.TY_UNEARNED_AMT_1_1,
         TYFILE.TY_UNEARNED_AMT_1_2,
         TYFILE.TY_UNEARNED_AMT_1_3,
         TYFILE.TY_UNEARNED_AMT_1_4,
         TYFILE.TY_UNEARNED_AMT_1_5,
         TYFILE.TY_UNEARNED_AMT_1_6,
         TYFILE.TY_UNEARNED_AMT_1_7,
         TYFILE.TY_UNEARNED_AMT_1_8,
         TYFILE.TY_UNEARNED_AMT_1_9,
         TYFILE.TY_UNEARNED_AMT_1_10,
         TYFILE.TY_UNEARNED_AMT_2_1,
         TYFILE.TY_UNEARNED_AMT_2_2,
         TYFILE.TY_UNEARNED_AMT_2_3,
         TYFILE.TY_UNEARNED_AMT_2_4,
         TYFILE.TY_UNEARNED_AMT_2_5,
         TYFILE.TY_UNEARNED_AMT_2_6,
         TYFILE.TY_UNEARNED_AMT_2_7,
         TYFILE.TY_UNEARNED_AMT_2_8,
         TYFILE.TY_UNEARNED_AMT_2_9,
         TYFILE.TY_UNEARNED_AMT_2_10,
         TYFILE.TY_PROCEEDS,
         TYFILE.TY_LOCKBOX

    INTO #TEMP_LPEOD5_TYFILE

    FROM DBO.TYFILE

   WHERE TYFILE.TY_BRNO        = @QTY1_WBEG_BRNO
     AND TYFILE.TY_DATE  BETWEEN @QTY1_WBEG_DATE 
                             AND @QTY1_WEND_DATE
     AND TYFILE.TY_CLASS BETWEEN @QTY1_WBEG_CLASS
                             AND @QTY1_WEND_CLASS; 


  SELECT *
    FROM #TEMP_LPEOD5_TYFILE 
   ORDER BY #TEMP_LPEOD5_TYFILE.TY_BRNO,
            #TEMP_LPEOD5_TYFILE.TY_DATE,
            #TEMP_LPEOD5_TYFILE.TY_CLASS;

    DROP TABLE IF EXISTS #TEMP_LPEOD5_TYFILE;

END
GO
