USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_ADDEXT_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_ADDEXT_LNFILE_SELECT              */
/*               PROGRAM NAME: SP/ADDEXT.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 02/18/2025                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*           (PR# 1701 / S35Q-165)                                   */          
/*                                                                   */
/*   TABLES: LNFILE, BRFILE, BWFILE                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_ADDEXT_LNFILE_SELECT]
    @QLN1_WBEG_OWNBR      AS INT,
    @QWS_BEG_DATE         AS DATE,
    @QWS_END_DATE         AS DATE 
	
AS
BEGIN
	SET NOCOUNT ON;


--DECLARE @QLN1_WBEG_OWNBR      INT
--DECLARE @QWS_BEG_DATE         DATE
--DECLARE @QWS_END_DATE         DATE 

--SET     @QLN1_WBEG_OWNBR      = 137
--SET     @QWS_BEG_DATE         = '1900-01-01'
--SET     @QWS_END_DATE         = '2499-12-31' 

    SELECT LNFILE.LN_OWNBR,
           LNFILE.LN_ACCTNO,
           LNFILE.LN_SSNO1,
           ISNULL(LNFILE.LN_MAKERCD1,'')     AS LN_MAKERCD1,
           LNFILE.LN_SSNO2,					 
           ISNULL(LNFILE.LN_MAKERCD2,'')     AS LN_MAKERCD2,
           LNFILE.LN_SSNO3,					 
           ISNULL(LNFILE.LN_MAKERCD3,'')     AS LN_MAKERCD3,
           LNFILE.LN_SSNO4,					 
           ISNULL(LNFILE.LN_MAKERCD4,'')     AS LN_MAKERCD4,
           ISNULL(LNFILE.LN_ORGST,'')        AS LN_ORGST, 
           LNFILE.LN_ORGBR,					 
           ISNULL(LNFILE.LN_POCD,'')         AS LN_POCD,
           ISNULL(CAST(LNFILE.LN_LOANDATE    AS VARCHAR(10)),'0') 
                                             AS LN_LOANDATE,
           LNFILE.LN_ORGTERM,				 
           ISNULL(LNFILE.LN_FEECODE_1,'')    AS LN_FEEDCODE_1,
           ISNULL(LNFILE.LN_FEECODE_2,'')    AS LN_FEEDCODE_2,
           ISNULL(LNFILE.LN_FEECODE_3,'')    AS LN_FEEDCODE_3,
           ISNULL(LNFILE.LN_FEECODE_4,'')    AS LN_FEEDCODE_4,
           ISNULL(LNFILE.LN_FEECODE_5,'')    AS LN_FEEDCODE_5,
           ISNULL(LNFILE.LN_FEECODE_6,'')    AS LN_FEEDCODE_6,
           ISNULL(LNFILE.LN_FEECODE_7,'')    AS LN_FEEDCODE_7,
           ISNULL(LNFILE.LN_FEECODE_8,'')    AS LN_FEEDCODE_8,
           ISNULL(LNFILE.LN_FEECODE_9,'')    AS LN_FEEDCODE_9,
           ISNULL(LNFILE.LN_FEECODE_10,'')   AS LN_FEEDCODE_10,
           ISNULL(LNFILE.LN_FEECODE_11,'')   AS LN_FEEDCODE_11,
           ISNULL(LNFILE.LN_FEECODE_12,'')   AS LN_FEEDCODE_12,
           ISNULL(LNFILE.LN_FEECODE_13,'')   AS LN_FEEDCODE_13,
           ISNULL(LNFILE.LN_FEECODE_14,'')   AS LN_FEEDCODE_14,
           ISNULL(LNFILE.LN_FEECODE_15,'')   AS LN_FEEDCODE_15,
           ISNULL(LNFILE.LN_FEECODE_16,'')   AS LN_FEEDCODE_16,
           ISNULL(LNFILE.LN_FEECODE_17,'')   AS LN_FEEDCODE_17,
           ISNULL(LNFILE.LN_FEECODE_18,'')   AS LN_FEEDCODE_18,
           ISNULL(LNFILE.LN_FEECODE_19,'')   AS LN_FEEDCODE_19,
           ISNULL(LNFILE.LN_FEECODE_20,'')   AS LN_FEEDCODE_20,
           LNFILE.LN_FEEAMT_1,				 
           LNFILE.LN_FEEAMT_2,				 
           LNFILE.LN_FEEAMT_3,				 
           LNFILE.LN_FEEAMT_4,				 
           LNFILE.LN_FEEAMT_5,				 
           LNFILE.LN_FEEAMT_6,				 
           LNFILE.LN_FEEAMT_7,				 
           LNFILE.LN_FEEAMT_8,				 
           LNFILE.LN_FEEAMT_9,				 
           LNFILE.LN_FEEAMT_10,				 
           LNFILE.LN_FEEAMT_11,				 
           LNFILE.LN_FEEAMT_12,				 
           LNFILE.LN_FEEAMT_13,				 
           LNFILE.LN_FEEAMT_14,				 
           LNFILE.LN_FEEAMT_15,				 
           LNFILE.LN_FEEAMT_16,				 
           LNFILE.LN_FEEAMT_17,				 
           LNFILE.LN_FEEAMT_18,				 
           LNFILE.LN_FEEAMT_19,				 
           LNFILE.LN_FEEAMT_20,				 
           ISNULL(BWFILE.BW_OWNBR,0)         AS BW_OWNBR,
           ISNULL(BWFILE.BW_SSNO,0)          AS BW_SSNO,
           ISNULL(BWFILE.BW_LNAME,'INVALID') AS BW_LNAME
    FROM DBO.LNFILE LNFILE

    INNER JOIN
         DBO.BRFILE BRFILE
       ON  ( LNFILE.LN_OWNBR            = BRFILE.BR_NO 
      AND    BRFILE.BR_ADD_INS_FEECODE != '  ')

    LEFT JOIN 
	     DBO.BWFILE BWFILE 
       ON   (LNFILE.LN_OWNBR            = BWFILE.BW_OWNBR     
      AND    LNFILE.LN_SSNO1            = BWFILE.BW_SSNO)

    WHERE (  LNFILE.LN_OWNBR            = @QLN1_WBEG_OWNBR  
      AND    LNFILE.LN_POCD        NOT IN ('**', '*I', '*R', '*U')
      AND    LNFILE.LN_OWNBR            = LNFILE.LN_ORGBR 
      AND  ( LNFILE.LN_LOANDATE   BETWEEN @QWS_BEG_DATE
                                      AND @QWS_END_DATE )
      AND  ( LNFILE.LN_FEECODE_1        = BRFILE.BR_ADD_INS_FEECODE 
       OR    LNFILE.LN_FEECODE_2        = BRFILE.BR_ADD_INS_FEECODE 
       OR    LNFILE.LN_FEECODE_3        = BRFILE.BR_ADD_INS_FEECODE
       OR    LNFILE.LN_FEECODE_4        = BRFILE.BR_ADD_INS_FEECODE
       OR    LNFILE.LN_FEECODE_5        = BRFILE.BR_ADD_INS_FEECODE
       OR    LNFILE.LN_FEECODE_6        = BRFILE.BR_ADD_INS_FEECODE
       OR    LNFILE.LN_FEECODE_7        = BRFILE.BR_ADD_INS_FEECODE
       OR    LNFILE.LN_FEECODE_8        = BRFILE.BR_ADD_INS_FEECODE
       OR    LNFILE.LN_FEECODE_9        = BRFILE.BR_ADD_INS_FEECODE
       OR    LNFILE.LN_FEECODE_10       = BRFILE.BR_ADD_INS_FEECODE ))   
    ORDER BY LNFILE.LN_OWNBR,
             LNFILE.LN_ACCTNO;
END
GO
