USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_SSUPD_LMFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_SSUPD_LMFILE_SELECT               */
/*               PROGRAM NAME: LP/SSUPD.CBL                          */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LMFILE, LNFILE                                          */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_SSUPD_LMFILE_SELECT]
    @QLN3_WBEG_OWNBR            AS INT,
	@QLN3_WBEG_CLASS            AS INT,
	@QLN3_WEND_CLASS            AS INT,
    @QWS_MEMO_CUT_OFF_DATE      AS INT,
	@QWS_MONTH_END_DATE         AS DATE
 	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN3_WBEG_OWNBR           INT
--DECLARE @QLN3_WBEG_CLASS           INT
--DECLARE @QLN3_WEND_CLASS           INT
--DECLARE @QWS_MEMO_CUT_OFF_DATE     INT 
--DECLARE @QWS_MONTH_END_DATE        DATE  
  
--SET     @QLN3_WBEG_OWNBR           = 408
--SET     @QLN3_WBEG_CLASS           = 000   
--SET     @QLN3_WEND_CLASS           = 999 
--SET     @QWS_MEMO_CUT_OFF_DATE     = 79808768  
--SET     @QWS_MONTH_END_DATE        = '2019-12-31'  

DROP TABLE IF EXISTS #TEMP_SSUPD_LMFILE;

  SELECT TEMP.LM_BRNO,
         TEMP.LM_CLASS,
         TEMP.LM_ACCTNO,
         TEMP.LM_DATE_REVERSED, 
         TEMP.LM_SEQ,
         TEMP.LM_MEMO, 
         TEMP.LM_MEMO_TYPE 

     INTO #TEMP_SSUPD_LMFILE

     FROM

  (SELECT LMFILE.LM_BRNO,
          LNFILE.LN_CLASS AS LM_CLASS,
          LMFILE.LM_ACCTNO,
          LMFILE.LM_DATE_REVERSED, 
          LMFILE.LM_SEQ,
          LMFILE.LM_MEMO, 
          LMFILE.LM_MEMO_TYPE 
  
     FROM DBO.LMFILE  LMFILE,
	     (SELECT LNFILE.LN_OWNBR,
                 LNFILE.LN_CLASS,
                 LNFILE.LN_ACCTNO 
            FROM DBO.LNFILE  LNFILE
           WHERE (( LNFILE.LN_OWNBR         = @QLN3_WBEG_OWNBR
             AND    LNFILE.LN_CLASS   BETWEEN @QLN3_WBEG_CLASS
                                          AND @QLN3_WEND_CLASS )
             AND (  LNFILE.LN_POCD         != '**'
	          OR  ( LNFILE.LN_POCD          = '**'           
             AND    LNFILE.LN_ENTDATE      <= @QWS_MONTH_END_DATE 
	         AND    LNFILE.LN_POFFDATE      > @QWS_MONTH_END_DATE ))
             AND (  LNFILE.LN_LOANDATE     <= @QWS_MONTH_END_DATE )
             AND (  LNFILE.LN_MONTHEND_BAL != 0 ))) LNFILE
  
    WHERE  ( LMFILE.LM_BRNO                  = LNFILE.LN_OWNBR
      AND    LMFILE.LM_ACCTNO                = LNFILE.LN_ACCTNO 
      AND    LMFILE.LM_DATE_REVERSED         < @QWS_MEMO_CUT_OFF_DATE
      AND    LMFILE.LM_MEMO_TYPE             = '9'
      AND    SUBSTRING(LMFILE.LM_MEMO, 1, 9) = 'TFR FR BR' )) TEMP;
  
-- SELECT FROM 'TEMP' TABLE --

   SELECT #TEMP_SSUPD_LMFILE.LM_BRNO,
          #TEMP_SSUPD_LMFILE.LM_CLASS,
          #TEMP_SSUPD_LMFILE.LM_ACCTNO,
          #TEMP_SSUPD_LMFILE.LM_DATE_REVERSED, 
          #TEMP_SSUPD_LMFILE.LM_SEQ,
          #TEMP_SSUPD_LMFILE.LM_MEMO, 
          #TEMP_SSUPD_LMFILE.LM_MEMO_TYPE 
  
     FROM #TEMP_SSUPD_LMFILE
  
    ORDER BY #TEMP_SSUPD_LMFILE.LM_BRNO, 
             #TEMP_SSUPD_LMFILE.LM_CLASS,
             #TEMP_SSUPD_LMFILE.LM_ACCTNO,
             #TEMP_SSUPD_LMFILE.LM_DATE_REVERSED; 

DROP TABLE IF EXISTS #TEMP_SSUPD_LMFILE;
             
END
GO
