USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LAST4_BIFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LAST4_BIFILE_SELECT               */
/*               PROGRAM NAME: SP/LAST4.CBL                          */
/*                 CREATED BY: MB   S35Q-90                          */
/*                CREATE DATE: 07/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: BIFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_LAST4_BIFILE_SELECT]
    @SSNO4              AS CHAR(4),
    @LASTNAME           AS VARCHAR(35)
    
 AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @PARAMLIST  NVARCHAR(4000),      
		    @SQL        NVARCHAR(MAX)

--DECLARE @SSNO4             CHAR(4)
--DECLARE @LASTNAME          VARCHAR(35)

--SET @SSNO4             = '3421'
--SET @LASTNAME          =  'SM '

SELECT @LASTNAME = RTRIM(@LASTNAME) + '%';

SELECT @SQL = 'SELECT BIFILE.BI_SSNO,
                   BIFILE.BI_ACCTNO,
                   BIFILE.BI_OWNBR,
                   BIFILE.BI_LNAME, 
                   BIFILE.BI_FNAME, 
                   CAST(BIFILE.BI_POFFDATE AS VARCHAR(10)), 
                   CAST(BIFILE.BI_ENTDATE AS VARCHAR(10))
                
     FROM DBO.BIFILE
			
	 WHERE SUBSTRING(CAST(FORMAT(BIFILE.BI_SSNO, ''D9'') AS CHAR(9)),6,4) = @SSNO4 '
	 	 	
IF @LASTNAME != ' '
  SELECT @SQL += ' AND BIFILE.BI_LNAME LIKE @LASTNAME '
  
SELECT @paramlist = '@SSNO4      AS CHAR(4),
                     @LASTNAME   AS VARCHAR(35)'
                    

EXEC sp_executesql @SQL, @paramlist, @SSNO4, @LASTNAME      

END 
GO
