USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_SSFILE_SSFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_SSFILE_SSFILE_SELECT              */
/*               PROGRAM NAME: UT/SSFILE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 03/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: SSFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_SSFILE_SSFILE_SELECT]
	@QSS_WBEG_DATE  AS INT,
	@QSS_WEND_DATE  AS INT

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QSS_WBEG_DATE  INT
--DECLARE @QSS_WEND_DATE  INT

--SET @QSS_WBEG_DATE  = 201901
--SET @QSS_WEND_DATE  = 201906

            SELECT SSFILE.SS_DATE_YYYYMM,
                   SSFILE.SS_BRNO,
                   SSFILE.SS_CLASS,
                   CAST(SSFILE.SS_LTOUCH_DATE
                                                  AS VARCHAR(10)),
                   SSFILE.SS_UNITS_1_1_1,
                   SSFILE.SS_OUTBAL_1_1_1,
                   SSFILE.SS_UNITS_1_1_2,
                   SSFILE.SS_OUTBAL_1_1_2,
                   SSFILE.SS_UNITS_1_1_3,
                   SSFILE.SS_OUTBAL_1_1_3,
                   SSFILE.SS_UNITS_1_1_4,
                   SSFILE.SS_OUTBAL_1_1_4,
                   SSFILE.SS_UNITS_1_1_5,
                   SSFILE.SS_OUTBAL_1_1_5,
                   SSFILE.SS_NO_PL_1_1_1,
                   SSFILE.SS_AMT_PL_1_1_1,
                   SSFILE.SS_NO_PL_1_1_2,
                   SSFILE.SS_AMT_PL_1_1_2,
                   SSFILE.SS_UNITS_1_2_1,
                   SSFILE.SS_OUTBAL_1_2_1,
                   SSFILE.SS_UNITS_1_2_2,
                   SSFILE.SS_OUTBAL_1_2_2,
                   SSFILE.SS_UNITS_1_2_3,
                   SSFILE.SS_OUTBAL_1_2_3,
                   SSFILE.SS_UNITS_1_2_4,
                   SSFILE.SS_OUTBAL_1_2_4,
                   SSFILE.SS_UNITS_1_2_5,
                   SSFILE.SS_OUTBAL_1_2_5,
                   SSFILE.SS_NO_PL_1_2_1,
                   SSFILE.SS_AMT_PL_1_2_1,
                   SSFILE.SS_NO_PL_1_2_2,
                   SSFILE.SS_AMT_PL_1_2_2,
                   SSFILE.SS_UNITS_2_1_1,
                   SSFILE.SS_OUTBAL_2_1_1,
                   SSFILE.SS_UNITS_2_1_2,
                   SSFILE.SS_OUTBAL_2_1_2,
                   SSFILE.SS_UNITS_2_1_3,
                   SSFILE.SS_OUTBAL_2_1_3,
                   SSFILE.SS_UNITS_2_1_4,
                   SSFILE.SS_OUTBAL_2_1_4,
                   SSFILE.SS_UNITS_2_1_5,
                   SSFILE.SS_OUTBAL_2_1_5,
                   SSFILE.SS_NO_PL_2_1_1,
                   SSFILE.SS_AMT_PL_2_1_1,
                   SSFILE.SS_NO_PL_2_1_2,
                   SSFILE.SS_AMT_PL_2_1_2,
                   SSFILE.SS_UNITS_2_2_1,
                   SSFILE.SS_OUTBAL_2_2_1,
                   SSFILE.SS_UNITS_2_2_2,
                   SSFILE.SS_OUTBAL_2_2_2,
                   SSFILE.SS_UNITS_2_2_3,
                   SSFILE.SS_OUTBAL_2_2_3,
                   SSFILE.SS_UNITS_2_2_4,
                   SSFILE.SS_OUTBAL_2_2_4,
                   SSFILE.SS_UNITS_2_2_5,
                   SSFILE.SS_OUTBAL_2_2_5,
                   SSFILE.SS_NO_PL_2_2_1,
                   SSFILE.SS_AMT_PL_2_2_1,
                   SSFILE.SS_NO_PL_2_2_2,
                   SSFILE.SS_AMT_PL_2_2_2,
                   SSFILE.SS_UNITS_3_1_1,
                   SSFILE.SS_OUTBAL_3_1_1,
                   SSFILE.SS_UNITS_3_1_2,
                   SSFILE.SS_OUTBAL_3_1_2,
                   SSFILE.SS_UNITS_3_1_3,
                   SSFILE.SS_OUTBAL_3_1_3,
                   SSFILE.SS_UNITS_3_1_4,
                   SSFILE.SS_OUTBAL_3_1_4,
                   SSFILE.SS_UNITS_3_1_5,
                   SSFILE.SS_OUTBAL_3_1_5,
                   SSFILE.SS_NO_PL_3_1_1,
                   SSFILE.SS_AMT_PL_3_1_1,
                   SSFILE.SS_NO_PL_3_1_2,
                   SSFILE.SS_AMT_PL_3_1_2,
                   SSFILE.SS_UNITS_3_2_1,
                   SSFILE.SS_OUTBAL_3_2_1,
                   SSFILE.SS_UNITS_3_2_2,
                   SSFILE.SS_OUTBAL_3_2_2,
                   SSFILE.SS_UNITS_3_2_3,
                   SSFILE.SS_OUTBAL_3_2_3,
                   SSFILE.SS_UNITS_3_2_4,
                   SSFILE.SS_OUTBAL_3_2_4,
                   SSFILE.SS_UNITS_3_2_5,
                   SSFILE.SS_OUTBAL_3_2_5,
                   SSFILE.SS_NO_PL_3_2_1,
                   SSFILE.SS_AMT_PL_3_2_1,
                   SSFILE.SS_NO_PL_3_2_2,
                   SSFILE.SS_AMT_PL_3_2_2,
                   SSFILE.SS_UNITS_4_1_1,
                   SSFILE.SS_OUTBAL_4_1_1,
                   SSFILE.SS_UNITS_4_1_2,
                   SSFILE.SS_OUTBAL_4_1_2,
                   SSFILE.SS_UNITS_4_1_3,
                   SSFILE.SS_OUTBAL_4_1_3,
                   SSFILE.SS_UNITS_4_1_4,
                   SSFILE.SS_OUTBAL_4_1_4,
                   SSFILE.SS_UNITS_4_1_5,
                   SSFILE.SS_OUTBAL_4_1_5,
                   SSFILE.SS_NO_PL_4_1_1,
                   SSFILE.SS_AMT_PL_4_1_1,
                   SSFILE.SS_NO_PL_4_1_2,
                   SSFILE.SS_AMT_PL_4_1_2,
                   SSFILE.SS_UNITS_4_2_1,
                   SSFILE.SS_OUTBAL_4_2_1,
                   SSFILE.SS_UNITS_4_2_2,
                   SSFILE.SS_OUTBAL_4_2_2,
                   SSFILE.SS_UNITS_4_2_3,
                   SSFILE.SS_OUTBAL_4_2_3,
                   SSFILE.SS_UNITS_4_2_4,
                   SSFILE.SS_OUTBAL_4_2_4,
                   SSFILE.SS_UNITS_4_2_5,
                   SSFILE.SS_OUTBAL_4_2_5,
                   SSFILE.SS_NO_PL_4_2_1,
                   SSFILE.SS_AMT_PL_4_2_1,
                   SSFILE.SS_NO_PL_4_2_2,
                   SSFILE.SS_AMT_PL_4_2_2,
                   SSFILE.SS_UNITS_5_1_1,
                   SSFILE.SS_OUTBAL_5_1_1,
                   SSFILE.SS_UNITS_5_1_2,
                   SSFILE.SS_OUTBAL_5_1_2,
                   SSFILE.SS_UNITS_5_1_3,
                   SSFILE.SS_OUTBAL_5_1_3,
                   SSFILE.SS_UNITS_5_1_4,
                   SSFILE.SS_OUTBAL_5_1_4,
                   SSFILE.SS_UNITS_5_1_5,
                   SSFILE.SS_OUTBAL_5_1_5,
                   SSFILE.SS_NO_PL_5_1_1,
                   SSFILE.SS_AMT_PL_5_1_1,
                   SSFILE.SS_NO_PL_5_1_2,
                   SSFILE.SS_AMT_PL_5_1_2,
                   SSFILE.SS_UNITS_5_2_1,
                   SSFILE.SS_OUTBAL_5_2_1,
                   SSFILE.SS_UNITS_5_2_2,
                   SSFILE.SS_OUTBAL_5_2_2,
                   SSFILE.SS_UNITS_5_2_3,
                   SSFILE.SS_OUTBAL_5_2_3,
                   SSFILE.SS_UNITS_5_2_4,
                   SSFILE.SS_OUTBAL_5_2_4,
                   SSFILE.SS_UNITS_5_2_5,
                   SSFILE.SS_OUTBAL_5_2_5,
                   SSFILE.SS_NO_PL_5_2_1,
                   SSFILE.SS_AMT_PL_5_2_1,
                   SSFILE.SS_NO_PL_5_2_2,
                   SSFILE.SS_AMT_PL_5_2_2,
                   SSFILE.SS_UNITS_6_1_1,
                   SSFILE.SS_OUTBAL_6_1_1,
                   SSFILE.SS_UNITS_6_1_2,
                   SSFILE.SS_OUTBAL_6_1_2,
                   SSFILE.SS_UNITS_6_1_3,
                   SSFILE.SS_OUTBAL_6_1_3,
                   SSFILE.SS_UNITS_6_1_4,
                   SSFILE.SS_OUTBAL_6_1_4,
                   SSFILE.SS_UNITS_6_1_5,
                   SSFILE.SS_OUTBAL_6_1_5,
                   SSFILE.SS_NO_PL_6_1_1,
                   SSFILE.SS_AMT_PL_6_1_1,
                   SSFILE.SS_NO_PL_6_1_2,
                   SSFILE.SS_AMT_PL_6_1_2,
                   SSFILE.SS_UNITS_6_2_1,
                   SSFILE.SS_OUTBAL_6_2_1,
                   SSFILE.SS_UNITS_6_2_2,
                   SSFILE.SS_OUTBAL_6_2_2,
                   SSFILE.SS_UNITS_6_2_3,
                   SSFILE.SS_OUTBAL_6_2_3,
                   SSFILE.SS_UNITS_6_2_4,
                   SSFILE.SS_OUTBAL_6_2_4,
                   SSFILE.SS_UNITS_6_2_5,
                   SSFILE.SS_OUTBAL_6_2_5,
                   SSFILE.SS_NO_PL_6_2_1,
                   SSFILE.SS_AMT_PL_6_2_1,
                   SSFILE.SS_NO_PL_6_2_2,
                   SSFILE.SS_AMT_PL_6_2_2,
                   SSFILE.SS_UNITS_7_1_1,
                   SSFILE.SS_OUTBAL_7_1_1,
                   SSFILE.SS_UNITS_7_1_2,
                   SSFILE.SS_OUTBAL_7_1_2,
                   SSFILE.SS_UNITS_7_1_3,
                   SSFILE.SS_OUTBAL_7_1_3,
                   SSFILE.SS_UNITS_7_1_4,
                   SSFILE.SS_OUTBAL_7_1_4,
                   SSFILE.SS_UNITS_7_1_5,
                   SSFILE.SS_OUTBAL_7_1_5,
                   SSFILE.SS_NO_PL_7_1_1,
                   SSFILE.SS_AMT_PL_7_1_1,
                   SSFILE.SS_NO_PL_7_1_2,
                   SSFILE.SS_AMT_PL_7_1_2,
                   SSFILE.SS_UNITS_7_2_1,
                   SSFILE.SS_OUTBAL_7_2_1,
                   SSFILE.SS_UNITS_7_2_2,
                   SSFILE.SS_OUTBAL_7_2_2,
                   SSFILE.SS_UNITS_7_2_3,
                   SSFILE.SS_OUTBAL_7_2_3,
                   SSFILE.SS_UNITS_7_2_4,
                   SSFILE.SS_OUTBAL_7_2_4,
                   SSFILE.SS_UNITS_7_2_5,
                   SSFILE.SS_OUTBAL_7_2_5,
                   SSFILE.SS_NO_PL_7_2_1,
                   SSFILE.SS_AMT_PL_7_2_1,
                   SSFILE.SS_NO_PL_7_2_2,
                   SSFILE.SS_AMT_PL_7_2_2,
                   SSFILE.SS_UNITS_8_1_1,
                   SSFILE.SS_OUTBAL_8_1_1,
                   SSFILE.SS_UNITS_8_1_2,
                   SSFILE.SS_OUTBAL_8_1_2,
                   SSFILE.SS_UNITS_8_1_3,
                   SSFILE.SS_OUTBAL_8_1_3,
                   SSFILE.SS_UNITS_8_1_4,
                   SSFILE.SS_OUTBAL_8_1_4,
                   SSFILE.SS_UNITS_8_1_5,
                   SSFILE.SS_OUTBAL_8_1_5,
                   SSFILE.SS_NO_PL_8_1_1,
                   SSFILE.SS_AMT_PL_8_1_1,
                   SSFILE.SS_NO_PL_8_1_2,
                   SSFILE.SS_AMT_PL_8_1_2,
                   SSFILE.SS_UNITS_8_2_1,
                   SSFILE.SS_OUTBAL_8_2_1,
                   SSFILE.SS_UNITS_8_2_2,
                   SSFILE.SS_OUTBAL_8_2_2,
                   SSFILE.SS_UNITS_8_2_3,
                   SSFILE.SS_OUTBAL_8_2_3,
                   SSFILE.SS_UNITS_8_2_4,
                   SSFILE.SS_OUTBAL_8_2_4,
                   SSFILE.SS_UNITS_8_2_5,
                   SSFILE.SS_OUTBAL_8_2_5,
                   SSFILE.SS_NO_PL_8_2_1,
                   SSFILE.SS_AMT_PL_8_2_1,
                   SSFILE.SS_NO_PL_8_2_2,
                   SSFILE.SS_AMT_PL_8_2_2
            FROM DBO.SSFILE
            WHERE SSFILE.SS_DATE_YYYYMM BETWEEN @QSS_WBEG_DATE AND @QSS_WEND_DATE
            ORDER BY SSFILE.SS_DATE_YYYYMM,
                     SSFILE.SS_BRNO,
                     SSFILE.SS_CLASS
 
END 
GO
