USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_CAFILE_CAFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_CAFILE_CAFILE_SELECT              */
/*               PROGRAM NAME: UT/CAFILE.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 03/18/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: CAFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_CAFILE_CAFILE_SELECT]
    @QCA1_WBEG_BRNO             AS INT,
    @QCA1_WBEG_DATE             AS DATE,
    @QCA1_WEND_DATE             AS DATE  
 	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QCA1_WBEG_BRNO       INT
--DECLARE @QCA1_WBEG_DATE       DATE
--DECLARE @QCA1_WEND_DATE       DATE 

--SET @QCA1_WBEG_BRNO           = 803
--SET @QCA1_WBEG_DATE           = '1900-01-01'
--SET @QCA1_WEND_DATE           = '2099-12-31'  
 
      SELECT CAFILE.CA_BRNO,
             CAST(CAFILE.CA_DATE        AS VARCHAR(10)),
             CAFILE.CA_TILLNO,
             CAST(CAFILE.CA_LTOUCH_DATE AS VARCHAR(10)),
             CAFILE.CA_DESC,
             CAFILE.CA_BEGBAL,
             CAFILE.CA_OPENED_HHMM,
             CAFILE.CA_CLOSED_HHMM,
             CAFILE.CA_ENDBAL,
             CAFILE.CA_BALBY,
             CAFILE.CA_RUNNING,
             CAFILE.CA_DEPOSIT,
             CAFILE.CA_OPEN_USERID,
             CAFILE.CA_NET_CASH_NOTES,
             CAFILE.CA_PASSWORD,
             CAFILE.CA_CHECK_DEPOSIT
 
        FROM DBO.CAFILE CAFILE
 
       WHERE CAFILE.CA_BRNO       = @QCA1_WBEG_BRNO
         AND CAFILE.CA_DATE BETWEEN @QCA1_WBEG_DATE 
                                AND @QCA1_WEND_DATE
 
      ORDER BY CAFILE.CA_BRNO,
               CAFILE.CA_DATE,
               CAFILE.CA_TILLNO;
             
END
GO
