USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_PPMORP_TRLFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_PPMORP_TRLFILE_SELECT             */
/*               PROGRAM NAME: LP/PPMORP.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 08/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRLFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_PPMORP_TRLFILE_SELECT]
    @QTRL1_WBEG_BRNO    AS INT,
    @QTRL1_WBEG_DATE    AS DATE,
    @QTRL1_WEND_DATE    AS DATE,
    @QTRL1_WBEG_CLASS   AS INT,
    @QTRL1_WEND_CLASS   AS INT

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRL1_WBEG_BRNO    INT
--DECLARE @QTRL1_WBEG_DATE    DATE
--DECLARE @QTRL1_WEND_DATE    DATE
--DECLARE @QTRL1_WBEG_CLASS   INT
--DECLARE @QTRL1_WEND_CLASS   INT 

--SET @QTRL1_WBEG_BRNO    = 10
--SET @QTRL1_WBEG_DATE    = '2019-12-01'
--SET @QTRL1_WEND_DATE    = '2019-12-31'
--SET @QTRL1_WBEG_CLASS   = 000
--SET @QTRL1_WEND_CLASS   = 999
    
		   SELECT TRLFILE.TL_BRNO,
                   CAST(TRLFILE.TL_DATE AS VARCHAR(10)),
                   TRLFILE.TL_CLASS,
                   TRLFILE.TL_ACCTNO,
                   TRLFILE.TL_LAWCODE,
                   TRLFILE.TL_LINE,
                   TRLFILE.TL_INSCOMP_1,
                   TRLFILE.TL_INSCOMP_2,
                   TRLFILE.TL_INSCOMP_3,
                   TRLFILE.TL_INSCOMP_4,
                   TRLFILE.TL_INSCOMP_5,
                   TRLFILE.TL_INSCOMP_6,
                   TRLFILE.TL_INSCOMP_7,
                   TRLFILE.TL_INSCOMP_8,
                   TRLFILE.TL_INSCOMP_9,
                   TRLFILE.TL_INSCOMP_10,
                   TRLFILE.TL_INSOURS_1,
                   TRLFILE.TL_INSOURS_2,
                   TRLFILE.TL_INSOURS_3,
                   TRLFILE.TL_INSOURS_4,
                   TRLFILE.TL_INSOURS_5,
                   TRLFILE.TL_INSOURS_6,
                   TRLFILE.TL_INSOURS_7,
                   TRLFILE.TL_INSOURS_8,
                   TRLFILE.TL_INSOURS_9,
                   TRLFILE.TL_INSOURS_10,
                   TRLFILE.TL_INSPREM_1,
                   TRLFILE.TL_INSPREM_2,
                   TRLFILE.TL_INSPREM_3,
                   TRLFILE.TL_INSPREM_4,
                   TRLFILE.TL_INSPREM_5,
                   TRLFILE.TL_INSPREM_6,
                   TRLFILE.TL_INSPREM_7,
                   TRLFILE.TL_INSPREM_8,
                   TRLFILE.TL_INSPREM_9,
                   TRLFILE.TL_INSPREM_10,
                   TRLFILE.TL_INSCOMM_1,
                   TRLFILE.TL_INSCOMM_2,
                   TRLFILE.TL_INSCOMM_3,
                   TRLFILE.TL_INSCOMM_4,
                   TRLFILE.TL_INSCOMM_5,
                   TRLFILE.TL_INSCOMM_6,
                   TRLFILE.TL_INSCOMM_7,
                   TRLFILE.TL_INSCOMM_8,
                   TRLFILE.TL_INSCOMM_9,
                   TRLFILE.TL_INSCOMM_10,
				   LNFILE.LN_OWNBR,
                   LNFILE.LN_ACCTNO,
                   LNFILE.LN_CLASS,
                   LNFILE.LN_SUBCLASS,
                   LNFILE.LN_LAWCODE,
                   LNFILE.LN_SSNO1,
                   LNFILE.LN_MAKERCD1,
                   LNFILE.LN_SSNO2,
                   LNFILE.LN_MAKERCD2,
                   LNFILE.LN_SSNO3,
                   LNFILE.LN_MAKERCD3,
                   LNFILE.LN_SSNO4,
                   LNFILE.LN_MAKERCD4,
                   LNFILE.LN_ORGST,
                   LNFILE.LN_SPRCLASS,
                   LNFILE.LN_STATFLAGS,
                   CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_1STPYDATE AS VARCHAR(10)),
                   LNFILE.LN_ORGTERM,
                   LNFILE.LN_INSURED,
                   LNFILE.LN_INSTYPES,
                   LNFILE.LN_INSCOMP_1,
                   LNFILE.LN_INSCOMP_2,
                   LNFILE.LN_INSCOMP_3,
                   LNFILE.LN_INSCOMP_4,
                   LNFILE.LN_INSCOMP_5,
                   LNFILE.LN_INSCOMP_6,
                   LNFILE.LN_INSCOMP_7,
                   LNFILE.LN_INSCOMP_8,
                   LNFILE.LN_INSCOMP_9,
                   LNFILE.LN_INSCOMP_10,
                   CAST(LNFILE.LN_INSEFF_DATE_1 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_2 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_3 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_4 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_5 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_6 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_7 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_8 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_9 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_10 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_1  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_2  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_3  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_4  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_5  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_6  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_7  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_8  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_9  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_10 AS VARCHAR(10)),
                   LNFILE.LN_INSCOVR_1,
                   LNFILE.LN_INSCOVR_2,
                   LNFILE.LN_INSCOVR_3,
                   LNFILE.LN_INSCOVR_4,
                   LNFILE.LN_INSCOVR_5,
                   LNFILE.LN_INSCOVR_6,
                   LNFILE.LN_INSCOVR_7,
                   LNFILE.LN_INSCOVR_8,
                   LNFILE.LN_INSCOVR_9,
                   LNFILE.LN_INSCOVR_10,
                   LNFILE.LN_TOTNODEF,
                   LNFILE.LN_CL_REBATE,
                   LNFILE.LN_AH_REBATE,
                   LNFILE.LN_PP_REBATE,
                   LNFILE.LN_INT_REBATE,
                   LNFILE.LN_SC_REBATE,
                   LNFILE.LN_MF_REBATE,
                   LNFILE.LN_DF_REBATE,
                   LNFILE.LN_EX_REBATE,
                   LNFILE.LN_O1_REBATE,
                   LNFILE.LN_O2_REBATE,
                   LNFILE.LN_O3_REBATE,
                   LNFILE.LN_O4_REBATE,
                   LNFILE.LN_O5_REBATE,
                   LNFILE.LN_O6_REBATE,
                   LNFILE.LN_O7_REBATE,
                   LNFILE.LN_UN_O7_REB,
                   LNFILE.LN_UN_O8_REB,
                   LNFILE.LN_UN_O9_REB,
                   LNFILE.LN_UN_O10_REB,
                   LNFILE.LN_SUM_ORGTERM,
                   LNFILE.LN_UNITPER_CD,
                   LNFILE.LN_UNITPER_FREQ
            	
	 FROM DBO.TRLFILE TRLFILE
	 
	  INNER JOIN DBO.LNFILE LNFILE
	   ON LNFILE.LN_OWNBR  = TRLFILE.TL_BRNO
	  AND LNFILE.LN_ACCTNO = TRLFILE.TL_ACCTNO

	WHERE TRLFILE.TL_BRNO = @QTRL1_WBEG_BRNO
	  AND TRLFILE.TL_DATE  BETWEEN @QTRL1_WBEG_DATE  AND @QTRL1_WEND_DATE
      AND TRLFILE.TL_CLASS BETWEEN @QTRL1_WBEG_CLASS AND @QTRL1_WEND_CLASS
	  AND TRLFILE.TL_INSCOMP_3 != 0
	  AND TRLFILE.TL_INSOURS_3 = 'Y'
 
     ORDER BY TRLFILE.TL_DATE,
	          TRLFILE.TL_CLASS,
	          TRLFILE.TL_ACCTNO,
	          TRLFILE.TL_LINE

END 
GO
