USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BIBUID_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_BIBUID_LNFILE_SELECT              */
/*               PROGRAM NAME: FX/BIBUID                             */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 02/11/2025                            */
/*                                                                   */
/*  PURPOSE: THIS SCRIPT REPLACES THE COBOL INSERTS INTO THE BIFILE  */
/*    TABLE FOR A BRANCH.  THE COBOL PROGRAM FIRST DELETES ALL ROWS  */
/*    FOR THE BRANCH, AND THEN CALLS THIS SSP TO INSERT THEM.        */
/*                                                                   */
/*   TABLES: BIFILE, LNFILE, BWFILE                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_BIBUID_LNFILE_SELECT]
    @QLN1_WBEG_OWNBR           AS INT 

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN1_WBEG_OWNBR      INT
--SET     @QLN1_WBEG_OWNBR      = 10  
 
/*********************************************************************/
/*                INSERT BIFILE FOR LN_SSNO1 ROWS                    */
/*********************************************************************/ 

   INSERT INTO DBO.BIFILE  
         (BIFILE.BI_SSNO            
         ,BIFILE.BI_ACCTNO          
         ,BIFILE.BI_OWNBR           
         ,BIFILE.BI_LNAME           
         ,BIFILE.BI_FNAME           
         ,BIFILE.BI_LTOUCH_DATE     
         ,BIFILE.BI_MAKERCD         
         ,BIFILE.BI_ORGST           
         ,BIFILE.BI_GIFTNET         
         ,BIFILE.BI_POFFDATE        
         ,BIFILE.BI_ENTDATE         
         ,BIFILE.BI_SALEFIN         
         ,BIFILE.BI_CONVERCD        
         ,BIFILE.BI_PLCD            
         ,BIFILE.BI_SMALLOAN        
         ,BIFILE.BI_PLDATE)
   SELECT LNFILE.LN_SSNO1                     AS LN_SSNO,
          LNFILE.LN_ACCTNO                    AS LN_ACCTNO,
          LNFILE.LN_OWNBR                     AS LN_OWNBR,
          ISNULL(BWFILE.BW_LNAME,'NOT FOUND') AS BW_LNAME,
          ISNULL(BWFILE.BW_FNAME,' ')         AS BW_FNAME,
          CONVERT (DATE, GETDATE())           AS BW_DATE,  
          ISNULL(LNFILE.LN_MAKERCD1,'')       AS LN_MAKERCD,
          ISNULL(LNFILE.LN_ORGST,'')          AS LN_ORGST,
          ISNULL(LNFILE.LN_GIFTNET,'')        AS LN_GIFTNET,
          ISNULL(CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)),'1900-01-01') 
                                              AS LN_POFFDATE,
          ISNULL(CAST(LNFILE.LN_ENTDATE  AS VARCHAR(10)),'1900-01-01')
                                              AS LN_ENTDATE,
          ISNULL(LNFILE.LN_SALEFIN,'')        AS LN_SALEFIN,
          ISNULL(LNFILE.LN_CONVERCD,'')       AS LN_CONVERCD,
          ISNULL(LNFILE.LN_PLCD,'')           AS LN_PLCD,
          ISNULL(LNFILE.LN_SMALLOAN,'')       AS LN_SMALLOAN,
          ISNULL(CAST(LNFILE.LN_PLDATE   AS VARCHAR(10)),'1900-01-01')
                                              AS LN_PLDATE
     FROM DBO.LNFILE      LNFILE
     LEFT JOIN DBO.BWFILE BWFILE 
       ON   (LNFILE.LN_OWNBR  = BWFILE.BW_OWNBR     
      AND    LNFILE.LN_SSNO1  = BWFILE.BW_SSNO)
    WHERE (( LNFILE.LN_OWNBR  = @QLN1_WBEG_OWNBR ) 
      AND  ( LNFILE.LN_POCD NOT IN ('**', '*I', '*R', '*U'))); 


/*********************************************************************/
/*                INSERT BIFILE FOR LN_SSNO2 ROWS                    */
/*********************************************************************/ 

   INSERT INTO DBO.BIFILE  
         (BIFILE.BI_SSNO            
         ,BIFILE.BI_ACCTNO          
         ,BIFILE.BI_OWNBR           
         ,BIFILE.BI_LNAME           
         ,BIFILE.BI_FNAME           
         ,BIFILE.BI_LTOUCH_DATE     
         ,BIFILE.BI_MAKERCD         
         ,BIFILE.BI_ORGST           
         ,BIFILE.BI_GIFTNET         
         ,BIFILE.BI_POFFDATE        
         ,BIFILE.BI_ENTDATE         
         ,BIFILE.BI_SALEFIN         
         ,BIFILE.BI_CONVERCD        
         ,BIFILE.BI_PLCD            
         ,BIFILE.BI_SMALLOAN        
         ,BIFILE.BI_PLDATE)
   SELECT LNFILE.LN_SSNO2                     AS LN_SSNO,
          LNFILE.LN_ACCTNO 					  AS LN_ACCTNO,
          LNFILE.LN_OWNBR 					  AS LN_OWNBR,
          ISNULL(BWFILE.BW_LNAME,'NOT FOUND') AS BW_LNAME,
          ISNULL(BWFILE.BW_FNAME,' ')         AS BW_FNAME,
          CONVERT (DATE, GETDATE())           AS BW_DATE,  
          ISNULL(LNFILE.LN_MAKERCD2,'')       AS LN_MAKERCD,
          ISNULL(LNFILE.LN_ORGST,'')          AS LN_ORGST,
          ISNULL(LNFILE.LN_GIFTNET,'')        AS LN_GIFTNET,
          ISNULL(CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)),'1900-01-01') 
                                              AS LN_POFFDATE,
          ISNULL(CAST(LNFILE.LN_ENTDATE  AS VARCHAR(10)),'1900-01-01')
                                              AS LN_ENTDATE,
          ISNULL(LNFILE.LN_SALEFIN,'')        AS LN_SALEFIN,
          ISNULL(LNFILE.LN_CONVERCD,'')       AS LN_CONVERCD,
          ISNULL(LNFILE.LN_PLCD,'')           AS LN_PLCD,
          ISNULL(LNFILE.LN_SMALLOAN,'')       AS LN_SMALLOAN,
          ISNULL(CAST(LNFILE.LN_PLDATE   AS VARCHAR(10)),'1900-01-01')
                                              AS LN_PLDATE
     FROM DBO.LNFILE      LNFILE
     LEFT JOIN DBO.BWFILE BWFILE 
       ON  ( LNFILE.LN_OWNBR   = BWFILE.BW_OWNBR     
      AND    LNFILE.LN_SSNO2   = BWFILE.BW_SSNO)
    WHERE (( LNFILE.LN_OWNBR   = @QLN1_WBEG_OWNBR ) 
      AND  ( LNFILE.LN_POCD  NOT IN ('**', '*I', '*R', '*U')
      AND    LNFILE.LN_SSNO2  != 0 
      AND    LN_SSNO2         != LN_SSNO1 )); 


/*********************************************************************/ 
/*                INSERT BIFILE FOR LN_SSNO3 ROWS                    */
/*********************************************************************/ 

   INSERT INTO DBO.BIFILE  
         (BIFILE.BI_SSNO            
         ,BIFILE.BI_ACCTNO          
         ,BIFILE.BI_OWNBR           
         ,BIFILE.BI_LNAME           
         ,BIFILE.BI_FNAME           
         ,BIFILE.BI_LTOUCH_DATE     
         ,BIFILE.BI_MAKERCD         
         ,BIFILE.BI_ORGST           
         ,BIFILE.BI_GIFTNET         
         ,BIFILE.BI_POFFDATE        
         ,BIFILE.BI_ENTDATE         
         ,BIFILE.BI_SALEFIN         
         ,BIFILE.BI_CONVERCD        
         ,BIFILE.BI_PLCD            
         ,BIFILE.BI_SMALLOAN        
         ,BIFILE.BI_PLDATE)
   SELECT LNFILE.LN_SSNO3                     AS LN_SSNO,
          LNFILE.LN_ACCTNO 					  AS LN_ACCTNO,
          LNFILE.LN_OWNBR 					  AS LN_OWNBR,
          ISNULL(BWFILE.BW_LNAME,'NOT FOUND') AS BW_LNAME,
          ISNULL(BWFILE.BW_FNAME,' ')         AS BW_FNAME,
          CONVERT (DATE, GETDATE())           AS BW_DATE,  
          ISNULL(LNFILE.LN_MAKERCD3,'')       AS LN_MAKERCD,
          ISNULL(LNFILE.LN_ORGST,'')          AS LN_ORGST,
          ISNULL(LNFILE.LN_GIFTNET,'')        AS LN_GIFTNET,
          ISNULL(CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)),'1900-01-01') 
                                              AS LN_POFFDATE,
          ISNULL(CAST(LNFILE.LN_ENTDATE  AS VARCHAR(10)),'1900-01-01')
                                              AS LN_ENTDATE,
          ISNULL(LNFILE.LN_SALEFIN,'')        AS LN_SALEFIN,
          ISNULL(LNFILE.LN_CONVERCD,'')       AS LN_CONVERCD,
          ISNULL(LNFILE.LN_PLCD,'')           AS LN_PLCD,
          ISNULL(LNFILE.LN_SMALLOAN,'')       AS LN_SMALLOAN,
          ISNULL(CAST(LNFILE.LN_PLDATE   AS VARCHAR(10)),'1900-01-01')
                                              AS LN_PLDATE
     FROM DBO.LNFILE       LNFILE
     LEFT JOIN DBO.BWFILE BWFILE 
       ON  ( LNFILE.LN_OWNBR   = BWFILE.BW_OWNBR     
      AND    LNFILE.LN_SSNO3   = BWFILE.BW_SSNO )
    WHERE (( LNFILE.LN_OWNBR   = @QLN1_WBEG_OWNBR ) 
      AND  ( LNFILE.LN_POCD  NOT IN ('**', '*I', '*R', '*U')
      AND    LNFILE.LN_SSNO3  != 0  
      AND    LN_SSNO3         != LN_SSNO2 
      AND    LN_SSNO3         != LN_SSNO1 ));  


/*********************************************************************/ 
/*                INSERT BIFILE FOR LN_SSNO4 ROWS                    */
/*********************************************************************/ 

   INSERT INTO DBO.BIFILE  
         (BIFILE.BI_SSNO            
         ,BIFILE.BI_ACCTNO          
         ,BIFILE.BI_OWNBR           
         ,BIFILE.BI_LNAME           
         ,BIFILE.BI_FNAME           
         ,BIFILE.BI_LTOUCH_DATE     
         ,BIFILE.BI_MAKERCD         
         ,BIFILE.BI_ORGST           
         ,BIFILE.BI_GIFTNET         
         ,BIFILE.BI_POFFDATE        
         ,BIFILE.BI_ENTDATE         
         ,BIFILE.BI_SALEFIN         
         ,BIFILE.BI_CONVERCD        
         ,BIFILE.BI_PLCD            
         ,BIFILE.BI_SMALLOAN        
         ,BIFILE.BI_PLDATE)
   SELECT LNFILE.LN_SSNO4                     AS LN_SSNO,
          LNFILE.LN_ACCTNO 					  AS LN_ACCTNO,
          LNFILE.LN_OWNBR 					  AS LN_OWNBR,
          ISNULL(BWFILE.BW_LNAME,'NOT FOUND') AS BW_LNAME,
          ISNULL(BWFILE.BW_FNAME,' ')         AS BW_FNAME,
          CONVERT (DATE, GETDATE())           AS BW_DATE,  
          ISNULL(LNFILE.LN_MAKERCD4,'')       AS LN_MAKERCD,
          ISNULL(LNFILE.LN_ORGST,'')          AS LN_ORGST,
          ISNULL(LNFILE.LN_GIFTNET,'')        AS LN_GIFTNET,
          ISNULL(CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)),'1900-01-01') 
                                              AS LN_POFFDATE,
          ISNULL(CAST(LNFILE.LN_ENTDATE  AS VARCHAR(10)),'1900-01-01')
                                              AS LN_ENTDATE,
          ISNULL(LNFILE.LN_SALEFIN,'')        AS LN_SALEFIN,
          ISNULL(LNFILE.LN_CONVERCD,'')       AS LN_CONVERCD,
          ISNULL(LNFILE.LN_PLCD,'')           AS LN_PLCD,
          ISNULL(LNFILE.LN_SMALLOAN,'')       AS LN_SMALLOAN,
          ISNULL(CAST(LNFILE.LN_PLDATE   AS VARCHAR(10)),'1900-01-01')
                                              AS LN_PLDATE
     FROM DBO.LNFILE      LNFILE
     LEFT JOIN DBO.BWFILE BWFILE 
       ON  ( LNFILE.LN_OWNBR   = BWFILE.BW_OWNBR     
      AND    LNFILE.LN_SSNO4   = BWFILE.BW_SSNO )
    WHERE (( LNFILE.LN_OWNBR   = @QLN1_WBEG_OWNBR ) 
      AND  ( LNFILE.LN_POCD  NOT IN ('**', '*I', '*R', '*U')
      AND    LNFILE.LN_SSNO4  != 0 
      AND    LN_SSNO4         != LN_SSNO3 
      AND    LN_SSNO4         != LN_SSNO2
      AND    LN_SSNO4         != LN_SSNO1 ));

END
GO
