USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BWTXT_BWFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_BWTXT_BWFILE_SELECT               */
/*               PROGRAM NAME: LP/BWTXT.CBL                          */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: BWFILE, LNFILE                                          */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_BWTXT_BWFILE_SELECT]
    @QBW1_WBEG_OWNBR       AS INT 
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QBW1_WBEG_OWNBR    INT
--SET     @QBW1_WBEG_OWNBR  = 1000   
 
   SELECT BWFILE.BW_OWNBR,
          BWFILE.BW_SSNO,             
          BWFILE.BW_LNAME, 
          BWFILE.BW_FNAME,
          BWFILE.BW_CELL_PHONE,
          BWFILE.BW_LOANS,
          BWFILE.BW_PRIVACY_OPT_OUT,
          ISNULL(LNFILE.LN_OWNBR, ' '),
          ISNULL(LNFILE.LN_ACCTNO, 0),
          ISNULL(LNFILE.LN_SSNO1, 0),
          ISNULL(LNFILE.LN_MAKERCD1,' '),
          ISNULL(LNFILE.LN_SSNO2, 0),
          ISNULL(LNFILE.LN_MAKERCD2,' '),
          ISNULL(LNFILE.LN_SSNO3, 0),
          ISNULL(LNFILE.LN_MAKERCD3,' '),
          ISNULL(LNFILE.LN_SSNO4, 0),
          ISNULL(LNFILE.LN_MAKERCD4,' '),
          ISNULL(LNFILE.LN_POCD,'  '),
          ISNULL(CAST(LNFILE.LN_LOANDATE AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LNFILE.LN_PLDATE AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LNFILE.LN_CURBAL, 0)
     FROM DBO.BWFILE BWFILE
	 
     LEFT OUTER JOIN
          DBO.LNFILE LNFILE
       ON (  BWFILE.BW_OWNBR    = LNFILE.LN_OWNBR
      AND    BWFILE.BW_SSNO     = LNFILE.LN_SSNO1   )
  
    WHERE (  BWFILE.BW_OWNBR    = @QBW1_WBEG_OWNBR  )

    ORDER BY BWFILE.BW_OWNBR,
             BWFILE.BW_SSNO,
             ISNULL(LNFILE.LN_ACCTNO, 0)  

END
GO
