USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_TRDFLE_TRDFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_TRDFLE_TRDFILE_SELECT             */
/*               PROGRAM NAME: UT/TRDFLE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 04/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRDFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_TRDFLE_TRDFILE_SELECT]
    @QTRD_WBEG_BRNO  AS INT,
	@QTRD_WBEG_DATE  AS DATE,
	@QTRD_WEND_DATE  AS DATE
 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRD_WBEG_BRNO  INT
--DECLARE @QTRD_WBEG_DATE  DATE
--DECLARE @QTRD_WEND_DATE  DATE

--SET @QTRD_WBEG_BRNO  =  10
--SET @QTRD_WBEG_DATE  = '2019-01-01'
--SET @QTRD_WEND_DATE  = '2019-06-30'

            SELECT TRDFILE.TD_BRNO,
                   CAST(TRDFILE.TD_DATE        AS VARCHAR(10)),
                   CAST(TRDFILE.TD_LTOUCH_DATE AS VARCHAR(10)),
                   TRDFILE.TD_DEPOSIT,
                   TRDFILE.TD_CHECK_DEPOSIT,
                   TRDFILE.TD_BANK,
                   TRDFILE.TD_CASH,
                   TRDFILE.TD_GLFG,
                   TRDFILE.TD_GLOVERSHORT,
                   TRDFILE.TD_OVERSHORT,
                   TRDFILE.TD_USERID,
                   CAST(TRDFILE.TD_POSTDATE AS VARCHAR(10)),
                   TRDFILE.TD_POSTTIME
            FROM DBO.TRDFILE
            WHERE TRDFILE.TD_BRNO  = @QTRD_WBEG_BRNO
              AND TRDFILE.TD_DATE BETWEEN @QTRD_WBEG_DATE AND @QTRD_WEND_DATE
            ORDER BY TRDFILE.TD_BRNO,
                     TRDFILE.TD_DATE

END 
GO
