USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BWEXTR_BWFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_BWEXTR_BWFILE_SELECT              */
/*               PROGRAM NAME: SP/BWEXTR.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: BWFILE                                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   01/30/2025  MB           Added 5 BW fields                      */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_BWEXTR_BWFILE_SELECT]
    @QBW1_WBEG_OWNBR       AS INT 
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QBW1_WBEG_OWNBR    INT
--SET     @QBW1_WBEG_OWNBR  = 200   
 
 SELECT BWFILE.BW_OWNBR,
        BWFILE.BW_SSNO,
        BWFILE.BW_LNAME, 
        BWFILE.BW_FNAME, 
        BWFILE.BW_ADR1,  
        BWFILE.BW_ADR2, 
        BWFILE.BW_CITY, 
        BWFILE.BW_STATE, 
        BWFILE.BW_ZIP, 
        CAST(BWFILE.BW_REFDATE AS VARCHAR(10)), 
        CAST(BWFILE.BW_BDATE   AS VARCHAR(10)),
        BWFILE.BW_PHONE,
        BWFILE.BW_CELL_PHONE,
        BWFILE.BW_DEPEND,
        BWFILE.BW_RENTCD, 
        BWFILE.BW_TIMEADDR, 
        BWFILE.BW_CREDITCD, 
        BWFILE.BW_STRTGCD,  
        BWFILE.BW_DWELLCD, 
        BWFILE.BW_COUNTY, 
        BWFILE.BW_ORIGIN, 
        BWFILE.BW_CENSUSCD, 
        BWFILE.BW_ORGSLSMN,
        BWFILE.BW_REPCODE, 
        BWFILE.BW_SPSSNO,
        BWFILE.BW_SPLNAME, 
        BWFILE.BW_SPFNAME, 
        CAST(BWFILE.BW_SP_BDATE AS VARCHAR(10)), 
        BWFILE.BW_EMPLOYER, 
        BWFILE.BW_EMPLPOS, 
        BWFILE.BW_EMPPHONE,
        BWFILE.BW_EMPEXT,
        BWFILE.BW_EMPYEARS,
        BWFILE.BW_EMPPAY,
        BWFILE.BW_EMPPAYOT,
        BWFILE.BW_EMPPAYSR, 
        BWFILE.BW_EMPADDR1, 
        BWFILE.BW_EMPADDR2, 
        BWFILE.BW_WORKHRS, 
        BWFILE.BW_LOANS,
        BWFILE.BW_INTYTD,
        BWFILE.BW_INTLYR,
        BWFILE.BW_LIASMLN,
        BWFILE.BW_LIAOTH,
        CAST(BWFILE.BW_LASTPODATE AS VARCHAR(10)), 
        BWFILE.BW_PRLOANS,
        BWFILE.BW_RE_INTYTD,
        BWFILE.BW_RE_INTLYR,
        BWFILE.BW_CREDIT_LIMIT,
        BWFILE.BW_CREDIT_SCORE,
        BWFILE.BW_CRED_SCORE_1,
        BWFILE.BW_CRED_SCORE_2,
        BWFILE.BW_CRED_SCORE_3,
        BWFILE.BW_CRED_SCORE_4,
        BWFILE.BW_BNKRPT_SCORE_1,
        BWFILE.BW_BNKRPT_SCORE_2,
        BWFILE.BW_BNKRPT_SCORE_3,
        BWFILE.BW_BNKRPT_SCORE_4,
        BWFILE.BW_LAST_FORM_NO,
        CAST(BWFILE.BW_LAST_FORM_DATE      AS VARCHAR(10)), 
        CAST(BWFILE.BW_PRIOR_RN_FOR10_DATE AS VARCHAR(10)), 
        CAST(BWFILE.BW_LAST_RN_FOR10_DATE  AS VARCHAR(10)), 
        BWFILE.BW_BAD_ADR_FG,    
        BWFILE.BW_BAD_PHONE_FG, 
        BWFILE.BW_BAD_EMPPHONE_FG, 
        BWFILE.BW_BAD_MISC_PHONE1_FG, 
        BWFILE.BW_BAD_MISC_PHONE2_FG, 
        BWFILE.BW_BAD_CELL_FG, 
        BWFILE.BW_MISC_PHONE_1,
        BWFILE.BW_MISC_PHONE_2,
        BWFILE.BW_MISC_PHONE_3,
        BWFILE.BW_MISC_PHONE_4,
        BWFILE.BW_MISC_PHONE_5,
        BWFILE.BW_MISC_PHONE_6,
        BWFILE.BW_MISC_EXT_1,
        BWFILE.BW_MISC_EXT_2,
        BWFILE.BW_MISC_EXT_3,
        BWFILE.BW_MISC_EXT_4,
        BWFILE.BW_MISC_EXT_5,
        BWFILE.BW_MISC_EXT_6,
        BWFILE.BW_MISC_PHONE_CD_1, 
        BWFILE.BW_MISC_PHONE_CD_2, 
        BWFILE.BW_MISC_PHONE_CD_3, 
        BWFILE.BW_MISC_PHONE_CD_4, 
        BWFILE.BW_MISC_PHONE_CD_5, 
        BWFILE.BW_MISC_PHONE_CD_6, 
        BWFILE.BW_CONTACT_DESC_1, 
        BWFILE.BW_CONTACT_DESC_2, 
        BWFILE.BW_CONTACT_DESC_3, 
        BWFILE.BW_CONTACT_DESC_4, 
        BWFILE.BW_CONTACT_DESC_5, 
        BWFILE.BW_CONTACT_DESC_6, 
        BWFILE.BW_CONTACT_DESC_7, 
        BWFILE.BW_CONTACT_DESC_8, 
        BWFILE.BW_CONTACT_DESC_9, 
        BWFILE.BW_CONTACT_DESC_10, 
        BWFILE.BW_CONTACT_PHONE_1,
        BWFILE.BW_CONTACT_PHONE_2,
        BWFILE.BW_CONTACT_PHONE_3,
        BWFILE.BW_CONTACT_PHONE_4,
        BWFILE.BW_CONTACT_PHONE_5,
        BWFILE.BW_CONTACT_PHONE_6,
        BWFILE.BW_CONTACT_PHONE_7,
        BWFILE.BW_CONTACT_PHONE_8,
        BWFILE.BW_CONTACT_PHONE_9,
        BWFILE.BW_CONTACT_PHONE_10,
        BWFILE.BW_CONTACT_EXT_1,
        BWFILE.BW_CONTACT_EXT_2,
        BWFILE.BW_CONTACT_EXT_3,
        BWFILE.BW_CONTACT_EXT_4,
        BWFILE.BW_CONTACT_EXT_5,
        BWFILE.BW_CONTACT_EXT_6,
        BWFILE.BW_CONTACT_EXT_7,
        BWFILE.BW_CONTACT_EXT_8,
        BWFILE.BW_CONTACT_EXT_9,
        BWFILE.BW_CONTACT_EXT_10,
        BWFILE.BW_SRCD, 
        BWFILE.BW_CALL_ON_SUNDAY, 
        BWFILE.BW_SOLICIT, 
        BWFILE.BW_CONFIDENTIAL, 
        BWFILE.BW_PRIVACY_OPT_OUT, 
        BWFILE.BW_CITY_TAX_CD, 
        BWFILE.BW_EMAIL, 
        BWFILE.BW_ORGBR,
		BWFILE.BW_DEALTRACK_CHG_DATE,
        BWFILE.BW_CEASE_DESIST_DATE,
        BWFILE.BW_CEASE_DESIST_TYPE,
        BWFILE.BW_UMC_EXPIRE_DATE,
        BWFILE.BW_UMC_PR_EXPIRE_DATE,
        ISNULL(BXFILE.BX_BRNO, 0),
        ISNULL(BXFILE.BX_SSNO, 0),
        ISNULL(BXFILE.BX_ALT_ADR1,' '),
        ISNULL(BXFILE.BX_ALT_ADR2,' '),
        ISNULL(BXFILE.BX_ALT_CITY,' '),
        ISNULL(BXFILE.BX_ALT_STATE,' '),
        ISNULL(BXFILE.BX_ALT_ZIP,' '),
        ISNULL(CAST(BXFILE.BX_KYC_ISSDATE AS VARCHAR(10)),'1900-01-01'),
        ISNULL(CAST(BXFILE.BX_KYC_EXPDATE AS VARCHAR(10)),'1900-01-01'),
        ISNULL(CAST(BXFILE.BX_KYC_LAST_VERDATE AS VARCHAR(10)),'1900-01-01')
   
   FROM DBO.BWFILE BWFILE 
   LEFT OUTER JOIN
        DBO.BXFILE BXFILE
     ON ( BXFILE.BX_BRNO       = BWFILE.BW_OWNBR
    AND   BXFILE.BX_SSNO       = BWFILE.BW_SSNO )

  WHERE ( BWFILE.BW_OWNBR      = @QBW1_WBEG_OWNBR )   

  ORDER BY BWFILE.BW_OWNBR,
           BWFILE.BW_SSNO 

END
GO
