USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_GTMAIN_GTFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_GTMAIN_GTFILE_SELECT              */
/*               PROGRAM NAME: LP/GTMAIN.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 06/06/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: GTFILE, GLFILE                                          */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_GTMAIN_GTFILE_SELECT]
    @QGT1_WBEG_SOURCE   AS INT,
    @QGT1_WBEG_DATE2    AS DATE, 
    @QGT1_WEND_DATE2    AS DATE, 
    @QGT1_WBEG_BRANCH   AS INT,
    @QGT1_WBEG_ACCTNO   AS INT, 
    @QGT1_WEND_ACCTNO   AS INT, 
    @QGT1_WBEG_DRCRFG   AS CHAR(1),
    @QGT1_WEND_DRCRFG   AS CHAR(1),
    @QGT1_WBEG_LINE     AS INT, 
    @QGT1_WEND_LINE     AS INT   

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QGT1_WBEG_SOURCE    INT
--DECLARE @QGT1_WBEG_DATE2     DATE  
--DECLARE @QGT1_WEND_DATE2     DATE  
--DECLARE @QGT1_WBEG_BRANCH    INT 
--DECLARE @QGT1_WBEG_ACCTNO    INT 
--DECLARE @QGT1_WEND_ACCTNO    INT 
--DECLARE @QGT1_WBEG_DRCRFG    CHAR(1) 
--DECLARE @QGT1_WEND_DRCRFG    CHAR(1) 
--DECLARE @QGT1_WBEG_LINE      INT 
--DECLARE @QGT1_WEND_LINE      INT 
--
--SET     @QGT1_WBEG_SOURCE    = 3
--SET     @QGT1_WBEG_DATE2     = '2020-03-19'
--SET     @QGT1_WEND_DATE2     = '2099-12-31'
--SET     @QGT1_WBEG_BRANCH    = 1450
--SET     @QGT1_WBEG_ACCTNO    = 7264000 
--SET     @QGT1_WEND_ACCTNO    = 99999999
--SET     @QGT1_WBEG_DRCRFG    = 1
--SET     @QGT1_WEND_DRCRFG    = 2
--SET     @QGT1_WBEG_LINE      = 000000 
--SET     @QGT1_WEND_LINE      = 999999   

   DROP TABLE IF EXISTS #TEMP_GTMAIN_GTFILE1;

   SELECT TEMP1.GT_FLAG,
          TEMP1.GT_REF,
          TEMP1.GT_DATE1,
          TEMP1.GT_SOURCE,	      
          TEMP1.GT_DATE2,
          TEMP1.GT_BRANCH,	      
          TEMP1.GT_ACCTNO,	      
          TEMP1.GT_DATE3,
          TEMP1.GT_DRCRFG,
          TEMP1.GT_LINE,
          TEMP1.GT_LTOUCH_DATE,
          TEMP1.GT_AMT,
          TEMP1.GT_EXPL,
          TEMP1.GT_PERIOD,
          TEMP1.GT_SMITH_SENT,
          TEMP1.GT_POST_USERID,
          TEMP1.GT_POST_DATE,
          TEMP1.GT_POST_TIME,
          TEMP1.GL_BR_ACCOUNT  
  
       INTO #TEMP_GTMAIN_GTFILE1
 
       FROM

    (SELECT GTFILE.GT_FLAG,
            GTFILE.GT_REF,
            CAST(GTFILE.GT_DATE1       AS VARCHAR(10))  AS GT_DATE1,
            GTFILE.GT_SOURCE,	      
            CAST(GTFILE.GT_DATE2       AS VARCHAR(10))  AS GT_DATE2,
            GTFILE.GT_BRANCH,	      
            GTFILE.GT_ACCTNO,	      
            CAST(GTFILE.GT_DATE3       AS VARCHAR(10))  AS GT_DATE3,
            GTFILE.GT_DRCRFG,
            GTFILE.GT_LINE,
            CAST(GTFILE.GT_LTOUCH_DATE AS VARCHAR(10))  AS GT_LTOUCH_DATE,
            GTFILE.GT_AMT,
            GTFILE.GT_EXPL,
            GTFILE.GT_PERIOD,
            GTFILE.GT_SMITH_SENT,
            GTFILE.GT_POST_USERID,
            CAST(GTFILE.GT_POST_DATE   AS VARCHAR(10))  AS GT_POST_DATE,
            GTFILE.GT_POST_TIME,
            ISNULL(GLFILE.GL_BR_ACCOUNT, '99999999999') AS GL_BR_ACCOUNT   
       FROM DBO.GTFILE GTFILE
       LEFT OUTER JOIN
            DBO.GLFILE GLFILE
        ON (SUBSTRING(CAST(FORMAT(GLFILE.GL_BR_ACCOUNT, 'D11') AS CHAR(11)),1,4) 
            = GTFILE.GT_BRANCH
       AND  SUBSTRING(CAST(FORMAT(GLFILE.GL_BR_ACCOUNT, 'D11') AS CHAR(11)),5,7) 
            = GTFILE.GT_ACCTNO) 

      WHERE (GTFILE.GT_SOURCE       = @QGT1_WBEG_SOURCE
        AND  GTFILE.GT_DATE2  BETWEEN @QGT1_WBEG_DATE2 
                                  AND @QGT1_WEND_DATE2 
        AND  GTFILE.GT_BRANCH       = @QGT1_WBEG_BRANCH
        AND  GTFILE.GT_ACCTNO BETWEEN @QGT1_WBEG_ACCTNO 
                                  AND @QGT1_WEND_ACCTNO 
        AND  GTFILE.GT_DRCRFG BETWEEN @QGT1_WBEG_DRCRFG 
                                  AND @QGT1_WEND_DRCRFG 
        AND  GTFILE.GT_LINE   BETWEEN @QGT1_WBEG_LINE   
                                  AND @QGT1_WEND_LINE)
         OR (GTFILE.GT_SOURCE       = @QGT1_WBEG_SOURCE
        AND (GTFILE.GT_DATE2        > @QGT1_WBEG_DATE2 
        AND  GTFILE.GT_DATE2       <= @QGT1_WEND_DATE2) 
        AND  GTFILE.GT_BRANCH       = @QGT1_WBEG_BRANCH)) TEMP1;
	 
     SELECT #TEMP_GTMAIN_GTFILE1.GT_FLAG, 
            #TEMP_GTMAIN_GTFILE1.GT_REF,
            #TEMP_GTMAIN_GTFILE1.GT_DATE1,
            #TEMP_GTMAIN_GTFILE1.GT_SOURCE,	      
            #TEMP_GTMAIN_GTFILE1.GT_DATE2,
            #TEMP_GTMAIN_GTFILE1.GT_BRANCH,	      
            #TEMP_GTMAIN_GTFILE1.GT_ACCTNO,	      
            #TEMP_GTMAIN_GTFILE1.GT_DATE3,
            #TEMP_GTMAIN_GTFILE1.GT_DRCRFG,
            #TEMP_GTMAIN_GTFILE1.GT_LINE,
            #TEMP_GTMAIN_GTFILE1.GT_LTOUCH_DATE,
            #TEMP_GTMAIN_GTFILE1.GT_AMT,
            #TEMP_GTMAIN_GTFILE1.GT_EXPL,
            #TEMP_GTMAIN_GTFILE1.GT_PERIOD,
            #TEMP_GTMAIN_GTFILE1.GT_SMITH_SENT,
            #TEMP_GTMAIN_GTFILE1.GT_POST_USERID,
            #TEMP_GTMAIN_GTFILE1.GT_POST_DATE,
            #TEMP_GTMAIN_GTFILE1.GT_POST_TIME,
            #TEMP_GTMAIN_GTFILE1.GL_BR_ACCOUNT 

       FROM #TEMP_GTMAIN_GTFILE1

      ORDER BY #TEMP_GTMAIN_GTFILE1.GT_SOURCE,
               #TEMP_GTMAIN_GTFILE1.GT_DATE2,
               #TEMP_GTMAIN_GTFILE1.GT_BRANCH,
               #TEMP_GTMAIN_GTFILE1.GT_ACCTNO,
               #TEMP_GTMAIN_GTFILE1.GT_DATE3,
               #TEMP_GTMAIN_GTFILE1.GT_DRCRFG,
               #TEMP_GTMAIN_GTFILE1.GT_LINE;

   DROP TABLE IF EXISTS #TEMP_GTMAIN_GTFILE1;

END
GO
