USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_ASOPEN_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_ASOPEN_LNFILE_SELECT              */
/*               PROGRAM NAME: LP/ASOPEN.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE, BWFILE                                          */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_ASOPEN_LNFILE_SELECT]
    @QLN3_WBEG_OWNBR          AS INT,
    @QLN3_WBEG_CLASS          AS INT,
    @QLN3_WEND_CLASS          AS INT,
    @QWS_BEG_LOANDATE         AS DATE,
    @QWS_END_LOANDATE         AS DATE,
    @QWS_BEG_CRSCORE          AS INT,
    @QWS_END_CRSCORE          AS INT,
    @QWS_MINPAYS_MADE         AS INT,  
    @QWS_MINPAYS_REMAIN       AS INT,
    @QWS_MINTERM              AS INT,  
    @QWS_MAXTERM              AS INT

AS
BEGIN
   SET NOCOUNT ON;

--DECLARE @QLN3_WBEG_OWNBR      INT
--DECLARE @QLN3_WBEG_CLASS      INT
--DECLARE @QLN3_WEND_CLASS      INT
--DECLARE @QWS_BEG_LOANDATE     DATE
--DECLARE @QWS_END_LOANDATE     DATE
--DECLARE @QWS_BEG_CRSCORE      INT
--DECLARE @QWS_END_CRSCORE      INT
--DECLARE @QWS_MINPAYS_MADE     INT  
--DECLARE @QWS_MINPAYS_REMAIN   INT
--DECLARE @QWS_MINTERM          INT  
--DECLARE @QWS_MAXTERM          INT

--SET     @QLN3_WBEG_OWNBR      = 408
--SET     @QLN3_WBEG_CLASS      = 000   
--SET     @QLN3_WEND_CLASS      = 999
--SET     @QWS_BEG_LOANDATE     = '2019-01-01' 
--SET     @QWS_END_LOANDATE     = '2023-12-31' 
--SET     @QWS_BEG_CRSCORE      = 0 
--SET     @QWS_END_CRSCORE      = 999
--SET     @QWS_MINPAYS_MADE     = 0  
--SET     @QWS_MINPAYS_REMAIN   = 999 
--SET     @QWS_MINTERM          = 0  
--SET     @QWS_MAXTERM          = 999

DROP TABLE IF EXISTS #TEMP_ASOPEN_LNFILE;

   SELECT TEMP.LN_OWNBR,
          TEMP.LN_ACCTNO,
          TEMP.LN_CLASS,
          TEMP.LN_SUBCLASS,
          TEMP.LN_LAWCODE,
          TEMP.LN_SSNO1,
          TEMP.LN_MAKERCD1,
          TEMP.LN_SSNO2,
          TEMP.LN_MAKERCD2,
          TEMP.LN_SSNO3,
          TEMP.LN_MAKERCD3,
          TEMP.LN_SSNO4,
          TEMP.LN_MAKERCD4,
          TEMP.LN_ORGST,
          TEMP.LN_ORGBR,
          TEMP.LN_OWNST,
          TEMP.LN_SPRCLASS,
          TEMP.LN_CONVERCD,
          TEMP.LN_MIDSTREAM,
          TEMP.LN_PURCD,
          TEMP.LN_SRCD,
          TEMP.LN_COLLCD,
          TEMP.LN_COLLID,
          TEMP.LN_POCD,
          TEMP.LN_PLCD,
          TEMP.LN_PLTYPE,
          TEMP.LN_CONFIDENTCD,
          TEMP.LN_ALLOTCD,
          TEMP.LN_RECASTCD,
          TEMP.LN_SKIP_TRW,
          TEMP.LN_STATUSFG,
          TEMP.LN_SMALLOAN,
          TEMP.LN_SALEFIN,
          TEMP.LN_SERVACCT,
          TEMP.LN_LOANTYPE,
          TEMP.LN_ADDON_FG,
          TEMP.LN_PAY_SCHLD_FG,
          TEMP.LN_LC_CODE,
          TEMP.LN_CAN_LOAN_NO,
          TEMP.LN_STATFLAGS,
          TEMP.LN_ENTDATE,               
          TEMP.LN_LOANDATE,              
          TEMP.LN_PURDATE,               
          TEMP.LN_INTDATE,               
          TEMP.LN_CASHDATE,              
          TEMP.LN_FILEDATE,              
          TEMP.LN_RESCISSION_DATE,       
          TEMP.LN_PART_RECOURSE_DATE,    
          TEMP.LN_ORIG_1STPYDATE,        
          TEMP.LN_1STPYDATE,             
          TEMP.LN_JDDATE,                
          TEMP.LN_PLDATE,                
          TEMP.LN_PL_TRDATE,             
          TEMP.LN_ACCELDATE,             
          TEMP.LN_REDUDATE,              
          TEMP.LN_POFFDATE,              
          TEMP.LN_PO_TRDATE,             
          TEMP.LN_LEGALDATE,             
          TEMP.LN_BNKRPTDATE,            
          TEMP.LN_BNKRPT_DISMISS_DATE,   
          TEMP.LN_BNKRPT_DISCHARGE_DATE, 
          TEMP.LN_BNKRPT_REAFFIRM_DATE,  
          TEMP.LN_DEBTAIDATE,            
          TEMP.LN_REPODATE,              
          TEMP.LN_REDEEMDATE,            
          TEMP.LN_SOLDDATE,              
          TEMP.LN_INS_CONFIRM_DATE,      
          TEMP.LN_PRIOR_RN_FOR10_DATE,   
          TEMP.LN_LAST_RN_FOR10_DATE,    
          TEMP.LN_TRW_DOFD_DATE,         
          TEMP.LN_LAST_PYPA_DATE,        
          TEMP.LN_BT_TRDATE,             
          TEMP.LN_METRO2_LAST_PMT_DATE,  
          TEMP.LN_FOLLOWUP_DATE,         
          TEMP.LN_LAST_ACCRUAL_DATE,     
          TEMP.LN_APRATE,
          TEMP.LN_EFFRATE,
          TEMP.LN_SMPRATE,
          TEMP.LN_YLDRATE,
          TEMP.LN_OVRDRATE,
          TEMP.LN_ENDORATE,
          TEMP.LN_JDRATE,
          TEMP.LN_ACCRATE,
          TEMP.LN_REDURATE,
          TEMP.LN_CONRATE,
          TEMP.LN_SERVPER,
          TEMP.LN_SELLPR,
          TEMP.LN_DOWNPY,
          TEMP.LN_TRADEIN,
          TEMP.LN_LNAMT,
          TEMP.LN_FINCHG,
          TEMP.LN_INTCHG,
          TEMP.LN_SERCHG,
          TEMP.LN_EXTCHG,
          TEMP.LN_MAINTFEE,
          TEMP.LN_POINTS,
          TEMP.LN_PROCEEDS,
          TEMP.LN_ORGTERM,
          TEMP.LN_1STPYAMT,
          TEMP.LN_NOREGPY,
          TEMP.LN_REGPYAMT,
          TEMP.LN_LASTPYAMT,
          TEMP.LN_PROCASH,
          TEMP.LN_TILLNO,
          TEMP.LN_STATE_FLAG,
          TEMP.LN_STATE_WORKER,
          TEMP.LN_STATE_WORKER2,
          TEMP.LN_FEECODE_1,
          TEMP.LN_FEEAMT_1,
          TEMP.LN_FEEOURS_1,
          TEMP.LN_FEEFINCHG_1,
          TEMP.LN_FEECODE_2,
          TEMP.LN_FEEAMT_2,
          TEMP.LN_FEEOURS_2,
          TEMP.LN_FEEFINCHG_2,
          TEMP.LN_FEECODE_3,
          TEMP.LN_FEEAMT_3,
          TEMP.LN_FEEOURS_3,
          TEMP.LN_FEEFINCHG_3,
          TEMP.LN_FEECODE_4,
          TEMP.LN_FEEAMT_4,
          TEMP.LN_FEEOURS_4,
          TEMP.LN_FEEFINCHG_4,
          TEMP.LN_FEECODE_5,
          TEMP.LN_FEEAMT_5,
          TEMP.LN_FEEOURS_5,
          TEMP.LN_FEEFINCHG_5,
          TEMP.LN_FEECODE_6,
          TEMP.LN_FEEAMT_6,
          TEMP.LN_FEEOURS_6,
          TEMP.LN_FEEFINCHG_6,
          TEMP.LN_FEECODE_7,
          TEMP.LN_FEEAMT_7,
          TEMP.LN_FEEOURS_7,
          TEMP.LN_FEEFINCHG_7,
          TEMP.LN_FEECODE_8,
          TEMP.LN_FEEAMT_8,
          TEMP.LN_FEEOURS_8,
          TEMP.LN_FEEFINCHG_8,
          TEMP.LN_FEECODE_9,
          TEMP.LN_FEEAMT_9,
          TEMP.LN_FEEOURS_9,
          TEMP.LN_FEEFINCHG_9,
          TEMP.LN_FEECODE_10,
          TEMP.LN_FEEAMT_10,
          TEMP.LN_FEEOURS_10,
          TEMP.LN_FEEFINCHG_10,
          TEMP.LN_FEECODE_11,
          TEMP.LN_FEEAMT_11,
          TEMP.LN_FEEOURS_11,
          TEMP.LN_FEEFINCHG_11,
          TEMP.LN_FEECODE_12,
          TEMP.LN_FEEAMT_12,
          TEMP.LN_FEEOURS_12,
          TEMP.LN_FEEFINCHG_12,
          TEMP.LN_FEECODE_13,
          TEMP.LN_FEEAMT_13,
          TEMP.LN_FEEOURS_13,
          TEMP.LN_FEEFINCHG_13,
          TEMP.LN_FEECODE_14,
          TEMP.LN_FEEAMT_14,
          TEMP.LN_FEEOURS_14,
          TEMP.LN_FEEFINCHG_14,
          TEMP.LN_FEECODE_15,
          TEMP.LN_FEEAMT_15,
          TEMP.LN_FEEOURS_15,
          TEMP.LN_FEEFINCHG_15,
          TEMP.LN_FEECODE_16,
          TEMP.LN_FEEAMT_16,
          TEMP.LN_FEEOURS_16,
          TEMP.LN_FEEFINCHG_16,
          TEMP.LN_FEECODE_17,
          TEMP.LN_FEEAMT_17,
          TEMP.LN_FEEOURS_17,
          TEMP.LN_FEEFINCHG_17,
          TEMP.LN_FEECODE_18,
          TEMP.LN_FEEAMT_18,
          TEMP.LN_FEEOURS_18,
          TEMP.LN_FEEFINCHG_18,
          TEMP.LN_FEECODE_19,
          TEMP.LN_FEEAMT_19,
          TEMP.LN_FEEOURS_19,
          TEMP.LN_FEEFINCHG_19,
          TEMP.LN_FEECODE_20,
          TEMP.LN_FEEAMT_20,
          TEMP.LN_FEEOURS_20,
          TEMP.LN_FEEFINCHG_20,
          TEMP.LN_INSURED,
          TEMP.LN_INSTYPES,
          TEMP.LN_INSELIGIBLE,
          TEMP.LN_INSCOMP_1,
          TEMP.LN_INSOURS_1,
          TEMP.LN_INSEFF_DATE_1,
          TEMP.LN_INSEXP_DATE_1,
          TEMP.LN_INSPREM_1,
          TEMP.LN_INSCOVR_1,
          TEMP.LN_INSCOMM_1,
          TEMP.LN_INSANTICERN_1,
          TEMP.LN_INSANTICADJ_1,
          TEMP.LN_INSUFERN_1,
          TEMP.LN_INSACCERN_1,
          TEMP.LN_INSEARN_ORDER_1,
          TEMP.LN_INSFINCHG_1,
          TEMP.LN_INSCOMP_2,
          TEMP.LN_INSOURS_2,
          TEMP.LN_INSEFF_DATE_2,
          TEMP.LN_INSEXP_DATE_2,
          TEMP.LN_INSPREM_2,
          TEMP.LN_INSCOVR_2,
          TEMP.LN_INSCOMM_2,
          TEMP.LN_INSANTICERN_2,
          TEMP.LN_INSANTICADJ_2,
          TEMP.LN_INSUFERN_2,
          TEMP.LN_INSACCERN_2,
          TEMP.LN_INSEARN_ORDER_2,
          TEMP.LN_INSFINCHG_2,
          TEMP.LN_INSCOMP_3,
          TEMP.LN_INSOURS_3,
          TEMP.LN_INSEFF_DATE_3,
          TEMP.LN_INSEXP_DATE_3,
          TEMP.LN_INSPREM_3,
          TEMP.LN_INSCOVR_3,
          TEMP.LN_INSCOMM_3,
          TEMP.LN_INSANTICERN_3,
          TEMP.LN_INSANTICADJ_3,
          TEMP.LN_INSUFERN_3,
          TEMP.LN_INSACCERN_3,
          TEMP.LN_INSEARN_ORDER_3,
          TEMP.LN_INSFINCHG_3,
          TEMP.LN_INSCOMP_4,
          TEMP.LN_INSOURS_4,
          TEMP.LN_INSEFF_DATE_4,
          TEMP.LN_INSEXP_DATE_4,
          TEMP.LN_INSPREM_4,
          TEMP.LN_INSCOVR_4,
          TEMP.LN_INSCOMM_4,
          TEMP.LN_INSANTICERN_4,
          TEMP.LN_INSANTICADJ_4,
          TEMP.LN_INSUFERN_4,
          TEMP.LN_INSACCERN_4,
          TEMP.LN_INSEARN_ORDER_4,
          TEMP.LN_INSFINCHG_4,
          TEMP.LN_INSCOMP_5,
          TEMP.LN_INSOURS_5,
          TEMP.LN_INSEFF_DATE_5,
          TEMP.LN_INSEXP_DATE_5,
          TEMP.LN_INSPREM_5,
          TEMP.LN_INSCOVR_5,
          TEMP.LN_INSCOMM_5,
          TEMP.LN_INSANTICERN_5,
          TEMP.LN_INSANTICADJ_5,
          TEMP.LN_INSUFERN_5,
          TEMP.LN_INSACCERN_5,
          TEMP.LN_INSEARN_ORDER_5,
          TEMP.LN_INSFINCHG_5,
          TEMP.LN_INSCOMP_6,
          TEMP.LN_INSOURS_6,
          TEMP.LN_INSEFF_DATE_6,
          TEMP.LN_INSEXP_DATE_6,
          TEMP.LN_INSPREM_6,
          TEMP.LN_INSCOVR_6,
          TEMP.LN_INSCOMM_6,
          TEMP.LN_INSANTICERN_6,
          TEMP.LN_INSANTICADJ_6,
          TEMP.LN_INSUFERN_6,
          TEMP.LN_INSACCERN_6,
          TEMP.LN_INSEARN_ORDER_6,
          TEMP.LN_INSFINCHG_6,
          TEMP.LN_INSCOMP_7,
          TEMP.LN_INSOURS_7,
          TEMP.LN_INSEFF_DATE_7,
          TEMP.LN_INSEXP_DATE_7,
          TEMP.LN_INSPREM_7,
          TEMP.LN_INSCOVR_7,
          TEMP.LN_INSCOMM_7,
          TEMP.LN_INSANTICERN_7,
          TEMP.LN_INSANTICADJ_7,
          TEMP.LN_INSUFERN_7,
          TEMP.LN_INSACCERN_7,
          TEMP.LN_INSEARN_ORDER_7,
          TEMP.LN_INSFINCHG_7,
          TEMP.LN_INSCOMP_8,
          TEMP.LN_INSOURS_8,
          TEMP.LN_INSEFF_DATE_8,
          TEMP.LN_INSEXP_DATE_8,
          TEMP.LN_INSPREM_8,
          TEMP.LN_INSCOVR_8,
          TEMP.LN_INSCOMM_8,
          TEMP.LN_INSANTICERN_8,
          TEMP.LN_INSANTICADJ_8,
          TEMP.LN_INSUFERN_8,
          TEMP.LN_INSACCERN_8,
          TEMP.LN_INSEARN_ORDER_8,
          TEMP.LN_INSFINCHG_8,
          TEMP.LN_INSCOMP_9,
          TEMP.LN_INSOURS_9,
          TEMP.LN_INSEFF_DATE_9,
          TEMP.LN_INSEXP_DATE_9,
          TEMP.LN_INSPREM_9,
          TEMP.LN_INSCOVR_9,
          TEMP.LN_INSCOMM_9,
          TEMP.LN_INSANTICERN_9,
          TEMP.LN_INSANTICADJ_9,
          TEMP.LN_INSUFERN_9,
          TEMP.LN_INSACCERN_9,
          TEMP.LN_INSEARN_ORDER_9,
          TEMP.LN_INSFINCHG_9,
          TEMP.LN_INSCOMP_10,
          TEMP.LN_INSOURS_10,
          TEMP.LN_INSEFF_DATE_10,
          TEMP.LN_INSEXP_DATE_10,
          TEMP.LN_INSPREM_10,
          TEMP.LN_INSCOVR_10,
          TEMP.LN_INSCOMM_10,
          TEMP.LN_INSANTICERN_10,
          TEMP.LN_INSANTICADJ_10,
          TEMP.LN_INSUFERN_10,
          TEMP.LN_INSACCERN_10,
          TEMP.LN_INSEARN_ORDER_10,
          TEMP.LN_INSFINCHG_10,
          TEMP.LN_PY_YYYYMM_RECDEL,
          TEMP.LN_MTD_PAYS_RECDEL,
          TEMP.LN_GARNISH_EXTR,
          TEMP.LN_SHIP_SAME_FG,
          TEMP.LN_AD_D_INS_COVR,
          TEMP.LN_TOT_PARTIAL_CHGOFF,
          TEMP.LN_LPO,
          TEMP.LN_REP_CD,
          TEMP.LN_EMP_ID,
          TEMP.LN_PROCESS_CD,
          TEMP.LN_WCBC_CREDITLIM,
          TEMP.LN_FOLLOWUP_CD,
          TEMP.LN_MIP_FG,
          TEMP.LN_MIP_MTD_CLAHPAID,
          TEMP.LN_MIP_CLPDTH_DATE,
          TEMP.LN_MIP_TOT_CLPAID,
          TEMP.LN_MIP_AHPDTH_DATE,
          TEMP.LN_MIP_TOT_AHPAID,
          TEMP.LN_IL_GROSS_INCOME,
          TEMP.LN_IL_GROSS_INCOME2,
          TEMP.LN_RESCISSION,
          TEMP.LN_INTERIM_TRW,
          TEMP.LN_DLNO,
          TEMP.LN_DLPOOL,
          TEMP.LN_DLRECOURSE,
          TEMP.LN_DLPARTRCAMT,
          TEMP.LN_ORIGPURAMT,
          TEMP.LN_PURBAL,
          TEMP.LN_DLRVPRIN_1,
          TEMP.LN_DLRVPRIN_2,
          TEMP.LN_DLRVPRIN_3,
          TEMP.LN_DLRVCHGS_1,
          TEMP.LN_DLRVCHGS_2,
          TEMP.LN_DLRVCHGS_3,
          TEMP.LN_DLPARVHELD,
          TEMP.LN_DLPARVPAID,
          TEMP.LN_DLDISC,
          TEMP.LN_LCPDTH_DATE,
          TEMP.LN_INTPDTH_DATE,
          TEMP.LN_CURBAL,
          TEMP.LN_INTBAL,
          TEMP.LN_LCBAL,
          TEMP.LN_OTHBAL,
          TEMP.LN_OT2BAL,
          TEMP.LN_LCPAID,
          TEMP.LN_LCPARTIALS,
          TEMP.LN_STMT_COUNTER,
          TEMP.LN_PRIOR_STMT_COUNTER,
          TEMP.LN_FROZEN_REASON,
          TEMP.LN_COUPON_STATEMENT,
          TEMP.LN_MONTHEND_BAL,
          TEMP.LN_ANTICTERM,
          TEMP.LN_ANTICERN_1,
          TEMP.LN_ANTICADJ_1,
          TEMP.LN_UFERN_1,
          TEMP.LN_ACCERN_1,
          TEMP.LN_EARN_ORDER_1,
          TEMP.LN_ANTICERN_2,
          TEMP.LN_ANTICADJ_2,
          TEMP.LN_UFERN_2,
          TEMP.LN_ACCERN_2,
          TEMP.LN_EARN_ORDER_2,
          TEMP.LN_ANTICERN_3,
          TEMP.LN_ANTICADJ_3,
          TEMP.LN_UFERN_3,
          TEMP.LN_ACCERN_3,
          TEMP.LN_EARN_ORDER_3,
          TEMP.LN_ANTICERN_4,
          TEMP.LN_ANTICADJ_4,
          TEMP.LN_UFERN_4,
          TEMP.LN_ACCERN_4,
          TEMP.LN_EARN_ORDER_4,
          TEMP.LN_ANTICERN_5,
          TEMP.LN_ANTICADJ_5,
          TEMP.LN_UFERN_5,
          TEMP.LN_ACCERN_5,
          TEMP.LN_EARN_ORDER_5,
          TEMP.LN_ANTICERN_6,
          TEMP.LN_ANTICADJ_6,
          TEMP.LN_UFERN_6,
          TEMP.LN_ACCERN_6,
          TEMP.LN_EARN_ORDER_6,
          TEMP.LN_ANTICERN_7,
          TEMP.LN_ANTICADJ_7,
          TEMP.LN_UFERN_7,
          TEMP.LN_ACCERN_7,
          TEMP.LN_EARN_ORDER_7,
          TEMP.LN_ANTICERN_8,
          TEMP.LN_ANTICADJ_8,
          TEMP.LN_UFERN_8,
          TEMP.LN_ACCERN_8,
          TEMP.LN_EARN_ORDER_8,
          TEMP.LN_ANTICERN_9,
          TEMP.LN_ANTICADJ_9,
          TEMP.LN_UFERN_9,
          TEMP.LN_ACCERN_9,
          TEMP.LN_EARN_ORDER_9,
          TEMP.LN_ANTICERN_10,
          TEMP.LN_ANTICADJ_10,
          TEMP.LN_UFERN_10,
          TEMP.LN_ACCERN_10,
          TEMP.LN_EARN_ORDER_10,
          TEMP.LN_LMO_PRIOR_INTEREST,
          TEMP.LN_PRIOR_UNEARNED,
          TEMP.LN_ERNDELQ_STOP,
          TEMP.LN_NONACRERN,
          TEMP.LN_PRIOR_NONACRERN,
          TEMP.LN_ERN_IB_PDTH_DATE,
          TEMP.LN_ERN_IB_PRINBAL,
          TEMP.LN_ERN_IB_INTOWE,
          TEMP.LN_TOTERN,
          TEMP.LN_TOTOTH,
          TEMP.LN_TOTINT,
          TEMP.LN_TOTLCHG,
          TEMP.LN_TOTDEF,
          TEMP.LN_TOTSERACCT,
          TEMP.LN_LCWAIVERS,
          TEMP.LN_INTWAIVERS,
          TEMP.LN_TOTPAYMNTD,
          TEMP.LN_TOTEXCPAYMNTD,
          TEMP.LN_TOTNODEF,
          TEMP.LN_YTDNODEF,
          TEMP.LN_TOTNODEFACT,
          TEMP.LN_YTDNODEFACT,
          TEMP.LN_TOTNOALDEL,
          TEMP.LN_YTDNOALDEL,
          TEMP.LN_YTDINTPD,
          TEMP.LN_LYRINTPD,
          TEMP.LN_TOTINTPD,
          TEMP.LN_RECASTINT,
          TEMP.LN_RECASTPRIN,
          TEMP.LN_CL_REBATE,
          TEMP.LN_AH_REBATE,
          TEMP.LN_PP_REBATE,
          TEMP.LN_INT_REBATE,
          TEMP.LN_SC_REBATE,
          TEMP.LN_MF_REBATE,
          TEMP.LN_DF_REBATE,
          TEMP.LN_EX_REBATE,
          TEMP.LN_O1_REBATE,
          TEMP.LN_O2_REBATE,
          TEMP.LN_O3_REBATE,
          TEMP.LN_O4_REBATE,
          TEMP.LN_O5_REBATE,
          TEMP.LN_O6_REBATE,
          TEMP.LN_O7_REBATE,
          TEMP.LN_UN_O7_REB,
          TEMP.LN_UN_O8_REB,
          TEMP.LN_UN_O9_REB,
          TEMP.LN_UN_O10_REB,
          TEMP.LN_PLREASON,
          TEMP.LN_COLLECTOR,
          TEMP.LN_ACTIONCD,
          TEMP.LN_ACTIONCD2,
          TEMP.LN_ATCODE,
          TEMP.LN_RECODE,
          TEMP.LN_ESCROW_FG,
          TEMP.LN_PROMDAYS_PASTDUE,
          TEMP.LN_PROMID,
          TEMP.LN_PROMDATE,        
          TEMP.LN_PROMAMT,			  
          TEMP.LN_PROMDATE2,       
          TEMP.LN_DATE_PAID_LAST,  
          TEMP.LN_AMT_PAID_LAST,		  
          TEMP.LN_LASTCFORMNO,		  
          TEMP.LN_LASTCFORMDATE,   
          TEMP.LN_DELCNT,
          TEMP.LN_DELCNT2,
          TEMP.LN_CREDITLIM,
          TEMP.LN_CRSCORE,
          TEMP.LN_LASTSFORMNO,
          TEMP.LN_LASTSFORMDATE,
          TEMP.LN_SOLCNT,
          TEMP.LN_MESSAGE,
          TEMP.LN_OLDACCTNO,
          TEMP.LN_PRLNNO,
          TEMP.LN_PRBAL,
          TEMP.LN_PRINTDUE,
          TEMP.LN_PRFINCHGRB,
          TEMP.LN_PRINSRB,
          TEMP.LN_PRPOCD,
          TEMP.LN_PRPODATE,
          TEMP.LN_PRDELINQAMT,
          TEMP.LN_PRLNAMT,
          TEMP.LN_PRPDUE_DAYS,
          TEMP.LN_PRDLDISC_UNEARN,
          TEMP.LN_PRCONPROFILE,
          TEMP.LN_SUM_ORIGPURAMT,
          TEMP.LN_SUM_LNAMT,
          TEMP.LN_SUM_FINCHG,
          TEMP.LN_SUM_INTCHG,
          TEMP.LN_SUM_ORGTERM,
          TEMP.LN_SUM_REGPYAMT,
          TEMP.LN_SUM_EXTCHG,
          TEMP.LN_SUM_SERCHG,
          TEMP.LN_SUM_MAINTFEE,
          TEMP.LN_UNITPER_CD,
          TEMP.LN_UNITPER_FREQ,
          TEMP.LN_DAYS_IN_UNITPER,
          TEMP.LN_UNITPER_PER_YEAR,
          TEMP.LN_REPOCD,
          TEMP.LN_BR_TFR_FG,
          TEMP.LN_O3INS_DLPROC,
          TEMP.LN_INSPREM_DLADJ,
          TEMP.LN_PLAMT,
          TEMP.LN_MTD_PRIN,
          TEMP.LN_MTD_LC,
          TEMP.LN_MTD_INT,
          TEMP.LN_MTD_OT,
          TEMP.LN_MTD_EX,
          TEMP.LN_BNKRPT_CHAPTER,
          TEMP.LN_BMO_CON_STATUS,
          TEMP.LN_BMO_REC_STATUS,
          TEMP.LN_APP_NUMBER,
          TEMP.LN_GIFTNET,
          TEMP.LN_GIFTNET_OUR_PO,
          TEMP.LN_PROC_DISBURSED,
          TEMP.LN_NOODDPY,
          TEMP.LN_CONPROFILE_1,
          TEMP.LN_CONPROFILE_2,
          TEMP.LN_CONPROFILE_3,
          TEMP.LN_CONPROFILE_4,
          TEMP.LN_CONPROFILE_5,
          TEMP.LN_RECPROFILE_1,
          TEMP.LN_RECPROFILE_2,
          TEMP.LN_RECPROFILE_3,
          TEMP.LN_RECPROFILE_4,
          TEMP.LN_RECPROFILE_5,
          TEMP.LN_TRW_STATUS,
          TEMP.LN_ORIGIN,
          TEMP.LN_PO_TRCD,
          TEMP.LN_NEXIS_CRSCORE,
          TEMP.LN_TRW_B_CONSUMER_IND,
          TEMP.LN_PARVHELD_PAID_FG,
          TEMP.LN_ACCT_FROZEN,
          TEMP.LN_TRW_SPECIAL_CODE,
          TEMP.LN_CREATION_STATUS,
          TEMP.LN_TOTNOLCHG,
          TEMP.LN_LBOX,
          TEMP.LN_EXTRA_PRIN_LFP,
          TEMP.LN_REMAIN_INT_SINCE_LFP,
          TEMP.LN_REMAIN_PRIN_SINCE_LFP,
          TEMP.LN_INTERIM_COUPON,
          TEMP.LN_DLCOMM_O3_CMSI,
          TEMP.LN_DLCOMM_PP_CMSI,
          TEMP.LN_TRW_J_CONSUMER_IND,
          TEMP.LN_ACH,
          TEMP.LN_1099_C_FG,
          TEMP.LN_TRW_COMPLIANCE_CODE,
          TEMP.LN_UNWIND_REASON_CODE,
          TEMP.LN_PBI_PBD_FG,
          TEMP.LN_OLD_ACCT_FORMAT_FG,
          TEMP.LN_APPROVED_BY_USER,
          TEMP.LN_APPROVED_BY_CODE,
          TEMP.LN_APPROVED_BY_DATE,
          TEMP.LN_APPROVED_BY_TIME,	    
          TEMP.LN_LTOUCH_DATE,
          TEMP.LN_LTOUCH_TIME,
          TEMP.BW_OWNBR,
          TEMP.BW_SSNO,
          TEMP.BW_LNAME, 
          TEMP.BW_FNAME, 
          TEMP.BW_STATE, 
          TEMP.BW_ZIP, 
          TEMP.BW_ORIGIN, 
          TEMP.BW_LAST_RN_FOR10_DATE, 
          TEMP.BW_SOLICIT, 
          TEMP.BW_CONFIDENTIAL 	

     INTO #TEMP_ASOPEN_LNFILE 

     FROM

  (SELECT LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_SUBCLASS,
          LNFILE.LN_LAWCODE,
          LNFILE.LN_SSNO1,
          LNFILE.LN_MAKERCD1,
          LNFILE.LN_SSNO2,
          LNFILE.LN_MAKERCD2,
          LNFILE.LN_SSNO3,
          LNFILE.LN_MAKERCD3,
          LNFILE.LN_SSNO4,
          LNFILE.LN_MAKERCD4,
          LNFILE.LN_ORGST,
          LNFILE.LN_ORGBR,
          LNFILE.LN_OWNST,
          LNFILE.LN_SPRCLASS,
          LNFILE.LN_CONVERCD,
          LNFILE.LN_MIDSTREAM,
          LNFILE.LN_PURCD,
          LNFILE.LN_SRCD,
          LNFILE.LN_COLLCD,
          LNFILE.LN_COLLID,
          LNFILE.LN_POCD,
          LNFILE.LN_PLCD,
          LNFILE.LN_PLTYPE,
          LNFILE.LN_CONFIDENTCD,
          LNFILE.LN_ALLOTCD,
          LNFILE.LN_RECASTCD,
          LNFILE.LN_SKIP_TRW,
          LNFILE.LN_STATUSFG,
          LNFILE.LN_SMALLOAN,
          LNFILE.LN_SALEFIN,
          LNFILE.LN_SERVACCT,
          LNFILE.LN_LOANTYPE,
          LNFILE.LN_ADDON_FG,
          LNFILE.LN_PAY_SCHLD_FG,
          LNFILE.LN_LC_CODE,
          LNFILE.LN_CAN_LOAN_NO,
          LNFILE.LN_STATFLAGS,
          CAST(LNFILE.LN_ENTDATE               
                           AS VARCHAR(10)) AS LN_ENTDATE,
          CAST(LNFILE.LN_LOANDATE               
                           AS VARCHAR(10)) AS LN_LOANDATE,
          CAST(LNFILE.LN_PURDATE                
                           AS VARCHAR(10)) AS LN_PURDATE,
          CAST(LNFILE.LN_INTDATE                
                           AS VARCHAR(10)) AS LN_INTDATE,
          CAST(LNFILE.LN_CASHDATE               
                           AS VARCHAR(10)) AS LN_CASHDATE,
          CAST(LNFILE.LN_FILEDATE               
                           AS VARCHAR(10)) AS LN_FILEDATE,
          CAST(LNFILE.LN_RESCISSION_DATE        
                           AS VARCHAR(10)) AS LN_RESCISSION_DATE,
          CAST(LNFILE.LN_PART_RECOURSE_DATE     
                           AS VARCHAR(10)) AS LN_PART_RECOURSE_DATE,
          CAST(LNFILE.LN_ORIG_1STPYDATE         
                           AS VARCHAR(10)) AS LN_ORIG_1STPYDATE,
          CAST(LNFILE.LN_1STPYDATE              
                           AS VARCHAR(10)) AS LN_1STPYDATE,
          CAST(LNFILE.LN_JDDATE                 
                           AS VARCHAR(10)) AS LN_JDDATE,
          CAST(LNFILE.LN_PLDATE                 
                           AS VARCHAR(10)) AS LN_PLDATE,
          CAST(LNFILE.LN_PL_TRDATE              
                           AS VARCHAR(10)) AS LN_PL_TRDATE, 
          CAST(LNFILE.LN_ACCELDATE              
                           AS VARCHAR(10)) AS LN_ACCELDATE,
          CAST(LNFILE.LN_REDUDATE               
                           AS VARCHAR(10)) AS LN_REDUDATE,
          CAST(LNFILE.LN_POFFDATE               
                           AS VARCHAR(10)) AS LN_POFFDATE,
          CAST(LNFILE.LN_PO_TRDATE              
                           AS VARCHAR(10)) AS LN_PO_TRDATE,
          CAST(LNFILE.LN_LEGALDATE              
                           AS VARCHAR(10)) AS LN_LEGALDATE,
          CAST(LNFILE.LN_BNKRPTDATE             
                           AS VARCHAR(10)) AS LN_BNKRPTDATE,
          CAST(LNFILE.LN_BNKRPT_DISMISS_DATE    
                           AS VARCHAR(10)) AS LN_BNKRPT_DISMISS_DATE,
          CAST(LNFILE.LN_BNKRPT_DISCHARGE_DATE  
                           AS VARCHAR(10)) AS LN_BNKRPT_DISCHARGE_DATE,
          CAST(LNFILE.LN_BNKRPT_REAFFIRM_DATE   
                           AS VARCHAR(10)) AS LN_BNKRPT_REAFFIRM_DATE,
          CAST(LNFILE.LN_DEBTAIDATE              
                           AS VARCHAR(10)) AS LN_DEBTAIDATE,
          CAST(LNFILE.LN_REPODATE               
                           AS VARCHAR(10)) AS LN_REPODATE,
          CAST(LNFILE.LN_REDEEMDATE             
                           AS VARCHAR(10)) AS LN_REDEEMDATE,
          CAST(LNFILE.LN_SOLDDATE               
                           AS VARCHAR(10)) AS LN_SOLDDATE,
          CAST(LNFILE.LN_INS_CONFIRM_DATE       
                           AS VARCHAR(10)) AS LN_INS_CONFIRM_DATE,
          CAST(LNFILE.LN_PRIOR_RN_FOR10_DATE    
                           AS VARCHAR(10)) AS LN_PRIOR_RN_FOR10_DATE,
          CAST(LNFILE.LN_LAST_RN_FOR10_DATE     
                           AS VARCHAR(10)) AS LN_LAST_RN_FOR10_DATE,
          CAST(LNFILE.LN_TRW_DOFD_DATE          
                           AS VARCHAR(10)) AS LN_TRW_DOFD_DATE,
          CAST(LNFILE.LN_LAST_PYPA_DATE         
                           AS VARCHAR(10)) AS LN_LAST_PYPA_DATE,
          CAST(LNFILE.LN_BT_TRDATE              
                           AS VARCHAR(10)) AS LN_BT_TRDATE,
          CAST(LNFILE.LN_METRO2_LAST_PMT_DATE   
                           AS VARCHAR(10)) AS LN_METRO2_LAST_PMT_DATE,
          CAST(LNFILE.LN_FOLLOWUP_DATE                 
                           AS VARCHAR(10)) AS LN_FOLLOWUP_DATE,
          CAST(LNFILE.LN_LAST_ACCRUAL_DATE      
                           AS VARCHAR(10)) AS LN_LAST_ACCRUAL_DATE,
          LNFILE.LN_APRATE,
          LNFILE.LN_EFFRATE,
          LNFILE.LN_SMPRATE,
          LNFILE.LN_YLDRATE,
          LNFILE.LN_OVRDRATE,
          LNFILE.LN_ENDORATE,
          LNFILE.LN_JDRATE,
          LNFILE.LN_ACCRATE,
          LNFILE.LN_REDURATE,
          LNFILE.LN_CONRATE,
          LNFILE.LN_SERVPER,
          LNFILE.LN_SELLPR,
          LNFILE.LN_DOWNPY,
          LNFILE.LN_TRADEIN,
          LNFILE.LN_LNAMT,
          LNFILE.LN_FINCHG,
          LNFILE.LN_INTCHG,
          LNFILE.LN_SERCHG,
          LNFILE.LN_EXTCHG,
          LNFILE.LN_MAINTFEE,
          LNFILE.LN_POINTS,
          LNFILE.LN_PROCEEDS,
          LNFILE.LN_ORGTERM,
          LNFILE.LN_1STPYAMT,
          LNFILE.LN_NOREGPY,
          LNFILE.LN_REGPYAMT,
          LNFILE.LN_LASTPYAMT,
          LNFILE.LN_PROCASH,
          LNFILE.LN_TILLNO,
          LNFILE.LN_STATE_FLAG,
          LNFILE.LN_STATE_WORKER,
          LNFILE.LN_STATE_WORKER2,
          LNFILE.LN_FEECODE_1,
          LNFILE.LN_FEEAMT_1,
          LNFILE.LN_FEEOURS_1,
          LNFILE.LN_FEEFINCHG_1,
          LNFILE.LN_FEECODE_2,
          LNFILE.LN_FEEAMT_2,
          LNFILE.LN_FEEOURS_2,
          LNFILE.LN_FEEFINCHG_2,
          LNFILE.LN_FEECODE_3,
          LNFILE.LN_FEEAMT_3,
          LNFILE.LN_FEEOURS_3,
          LNFILE.LN_FEEFINCHG_3,
          LNFILE.LN_FEECODE_4,
          LNFILE.LN_FEEAMT_4,
          LNFILE.LN_FEEOURS_4,
          LNFILE.LN_FEEFINCHG_4,
          LNFILE.LN_FEECODE_5,
          LNFILE.LN_FEEAMT_5,
          LNFILE.LN_FEEOURS_5,
          LNFILE.LN_FEEFINCHG_5,
          LNFILE.LN_FEECODE_6,
          LNFILE.LN_FEEAMT_6,
          LNFILE.LN_FEEOURS_6,
          LNFILE.LN_FEEFINCHG_6,
          LNFILE.LN_FEECODE_7,
          LNFILE.LN_FEEAMT_7,
          LNFILE.LN_FEEOURS_7,
          LNFILE.LN_FEEFINCHG_7,
          LNFILE.LN_FEECODE_8,
          LNFILE.LN_FEEAMT_8,
          LNFILE.LN_FEEOURS_8,
          LNFILE.LN_FEEFINCHG_8,
          LNFILE.LN_FEECODE_9,
          LNFILE.LN_FEEAMT_9,
          LNFILE.LN_FEEOURS_9,
          LNFILE.LN_FEEFINCHG_9,
          LNFILE.LN_FEECODE_10,
          LNFILE.LN_FEEAMT_10,
          LNFILE.LN_FEEOURS_10,
          LNFILE.LN_FEEFINCHG_10,
          LNFILE.LN_FEECODE_11,
          LNFILE.LN_FEEAMT_11,
          LNFILE.LN_FEEOURS_11,
          LNFILE.LN_FEEFINCHG_11,
          LNFILE.LN_FEECODE_12,
          LNFILE.LN_FEEAMT_12,
          LNFILE.LN_FEEOURS_12,
          LNFILE.LN_FEEFINCHG_12,
          LNFILE.LN_FEECODE_13,
          LNFILE.LN_FEEAMT_13,
          LNFILE.LN_FEEOURS_13,
          LNFILE.LN_FEEFINCHG_13,
          LNFILE.LN_FEECODE_14,
          LNFILE.LN_FEEAMT_14,
          LNFILE.LN_FEEOURS_14,
          LNFILE.LN_FEEFINCHG_14,
          LNFILE.LN_FEECODE_15,
          LNFILE.LN_FEEAMT_15,
          LNFILE.LN_FEEOURS_15,
          LNFILE.LN_FEEFINCHG_15,
          LNFILE.LN_FEECODE_16,
          LNFILE.LN_FEEAMT_16,
          LNFILE.LN_FEEOURS_16,
          LNFILE.LN_FEEFINCHG_16,
          LNFILE.LN_FEECODE_17,
          LNFILE.LN_FEEAMT_17,
          LNFILE.LN_FEEOURS_17,
          LNFILE.LN_FEEFINCHG_17,
          LNFILE.LN_FEECODE_18,
          LNFILE.LN_FEEAMT_18,
          LNFILE.LN_FEEOURS_18,
          LNFILE.LN_FEEFINCHG_18,
          LNFILE.LN_FEECODE_19,
          LNFILE.LN_FEEAMT_19,
          LNFILE.LN_FEEOURS_19,
          LNFILE.LN_FEEFINCHG_19,
          LNFILE.LN_FEECODE_20,
          LNFILE.LN_FEEAMT_20,
          LNFILE.LN_FEEOURS_20,
          LNFILE.LN_FEEFINCHG_20,
          LNFILE.LN_INSURED,
          LNFILE.LN_INSTYPES,
          LNFILE.LN_INSELIGIBLE,
          LNFILE.LN_INSCOMP_1,
          LNFILE.LN_INSOURS_1,
          CAST(LNFILE.LN_INSEFF_DATE_1 
                           AS VARCHAR(10)) AS LN_INSEFF_DATE_1,
          CAST(LNFILE.LN_INSEXP_DATE_1 
                           AS VARCHAR(10)) AS LN_INSEXP_DATE_1,
          LNFILE.LN_INSPREM_1,
          LNFILE.LN_INSCOVR_1,
          LNFILE.LN_INSCOMM_1,
          LNFILE.LN_INSANTICERN_1,
          LNFILE.LN_INSANTICADJ_1,
          LNFILE.LN_INSUFERN_1,
          LNFILE.LN_INSACCERN_1,
          LNFILE.LN_INSEARN_ORDER_1,
          LNFILE.LN_INSFINCHG_1,
          LNFILE.LN_INSCOMP_2,
          LNFILE.LN_INSOURS_2,
          CAST(LNFILE.LN_INSEFF_DATE_2 
                           AS VARCHAR(10)) AS LN_INSEFF_DATE_2,
          CAST(LNFILE.LN_INSEXP_DATE_2 
                           AS VARCHAR(10)) AS LN_INSEXP_DATE_2,
          LNFILE.LN_INSPREM_2,
          LNFILE.LN_INSCOVR_2,
          LNFILE.LN_INSCOMM_2,
          LNFILE.LN_INSANTICERN_2,
          LNFILE.LN_INSANTICADJ_2,
          LNFILE.LN_INSUFERN_2,
          LNFILE.LN_INSACCERN_2,
          LNFILE.LN_INSEARN_ORDER_2,
          LNFILE.LN_INSFINCHG_2,
          LNFILE.LN_INSCOMP_3,
          LNFILE.LN_INSOURS_3,
          CAST(LNFILE.LN_INSEFF_DATE_3 
                           AS VARCHAR(10)) AS LN_INSEFF_DATE_3 ,
          CAST(LNFILE.LN_INSEXP_DATE_3 
                           AS VARCHAR(10)) AS LN_INSEXP_DATE_3,
          LNFILE.LN_INSPREM_3,
          LNFILE.LN_INSCOVR_3,
          LNFILE.LN_INSCOMM_3,
          LNFILE.LN_INSANTICERN_3,
          LNFILE.LN_INSANTICADJ_3,
          LNFILE.LN_INSUFERN_3,
          LNFILE.LN_INSACCERN_3,
          LNFILE.LN_INSEARN_ORDER_3,
          LNFILE.LN_INSFINCHG_3,
          LNFILE.LN_INSCOMP_4,
          LNFILE.LN_INSOURS_4,
          CAST(LNFILE.LN_INSEFF_DATE_4 
                           AS VARCHAR(10)) AS LN_INSEFF_DATE_4,
          CAST(LNFILE.LN_INSEXP_DATE_4 
                           AS VARCHAR(10)) AS LN_INSEXP_DATE_4,
          LNFILE.LN_INSPREM_4,
          LNFILE.LN_INSCOVR_4,
          LNFILE.LN_INSCOMM_4,
          LNFILE.LN_INSANTICERN_4,
          LNFILE.LN_INSANTICADJ_4,
          LNFILE.LN_INSUFERN_4,
          LNFILE.LN_INSACCERN_4,
          LNFILE.LN_INSEARN_ORDER_4,
          LNFILE.LN_INSFINCHG_4,
          LNFILE.LN_INSCOMP_5,
          LNFILE.LN_INSOURS_5,
          CAST(LNFILE.LN_INSEFF_DATE_5 
                           AS VARCHAR(10)) AS LN_INSEFF_DATE_5,
          CAST(LNFILE.LN_INSEXP_DATE_5 
                           AS VARCHAR(10)) AS LN_INSEXP_DATE_5,
          LNFILE.LN_INSPREM_5,
          LNFILE.LN_INSCOVR_5,
          LNFILE.LN_INSCOMM_5,
          LNFILE.LN_INSANTICERN_5,
          LNFILE.LN_INSANTICADJ_5,
          LNFILE.LN_INSUFERN_5,
          LNFILE.LN_INSACCERN_5,
          LNFILE.LN_INSEARN_ORDER_5,
          LNFILE.LN_INSFINCHG_5,
          LNFILE.LN_INSCOMP_6,
          LNFILE.LN_INSOURS_6,
          CAST(LNFILE.LN_INSEFF_DATE_6 
                           AS VARCHAR(10)) AS LN_INSEFF_DATE_6,
          CAST(LNFILE.LN_INSEXP_DATE_6 
                           AS VARCHAR(10)) AS LN_INSEXP_DATE_6,
          LNFILE.LN_INSPREM_6,
          LNFILE.LN_INSCOVR_6,
          LNFILE.LN_INSCOMM_6,
          LNFILE.LN_INSANTICERN_6,
          LNFILE.LN_INSANTICADJ_6,
          LNFILE.LN_INSUFERN_6,
          LNFILE.LN_INSACCERN_6,
          LNFILE.LN_INSEARN_ORDER_6,
          LNFILE.LN_INSFINCHG_6,
          LNFILE.LN_INSCOMP_7,
          LNFILE.LN_INSOURS_7,
          CAST(LNFILE.LN_INSEFF_DATE_7 
                           AS VARCHAR(10)) AS LN_INSEFF_DATE_7,
          CAST(LNFILE.LN_INSEXP_DATE_7 
                           AS VARCHAR(10)) AS LN_INSEXP_DATE_7,
          LNFILE.LN_INSPREM_7,
          LNFILE.LN_INSCOVR_7,
          LNFILE.LN_INSCOMM_7,
          LNFILE.LN_INSANTICERN_7,
          LNFILE.LN_INSANTICADJ_7,
          LNFILE.LN_INSUFERN_7,
          LNFILE.LN_INSACCERN_7,
          LNFILE.LN_INSEARN_ORDER_7,
          LNFILE.LN_INSFINCHG_7,
          LNFILE.LN_INSCOMP_8,
          LNFILE.LN_INSOURS_8,
          CAST(LNFILE.LN_INSEFF_DATE_8 
                           AS VARCHAR(10)) AS LN_INSEFF_DATE_8,
          CAST(LNFILE.LN_INSEXP_DATE_8 
                           AS VARCHAR(10)) AS LN_INSEXP_DATE_8,
          LNFILE.LN_INSPREM_8,
          LNFILE.LN_INSCOVR_8,
          LNFILE.LN_INSCOMM_8,
          LNFILE.LN_INSANTICERN_8,
          LNFILE.LN_INSANTICADJ_8,
          LNFILE.LN_INSUFERN_8,
          LNFILE.LN_INSACCERN_8,
          LNFILE.LN_INSEARN_ORDER_8,
          LNFILE.LN_INSFINCHG_8,
          LNFILE.LN_INSCOMP_9,
          LNFILE.LN_INSOURS_9,
          CAST(LNFILE.LN_INSEFF_DATE_9 
                           AS VARCHAR(10)) AS LN_INSEFF_DATE_9,
          CAST(LNFILE.LN_INSEXP_DATE_9 
                           AS VARCHAR(10)) AS LN_INSEXP_DATE_9,
          LNFILE.LN_INSPREM_9,
          LNFILE.LN_INSCOVR_9,
          LNFILE.LN_INSCOMM_9,
          LNFILE.LN_INSANTICERN_9,
          LNFILE.LN_INSANTICADJ_9,
          LNFILE.LN_INSUFERN_9,
          LNFILE.LN_INSACCERN_9,
          LNFILE.LN_INSEARN_ORDER_9,
          LNFILE.LN_INSFINCHG_9,
          LNFILE.LN_INSCOMP_10,
          LNFILE.LN_INSOURS_10,
          CAST(LNFILE.LN_INSEFF_DATE_10 
                           AS VARCHAR(10)) AS LN_INSEFF_DATE_10,
          CAST(LNFILE.LN_INSEXP_DATE_10 
                           AS VARCHAR(10)) AS LN_INSEXP_DATE_10,
          LNFILE.LN_INSPREM_10,
          LNFILE.LN_INSCOVR_10,
          LNFILE.LN_INSCOMM_10,
          LNFILE.LN_INSANTICERN_10,
          LNFILE.LN_INSANTICADJ_10,
          LNFILE.LN_INSUFERN_10,
          LNFILE.LN_INSACCERN_10,
          LNFILE.LN_INSEARN_ORDER_10,
          LNFILE.LN_INSFINCHG_10,
          LNFILE.LN_PY_YYYYMM_RECDEL,
          LNFILE.LN_MTD_PAYS_RECDEL,
          LNFILE.LN_GARNISH_EXTR,
          LNFILE.LN_SHIP_SAME_FG,
          LNFILE.LN_AD_D_INS_COVR,
          LNFILE.LN_TOT_PARTIAL_CHGOFF,
          LNFILE.LN_LPO,
          LNFILE.LN_REP_CD,
          LNFILE.LN_EMP_ID,
          LNFILE.LN_PROCESS_CD,
          LNFILE.LN_WCBC_CREDITLIM,
          LNFILE.LN_FOLLOWUP_CD,
          LNFILE.LN_MIP_FG,
          LNFILE.LN_MIP_MTD_CLAHPAID,
          CAST(LNFILE.LN_MIP_CLPDTH_DATE 
                           AS VARCHAR(10)) AS LN_MIP_CLPDTH_DATE,
          LNFILE.LN_MIP_TOT_CLPAID,
          CAST(LNFILE.LN_MIP_AHPDTH_DATE  
                           AS VARCHAR(10)) AS LN_MIP_AHPDTH_DATE,
          LNFILE.LN_MIP_TOT_AHPAID,
          LNFILE.LN_IL_GROSS_INCOME,
          LNFILE.LN_IL_GROSS_INCOME2,
          LNFILE.LN_RESCISSION,
          LNFILE.LN_INTERIM_TRW,
          LNFILE.LN_DLNO,
          LNFILE.LN_DLPOOL,
          LNFILE.LN_DLRECOURSE,
          LNFILE.LN_DLPARTRCAMT,
          LNFILE.LN_ORIGPURAMT,
          LNFILE.LN_PURBAL,
          LNFILE.LN_DLRVPRIN_1,
          LNFILE.LN_DLRVPRIN_2,
          LNFILE.LN_DLRVPRIN_3,
          LNFILE.LN_DLRVCHGS_1,
          LNFILE.LN_DLRVCHGS_2,
          LNFILE.LN_DLRVCHGS_3,
          LNFILE.LN_DLPARVHELD,
          LNFILE.LN_DLPARVPAID,
          LNFILE.LN_DLDISC,
          CAST(LNFILE.LN_LCPDTH_DATE  
                           AS VARCHAR(10)) AS LN_LCPDTH_DATE,
          CAST(LNFILE.LN_INTPDTH_DATE 
                           AS VARCHAR(10)) AS LN_INTPDTH_DATE,
          LNFILE.LN_CURBAL,
          LNFILE.LN_INTBAL,
          LNFILE.LN_LCBAL,
          LNFILE.LN_OTHBAL,
          LNFILE.LN_OT2BAL,
          LNFILE.LN_LCPAID,
          LNFILE.LN_LCPARTIALS,
          LNFILE.LN_STMT_COUNTER,
          LNFILE.LN_PRIOR_STMT_COUNTER,
          LNFILE.LN_FROZEN_REASON,
          LNFILE.LN_COUPON_STATEMENT,
          LNFILE.LN_MONTHEND_BAL,
          LNFILE.LN_ANTICTERM,
          LNFILE.LN_ANTICERN_1,
          LNFILE.LN_ANTICADJ_1,
          LNFILE.LN_UFERN_1,
          LNFILE.LN_ACCERN_1,
          LNFILE.LN_EARN_ORDER_1,
          LNFILE.LN_ANTICERN_2,
          LNFILE.LN_ANTICADJ_2,
          LNFILE.LN_UFERN_2,
          LNFILE.LN_ACCERN_2,
          LNFILE.LN_EARN_ORDER_2,
          LNFILE.LN_ANTICERN_3,
          LNFILE.LN_ANTICADJ_3,
          LNFILE.LN_UFERN_3,
          LNFILE.LN_ACCERN_3,
          LNFILE.LN_EARN_ORDER_3,
          LNFILE.LN_ANTICERN_4,
          LNFILE.LN_ANTICADJ_4,
          LNFILE.LN_UFERN_4,
          LNFILE.LN_ACCERN_4,
          LNFILE.LN_EARN_ORDER_4,
          LNFILE.LN_ANTICERN_5,
          LNFILE.LN_ANTICADJ_5,
          LNFILE.LN_UFERN_5,
          LNFILE.LN_ACCERN_5,
          LNFILE.LN_EARN_ORDER_5,
          LNFILE.LN_ANTICERN_6,
          LNFILE.LN_ANTICADJ_6,
          LNFILE.LN_UFERN_6,
          LNFILE.LN_ACCERN_6,
          LNFILE.LN_EARN_ORDER_6,
          LNFILE.LN_ANTICERN_7,
          LNFILE.LN_ANTICADJ_7,
          LNFILE.LN_UFERN_7,
          LNFILE.LN_ACCERN_7,
          LNFILE.LN_EARN_ORDER_7,
          LNFILE.LN_ANTICERN_8,
          LNFILE.LN_ANTICADJ_8,
          LNFILE.LN_UFERN_8,
          LNFILE.LN_ACCERN_8,
          LNFILE.LN_EARN_ORDER_8,
          LNFILE.LN_ANTICERN_9,
          LNFILE.LN_ANTICADJ_9,
          LNFILE.LN_UFERN_9,
          LNFILE.LN_ACCERN_9,
          LNFILE.LN_EARN_ORDER_9,
          LNFILE.LN_ANTICERN_10,
          LNFILE.LN_ANTICADJ_10,
          LNFILE.LN_UFERN_10,
          LNFILE.LN_ACCERN_10,
          LNFILE.LN_EARN_ORDER_10,
          LNFILE.LN_LMO_PRIOR_INTEREST,
          LNFILE.LN_PRIOR_UNEARNED,
          LNFILE.LN_ERNDELQ_STOP,
          LNFILE.LN_NONACRERN,
          LNFILE.LN_PRIOR_NONACRERN,
          CAST(LNFILE.LN_ERN_IB_PDTH_DATE
                           AS VARCHAR(10)) AS LN_ERN_IB_PDTH_DATE,
          LNFILE.LN_ERN_IB_PRINBAL,
          LNFILE.LN_ERN_IB_INTOWE,
          LNFILE.LN_TOTERN,
          LNFILE.LN_TOTOTH,
          LNFILE.LN_TOTINT,
          LNFILE.LN_TOTLCHG,
          LNFILE.LN_TOTDEF,
          LNFILE.LN_TOTSERACCT,
          LNFILE.LN_LCWAIVERS,
          LNFILE.LN_INTWAIVERS,
          LNFILE.LN_TOTPAYMNTD,
          LNFILE.LN_TOTEXCPAYMNTD,
          LNFILE.LN_TOTNODEF,
          LNFILE.LN_YTDNODEF,
          LNFILE.LN_TOTNODEFACT,
          LNFILE.LN_YTDNODEFACT,
          LNFILE.LN_TOTNOALDEL,
          LNFILE.LN_YTDNOALDEL,
          LNFILE.LN_YTDINTPD,
          LNFILE.LN_LYRINTPD,
          LNFILE.LN_TOTINTPD,
          LNFILE.LN_RECASTINT,
          LNFILE.LN_RECASTPRIN,
          LNFILE.LN_CL_REBATE,
          LNFILE.LN_AH_REBATE,
          LNFILE.LN_PP_REBATE,
          LNFILE.LN_INT_REBATE,
          LNFILE.LN_SC_REBATE,
          LNFILE.LN_MF_REBATE,
          LNFILE.LN_DF_REBATE,
          LNFILE.LN_EX_REBATE,
          LNFILE.LN_O1_REBATE,
          LNFILE.LN_O2_REBATE,
          LNFILE.LN_O3_REBATE,
          LNFILE.LN_O4_REBATE,
          LNFILE.LN_O5_REBATE,
          LNFILE.LN_O6_REBATE,
          LNFILE.LN_O7_REBATE,
          LNFILE.LN_UN_O7_REB,
          LNFILE.LN_UN_O8_REB,
          LNFILE.LN_UN_O9_REB,
          LNFILE.LN_UN_O10_REB,
          LNFILE.LN_PLREASON,
          LNFILE.LN_COLLECTOR,
          LNFILE.LN_ACTIONCD,
          LNFILE.LN_ACTIONCD2,
          LNFILE.LN_ATCODE,
          LNFILE.LN_RECODE,
          LNFILE.LN_ESCROW_FG,
          LNFILE.LN_PROMDAYS_PASTDUE,
          LNFILE.LN_PROMID,
          CAST(LNFILE.LN_PROMDATE       
                           AS VARCHAR(10)) AS LN_PROMDATE,
          LNFILE.LN_PROMAMT,
          CAST(LNFILE.LN_PROMDATE2      
                           AS VARCHAR(10)) AS LN_PROMDATE2,
          CAST(LNFILE.LN_DATE_PAID_LAST 
                           AS VARCHAR(10)) AS LN_DATE_PAID_LAST,
          LNFILE.LN_AMT_PAID_LAST,
          LNFILE.LN_LASTCFORMNO,
          CAST(LNFILE.LN_LASTCFORMDATE  
                           AS VARCHAR(10)) AS LN_LASTCFORMDATE,
          LNFILE.LN_DELCNT,
          LNFILE.LN_DELCNT2,
          LNFILE.LN_CREDITLIM,
          LNFILE.LN_CRSCORE,
          LNFILE.LN_LASTSFORMNO,
          CAST(LNFILE.LN_LASTSFORMDATE  
                           AS VARCHAR(10)) AS LN_LASTSFORMDATE,
          LNFILE.LN_SOLCNT,
          LNFILE.LN_MESSAGE,
          LNFILE.LN_OLDACCTNO,
          LNFILE.LN_PRLNNO,
          LNFILE.LN_PRBAL,
          LNFILE.LN_PRINTDUE,
          LNFILE.LN_PRFINCHGRB,
          LNFILE.LN_PRINSRB,
          LNFILE.LN_PRPOCD,
          CAST(LNFILE.LN_PRPODATE
                           AS VARCHAR(10)) AS LN_PRPODATE,
          LNFILE.LN_PRDELINQAMT,
          LNFILE.LN_PRLNAMT,
          LNFILE.LN_PRPDUE_DAYS,
          LNFILE.LN_PRDLDISC_UNEARN,
          LNFILE.LN_PRCONPROFILE,
          LNFILE.LN_SUM_ORIGPURAMT,
          LNFILE.LN_SUM_LNAMT,
          LNFILE.LN_SUM_FINCHG,
          LNFILE.LN_SUM_INTCHG,
          LNFILE.LN_SUM_ORGTERM,
          LNFILE.LN_SUM_REGPYAMT,
          LNFILE.LN_SUM_EXTCHG,
          LNFILE.LN_SUM_SERCHG,
          LNFILE.LN_SUM_MAINTFEE,
          LNFILE.LN_UNITPER_CD,
          LNFILE.LN_UNITPER_FREQ,
          LNFILE.LN_DAYS_IN_UNITPER,
          LNFILE.LN_UNITPER_PER_YEAR,
          LNFILE.LN_REPOCD,
          LNFILE.LN_BR_TFR_FG,
          LNFILE.LN_O3INS_DLPROC,
          LNFILE.LN_INSPREM_DLADJ,
          LNFILE.LN_PLAMT,
          LNFILE.LN_MTD_PRIN,
          LNFILE.LN_MTD_LC,
          LNFILE.LN_MTD_INT,
          LNFILE.LN_MTD_OT,
          LNFILE.LN_MTD_EX,
          LNFILE.LN_BNKRPT_CHAPTER,
          LNFILE.LN_BMO_CON_STATUS,
          LNFILE.LN_BMO_REC_STATUS,
          LNFILE.LN_APP_NUMBER,
          LNFILE.LN_GIFTNET,
          LNFILE.LN_GIFTNET_OUR_PO,
          LNFILE.LN_PROC_DISBURSED,
          LNFILE.LN_NOODDPY,
          LNFILE.LN_CONPROFILE_1,
          LNFILE.LN_CONPROFILE_2,
          LNFILE.LN_CONPROFILE_3,
          LNFILE.LN_CONPROFILE_4,
          LNFILE.LN_CONPROFILE_5,
          LNFILE.LN_RECPROFILE_1,
          LNFILE.LN_RECPROFILE_2,
          LNFILE.LN_RECPROFILE_3,
          LNFILE.LN_RECPROFILE_4,
          LNFILE.LN_RECPROFILE_5,
          LNFILE.LN_TRW_STATUS,
          LNFILE.LN_ORIGIN,
          LNFILE.LN_PO_TRCD,
          LNFILE.LN_NEXIS_CRSCORE,
          LNFILE.LN_TRW_B_CONSUMER_IND,
          LNFILE.LN_PARVHELD_PAID_FG,
          LNFILE.LN_ACCT_FROZEN,
          LNFILE.LN_TRW_SPECIAL_CODE,
          LNFILE.LN_CREATION_STATUS,
          LNFILE.LN_TOTNOLCHG,
          LNFILE.LN_LBOX,
          LNFILE.LN_EXTRA_PRIN_LFP,
          LNFILE.LN_REMAIN_INT_SINCE_LFP,
          LNFILE.LN_REMAIN_PRIN_SINCE_LFP,
          LNFILE.LN_INTERIM_COUPON,
          LNFILE.LN_DLCOMM_O3_CMSI,
          LNFILE.LN_DLCOMM_PP_CMSI,
          LNFILE.LN_TRW_J_CONSUMER_IND,
          LNFILE.LN_ACH,
          LNFILE.LN_1099_C_FG,
          LNFILE.LN_TRW_COMPLIANCE_CODE,
          LNFILE.LN_UNWIND_REASON_CODE,
          LNFILE.LN_PBI_PBD_FG,
          LNFILE.LN_OLD_ACCT_FORMAT_FG,
          LNFILE.LN_APPROVED_BY_USER,
          LNFILE.LN_APPROVED_BY_CODE,
          CAST(LNFILE.LN_APPROVED_BY_DATE
                           AS VARCHAR(10)) AS LN_APPROVED_BY_DATE,
          LNFILE.LN_APPROVED_BY_TIME,	    
          CAST(LNFILE.LN_LTOUCH_DATE        
                           AS VARCHAR(10)) AS LN_LTOUCH_DATE,
          LNFILE.LN_LTOUCH_TIME,
          BWFILE.BW_OWNBR,
          BWFILE.BW_SSNO,
          BWFILE.BW_LNAME, 
          BWFILE.BW_FNAME, 
          BWFILE.BW_STATE, 
          BWFILE.BW_ZIP, 
          BWFILE.BW_ORIGIN, 
          CAST(BWFILE.BW_LAST_RN_FOR10_DATE 
                           AS VARCHAR(10)) AS BW_LAST_RN_FOR10_DATE, 
          BWFILE.BW_SOLICIT, 
          BWFILE.BW_CONFIDENTIAL 		

     FROM DBO.LNFILE  LNFILE

    INNER JOIN 
          DBO.BWFILE  BWFILE
       ON (  LNFILE.LN_OWNBR         = BWFILE.BW_OWNBR	
      AND    LNFILE.LN_SSNO1         = BWFILE.BW_SSNO 
      AND    BWFILE.BW_STATE        != 'KS'
      AND    BWFILE.BW_CONFIDENTIAL != 'Y'
      AND    BWFILE.BW_SOLICIT      != 'N')

    WHERE (  LNFILE.LN_OWNBR          = @QLN3_WBEG_OWNBR
      AND  ( LNFILE.LN_CLASS    BETWEEN @QLN3_WBEG_CLASS
                                    AND @QLN3_WEND_CLASS )
      AND    LNFILE.LN_POCD      NOT IN ('**', 'PB', '10')
      AND    LNFILE.LN_CURBAL        != 0
      AND    LNFILE.LN_PLDATE         = '1900-01-01'
      AND    LNFILE.LN_JDDATE         = '1900-01-01'
      AND    LNFILE.LN_CONFIDENTCD   != 'Y'
      AND  ( LNFILE.LN_REPODATE       = '1900-01-01'  
      AND    LNFILE.LN_DEBTAIDATE     = '1900-01-01'  
      AND    LNFILE.LN_LEGALDATE      = '1900-01-01' 
      AND    LNFILE.LN_BNKRPTDATE     = '1900-01-01' )     
      AND  ( LNFILE.LN_CRSCORE  BETWEEN @QWS_BEG_CRSCORE 
                                    AND @QWS_END_CRSCORE ) 
      AND  ( LNFILE.LN_LOANDATE BETWEEN @QWS_BEG_LOANDATE 
                                    AND @QWS_END_LOANDATE )
      AND  ( ISNULL(LNFILE.LN_TOTPAYMNTD /
             NULLIF(LNFILE.LN_REGPYAMT,0), 0) 
                                    >= @QWS_MINPAYS_MADE ) 
      AND  ( ISNULL((LNFILE.LN_ORGTERM    *
                    LNFILE.LN_REGPYAMT   - 
                    LNFILE.LN_TOTPAYMNTD) / 
             NULLIF(LNFILE.LN_REGPYAMT,0), 0)
                                     >= @QWS_MINPAYS_REMAIN ) 
      AND  ( LNFILE.LN_ORGTERM  BETWEEN @QWS_MINTERM 
                                    AND @QWS_MAXTERM )
      AND  ( LNFILE.LN_DATE_PAID_LAST != '1900-01-01' ))) TEMP;

   SELECT #TEMP_ASOPEN_LNFILE.LN_OWNBR,
          #TEMP_ASOPEN_LNFILE.LN_ACCTNO,
          #TEMP_ASOPEN_LNFILE.LN_CLASS,
          #TEMP_ASOPEN_LNFILE.LN_SUBCLASS,
          #TEMP_ASOPEN_LNFILE.LN_LAWCODE,
          #TEMP_ASOPEN_LNFILE.LN_SSNO1,
          #TEMP_ASOPEN_LNFILE.LN_MAKERCD1,
          #TEMP_ASOPEN_LNFILE.LN_SSNO2,
          #TEMP_ASOPEN_LNFILE.LN_MAKERCD2,
          #TEMP_ASOPEN_LNFILE.LN_SSNO3,
          #TEMP_ASOPEN_LNFILE.LN_MAKERCD3,
          #TEMP_ASOPEN_LNFILE.LN_SSNO4,
          #TEMP_ASOPEN_LNFILE.LN_MAKERCD4,
          #TEMP_ASOPEN_LNFILE.LN_ORGST,
          #TEMP_ASOPEN_LNFILE.LN_ORGBR,
          #TEMP_ASOPEN_LNFILE.LN_OWNST,
          #TEMP_ASOPEN_LNFILE.LN_SPRCLASS,
          #TEMP_ASOPEN_LNFILE.LN_CONVERCD,
          #TEMP_ASOPEN_LNFILE.LN_MIDSTREAM,
          #TEMP_ASOPEN_LNFILE.LN_PURCD,
          #TEMP_ASOPEN_LNFILE.LN_SRCD,
          #TEMP_ASOPEN_LNFILE.LN_COLLCD,
          #TEMP_ASOPEN_LNFILE.LN_COLLID,
          #TEMP_ASOPEN_LNFILE.LN_POCD,
          #TEMP_ASOPEN_LNFILE.LN_PLCD,
          #TEMP_ASOPEN_LNFILE.LN_PLTYPE,
          #TEMP_ASOPEN_LNFILE.LN_CONFIDENTCD,
          #TEMP_ASOPEN_LNFILE.LN_ALLOTCD,
          #TEMP_ASOPEN_LNFILE.LN_RECASTCD,
          #TEMP_ASOPEN_LNFILE.LN_SKIP_TRW,
          #TEMP_ASOPEN_LNFILE.LN_STATUSFG,
          #TEMP_ASOPEN_LNFILE.LN_SMALLOAN,
          #TEMP_ASOPEN_LNFILE.LN_SALEFIN,
          #TEMP_ASOPEN_LNFILE.LN_SERVACCT,
          #TEMP_ASOPEN_LNFILE.LN_LOANTYPE,
          #TEMP_ASOPEN_LNFILE.LN_ADDON_FG,
          #TEMP_ASOPEN_LNFILE.LN_PAY_SCHLD_FG,
          #TEMP_ASOPEN_LNFILE.LN_LC_CODE,
          #TEMP_ASOPEN_LNFILE.LN_CAN_LOAN_NO,
          #TEMP_ASOPEN_LNFILE.LN_STATFLAGS,
          #TEMP_ASOPEN_LNFILE.LN_ENTDATE,               
          #TEMP_ASOPEN_LNFILE.LN_LOANDATE,              
          #TEMP_ASOPEN_LNFILE.LN_PURDATE,               
          #TEMP_ASOPEN_LNFILE.LN_INTDATE,               
          #TEMP_ASOPEN_LNFILE.LN_CASHDATE,              
          #TEMP_ASOPEN_LNFILE.LN_FILEDATE,              
          #TEMP_ASOPEN_LNFILE.LN_RESCISSION_DATE,       
          #TEMP_ASOPEN_LNFILE.LN_PART_RECOURSE_DATE,    
          #TEMP_ASOPEN_LNFILE.LN_ORIG_1STPYDATE,        
          #TEMP_ASOPEN_LNFILE.LN_1STPYDATE,             
          #TEMP_ASOPEN_LNFILE.LN_JDDATE,                
          #TEMP_ASOPEN_LNFILE.LN_PLDATE,                
          #TEMP_ASOPEN_LNFILE.LN_PL_TRDATE,             
          #TEMP_ASOPEN_LNFILE.LN_ACCELDATE,             
          #TEMP_ASOPEN_LNFILE.LN_REDUDATE,              
          #TEMP_ASOPEN_LNFILE.LN_POFFDATE,              
          #TEMP_ASOPEN_LNFILE.LN_PO_TRDATE,             
          #TEMP_ASOPEN_LNFILE.LN_LEGALDATE,             
          #TEMP_ASOPEN_LNFILE.LN_BNKRPTDATE,            
          #TEMP_ASOPEN_LNFILE.LN_BNKRPT_DISMISS_DATE,   
          #TEMP_ASOPEN_LNFILE.LN_BNKRPT_DISCHARGE_DATE, 
          #TEMP_ASOPEN_LNFILE.LN_BNKRPT_REAFFIRM_DATE,  
          #TEMP_ASOPEN_LNFILE.LN_DEBTAIDATE,            
          #TEMP_ASOPEN_LNFILE.LN_REPODATE,              
          #TEMP_ASOPEN_LNFILE.LN_REDEEMDATE,            
          #TEMP_ASOPEN_LNFILE.LN_SOLDDATE,              
          #TEMP_ASOPEN_LNFILE.LN_INS_CONFIRM_DATE,      
          #TEMP_ASOPEN_LNFILE.LN_PRIOR_RN_FOR10_DATE,   
          #TEMP_ASOPEN_LNFILE.LN_LAST_RN_FOR10_DATE,    
          #TEMP_ASOPEN_LNFILE.LN_TRW_DOFD_DATE,         
          #TEMP_ASOPEN_LNFILE.LN_LAST_PYPA_DATE,        
          #TEMP_ASOPEN_LNFILE.LN_BT_TRDATE,             
          #TEMP_ASOPEN_LNFILE.LN_METRO2_LAST_PMT_DATE,  
          #TEMP_ASOPEN_LNFILE.LN_FOLLOWUP_DATE,         
          #TEMP_ASOPEN_LNFILE.LN_LAST_ACCRUAL_DATE,     
          #TEMP_ASOPEN_LNFILE.LN_APRATE,
          #TEMP_ASOPEN_LNFILE.LN_EFFRATE,
          #TEMP_ASOPEN_LNFILE.LN_SMPRATE,
          #TEMP_ASOPEN_LNFILE.LN_YLDRATE,
          #TEMP_ASOPEN_LNFILE.LN_OVRDRATE,
          #TEMP_ASOPEN_LNFILE.LN_ENDORATE,
          #TEMP_ASOPEN_LNFILE.LN_JDRATE,
          #TEMP_ASOPEN_LNFILE.LN_ACCRATE,
          #TEMP_ASOPEN_LNFILE.LN_REDURATE,
          #TEMP_ASOPEN_LNFILE.LN_CONRATE,
          #TEMP_ASOPEN_LNFILE.LN_SERVPER,
          #TEMP_ASOPEN_LNFILE.LN_SELLPR,
          #TEMP_ASOPEN_LNFILE.LN_DOWNPY,
          #TEMP_ASOPEN_LNFILE.LN_TRADEIN,
          #TEMP_ASOPEN_LNFILE.LN_LNAMT,
          #TEMP_ASOPEN_LNFILE.LN_FINCHG,
          #TEMP_ASOPEN_LNFILE.LN_INTCHG,
          #TEMP_ASOPEN_LNFILE.LN_SERCHG,
          #TEMP_ASOPEN_LNFILE.LN_EXTCHG,
          #TEMP_ASOPEN_LNFILE.LN_MAINTFEE,
          #TEMP_ASOPEN_LNFILE.LN_POINTS,
          #TEMP_ASOPEN_LNFILE.LN_PROCEEDS,
          #TEMP_ASOPEN_LNFILE.LN_ORGTERM,
          #TEMP_ASOPEN_LNFILE.LN_1STPYAMT,
          #TEMP_ASOPEN_LNFILE.LN_NOREGPY,
          #TEMP_ASOPEN_LNFILE.LN_REGPYAMT,
          #TEMP_ASOPEN_LNFILE.LN_LASTPYAMT,
          #TEMP_ASOPEN_LNFILE.LN_PROCASH,
          #TEMP_ASOPEN_LNFILE.LN_TILLNO,
          #TEMP_ASOPEN_LNFILE.LN_STATE_FLAG,
          #TEMP_ASOPEN_LNFILE.LN_STATE_WORKER,
          #TEMP_ASOPEN_LNFILE.LN_STATE_WORKER2,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_1,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_1,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_1,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_1,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_2,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_2,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_2,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_2,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_3,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_3,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_3,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_3,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_4,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_4,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_4,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_4,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_5,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_5,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_5,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_5,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_6,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_6,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_6,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_6,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_7,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_7,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_7,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_7,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_8,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_8,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_8,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_8,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_9,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_9,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_9,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_9,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_10,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_10,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_10,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_10,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_11,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_11,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_11,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_11,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_12,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_12,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_12,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_12,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_13,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_13,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_13,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_13,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_14,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_14,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_14,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_14,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_15,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_15,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_15,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_15,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_16,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_16,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_16,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_16,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_17,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_17,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_17,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_17,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_18,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_18,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_18,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_18,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_19,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_19,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_19,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_19,
          #TEMP_ASOPEN_LNFILE.LN_FEECODE_20,
          #TEMP_ASOPEN_LNFILE.LN_FEEAMT_20,
          #TEMP_ASOPEN_LNFILE.LN_FEEOURS_20,
          #TEMP_ASOPEN_LNFILE.LN_FEEFINCHG_20,
          #TEMP_ASOPEN_LNFILE.LN_INSURED,
          #TEMP_ASOPEN_LNFILE.LN_INSTYPES,
          #TEMP_ASOPEN_LNFILE.LN_INSELIGIBLE,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMP_1,
          #TEMP_ASOPEN_LNFILE.LN_INSOURS_1,
          #TEMP_ASOPEN_LNFILE.LN_INSEFF_DATE_1,
          #TEMP_ASOPEN_LNFILE.LN_INSEXP_DATE_1,
          #TEMP_ASOPEN_LNFILE.LN_INSPREM_1,
          #TEMP_ASOPEN_LNFILE.LN_INSCOVR_1,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMM_1,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICERN_1,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICADJ_1,
          #TEMP_ASOPEN_LNFILE.LN_INSUFERN_1,
          #TEMP_ASOPEN_LNFILE.LN_INSACCERN_1,
          #TEMP_ASOPEN_LNFILE.LN_INSEARN_ORDER_1,
          #TEMP_ASOPEN_LNFILE.LN_INSFINCHG_1,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMP_2,
          #TEMP_ASOPEN_LNFILE.LN_INSOURS_2,
          #TEMP_ASOPEN_LNFILE.LN_INSEFF_DATE_2,
          #TEMP_ASOPEN_LNFILE.LN_INSEXP_DATE_2,
          #TEMP_ASOPEN_LNFILE.LN_INSPREM_2,
          #TEMP_ASOPEN_LNFILE.LN_INSCOVR_2,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMM_2,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICERN_2,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICADJ_2,
          #TEMP_ASOPEN_LNFILE.LN_INSUFERN_2,
          #TEMP_ASOPEN_LNFILE.LN_INSACCERN_2,
          #TEMP_ASOPEN_LNFILE.LN_INSEARN_ORDER_2,
          #TEMP_ASOPEN_LNFILE.LN_INSFINCHG_2,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMP_3,
          #TEMP_ASOPEN_LNFILE.LN_INSOURS_3,
          #TEMP_ASOPEN_LNFILE.LN_INSEFF_DATE_3,
          #TEMP_ASOPEN_LNFILE.LN_INSEXP_DATE_3,
          #TEMP_ASOPEN_LNFILE.LN_INSPREM_3,
          #TEMP_ASOPEN_LNFILE.LN_INSCOVR_3,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMM_3,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICERN_3,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICADJ_3,
          #TEMP_ASOPEN_LNFILE.LN_INSUFERN_3,
          #TEMP_ASOPEN_LNFILE.LN_INSACCERN_3,
          #TEMP_ASOPEN_LNFILE.LN_INSEARN_ORDER_3,
          #TEMP_ASOPEN_LNFILE.LN_INSFINCHG_3,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMP_4,
          #TEMP_ASOPEN_LNFILE.LN_INSOURS_4,
          #TEMP_ASOPEN_LNFILE.LN_INSEFF_DATE_4,
          #TEMP_ASOPEN_LNFILE.LN_INSEXP_DATE_4,
          #TEMP_ASOPEN_LNFILE.LN_INSPREM_4,
          #TEMP_ASOPEN_LNFILE.LN_INSCOVR_4,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMM_4,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICERN_4,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICADJ_4,
          #TEMP_ASOPEN_LNFILE.LN_INSUFERN_4,
          #TEMP_ASOPEN_LNFILE.LN_INSACCERN_4,
          #TEMP_ASOPEN_LNFILE.LN_INSEARN_ORDER_4,
          #TEMP_ASOPEN_LNFILE.LN_INSFINCHG_4,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMP_5,
          #TEMP_ASOPEN_LNFILE.LN_INSOURS_5,
          #TEMP_ASOPEN_LNFILE.LN_INSEFF_DATE_5,
          #TEMP_ASOPEN_LNFILE.LN_INSEXP_DATE_5,
          #TEMP_ASOPEN_LNFILE.LN_INSPREM_5,
          #TEMP_ASOPEN_LNFILE.LN_INSCOVR_5,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMM_5,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICERN_5,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICADJ_5,
          #TEMP_ASOPEN_LNFILE.LN_INSUFERN_5,
          #TEMP_ASOPEN_LNFILE.LN_INSACCERN_5,
          #TEMP_ASOPEN_LNFILE.LN_INSEARN_ORDER_5,
          #TEMP_ASOPEN_LNFILE.LN_INSFINCHG_5,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMP_6,
          #TEMP_ASOPEN_LNFILE.LN_INSOURS_6,
          #TEMP_ASOPEN_LNFILE.LN_INSEFF_DATE_6,
          #TEMP_ASOPEN_LNFILE.LN_INSEXP_DATE_6,
          #TEMP_ASOPEN_LNFILE.LN_INSPREM_6,
          #TEMP_ASOPEN_LNFILE.LN_INSCOVR_6,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMM_6,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICERN_6,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICADJ_6,
          #TEMP_ASOPEN_LNFILE.LN_INSUFERN_6,
          #TEMP_ASOPEN_LNFILE.LN_INSACCERN_6,
          #TEMP_ASOPEN_LNFILE.LN_INSEARN_ORDER_6,
          #TEMP_ASOPEN_LNFILE.LN_INSFINCHG_6,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMP_7,
          #TEMP_ASOPEN_LNFILE.LN_INSOURS_7,
          #TEMP_ASOPEN_LNFILE.LN_INSEFF_DATE_7,
          #TEMP_ASOPEN_LNFILE.LN_INSEXP_DATE_7,
          #TEMP_ASOPEN_LNFILE.LN_INSPREM_7,
          #TEMP_ASOPEN_LNFILE.LN_INSCOVR_7,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMM_7,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICERN_7,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICADJ_7,
          #TEMP_ASOPEN_LNFILE.LN_INSUFERN_7,
          #TEMP_ASOPEN_LNFILE.LN_INSACCERN_7,
          #TEMP_ASOPEN_LNFILE.LN_INSEARN_ORDER_7,
          #TEMP_ASOPEN_LNFILE.LN_INSFINCHG_7,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMP_8,
          #TEMP_ASOPEN_LNFILE.LN_INSOURS_8,
          #TEMP_ASOPEN_LNFILE.LN_INSEFF_DATE_8,
          #TEMP_ASOPEN_LNFILE.LN_INSEXP_DATE_8,
          #TEMP_ASOPEN_LNFILE.LN_INSPREM_8,
          #TEMP_ASOPEN_LNFILE.LN_INSCOVR_8,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMM_8,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICERN_8,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICADJ_8,
          #TEMP_ASOPEN_LNFILE.LN_INSUFERN_8,
          #TEMP_ASOPEN_LNFILE.LN_INSACCERN_8,
          #TEMP_ASOPEN_LNFILE.LN_INSEARN_ORDER_8,
          #TEMP_ASOPEN_LNFILE.LN_INSFINCHG_8,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMP_9,
          #TEMP_ASOPEN_LNFILE.LN_INSOURS_9,
          #TEMP_ASOPEN_LNFILE.LN_INSEFF_DATE_9,
          #TEMP_ASOPEN_LNFILE.LN_INSEXP_DATE_9,
          #TEMP_ASOPEN_LNFILE.LN_INSPREM_9,
          #TEMP_ASOPEN_LNFILE.LN_INSCOVR_9,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMM_9,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICERN_9,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICADJ_9,
          #TEMP_ASOPEN_LNFILE.LN_INSUFERN_9,
          #TEMP_ASOPEN_LNFILE.LN_INSACCERN_9,
          #TEMP_ASOPEN_LNFILE.LN_INSEARN_ORDER_9,
          #TEMP_ASOPEN_LNFILE.LN_INSFINCHG_9,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMP_10,
          #TEMP_ASOPEN_LNFILE.LN_INSOURS_10,
          #TEMP_ASOPEN_LNFILE.LN_INSEFF_DATE_10,
          #TEMP_ASOPEN_LNFILE.LN_INSEXP_DATE_10,
          #TEMP_ASOPEN_LNFILE.LN_INSPREM_10,
          #TEMP_ASOPEN_LNFILE.LN_INSCOVR_10,
          #TEMP_ASOPEN_LNFILE.LN_INSCOMM_10,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICERN_10,
          #TEMP_ASOPEN_LNFILE.LN_INSANTICADJ_10,
          #TEMP_ASOPEN_LNFILE.LN_INSUFERN_10,
          #TEMP_ASOPEN_LNFILE.LN_INSACCERN_10,
          #TEMP_ASOPEN_LNFILE.LN_INSEARN_ORDER_10,
          #TEMP_ASOPEN_LNFILE.LN_INSFINCHG_10,
          #TEMP_ASOPEN_LNFILE.LN_PY_YYYYMM_RECDEL,
          #TEMP_ASOPEN_LNFILE.LN_MTD_PAYS_RECDEL,
          #TEMP_ASOPEN_LNFILE.LN_GARNISH_EXTR,
          #TEMP_ASOPEN_LNFILE.LN_SHIP_SAME_FG,
          #TEMP_ASOPEN_LNFILE.LN_AD_D_INS_COVR,
          #TEMP_ASOPEN_LNFILE.LN_TOT_PARTIAL_CHGOFF,
          #TEMP_ASOPEN_LNFILE.LN_LPO,
          #TEMP_ASOPEN_LNFILE.LN_REP_CD,
          #TEMP_ASOPEN_LNFILE.LN_EMP_ID,
          #TEMP_ASOPEN_LNFILE.LN_PROCESS_CD,
          #TEMP_ASOPEN_LNFILE.LN_WCBC_CREDITLIM,
          #TEMP_ASOPEN_LNFILE.LN_FOLLOWUP_CD,
          #TEMP_ASOPEN_LNFILE.LN_MIP_FG,
          #TEMP_ASOPEN_LNFILE.LN_MIP_MTD_CLAHPAID,
          #TEMP_ASOPEN_LNFILE.LN_MIP_CLPDTH_DATE,
          #TEMP_ASOPEN_LNFILE.LN_MIP_TOT_CLPAID,
          #TEMP_ASOPEN_LNFILE.LN_MIP_AHPDTH_DATE,
          #TEMP_ASOPEN_LNFILE.LN_MIP_TOT_AHPAID,
          #TEMP_ASOPEN_LNFILE.LN_IL_GROSS_INCOME,
          #TEMP_ASOPEN_LNFILE.LN_IL_GROSS_INCOME2,
          #TEMP_ASOPEN_LNFILE.LN_RESCISSION,
          #TEMP_ASOPEN_LNFILE.LN_INTERIM_TRW,
          #TEMP_ASOPEN_LNFILE.LN_DLNO,
          #TEMP_ASOPEN_LNFILE.LN_DLPOOL,
          #TEMP_ASOPEN_LNFILE.LN_DLRECOURSE,
          #TEMP_ASOPEN_LNFILE.LN_DLPARTRCAMT,
          #TEMP_ASOPEN_LNFILE.LN_ORIGPURAMT,
          #TEMP_ASOPEN_LNFILE.LN_PURBAL,
          #TEMP_ASOPEN_LNFILE.LN_DLRVPRIN_1,
          #TEMP_ASOPEN_LNFILE.LN_DLRVPRIN_2,
          #TEMP_ASOPEN_LNFILE.LN_DLRVPRIN_3,
          #TEMP_ASOPEN_LNFILE.LN_DLRVCHGS_1,
          #TEMP_ASOPEN_LNFILE.LN_DLRVCHGS_2,
          #TEMP_ASOPEN_LNFILE.LN_DLRVCHGS_3,
          #TEMP_ASOPEN_LNFILE.LN_DLPARVHELD,
          #TEMP_ASOPEN_LNFILE.LN_DLPARVPAID,
          #TEMP_ASOPEN_LNFILE.LN_DLDISC,
          #TEMP_ASOPEN_LNFILE.LN_LCPDTH_DATE,
          #TEMP_ASOPEN_LNFILE.LN_INTPDTH_DATE,
          #TEMP_ASOPEN_LNFILE.LN_CURBAL,
          #TEMP_ASOPEN_LNFILE.LN_INTBAL,
          #TEMP_ASOPEN_LNFILE.LN_LCBAL,
          #TEMP_ASOPEN_LNFILE.LN_OTHBAL,
          #TEMP_ASOPEN_LNFILE.LN_OT2BAL,
          #TEMP_ASOPEN_LNFILE.LN_LCPAID,
          #TEMP_ASOPEN_LNFILE.LN_LCPARTIALS,
          #TEMP_ASOPEN_LNFILE.LN_STMT_COUNTER,
          #TEMP_ASOPEN_LNFILE.LN_PRIOR_STMT_COUNTER,
          #TEMP_ASOPEN_LNFILE.LN_FROZEN_REASON,
          #TEMP_ASOPEN_LNFILE.LN_COUPON_STATEMENT,
          #TEMP_ASOPEN_LNFILE.LN_MONTHEND_BAL,
          #TEMP_ASOPEN_LNFILE.LN_ANTICTERM,
          #TEMP_ASOPEN_LNFILE.LN_ANTICERN_1,
          #TEMP_ASOPEN_LNFILE.LN_ANTICADJ_1,
          #TEMP_ASOPEN_LNFILE.LN_UFERN_1,
          #TEMP_ASOPEN_LNFILE.LN_ACCERN_1,
          #TEMP_ASOPEN_LNFILE.LN_EARN_ORDER_1,
          #TEMP_ASOPEN_LNFILE.LN_ANTICERN_2,
          #TEMP_ASOPEN_LNFILE.LN_ANTICADJ_2,
          #TEMP_ASOPEN_LNFILE.LN_UFERN_2,
          #TEMP_ASOPEN_LNFILE.LN_ACCERN_2,
          #TEMP_ASOPEN_LNFILE.LN_EARN_ORDER_2,
          #TEMP_ASOPEN_LNFILE.LN_ANTICERN_3,
          #TEMP_ASOPEN_LNFILE.LN_ANTICADJ_3,
          #TEMP_ASOPEN_LNFILE.LN_UFERN_3,
          #TEMP_ASOPEN_LNFILE.LN_ACCERN_3,
          #TEMP_ASOPEN_LNFILE.LN_EARN_ORDER_3,
          #TEMP_ASOPEN_LNFILE.LN_ANTICERN_4,
          #TEMP_ASOPEN_LNFILE.LN_ANTICADJ_4,
          #TEMP_ASOPEN_LNFILE.LN_UFERN_4,
          #TEMP_ASOPEN_LNFILE.LN_ACCERN_4,
          #TEMP_ASOPEN_LNFILE.LN_EARN_ORDER_4,
          #TEMP_ASOPEN_LNFILE.LN_ANTICERN_5,
          #TEMP_ASOPEN_LNFILE.LN_ANTICADJ_5,
          #TEMP_ASOPEN_LNFILE.LN_UFERN_5,
          #TEMP_ASOPEN_LNFILE.LN_ACCERN_5,
          #TEMP_ASOPEN_LNFILE.LN_EARN_ORDER_5,
          #TEMP_ASOPEN_LNFILE.LN_ANTICERN_6,
          #TEMP_ASOPEN_LNFILE.LN_ANTICADJ_6,
          #TEMP_ASOPEN_LNFILE.LN_UFERN_6,
          #TEMP_ASOPEN_LNFILE.LN_ACCERN_6,
          #TEMP_ASOPEN_LNFILE.LN_EARN_ORDER_6,
          #TEMP_ASOPEN_LNFILE.LN_ANTICERN_7,
          #TEMP_ASOPEN_LNFILE.LN_ANTICADJ_7,
          #TEMP_ASOPEN_LNFILE.LN_UFERN_7,
          #TEMP_ASOPEN_LNFILE.LN_ACCERN_7,
          #TEMP_ASOPEN_LNFILE.LN_EARN_ORDER_7,
          #TEMP_ASOPEN_LNFILE.LN_ANTICERN_8,
          #TEMP_ASOPEN_LNFILE.LN_ANTICADJ_8,
          #TEMP_ASOPEN_LNFILE.LN_UFERN_8,
          #TEMP_ASOPEN_LNFILE.LN_ACCERN_8,
          #TEMP_ASOPEN_LNFILE.LN_EARN_ORDER_8,
          #TEMP_ASOPEN_LNFILE.LN_ANTICERN_9,
          #TEMP_ASOPEN_LNFILE.LN_ANTICADJ_9,
          #TEMP_ASOPEN_LNFILE.LN_UFERN_9,
          #TEMP_ASOPEN_LNFILE.LN_ACCERN_9,
          #TEMP_ASOPEN_LNFILE.LN_EARN_ORDER_9,
          #TEMP_ASOPEN_LNFILE.LN_ANTICERN_10,
          #TEMP_ASOPEN_LNFILE.LN_ANTICADJ_10,
          #TEMP_ASOPEN_LNFILE.LN_UFERN_10,
          #TEMP_ASOPEN_LNFILE.LN_ACCERN_10,
          #TEMP_ASOPEN_LNFILE.LN_EARN_ORDER_10,
          #TEMP_ASOPEN_LNFILE.LN_LMO_PRIOR_INTEREST,
          #TEMP_ASOPEN_LNFILE.LN_PRIOR_UNEARNED,
          #TEMP_ASOPEN_LNFILE.LN_ERNDELQ_STOP,
          #TEMP_ASOPEN_LNFILE.LN_NONACRERN,
          #TEMP_ASOPEN_LNFILE.LN_PRIOR_NONACRERN,
          #TEMP_ASOPEN_LNFILE.LN_ERN_IB_PDTH_DATE,
          #TEMP_ASOPEN_LNFILE.LN_ERN_IB_PRINBAL,
          #TEMP_ASOPEN_LNFILE.LN_ERN_IB_INTOWE,
          #TEMP_ASOPEN_LNFILE.LN_TOTERN,
          #TEMP_ASOPEN_LNFILE.LN_TOTOTH,
          #TEMP_ASOPEN_LNFILE.LN_TOTINT,
          #TEMP_ASOPEN_LNFILE.LN_TOTLCHG,
          #TEMP_ASOPEN_LNFILE.LN_TOTDEF,
          #TEMP_ASOPEN_LNFILE.LN_TOTSERACCT,
          #TEMP_ASOPEN_LNFILE.LN_LCWAIVERS,
          #TEMP_ASOPEN_LNFILE.LN_INTWAIVERS,
          #TEMP_ASOPEN_LNFILE.LN_TOTPAYMNTD,
          #TEMP_ASOPEN_LNFILE.LN_TOTEXCPAYMNTD,
          #TEMP_ASOPEN_LNFILE.LN_TOTNODEF,
          #TEMP_ASOPEN_LNFILE.LN_YTDNODEF,
          #TEMP_ASOPEN_LNFILE.LN_TOTNODEFACT,
          #TEMP_ASOPEN_LNFILE.LN_YTDNODEFACT,
          #TEMP_ASOPEN_LNFILE.LN_TOTNOALDEL,
          #TEMP_ASOPEN_LNFILE.LN_YTDNOALDEL,
          #TEMP_ASOPEN_LNFILE.LN_YTDINTPD,
          #TEMP_ASOPEN_LNFILE.LN_LYRINTPD,
          #TEMP_ASOPEN_LNFILE.LN_TOTINTPD,
          #TEMP_ASOPEN_LNFILE.LN_RECASTINT,
          #TEMP_ASOPEN_LNFILE.LN_RECASTPRIN,
          #TEMP_ASOPEN_LNFILE.LN_CL_REBATE,
          #TEMP_ASOPEN_LNFILE.LN_AH_REBATE,
          #TEMP_ASOPEN_LNFILE.LN_PP_REBATE,
          #TEMP_ASOPEN_LNFILE.LN_INT_REBATE,
          #TEMP_ASOPEN_LNFILE.LN_SC_REBATE,
          #TEMP_ASOPEN_LNFILE.LN_MF_REBATE,
          #TEMP_ASOPEN_LNFILE.LN_DF_REBATE,
          #TEMP_ASOPEN_LNFILE.LN_EX_REBATE,
          #TEMP_ASOPEN_LNFILE.LN_O1_REBATE,
          #TEMP_ASOPEN_LNFILE.LN_O2_REBATE,
          #TEMP_ASOPEN_LNFILE.LN_O3_REBATE,
          #TEMP_ASOPEN_LNFILE.LN_O4_REBATE,
          #TEMP_ASOPEN_LNFILE.LN_O5_REBATE,
          #TEMP_ASOPEN_LNFILE.LN_O6_REBATE,
          #TEMP_ASOPEN_LNFILE.LN_O7_REBATE,
          #TEMP_ASOPEN_LNFILE.LN_UN_O7_REB,
          #TEMP_ASOPEN_LNFILE.LN_UN_O8_REB,
          #TEMP_ASOPEN_LNFILE.LN_UN_O9_REB,
          #TEMP_ASOPEN_LNFILE.LN_UN_O10_REB,
          #TEMP_ASOPEN_LNFILE.LN_PLREASON,
          #TEMP_ASOPEN_LNFILE.LN_COLLECTOR,
          #TEMP_ASOPEN_LNFILE.LN_ACTIONCD,
          #TEMP_ASOPEN_LNFILE.LN_ACTIONCD2,
          #TEMP_ASOPEN_LNFILE.LN_ATCODE,
          #TEMP_ASOPEN_LNFILE.LN_RECODE,
          #TEMP_ASOPEN_LNFILE.LN_ESCROW_FG,
          #TEMP_ASOPEN_LNFILE.LN_PROMDAYS_PASTDUE,
          #TEMP_ASOPEN_LNFILE.LN_PROMID,
          #TEMP_ASOPEN_LNFILE.LN_PROMDATE,        
          #TEMP_ASOPEN_LNFILE.LN_PROMAMT,			  
          #TEMP_ASOPEN_LNFILE.LN_PROMDATE2,       
          #TEMP_ASOPEN_LNFILE.LN_DATE_PAID_LAST,  
          #TEMP_ASOPEN_LNFILE.LN_AMT_PAID_LAST,		  
          #TEMP_ASOPEN_LNFILE.LN_LASTCFORMNO,		  
          #TEMP_ASOPEN_LNFILE.LN_LASTCFORMDATE,   
          #TEMP_ASOPEN_LNFILE.LN_DELCNT,
          #TEMP_ASOPEN_LNFILE.LN_DELCNT2,
          #TEMP_ASOPEN_LNFILE.LN_CREDITLIM,
          #TEMP_ASOPEN_LNFILE.LN_CRSCORE,
          #TEMP_ASOPEN_LNFILE.LN_LASTSFORMNO,
          #TEMP_ASOPEN_LNFILE.LN_LASTSFORMDATE,
          #TEMP_ASOPEN_LNFILE.LN_SOLCNT,
          #TEMP_ASOPEN_LNFILE.LN_MESSAGE,
          #TEMP_ASOPEN_LNFILE.LN_OLDACCTNO,
          #TEMP_ASOPEN_LNFILE.LN_PRLNNO,
          #TEMP_ASOPEN_LNFILE.LN_PRBAL,
          #TEMP_ASOPEN_LNFILE.LN_PRINTDUE,
          #TEMP_ASOPEN_LNFILE.LN_PRFINCHGRB,
          #TEMP_ASOPEN_LNFILE.LN_PRINSRB,
          #TEMP_ASOPEN_LNFILE.LN_PRPOCD,
          #TEMP_ASOPEN_LNFILE.LN_PRPODATE,
          #TEMP_ASOPEN_LNFILE.LN_PRDELINQAMT,
          #TEMP_ASOPEN_LNFILE.LN_PRLNAMT,
          #TEMP_ASOPEN_LNFILE.LN_PRPDUE_DAYS,
          #TEMP_ASOPEN_LNFILE.LN_PRDLDISC_UNEARN,
          #TEMP_ASOPEN_LNFILE.LN_PRCONPROFILE,
          #TEMP_ASOPEN_LNFILE.LN_SUM_ORIGPURAMT,
          #TEMP_ASOPEN_LNFILE.LN_SUM_LNAMT,
          #TEMP_ASOPEN_LNFILE.LN_SUM_FINCHG,
          #TEMP_ASOPEN_LNFILE.LN_SUM_INTCHG,
          #TEMP_ASOPEN_LNFILE.LN_SUM_ORGTERM,
          #TEMP_ASOPEN_LNFILE.LN_SUM_REGPYAMT,
          #TEMP_ASOPEN_LNFILE.LN_SUM_EXTCHG,
          #TEMP_ASOPEN_LNFILE.LN_SUM_SERCHG,
          #TEMP_ASOPEN_LNFILE.LN_SUM_MAINTFEE,
          #TEMP_ASOPEN_LNFILE.LN_UNITPER_CD,
          #TEMP_ASOPEN_LNFILE.LN_UNITPER_FREQ,
          #TEMP_ASOPEN_LNFILE.LN_DAYS_IN_UNITPER,
          #TEMP_ASOPEN_LNFILE.LN_UNITPER_PER_YEAR,
          #TEMP_ASOPEN_LNFILE.LN_REPOCD,
          #TEMP_ASOPEN_LNFILE.LN_BR_TFR_FG,
          #TEMP_ASOPEN_LNFILE.LN_O3INS_DLPROC,
          #TEMP_ASOPEN_LNFILE.LN_INSPREM_DLADJ,
          #TEMP_ASOPEN_LNFILE.LN_PLAMT,
          #TEMP_ASOPEN_LNFILE.LN_MTD_PRIN,
          #TEMP_ASOPEN_LNFILE.LN_MTD_LC,
          #TEMP_ASOPEN_LNFILE.LN_MTD_INT,
          #TEMP_ASOPEN_LNFILE.LN_MTD_OT,
          #TEMP_ASOPEN_LNFILE.LN_MTD_EX,
          #TEMP_ASOPEN_LNFILE.LN_BNKRPT_CHAPTER,
          #TEMP_ASOPEN_LNFILE.LN_BMO_CON_STATUS,
          #TEMP_ASOPEN_LNFILE.LN_BMO_REC_STATUS,
          #TEMP_ASOPEN_LNFILE.LN_APP_NUMBER,
          #TEMP_ASOPEN_LNFILE.LN_GIFTNET,
          #TEMP_ASOPEN_LNFILE.LN_GIFTNET_OUR_PO,
          #TEMP_ASOPEN_LNFILE.LN_PROC_DISBURSED,
          #TEMP_ASOPEN_LNFILE.LN_NOODDPY,
          #TEMP_ASOPEN_LNFILE.LN_CONPROFILE_1,
          #TEMP_ASOPEN_LNFILE.LN_CONPROFILE_2,
          #TEMP_ASOPEN_LNFILE.LN_CONPROFILE_3,
          #TEMP_ASOPEN_LNFILE.LN_CONPROFILE_4,
          #TEMP_ASOPEN_LNFILE.LN_CONPROFILE_5,
          #TEMP_ASOPEN_LNFILE.LN_RECPROFILE_1,
          #TEMP_ASOPEN_LNFILE.LN_RECPROFILE_2,
          #TEMP_ASOPEN_LNFILE.LN_RECPROFILE_3,
          #TEMP_ASOPEN_LNFILE.LN_RECPROFILE_4,
          #TEMP_ASOPEN_LNFILE.LN_RECPROFILE_5,
          #TEMP_ASOPEN_LNFILE.LN_TRW_STATUS,
          #TEMP_ASOPEN_LNFILE.LN_ORIGIN,
          #TEMP_ASOPEN_LNFILE.LN_PO_TRCD,
          #TEMP_ASOPEN_LNFILE.LN_NEXIS_CRSCORE,
          #TEMP_ASOPEN_LNFILE.LN_TRW_B_CONSUMER_IND,
          #TEMP_ASOPEN_LNFILE.LN_PARVHELD_PAID_FG,
          #TEMP_ASOPEN_LNFILE.LN_ACCT_FROZEN,
          #TEMP_ASOPEN_LNFILE.LN_TRW_SPECIAL_CODE,
          #TEMP_ASOPEN_LNFILE.LN_CREATION_STATUS,
          #TEMP_ASOPEN_LNFILE.LN_TOTNOLCHG,
          #TEMP_ASOPEN_LNFILE.LN_LBOX,
          #TEMP_ASOPEN_LNFILE.LN_EXTRA_PRIN_LFP,
          #TEMP_ASOPEN_LNFILE.LN_REMAIN_INT_SINCE_LFP,
          #TEMP_ASOPEN_LNFILE.LN_REMAIN_PRIN_SINCE_LFP,
          #TEMP_ASOPEN_LNFILE.LN_INTERIM_COUPON,
          #TEMP_ASOPEN_LNFILE.LN_DLCOMM_O3_CMSI,
          #TEMP_ASOPEN_LNFILE.LN_DLCOMM_PP_CMSI,
          #TEMP_ASOPEN_LNFILE.LN_TRW_J_CONSUMER_IND,
          #TEMP_ASOPEN_LNFILE.LN_ACH,
          #TEMP_ASOPEN_LNFILE.LN_1099_C_FG,
          #TEMP_ASOPEN_LNFILE.LN_TRW_COMPLIANCE_CODE,
          #TEMP_ASOPEN_LNFILE.LN_UNWIND_REASON_CODE,
          #TEMP_ASOPEN_LNFILE.LN_PBI_PBD_FG,
          #TEMP_ASOPEN_LNFILE.LN_OLD_ACCT_FORMAT_FG,
          #TEMP_ASOPEN_LNFILE.LN_APPROVED_BY_USER,
          #TEMP_ASOPEN_LNFILE.LN_APPROVED_BY_CODE,
          #TEMP_ASOPEN_LNFILE.LN_APPROVED_BY_DATE,
          #TEMP_ASOPEN_LNFILE.LN_APPROVED_BY_TIME,	    
          #TEMP_ASOPEN_LNFILE.LN_LTOUCH_DATE,
          #TEMP_ASOPEN_LNFILE.LN_LTOUCH_TIME,
          #TEMP_ASOPEN_LNFILE.BW_OWNBR,
          #TEMP_ASOPEN_LNFILE.BW_SSNO,
          #TEMP_ASOPEN_LNFILE.BW_LNAME, 
          #TEMP_ASOPEN_LNFILE.BW_FNAME, 
          #TEMP_ASOPEN_LNFILE.BW_STATE, 
          #TEMP_ASOPEN_LNFILE.BW_ZIP, 
          #TEMP_ASOPEN_LNFILE.BW_ORIGIN, 
          #TEMP_ASOPEN_LNFILE.BW_LAST_RN_FOR10_DATE, 
          #TEMP_ASOPEN_LNFILE.BW_SOLICIT, 
          #TEMP_ASOPEN_LNFILE.BW_CONFIDENTIAL

     FROM #TEMP_ASOPEN_LNFILE
   
    ORDER BY #TEMP_ASOPEN_LNFILE.LN_OWNBR,
             #TEMP_ASOPEN_LNFILE.LN_CLASS,
             #TEMP_ASOPEN_LNFILE.LN_ACCTNO; 

DROP TABLE IF EXISTS #TEMP_ASOPEN_LNFILE;
             
END
GO
