USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_CQEXTR_GQFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_CQEXTR_GQFILE_SELECT              */
/*               PROGRAM NAME: SP/CQEXTR.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: GQFILE                                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_CQEXTR_GQFILE_SELECT]
      @QGQ1_WBEG_BRNO        AS INT  

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QGQ1_WBEG_BRNO    INT 
--SET     @QGQ1_WBEG_BRNO    = 1504     

   SELECT GQFILE.GQ_BRNO,
          GQFILE.GQ_ACCTNO,
          GQFILE.GQ_COLLID, 
          GQFILE.GQ_SEQ_FG, 
          CAST(GQFILE.GQ_DATE        AS VARCHAR(10)), 
          GQFILE.GQ_START_TIME,
          GQFILE.GQ_REV_DEL,
          GQFILE.GQ_REV_PDUE_DAYS,
          GQFILE.GQ_REV_BAL,
          GQFILE.GQ_WORK_COLLID, 
          GQFILE.GQ_WORKED_FG, 
          GQFILE.GQ_IN_PROCESS, 
          CAST(GQFILE.GQ_DATE_QUEUED AS VARCHAR(10)), 
          GQFILE.GQ_TIME_ZONE_ERROR  
     FROM DBO.GQFILE  GQFILE
    WHERE  ( GQFILE.GQ_BRNO   = @QGQ1_WBEG_BRNO )  
    ORDER BY GQFILE.GQ_BRNO,
             GQFILE.GQ_ACCTNO

END
GO
