USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_TRPFLE_TRPFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_TRPFLE_TRPFILE_SELECT             */
/*               PROGRAM NAME: UT/TRPFLE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 01/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRPFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  02/25/2025  MB                                        */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_TRPFLE_TRPFILE_SELECT]
    @QTRP1_WBEG_BRNO  AS INT,
	@QTRP1_WBEG_DATE  AS DATE,
	@QTRP1_WEND_DATE  AS DATE
 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRP1_WBEG_BRNO  INT
--DECLARE @QTRP1_WBEG_DATE  DATE
--DECLARE @QTRP1_WEND_DATE  DATE

--SET @QTRP1_WBEG_BRNO  =  10
--SET @QTRP1_WBEG_DATE  = '2019-01-01'
--SET @QTRP1_WEND_DATE  = '2019-06-30'

            SELECT TRPFILE.TP_BRNO,
                   CAST(TRPFILE.TP_DATE AS VARCHAR(10)),
                   TRPFILE.TP_CLASS,
                   TRPFILE.TP_ACCTNO,
                   TRPFILE.TP_LINE,
                   CAST(TRPFILE.TP_LTOUCH_DATE AS VARCHAR(10)),
                   TRPFILE.TP_LAWCODE,
                   TRPFILE.TP_JDCD,
                   TRPFILE.TP_PLCD,
                   TRPFILE.TP_SSNO,
                   TRPFILE.TP_MAKER,
                   TRPFILE.TP_IBPC,
                   TRPFILE.TP_TRCD,
                   TRPFILE.TP_REFNO,
                   CAST(TRPFILE.TP_PAYDATE AS VARCHAR(10)),
                   CAST(TRPFILE.TP_DUEDATE AS VARCHAR(10)),
                   TRPFILE.TP_TRAMT,
                   TRPFILE.TP_INTDUE,
                   TRPFILE.TP_APOTH,
                   TRPFILE.TP_APOT2,
                   TRPFILE.TP_APINT,
                   TRPFILE.TP_APLC,
                   TRPFILE.TP_APCUR,
                   TRPFILE.TP_GLNO_1,
                   TRPFILE.TP_GLAMT_1,
                   TRPFILE.TP_GLNO_2,
                   TRPFILE.TP_GLAMT_2,
                   TRPFILE.TP_GLNO_3,
                   TRPFILE.TP_GLAMT_3,
                   TRPFILE.TP_EARNINGS_1,
                   TRPFILE.TP_EARNINGS_2,
                   TRPFILE.TP_EARNINGS_3,
                   TRPFILE.TP_EARNINGS_4,
                   TRPFILE.TP_EARNINGS_5,
                   TRPFILE.TP_EARNINGS_6,
                   TRPFILE.TP_EARNINGS_7,
                   TRPFILE.TP_EARNINGS_8,
                   TRPFILE.TP_EARNINGS_9,
                   TRPFILE.TP_EARNINGS_10,
                   TRPFILE.TP_WORKAMT_1,
                   TRPFILE.TP_WORKAMT_2,
                   TRPFILE.TP_WORKAMT_3,
                   TRPFILE.TP_WORKAMT_4,
                   TRPFILE.TP_WORKAMT_5,
                   TRPFILE.TP_WORKAMT_6,
                   TRPFILE.TP_WORKAMT_7,
                   TRPFILE.TP_WORKAMT_8,
                   TRPFILE.TP_WORKAMT_9,
                   TRPFILE.TP_WORKAMT_10,
                   TRPFILE.TP_OTHBAL,
                   TRPFILE.TP_OT2BAL,
                   TRPFILE.TP_INTBAL,
                   TRPFILE.TP_LCBAL,
                   TRPFILE.TP_CURBAL,
                   CAST(TRPFILE.TP_PDTH_DATE AS VARCHAR(10)),
                   TRPFILE.TP_DLNO,
                   TRPFILE.TP_DLPROC,
                   TRPFILE.TP_SERVACCT,
                   TRPFILE.TP_SALEFIN,
                   TRPFILE.TP_INSURED,
                   TRPFILE.TP_INSOURS,
                   TRPFILE.TP_LOANTYPE,
                   TRPFILE.TP_TILLNO,
                   CAST(TRPFILE.TP_LCPDTH_DATE AS VARCHAR(10)),
                   TRPFILE.TP_POSTING_BR,
                   TRPFILE.TP_OTHBR_FG,
                   TRPFILE.TP_REV,
                   TRPFILE.TP_REVTRCD,
                   TRPFILE.TP_REVSEQNO,
                   TRPFILE.TP_STATUSFG,
                   TRPFILE.TP_KEEPAPINT,
                   TRPFILE.TP_INTPAID,
                   TRPFILE.TP_PRIOR_POOLID,
                   TRPFILE.TP_INSTYPES,
                   TRPFILE.TP_INSEARN_1,
                   TRPFILE.TP_INSEARN_2,
                   TRPFILE.TP_INSEARN_3,
                   TRPFILE.TP_INSEARN_4,
                   TRPFILE.TP_INSEARN_5,
                   TRPFILE.TP_INSEARN_6,
                   TRPFILE.TP_INSEARN_7,
                   TRPFILE.TP_INSEARN_8,
                   TRPFILE.TP_INSEARN_9,
                   TRPFILE.TP_INSEARN_10,
                   TRPFILE.TP_INSWORKAMT_1,
                   TRPFILE.TP_INSWORKAMT_2,
                   TRPFILE.TP_INSWORKAMT_3,
                   TRPFILE.TP_INSWORKAMT_4,
                   TRPFILE.TP_INSWORKAMT_5,
                   TRPFILE.TP_INSWORKAMT_6,
                   TRPFILE.TP_INSWORKAMT_7,
                   TRPFILE.TP_INSWORKAMT_8,
                   TRPFILE.TP_INSWORKAMT_9,
                   TRPFILE.TP_INSWORKAMT_10,
                   TRPFILE.TP_DLRVCHGS_ADJ_1,
                   TRPFILE.TP_DLRVCHGS_ADJ_2,
                   TRPFILE.TP_DLRVCHGS_ADJ_3,
                   TRPFILE.TP_DLPARVHELD_ADJ,
                   TRPFILE.TP_DLPARVPAID_ADJ,
                   TRPFILE.TP_NEWSTAT_RATE,
                   TRPFILE.TP_POCD,
                   CAST(TRPFILE.TP_PODATE AS VARCHAR(10)),
                   TRPFILE.TP_DL_RVCHGS_CODE_1,
                   TRPFILE.TP_DL_RVCHGS_CODE_2,
                   TRPFILE.TP_DL_RVCHGS_CODE_3,
                   TRPFILE.TP_DL_PARVHELD_CODE,
                   TRPFILE.TP_DL_PARVPAID_CODE,
                   TRPFILE.TP_TOTNODEF,
                   TRPFILE.TP_LNAMT,
                   CAST(TRPFILE.TP_ORIG_1STPYDATE AS VARCHAR(10)),
                   CAST(TRPFILE.TP_OLD1ST_PYDATE  AS VARCHAR(10)),
                   CAST(TRPFILE.TP_1STPYDATE      AS VARCHAR(10)),
                   TRPFILE.TP_ORGTERM,
                   TRPFILE.TP_INSCOMM,
                   TRPFILE.TP_MANUAL_RB,
                   TRPFILE.TP_USERID,
                   TRPFILE.TP_POSTTIME,
                   TRPFILE.TP_PLTYPE,
                   TRPFILE.TP_PL_OTH_AR,
                   TRPFILE.TP_LP_DLNO,
                   TRPFILE.TP_REPOCD,
                   TRPFILE.TP_SPRCLASS,
                   TRPFILE.TP_MAX_DEFER_FG,
                   CAST(TRPFILE.TP_POSTDATE AS VARCHAR(10)),
                   TRPFILE.TP_UNITPER_CD,
                   TRPFILE.TP_UNITPER_FREQ,
                   TRPFILE.TP_SP_DEFFRMLA,
                   TRPFILE.TP_COLLECTOR,
                   TRPFILE.TP_PENALTY_INT,
                   TRPFILE.TP_INSCOMP,
                   CAST(TRPFILE.TP_PROMDATE AS VARCHAR(10)),
                   TRPFILE.TP_PROMAMT,
                   TRPFILE.TP_PROMID,
                   TRPFILE.TP_INS_TAX_RB,
                   TRPFILE.TP_PROMDAYS_PASTDUE,
                   TRPFILE.TP_MIP_FG,
                   TRPFILE.TP_MIP_CLPAID,
                   TRPFILE.TP_MIP_CLCOMM,
                   TRPFILE.TP_MIP_AHPAID,
                   TRPFILE.TP_MIP_AHCOMM,
                   CAST(TRPFILE.TP_MIP_CLPDTH_DATE AS VARCHAR(10)),
                   CAST(TRPFILE.TP_MIP_AHPDTH_DATE AS VARCHAR(10)),
                   TRPFILE.TP_INS_TAX_COUNTY_CD,
                   TRPFILE.TP_INS_TAX_CITY_CD,
                   TRPFILE.TP_APPLIED_TO_ESCROW,
                   TRPFILE.TP_ESCROW_AMT,
                   TRPFILE.TP_ESCROW_PREPAID,
                   TRPFILE.TP_ESCROW_DISBURSED,
                   TRPFILE.TP_LP_SEQNO,
                   TRPFILE.TP_PRIOR_DF_CODE,
                   CAST(TRPFILE.TP_PRIOR_DF_POSTDATE AS VARCHAR(10)),
                   TRPFILE.TP_CANCEL_REASON,
                   TRPFILE.TP_FROMCL,
                   TRPFILE.TP_TOCL,
                   TRPFILE.TP_ADDON_TXT,
                   TRPFILE.TP_ADDON_TYP,
                   TRPFILE.TP_DLRVNUM,
                   TRPFILE.TP_P4P5_TRANCD,
                   TRPFILE.TP_P4P5_DLRVNUM,
                   TRPFILE.TP_POOLID,
                   TRPFILE.TP_ACTIONCD2,
                   TRPFILE.TP_LCDUE,
				   TRPFILE.TP_REPAY_TRANS_ID,
				   TRPFILE.TP_CLOSFEE_REB_AMT

    FROM DBO.TRPFILE TRPFILE

    WHERE TRPFILE.TP_BRNO = @QTRP1_WBEG_BRNO
      AND TRPFILE.TP_DATE  BETWEEN @QTRP1_WBEG_DATE  AND @QTRP1_WEND_DATE

	ORDER BY TRPFILE.TP_DATE,
	         TRPFILE.TP_CLASS,
             TRPFILE.TP_ACCTNO,
			 TRPFILE.TP_LINE

END 
GO
