USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_REFUPD_CDFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_REFUPD_CDFILE_SELECT              */
/*               PROGRAM NAME: SP/REFUPD.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: CDFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_REFUPD_CDFILE_SELECT]
    @QCD1_WBEG_CODE       AS CHAR(8)  
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QCD1_WBEG_CODE CHAR(8)
--SET     @QCD1_WBEG_CODE = 'BANKT   '   

DROP TABLE IF EXISTS #TEMP_REFUPD_CDFILE;

    SELECT TEMP.CD_TYPE,
           TEMP.CD_CODE,
           TEMP.CD_BR_FILE_TYPE,
           TEMP.CD_BR_FILE_NAME 

     INTO #TEMP_REFUPD_CDFILE

     FROM

   (SELECT CDFILE.CD_TYPE,
           CDFILE.CD_CODE,
           CDFILE.CD_BR_FILE_TYPE,
           CDFILE.CD_BR_FILE_NAME 
      FROM DBO.CDFILE
     WHERE CDFILE.CD_TYPE = 'BR' 
       AND CDFILE.CD_CODE = @QCD1_WBEG_CODE) TEMP;

    SELECT #TEMP_REFUPD_CDFILE.CD_TYPE,
           #TEMP_REFUPD_CDFILE.CD_CODE,
           #TEMP_REFUPD_CDFILE.CD_BR_FILE_TYPE,
           #TEMP_REFUPD_CDFILE.CD_BR_FILE_NAME 

     FROM #TEMP_REFUPD_CDFILE

     ORDER BY #TEMP_REFUPD_CDFILE.CD_TYPE,
              #TEMP_REFUPD_CDFILE.CD_CODE;

DROP TABLE IF EXISTS #TEMP_REFUPD_CDFILE;

END
GO
