USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_TRIFLE_TRIFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_TRIFLE_TRIFILE_SELECT             */
/*               PROGRAM NAME: UT/TRIFLE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 04/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRIFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_TRIFLE_TRIFILE_SELECT]
    @QTRI_WBEG_BRNO      AS INT,
	@QTRI_WBEG_KEY_DATE  AS DATE,
	@QTRI_WEND_KEY_DATE  AS DATE
 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRI_WBEG_BRNO      INT
--DECLARE @QTRI_WBEG_KEY_DATE  DATE
--DECLARE @QTRI_WEND_KEY_DATE  DATE

--SET @QTRI_WBEG_BRNO      =  10
--SET @QTRD_WBEG_KEY_DATE  = '2019-01-01'
--SET @QTRI_WEND_KEY_DATE  = '2019-06-30'

            SELECT TRIFILE.TI_BRNO,
                   CAST(TRIFILE.TI_KEY_DATE  AS VARCHAR(10)),
                   TRIFILE.TI_SEQ,
                   CAST(TRIFILE.TI_LTOUCH_DATE AS VARCHAR(10)),
                   TRIFILE.TI_WAIS,
                   TRIFILE.TI_FILLER,
                   TRIFILE.TI_TYPE,
                   TRIFILE.TI_AMOUNT,
                   TRIFILE.TI_CLAIM_NUMBER,
                   TRIFILE.TI_FILLER2,
                   TRIFILE.TI_LNAME,
                   TRIFILE.TI_FNAME,
                   CAST(TRIFILE.TI_DATE AS VARCHAR(10)),
                   TRIFILE.TI_DRAFT,
                   TRIFILE.TI_FILLER3,
                   TRIFILE.TI_PRODUCER,
                   TRIFILE.TI_USERID,
                   TRIFILE.TI_POSTTIME,
                   CAST(TRIFILE.TI_POSTDATE AS VARCHAR(10)),
                   TRIFILE.TI_INSCOMP,
                   TRIFILE.TI_DAYS_PAID,
                   TRIFILE.TI_PMT_TYPE,
                   CAST(TRIFILE.TI_FROM_DATE AS VARCHAR(10)),
                   CAST(TRIFILE.TI_TO_DATE AS VARCHAR(10))
            
			FROM DBO.TRIFILE
            
			WHERE TRIFILE.TI_BRNO  = @QTRI_WBEG_BRNO
              AND TRIFILE.TI_KEY_DATE BETWEEN @QTRI_WBEG_KEY_DATE AND @QTRI_WEND_KEY_DATE
            
			ORDER BY TRIFILE.TI_BRNO,
                     TRIFILE.TI_KEY_DATE,
                     TRIFILE.TI_SEQ

END 
GO
