USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_PLSRCD_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_PLSRCD_LNFILE_SELECT              */
/*               PROGRAM NAME: SP/PLSRCD.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE, BWFILE                                          */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_PLSRCD_LNFILE_SELECT]
    @QLN3_WBEG_OWNBR          AS INT,
	@QLN3_WBEG_CLASS          AS INT,
	@QLN3_WEND_CLASS          AS INT,
    @QWS_BEG_PLDATE           AS DATE,
    @QWS_END_PLDATE           AS DATE 
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN3_WBEG_OWNBR      INT
--DECLARE @QLN3_WBEG_CLASS      INT
--DECLARE @QLN3_WEND_CLASS      INT
--DECLARE @QWS_BEG_PLDATE       DATE
--DECLARE @QWS_END_PLDATE       DATE
 
--SET     @QLN3_WBEG_OWNBR      = 102
--SET     @QLN3_WBEG_CLASS      = 000   
--SET     @QLN3_WEND_CLASS      = 999
--SET     @QWS_BEG_PLDATE       = '2019-01-01' 
--SET     @QWS_END_PLDATE       = '2019-12-31' 

   SELECT LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_SUBCLASS,
          LNFILE.LN_LAWCODE,
          LNFILE.LN_SSNO1,
          LNFILE.LN_MAKERCD1,
          LNFILE.LN_SSNO2,
          LNFILE.LN_MAKERCD2, 
          LNFILE.LN_SSNO3,
          LNFILE.LN_MAKERCD3, 
          LNFILE.LN_SSNO4,
          LNFILE.LN_MAKERCD4, 
          LNFILE.LN_ORGST, 
          LNFILE.LN_SPRCLASS,
          LNFILE.LN_CONVERCD, 
          LNFILE.LN_SRCD, 
          LNFILE.LN_POCD, 
          LNFILE.LN_PLTYPE, 
          LNFILE.LN_STATFLAGS, 
          CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)), 
          CAST(LNFILE.LN_1STPYDATE      AS VARCHAR(10)), 
          CAST(LNFILE.LN_PLDATE         AS VARCHAR(10)), 
          LNFILE.LN_ORGTERM,
          LNFILE.LN_CURBAL,
          LNFILE.LN_TOTNODEF,
          LNFILE.LN_SUM_ORGTERM,
          LNFILE.LN_UNITPER_CD, 
          LNFILE.LN_UNITPER_FREQ,
          LNFILE.LN_PLAMT,
          ISNULL(BWFILE.BW_OWNBR, 0),
          ISNULL(BWFILE.BW_SSNO, 0),
          ISNULL(BWFILE.BW_LNAME,' '),
          ISNULL(BWFILE.BW_FNAME,' '),
          ISNULL(BWFILE.BW_SOLICIT,' ') 

     FROM DBO.LNFILE  LNFILE

	 LEFT OUTER JOIN 
          DBO.BWFILE  BWFILE
       ON (  LNFILE.LN_OWNBR       = BWFILE.BW_OWNBR	
      AND    LNFILE.LN_SSNO1       = BWFILE.BW_SSNO )

    WHERE (  LNFILE.LN_OWNBR        = @QLN3_WBEG_OWNBR
      AND  ( LNFILE.LN_CLASS  BETWEEN @QLN3_WBEG_CLASS
                                  AND @QLN3_WEND_CLASS )
      AND    LNFILE.LN_POCD    NOT IN ('**', '*I', '*R', '*U', 'BT')
      AND    LNFILE.LN_PLTYPE      != '2' 
      AND    LNFILE.LN_PLDATE      != '1900-01-01' 
      AND  ( LNFILE.LN_PLDATE BETWEEN @QWS_BEG_PLDATE 
                                  AND @QWS_END_PLDATE ))

    ORDER BY LNFILE.LN_OWNBR,
             LNFILE.LN_CLASS,
             LNFILE.LN_ACCTNO; 
             
END
GO
