USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BWDUP_BWFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_BWDUP_BWFILE_SELECT               */
/*               PROGRAM NAME: SP/BWDUP.CBL                          */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: BWFILE, LNFILE                                          */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_BWDUP_BWFILE_SELECT]
    @QBW1_WBEG_OWNBR       AS INT 
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QBW1_WBEG_OWNBR    INT
--SET     @QBW1_WBEG_OWNBR  = 10   
 
   SELECT BWLNFILE.BW_OWNBR,
          BWLNFILE.BW_SSNO,             
          BWLNFILE.BW_LNAME, 
          BWLNFILE.BW_FNAME,
          BWLNFILE.BW_SOLICIT,
          BWLNFILE.LN_OWNBR,
          BWLNFILE.LN_ACCTNO,
          BWLNFILE.LN_CLASS,
          BWLNFILE.LN_SUBCLASS,
          BWLNFILE.LN_LAWCODE,
          BWLNFILE.LN_SSNO,
          BWLNFILE.LN_MAKERCD,
          BWLNFILE.LN_ORGST,
          BWLNFILE.LN_SPRCLASS,
          BWLNFILE.LN_CONVERCD,
          BWLNFILE.LN_POCD, 
          BWLNFILE.LN_PLCD, 
          BWLNFILE.LN_STATFLAGS, 
          CAST(BWLNFILE.LN_LOANDATE       AS VARCHAR(10)),       
          CAST(BWLNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)), 
          CAST(BWLNFILE.LN_1STPYDATE      AS VARCHAR(10)),      
          CAST(BWLNFILE.LN_PLDATE         AS VARCHAR(10)),         
          CAST(BWLNFILE.LN_POFFDATE       AS VARCHAR(10)),       
          BWLNFILE.LN_ORGTERM,                             
          BWLNFILE.LN_CURBAL,
          BWLNFILE.LN_TOTNODEF,
          BWLNFILE.LN_SUM_ORGTERM,
          BWLNFILE.LN_UNITPER_CD,
          BWLNFILE.LN_UNITPER_FREQ,
          BWLNFILE.LN_GIFTNET
     FROM
  (SELECT BWFILE.BW_OWNBR,
          BWFILE.BW_SSNO,             
          BWFILE.BW_LNAME, 
          BWFILE.BW_FNAME,
          BWFILE.BW_SOLICIT,
          LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_SUBCLASS,
          LNFILE.LN_LAWCODE,
          LNFILE.LN_SSNO1    AS LN_SSNO,
          LNFILE.LN_MAKERCD1 AS LN_MAKERCD,
          LNFILE.LN_ORGST,
          LNFILE.LN_SPRCLASS,
          LNFILE.LN_CONVERCD,
          LNFILE.LN_POCD, 
          LNFILE.LN_PLCD, 
          LNFILE.LN_STATFLAGS, 
          LNFILE.LN_LOANDATE,                  
          LNFILE.LN_ORIG_1STPYDATE,    
          LNFILE.LN_1STPYDATE,         
          LNFILE.LN_PLDATE,            
          LNFILE.LN_POFFDATE,          
          LNFILE.LN_ORGTERM,                             
          LNFILE.LN_CURBAL,
          LNFILE.LN_TOTNODEF,
          LNFILE.LN_SUM_ORGTERM,
          LNFILE.LN_UNITPER_CD,
          LNFILE.LN_UNITPER_FREQ,
          LNFILE.LN_GIFTNET
      FROM 
      ( SELECT A.OWNBR, 
               A.SSNO 
          FROM
      ( SELECT BWFILE.BW_OWNBR         AS OWNBR,
	           BWFILE.BW_SSNO          AS SSNO,
               1                       AS CNT
          FROM DBO.BWFILE BWFILE
          LEFT OUTER JOIN
               DBO.LNFILE LNFILE 
            ON (( BWFILE.BW_OWNBR       = LNFILE.LN_OWNBR
           AND    BWFILE.BW_SSNO        = LNFILE.LN_SSNO1 )
           AND (  LNFILE.LN_POFFDATE    = '1900-01-01' )
           AND (  LNFILE.LN_POCD   NOT IN ('**', '*I', '*R', '*U') ))
         WHERE (  BWFILE.BW_OWNBR       = @QBW1_WBEG_OWNBR 
           AND    ISNULL(LNFILE.LN_SSNO1, 0) 
                                       != 0 )
         UNION ALL 
   
        SELECT BWFILE.BW_OWNBR         AS OWNBR,
               BWFILE.BW_SSNO          AS SSNO,
               1                       AS CNT
          FROM DBO.BWFILE BWFILE
          LEFT OUTER JOIN
               DBO.LNFILE LNFILE 
            ON (( BWFILE.BW_OWNBR       = LNFILE.LN_OWNBR
           AND    BWFILE.BW_SSNO        = LNFILE.LN_SSNO2 )
           AND (  LNFILE.LN_POFFDATE    = '1900-01-01' )
           AND (  LNFILE.LN_POCD   NOT IN ('**', '*I', '*R', '*U') ))
         WHERE (  BWFILE.BW_OWNBR       = @QBW1_WBEG_OWNBR 
           AND    ISNULL(LNFILE.LN_SSNO2, 0) 
                                       != 0 )		  
              ) A
         GROUP BY A.OWNBR,
                  A.SSNO
        HAVING SUM(A.CNT) > 1 )
                     BW_LN_FILE4,
          DBO.BWFILE BWFILE, 
          DBO.LNFILE LNFILE 
    WHERE ( BWFILE.BW_OWNBR      = @QBW1_WBEG_OWNBR )   
      AND ( BWFILE.BW_OWNBR      = BW_LN_FILE4.OWNBR
      AND   BWFILE.BW_SSNO       = BW_LN_FILE4.SSNO )
      AND ( LNFILE.LN_OWNBR      = BW_LN_FILE4.OWNBR
      AND   LNFILE.LN_SSNO1      = BW_LN_FILE4.SSNO )
      AND (  LNFILE.LN_POFFDATE  = '1900-01-01' )
      AND (  LNFILE.LN_POCD NOT IN ('**', '*I', '*R', '*U') ) 

    UNION ALL

   SELECT BWFILE.BW_OWNBR,
          BWFILE.BW_SSNO,             
          BWFILE.BW_LNAME, 
          BWFILE.BW_FNAME,
          BWFILE.BW_SOLICIT,
          LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_SUBCLASS,
          LNFILE.LN_LAWCODE,
          LNFILE.LN_SSNO2    AS LN_SSNO,
          LNFILE.LN_MAKERCD2 AS LN_MAKERCD,
          LNFILE.LN_ORGST,
          LNFILE.LN_SPRCLASS,
          LNFILE.LN_CONVERCD,
          LNFILE.LN_POCD, 
          LNFILE.LN_PLCD, 
          LNFILE.LN_STATFLAGS, 
          LNFILE.LN_LOANDATE,            
          LNFILE.LN_ORIG_1STPYDATE,     
          LNFILE.LN_1STPYDATE,          
          LNFILE.LN_PLDATE,             
          LNFILE.LN_POFFDATE,           
          LNFILE.LN_ORGTERM,                             
          LNFILE.LN_CURBAL,
          LNFILE.LN_TOTNODEF,
          LNFILE.LN_SUM_ORGTERM,
          LNFILE.LN_UNITPER_CD,
          LNFILE.LN_UNITPER_FREQ,
          LNFILE.LN_GIFTNET
      FROM 
      ( SELECT A.OWNBR, 
               A.SSNO 
          FROM
      ( SELECT BWFILE.BW_OWNBR         AS OWNBR,
               BWFILE.BW_SSNO          AS SSNO,
               1                       AS CNT
          FROM DBO.BWFILE BWFILE
          LEFT OUTER JOIN
               DBO.LNFILE LNFILE 
            ON (( BWFILE.BW_OWNBR       = LNFILE.LN_OWNBR
           AND    BWFILE.BW_SSNO        = LNFILE.LN_SSNO1 )
           AND (  LNFILE.LN_POFFDATE    = '1900-01-01' )
           AND (  LNFILE.LN_POCD   NOT IN ('**', '*I', '*R', '*U') ))
         WHERE (  BWFILE.BW_OWNBR       = @QBW1_WBEG_OWNBR 
           AND    ISNULL(LNFILE.LN_SSNO1, 0) 
                                       != 0 )
         UNION ALL 
  
        SELECT BWFILE.BW_OWNBR         AS OWNBR,
               BWFILE.BW_SSNO          AS SSNO,
               1                       AS CNT
          FROM DBO.BWFILE BWFILE
          LEFT OUTER JOIN
               DBO.LNFILE LNFILE 
            ON (( BWFILE.BW_OWNBR       = LNFILE.LN_OWNBR
           AND    BWFILE.BW_SSNO        = LNFILE.LN_SSNO2 )
           AND (  LNFILE.LN_POFFDATE    = '1900-01-01' )
           AND (  LNFILE.LN_POCD   NOT IN ('**', '*I', '*R', '*U') ))
         WHERE (  BWFILE.BW_OWNBR       = @QBW1_WBEG_OWNBR 
           AND    ISNULL(LNFILE.LN_SSNO2, 0) 
                                       != 0 )		  
              ) A
         GROUP BY A.OWNBR,
                  A.SSNO
        HAVING SUM(A.CNT) > 1 )
                     BW_LN_FILE5,
          DBO.BWFILE BWFILE, 
          DBO.LNFILE LNFILE 
    WHERE ( BWFILE.BW_OWNBR      = @QBW1_WBEG_OWNBR )   
      AND ( BWFILE.BW_OWNBR      = BW_LN_FILE5.OWNBR
      AND   BWFILE.BW_SSNO       = BW_LN_FILE5.SSNO )
      AND ( LNFILE.LN_OWNBR      = BW_LN_FILE5.OWNBR
      AND   LNFILE.LN_SSNO2      = BW_LN_FILE5.SSNO )
      AND (  LNFILE.LN_POFFDATE  = '1900-01-01' )
      AND (  LNFILE.LN_POCD NOT IN ('**', '*I', '*R', '*U') )
         ) BWLNFILE

    ORDER BY BWLNFILE.BW_OWNBR,
             BWLNFILE.BW_SSNO,
             BWLNFILE.LN_LOANDATE,
             BWLNFILE.LN_ACCTNO

END
GO
