USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_ICUNR1_LPFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_ICUNR1_LPFILE_SELECT              */
/*               PROGRAM NAME: CL/ICUNR1.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 08/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LPFILE LNFILE                                           */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_ICUNR1_LPFILE_SELECT]
    @BRANCHLIST        AS VARCHAR(7500),
	@PASS_WBEG_CLASS   AS INT,
    @PASS_WEND_CLASS   AS INT,
	@PASS_WBEG_IC      AS INT,
    @PASS_WEND_IC      AS INT,
	@PASS_WBEG_ST      AS CHAR(2),
    @PASS_WEND_ST      AS CHAR(2),
	@PASS_POFFDATE_CHK  AS CHAR(6)

 AS
BEGIN
	SET NOCOUNT ON;
	 		   
--DECLARE @BRANCHLIST        VARCHAR(7500)
--DECLARE @PASS_WBEG_CLASS   INT
--DECLARE @PASS_WEND_CLASS   INT 
--DECLARE @PASS_WBEG_IC      INT
--DECLARE @PASS_WEND_IC      INT 
--DECLARE @PASS_WBEG_ST      CHAR(2)
--DECLARE @PASS_WEND_ST      CHAR(2)
--DECLARE @PASS_POFFDATE_CHK CHAR(6)

--SET @BRANCHLIST        =  '10'
--SET @PASS_WBEG_CLASS   =  000
--SET @PASS_WEND_CLASS   =  999
--SET @PASS_WBEG_IC      =  00
--SET @PASS_WEND_IC      =  99
--SET @PASS_WBEG_ST      = 'AA'
--SET @PASS_WEND_ST      = 'ZZ'
--SET @PASS_POFFDATE_CHK = '201912'

CREATE TABLE #TEMP1_BRANCH_GROUP_TBL
   ( SEQ INT IDENTITY(1,1),
     BRNO SMALLINT ); 

INSERT INTO #TEMP1_BRANCH_GROUP_TBL (BRNO)
SELECT P.VALUE FROM STRING_SPLIT(@BRANCHLIST, ',') P;

            SELECT CAST(T1.SEQ AS SMALLINT),
	           	   LNFILE.LN_OWNBR,
                   LNFILE.LN_CLASS,
			       LPFILE.LP_ACCTNO,
			       LPFILE.LP_SEQNO,
                   CAST(LPFILE.LP_TRDATE AS VARCHAR(10)),
                   CAST(LPFILE.LP_PAYDATE AS VARCHAR(10)), 
                   LPFILE.LP_TRCD, 
                   LPFILE.LP_REFNO, 
                   LPFILE.LP_TRAMT,
                   LPFILE.LP_APINT,
                   LPFILE.LP_APCUR,
                   LPFILE.LP_SSNO,
                   LPFILE.LP_LT_SEQNO,
                   LPFILE.LP_REV

		     FROM #TEMP1_BRANCH_GROUP_TBL T1
	
	         INNER JOIN DBO.LNFILE LNFILE
	           ON LNFILE.LN_OWNBR = T1.BRNO
            
			INNER JOIN DBO.LPFILE LPFILE
			  ON LPFILE.LP_BRNO = LNFILE.LN_OWNBR
			  AND LPFILE.LP_ACCTNO = LNFILE.LN_ACCTNO
            
			WHERE LNFILE.LN_CLASS BETWEEN @PASS_WBEG_CLASS AND @PASS_WEND_CLASS
	         
			 AND LNFILE.LN_ORGST BETWEEN @PASS_WBEG_ST    AND @PASS_WEND_ST

	         AND ( (LNFILE.LN_INSCOMP_1 BETWEEN @PASS_WBEG_IC AND @PASS_WEND_IC)  OR
	               (LNFILE.LN_INSCOMP_2 BETWEEN @PASS_WBEG_IC AND @PASS_WEND_IC)  OR 
        		   (LNFILE.LN_INSCOMP_3 BETWEEN @PASS_WBEG_IC AND @PASS_WEND_IC)  )
	        
			 AND (LNFILE.LN_POCD NOT IN ('*I','*R','**', '*U') OR 
	              LNFILE.LN_POCD IN ('**', '*U') AND FORMAT(LNFILE.LN_POFFDATE,'yyyyMM') = @PASS_POFFDATE_CHK)

	         AND LPFILE.LP_SSNO != 999999999

            ORDER BY T1.SEQ, LNFILE.LN_CLASS, LPFILE.LP_ACCTNO, LPFILE.LP_SEQNO  DESC

END 
GO
