USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_REPAYE_LNFILE_SELECT]    Script Date: 4/16/2025 3:28:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_REPAYE_LNFILE_SELECT              */
/*               PROGRAM NAME: SP/REPAYE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 03/2025                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE BWFILE LTBFILE LTDFILE                           */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_REPAYE_LNFILE_SELECT]
    @QLN3_WBEG_OWNBR    AS INT,
    @QLN3_WBEG_CLASS    AS INT,
    @QLN3_WEND_CLASS    AS INT,
	@BEG_LNDATE         AS DATE,
	@END_LNDATE         AS DATE

 AS
BEGIN
	SET NOCOUNT ON;
		   
--DECLARE @QLN3_WBEG_OWNBR   INT
--DECLARE @QLN3_WBEG_CLASS   INT
--DECLARE @QLN3_WEND_CLASS   INT 
--DECLARE @BEG_LNDATE        DATE
--DECLARE @END_LNDATE        DATE

--SET @QLN3_WBEG_OWNBR   = 25
--SET @QLN3_WBEG_CLASS   =  000
--SET @QLN3_WEND_CLASS   =  999
--SET @BEG_LNDATE        = '1900-01-01'
--SET @END_LNDATE        = '2049-12-31'

          SELECT LNFILE.LN_OWNBR,
                  LNFILE.LN_ACCTNO,
                  LNFILE.LN_CLASS,
                  LNFILE.LN_SUBCLASS,
                  LNFILE.LN_LAWCODE,
                  LNFILE.LN_SSNO1,
                  LNFILE.LN_MAKERCD1,
                  LNFILE.LN_SSNO2,
                  LNFILE.LN_MAKERCD2,
                  LNFILE.LN_SSNO3,
                  LNFILE.LN_MAKERCD3,
                  LNFILE.LN_SSNO4,
                  LNFILE.LN_MAKERCD4,
                  LNFILE.LN_ORGST,
                  LNFILE.LN_ORGBR,
                  LNFILE.LN_OWNST,
                  LNFILE.LN_SPRCLASS,
                  LNFILE.LN_CONVERCD,
                  LNFILE.LN_MIDSTREAM,
                  LNFILE.LN_PURCD,
                  LNFILE.LN_SRCD,
                  LNFILE.LN_COLLCD,
                  LNFILE.LN_COLLID,
                  LNFILE.LN_POCD,
                  LNFILE.LN_PLCD,
                  LNFILE.LN_PLTYPE,
                  LNFILE.LN_CONFIDENTCD,
                  LNFILE.LN_ALLOTCD,
                  LNFILE.LN_RECASTCD,
                  LNFILE.LN_SKIP_TRW,
                  LNFILE.LN_STATUSFG,
                  LNFILE.LN_SMALLOAN,
                  LNFILE.LN_SALEFIN,
                  LNFILE.LN_SERVACCT,
                  LNFILE.LN_LOANTYPE,
                  LNFILE.LN_ADDON_FG,
                  LNFILE.LN_PAY_SCHLD_FG,
                  LNFILE.LN_LC_CODE,
                  LNFILE.LN_CAN_LOAN_NO,
                  LNFILE.LN_STATFLAGS,
                  CAST(LNFILE.LN_ENTDATE            AS VARCHAR(10)),
                  CAST(LNFILE.LN_LOANDATE           AS VARCHAR(10)),
                  CAST(LNFILE.LN_PURDATE            AS VARCHAR(10)),
                  CAST(LNFILE.LN_INTDATE            AS VARCHAR(10)),
                  CAST(LNFILE.LN_CASHDATE           AS VARCHAR(10)),
                  CAST(LNFILE.LN_FILEDATE           AS VARCHAR(10)),
                  CAST(LNFILE.LN_RESCISSION_DATE    AS VARCHAR(10)),
                  CAST(LNFILE.LN_PART_RECOURSE_DATE AS VARCHAR(10)),
                  CAST(LNFILE.LN_ORIG_1STPYDATE     AS VARCHAR(10)),
                  CAST(LNFILE.LN_1STPYDATE          AS VARCHAR(10)),
                  CAST(LNFILE.LN_JDDATE             AS VARCHAR(10)),
                  CAST(LNFILE.LN_PLDATE             AS VARCHAR(10)),
                  CAST(LNFILE.LN_PL_TRDATE          AS VARCHAR(10)),
                  CAST(LNFILE.LN_ACCELDATE          AS VARCHAR(10)),
                  CAST(LNFILE.LN_REDUDATE           AS VARCHAR(10)),
                  CAST(LNFILE.LN_POFFDATE           AS VARCHAR(10)),
                  CAST(LNFILE.LN_PO_TRDATE          AS VARCHAR(10)),
                  CAST(LNFILE.LN_LEGALDATE          AS VARCHAR(10)),
                  CAST(LNFILE.LN_BNKRPTDATE         AS VARCHAR(10)),
                  CAST(LNFILE.LN_BNKRPT_DISMISS_DATE   AS VARCHAR(10)),
                  CAST(LNFILE.LN_BNKRPT_DISCHARGE_DATE AS VARCHAR(10)),
                  CAST(LNFILE.LN_BNKRPT_REAFFIRM_DATE  AS VARCHAR(10)),
                  CAST(LNFILE.LN_DEBTAIDATE            AS VARCHAR(10)),
                  CAST(LNFILE.LN_REPODATE              AS VARCHAR(10)),
                  CAST(LNFILE.LN_REDEEMDATE            AS VARCHAR(10)),
                  CAST(LNFILE.LN_SOLDDATE              AS VARCHAR(10)),
                  CAST(LNFILE.LN_INS_CONFIRM_DATE      AS VARCHAR(10)),
                  CAST(LNFILE.LN_PRIOR_RN_FOR10_DATE   AS VARCHAR(10)),
                  CAST(LNFILE.LN_LAST_RN_FOR10_DATE    AS VARCHAR(10)),
                  CAST(LNFILE.LN_TRW_DOFD_DATE         AS VARCHAR(10)),
                  CAST(LNFILE.LN_LAST_PYPA_DATE        AS VARCHAR(10)),
                  CAST(LNFILE.LN_BT_TRDATE             AS VARCHAR(10)),
                  CAST(LNFILE.LN_METRO2_LAST_PMT_DATE  AS VARCHAR(10)),
                  CAST(LNFILE.LN_FOLLOWUP_DATE         AS VARCHAR(10)),
                  CAST(LNFILE.LN_LAST_ACCRUAL_DATE     AS VARCHAR(10)),
                  LNFILE.LN_APRATE,
                  LNFILE.LN_EFFRATE,
                  LNFILE.LN_SMPRATE,
                  LNFILE.LN_YLDRATE,
                  LNFILE.LN_OVRDRATE,
                  LNFILE.LN_ENDORATE,
                  LNFILE.LN_JDRATE,
                  LNFILE.LN_ACCRATE,
                  LNFILE.LN_REDURATE,
                  LNFILE.LN_CONRATE,
                  LNFILE.LN_SERVPER,
                  LNFILE.LN_SELLPR,
                  LNFILE.LN_DOWNPY,
                  LNFILE.LN_TRADEIN,
                  LNFILE.LN_LNAMT,
                  LNFILE.LN_FINCHG,
                  LNFILE.LN_INTCHG,
                  LNFILE.LN_SERCHG,
                  LNFILE.LN_EXTCHG,
                  LNFILE.LN_MAINTFEE,
                  LNFILE.LN_POINTS,
                  LNFILE.LN_PROCEEDS,
                  LNFILE.LN_ORGTERM,
                  LNFILE.LN_1STPYAMT,
                  LNFILE.LN_NOREGPY,
                  LNFILE.LN_REGPYAMT,
                  LNFILE.LN_LASTPYAMT,
                  LNFILE.LN_PROCASH,
                  LNFILE.LN_TILLNO,
                  LNFILE.LN_STATE_FLAG,
                  LNFILE.LN_STATE_WORKER,
                  LNFILE.LN_STATE_WORKER2,
                  LNFILE.LN_FEECODE_1,
                  LNFILE.LN_FEEAMT_1,
                  LNFILE.LN_FEEOURS_1,
                  LNFILE.LN_FEEFINCHG_1,
                  LNFILE.LN_FEECODE_2,
                  LNFILE.LN_FEEAMT_2,
                  LNFILE.LN_FEEOURS_2,
                  LNFILE.LN_FEEFINCHG_2,
                  LNFILE.LN_FEECODE_3,
                  LNFILE.LN_FEEAMT_3,
                  LNFILE.LN_FEEOURS_3,
                  LNFILE.LN_FEEFINCHG_3,
                  LNFILE.LN_FEECODE_4,
                  LNFILE.LN_FEEAMT_4,
                  LNFILE.LN_FEEOURS_4,
                  LNFILE.LN_FEEFINCHG_4,
                  LNFILE.LN_FEECODE_5,
                  LNFILE.LN_FEEAMT_5,
                  LNFILE.LN_FEEOURS_5,
                  LNFILE.LN_FEEFINCHG_5,
                  LNFILE.LN_FEECODE_6,
                  LNFILE.LN_FEEAMT_6,
                  LNFILE.LN_FEEOURS_6,
                  LNFILE.LN_FEEFINCHG_6,
                  LNFILE.LN_FEECODE_7,
                  LNFILE.LN_FEEAMT_7,
                  LNFILE.LN_FEEOURS_7,
                  LNFILE.LN_FEEFINCHG_7,
                  LNFILE.LN_FEECODE_8,
                  LNFILE.LN_FEEAMT_8,
                  LNFILE.LN_FEEOURS_8,
                  LNFILE.LN_FEEFINCHG_8,
                  LNFILE.LN_FEECODE_9,
                  LNFILE.LN_FEEAMT_9,
                  LNFILE.LN_FEEOURS_9,
                  LNFILE.LN_FEEFINCHG_9,
                  LNFILE.LN_FEECODE_10,
                  LNFILE.LN_FEEAMT_10,
                  LNFILE.LN_FEEOURS_10,
                  LNFILE.LN_FEEFINCHG_10,
                  LNFILE.LN_FEECODE_11,
                  LNFILE.LN_FEEAMT_11,
                  LNFILE.LN_FEEOURS_11,
                  LNFILE.LN_FEEFINCHG_11,
                  LNFILE.LN_FEECODE_12,
                  LNFILE.LN_FEEAMT_12,
                  LNFILE.LN_FEEOURS_12,
                  LNFILE.LN_FEEFINCHG_12,
                  LNFILE.LN_FEECODE_13,
                  LNFILE.LN_FEEAMT_13,
                  LNFILE.LN_FEEOURS_13,
                  LNFILE.LN_FEEFINCHG_13,
                  LNFILE.LN_FEECODE_14,
                  LNFILE.LN_FEEAMT_14,
                  LNFILE.LN_FEEOURS_14,
                  LNFILE.LN_FEEFINCHG_14,
                  LNFILE.LN_FEECODE_15,
                  LNFILE.LN_FEEAMT_15,
                  LNFILE.LN_FEEOURS_15,
                  LNFILE.LN_FEEFINCHG_15,
                  LNFILE.LN_FEECODE_16,
                  LNFILE.LN_FEEAMT_16,
                  LNFILE.LN_FEEOURS_16,
                  LNFILE.LN_FEEFINCHG_16,
                  LNFILE.LN_FEECODE_17,
                  LNFILE.LN_FEEAMT_17,
                  LNFILE.LN_FEEOURS_17,
                  LNFILE.LN_FEEFINCHG_17,
                  LNFILE.LN_FEECODE_18,
                  LNFILE.LN_FEEAMT_18,
                  LNFILE.LN_FEEOURS_18,
                  LNFILE.LN_FEEFINCHG_18,
                  LNFILE.LN_FEECODE_19,
                  LNFILE.LN_FEEAMT_19,
                  LNFILE.LN_FEEOURS_19,
                  LNFILE.LN_FEEFINCHG_19,
                  LNFILE.LN_FEECODE_20,
                  LNFILE.LN_FEEAMT_20,
                  LNFILE.LN_FEEOURS_20,
                  LNFILE.LN_FEEFINCHG_20,
                  LNFILE.LN_INSURED,
                  LNFILE.LN_INSTYPES,
                  LNFILE.LN_INSELIGIBLE,
                  LNFILE.LN_INSCOMP_1,
                  LNFILE.LN_INSOURS_1,
                  CAST(LNFILE.LN_INSEFF_DATE_1 AS VARCHAR(10)),
                  CAST(LNFILE.LN_INSEXP_DATE_1 AS VARCHAR(10)),
                  LNFILE.LN_INSPREM_1,
                  LNFILE.LN_INSCOVR_1,
                  LNFILE.LN_INSCOMM_1,
                  LNFILE.LN_INSANTICERN_1,
                  LNFILE.LN_INSANTICADJ_1,
                  LNFILE.LN_INSUFERN_1,
                  LNFILE.LN_INSACCERN_1,
                  LNFILE.LN_INSEARN_ORDER_1,
                  LNFILE.LN_INSFINCHG_1,
                  LNFILE.LN_INSCOMP_2,
                  LNFILE.LN_INSOURS_2,
                  CAST(LNFILE.LN_INSEFF_DATE_2 AS VARCHAR(10)),
                  CAST(LNFILE.LN_INSEXP_DATE_2 AS VARCHAR(10)),
                  LNFILE.LN_INSPREM_2,
                  LNFILE.LN_INSCOVR_2,
                  LNFILE.LN_INSCOMM_2,
                  LNFILE.LN_INSANTICERN_2,
                  LNFILE.LN_INSANTICADJ_2,
                  LNFILE.LN_INSUFERN_2,
                  LNFILE.LN_INSACCERN_2,
                  LNFILE.LN_INSEARN_ORDER_2,
                  LNFILE.LN_INSFINCHG_2,
                  LNFILE.LN_INSCOMP_3,
                  LNFILE.LN_INSOURS_3,
                  CAST(LNFILE.LN_INSEFF_DATE_3 AS VARCHAR(10)),
                  CAST(LNFILE.LN_INSEXP_DATE_3 AS VARCHAR(10)),
                  LNFILE.LN_INSPREM_3,
                  LNFILE.LN_INSCOVR_3,
                  LNFILE.LN_INSCOMM_3,
                  LNFILE.LN_INSANTICERN_3,
                  LNFILE.LN_INSANTICADJ_3,
                  LNFILE.LN_INSUFERN_3,
                  LNFILE.LN_INSACCERN_3,
                  LNFILE.LN_INSEARN_ORDER_3,
                  LNFILE.LN_INSFINCHG_3,
                  LNFILE.LN_INSCOMP_4,
                  LNFILE.LN_INSOURS_4,
                  CAST(LNFILE.LN_INSEFF_DATE_4 AS VARCHAR(10)),
                  CAST(LNFILE.LN_INSEXP_DATE_4 AS VARCHAR(10)),
                  LNFILE.LN_INSPREM_4,
                  LNFILE.LN_INSCOVR_4,
                  LNFILE.LN_INSCOMM_4,
                  LNFILE.LN_INSANTICERN_4,
                  LNFILE.LN_INSANTICADJ_4,
                  LNFILE.LN_INSUFERN_4,
                  LNFILE.LN_INSACCERN_4,
                  LNFILE.LN_INSEARN_ORDER_4,
                  LNFILE.LN_INSFINCHG_4,
                  LNFILE.LN_INSCOMP_5,
                  LNFILE.LN_INSOURS_5,
                  CAST(LNFILE.LN_INSEFF_DATE_5 AS VARCHAR(10)),
                  CAST(LNFILE.LN_INSEXP_DATE_5 AS VARCHAR(10)),
                  LNFILE.LN_INSPREM_5,
                  LNFILE.LN_INSCOVR_5,
                  LNFILE.LN_INSCOMM_5,
                  LNFILE.LN_INSANTICERN_5,
                  LNFILE.LN_INSANTICADJ_5,
                  LNFILE.LN_INSUFERN_5,
                  LNFILE.LN_INSACCERN_5,
                  LNFILE.LN_INSEARN_ORDER_5,
                  LNFILE.LN_INSFINCHG_5,
                  LNFILE.LN_INSCOMP_6,
                  LNFILE.LN_INSOURS_6,
                  CAST(LNFILE.LN_INSEFF_DATE_6 AS VARCHAR(10)),
                  CAST(LNFILE.LN_INSEXP_DATE_6 AS VARCHAR(10)),
                  LNFILE.LN_INSPREM_6,
                  LNFILE.LN_INSCOVR_6,
                  LNFILE.LN_INSCOMM_6,
                  LNFILE.LN_INSANTICERN_6,
                  LNFILE.LN_INSANTICADJ_6,
                  LNFILE.LN_INSUFERN_6,
                  LNFILE.LN_INSACCERN_6,
                  LNFILE.LN_INSEARN_ORDER_6,
                  LNFILE.LN_INSFINCHG_6,
                  LNFILE.LN_INSCOMP_7,
                  LNFILE.LN_INSOURS_7,
                  CAST(LNFILE.LN_INSEFF_DATE_7 AS VARCHAR(10)),
                  CAST(LNFILE.LN_INSEXP_DATE_7 AS VARCHAR(10)),
                  LNFILE.LN_INSPREM_7,
                  LNFILE.LN_INSCOVR_7,
                  LNFILE.LN_INSCOMM_7,
                  LNFILE.LN_INSANTICERN_7,
                  LNFILE.LN_INSANTICADJ_7,
                  LNFILE.LN_INSUFERN_7,
                  LNFILE.LN_INSACCERN_7,
                  LNFILE.LN_INSEARN_ORDER_7,
                  LNFILE.LN_INSFINCHG_7,
                  LNFILE.LN_INSCOMP_8,
                  LNFILE.LN_INSOURS_8,
                  CAST(LNFILE.LN_INSEFF_DATE_8 AS VARCHAR(10)),
                  CAST(LNFILE.LN_INSEXP_DATE_8 AS VARCHAR(10)),
                  LNFILE.LN_INSPREM_8,
                  LNFILE.LN_INSCOVR_8,
                  LNFILE.LN_INSCOMM_8,
                  LNFILE.LN_INSANTICERN_8,
                  LNFILE.LN_INSANTICADJ_8,
                  LNFILE.LN_INSUFERN_8,
                  LNFILE.LN_INSACCERN_8,
                  LNFILE.LN_INSEARN_ORDER_8,
                  LNFILE.LN_INSFINCHG_8,
                  LNFILE.LN_INSCOMP_9,
                  LNFILE.LN_INSOURS_9,
                  CAST(LNFILE.LN_INSEFF_DATE_9 AS VARCHAR(10)),
                  CAST(LNFILE.LN_INSEXP_DATE_9 AS VARCHAR(10)),
                  LNFILE.LN_INSPREM_9,
                  LNFILE.LN_INSCOVR_9,
                  LNFILE.LN_INSCOMM_9,
                  LNFILE.LN_INSANTICERN_9,
                  LNFILE.LN_INSANTICADJ_9,
                  LNFILE.LN_INSUFERN_9,
                  LNFILE.LN_INSACCERN_9,
                  LNFILE.LN_INSEARN_ORDER_9,
                  LNFILE.LN_INSFINCHG_9,
                  LNFILE.LN_INSCOMP_10,
                  LNFILE.LN_INSOURS_10,
                  CAST(LNFILE.LN_INSEFF_DATE_10 AS VARCHAR(10)),
                  CAST(LNFILE.LN_INSEXP_DATE_10 AS VARCHAR(10)),
                  LNFILE.LN_INSPREM_10,
                  LNFILE.LN_INSCOVR_10,
                  LNFILE.LN_INSCOMM_10,
                  LNFILE.LN_INSANTICERN_10,
                  LNFILE.LN_INSANTICADJ_10,
                  LNFILE.LN_INSUFERN_10,
                  LNFILE.LN_INSACCERN_10,
                  LNFILE.LN_INSEARN_ORDER_10,
                  LNFILE.LN_INSFINCHG_10,
                  LNFILE.LN_PY_YYYYMM_RECDEL,
                  LNFILE.LN_MTD_PAYS_RECDEL,
                  LNFILE.LN_GARNISH_EXTR,
                  LNFILE.LN_SHIP_SAME_FG,
                  LNFILE.LN_AD_D_INS_COVR,
                  LNFILE.LN_TOT_PARTIAL_CHGOFF,
                  LNFILE.LN_LPO,
                  LNFILE.LN_REP_CD,
                  LNFILE.LN_EMP_ID,
                  LNFILE.LN_PROCESS_CD,
                  LNFILE.LN_WCBC_CREDITLIM,
                  LNFILE.LN_FOLLOWUP_CD,
                  LNFILE.LN_MIP_FG,
                  LNFILE.LN_MIP_MTD_CLAHPAID,
                  CAST(LNFILE.LN_MIP_CLPDTH_DATE AS VARCHAR(10)),
                  LNFILE.LN_MIP_TOT_CLPAID,
                  CAST(LNFILE.LN_MIP_AHPDTH_DATE AS VARCHAR(10)),
                  LNFILE.LN_MIP_TOT_AHPAID,
                  LNFILE.LN_IL_GROSS_INCOME,
                  LNFILE.LN_IL_GROSS_INCOME2,
                  LNFILE.LN_RESCISSION,
                  LNFILE.LN_INTERIM_TRW,
                  LNFILE.LN_DLNO,
                  LNFILE.LN_DLPOOL,
                  LNFILE.LN_DLRECOURSE,
                  LNFILE.LN_DLPARTRCAMT,
                  LNFILE.LN_ORIGPURAMT,
                  LNFILE.LN_PURBAL,
                  LNFILE.LN_DLRVPRIN_1,
                  LNFILE.LN_DLRVPRIN_2,
                  LNFILE.LN_DLRVPRIN_3,
                  LNFILE.LN_DLRVCHGS_1,
                  LNFILE.LN_DLRVCHGS_2,
                  LNFILE.LN_DLRVCHGS_3,
                  LNFILE.LN_DLPARVHELD,
                  LNFILE.LN_DLPARVPAID,
                  LNFILE.LN_DLDISC,
                  CAST(LNFILE.LN_LCPDTH_DATE  AS VARCHAR(10)),
                  CAST(LNFILE.LN_INTPDTH_DATE AS VARCHAR(10)),
                  LNFILE.LN_CURBAL,
                  LNFILE.LN_INTBAL,
                  LNFILE.LN_LCBAL,
                  LNFILE.LN_OTHBAL,
                  LNFILE.LN_OT2BAL,
                  LNFILE.LN_LCPAID,
                  LNFILE.LN_LCPARTIALS,
                  LNFILE.LN_STMT_COUNTER,
                  LNFILE.LN_PRIOR_STMT_COUNTER,
                  LNFILE.LN_FROZEN_REASON,
                  LNFILE.LN_COUPON_STATEMENT,
                  LNFILE.LN_MONTHEND_BAL,
                  LNFILE.LN_ANTICTERM,
                  LNFILE.LN_ANTICERN_1,
                  LNFILE.LN_ANTICADJ_1,
                  LNFILE.LN_UFERN_1,
                  LNFILE.LN_ACCERN_1,
                  LNFILE.LN_EARN_ORDER_1,
                  LNFILE.LN_ANTICERN_2,
                  LNFILE.LN_ANTICADJ_2,
                  LNFILE.LN_UFERN_2,
                  LNFILE.LN_ACCERN_2,
                  LNFILE.LN_EARN_ORDER_2,
                  LNFILE.LN_ANTICERN_3,
                  LNFILE.LN_ANTICADJ_3,
                  LNFILE.LN_UFERN_3,
                  LNFILE.LN_ACCERN_3,
                  LNFILE.LN_EARN_ORDER_3,
                  LNFILE.LN_ANTICERN_4,
                  LNFILE.LN_ANTICADJ_4,
                  LNFILE.LN_UFERN_4,
                  LNFILE.LN_ACCERN_4,
                  LNFILE.LN_EARN_ORDER_4,
                  LNFILE.LN_ANTICERN_5,
                  LNFILE.LN_ANTICADJ_5,
                  LNFILE.LN_UFERN_5,
                  LNFILE.LN_ACCERN_5,
                  LNFILE.LN_EARN_ORDER_5,
                  LNFILE.LN_ANTICERN_6,
                  LNFILE.LN_ANTICADJ_6,
                  LNFILE.LN_UFERN_6,
                  LNFILE.LN_ACCERN_6,
                  LNFILE.LN_EARN_ORDER_6,
                  LNFILE.LN_ANTICERN_7,
                  LNFILE.LN_ANTICADJ_7,
                  LNFILE.LN_UFERN_7,
                  LNFILE.LN_ACCERN_7,
                  LNFILE.LN_EARN_ORDER_7,
                  LNFILE.LN_ANTICERN_8,
                  LNFILE.LN_ANTICADJ_8,
                  LNFILE.LN_UFERN_8,
                  LNFILE.LN_ACCERN_8,
                  LNFILE.LN_EARN_ORDER_8,
                  LNFILE.LN_ANTICERN_9,
                  LNFILE.LN_ANTICADJ_9,
                  LNFILE.LN_UFERN_9,
                  LNFILE.LN_ACCERN_9,
                  LNFILE.LN_EARN_ORDER_9,
                  LNFILE.LN_ANTICERN_10,
                  LNFILE.LN_ANTICADJ_10,
                  LNFILE.LN_UFERN_10,
                  LNFILE.LN_ACCERN_10,
                  LNFILE.LN_EARN_ORDER_10,
                  LNFILE.LN_LMO_PRIOR_INTEREST,
                  LNFILE.LN_PRIOR_UNEARNED,
                  LNFILE.LN_ERNDELQ_STOP,
                  LNFILE.LN_NONACRERN,
                  LNFILE.LN_PRIOR_NONACRERN,
                  CAST(LNFILE.LN_ERN_IB_PDTH_DATE AS VARCHAR(10)),
                  LNFILE.LN_ERN_IB_PRINBAL,
                  LNFILE.LN_ERN_IB_INTOWE,
                  LNFILE.LN_TOTERN,
                  LNFILE.LN_TOTOTH,
                  LNFILE.LN_TOTINT,
                  LNFILE.LN_TOTLCHG,
                  LNFILE.LN_TOTDEF,
                  LNFILE.LN_TOTSERACCT,
                  LNFILE.LN_LCWAIVERS,
                  LNFILE.LN_INTWAIVERS,
                  LNFILE.LN_TOTPAYMNTD,
                  LNFILE.LN_TOTEXCPAYMNTD,
                  LNFILE.LN_TOTNODEF,
                  LNFILE.LN_YTDNODEF,
                  LNFILE.LN_TOTNODEFACT,
                  LNFILE.LN_YTDNODEFACT,
                  LNFILE.LN_TOTNOALDEL,
                  LNFILE.LN_YTDNOALDEL,
                  LNFILE.LN_YTDINTPD,
                  LNFILE.LN_LYRINTPD,
                  LNFILE.LN_TOTINTPD,
                  LNFILE.LN_RECASTINT,
                  LNFILE.LN_RECASTPRIN,
                  LNFILE.LN_CL_REBATE,
                  LNFILE.LN_AH_REBATE,
                  LNFILE.LN_PP_REBATE,
                  LNFILE.LN_INT_REBATE,
                  LNFILE.LN_SC_REBATE,
                  LNFILE.LN_MF_REBATE,
                  LNFILE.LN_DF_REBATE,
                  LNFILE.LN_EX_REBATE,
                  LNFILE.LN_O1_REBATE,
                  LNFILE.LN_O2_REBATE,
                  LNFILE.LN_O3_REBATE,
                  LNFILE.LN_O4_REBATE,
                  LNFILE.LN_O5_REBATE,
                  LNFILE.LN_O6_REBATE,
                  LNFILE.LN_O7_REBATE,
                  LNFILE.LN_UN_O7_REB,
                  LNFILE.LN_UN_O8_REB,
                  LNFILE.LN_UN_O9_REB,
                  LNFILE.LN_UN_O10_REB,
                  LNFILE.LN_PLREASON,
                  LNFILE.LN_COLLECTOR,
                  LNFILE.LN_ACTIONCD,
                  LNFILE.LN_ACTIONCD2,
                  LNFILE.LN_ATCODE,
                  LNFILE.LN_RECODE,
                  LNFILE.LN_ESCROW_FG,
                  LNFILE.LN_PROMDAYS_PASTDUE,
                  LNFILE.LN_PROMID,
                  CAST(LNFILE.LN_PROMDATE AS VARCHAR(10)),
                  LNFILE.LN_PROMAMT,
                  CAST(LNFILE.LN_PROMDATE2       AS VARCHAR(10)),
                  CAST(LNFILE.LN_DATE_PAID_LAST  AS VARCHAR(10)),
                  LNFILE.LN_AMT_PAID_LAST,
                  LNFILE.LN_LASTCFORMNO,
                  CAST(LNFILE.LN_LASTCFORMDATE   AS VARCHAR(10)),
                  LNFILE.LN_DELCNT,
                  LNFILE.LN_DELCNT2,
                  LNFILE.LN_CREDITLIM,
                  LNFILE.LN_CRSCORE,
                  LNFILE.LN_LASTSFORMNO,
                  CAST(LNFILE.LN_LASTSFORMDATE   AS VARCHAR(10)),
                  LNFILE.LN_SOLCNT,
                  LNFILE.LN_MESSAGE,
                  LNFILE.LN_OLDACCTNO,
                  LNFILE.LN_PRLNNO,
                  LNFILE.LN_PRBAL,
                  LNFILE.LN_PRINTDUE,
                  LNFILE.LN_PRFINCHGRB,
                  LNFILE.LN_PRINSRB,
                  LNFILE.LN_PRPOCD,
                  CAST(LNFILE.LN_PRPODATE AS VARCHAR(10)),
                  LNFILE.LN_PRDELINQAMT,
                  LNFILE.LN_PRLNAMT,
                  LNFILE.LN_PRPDUE_DAYS,
                  LNFILE.LN_PRDLDISC_UNEARN,
                  LNFILE.LN_PRCONPROFILE,
                  LNFILE.LN_SUM_ORIGPURAMT,
                  LNFILE.LN_SUM_LNAMT,
                  LNFILE.LN_SUM_FINCHG,
                  LNFILE.LN_SUM_INTCHG,
                  LNFILE.LN_SUM_ORGTERM,
                  LNFILE.LN_SUM_REGPYAMT,
                  LNFILE.LN_SUM_EXTCHG,
                  LNFILE.LN_SUM_SERCHG,
                  LNFILE.LN_SUM_MAINTFEE,
                  LNFILE.LN_UNITPER_CD,
                  LNFILE.LN_UNITPER_FREQ,
                  LNFILE.LN_DAYS_IN_UNITPER,
                  LNFILE.LN_UNITPER_PER_YEAR,
                  LNFILE.LN_REPOCD,
                  LNFILE.LN_BR_TFR_FG,
                  LNFILE.LN_O3INS_DLPROC,
                  LNFILE.LN_INSPREM_DLADJ,
                  LNFILE.LN_PLAMT,
                  LNFILE.LN_MTD_PRIN,
                  LNFILE.LN_MTD_LC,
                  LNFILE.LN_MTD_INT,
                  LNFILE.LN_MTD_OT,
                  LNFILE.LN_MTD_EX,
                  LNFILE.LN_BNKRPT_CHAPTER,
                  LNFILE.LN_BMO_CON_STATUS,
                  LNFILE.LN_BMO_REC_STATUS,
                  LNFILE.LN_APP_NUMBER,
                  LNFILE.LN_GIFTNET,
                  LNFILE.LN_GIFTNET_OUR_PO,
                  LNFILE.LN_PROC_DISBURSED,
                  LNFILE.LN_NOODDPY,
                  LNFILE.LN_CONPROFILE_1,
                  LNFILE.LN_CONPROFILE_2,
                  LNFILE.LN_CONPROFILE_3,
                  LNFILE.LN_CONPROFILE_4,
                  LNFILE.LN_CONPROFILE_5,
                  LNFILE.LN_RECPROFILE_1,
                  LNFILE.LN_RECPROFILE_2,
                  LNFILE.LN_RECPROFILE_3,
                  LNFILE.LN_RECPROFILE_4,
                  LNFILE.LN_RECPROFILE_5,
                  LNFILE.LN_TRW_STATUS,
                  LNFILE.LN_ORIGIN,
                  LNFILE.LN_PO_TRCD,
                  LNFILE.LN_NEXIS_CRSCORE,
                  LNFILE.LN_TRW_B_CONSUMER_IND,
                  LNFILE.LN_PARVHELD_PAID_FG,
                  LNFILE.LN_ACCT_FROZEN,
                  LNFILE.LN_TRW_SPECIAL_CODE,
                  LNFILE.LN_CREATION_STATUS,
                  LNFILE.LN_TOTNOLCHG,
                  LNFILE.LN_LBOX,
                  LNFILE.LN_EXTRA_PRIN_LFP,
                  LNFILE.LN_REMAIN_INT_SINCE_LFP,
                  LNFILE.LN_REMAIN_PRIN_SINCE_LFP,
                  LNFILE.LN_INTERIM_COUPON,
                  LNFILE.LN_DLCOMM_O3_CMSI,
                  LNFILE.LN_DLCOMM_PP_CMSI,
                  LNFILE.LN_TRW_J_CONSUMER_IND,
                  LNFILE.LN_ACH,
                  LNFILE.LN_1099_C_FG,
                  LNFILE.LN_TRW_COMPLIANCE_CODE,
                  LNFILE.LN_UNWIND_REASON_CODE,
                  LNFILE.LN_PBI_PBD_FG,
                  LNFILE.LN_OLD_ACCT_FORMAT_FG,
                  LNFILE.LN_APPROVED_BY_USER,
                  LNFILE.LN_APPROVED_BY_CODE,
                  CAST(LNFILE.LN_APPROVED_BY_DATE  AS VARCHAR(10)),
                  LNFILE.LN_APPROVED_BY_TIME,
                  CAST(LNFILE.LN_LTOUCH_DATE       AS VARCHAR(10)),
                  LNFILE.LN_LTOUCH_TIME,
                  LNFILE.LN_LOS_APP_ID,
                  BWFILE.BW_OWNBR, 
                  BWFILE.BW_SSNO, 
                  BWFILE.BW_LNAME, 
                  BWFILE.BW_FNAME, 
                  BWFILE.BW_ADR1, 
                  BWFILE.BW_ADR2, 
                  BWFILE.BW_CITY, 
                  BWFILE.BW_STATE, 
                  BWFILE.BW_ZIP, 
                  CAST(BWFILE.BW_BDATE AS VARCHAR(10)), 
                  BWFILE.BW_PHONE,
                  BWFILE.BW_CELL_PHONE,
                  ISNULL(BWFILE2.BW_LNAME,''),
                  ISNULL(BWFILE2.BW_FNAME,''),
                  ISNULL(LTDFILE.LTD_DEBIT_CARD_AMT,0),
                  ISNULL(LTBFILE.LTB_BRNO,0),
                  ISNULL(CAST(LTBFILE.LTB_REAFF_DATE     AS VARCHAR(10)),'0'),
                  ISNULL(CAST(LTBFILE.LTB_RESCIND_DATE   AS VARCHAR(10)),'0'),
                  ISNULL(CAST(LTBFILE.LTB_DISCHARGE_DATE AS VARCHAR(10)),'0')
          FROM DBO.LNFILE LNFILE

          LEFT OUTER JOIN DBO.BWFILE BWFILE2
            ON BWFILE2.BW_OWNBR = LNFILE.LN_OWNBR 
           AND BWFILE2.BW_SSNO  = LNFILE.LN_SSNO2

          LEFT OUTER JOIN DBO.LTDFILE LTDFILE
            ON LTDFILE.LTD_BRNO   = LNFILE.LN_OWNBR 
           AND LTDFILE.LTD_ACCTNO = LNFILE.LN_ACCTNO
           AND LTDFILE.LTD_SEQNO  = 1

          LEFT OUTER JOIN DBO.LTBFILE LTBFILE
            ON LTBFILE.LTB_BRNO   = LNFILE.LN_OWNBR 
           AND LTBFILE.LTB_ACCTNO = LNFILE.LN_ACCTNO
           AND LTBFILE.LTB_SEQNO  = 1

          INNER JOIN DBO.BWFILE BWFILE
           ON BWFILE.BW_OWNBR = LNFILE.LN_OWNBR 
          AND BWFILE.BW_SSNO  = LNFILE.LN_SSNO1

        WHERE LNFILE.LN_OWNBR    = @QLN3_WBEG_OWNBR
          AND LNFILE.LN_CLASS    BETWEEN @QLN3_WBEG_CLASS AND @QLN3_WEND_CLASS
          AND LNFILE.LN_POCD     NOT IN ('**', '*I', '*R', '*U')
          AND LNFILE.LN_LOANDATE BETWEEN @BEG_LNDATE AND @END_LNDATE
          AND (LNFILE.LN_CURBAL  > 0 OR LNFILE.LN_INTBAL > 0 OR LNFILE.LN_LCBAL > 0 OR LNFILE.LN_OTHBAL > 0)
          AND LNFILE.LN_DLPOOL   < 80000
          AND (LNFILE.LN_PLDATE = '1900-01-01' OR LNFILE.LN_PLDATE > '2010-01-01')
          AND (LNFILE.LN_PLDATE = '1900-01-01' OR LNFILE.LN_POFFDATE = '1900-01-01')
         
		 ORDER BY LNFILE.LN_CLASS, LNFILE.LN_ACCTNO 

END 
GO
