USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_SUMTRL_GLFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*********************************************************************/
/*      STORED PROCEDURE NAME: SP_SUMTRL_GLFILE_SELECT               */
/*               PROGRAM NAME: GL/SUMTRL.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: GLFILE                                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_SUMTRL_GLFILE_SELECT]
    @QGL1_WBEG_BR_ACCOUNT  AS BIGINT,
	@QGL1_WEND_BR_ACCOUNT  AS BIGINT 
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QGL1_WBEG_BR_ACCOUNT BIGINT
--DECLARE @QGL1_WEND_BR_ACCOUNT BIGINT 

--SET     @QGL1_WBEG_BR_ACCOUNT = 15040000000  
--SET     @QGL1_WEND_BR_ACCOUNT = 15049999999 
 
    SELECT GLFILE.GL_BR_ACCOUNT,
           GLFILE.GL_DESCRIPTION,
           GLFILE.GL_OPENBAL,
           GLFILE.GL_CYBAL_1,
           GLFILE.GL_CYBAL_2,
           GLFILE.GL_CYBAL_3,
           GLFILE.GL_CYBAL_4,
           GLFILE.GL_CYBAL_5,
           GLFILE.GL_CYBAL_6,
           GLFILE.GL_CYBAL_7,
           GLFILE.GL_CYBAL_8,
           GLFILE.GL_CYBAL_9,
           GLFILE.GL_CYBAL_10,
           GLFILE.GL_CYBAL_11,
           GLFILE.GL_CYBAL_12,
           GLFILE.GL_LYBAL_1,
           GLFILE.GL_LYBAL_2,
           GLFILE.GL_LYBAL_3,
           GLFILE.GL_LYBAL_4,
           GLFILE.GL_LYBAL_5,
           GLFILE.GL_LYBAL_6,
           GLFILE.GL_LYBAL_7,
           GLFILE.GL_LYBAL_8,
           GLFILE.GL_LYBAL_9,
           GLFILE.GL_LYBAL_10,
           GLFILE.GL_LYBAL_11,
           GLFILE.GL_LYBAL_12,
           GLFILE.GL_TYPE,
           GLFILE.GL_CLEAR,
           GLFILE.GL_LYOPENBAL
     FROM DBO.GLFILE
    WHERE GLFILE.GL_BR_ACCOUNT >= @QGL1_WBEG_BR_ACCOUNT
      AND GLFILE.GL_BR_ACCOUNT <= @QGL1_WEND_BR_ACCOUNT
    ORDER BY GLFILE.GL_BR_ACCOUNT

END
GO
