USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_GIAPPR_GIFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_GIAPPR_GIFILE_SELECT              */
/*               PROGRAM NAME: LS/GIAPPR.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: GIFILE                                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_GIAPPR_GIFILE_SELECT]
    @QGI1_WBEG_BRANCH      AS INT,
    @QGI1_WBEG_CLASS       AS INT,
    @QGI1_WEND_CLASS       AS INT 
 
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QGI1_WBEG_BRANCH   INT
--DECLARE @QGI1_WBEG_CLASS    INT
--DECLARE @QGI1_WEND_CLASS    INT 
 
--SET     @QGI1_WBEG_BRANCH   = 1706
--SET     @QGI1_WBEG_CLASS    = 000 
--SET     @QGI1_WEND_CLASS    = 999 

   SELECT GIFILE.GI_BRANCH,
          GIFILE.GI_CLASS,
          GIFILE.GI_LN_APPROVAL_LIMIT
     FROM DBO.GIFILE
    WHERE GIFILE.GI_BRANCH        = @QGI1_WBEG_BRANCH
      AND GIFILE.GI_CLASS   BETWEEN @QGI1_WBEG_CLASS
                                AND @QGI1_WEND_CLASS
    ORDER BY GIFILE.GI_BRANCH,
             GIFILE.GI_CLASS

END
GO
