USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_TXMOR2_TRPFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_TXMOR2_TRPFILE_SELECT             */
/*               PROGRAM NAME: LP/TXMOR2.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 06/24/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRPFILE, LNFILE                                         */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/  

CREATE PROCEDURE [dbo].[SSP_TXMOR2_TRPFILE_SELECT]
    @QTRP1_WBEG_BRNO    AS INT,
    @QTRP1_WBEG_DATE    AS DATE,
    @QTRP1_WEND_DATE    AS DATE,
    @QTRP1_WBEG_CLASS   AS INT,
    @QTRP1_WEND_CLASS   AS INT,  
    @QWS_BEG_IC	        AS INT,
    @QWS_END_IC	        AS INT, 
    @QWS_BEG_ST	        AS CHAR(2),
    @QWS_END_ST	        AS CHAR(2)


 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRP1_WBEG_BRNO    INT
--DECLARE @QTRP1_WBEG_DATE    DATE
--DECLARE @QTRP1_WEND_DATE    DATE
--DECLARE @QTRP1_WBEG_CLASS   INT
--DECLARE @QTRP1_WEND_CLASS   INT
--DECLARE @QWS_BEG_IC         INT
--DECLARE @QWS_END_IC         INT 
--DECLARE @QWS_BEG_ST         CHAR(2)
--DECLARE @QWS_END_ST         CHAR(2)

--SET @QTRP1_WBEG_BRNO    =  1428
--SET @QTRP1_WBEG_DATE    =  '2021-01-01'
--SET @QTRP1_WEND_DATE    =  '2021-12-31'
--SET @QTRP1_WBEG_CLASS   =  000
--SET @QTRP1_WEND_CLASS   =  999
--SET @QWS_BEG_IC         =  00
--SET @QWS_END_IC         =  99
--SET @QWS_BEG_ST         =  '  ' 
--SET @QWS_END_ST         =  'ZZ' 

   SELECT TRPFILE.TP_BRNO,
          CAST(TRPFILE.TP_DATE AS VARCHAR(10)), 
          TRPFILE.TP_CLASS,
          TRPFILE.TP_ACCTNO,
          TRPFILE.TP_LINE,
          TRPFILE.TP_TRCD, 
          TRPFILE.TP_OTHBR_FG, 
          TRPFILE.TP_INSCOMP,
          TRPFILE.TP_INS_TAX_RB,
          TRPFILE.TP_INS_TAX_COUNTY_CD, 
          TRPFILE.TP_INS_TAX_CITY_CD, 
          LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_SUBCLASS,
          LNFILE.LN_LAWCODE,
          LNFILE.LN_SSNO1,
          LNFILE.LN_MAKERCD1, 
          LNFILE.LN_SSNO2,
          LNFILE.LN_MAKERCD2,
          LNFILE.LN_SSNO3,
          LNFILE.LN_MAKERCD3, 
          LNFILE.LN_SSNO4,
          LNFILE.LN_MAKERCD4, 
          LNFILE.LN_ORGST, 
          LNFILE.LN_SPRCLASS,
          LNFILE.LN_STATFLAGS, 
          CAST(LNFILE.LN_LOANDATE       AS VARCHAR(10)),
          CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)),
          CAST(LNFILE.LN_1STPYDATE      AS VARCHAR(10)),
          CAST(LNFILE.LN_POFFDATE       AS VARCHAR(10)),
          LNFILE.LN_ORGTERM,
          LNFILE.LN_FEECODE_1, 
          LNFILE.LN_FEECODE_2, 
          LNFILE.LN_FEECODE_3, 
          LNFILE.LN_FEECODE_4, 
          LNFILE.LN_FEECODE_5, 
          LNFILE.LN_FEECODE_6, 
          LNFILE.LN_FEECODE_7, 
          LNFILE.LN_FEECODE_8, 
          LNFILE.LN_FEECODE_9, 
          LNFILE.LN_FEECODE_10, 
          LNFILE.LN_FEECODE_11, 
          LNFILE.LN_FEECODE_12, 
          LNFILE.LN_FEECODE_13, 
          LNFILE.LN_FEECODE_14, 
          LNFILE.LN_FEECODE_15, 
          LNFILE.LN_FEECODE_16, 
          LNFILE.LN_FEECODE_17, 
          LNFILE.LN_FEECODE_18, 
          LNFILE.LN_FEECODE_19, 
          LNFILE.LN_FEECODE_20, 
          LNFILE.LN_FEEAMT_1,
          LNFILE.LN_FEEAMT_2,
          LNFILE.LN_FEEAMT_3,
          LNFILE.LN_FEEAMT_4,
          LNFILE.LN_FEEAMT_5,
          LNFILE.LN_FEEAMT_6,
          LNFILE.LN_FEEAMT_7,
          LNFILE.LN_FEEAMT_8,
          LNFILE.LN_FEEAMT_9,
          LNFILE.LN_FEEAMT_10,
          LNFILE.LN_FEEAMT_11,
          LNFILE.LN_FEEAMT_12,
          LNFILE.LN_FEEAMT_13,
          LNFILE.LN_FEEAMT_14,
          LNFILE.LN_FEEAMT_15,
          LNFILE.LN_FEEAMT_16,
          LNFILE.LN_FEEAMT_17,
          LNFILE.LN_FEEAMT_18,
          LNFILE.LN_FEEAMT_19,
          LNFILE.LN_FEEAMT_20,
          LNFILE.LN_INSURED, 
          LNFILE.LN_INSPREM_1,
          LNFILE.LN_INSPREM_2,
          LNFILE.LN_INSPREM_3,
          LNFILE.LN_INSPREM_4,
          LNFILE.LN_INSPREM_5,
          LNFILE.LN_INSPREM_6,
          LNFILE.LN_INSPREM_7,
          LNFILE.LN_INSPREM_8,
          LNFILE.LN_INSPREM_9,
          LNFILE.LN_INSPREM_10,
          LNFILE.LN_TOTNODEF,
          LNFILE.LN_SUM_ORGTERM,
          LNFILE.LN_UNITPER_CD, 
          LNFILE.LN_UNITPER_FREQ

     FROM DBO.TRPFILE TRPFILE
       INNER JOIN
          DBO.LNFILE  LNFILE
          ON ( LNFILE.LN_OWNBR           = TRPFILE.TP_BRNO
         AND   LNFILE.LN_ACCTNO          = TRPFILE.TP_ACCTNO 
         AND   LNFILE.LN_ORGST     BETWEEN @QWS_BEG_ST 
                                       AND @QWS_END_ST)
       WHERE ( TRPFILE.TP_BRNO           = @QTRP1_WBEG_BRNO   
         AND   TRPFILE.TP_DATE     BETWEEN @QTRP1_WBEG_DATE
                                       AND @QTRP1_WEND_DATE  
         AND   TRPFILE.TP_CLASS    BETWEEN @QTRP1_WBEG_CLASS
                                       AND @QTRP1_WEND_CLASS 
         AND   TRPFILE.TP_INSCOMP  BETWEEN @QWS_BEG_IC
                                       AND @QWS_END_IC
         AND   TRPFILE.TP_INS_TAX_RB    != 0 
         AND   TRPFILE.TP_OTHBR_FG      != 'C')

    ORDER BY TRPFILE.TP_BRNO,
             TRPFILE.TP_DATE,
             TRPFILE.TP_CLASS,
             TRPFILE.TP_ACCTNO,
             TRPFILE.TP_LINE;

END 
GO
