USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_EMLNRG_TRLFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_EMLNRG_TRLFILE_SELECT             */
/*               PROGRAM NAME: LP/EMLNRG.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRLFILE, LTCFILE, LNFILE, LTDILE, BWFILE, CDBFILE       */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_EMLNRG_TRLFILE_SELECT]
    @QTRL1_WBEG_BRNO    AS INT,
    @QTRL1_WBEG_DATE    AS DATE,
    @QTRL1_WEND_DATE    AS DATE,
    @QTRL1_WBEG_CLASS   AS INT,
    @QTRL1_WEND_CLASS   AS INT 
    
 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRL1_WBEG_BRNO  INT
--DECLARE @QTRL1_WBEG_DATE  DATE
--DECLARE @QTRL1_WEND_DATE  DATE
--DECLARE @QTRL1_WBEG_CLASS INT
--DECLARE @QTRL1_WEND_CLASS INT 
 
--SET @QTRL1_WBEG_BRNO      =  0010
--SET @QTRL1_WBEG_DATE      =  '2010-01-01'
--SET @QTRL1_WEND_DATE      =  '2023-12-31'
--SET @QTRL1_WBEG_CLASS     =  000
--SET @QTRL1_WEND_CLASS     =  999


   SELECT TRLFILE.TL_BRNO,
          CAST(TRLFILE.TL_DATE AS VARCHAR(10)), 
          TRLFILE.TL_CLASS,
          TRLFILE.TL_ACCTNO,
          TRLFILE.TL_LAWCODE,
          TRLFILE.TL_LINE,
          TRLFILE.TL_SSNO_1,
          TRLFILE.TL_SSNO_2,
          TRLFILE.TL_SSNO_3,
          TRLFILE.TL_SSNO_4,
          TRLFILE.TL_MAKERCD_1, 
          TRLFILE.TL_MAKERCD_2, 
          TRLFILE.TL_MAKERCD_3, 
          TRLFILE.TL_MAKERCD_4, 
          TRLFILE.TL_PURCD,  
          TRLFILE.TL_SRCD,  
          TRLFILE.TL_COLLCD, 
          CAST(TRLFILE.TL_LOANDATE AS VARCHAR(10)), 
          TRLFILE.TL_PROCEEDS,
          TRLFILE.TL_LNAMT,
          TRLFILE.TL_FINCHG,
          TRLFILE.TL_INTCHG,
          TRLFILE.TL_SERCHG,
          TRLFILE.TL_EXTCHG,
          TRLFILE.TL_MAINTFEE,
          TRLFILE.TL_ORGTERM,
          TRLFILE.TL_PROCASH,
          TRLFILE.TL_TILLNO,
          TRLFILE.TL_FEECODE_1, 
          TRLFILE.TL_FEECODE_2, 
          TRLFILE.TL_FEECODE_3, 
          TRLFILE.TL_FEECODE_4, 
          TRLFILE.TL_FEECODE_5, 
          TRLFILE.TL_FEECODE_6, 
          TRLFILE.TL_FEECODE_7, 
          TRLFILE.TL_FEECODE_8, 
          TRLFILE.TL_FEECODE_9, 
          TRLFILE.TL_FEECODE_10, 
          TRLFILE.TL_FEEAMT_1,
          TRLFILE.TL_FEEAMT_2,
          TRLFILE.TL_FEEAMT_3,
          TRLFILE.TL_FEEAMT_4,
          TRLFILE.TL_FEEAMT_5,
          TRLFILE.TL_FEEAMT_6,
          TRLFILE.TL_FEEAMT_7,
          TRLFILE.TL_FEEAMT_8,
          TRLFILE.TL_FEEAMT_9,
          TRLFILE.TL_FEEAMT_10,
          TRLFILE.TL_INSURED,
          TRLFILE.TL_INSTYPES,
          TRLFILE.TL_INSOURS_1, 
          TRLFILE.TL_INSOURS_2, 
          TRLFILE.TL_INSOURS_3, 
          TRLFILE.TL_INSOURS_4, 
          TRLFILE.TL_INSOURS_5, 
          TRLFILE.TL_INSOURS_6, 
          TRLFILE.TL_INSOURS_7, 
          TRLFILE.TL_INSOURS_8, 
          TRLFILE.TL_INSOURS_9, 
          TRLFILE.TL_INSOURS_10, 
          TRLFILE.TL_INSPREM_1,
          TRLFILE.TL_INSPREM_2,
          TRLFILE.TL_INSPREM_3,
          TRLFILE.TL_INSPREM_4,
          TRLFILE.TL_INSPREM_5,
          TRLFILE.TL_INSPREM_6,
          TRLFILE.TL_INSPREM_7,
          TRLFILE.TL_INSPREM_8,
          TRLFILE.TL_INSPREM_9,
          TRLFILE.TL_INSPREM_10,
          TRLFILE.TL_DLNO,
          TRLFILE.TL_PRLNNO,
          TRLFILE.TL_PRBAL,
          TRLFILE.TL_PRINTDUE,
          TRLFILE.TL_PRFINCHGRB,
          TRLFILE.TL_PRINSRB,
          TRLFILE.TL_STATE_WORKER,
          TRLFILE.TL_USERID,
          TRLFILE.TL_POSTTIME,
          TRLFILE.TL_APR,
          TRLFILE.TL_POINTS,
          TRLFILE.TL_DEBIT_CARD_AMT,
          TRLFILE.TL_EARNINGS_1,          
          TRLFILE.TL_EARNINGS_2,          
          TRLFILE.TL_EARNINGS_3,          
          TRLFILE.TL_EARNINGS_4,          
          TRLFILE.TL_EARNINGS_5,          
          TRLFILE.TL_EARNINGS_6,  
          ISNULL(LNFILE.LN_OWNBR, ' '),
          ISNULL(LNFILE.LN_ACCTNO, 0),
          ISNULL(LNFILE.LN_APRATE, 0),
          ISNULL(LNFILE.LN_CRSCORE, 0),
          ISNULL(LTCFILE.LTC_BRNO, 0),
          ISNULL(LTCFILE.LTC_ACCTNO, 0),
          ISNULL(LTCFILE.LTC_SEQNO, 0),
          ISNULL(LTCFILE.LTC_DESC_1,' '),
          ISNULL(LTCFILE.LTC_MAKE_1,' '),
          ISNULL(LTCFILE.LTC_MODEL_1,' '),
          ISNULL(LTCFILE.LTC_YEAR_1,' '),
          ISNULL(LTCFILE.LTC_STYLE_1,' '),
          ISNULL(LTCFILE.LTC_CLASS_1,' '),
          ISNULL(LTCFILE.LTC_VIN_1,' '),
          ISNULL(LTCFILE.LTC_TITLE_NO_1,' '),
          ISNULL(LTCFILE.LTC_MILEAGE_1, 0),
          ISNULL(LTCFILE.LTC_VALUE_1, 0),
          ISNULL(LTCFILE.LTC_SELLPR_1, 0),
          ISNULL(LTCFILE.LTC_MISC_AMT_1, 0),
          ISNULL(LTCFILE.LTC_SENT_FLAG_1,' '),
          ISNULL(CAST(LTCFILE.LTC_VIN_CHG_DATE_1
                                         AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTCFILE.LTC_DESC_2,' '),
          ISNULL(LTCFILE.LTC_MAKE_2,' '),
          ISNULL(LTCFILE.LTC_MODEL_2,' '),
          ISNULL(LTCFILE.LTC_YEAR_2,' '),
          ISNULL(LTCFILE.LTC_STYLE_2,' '),
          ISNULL(LTCFILE.LTC_CLASS_2,' '),
          ISNULL(LTCFILE.LTC_VIN_2,' '),
          ISNULL(LTCFILE.LTC_TITLE_NO_2,' '),
          ISNULL(LTCFILE.LTC_MILEAGE_2, 0),
          ISNULL(LTCFILE.LTC_VALUE_2, 0),
          ISNULL(LTCFILE.LTC_SELLPR_2, 0),
          ISNULL(LTCFILE.LTC_MISC_AMT_2, 0),
          ISNULL(LTCFILE.LTC_SENT_FLAG_2,' '),
          ISNULL(CAST(LTCFILE.LTC_VIN_CHG_DATE_2
                                         AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTDFILE.LTD_BRNO, 0),
          ISNULL(LTDFILE.LTD_ACCTNO, 0),
          ISNULL(LTDFILE.LTD_SEQNO, 0),
          ISNULL(LTDFILE.LTD_DEBIT_CARD_NUMBER, 0),
          ISNULL(BWFILE1.BW_OWNBR, ' '),
          ISNULL(BWFILE1.BW_SSNO, 0),
          ISNULL(BWFILE1.BW_LNAME,' '),
          ISNULL(BWFILE1.BW_FNAME,' '),
          ISNULL(BWFILE1.BW_ADR1,' '),
          ISNULL(BWFILE1.BW_ADR2,' '),
          ISNULL(BWFILE1.BW_CITY,' '),
          ISNULL(BWFILE1.BW_STATE,' '),
          ISNULL(BWFILE1.BW_ZIP,' '),
          ISNULL(BWFILE1.BW_PHONE, 0),
          ISNULL(BWFILE1.BW_EMPPHONE, 0),
          ISNULL(BWFILE1.BW_EMPEXT, 0),
          ISNULL(BWFILE1.BW_CREDIT_SCORE, 0),
          ISNULL(BWFILE2.BW_OWNBR, ' '),
          ISNULL(BWFILE2.BW_SSNO, 0),
          ISNULL(BWFILE2.BW_LNAME,' '),
          ISNULL(BWFILE2.BW_FNAME,' '),
          ISNULL(BWFILE2.BW_ADR1,' '),
          ISNULL(BWFILE2.BW_ADR2,' '),
          ISNULL(BWFILE2.BW_CITY,' '),
          ISNULL(BWFILE2.BW_STATE,' '),
          ISNULL(BWFILE2.BW_ZIP,' '),
          ISNULL(BWFILE2.BW_PHONE, 0),
          ISNULL(BWFILE2.BW_EMPPHONE, 0),
          ISNULL(BWFILE2.BW_EMPEXT, 0),
          ISNULL(BWFILE2.BW_CREDIT_SCORE, 0),
          ISNULL(CDBFILE1.CDB_TYPE,' '),
          ISNULL(CDBFILE1.CDB_BRANCH, 0),
          ISNULL(CDBFILE1.CDB_CODE,' '),
          ISNULL(CDBFILE1.CDB_DESC,' '),
          ISNULL(CDBFILE1.CDB_GC_GLFEENO, 0),
          ISNULL(CDBFILE2.CDB_TYPE,' '),
          ISNULL(CDBFILE2.CDB_BRANCH, 0),
          ISNULL(CDBFILE2.CDB_CODE,' '),
          ISNULL(CDBFILE2.CDB_DESC,' '),
          ISNULL(CDBFILE2.CDB_GC_GLFEENO, 0),
          ISNULL(CDBFILE3.CDB_TYPE,' '),
          ISNULL(CDBFILE3.CDB_BRANCH, 0),
          ISNULL(CDBFILE3.CDB_CODE,' '),
          ISNULL(CDBFILE3.CDB_DESC,' '),
          ISNULL(CDBFILE3.CDB_GC_GLFEENO, 0),
          ISNULL(CDBFILE4.CDB_TYPE,' '),
          ISNULL(CDBFILE4.CDB_BRANCH, 0),
          ISNULL(CDBFILE4.CDB_CODE,' '),
          ISNULL(CDBFILE4.CDB_DESC,' '),
          ISNULL(CDBFILE4.CDB_GC_GLFEENO, 0),
          ISNULL(CDBFILE5.CDB_TYPE,' '),
          ISNULL(CDBFILE5.CDB_BRANCH, 0),
          ISNULL(CDBFILE5.CDB_CODE,' '),
          ISNULL(CDBFILE5.CDB_DESC,' '),
          ISNULL(CDBFILE5.CDB_GC_GLFEENO, 0),
          ISNULL(CDBFILE6.CDB_TYPE,' '),
          ISNULL(CDBFILE6.CDB_BRANCH, 0),
          ISNULL(CDBFILE6.CDB_CODE,' '),
          ISNULL(CDBFILE6.CDB_DESC,' '),
          ISNULL(CDBFILE6.CDB_GC_GLFEENO, 0),
          ISNULL(CDBFILE7.CDB_TYPE,' '),
          ISNULL(CDBFILE7.CDB_BRANCH, 0),
          ISNULL(CDBFILE7.CDB_CODE,' '),
          ISNULL(CDBFILE7.CDB_DESC,' '),
          ISNULL(CDBFILE7.CDB_GC_GLFEENO, 0),
          ISNULL(CDBFILE8.CDB_TYPE,' '),
          ISNULL(CDBFILE8.CDB_BRANCH, 0),
          ISNULL(CDBFILE8.CDB_CODE,' '),
          ISNULL(CDBFILE8.CDB_DESC,' '),
          ISNULL(CDBFILE8.CDB_GC_GLFEENO, 0),
          ISNULL(CDBFILE9.CDB_TYPE,' '),
          ISNULL(CDBFILE9.CDB_BRANCH, 0),
          ISNULL(CDBFILE9.CDB_CODE,' '),
          ISNULL(CDBFILE9.CDB_DESC,' '),
          ISNULL(CDBFILE9.CDB_GC_GLFEENO, 0),
          ISNULL(CDBFILE10.CDB_TYPE,' '),
          ISNULL(CDBFILE10.CDB_BRANCH, 0),
          ISNULL(CDBFILE10.CDB_CODE,' '),
          ISNULL(CDBFILE10.CDB_DESC,' '),
          ISNULL(CDBFILE10.CDB_GC_GLFEENO, 0)

    FROM  DBO.TRLFILE TRLFILE

	LEFT OUTER JOIN
	      DBO.LNFILE  LNFILE 
	  ON (TRLFILE.TL_BRNO        = LNFILE.LN_OWNBR
     AND  TRLFILE.TL_ACCTNO      = LNFILE.LN_ACCTNO)

    LEFT OUTER JOIN
	      DBO.LTCFILE LTCFILE 
      ON (LNFILE.LN_OWNBR        = LTCFILE.LTC_BRNO
     AND  LNFILE.LN_ACCTNO       = LTCFILE.LTC_ACCTNO
	 AND  LTCFILE.LTC_SEQNO      = 1) 

    LEFT OUTER JOIN
	      DBO.LTDFILE LTDFILE 
      ON (LNFILE.LN_OWNBR        = LTDFILE.LTD_BRNO
     AND  LNFILE.LN_ACCTNO       = LTDFILE.LTD_ACCTNO
	 AND  LTDFILE.LTD_SEQNO      = 1) 

	LEFT OUTER JOIN
	      DBO.BWFILE  BWFILE1 
      ON (TRLFILE.TL_BRNO        = BWFILE1.BW_OWNBR
     AND  TRLFILE.TL_SSNO_1      = BWFILE1.BW_SSNO)

	LEFT OUTER JOIN
	      DBO.BWFILE  BWFILE2 
      ON (TRLFILE.TL_BRNO        = BWFILE2.BW_OWNBR
     AND  TRLFILE.TL_SSNO_2      = BWFILE2.BW_SSNO)

    LEFT OUTER JOIN
          DBO.CDBFILE CDBFILE1
      ON (TRLFILE.TL_BRNO        = CDBFILE1.CDB_BRANCH
     AND  'GC'                   = CDBFILE1.CDB_TYPE
     AND  TRLFILE.TL_FEECODE_1   = CDBFILE1.CDB_CODE) 

    LEFT OUTER JOIN
          DBO.CDBFILE CDBFILE2
      ON (TRLFILE.TL_BRNO        = CDBFILE2.CDB_BRANCH
     AND  'GC'                   = CDBFILE2.CDB_TYPE
     AND  TRLFILE.TL_FEECODE_2   = CDBFILE2.CDB_CODE) 

    LEFT OUTER JOIN
          DBO.CDBFILE CDBFILE3
      ON (TRLFILE.TL_BRNO        = CDBFILE3.CDB_BRANCH
     AND  'GC'                   = CDBFILE3.CDB_TYPE
     AND  TRLFILE.TL_FEECODE_3   = CDBFILE3.CDB_CODE) 

    LEFT OUTER JOIN
          DBO.CDBFILE CDBFILE4
      ON (TRLFILE.TL_BRNO        = CDBFILE4.CDB_BRANCH
     AND  'GC'                   = CDBFILE4.CDB_TYPE
     AND  TRLFILE.TL_FEECODE_4   = CDBFILE4.CDB_CODE) 

    LEFT OUTER JOIN
          DBO.CDBFILE CDBFILE5
      ON (TRLFILE.TL_BRNO        = CDBFILE5.CDB_BRANCH
     AND  'GC'                   = CDBFILE5.CDB_TYPE
     AND  TRLFILE.TL_FEECODE_5   = CDBFILE5.CDB_CODE) 

    LEFT OUTER JOIN
          DBO.CDBFILE CDBFILE6
      ON (TRLFILE.TL_BRNO        = CDBFILE6.CDB_BRANCH
     AND  'GC'                   = CDBFILE6.CDB_TYPE
     AND  TRLFILE.TL_FEECODE_6   = CDBFILE6.CDB_CODE) 

    LEFT OUTER JOIN
          DBO.CDBFILE CDBFILE7
      ON (TRLFILE.TL_BRNO        = CDBFILE7.CDB_BRANCH
     AND  'GC'                   = CDBFILE7.CDB_TYPE
     AND  TRLFILE.TL_FEECODE_7   = CDBFILE7.CDB_CODE) 

    LEFT OUTER JOIN
          DBO.CDBFILE CDBFILE8
      ON (TRLFILE.TL_BRNO        = CDBFILE8.CDB_BRANCH
     AND  'GC'                   = CDBFILE8.CDB_TYPE
     AND  TRLFILE.TL_FEECODE_8   = CDBFILE8.CDB_CODE) 

    LEFT OUTER JOIN
          DBO.CDBFILE CDBFILE9
      ON (TRLFILE.TL_BRNO        = CDBFILE9.CDB_BRANCH
     AND  'GC'                   = CDBFILE9.CDB_TYPE
     AND  TRLFILE.TL_FEECODE_9   = CDBFILE9.CDB_CODE) 

    LEFT OUTER JOIN
          DBO.CDBFILE CDBFILE10
      ON (TRLFILE.TL_BRNO        = CDBFILE10.CDB_BRANCH
     AND  'GC'                   = CDBFILE10.CDB_TYPE
     AND  TRLFILE.TL_FEECODE_10  = CDBFILE10.CDB_CODE) 

   WHERE  TRLFILE.TL_BRNO        = @QTRL1_WBEG_BRNO
     AND  TRLFILE.TL_DATE  BETWEEN @QTRL1_WBEG_DATE  AND @QTRL1_WEND_DATE
     AND  TRLFILE.TL_CLASS BETWEEN @QTRL1_WBEG_CLASS AND @QTRL1_WEND_CLASS
 
   ORDER BY TRLFILE.TL_BRNO,
            TRLFILE.TL_CLASS,
            TRLFILE.TL_ACCTNO,
            TRLFILE.TL_DATE,
            TRLFILE.TL_LAWCODE,
            TRLFILE.TL_LINE

END 
GO
