USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_CLEXTR_CLFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_CLEXTR_CLFILE_SELECT              */
/*               PROGRAM NAME: SP/CLEXTR.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: CLFILE, SPAFILE                                         */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   05/22/2024  RMZ          ADDED 4 NEW COLUMNS TO SCRIPT:         */
/*                            CL_PD_STATE_WORKER, CL_PD_SERCHG,      */
/*                            CL_PD_POINTS, CL_PD_CLASS              */
/*                            #1658 s35q-34                          */
/*   XX/XX/20XX  XXX                                                 */
/*                                                                   */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_CLEXTR_CLFILE_SELECT]
      @QCL1_WBEG_GROUP    AS CHAR(4),
      @QCL1_WEND_GROUP    AS CHAR(4),
      @QCL1_WBEG_CAN_NO   AS CHAR(2), 
	  @QCL1_WEND_CAN_NO   AS CHAR(2)  

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QCL1_WBEG_GROUP   CHAR(4)
--DECLARE @QCL1_WEND_GROUP   CHAR(4)
--DECLARE @QCL1_WBEG_CAN_NO  CHAR(2) 
--DECLARE @QCL1_WEND_CAN_NO  CHAR(2)

--SET @QCL1_WBEG_GROUP       = '    '   
--SET @QCL1_WEND_GROUP       = 'ZZZZ'  
--SET @QCL1_WBEG_CAN_NO	   = '  ' 
--SET @QCL1_WEND_CAN_NO      = 'ZZ'     

   SELECT CLFILE.CL_GROUP_ID, 
          CLFILE.CL_CAN_NO, 
          CLFILE.CL_DESC, 
          CLFILE.CL_GIFTNET, 
          CLFILE.CL_PD_ID, 
          CLFILE.CL_PD_BRANCH,
          CLFILE.CL_PD_SOC_SEC,
          CLFILE.CL_PD_OWNBR,
          CLFILE.CL_PD_ACCTNO,
          CLFILE.CL_PD_CLASS,
          CLFILE.CL_PD_SUBCLASS,
          CLFILE.CL_PD_LAWCODE,
          CLFILE.CL_PD_SSNO1,
          CLFILE.CL_PD_MAKERCD1,
          CLFILE.CL_PD_SSNO2,
          CLFILE.CL_PD_MAKERCD2,
          CLFILE.CL_PD_SSNO3,
          CLFILE.CL_PD_MAKERCD3,
          CLFILE.CL_PD_SSNO4,
          CLFILE.CL_PD_MAKERCD4,
          CLFILE.CL_PD_ORGST,
          CLFILE.CL_PD_ORGBR,
          CLFILE.CL_PD_OWNST,
          CLFILE.CL_PD_SPRCLASS,
          CLFILE.CL_PD_CONVERCD, 
          CLFILE.CL_PD_MIDSTREAM, 
          CLFILE.CL_PD_PURCD, 
          CLFILE.CL_PD_SRCD, 
          CLFILE.CL_PD_COLLCD, 
          CLFILE.CL_PD_COLLID, 
          CLFILE.CL_PD_POCD, 
          CLFILE.CL_PD_PLCD, 
          CLFILE.CL_PD_PLTYPE, 
          CLFILE.CL_PD_CONFIDENTCD, 
          CLFILE.CL_PD_ALLOTCD,
          CLFILE.CL_PD_RECASTCD, 
          CLFILE.CL_PD_SKIP_TRW, 
          CLFILE.CL_PD_STATUSFG, 
          CLFILE.CL_PD_SMALLOAN, 
          CLFILE.CL_PD_SALEFIN,  
          CLFILE.CL_PD_SERVACCT, 
          CLFILE.CL_PD_LOANTYPE, 
          CLFILE.CL_PD_ADDON_FG, 
          CLFILE.CL_PD_PAY_SCHLD_FG, 
          CLFILE.CL_PD_LC_CODE,
          CLFILE.CL_PD_CAN_LOAN_NO, 
          CLFILE.CL_PD_STATFLAGS, 
          CAST(CLFILE.CL_PD_ENTDATE
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_LOANDATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_PURDATE				   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INTDATE				   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_CASHDATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_FILEDATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_RESCISSION_DATE		   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_PART_RECOURSE_DATE	   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_ORIG_1STPYDATE		   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_1STPYDATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_JDDATE				   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_PLDATE				   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_PL_TRDATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_ACCELDATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_REDUDATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_POFFDATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_PO_TRDATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_LEGALDATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_BNKRPTDATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_BNKRPT_DISMISS_DATE	   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_BNKRPT_DISCHARGE_DATE  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_BNKRPT_REAFFIRM_DATE   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_DEBTAIDATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_REPODATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_REDEEMDATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_SOLDDATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INS_CONFIRM_DATE	   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_PRIOR_RN_FOR10_DATE	   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_LAST_RN_FOR10_DATE	   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_TRW_DOFD_DATE		   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_LAST_PYPA_DATE		   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_BT_TRDATE			   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_METRO2_LAST_PMT_DATE   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_FOLLOWUP_DATE		   
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_LAST_ACCRUAL_DATE	   
                                  AS VARCHAR(10)), 
          CLFILE.CL_PD_APRATE,
          CLFILE.CL_PD_EFFRATE,
          CLFILE.CL_PD_SMPRATE,
          CLFILE.CL_PD_YLDRATE,
          CLFILE.CL_PD_OVRDRATE,
          CLFILE.CL_PD_ENDORATE,
          CLFILE.CL_PD_JDRATE,
          CLFILE.CL_PD_ACCRATE,
          CLFILE.CL_PD_REDURATE,
          CLFILE.CL_PD_CONRATE,
          CLFILE.CL_PD_SERVPER,
          CLFILE.CL_PD_SELLPR,
          CLFILE.CL_PD_DOWNPY,
          CLFILE.CL_PD_TRADEIN,
          CLFILE.CL_PD_LNAMT,
          CLFILE.CL_PD_FINCHG,
          CLFILE.CL_PD_INTCHG,
          CLFILE.CL_PD_SERCHG,
          CLFILE.CL_PD_EXTCHG,
          CLFILE.CL_PD_MAINTFEE,
          CLFILE.CL_PD_POINTS,
          CLFILE.CL_PD_PROCEEDS,
          CLFILE.CL_PD_ORGTERM,
          CLFILE.CL_PD_1STPYAMT,
          CLFILE.CL_PD_NOREGPY,
          CLFILE.CL_PD_REGPYAMT,
          CLFILE.CL_PD_LASTPYAMT,
          CLFILE.CL_PD_PROCASH,
          CLFILE.CL_PD_TILLNO,
          CLFILE.CL_PD_STATE_FLAG,
          CLFILE.CL_PD_STATE_WORKER,
          CLFILE.CL_PD_STATE_WORKER2,
          CLFILE.CL_PD_FEECODE_1, 
          CLFILE.CL_PD_FEECODE_2, 
          CLFILE.CL_PD_FEECODE_3, 
          CLFILE.CL_PD_FEECODE_4, 
          CLFILE.CL_PD_FEECODE_5, 
          CLFILE.CL_PD_FEECODE_6, 
          CLFILE.CL_PD_FEECODE_7, 
          CLFILE.CL_PD_FEECODE_8, 
          CLFILE.CL_PD_FEECODE_9, 
          CLFILE.CL_PD_FEECODE_10, 
          CLFILE.CL_PD_FEECODE_11, 
          CLFILE.CL_PD_FEECODE_12, 
          CLFILE.CL_PD_FEECODE_13, 
          CLFILE.CL_PD_FEECODE_14, 
          CLFILE.CL_PD_FEECODE_15, 
          CLFILE.CL_PD_FEECODE_16, 
          CLFILE.CL_PD_FEECODE_17, 
          CLFILE.CL_PD_FEECODE_18, 
          CLFILE.CL_PD_FEECODE_19, 
          CLFILE.CL_PD_FEECODE_20, 
          CLFILE.CL_PD_FEEAMT_1,
          CLFILE.CL_PD_FEEAMT_2,
          CLFILE.CL_PD_FEEAMT_3,
          CLFILE.CL_PD_FEEAMT_4,
          CLFILE.CL_PD_FEEAMT_5,
          CLFILE.CL_PD_FEEAMT_6,
          CLFILE.CL_PD_FEEAMT_7,
          CLFILE.CL_PD_FEEAMT_8,
          CLFILE.CL_PD_FEEAMT_9,
          CLFILE.CL_PD_FEEAMT_10,
          CLFILE.CL_PD_FEEAMT_11,
          CLFILE.CL_PD_FEEAMT_12,
          CLFILE.CL_PD_FEEAMT_13,
          CLFILE.CL_PD_FEEAMT_14,
          CLFILE.CL_PD_FEEAMT_15,
          CLFILE.CL_PD_FEEAMT_16,
          CLFILE.CL_PD_FEEAMT_17,
          CLFILE.CL_PD_FEEAMT_18,
          CLFILE.CL_PD_FEEAMT_19,
          CLFILE.CL_PD_FEEAMT_20,
          CLFILE.CL_PD_FEEOURS_1, 
          CLFILE.CL_PD_FEEOURS_2, 
          CLFILE.CL_PD_FEEOURS_3, 
          CLFILE.CL_PD_FEEOURS_4, 
          CLFILE.CL_PD_FEEOURS_5, 
          CLFILE.CL_PD_FEEOURS_6, 
          CLFILE.CL_PD_FEEOURS_7, 
          CLFILE.CL_PD_FEEOURS_8, 
          CLFILE.CL_PD_FEEOURS_9, 
          CLFILE.CL_PD_FEEOURS_10, 
          CLFILE.CL_PD_FEEOURS_11, 
          CLFILE.CL_PD_FEEOURS_12, 
          CLFILE.CL_PD_FEEOURS_13, 
          CLFILE.CL_PD_FEEOURS_14, 
          CLFILE.CL_PD_FEEOURS_15, 
          CLFILE.CL_PD_FEEOURS_16, 
          CLFILE.CL_PD_FEEOURS_17, 
          CLFILE.CL_PD_FEEOURS_18, 
          CLFILE.CL_PD_FEEOURS_19, 
          CLFILE.CL_PD_FEEOURS_20, 
          CLFILE.CL_PD_FEEFINCHG_1, 
          CLFILE.CL_PD_FEEFINCHG_2, 
          CLFILE.CL_PD_FEEFINCHG_3, 
          CLFILE.CL_PD_FEEFINCHG_4, 
          CLFILE.CL_PD_FEEFINCHG_5, 
          CLFILE.CL_PD_FEEFINCHG_6, 
          CLFILE.CL_PD_FEEFINCHG_7, 
          CLFILE.CL_PD_FEEFINCHG_8, 
          CLFILE.CL_PD_FEEFINCHG_9, 
          CLFILE.CL_PD_FEEFINCHG_10, 
          CLFILE.CL_PD_FEEFINCHG_11, 
          CLFILE.CL_PD_FEEFINCHG_12, 
          CLFILE.CL_PD_FEEFINCHG_13, 
          CLFILE.CL_PD_FEEFINCHG_14, 
          CLFILE.CL_PD_FEEFINCHG_15, 
          CLFILE.CL_PD_FEEFINCHG_16, 
          CLFILE.CL_PD_FEEFINCHG_17, 
          CLFILE.CL_PD_FEEFINCHG_18, 
          CLFILE.CL_PD_FEEFINCHG_19, 
          CLFILE.CL_PD_FEEFINCHG_20, 
          CLFILE.CL_PD_INSURED,
          CLFILE.CL_PD_INSTYPES,
          CLFILE.CL_PD_INSELIGIBLE,
          CLFILE.CL_PD_INSCOMP_1,
          CLFILE.CL_PD_INSCOMP_2,
          CLFILE.CL_PD_INSCOMP_3,
          CLFILE.CL_PD_INSCOMP_4,
          CLFILE.CL_PD_INSCOMP_5,
          CLFILE.CL_PD_INSCOMP_6,
          CLFILE.CL_PD_INSCOMP_7,
          CLFILE.CL_PD_INSCOMP_8,
          CLFILE.CL_PD_INSCOMP_9,
          CLFILE.CL_PD_INSCOMP_10,
          CLFILE.CL_PD_INSOURS_1, 
          CLFILE.CL_PD_INSOURS_2, 
          CLFILE.CL_PD_INSOURS_3, 
          CLFILE.CL_PD_INSOURS_4, 
          CLFILE.CL_PD_INSOURS_5, 
          CLFILE.CL_PD_INSOURS_6, 
          CLFILE.CL_PD_INSOURS_7, 
          CLFILE.CL_PD_INSOURS_8, 
          CLFILE.CL_PD_INSOURS_9, 
          CLFILE.CL_PD_INSOURS_10, 
          CAST(CLFILE.CL_PD_INSEFF_DATE_1
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEFF_DATE_2		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEFF_DATE_3		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEFF_DATE_4		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEFF_DATE_5		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEFF_DATE_6		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEFF_DATE_7		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEFF_DATE_8		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEFF_DATE_9		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEFF_DATE_10		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEXP_DATE_1		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEXP_DATE_2		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEXP_DATE_3		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEXP_DATE_4		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEXP_DATE_5		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEXP_DATE_6		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEXP_DATE_7		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEXP_DATE_8		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEXP_DATE_9		  
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INSEXP_DATE_10		  
                                  AS VARCHAR(10)), 
          CLFILE.CL_PD_INSPREM_1,
          CLFILE.CL_PD_INSPREM_2,
          CLFILE.CL_PD_INSPREM_3,
          CLFILE.CL_PD_INSPREM_4,
          CLFILE.CL_PD_INSPREM_5,
          CLFILE.CL_PD_INSPREM_6,
          CLFILE.CL_PD_INSPREM_7,
          CLFILE.CL_PD_INSPREM_8,
          CLFILE.CL_PD_INSPREM_9,
          CLFILE.CL_PD_INSPREM_10,
          CLFILE.CL_PD_INSCOVR_1,
          CLFILE.CL_PD_INSCOVR_2,
          CLFILE.CL_PD_INSCOVR_3,
          CLFILE.CL_PD_INSCOVR_4,
          CLFILE.CL_PD_INSCOVR_5,
          CLFILE.CL_PD_INSCOVR_6,
          CLFILE.CL_PD_INSCOVR_7,
          CLFILE.CL_PD_INSCOVR_8,
          CLFILE.CL_PD_INSCOVR_9,
          CLFILE.CL_PD_INSCOVR_10,
          CLFILE.CL_PD_INSCOMM_1,
          CLFILE.CL_PD_INSCOMM_2,
          CLFILE.CL_PD_INSCOMM_3,
          CLFILE.CL_PD_INSCOMM_4,
          CLFILE.CL_PD_INSCOMM_5,
          CLFILE.CL_PD_INSCOMM_6,
          CLFILE.CL_PD_INSCOMM_7,
          CLFILE.CL_PD_INSCOMM_8,
          CLFILE.CL_PD_INSCOMM_9,
          CLFILE.CL_PD_INSCOMM_10,
          CLFILE.CL_PD_INSANTICERN_1,
          CLFILE.CL_PD_INSANTICERN_2,
          CLFILE.CL_PD_INSANTICERN_3,
          CLFILE.CL_PD_INSANTICERN_4,
          CLFILE.CL_PD_INSANTICERN_5,
          CLFILE.CL_PD_INSANTICERN_6,
          CLFILE.CL_PD_INSANTICERN_7,
          CLFILE.CL_PD_INSANTICERN_8,
          CLFILE.CL_PD_INSANTICERN_9,
          CLFILE.CL_PD_INSANTICERN_10,
          CLFILE.CL_PD_INSANTICADJ_1,
          CLFILE.CL_PD_INSANTICADJ_2,
          CLFILE.CL_PD_INSANTICADJ_3,
          CLFILE.CL_PD_INSANTICADJ_4,
          CLFILE.CL_PD_INSANTICADJ_5,
          CLFILE.CL_PD_INSANTICADJ_6,
          CLFILE.CL_PD_INSANTICADJ_7,
          CLFILE.CL_PD_INSANTICADJ_8,
          CLFILE.CL_PD_INSANTICADJ_9,
          CLFILE.CL_PD_INSANTICADJ_10,
          CLFILE.CL_PD_INSUFERN_1,
          CLFILE.CL_PD_INSUFERN_2,
          CLFILE.CL_PD_INSUFERN_3,
          CLFILE.CL_PD_INSUFERN_4,
          CLFILE.CL_PD_INSUFERN_5,
          CLFILE.CL_PD_INSUFERN_6,
          CLFILE.CL_PD_INSUFERN_7,
          CLFILE.CL_PD_INSUFERN_8,
          CLFILE.CL_PD_INSUFERN_9,
          CLFILE.CL_PD_INSUFERN_10,
          CLFILE.CL_PD_INSACCERN_1,
          CLFILE.CL_PD_INSACCERN_2,
          CLFILE.CL_PD_INSACCERN_3,
          CLFILE.CL_PD_INSACCERN_4,
          CLFILE.CL_PD_INSACCERN_5,
          CLFILE.CL_PD_INSACCERN_6,
          CLFILE.CL_PD_INSACCERN_7,
          CLFILE.CL_PD_INSACCERN_8,
          CLFILE.CL_PD_INSACCERN_9,
          CLFILE.CL_PD_INSACCERN_10,
          CLFILE.CL_PD_INSEARN_ORDER_1,
          CLFILE.CL_PD_INSEARN_ORDER_2,
          CLFILE.CL_PD_INSEARN_ORDER_3,
          CLFILE.CL_PD_INSEARN_ORDER_4,
          CLFILE.CL_PD_INSEARN_ORDER_5,
          CLFILE.CL_PD_INSEARN_ORDER_6,
          CLFILE.CL_PD_INSEARN_ORDER_7,
          CLFILE.CL_PD_INSEARN_ORDER_8,
          CLFILE.CL_PD_INSEARN_ORDER_9,
          CLFILE.CL_PD_INSEARN_ORDER_10,
          CLFILE.CL_PD_INSFINCHG_1, 
          CLFILE.CL_PD_INSFINCHG_2, 
          CLFILE.CL_PD_INSFINCHG_3, 
          CLFILE.CL_PD_INSFINCHG_4, 
          CLFILE.CL_PD_INSFINCHG_5, 
          CLFILE.CL_PD_INSFINCHG_6, 
          CLFILE.CL_PD_INSFINCHG_7, 
          CLFILE.CL_PD_INSFINCHG_8, 
          CLFILE.CL_PD_INSFINCHG_9, 
          CLFILE.CL_PD_INSFINCHG_10, 
          CLFILE.CL_PD_PY_YYYYMM_RECDEL,
          CLFILE.CL_PD_MTD_PAYS_RECDEL,
          CLFILE.CL_PD_GARNISH_EXTR, 
          CLFILE.CL_PD_SHIP_SAME_FG, 
          CLFILE.CL_PD_AD_D_INS_COVR,
          CLFILE.CL_PD_TOT_PARTIAL_CHGOFF,
          CLFILE.CL_PD_LPO, 
          CLFILE.CL_PD_REP_CD, 
          CLFILE.CL_PD_EMP_ID,
          CLFILE.CL_PD_PROCESS_CD, 
          CLFILE.CL_PD_WCBC_CREDITLIM,
          CLFILE.CL_PD_FOLLOWUP_CD, 
          CLFILE.CL_PD_MIP_FG, 
          CLFILE.CL_PD_MIP_MTD_CLAHPAID,
          CAST(CLFILE.CL_PD_MIP_CLPDTH_DATE
                                  AS VARCHAR(10)), 
          CLFILE.CL_PD_MIP_TOT_CLPAID,					  
          CAST(CLFILE.CL_PD_MIP_AHPDTH_DATE		  
                                  AS VARCHAR(10)), 
          CLFILE.CL_PD_MIP_TOT_AHPAID,
          CLFILE.CL_PD_IL_GROSS_INCOME,
          CLFILE.CL_PD_IL_GROSS_INCOME2,
          CLFILE.CL_PD_RESCISSION, 
          CLFILE.CL_PD_INTERIM_TRW, 
          CLFILE.CL_PD_DLNO,
          CLFILE.CL_PD_DLPOOL,
          CLFILE.CL_PD_DLRECOURSE, 
          CLFILE.CL_PD_DLPARTRCAMT,
          CLFILE.CL_PD_ORIGPURAMT,
          CLFILE.CL_PD_PURBAL,
          CLFILE.CL_PD_DLRVPRIN_1,
          CLFILE.CL_PD_DLRVPRIN_2,
          CLFILE.CL_PD_DLRVPRIN_3,
          CLFILE.CL_PD_DLRVCHGS_1,
          CLFILE.CL_PD_DLRVCHGS_2,
          CLFILE.CL_PD_DLRVCHGS_3,
          CLFILE.CL_PD_DLPARVHELD,
          CLFILE.CL_PD_DLPARVPAID,
          CLFILE.CL_PD_DLDISC,
          CAST(CLFILE.CL_PD_LCPDTH_DATE
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_INTPDTH_DATE			  
                                  AS VARCHAR(10)), 
          CLFILE.CL_PD_CURBAL,
          CLFILE.CL_PD_INTBAL,
          CLFILE.CL_PD_LCBAL,
          CLFILE.CL_PD_OTHBAL,
          CLFILE.CL_PD_OT2BAL,
          CLFILE.CL_PD_LCPAID,
          CLFILE.CL_PD_LCPARTIALS,
          CLFILE.CL_PD_STMT_COUNTER,
          CLFILE.CL_PD_PRIOR_STMT_COUNTER,
          CLFILE.CL_PD_FROZEN_REASON, 
          CLFILE.CL_PD_COUPON_STATEMENT, 
          CLFILE.CL_PD_MONTHEND_BAL,
          CLFILE.CL_PD_ANTICTERM,
          CLFILE.CL_PD_ANTICERN_1,
          CLFILE.CL_PD_ANTICERN_2,
          CLFILE.CL_PD_ANTICERN_3,
          CLFILE.CL_PD_ANTICERN_4,
          CLFILE.CL_PD_ANTICERN_5,
          CLFILE.CL_PD_ANTICERN_6,
          CLFILE.CL_PD_ANTICERN_7,
          CLFILE.CL_PD_ANTICERN_8,
          CLFILE.CL_PD_ANTICERN_9,
          CLFILE.CL_PD_ANTICERN_10,
          CLFILE.CL_PD_ANTICADJ_1,
          CLFILE.CL_PD_ANTICADJ_2,
          CLFILE.CL_PD_ANTICADJ_3,
          CLFILE.CL_PD_ANTICADJ_4,
          CLFILE.CL_PD_ANTICADJ_5,
          CLFILE.CL_PD_ANTICADJ_6,
          CLFILE.CL_PD_ANTICADJ_7,
          CLFILE.CL_PD_ANTICADJ_8,
          CLFILE.CL_PD_ANTICADJ_9,
          CLFILE.CL_PD_ANTICADJ_10,
          CLFILE.CL_PD_UFERN_1,
          CLFILE.CL_PD_UFERN_2,
          CLFILE.CL_PD_UFERN_3,
          CLFILE.CL_PD_UFERN_4,
          CLFILE.CL_PD_UFERN_5,
          CLFILE.CL_PD_UFERN_6,
          CLFILE.CL_PD_UFERN_7,
          CLFILE.CL_PD_UFERN_8,
          CLFILE.CL_PD_UFERN_9,
          CLFILE.CL_PD_UFERN_10,
          CLFILE.CL_PD_ACCERN_1,
          CLFILE.CL_PD_ACCERN_2,
          CLFILE.CL_PD_ACCERN_3,
          CLFILE.CL_PD_ACCERN_4,
          CLFILE.CL_PD_ACCERN_5,
          CLFILE.CL_PD_ACCERN_6,
          CLFILE.CL_PD_ACCERN_7,
          CLFILE.CL_PD_ACCERN_8,
          CLFILE.CL_PD_ACCERN_9,
          CLFILE.CL_PD_ACCERN_10,
          CLFILE.CL_PD_EARN_ORDER_1,
          CLFILE.CL_PD_EARN_ORDER_2,
          CLFILE.CL_PD_EARN_ORDER_3,
          CLFILE.CL_PD_EARN_ORDER_4,
          CLFILE.CL_PD_EARN_ORDER_5,
          CLFILE.CL_PD_EARN_ORDER_6,
          CLFILE.CL_PD_EARN_ORDER_7,
          CLFILE.CL_PD_EARN_ORDER_8,
          CLFILE.CL_PD_EARN_ORDER_9,
          CLFILE.CL_PD_EARN_ORDER_10,
          CLFILE.CL_PD_LMO_PRIOR_INTEREST,
          CLFILE.CL_PD_PRIOR_UNEARNED,
          CLFILE.CL_PD_ERNDELQ_STOP,  
          CLFILE.CL_PD_NONACRERN,
          CLFILE.CL_PD_PRIOR_NONACRERN,
          CAST(CLFILE.CL_PD_ERN_IB_PDTH_DATE
                                  AS VARCHAR(10)), 
          CLFILE.CL_PD_ERN_IB_PRINBAL,
          CLFILE.CL_PD_ERN_IB_INTOWE,
          CLFILE.CL_PD_TOTERN,
          CLFILE.CL_PD_TOTOTH,
          CLFILE.CL_PD_TOTINT,
          CLFILE.CL_PD_TOTLCHG,
          CLFILE.CL_PD_TOTDEF,
          CLFILE.CL_PD_TOTSERACCT,
          CLFILE.CL_PD_LCWAIVERS,
          CLFILE.CL_PD_INTWAIVERS,
          CLFILE.CL_PD_TOTPAYMNTD,
          CLFILE.CL_PD_TOTEXCPAYMNTD,
          CLFILE.CL_PD_TOTNODEF,
          CLFILE.CL_PD_YTDNODEF,
          CLFILE.CL_PD_TOTNODEFACT,
          CLFILE.CL_PD_YTDNODEFACT,
          CLFILE.CL_PD_TOTNOALDEL,
          CLFILE.CL_PD_YTDNOALDEL,
          CLFILE.CL_PD_YTDINTPD,
          CLFILE.CL_PD_LYRINTPD,
          CLFILE.CL_PD_TOTINTPD,
          CLFILE.CL_PD_RECASTINT,
          CLFILE.CL_PD_RECASTPRIN,
          CLFILE.CL_PD_CL_REBATE, 
          CLFILE.CL_PD_AH_REBATE, 
          CLFILE.CL_PD_PP_REBATE, 
          CLFILE.CL_PD_INT_REBATE, 
          CLFILE.CL_PD_SC_REBATE, 
          CLFILE.CL_PD_MF_REBATE, 
          CLFILE.CL_PD_DF_REBATE, 
          CLFILE.CL_PD_EX_REBATE, 
          CLFILE.CL_PD_O1_REBATE, 
          CLFILE.CL_PD_O2_REBATE, 
          CLFILE.CL_PD_O3_REBATE, 
          CLFILE.CL_PD_O4_REBATE, 
          CLFILE.CL_PD_O5_REBATE, 
          CLFILE.CL_PD_O6_REBATE, 
          CLFILE.CL_PD_O7_REBATE, 
          CLFILE.CL_PD_UN_O7_REB, 
          CLFILE.CL_PD_UN_O8_REB, 
          CLFILE.CL_PD_UN_O9_REB, 
          CLFILE.CL_PD_UN_O10_REB, 
          CLFILE.CL_PD_PLREASON,  
          CLFILE.CL_PD_COLLECTOR, 
          CLFILE.CL_PD_ACTIONCD, 
          CLFILE.CL_PD_ACTIONCD2, 
          CLFILE.CL_PD_ATCODE, 
          CLFILE.CL_PD_RECODE, 
          CLFILE.CL_PD_ESCROW_FG, 
          CLFILE.CL_PD_PROMDAYS_PASTDUE,
          CLFILE.CL_PD_PROMID, 
          CAST(CLFILE.CL_PD_PROMDATE
                                  AS VARCHAR(10)), 
          CLFILE.CL_PD_PROMAMT,
          CAST(CLFILE.CL_PD_PROMDATE2
                                  AS VARCHAR(10)), 
          CAST(CLFILE.CL_PD_DATE_PAID_LAST		  
                                  AS VARCHAR(10)), 
          CLFILE.CL_PD_AMT_PAID_LAST,					  
          CLFILE.CL_PD_LASTCFORMNO,						  
          CAST(CLFILE.CL_PD_LASTCFORMDATE		  
                                  AS VARCHAR(10)), 
          CLFILE.CL_PD_DELCNT,							  
          CLFILE.CL_PD_DELCNT2,							  
          CLFILE.CL_PD_CREDITLIM,						  
          CLFILE.CL_PD_CRSCORE,							  
          CLFILE.CL_PD_LASTSFORMNO,						  
          CAST(CLFILE.CL_PD_LASTSFORMDATE		  
                                  AS VARCHAR(10)), 
          CLFILE.CL_PD_SOLCNT,
          CLFILE.CL_PD_MESSAGE, 
          CLFILE.CL_PD_OLDACCTNO,
          CLFILE.CL_PD_PRLNNO,
          CLFILE.CL_PD_PRBAL,
          CLFILE.CL_PD_PRINTDUE,
          CLFILE.CL_PD_PRFINCHGRB,
          CLFILE.CL_PD_PRINSRB,
          CLFILE.CL_PD_PRPOCD, 
          CAST(CLFILE.CL_PD_PRPODATE
                                  AS VARCHAR(10)), 
          CLFILE.CL_PD_PRDELINQAMT,
          CLFILE.CL_PD_PRLNAMT,
          CLFILE.CL_PD_PRPDUE_DAYS,
          CLFILE.CL_PD_PRDLDISC_UNEARN,
          CLFILE.CL_PD_PRCONPROFILE,
          CLFILE.CL_PD_SUM_ORIGPURAMT,
          CLFILE.CL_PD_SUM_LNAMT,
          CLFILE.CL_PD_SUM_FINCHG,
          CLFILE.CL_PD_SUM_INTCHG,
          CLFILE.CL_PD_SUM_ORGTERM,
          CLFILE.CL_PD_SUM_REGPYAMT,
          CLFILE.CL_PD_SUM_EXTCHG,
          CLFILE.CL_PD_SUM_SERCHG,
          CLFILE.CL_PD_SUM_MAINTFEE,
          CLFILE.CL_PD_UNITPER_CD, 
          CLFILE.CL_PD_UNITPER_FREQ,
          CLFILE.CL_PD_DAYS_IN_UNITPER,
          CLFILE.CL_PD_UNITPER_PER_YEAR,
          CLFILE.CL_PD_REPOCD, 
          CLFILE.CL_PD_BR_TFR_FG, 
          CLFILE.CL_PD_O3INS_DLPROC,
          CLFILE.CL_PD_INSPREM_DLADJ,
          CLFILE.CL_PD_PLAMT,
          CLFILE.CL_PD_MTD_PRIN,
          CLFILE.CL_PD_MTD_LC,
          CLFILE.CL_PD_MTD_INT,
          CLFILE.CL_PD_MTD_OT,
          CLFILE.CL_PD_MTD_EX,
          CLFILE.CL_PD_BNKRPT_CHAPTER,
          CLFILE.CL_PD_BMO_CON_STATUS, 
          CLFILE.CL_PD_BMO_REC_STATUS, 
          CLFILE.CL_PD_APP_NUMBER,
          CLFILE.CL_PD_GIFTNET, 
          CLFILE.CL_PD_GIFTNET_OUR_PO,
          CLFILE.CL_PD_PROC_DISBURSED, 
          CLFILE.CL_PD_NOODDPY,
          CLFILE.CL_PD_CONPROFILE_1,
          CLFILE.CL_PD_CONPROFILE_2,
          CLFILE.CL_PD_CONPROFILE_3,
          CLFILE.CL_PD_CONPROFILE_4,
          CLFILE.CL_PD_CONPROFILE_5,
          CLFILE.CL_PD_RECPROFILE_1,
          CLFILE.CL_PD_RECPROFILE_2,
          CLFILE.CL_PD_RECPROFILE_3,
          CLFILE.CL_PD_RECPROFILE_4,
          CLFILE.CL_PD_RECPROFILE_5,
          CLFILE.CL_PD_TRW_STATUS, 
          CLFILE.CL_PD_ORIGIN, 
          CLFILE.CL_PD_PO_TRCD, 
          CLFILE.CL_PD_NEXIS_CRSCORE,
          CLFILE.CL_PD_TRW_B_CONSUMER_IND, 
          CLFILE.CL_PD_PARVHELD_PAID_FG, 
          CLFILE.CL_PD_ACCT_FROZEN, 
          CLFILE.CL_PD_TRW_SPECIAL_CODE, 
          CLFILE.CL_PD_CREATION_STATUS, 
          CLFILE.CL_PD_TOTNOLCHG,
          CLFILE.CL_PD_LBOX, 
          CLFILE.CL_PD_EXTRA_PRIN_LFP,
          CLFILE.CL_PD_REMAIN_INT_SINCE_LFP,
          CLFILE.CL_PD_REMAIN_PRIN_SINCE_LFP,
          CLFILE.CL_PD_INTERIM_COUPON, 
          CLFILE.CL_PD_DLCOMM_O3_CMSI,
          CLFILE.CL_PD_DLCOMM_PP_CMSI,
          CLFILE.CL_PD_TRW_J_CONSUMER_IND, 
          CLFILE.CL_PD_ACH, 
          CLFILE.CL_PD_1099_C_FG, 
          CLFILE.CL_PD_TRW_COMPLIANCE_CODE, 
          CLFILE.CL_PD_UNWIND_REASON_CODE, 
          CLFILE.CL_PD_PBI_PBD_FG, 
          CLFILE.CL_PD_OLD_ACCT_FORMAT_FG, 
          CLFILE.CL_PD_APPROVED_BY_USER, 
          CLFILE.CL_PD_APPROVED_BY_CODE, 
          CAST(CLFILE.CL_PD_APPROVED_BY_DATE
                                  AS VARCHAR(10)), 
          CLFILE.CL_PD_APPROVED_BY_TIME,				  
          CAST(CLFILE.CL_PD_LTOUCH_DATE			  
                                  AS VARCHAR(10)), 
          CLFILE.CL_PD_LTOUCH_TIME,
          CLFILE.CL_PD_HOLD_COLLATERAL, 
          CLFILE.CL_PD_DLPAID, 
          CLFILE.CL_PD_CKNO,
          CLFILE.CL_PD_FREE1, 
          CLFILE.CL_PD_FREE2, 
          CLFILE.CL_PD_FREE_SPACE_FILLER, 
          CLFILE.CL_PD_POSTING_BR,
          CLFILE.CL_PD_OTHBR_FG, 
          CLFILE.CL_PD_APPROVAL_LIMIT,
          CLFILE.CL_PD_APPROVAL_USERID, 
          CLFILE.CL_PD_MIN_CRED_SCORE,
          CLFILE.CL_PD_CRED_SCORE_USERID,  
          CLFILE.CL_PD_FINAMT,
          CLFILE.CL_PD_PROCEEDS_FG, 
          CLFILE.CL_PD_POINTS_FG, 
          CLFILE.CL_PD_OVRDRATE_FG, 
          CLFILE.CL_PD_INS_FG_1, 
          CLFILE.CL_PD_INS_FG_2, 
          CLFILE.CL_PD_INS_FG_3, 
          CLFILE.CL_PD_INS_FG_4, 
          CLFILE.CL_PD_INS_FG_5, 
          CLFILE.CL_PD_INS_FG_6, 
          CLFILE.CL_PD_INS_FG_7, 
          CLFILE.CL_PD_INS_FG_8, 
          CLFILE.CL_PD_INS_FG_9, 
          CLFILE.CL_PD_INS_FG_10, 
          CLFILE.CL_PD_SERCHG_FG, 
          CLFILE.CL_PD_MAINTFEE_FG, 
          CLFILE.CL_PD_EXTCHG_FG, 
          CLFILE.CL_PD_REGPYAMT_FG, 
          CLFILE.CL_PD_FEECD_1, 
          CLFILE.CL_PD_FEECD_2, 
          CLFILE.CL_PD_FEECD_3, 
          CLFILE.CL_PD_FEECD_4, 
          CLFILE.CL_PD_FEECD_5, 
          CLFILE.CL_PD_FEECD_6, 
          CLFILE.CL_PD_FEECD_7, 
          CLFILE.CL_PD_FEECD_8, 
          CLFILE.CL_PD_FEECD_9, 
          CLFILE.CL_PD_FEECD_10, 
          CLFILE.CL_PD_FEECD_11, 
          CLFILE.CL_PD_FEECD_12, 
          CLFILE.CL_PD_FEECD_13, 
          CLFILE.CL_PD_FEECD_14, 
          CLFILE.CL_PD_FEECD_15, 
          CLFILE.CL_PD_FEECD_16, 
          CLFILE.CL_PD_FEECD_17, 
          CLFILE.CL_PD_FEECD_18, 
          CLFILE.CL_PD_FEECD_19, 
          CLFILE.CL_PD_FEECD_20, 
          CLFILE.CL_PD_PRPAID_AHEAD,
          CLFILE.CL_PD_RESTRICT_ADJ,
          CLFILE.CL_PD_DUAL_LOAN_ADJ,
          CLFILE.CL_PD_CAN_LOAN_MAX,
          CLFILE.CL_PD_PERDOWN,
          CLFILE.CL_PD_SELLPR_FG, 
          CLFILE.CL_PD_DOWNPY_FG, 
          CLFILE.CL_PD_PERDOWN_FG, 
          CLFILE.CL_PD_SELL_DOWN_FG, 
          CLFILE.CL_PD_BALLOON_FG, 
          CLFILE.CL_PD_BALLOON_LAST_FG, 
          CLFILE.CL_PD_FEECD_FG_1, 
          CLFILE.CL_PD_FEECD_FG_2, 
          CLFILE.CL_PD_INS_TERM_SW_1, 
          CLFILE.CL_PD_INS_TERM_SW_2, 
          CLFILE.CL_PD_INS_TERM_SW_3, 
          CLFILE.CL_PD_INS_TERM_SW_4, 
          CLFILE.CL_PD_INS_TERM_SW_5, 
          CLFILE.CL_PD_INS_TERM_SW_6, 
          CLFILE.CL_PD_INS_TERM_SW_7, 
          CLFILE.CL_PD_INS_TERM_SW_8, 
          CLFILE.CL_PD_INS_TERM_SW_9, 
          CLFILE.CL_PD_INS_TERM_SW_10, 
          CLFILE.CL_PD_COVERAGE_SW_1, 
          CLFILE.CL_PD_COVERAGE_SW_2, 
          CLFILE.CL_PD_COVERAGE_SW_3, 
          CLFILE.CL_PD_COVERAGE_SW_4, 
          CLFILE.CL_PD_COVERAGE_SW_5, 
          CLFILE.CL_PD_COVERAGE_SW_6, 
          CLFILE.CL_PD_COVERAGE_SW_7, 
          CLFILE.CL_PD_COVERAGE_SW_8, 
          CLFILE.CL_PD_COVERAGE_SW_9, 
          CLFILE.CL_PD_COVERAGE_SW_10, 
          CLFILE.CL_PD_PREMIUM_SW_1, 
          CLFILE.CL_PD_PREMIUM_SW_2, 
          CLFILE.CL_PD_PREMIUM_SW_3, 
          CLFILE.CL_PD_PREMIUM_SW_4, 
          CLFILE.CL_PD_PREMIUM_SW_5, 
          CLFILE.CL_PD_PREMIUM_SW_6, 
          CLFILE.CL_PD_PREMIUM_SW_7, 
          CLFILE.CL_PD_PREMIUM_SW_8, 
          CLFILE.CL_PD_PREMIUM_SW_9, 
          CLFILE.CL_PD_PREMIUM_SW_10, 
          CLFILE.CL_PD_DLDISC_FG, 
          CLFILE.CL_PD_DLRVPRIN_FG_1, 
          CLFILE.CL_PD_DLRVPRIN_FG_2, 
          CLFILE.CL_PD_DLRVPRIN_FG_3, 
          CLFILE.CL_PD_DLRVCHGS_FG_1, 
          CLFILE.CL_PD_DLRVCHGS_FG_2, 
          CLFILE.CL_PD_DLRVCHGS_FG_3, 
          CLFILE.CL_PD_DLPARVHELD_FG, 
          CLFILE.CL_PD_DLPARVPAID_FG, 
          CLFILE.CL_PD_ONE_MTH_NO_DAY_EXT_SW, 
          CLFILE.CL_PD_ASSIGN_RN_ACCTNO, 
          CLFILE.CL_PD_APR_FINAMT,
          CLFILE.CL_PD_DLCOMM_PP_CMSI_FG, 
          CLFILE.CL_PD_DLCOMM_O3_CMSI_FG, 
          CLFILE.CL_PD_FILLER_TO_MATCH_LN, 
          CLFILE.CL_PD2_ID, 
          CLFILE.CL_PD2_BRANCH,
          CLFILE.CL_PD2_BWNAME,
          CLFILE.CL_PD_STATE_WORKER, 
          CLFILE.CL_PD_SERCHG, 
          CLFILE.CL_PD_POINTS, 
          CLFILE.CL_PD_CLASS,
          ISNULL(SPAFILE.SPA_ORGST,'%'),
          ISNULL(SPAFILE.SPA_SPRCLASS, 0),
          ISNULL(SPAFILE.SPA_SUBCLASS, 0),
          ISNULL(SPAFILE.SPA_LAWCODE, 0),
          ISNULL(SPAFILE.SPA_MFFRMLA, 0),
          ISNULL(SPAFILE.SPA_CAL_CHGABLE_1,' '),
          ISNULL(SPAFILE.SPA_CAL_CHGABLE_2,' ')

     FROM DBO.CLFILE  CLFILE
     LEFT OUTER JOIN
          DBO.SPAFILE SPAFILE
       ON ( CLFILE.CL_PD_ORGST       = SPAFILE.SPA_ORGST
      AND   CLFILE.CL_PD_SPRCLASS    = SPAFILE.SPA_SPRCLASS
      AND   CLFILE.CL_PD_SUBCLASS    = SPAFILE.SPA_SUBCLASS
      AND   CLFILE.CL_PD_LAWCODE     = SPAFILE.SPA_LAWCODE )

    WHERE ( CLFILE.CL_GROUP_ID BETWEEN @QCL1_WBEG_GROUP
                                   AND @QCL1_WEND_GROUP
      AND   CLFILE.CL_CAN_NO   BETWEEN @QCL1_WBEG_CAN_NO    
                                   AND @QCL1_WEND_CAN_NO )  

    ORDER BY CLFILE.CL_GROUP_ID,
             CLFILE.CL_CAN_NO

END
GO
