USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LHFILE_LHFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LHFILE_LHFILE_SELECT              */
/*               PROGRAM NAME: UT/LHFILE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 02/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LHFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_LHFILE_LHFILE_SELECT]
    @QLH1_WBEG_BRNO  AS INT

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLH1_WBEG_BRNO  INT
--SET @QLH1_WBEG_BRNO  =  10

   SELECT LHFILE.LH_BRNO,
          LHFILE.LH_SSNO,
          LHFILE.LH_ACCTNO,
          CAST(LHFILE.LH_LTOUCH_DATE AS VARCHAR(10)),
          LHFILE.LH_CLASS,
          LHFILE.LH_LAWCD,
          LHFILE.LH_COLLCD,
          LHFILE.LH_MAKERCD,
          LHFILE.LH_POCD,
          CAST(LHFILE.LH_LOANDATE AS VARCHAR(10)),
          CAST(LHFILE.LH_PLDATE   AS VARCHAR(10)),
          CAST(LHFILE.LH_JDDATE   AS VARCHAR(10)),
          CAST(LHFILE.LH_POFFDATE AS VARCHAR(10)),
          LHFILE.LH_LNAMT,
          LHFILE.LH_ORGTERM,
          LHFILE.LH_POTERMS,
          LHFILE.LH_PYPROFILE,
          LHFILE.LH_DLNO,
          LHFILE.LH_STATUS,
          LHFILE.LH_ARCHIVE_FG

   FROM DBO.LHFILE

   WHERE LHFILE.LH_BRNO = @QLH1_WBEG_BRNO
   ORDER BY LHFILE.LH_SSNO,
            LHFILE.LH_ACCTNO;

END 
GO
