USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_CHFILE_CHFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_CHFILE_CHFILE_SELECT              */
/*               PROGRAM NAME: UT/CHFILE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 02/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: CHFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_CHFILE_CHFILE_SELECT]
    @QCH_WBEG_BRNO  AS INT,
	@QCH_WBEG_DATE  AS DATE,
	@QCH_WEND_DATE  AS DATE

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QCH_WBEG_BRNO  INT
--DECLARE @QCH_WBEG_DATE  DATE
--DECLARE @QCH_WEND_DATE  DATE

--SET @QCH_WBEG_BRNO  = 1504
--SET @QCH_WBEG_DATE  = '2019-01-01'
--SET @QCH_WEND_DATE  = '2019-06-30'

            SELECT CHFILE.CH_BRNO,
                   CAST(CHFILE.CH_DATE AS VARCHAR(10)),
				   CHFILE.CH_CODE,
                   CHFILE.CH_USERID,
                   CHFILE.CH_TIME,
                   CHFILE.CH_SEQ,
                   CAST(CHFILE.CH_LTOUCH_DATE AS VARCHAR(10)),
                   CHFILE.CH_DESCRIPT,
                   CHFILE.CH_ACCTNO,
                   CHFILE.CH_SSNO,
                   CHFILE.CH_TYPE,
                   CHFILE.CH_ORG_CHAR,
                   CHFILE.CH_NEW_CHAR
            FROM DBO.CHFILE
            WHERE CHFILE.CH_BRNO = @QCH_WBEG_BRNO
			  AND CHFILE.CH_DATE BETWEEN @QCH_WBEG_DATE AND @QCH_WEND_DATE
            ORDER BY CHFILE.CH_BRNO,
                     CHFILE.CH_DATE,
                     CHFILE.CH_CODE,
                     CHFILE.CH_USERID,
                     CHFILE.CH_TIME,
                     CHFILE.CH_SEQ
 
END 
GO
