USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_TRCFLE_TRCFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_TRCFLE_TRCFILE_SELECT             */
/*               PROGRAM NAME: UT/TRCFLE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 02/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRCFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_TRCFLE_TRCFILE_SELECT]
    @QTRC1_WBEG_BRNO  AS INT,
	@QTRC1_WBEG_DATE  AS DATE,
	@QTRC1_WEND_DATE  AS DATE
 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRC1_WBEG_BRNO  INT
--DECLARE @QTRC1_WBEG_DATE  DATE
--DECLARE @QTRC1_WEND_DATE  DATE

--SET @QTRC1_WBEG_BRNO  =  10
--SET @QTRC1_WBEG_DATE  = '2019-01-01'
--SET @QTRC1_WEND_DATE  = '2019-06-30'

            SELECT TRCFILE.TC_BRNO,
                   CAST(TRCFILE.TC_KEY_DATE AS VARCHAR(10)),
                   TRCFILE.TC_CKNO,
                   TRCFILE.TC_CLASS,
                   TRCFILE.TC_SEQ,
                   CAST(TRCFILE.TC_LTOUCH_DATE AS VARCHAR(10)),
                   TRCFILE.TC_TYPE,
                   CAST(TRCFILE.TC_DATE AS VARCHAR(10)),
                   TRCFILE.TC_AMT,
                   TRCFILE.TC_PAYEE,
                   TRCFILE.TC_REF,
                   TRCFILE.TC_REASON,
                   TRCFILE.TC_GLNO_1,
                   TRCFILE.TC_GLAMT_1,
                   TRCFILE.TC_GLNO_2,
                   TRCFILE.TC_GLAMT_2,
                   TRCFILE.TC_GLNO_3,
                   TRCFILE.TC_GLAMT_3,
                   TRCFILE.TC_GLNO_4,
                   TRCFILE.TC_GLAMT_4,
                   TRCFILE.TC_GLNO_5,
                   TRCFILE.TC_GLAMT_5,
                   TRCFILE.TC_VOID,
                   TRCFILE.TC_ACCTNO,
                   TRCFILE.TC_PAID,
                   TRCFILE.TC_PGM,
                   TRCFILE.TC_DLRVNO,
                   TRCFILE.TC_SPRCLASS,
                   TRCFILE.TC_DLNO,
                   TRCFILE.TC_USERID,
                   CAST(TRCFILE.TC_POSTDATE AS VARCHAR(10)),
                   TRCFILE.TC_POSTTIME,
                   TRCFILE.TC_TILLNO,
                   TRCFILE.TC_ADR1,
                   TRCFILE.TC_ADR2,
                   TRCFILE.TC_CITY,
                   TRCFILE.TC_STATE,
                   TRCFILE.TC_ZIP,
                   TRCFILE.TC_PAYEE_NO,
                   TRCFILE.TC_ACH_FG,
                   TRCFILE.TC_EXTRACT_FG,
                   TRCFILE.TC_DEBIT_REFCD
            FROM DBO.TRCFILE

    WHERE TRCFILE.TC_BRNO = @QTRC1_WBEG_BRNO
      AND TRCFILE.TC_KEY_DATE  BETWEEN @QTRC1_WBEG_DATE AND @QTRC1_WEND_DATE

	        ORDER BY TRCFILE.TC_KEY_DATE,
                     TRCFILE.TC_CKNO,
                     TRCFILE.TC_CLASS,
                     TRCFILE.TC_SEQ

END 
GO
