USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_EMARLG_TRPFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_EMARLG_TRPFILE_SELECT             */
/*               PROGRAM NAME: LP/EMARLG.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 09/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRPFILE BWFILE BRFILE CDFILE LCFILE                     */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_EMARLG_TRPFILE_SELECT]
    @BRANCHLIST1        AS VARCHAR(7500),
   	@QTRP1_WBEG_DATE    AS DATE,
    @QTRP1_WEND_DATE    AS DATE,
    @QTRP1_WBEG_CLASS   AS INT,
    @QTRP1_WEND_CLASS   AS INT

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @BRANCHLIST1         VARCHAR(7500)
--DECLARE @QTRP1_WBEG_DATE    DATE
--DECLARE @QTRP1_WEND_DATE    DATE
--DECLARE @QTRP1_WBEG_CLASS   INT
--DECLARE @QTRP1_WEND_CLASS   INT 

--SET @BRANCHLIST1         = '10,102'
--SET @QTRP1_WBEG_DATE    =  '2019-12-01'
--SET @QTRP1_WEND_DATE    =  '2019-12-31'
--SET @QTRP1_WBEG_CLASS   =  000
--SET @QTRP1_WEND_CLASS   =  999

 CREATE TABLE #TEMP1_BRANCH_GROUP_TBL
   ( SEQ int IDENTITY(1,1),
     BRNO int ); 

INSERT INTO #TEMP1_BRANCH_GROUP_TBL (BRNO)
SELECT P.VALUE FROM string_Split(@BRANCHLIST1, ',') P;
     
	        SELECT TRPFILE.TP_BRNO,
                   CAST(TRPFILE.TP_DATE AS VARCHAR(10)),
                   TRPFILE.TP_CLASS,
                   TRPFILE.TP_ACCTNO,
                   TRPFILE.TP_LINE,
                   TRPFILE.TP_LAWCODE,
                   TRPFILE.TP_JDCD, 
                   TRPFILE.TP_PLCD, 
                   TRPFILE.TP_SSNO,
                   TRPFILE.TP_MAKER, 
                   TRPFILE.TP_IBPC,
                   TRPFILE.TP_TRCD, 
                   TRPFILE.TP_REFNO, 
                   CAST(TRPFILE.TP_PAYDATE AS VARCHAR(10)), 
                   TRPFILE.TP_TRAMT,
                   TRPFILE.TP_APOTH,
                   TRPFILE.TP_APINT,
                   TRPFILE.TP_APLC,
                   TRPFILE.TP_APCUR,
                   TRPFILE.TP_GLNO_1,
                   TRPFILE.TP_GLNO_2,
                   TRPFILE.TP_GLNO_3,
                   TRPFILE.TP_GLAMT_1,
                   TRPFILE.TP_GLAMT_2,
                   TRPFILE.TP_GLAMT_3,
                   TRPFILE.TP_EARNINGS_1,
                   TRPFILE.TP_EARNINGS_2,
                   TRPFILE.TP_EARNINGS_3,
                   TRPFILE.TP_EARNINGS_4,
                   TRPFILE.TP_EARNINGS_5,
                   TRPFILE.TP_EARNINGS_6,
                   TRPFILE.TP_EARNINGS_7,
                   TRPFILE.TP_EARNINGS_8,
                   TRPFILE.TP_EARNINGS_9,
                   TRPFILE.TP_EARNINGS_10,
                   TRPFILE.TP_OTHBAL,
                   TRPFILE.TP_INTBAL,
                   TRPFILE.TP_LCBAL,
                   TRPFILE.TP_CURBAL,
                   CAST(TRPFILE.TP_PDTH_DATE AS VARCHAR(10)), 
                   TRPFILE.TP_DLNO,
                   TRPFILE.TP_DLPROC,
                   TRPFILE.TP_TILLNO,
                   CAST(TRPFILE.TP_LCPDTH_DATE AS VARCHAR(10)), 
                   TRPFILE.TP_POSTING_BR,
                   TRPFILE.TP_OTHBR_FG, 
                   TRPFILE.TP_REV, 
                   TRPFILE.TP_UNITPER_CD, 

                   ISNULL(CDFILE.CD_TYPE,'XX'),
                   ISNULL(CDFILE.CD_CODE,'XXXXXXXX'),
				   				   
                   ISNULL(BWFILE.BW_FNAME,' '),
                   ISNULL(BWFILE.BW_LNAME,' '),

				   ISNULL(BRFILE.BR_NAME,' '),
                   ISNULL(BRFILE.BR_DATA_PATH,' '),
                   ISNULL(BRFILE.BR_MACHINE,' ')

	 FROM #TEMP1_BRANCH_GROUP_TBL T1

	 INNER JOIN DBO.BRFILE BRFILE
	   ON BRFILE.BR_NO = T1.BRNO
	   
     INNER JOIN DBO.TRPFILE TRPFILE
	   ON TRPFILE.TP_BRNO = BRFILE.BR_NO

     LEFT OUTER JOIN DBO.CDFILE CDFILE
       ON CDFILE.CD_TYPE = 'BR'
      AND CDFILE.CD_CODE = TRPFILE.TP_REFNO
      
	LEFT OUTER JOIN DBO.BWFILE BWFILE
	   ON BWFILE.BW_OWNBR = TRPFILE.TP_BRNO 
      AND BWFILE.BW_SSNO = TRPFILE.TP_SSNO 
          
    WHERE TRPFILE.TP_DATE   BETWEEN @QTRP1_WBEG_DATE  AND @QTRP1_WEND_DATE
       AND TRPFILE.TP_CLASS BETWEEN @QTRP1_WBEG_CLASS AND @QTRP1_WEND_CLASS
              
     ORDER BY T1.SEQ,
	          TRPFILE.TP_BRNO,
              TRPFILE.TP_CLASS,
              TRPFILE.TP_ACCTNO,
	          TRPFILE.TP_DATE,
              TRPFILE.TP_LINE
			  
END 
GO
