USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_PLSRCD_LNFILE_TOTAL_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_PLSRCD_LNFILE_TOTAL_SELECT        */
/*               PROGRAM NAME: SP/PLSRCD.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED COUNTER READ CALLS IN COBOL PROGRAM.   */
/*                                                                   */
/*   TABLES: LNFILE                                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_PLSRCD_LNFILE_TOTAL_SELECT]
    @QLN3_WBEG_OWNBR      AS INT,
	@QLN3_WBEG_CLASS      AS INT,
	@QLN3_WEND_CLASS      AS INT, 
    @QWS_BEG_PLDATE       AS DATE,
    @QWS_END_PLDATE       AS DATE

AS
BEGIN
	SET NOCOUNT ON;


--DECLARE @QLN3_WBEG_OWNBR      INT
--DECLARE @QLN3_WBEG_CLASS      INT
--DECLARE @QLN3_WEND_CLASS      INT
--DECLARE @QWS_BEG_PLDATE       DATE
--DECLARE @QWS_END_PLDATE       DATE
 
--SET     @QLN3_WBEG_OWNBR      = 102
--SET     @QLN3_WBEG_CLASS      = 000   
--SET     @QLN3_WEND_CLASS      = 999
--SET     @QWS_BEG_PLDATE       = '2019-01-01' 
--SET     @QWS_END_PLDATE       = '2019-12-31' 

 
   SELECT COUNT(*)                         AS QWS_TOTAL_RECORDS, 
          SUM(CASE WHEN ( LNFILE.LN_POCD   IN ('**', '*I', '*R', '*U', 'BT'))
                     OR ( LNFILE.LN_PLTYPE  = '2' )
                     OR ( LNFILE.LN_PLDATE  = '1900-01-01' )
                     OR ( LNFILE.LN_PLDATE  < @QWS_BEG_PLDATE )
                     OR ( LNFILE.LN_PLDATE  > @QWS_END_PLDATE )
                   THEN 1
                   ELSE 0
               END)                        AS QWS_TOTAL_BYPASSED 
     FROM DBO.LNFILE LNFILE
    WHERE ( LNFILE.LN_OWNBR                 = @QLN3_WBEG_OWNBR
      AND   LNFILE.LN_CLASS           BETWEEN @QLN3_WBEG_CLASS
                                          AND @QLN3_WEND_CLASS )

END 
GO
