USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_CQRUN_CQFILE_SELECT_BRANCH_ALL]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_CQRUN_CQFILE_SELECT_BRANCH_ALL     */
/*               PROGRAM NAME: LP/CQRUN.CBL                          */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 12/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*           NEEDED DUE TO PROGRAM UPDATING CQFILE IN PROCESSING     */
/*                                                                   */
/*   TABLES: CQFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_CQRUN_CQFILE_SELECT_BRANCH_ALL]
    @BEG_BRNO     AS INT

 AS
BEGIN
	SET NOCOUNT ON;
	 		   
--DECLARE @BEG_BRNO    INT
--SET @BEG_BRNO    = 10

  DROP TABLE IF EXISTS #TEMP_CQRUN_CQFILE;

            SELECT CQFILE.CQ_BRNO,
                   CQFILE.CQ_ACCTNO,
                   CQFILE.CQ_COLLID,
                   CQFILE.CQ_REV_BEHAVIOR_RISK,
                   CQFILE.CQ_SEQ_FG,
                   CAST(CQFILE.CQ_DATE AS VARCHAR(10)) AS CQ_DATE,
                   CQFILE.CQ_START_TIME,
                   CQFILE.CQ_REV_DEL,
                   CQFILE.CQ_MISC_KEY_FLD,
                   CQFILE.CQ_REV_PDUE_DAYS,
                   CQFILE.CQ_REV_BAL,
                   CQFILE.CQ_SEQ,
                   CAST(CQFILE.CQ_LTOUCH_DATE AS VARCHAR(10)) AS CQ_LTOUCH_DATE,
                   CQFILE.CQ_WORK_COLLID,
                   CQFILE.CQ_WORKED_FG,
                   CQFILE.CQ_IN_PROCESS,
                   CAST(CQFILE.CQ_DATE_QUEUED AS VARCHAR(10)) AS CQ_DATE_QUEUED,
                   CQFILE.CQ_TIME_ZONE_ERROR

                   INTO #TEMP_CQRUN_CQFILE

	   FROM DBO.CQFILE CQFILE	   
       WHERE CQFILE.CQ_BRNO = @BEG_BRNO
	   ;
	  
		SELECT *
		FROM #TEMP_CQRUN_CQFILE
	    ORDER BY CQ_ACCTNO
		;
	   
	   DROP TABLE #TEMP_CQRUN_CQFILE;
	   
END 
GO
