USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_TRLFLE_TRLFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_TRLFLE_TRLFILE_SELECT             */
/*               PROGRAM NAME: UT/TRLFLE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 02/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRLFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_TRLFLE_TRLFILE_SELECT]
    @QTRL1_WBEG_BRNO  AS INT,
	@QTRL1_WBEG_DATE  AS DATE,
	@QTRL1_WEND_DATE  AS DATE
 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRL1_WBEG_BRNO  INT
--DECLARE @QTRL1_WBEG_DATE  DATE
--DECLARE @QTRL1_WEND_DATE  DATE

--SET @QTRL1_WBEG_BRNO  =  10
--SET @QTRL1_WBEG_DATE  = '2019-01-01'
--SET @QTRL1_WEND_DATE  = '2019-06-30'

            SELECT TRLFILE.TL_BRNO,
                   CAST(TRLFILE.TL_DATE AS VARCHAR(10)),
                   TRLFILE.TL_CLASS,
                   TRLFILE.TL_ACCTNO,
                   TRLFILE.TL_LAWCODE,
                   TRLFILE.TL_LINE,
                   CAST(TRLFILE.TL_LTOUCH_DATE AS VARCHAR(10)),
                   TRLFILE.TL_SSNO_1,
                   TRLFILE.TL_MAKERCD_1,
                   TRLFILE.TL_SSNO_2,
                   TRLFILE.TL_MAKERCD_2,
                   TRLFILE.TL_SSNO_3,
                   TRLFILE.TL_MAKERCD_3,
                   TRLFILE.TL_SSNO_4,
                   TRLFILE.TL_MAKERCD_4,
                   TRLFILE.TL_PURCD,
                   TRLFILE.TL_SRCD,
                   TRLFILE.TL_COLLCD,
                   TRLFILE.TL_SERVACCT,
                   TRLFILE.TL_LOANTYPE,
                   TRLFILE.TL_SUBCLASS,
                   CAST(TRLFILE.TL_LOANDATE AS VARCHAR(10)),
                   CAST(TRLFILE.TL_INTDATE  AS VARCHAR(10)),
                   TRLFILE.TL_PROCEEDS,
                   TRLFILE.TL_LNAMT,
                   TRLFILE.TL_FINCHG,
                   TRLFILE.TL_INTCHG,
                   TRLFILE.TL_SERCHG,
                   TRLFILE.TL_EXTCHG,
                   TRLFILE.TL_MAINTFEE,
                   TRLFILE.TL_ORGTERM,
                   TRLFILE.TL_1STPYAMT,
                   TRLFILE.TL_NOREGPY,
                   TRLFILE.TL_REGPYAMT,
                   TRLFILE.TL_LASTPYAMT,
                   TRLFILE.TL_PROCASH,
                   TRLFILE.TL_TILLNO,
                   TRLFILE.TL_FEECODE_1,
                   TRLFILE.TL_FEEAMT_1,
                   TRLFILE.TL_FEECODE_2,
                   TRLFILE.TL_FEEAMT_2,
                   TRLFILE.TL_FEECODE_3,
                   TRLFILE.TL_FEEAMT_3,
                   TRLFILE.TL_FEECODE_4,
                   TRLFILE.TL_FEEAMT_4,
                   TRLFILE.TL_FEECODE_5,
                   TRLFILE.TL_FEEAMT_5,
                   TRLFILE.TL_FEECODE_6,
                   TRLFILE.TL_FEEAMT_6,
                   TRLFILE.TL_FEECODE_7,
                   TRLFILE.TL_FEEAMT_7,
                   TRLFILE.TL_FEECODE_8,
                   TRLFILE.TL_FEEAMT_8,
                   TRLFILE.TL_FEECODE_9,
                   TRLFILE.TL_FEEAMT_9,
                   TRLFILE.TL_FEECODE_10,
                   TRLFILE.TL_FEEAMT_10,
                   TRLFILE.TL_FEECODE_11,
                   TRLFILE.TL_FEEAMT_11,
                   TRLFILE.TL_FEECODE_12,
                   TRLFILE.TL_FEEAMT_12,
                   TRLFILE.TL_FEECODE_13,
                   TRLFILE.TL_FEEAMT_13,
                   TRLFILE.TL_FEECODE_14,
                   TRLFILE.TL_FEEAMT_14,
                   TRLFILE.TL_FEECODE_15,
                   TRLFILE.TL_FEEAMT_15,
                   TRLFILE.TL_FEECODE_16,
                   TRLFILE.TL_FEEAMT_16,
                   TRLFILE.TL_FEECODE_17,
                   TRLFILE.TL_FEEAMT_17,
                   TRLFILE.TL_FEECODE_18,
                   TRLFILE.TL_FEEAMT_18,
                   TRLFILE.TL_FEECODE_19,
                   TRLFILE.TL_FEEAMT_19,
                   TRLFILE.TL_FEECODE_20,
                   TRLFILE.TL_FEEAMT_20,
                   TRLFILE.TL_INSURED,
                   TRLFILE.TL_INSTYPES,
                   TRLFILE.TL_INSELIGIBLE,
                   TRLFILE.TL_INSCOMP_1,
                   TRLFILE.TL_INSOURS_1,
                   CAST(TRLFILE.TL_INSEFF_DATE_1 AS VARCHAR(10)),
                   CAST(TRLFILE.TL_INSEXP_DATE_1 AS VARCHAR(10)),
                   TRLFILE.TL_INSPREM_1,
                   TRLFILE.TL_INSCOMM_1,
                   TRLFILE.TL_INSEARNINGS_1,
                   TRLFILE.TL_INSANTICERN_1,
                   TRLFILE.TL_INSCOMP_2,
                   TRLFILE.TL_INSOURS_2,
                   CAST(TRLFILE.TL_INSEFF_DATE_2 AS VARCHAR(10)),
                   CAST(TRLFILE.TL_INSEXP_DATE_2 AS VARCHAR(10)),
                   TRLFILE.TL_INSPREM_2,
                   TRLFILE.TL_INSCOMM_2,
                   TRLFILE.TL_INSEARNINGS_2,
                   TRLFILE.TL_INSANTICERN_2,
                   TRLFILE.TL_INSCOMP_3,
                   TRLFILE.TL_INSOURS_3,
                   CAST(TRLFILE.TL_INSEFF_DATE_3 AS VARCHAR(10)),
                   CAST(TRLFILE.TL_INSEXP_DATE_3 AS VARCHAR(10)),
                   TRLFILE.TL_INSPREM_3,
                   TRLFILE.TL_INSCOMM_3,
                   TRLFILE.TL_INSEARNINGS_3,
                   TRLFILE.TL_INSANTICERN_3,
                   TRLFILE.TL_INSCOMP_4,
                   TRLFILE.TL_INSOURS_4,
                   CAST(TRLFILE.TL_INSEFF_DATE_4 AS VARCHAR(10)),
                   CAST(TRLFILE.TL_INSEXP_DATE_4 AS VARCHAR(10)),
                   TRLFILE.TL_INSPREM_4,
                   TRLFILE.TL_INSCOMM_4,
                   TRLFILE.TL_INSEARNINGS_4,
                   TRLFILE.TL_INSANTICERN_4,
                   TRLFILE.TL_INSCOMP_5,
                   TRLFILE.TL_INSOURS_5,
                   CAST(TRLFILE.TL_INSEFF_DATE_5 AS VARCHAR(10)),
                   CAST(TRLFILE.TL_INSEXP_DATE_5 AS VARCHAR(10)),
                   TRLFILE.TL_INSPREM_5,
                   TRLFILE.TL_INSCOMM_5,
                   TRLFILE.TL_INSEARNINGS_5,
                   TRLFILE.TL_INSANTICERN_5,
                   TRLFILE.TL_INSCOMP_6,
                   TRLFILE.TL_INSOURS_6,
                   CAST(TRLFILE.TL_INSEFF_DATE_6 AS VARCHAR(10)),
                   CAST(TRLFILE.TL_INSEXP_DATE_6 AS VARCHAR(10)),
                   TRLFILE.TL_INSPREM_6,
                   TRLFILE.TL_INSCOMM_6,
                   TRLFILE.TL_INSEARNINGS_6,
                   TRLFILE.TL_INSANTICERN_6,
                   TRLFILE.TL_INSCOMP_7,
                   TRLFILE.TL_INSOURS_7,
                   CAST(TRLFILE.TL_INSEFF_DATE_7 AS VARCHAR(10)),
                   CAST(TRLFILE.TL_INSEXP_DATE_7 AS VARCHAR(10)),
                   TRLFILE.TL_INSPREM_7,
                   TRLFILE.TL_INSCOMM_7,
                   TRLFILE.TL_INSEARNINGS_7,
                   TRLFILE.TL_INSANTICERN_7,
                   TRLFILE.TL_INSCOMP_8,
                   TRLFILE.TL_INSOURS_8,
                   CAST(TRLFILE.TL_INSEFF_DATE_8 AS VARCHAR(10)),
                   CAST(TRLFILE.TL_INSEXP_DATE_8 AS VARCHAR(10)),
                   TRLFILE.TL_INSPREM_8,
                   TRLFILE.TL_INSCOMM_8,
                   TRLFILE.TL_INSEARNINGS_8,
                   TRLFILE.TL_INSANTICERN_8,
                   TRLFILE.TL_INSCOMP_9,
                   TRLFILE.TL_INSOURS_9,
                   CAST(TRLFILE.TL_INSEFF_DATE_9 AS VARCHAR(10)),
                   CAST(TRLFILE.TL_INSEXP_DATE_9 AS VARCHAR(10)),
                   TRLFILE.TL_INSPREM_9,
                   TRLFILE.TL_INSCOMM_9,
                   TRLFILE.TL_INSEARNINGS_9,
                   TRLFILE.TL_INSANTICERN_9,
                   TRLFILE.TL_INSCOMP_10,
                   TRLFILE.TL_INSOURS_10,
                   CAST(TRLFILE.TL_INSEFF_DATE_10 AS VARCHAR(10)),
                   CAST(TRLFILE.TL_INSEXP_DATE_10 AS VARCHAR(10)),
                   TRLFILE.TL_INSPREM_10,
                   TRLFILE.TL_INSCOMM_10,
                   TRLFILE.TL_INSEARNINGS_10,
                   TRLFILE.TL_INSANTICERN_10,
                   TRLFILE.TL_DLNO,
                   TRLFILE.TL_EARNINGS_1,
                   TRLFILE.TL_EARNINGS_2,
                   TRLFILE.TL_EARNINGS_3,
                   TRLFILE.TL_EARNINGS_4,
                   TRLFILE.TL_EARNINGS_5,
                   TRLFILE.TL_EARNINGS_6,
                   TRLFILE.TL_EARNINGS_7,
                   TRLFILE.TL_EARNINGS_8,
                   TRLFILE.TL_EARNINGS_9,
                   TRLFILE.TL_EARNINGS_10,
                   TRLFILE.TL_ANTICERN_1,
                   TRLFILE.TL_ANTICERN_2,
                   TRLFILE.TL_ANTICERN_3,
                   TRLFILE.TL_ANTICERN_4,
                   TRLFILE.TL_ANTICERN_5,
                   TRLFILE.TL_ANTICERN_6,
                   TRLFILE.TL_ANTICERN_7,
                   TRLFILE.TL_ANTICERN_8,
                   TRLFILE.TL_ANTICERN_9,
                   TRLFILE.TL_ANTICERN_10,
                   TRLFILE.TL_PRLNNO,
                   TRLFILE.TL_PRBAL,
                   TRLFILE.TL_PRINTDUE,
                   TRLFILE.TL_PRFINCHGRB,
                   TRLFILE.TL_PRINSRB,
                   TRLFILE.TL_LPEOD5_FG,
                   TRLFILE.TL_STATE_WORKER,
                   TRLFILE.TL_RESTRICTD_ACCTNO,
                   TRLFILE.TL_SPRCLASS,
                   TRLFILE.TL_USERID,
                   CAST(TRLFILE.TL_POSTDATE AS VARCHAR(10)),
                   TRLFILE.TL_POSTTIME,
                   TRLFILE.TL_GIFTNET,
                   TRLFILE.TL_APR,
                   TRLFILE.TL_SP_LNCOST_FRMLA,
                   TRLFILE.TL_MIP_FG,
                   TRLFILE.TL_INS_TAX_COUNTY_CD,
                   TRLFILE.TL_INS_TAX_CITY_CD,
                   TRLFILE.TL_PRDLDISC_UNEARN,
                   TRLFILE.TL_POINTS,
                   TRLFILE.TL_TAX_AMT,
                   TRLFILE.TL_PBI_PBD_FG,
                   TRLFILE.TL_APPROVED_BY_USER,
                   TRLFILE.TL_APPROVED_BY_CODE,
                   CAST(TRLFILE.TL_APPROVED_BY_DATE AS VARCHAR(10)),
                   TRLFILE.TL_APPROVED_BY_TIME,
                   TRLFILE.TL_DEBIT_CARD_AMT,
                   TRLFILE.TL_ACTIONCD2 
            FROM DBO.TRLFILE

    WHERE TRLFILE.TL_BRNO = @QTRL1_WBEG_BRNO
      AND TRLFILE.TL_DATE BETWEEN @QTRL1_WBEG_DATE  AND @QTRL1_WEND_DATE

	ORDER BY TRLFILE.TL_DATE,
	         TRLFILE.TL_CLASS,
             TRLFILE.TL_ACCTNO,
			 TRLFILE.TL_LINE

END 
GO
