USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LTDFLE_LTDFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LTDFLE_LTDFILE_SELECT             */
/*               PROGRAM NAME: UT/LTDFLE.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 03/26/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LTDFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_LTDFLE_LTDFILE_SELECT]
    @QLTD1_WBEG_BRNO            AS INT,
    @QLTD1_WBEG_ACCTNO          AS INT,
    @QLTD1_WEND_ACCTNO          AS INT  
 	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLTD1_WBEG_BRNO      INT
--DECLARE @QLTD1_WBEG_ACCTNO    INT
--DECLARE @QLTD1_WEND_ACCTNO    INT 

--SET @QLTD1_WBEG_BRNO           = 10 
--SET @QLTD1_WBEG_ACCTNO         = 00000000 
--SET @QLTD1_WEND_ACCTNO         = 99999999   
 
    SELECT LTDFILE.LTD_BRNO,
           LTDFILE.LTD_ACCTNO,
           LTDFILE.LTD_SEQNO,
           CAST(LTDFILE.LTD_LTOUCH_DATE   AS VARCHAR(10)),
           LTDFILE.LTD_DEBIT_CARD_NUMBER,
           LTDFILE.LTD_DEBIT_CARD_AMT,
           CAST(LTDFILE.LTD_LOANDATE      AS VARCHAR(10)),
           CAST(LTDFILE.LTD_VOID_DATE     AS VARCHAR(10)),
           CAST(LTDFILE.LTD_CLEARED_DATE  AS VARCHAR(10)),
           LTDFILE.LTD_CLEARED_AMT

    FROM DBO.LTDFILE

    WHERE LTDFILE.LTD_BRNO         = @QLTD1_WBEG_BRNO
      AND LTDFILE.LTD_ACCTNO BETWEEN @QLTD1_WBEG_ACCTNO
                                 AND @QLTD1_WEND_ACCTNO

    ORDER BY LTDFILE.LTD_BRNO,
             LTDFILE.LTD_ACCTNO,
             LTDFILE.LTD_SEQNO;
             
END




GO
