USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BILNSC_BIFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_BILNSC_BIFILE_SELECT              */
/*               PROGRAM NAME: WI/BILNSC.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 4/2024                                */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: BIFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_BILNSC_BIFILE_SELECT]
   @SEL_TYPE         AS CHAR(1),
   @QBI_WBEG_SSNO    AS INT,
   @QBI_WBEG_LNAME   AS CHAR(35),
   @QBI_WBEG_FNAME   AS CHAR(35)

 AS
BEGIN
	SET NOCOUNT ON;

DECLARE @PARAMLIST    NVARCHAR(4000),      
        @SQL          NVARCHAR(MAX)

--DECLARE @SEL_TYPE         CHAR(1)		   
--DECLARE @QBI_WBEG_SSNO    INT
--DECLARE @QBI_WBEG_LNAME   CHAR(35)
--DECLARE @QBI_WBEG_FNAME   CHAR(35)

--SET @SEL_TYPE         = 'S'
--SET @QBI_WBEG_SSNO    = 311000000
--SET @QBI_WBEG_LNAME   = 'SMITH'
--SET @QBI_WBEG_FNAME   = ' '

IF @SEL_TYPE = 'S'
  SELECT @SQL =	'SELECT TOP 900
                    BIFILE.BI_SSNO,
                    BIFILE.BI_ACCTNO,
                    BIFILE.BI_OWNBR,
                    BIFILE.BI_LNAME,
                    BIFILE.BI_FNAME,
                    CAST(BIFILE.BI_LTOUCH_DATE AS VARCHAR(10)) BI_LTOUCH_DATE,
                    BIFILE.BI_MAKERCD,
                    BIFILE.BI_ORGST,
                    BIFILE.BI_GIFTNET,
                    CAST(BIFILE.BI_POFFDATE AS VARCHAR(10)) BI_POFFDATE,
                    CAST(BIFILE.BI_ENTDATE AS VARCHAR(10)) BI_ENTDATE,
                    BIFILE.BI_SALEFIN,
                    BIFILE.BI_CONVERCD,
                    BIFILE.BI_PLCD,
                    BIFILE.BI_SMALLOAN,
                    CAST(BIFILE.BI_PLDATE AS VARCHAR(10)) BI_PLDATE
                 FROM DBO.BIFILE 
                 WHERE BIFILE.BI_SSNO >= @QBI_WBEG_SSNO
                 ORDER BY BIFILE.BI_SSNO, BIFILE.BI_ACCTNO, BIFILE.BI_OWNBR'

IF @SEL_TYPE = 'L'
  SELECT @SQL =	'SELECT TOP 900 BIFILE.BI_SSNO,
                        BIFILE.BI_ACCTNO,
                        BIFILE.BI_OWNBR,
                        BIFILE.BI_LNAME,
                        BIFILE.BI_FNAME,
                        CAST(BIFILE.BI_LTOUCH_DATE AS VARCHAR(10)) BI_LTOUCH_DATE,
                        BIFILE.BI_MAKERCD,
                        BIFILE.BI_ORGST,
                        BIFILE.BI_GIFTNET,
                        CAST(BIFILE.BI_POFFDATE AS VARCHAR(10)) BI_POFFDATE,
                        CAST(BIFILE.BI_ENTDATE AS VARCHAR(10)) BI_ENTDATE,
                        BIFILE.BI_SALEFIN,
                        BIFILE.BI_CONVERCD,
                        BIFILE.BI_PLCD,
                        BIFILE.BI_SMALLOAN,
                        CAST(BIFILE.BI_PLDATE AS VARCHAR(10)) BI_PLDATE
                     FROM (SELECT TOP 900
                              BIFILE.BI_LNAME,
                              BIFILE.BI_FNAME
                           FROM DBO.BIFILE
					       WHERE BIFILE.BI_LNAME >= @QBI_WBEG_LNAME
					        AND  BIFILE.BI_FNAME >= @QBI_WBEG_FNAME
					   GROUP BY BIFILE.BI_LNAME, BIFILE.BI_FNAME
					   ORDER BY BIFILE.BI_LNAME, BIFILE.BI_FNAME) AS T1
		         INNER JOIN DBO.BIFILE BIFILE
			      ON BIFILE.BI_LNAME  = T1.BI_LNAME
			     AND BIFILE.BI_FNAME = T1.BI_FNAME
			
			     ORDER BY BIFILE.BI_LNAME, BIFILE.BI_FNAME, BIFILE.BI_SSNO, BIFILE.BI_ACCTNO, BIFILE.BI_OWNBR'
  
					  					   					   					  					
SELECT @paramlist = '@SEL_TYPE       CHAR(1),
                     @QBI_WBEG_SSNO  INT,
                     @QBI_WBEG_LNAME CHAR(35),
					 @QBI_WBEG_FNAME CHAR(35)'

EXEC sp_executesql @SQL, @paramlist, @SEL_TYPE, @QBI_WBEG_SSNO, @QBI_WBEG_LNAME, @QBI_WBEG_FNAME

END
GO
