USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_EMTBRG_TRBFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_EMTBRG_TRBFILE_SELECT             */
/*               PROGRAM NAME: LP/EMTBRG.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRBFILE, LTCFILE, BWFILE                                */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_EMTBRG_TRBFILE_SELECT]
    @QTRB1_WBEG_BRNO    AS INT,
    @QTRB1_WBEG_DATE    AS DATE,
    @QTRB1_WEND_DATE    AS DATE,
    @QTRB1_WBEG_CLASS   AS INT,
    @QTRB1_WEND_CLASS   AS INT 
    
 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRB1_WBEG_BRNO  INT
--DECLARE @QTRB1_WBEG_DATE  DATE
--DECLARE @QTRB1_WEND_DATE  DATE
--DECLARE @QTRB1_WBEG_CLASS INT
--DECLARE @QTRB1_WEND_CLASS INT 
 
--SET @QTRB1_WBEG_BRNO      =  0010
--SET @QTRB1_WBEG_DATE      =  '2010-01-01'
--SET @QTRB1_WEND_DATE      =  '2023-12-31'
--SET @QTRB1_WBEG_CLASS     =  000
--SET @QTRB1_WEND_CLASS     =  999

   SELECT TRBFILE.TB_BRNO,
          CAST(TRBFILE.TB_DATE AS VARCHAR(10)),
          TRBFILE.TB_CLASS,
          TRBFILE.TB_ACCTNO,
          TRBFILE.TB_LAWCODE,
          TRBFILE.TB_LINE,
          TRBFILE.TB_SSNO_1,
          TRBFILE.TB_SSNO_2,
          TRBFILE.TB_SSNO_3,
          TRBFILE.TB_SSNO_4,
          TRBFILE.TB_MAKERCD_1, 
          TRBFILE.TB_MAKERCD_2, 
          TRBFILE.TB_MAKERCD_3, 
          TRBFILE.TB_MAKERCD_4, 
          TRBFILE.TB_REF_FRTO, 
          TRBFILE.TB_REFBR,
          TRBFILE.TB_PURCD, 
          TRBFILE.TB_SRCD, 
          TRBFILE.TB_COLLCD, 
          CAST(TRBFILE.TB_LOANDATE AS VARCHAR(10)), 
          TRBFILE.TB_PROCEEDS,
          TRBFILE.TB_LNAMT,
          TRBFILE.TB_FINCHG,
          TRBFILE.TB_INTCHG,
          TRBFILE.TB_SERCHG,
          TRBFILE.TB_EXTCHG,
          TRBFILE.TB_MAINTFEE,
          TRBFILE.TB_ORGTERM,
          TRBFILE.TB_DLNO,
          TRBFILE.TB_DLDISC,
          TRBFILE.TB_PURBAL,
          TRBFILE.TB_DLPARVPAID,
          TRBFILE.TB_DLPARVHELD,
          CAST(TRBFILE.TB_POSTDATE AS VARCHAR(10)), 
          TRBFILE.TB_PLCD,
          TRBFILE.TB_UNEARN_1,          
          TRBFILE.TB_UNEARN_2,          
          TRBFILE.TB_UNEARN_3,          
          TRBFILE.TB_UNEARN_4,          
          TRBFILE.TB_UNEARN_5,          
          TRBFILE.TB_UNEARN_6,          
          TRBFILE.TB_DLRVPRIN_1,        
          TRBFILE.TB_DLRVPRIN_2,        
          TRBFILE.TB_DLRVPRIN_3,        
          TRBFILE.TB_DLRVCHGS_1,        
          TRBFILE.TB_DLRVCHGS_2,        
          TRBFILE.TB_DLRVCHGS_3,        
          ISNULL(LNFILE.LN_OWNBR, 0),
          ISNULL(LNFILE.LN_ACCTNO, 0),
          ISNULL(LNFILE.LN_APRATE, 0),
          ISNULL(LTCFILE.LTC_BRNO, 0),
          ISNULL(LTCFILE.LTC_ACCTNO, 0),
          ISNULL(LTCFILE.LTC_SEQNO, 0),
          ISNULL(LTCFILE.LTC_DESC_1,''),
          ISNULL(LTCFILE.LTC_MAKE_1,''),
          ISNULL(LTCFILE.LTC_MODEL_1,''),
          ISNULL(LTCFILE.LTC_YEAR_1,''),
          ISNULL(LTCFILE.LTC_STYLE_1,''),
          ISNULL(LTCFILE.LTC_CLASS_1,''),
          ISNULL(LTCFILE.LTC_VIN_1,''),
          ISNULL(LTCFILE.LTC_TITLE_NO_1,''),
          ISNULL(LTCFILE.LTC_MILEAGE_1, 0),
          ISNULL(LTCFILE.LTC_VALUE_1, 0),
          ISNULL(LTCFILE.LTC_SELLPR_1, 0),
          ISNULL(LTCFILE.LTC_MISC_AMT_1, 0),
          ISNULL(LTCFILE.LTC_SENT_FLAG_1,''),
          ISNULL(CAST(LTCFILE.LTC_VIN_CHG_DATE_1
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LTCFILE.LTC_DESC_2,''),
          ISNULL(LTCFILE.LTC_MAKE_2,''),
          ISNULL(LTCFILE.LTC_MODEL_2,''),
          ISNULL(LTCFILE.LTC_YEAR_2,''),
          ISNULL(LTCFILE.LTC_STYLE_2,''),
          ISNULL(LTCFILE.LTC_CLASS_2,''),
          ISNULL(LTCFILE.LTC_VIN_2,''),
          ISNULL(LTCFILE.LTC_TITLE_NO_2,''),
          ISNULL(LTCFILE.LTC_MILEAGE_2, 0),
          ISNULL(LTCFILE.LTC_VALUE_2, 0),
          ISNULL(LTCFILE.LTC_SELLPR_2, 0),
          ISNULL(LTCFILE.LTC_MISC_AMT_2, 0),
          ISNULL(LTCFILE.LTC_SENT_FLAG_2,''),
          ISNULL(CAST(LTCFILE.LTC_VIN_CHG_DATE_2
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(BWFILE1.BW_OWNBR, 0),
          ISNULL(BWFILE1.BW_SSNO, 0),
          ISNULL(BWFILE1.BW_LNAME,''),
          ISNULL(BWFILE1.BW_FNAME,''),
          ISNULL(BWFILE1.BW_ADR1,''),
          ISNULL(BWFILE1.BW_ADR2,''),
          ISNULL(BWFILE1.BW_CITY,''),
          ISNULL(BWFILE1.BW_STATE,''),
          ISNULL(BWFILE1.BW_ZIP,''),
          ISNULL(BWFILE2.BW_OWNBR, 0),
          ISNULL(BWFILE2.BW_SSNO, 0),
          ISNULL(BWFILE2.BW_LNAME,''),
          ISNULL(BWFILE2.BW_FNAME,''),
          ISNULL(BWFILE2.BW_ADR1,''),
          ISNULL(BWFILE2.BW_ADR2,''),
          ISNULL(BWFILE2.BW_CITY,''),
          ISNULL(BWFILE2.BW_STATE,''),
          ISNULL(BWFILE2.BW_ZIP,'')

     FROM DBO.TRBFILE TRBFILE
  
     LEFT OUTER JOIN
  	      DBO.LNFILE  LNFILE 
       ON (TRBFILE.TB_BRNO        = LNFILE.LN_OWNBR
      AND  TRBFILE.TB_ACCTNO      = LNFILE.LN_ACCTNO)

    LEFT OUTER JOIN
	      DBO.LTCFILE LTCFILE 
      ON (LNFILE.LN_OWNBR        = LTCFILE.LTC_BRNO
     AND  LNFILE.LN_ACCTNO       = LTCFILE.LTC_ACCTNO
	 AND  LTCFILE.LTC_SEQNO      = 1) 

	LEFT OUTER JOIN
	      DBO.BWFILE  BWFILE1 
      ON (TRBFILE.TB_BRNO        = BWFILE1.BW_OWNBR
     AND  TRBFILE.TB_SSNO_1      = BWFILE1.BW_SSNO)

	LEFT OUTER JOIN
	      DBO.BWFILE  BWFILE2 
      ON (TRBFILE.TB_BRNO        = BWFILE2.BW_OWNBR
     AND  TRBFILE.TB_SSNO_2      = BWFILE2.BW_SSNO)

    WHERE TRBFILE.TB_BRNO        = @QTRB1_WBEG_BRNO
      AND TRBFILE.TB_DATE  BETWEEN @QTRB1_WBEG_DATE
                               AND @QTRB1_WEND_DATE
      AND TRBFILE.TB_CLASS BETWEEN @QTRB1_WBEG_CLASS
                               AND @QTRB1_WEND_CLASS
                 
    ORDER BY TRBFILE.TB_BRNO,
             TRBFILE.TB_CLASS,
             TRBFILE.TB_ACCTNO,
             TRBFILE.TB_DATE,
             TRBFILE.TB_LAWCODE,
             TRBFILE.TB_LINE,
             TRBFILE.TB_REFBR

END 
GO
