USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_MILAGE_TRPFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_MILAGE_TRPFILE_SELECT             */
/*               PROGRAM NAME: LP/MILAGE.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TPRFILE, BWFILE, LPFILE                                 */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_MILAGE_TRPFILE_SELECT]
    @QTRP1_WBEG_BRNO    AS INT,
    @QTRP1_WBEG_DATE    AS DATE,
    @QTRP1_WEND_DATE    AS DATE 


 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRP1_WBEG_BRNO    INT
--DECLARE @QTRP1_WBEG_DATE    DATE
--DECLARE @QTRP1_WEND_DATE    DATE

--SET @QTRP1_WBEG_BRNO    =  0010
--SET @QTRP1_WBEG_DATE    =  '2019-12-01'
--SET @QTRP1_WEND_DATE    =  '2019-12-31'

   SELECT TRPFILE.TP_BRNO,
          CAST(TRPFILE.TP_DATE AS VARCHAR(10)),
          TRPFILE.TP_CLASS,
          TRPFILE.TP_ACCTNO,
          TRPFILE.TP_LINE,
          TRPFILE.TP_SSNO,
          TRPFILE.TP_REFNO,
          CAST(TRPFILE.TP_PAYDATE AS VARCHAR(10)),
          TRPFILE.TP_TRAMT,
          TRPFILE.TP_APINT,
          TRPFILE.TP_APLC,
          TRPFILE.TP_APCUR,
          TRPFILE.TP_GLNO_1,
          TRPFILE.TP_GLNO_2,
          TRPFILE.TP_GLNO_3,
          TRPFILE.TP_GLAMT_1,
          TRPFILE.TP_GLAMT_2,
          TRPFILE.TP_GLAMT_3,
          TRPFILE.TP_POSTING_BR,
          TRPFILE.TP_OTHBR_FG,
          TRPFILE.TP_REVSEQNO,
          ISNULL(BWFILE.BW_OWNBR, 0),
          ISNULL(BWFILE.BW_SSNO, 0),
          ISNULL(BWFILE.BW_LNAME,' '),
          ISNULL(BWFILE.BW_FNAME,' '),
          ISNULL(LPFILE.LP_BRNO, 0),
          ISNULL(LPFILE.LP_ACCTNO, 0),
          ISNULL(LPFILE.LP_SEQNO, 0),
          ISNULL(CAST(LPFILE.LP_PAYDATE AS VARCHAR(10)), '1900-01-01')

     FROM DBO.TRPFILE TRPFILE

	 LEFT OUTER JOIN
	      DBO.BWFILE  BWFILE
       ON (TRPFILE.TP_BRNO       = BWFILE.BW_OWNBR
	  AND  TRPFILE.TP_SSNO       = BWFILE.BW_SSNO)

	 LEFT OUTER JOIN
	      DBO.LPFILE  LPFILE
       ON (TRPFILE.TP_BRNO       = LPFILE.LP_BRNO
	  AND  TRPFILE.TP_ACCTNO     = LPFILE.LP_ACCTNO
      AND  TRPFILE.TP_REVSEQNO   = LPFILE.LP_SEQNO)

    WHERE (TRPFILE.TP_BRNO       = @QTRP1_WBEG_BRNO
      AND  TRPFILE.TP_DATE BETWEEN @QTRP1_WBEG_DATE
                               AND @QTRP1_WEND_DATE)
      AND (TRPFILE.TP_REFNO       = 'NSF  ')
    ORDER BY TRPFILE.TP_BRNO,
             TRPFILE.TP_DATE,
             TRPFILE.TP_CLASS,
             TRPFILE.TP_ACCTNO,
             TRPFILE.TP_LINE

END 
GO
