USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_UERNRP_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_UERNRP_LNFILE_SELECT              */
/*               PROGRAM NAME: LP/UERNRP.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 07/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE BWFILE BRFILE                                    */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_UERNRP_LNFILE_SELECT]
    @BRANCHLIST         AS VARCHAR(7500),
    @QLN3_WBEG_CLASS    AS INT,
    @QLN3_WEND_CLASS    AS INT

 AS
BEGIN
	SET NOCOUNT ON;
	 		   
--DECLARE @BRANCHLIST        VARCHAR(7500)
--DECLARE @QLN3_WBEG_CLASS   INT
--DECLARE @QLN3_WEND_CLASS   INT 

--SET @@BRANCHLIST       = ' 0010'
--SET @QLN3_WBEG_CLASS   =  000
--SET @QLN3_WEND_CLASS   =  999

CREATE TABLE #TEMP1_BRANCH_GROUP_TBL
   ( SEQ int IDENTITY(1,1),
     BRNO int ); 

INSERT INTO #TEMP1_BRANCH_GROUP_TBL (BRNO)
SELECT P.VALUE FROM string_Split(@BRANCHLIST, ',') P;

            SELECT BRFILE.BR_NO,
                   BRFILE.BR_NAME,
                   BRFILE.BR_LOAN_NUM_FLAG,
                   BRFILE.BR_DATA_PATH,
                   BRFILE.BR_MACHINE,
			       LNFILE.LN_OWNBR,
                   LNFILE.LN_ACCTNO,
                   LNFILE.LN_CLASS,
                   LNFILE.LN_SUBCLASS,
                   LNFILE.LN_LAWCODE,
                   LNFILE.LN_SSNO1,
                   LNFILE.LN_MAKERCD1,
                   LNFILE.LN_SSNO2,
                   LNFILE.LN_MAKERCD2,
                   LNFILE.LN_SSNO3,
                   LNFILE.LN_MAKERCD3,
                   LNFILE.LN_SSNO4,
                   LNFILE.LN_MAKERCD4,
                   LNFILE.LN_ORGST,
                   LNFILE.LN_SPRCLASS,
                   LNFILE.LN_POCD,
                   LNFILE.LN_PLCD,
                   LNFILE.LN_SERVACCT,
                   LNFILE.LN_STATFLAGS,
                   CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_1STPYDATE AS VARCHAR(10)),
                   LNFILE.LN_ORGTERM,
                   LNFILE.LN_DLNO,
                   LNFILE.LN_CURBAL,
                   LNFILE.LN_ANTICTERM,
                   LNFILE.LN_ANTICERN_1,
                   LNFILE.LN_ANTICERN_2,
                   LNFILE.LN_ANTICERN_3,
                   LNFILE.LN_ANTICERN_4,
                   LNFILE.LN_ANTICERN_5,
                   LNFILE.LN_ANTICERN_6,
                   LNFILE.LN_ANTICERN_7,
                   LNFILE.LN_ANTICERN_8,
                   LNFILE.LN_ANTICERN_9,
                   LNFILE.LN_ANTICERN_10,
                   LNFILE.LN_ANTICADJ_1,
                   LNFILE.LN_ANTICADJ_2,
                   LNFILE.LN_ANTICADJ_3,
                   LNFILE.LN_ANTICADJ_4,
                   LNFILE.LN_ANTICADJ_5,
                   LNFILE.LN_ANTICADJ_6,
                   LNFILE.LN_ANTICADJ_7,
                   LNFILE.LN_ANTICADJ_8,
                   LNFILE.LN_ANTICADJ_9,
                   LNFILE.LN_ANTICADJ_10,
                   LNFILE.LN_UFERN_1,
                   LNFILE.LN_UFERN_2,
                   LNFILE.LN_UFERN_3,
                   LNFILE.LN_UFERN_4,
                   LNFILE.LN_UFERN_5,
                   LNFILE.LN_UFERN_6,
                   LNFILE.LN_UFERN_7,
                   LNFILE.LN_UFERN_8,
                   LNFILE.LN_UFERN_9,
                   LNFILE.LN_UFERN_10,
                   LNFILE.LN_ACCERN_1,
                   LNFILE.LN_ACCERN_2,
                   LNFILE.LN_ACCERN_3,
                   LNFILE.LN_ACCERN_4,
                   LNFILE.LN_ACCERN_5,
                   LNFILE.LN_ACCERN_6,
                   LNFILE.LN_ACCERN_7,
                   LNFILE.LN_ACCERN_8,
                   LNFILE.LN_ACCERN_9,
                   LNFILE.LN_ACCERN_10,
                   LNFILE.LN_TOTNODEF,
                   LNFILE.LN_SUM_ORGTERM,
                   LNFILE.LN_UNITPER_CD,
                   LNFILE.LN_UNITPER_FREQ,
				   ISNULL(BWFILE.BW_FNAME,' '),
				   ISNULL(BWFILE.BW_LNAME,' '),
			       ISNULL(BWFILE.BW_SOLICIT,' ')
		
		    FROM #TEMP1_BRANCH_GROUP_TBL T1

			INNER JOIN DBO.BRFILE BRFILE
			  ON BRFILE.BR_NO = T1.BRNO

			INNER JOIN DBO.LNFILE LNFILE
			  ON LNFILE.LN_OWNBR = BRFILE.BR_NO
			  AND LNFILE.LN_CLASS BETWEEN @QLN3_WBEG_CLASS AND @QLN3_WEND_CLASS
             	       			 
			 LEFT OUTER JOIN DBO.BWFILE BWFILE
	          ON BWFILE.BW_OWNBR = LNFILE.LN_OWNBR 
              AND BWFILE.BW_SSNO  = LNFILE.LN_SSNO1
	
	WHERE LN_CURBAL > 0
	 AND LN_PLCD = ' '
	 AND LN_SERVACCT != 'Y'

	ORDER BY T1.SEQ,
             LNFILE.LN_OWNBR,
             LNFILE.LN_CLASS,
             LNFILE.LN_ACCTNO

END 
GO
