USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LPEOD5_TRDFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LPEOD5_TRDFILE_SELECT             */
/*               PROGRAM NAME: LP/LPEOD5.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 06/13/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRDFILE                                                 */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   06/13/2024  RMZ          ADDED 'TEMP' TABLE PROCESS - (S35Q-67) */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_LPEOD5_TRDFILE_SELECT]
    @QTRD1_WBEG_BRNO        AS INT,
    @QTRD1_WBEG_DATE        AS DATE,
    @QTRD1_WEND_DATE        AS DATE 

	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRD1_WBEG_BRNO  INT
--DECLARE @QTRD1_WBEG_DATE  DATE
--DECLARE @QTRD1_WEND_DATE  DATE 
 
--SET @QTRD1_WBEG_BRNO      = 1450
--SET @QTRD1_WBEG_DATE      = '2021-04-01'
--SET @QTRD1_WEND_DATE      = '2021-04-30'


    DROP TABLE IF EXISTS #TEMP_LPEOD5_TRDFILE;            
	
  SELECT TRDFILE.TD_BRNO,
         CAST(TRDFILE.TD_DATE        AS VARCHAR(10)) AS TD_DATE,
         CAST(TRDFILE.TD_LTOUCH_DATE AS VARCHAR(10)) AS TD_LTOUCH_DATE,
         TRDFILE.TD_DEPOSIT,
         TRDFILE.TD_CHECK_DEPOSIT,
         TRDFILE.TD_BANK,
         TRDFILE.TD_CASH,
         TRDFILE.TD_GLFG,
         TRDFILE.TD_GLOVERSHORT,
         TRDFILE.TD_OVERSHORT,
         TRDFILE.TD_USERID,
         CAST(TRDFILE.TD_POSTDATE    AS VARCHAR(10)) AS TD_POSTDATE,
         TRDFILE.TD_POSTTIME

    INTO #TEMP_LPEOD5_TRDFILE

    FROM DBO.TRDFILE

   WHERE TRDFILE.TD_BRNO       = @QTRD1_WBEG_BRNO
     AND TRDFILE.TD_DATE BETWEEN @QTRD1_WBEG_DATE
                             AND @QTRD1_WEND_DATE; 


  SELECT *
    FROM #TEMP_LPEOD5_TRDFILE 
   ORDER BY #TEMP_LPEOD5_TRDFILE.TD_BRNO,
            #TEMP_LPEOD5_TRDFILE.TD_DATE;

    DROP TABLE IF EXISTS #TEMP_LPEOD5_TRDFILE;

END
GO
