USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LMEXTR_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LMEXTR_LNFILE_SELECT              */
/*               PROGRAM NAME: SP/LMEXTR.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 03/21/2025                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*           (S35Q-182)                                              */
/*                                                                   */
/*   TABLES: LNFILE, LMFILE                                          */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_LMEXTR_LNFILE_SELECT]
  @QLN3_WBEG_OWNBR            AS INT,
  @QLN3_WBEG_CLASS            AS INT,
  @QLN3_WEND_CLASS            AS INT,
  @QWS_WBEG_DATE_REV          AS INT,
  @QWS_WEND_DATE_REV          AS INT, 
  @QWS_ZBAL                   AS CHAR(1),
  @QWS_PL                     AS CHAR(1),
  @QWS_PRIORITY_ISO           AS CHAR(1)

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN3_WBEG_OWNBR    INT
--DECLARE @QLN3_WBEG_CLASS    INT
--DECLARE @QLN3_WEND_CLASS    INT
--DECLARE @QWS_WBEG_DATE_REV  INT
--DECLARE @QWS_WEND_DATE_REV  INT
--DECLARE @QWS_ZBAL           CHAR(1)
--DECLARE @QWS_PL             CHAR(1)
--DECLARE @QWS_PRIORITY_ISO   CHAR(1)

--SET @QLN3_WBEG_OWNBR         = 55
--SET @QLN3_WBEG_CLASS        = 000 
--SET @QLN3_WEND_CLASS        = 999 
--SET @QWS_WBEG_DATE_REV      = 00000001
--SET @QWS_WEND_DATE_REV      = 99999999
--SET @QWS_ZBAL               = 'I'
--SET @QWS_PL                 = 'I'
--SET @QWS_PRIORITY_ISO       = 'I' 

 SELECT LNFILE.LN_OWNBR, 
        LNFILE.LN_ACCTNO,
        LNFILE.LN_CLASS,
        ISNULL(CAST(LNFILE.LN_PLDATE AS VARCHAR(10)),'0')
                                     AS LN_PLDATE,
        LNFILE.LN_CURBAL,
        LNFILE.LN_INTBAL,
        LNFILE.LN_LCBAL,
        LNFILE.LN_OTHBAL,
        LMFILE.LM_BRNO,
        LMFILE.LM_ACCTNO,
        LMFILE.LM_DATE_REVERSED,
        LMFILE.LM_SEQ,
        LMFILE.LM_MEMO,
        LMFILE.LM_MEMO_TYPE

  FROM  DBO.LMFILE LMFILE
 INNER
    JOIN 
        DBO.LNFILE LNFILE

     ON (  LNFILE.LN_OWNBR               = @QLN3_WBEG_OWNBR
    AND    LNFILE.LN_CLASS         BETWEEN @QLN3_WBEG_CLASS
                                       AND @QLN3_WEND_CLASS )

    AND ( LMFILE.LM_BRNO                 = LNFILE.LN_OWNBR
    AND   LMFILE.LM_ACCTNO               = LNFILE.LN_ACCTNO )

    AND ( LMFILE.LM_DATE_REVERSED  BETWEEN @QWS_WBEG_DATE_REV
                                       AND @QWS_WEND_DATE_REV
     OR   LMFILE.LM_DATE_REVERSED        = 0 ) 

    AND  (  LMFILE.LM_DATE_REVERSED     != 99999999 )

    AND ((  @QWS_PL                      = 'I' )
     OR  (  @QWS_PL                      = 'O'
    AND     LNFILE.LN_PLDATE            != '1900-01-01' )
     OR  (  @QWS_PL                      = 'S'
    AND     LNFILE.LN_PLDATE             = '1900-01-01' )) 

    AND ((  @QWS_ZBAL                    = 'I' )
     OR (   @QWS_ZBAL                    = 'O' 
    AND     LNFILE.LN_CURBAL             = 0
    AND     LNFILE.LN_INTBAL             = 0
    AND     LNFILE.LN_LCBAL              = 0 
    AND     LNFILE.LN_OTHBAL             = 0 )
     OR (   @QWS_ZBAL                    = 'S' 
    AND  (  LNFILE.LN_CURBAL            != 0
     OR     LNFILE.LN_INTBAL            != 0
     OR     LNFILE.LN_LCBAL             != 0 
     OR     LNFILE.LN_OTHBAL            != 0 ))) 

    AND  (( @QWS_PRIORITY_ISO            = 'S'         
    AND     LMFILE.LM_DATE_REVERSED     != 0)
     OR   ( @QWS_PRIORITY_ISO            = 'O'         
    AND     LMFILE.LM_DATE_REVERSED      = 0 ) 
     OR  (  @QWS_PRIORITY_ISO            = 'I' ))

  ORDER BY LMFILE.LM_BRNO,
           LMFILE.LM_ACCTNO,
           LMFILE.LM_DATE_REVERSED,
           LMFILE.LM_SEQ; 

END
GO
