USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_EOYUPD_DSFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_EOYUPD_DSFILE_SELECT              */
/*               PROGRAM NAME: LP/EOYUPD.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 03/04/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: DSFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_EOYUPD_DSFILE_SELECT]
    @QDS1_WBEG_BRANCH      AS INT,
    @QDS1_WBEG_DATE_CCYYMM AS INT,
    @QDS1_WEND_DATE_CCYYMM AS INT,
    @QDS1_WBEG_NUM         AS INT,
    @QDS1_WEND_NUM         AS INT, 
	@QDS1_WBEG_CLASS       AS INT,
	@QDS1_WEND_CLASS       AS INT


AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QDS1_WBEG_BRANCH      INT
--DECLARE @QDS1_WBEG_DATE_CCYYMM INT
--DECLARE @QDS1_WEND_DATE_CCYYMM INT
--DECLARE @QDS1_WBEG_NUM         INT
--DECLARE @QDS1_WEND_NUM         INT
--DECLARE @QDS1_WBEG_CLASS       INT
--DECLARE @QDS1_WEND_CLASS       INT

--SET @QDS1_WBEG_BRANCH      = 203
--SET @QDS1_WBEG_DATE_CCYYMM = 202401 
--SET @QDS1_WEND_DATE_CCYYMM = 202401 
--SET @QDS1_WBEG_NUM         = 000000 
--SET @QDS1_WEND_NUM         = 999999
--SET @QDS1_WBEG_CLASS       = 000
--SET @QDS1_WEND_CLASS       = 999

DROP TABLE IF EXISTS #TEMP_EOYUPD_DSFILE;

   SELECT TEMP.DS_DATE_CCYYMM,
          TEMP.DS_BRANCH,
          TEMP.DS_NUM,
          TEMP.DS_CLASS,
          TEMP.DS_NPURUNIT_1,
          TEMP.DS_NPURUNIT_2,
          TEMP.DS_NPURUNIT_3,
          TEMP.DS_NPURAMT_1,
          TEMP.DS_NPURAMT_2,
          TEMP.DS_NPURAMT_3,
          TEMP.DS_OPURUNIT_1,
          TEMP.DS_OPURUNIT_2,
          TEMP.DS_OPURUNIT_3,
          TEMP.DS_OPURAMT_1,
          TEMP.DS_OPURAMT_2,
          TEMP.DS_OPURAMT_3,
          TEMP.DS_RNEWUNIT_1,
          TEMP.DS_RNEWUNIT_2,
          TEMP.DS_RNEWUNIT_3,
          TEMP.DS_RNEWAMT_1,
          TEMP.DS_RNEWAMT_2,
          TEMP.DS_RNEWAMT_3,
          TEMP.DS_PAIDUNIT_1,
          TEMP.DS_PAIDUNIT_2,
          TEMP.DS_PAIDUNIT_3,
          TEMP.DS_PAIDAMT_1,
          TEMP.DS_PAIDAMT_2,
          TEMP.DS_PAIDAMT_3,
          TEMP.DS_TODLUNIT_1,
          TEMP.DS_TODLUNIT_2,
          TEMP.DS_TODLUNIT_3,
          TEMP.DS_TODLAMT_1,
          TEMP.DS_TODLAMT_2,
          TEMP.DS_TODLAMT_3,
          TEMP.DS_OUTSUNIT_1,
          TEMP.DS_OUTSUNIT_2,
          TEMP.DS_OUTSUNIT_3,
          TEMP.DS_OUTSAMT_1,
          TEMP.DS_OUTSAMT_2,
          TEMP.DS_OUTSAMT_3,
          TEMP.DS_PLOSUNIT_1,
          TEMP.DS_PLOSUNIT_2,
          TEMP.DS_PLOSUNIT_3,
          TEMP.DS_PLOSAMT_1,
          TEMP.DS_PLOSAMT_2,
          TEMP.DS_PLOSAMT_3,
          TEMP.DS_RCPLUNIT_1,
          TEMP.DS_RCPLUNIT_2,
          TEMP.DS_RCPLUNIT_3,
          TEMP.DS_RCPLAMT_1,
          TEMP.DS_RCPLAMT_2,
          TEMP.DS_RCPLAMT_3,
          TEMP.DS_JDOSUNIT_1,
          TEMP.DS_JDOSUNIT_2,
          TEMP.DS_JDOSUNIT_3,
          TEMP.DS_JDOSAMT_1,
          TEMP.DS_JDOSAMT_2,
          TEMP.DS_JDOSAMT_3,
          TEMP.DS_PROCEEDS_1,
          TEMP.DS_PROCEEDS_2,
          TEMP.DS_NO_REPO_1_1_1,
          TEMP.DS_NO_REPO_1_1_2,
          TEMP.DS_NO_REPO_1_1_3,
          TEMP.DS_NO_REPO_1_1_4,
          TEMP.DS_NO_REPO_1_1_5,
          TEMP.DS_NO_REPO_1_2_1,
          TEMP.DS_NO_REPO_1_2_2,
          TEMP.DS_NO_REPO_1_2_3,
          TEMP.DS_NO_REPO_1_2_4,
          TEMP.DS_NO_REPO_1_2_5,
          TEMP.DS_NO_REPO_2_1_1,
          TEMP.DS_NO_REPO_2_1_2,
          TEMP.DS_NO_REPO_2_1_3,
          TEMP.DS_NO_REPO_2_1_4,
          TEMP.DS_NO_REPO_2_1_5,
          TEMP.DS_NO_REPO_2_2_1,
          TEMP.DS_NO_REPO_2_2_2,
          TEMP.DS_NO_REPO_2_2_3,
          TEMP.DS_NO_REPO_2_2_4,
          TEMP.DS_NO_REPO_2_2_5,
          TEMP.DS_NO_REPO_3_1_1,
          TEMP.DS_NO_REPO_3_1_2,
          TEMP.DS_NO_REPO_3_1_3,
          TEMP.DS_NO_REPO_3_1_4,
          TEMP.DS_NO_REPO_3_1_5,
          TEMP.DS_NO_REPO_3_2_1,
          TEMP.DS_NO_REPO_3_2_2,
          TEMP.DS_NO_REPO_3_2_3,
          TEMP.DS_NO_REPO_3_2_4,
          TEMP.DS_NO_REPO_3_2_5,
          TEMP.DS_AMT_REPO_1_1_1,
          TEMP.DS_AMT_REPO_1_1_2,
          TEMP.DS_AMT_REPO_1_1_3,
          TEMP.DS_AMT_REPO_1_1_4,
          TEMP.DS_AMT_REPO_1_1_5,
          TEMP.DS_AMT_REPO_1_2_1,
          TEMP.DS_AMT_REPO_1_2_2,
          TEMP.DS_AMT_REPO_1_2_3,
          TEMP.DS_AMT_REPO_1_2_4,
          TEMP.DS_AMT_REPO_1_2_5,
          TEMP.DS_AMT_REPO_2_1_1,
          TEMP.DS_AMT_REPO_2_1_2,
          TEMP.DS_AMT_REPO_2_1_3,
          TEMP.DS_AMT_REPO_2_1_4,
          TEMP.DS_AMT_REPO_2_1_5,
          TEMP.DS_AMT_REPO_2_2_1,
          TEMP.DS_AMT_REPO_2_2_2,
          TEMP.DS_AMT_REPO_2_2_3,
          TEMP.DS_AMT_REPO_2_2_4,
          TEMP.DS_AMT_REPO_2_2_5,
          TEMP.DS_AMT_REPO_3_1_1,
          TEMP.DS_AMT_REPO_3_1_2,
          TEMP.DS_AMT_REPO_3_1_3,
          TEMP.DS_AMT_REPO_3_1_4,
          TEMP.DS_AMT_REPO_3_1_5,
          TEMP.DS_AMT_REPO_3_2_1,
          TEMP.DS_AMT_REPO_3_2_2,
          TEMP.DS_AMT_REPO_3_2_3,
          TEMP.DS_AMT_REPO_3_2_4,
          TEMP.DS_AMT_REPO_3_2_5,
          TEMP.DS_UNEARNED_AMT_1_1_1,
          TEMP.DS_UNEARNED_AMT_1_1_2,
          TEMP.DS_UNEARNED_AMT_1_1_3,
          TEMP.DS_UNEARNED_AMT_1_1_4,
          TEMP.DS_UNEARNED_AMT_1_1_5,
          TEMP.DS_UNEARNED_AMT_1_1_6,
          TEMP.DS_UNEARNED_AMT_1_1_7,
          TEMP.DS_UNEARNED_AMT_1_1_8,
          TEMP.DS_UNEARNED_AMT_1_1_9,
          TEMP.DS_UNEARNED_AMT_1_1_10,
          TEMP.DS_UNEARNED_AMT_1_2_1,
          TEMP.DS_UNEARNED_AMT_1_2_2,
          TEMP.DS_UNEARNED_AMT_1_2_3,
          TEMP.DS_UNEARNED_AMT_1_2_4,
          TEMP.DS_UNEARNED_AMT_1_2_5,
          TEMP.DS_UNEARNED_AMT_1_2_6,
          TEMP.DS_UNEARNED_AMT_1_2_7,
          TEMP.DS_UNEARNED_AMT_1_2_8,
          TEMP.DS_UNEARNED_AMT_1_2_9,
          TEMP.DS_UNEARNED_AMT_1_2_10,
          TEMP.DS_UNEARNED_AMT_2_1_1,
          TEMP.DS_UNEARNED_AMT_2_1_2,
          TEMP.DS_UNEARNED_AMT_2_1_3,
          TEMP.DS_UNEARNED_AMT_2_1_4,
          TEMP.DS_UNEARNED_AMT_2_1_5,
          TEMP.DS_UNEARNED_AMT_2_1_6,
          TEMP.DS_UNEARNED_AMT_2_1_7,
          TEMP.DS_UNEARNED_AMT_2_1_8,
          TEMP.DS_UNEARNED_AMT_2_1_9,
          TEMP.DS_UNEARNED_AMT_2_1_10,
          TEMP.DS_UNEARNED_AMT_2_2_1,
          TEMP.DS_UNEARNED_AMT_2_2_2,
          TEMP.DS_UNEARNED_AMT_2_2_3,
          TEMP.DS_UNEARNED_AMT_2_2_4,
          TEMP.DS_UNEARNED_AMT_2_2_5,
          TEMP.DS_UNEARNED_AMT_2_2_6,
          TEMP.DS_UNEARNED_AMT_2_2_7,
          TEMP.DS_UNEARNED_AMT_2_2_8,
          TEMP.DS_UNEARNED_AMT_2_2_9,
          TEMP.DS_UNEARNED_AMT_2_2_10,
          TEMP.DS_UNEARNED_AMT_3_1_1,
          TEMP.DS_UNEARNED_AMT_3_1_2,
          TEMP.DS_UNEARNED_AMT_3_1_3,
          TEMP.DS_UNEARNED_AMT_3_1_4,
          TEMP.DS_UNEARNED_AMT_3_1_5,
          TEMP.DS_UNEARNED_AMT_3_1_6,
          TEMP.DS_UNEARNED_AMT_3_1_7,
          TEMP.DS_UNEARNED_AMT_3_1_8,
          TEMP.DS_UNEARNED_AMT_3_1_9,
          TEMP.DS_UNEARNED_AMT_3_1_10,
          TEMP.DS_UNEARNED_AMT_3_2_1,
          TEMP.DS_UNEARNED_AMT_3_2_2,
          TEMP.DS_UNEARNED_AMT_3_2_3,
          TEMP.DS_UNEARNED_AMT_3_2_4,
          TEMP.DS_UNEARNED_AMT_3_2_5,
          TEMP.DS_UNEARNED_AMT_3_2_6,
          TEMP.DS_UNEARNED_AMT_3_2_7,
          TEMP.DS_UNEARNED_AMT_3_2_8,
          TEMP.DS_UNEARNED_AMT_3_2_9,
          TEMP.DS_UNEARNED_AMT_3_2_10,
          TEMP.DS_DLDISC_VOL_1,
          TEMP.DS_DLDISC_VOL_2,
          TEMP.DS_DLDISC_VOL_3

     INTO #TEMP_EOYUPD_DSFILE

     FROM

  (SELECT DSFILE.DS_DATE_CCYYMM,
          DSFILE.DS_BRANCH,
          DSFILE.DS_NUM,
          DSFILE.DS_CLASS,
          DSFILE.DS_NPURUNIT_1,
          DSFILE.DS_NPURUNIT_2,
          DSFILE.DS_NPURUNIT_3,
          DSFILE.DS_NPURAMT_1,
          DSFILE.DS_NPURAMT_2,
          DSFILE.DS_NPURAMT_3,
          DSFILE.DS_OPURUNIT_1,
          DSFILE.DS_OPURUNIT_2,
          DSFILE.DS_OPURUNIT_3,
          DSFILE.DS_OPURAMT_1,
          DSFILE.DS_OPURAMT_2,
          DSFILE.DS_OPURAMT_3,
          DSFILE.DS_RNEWUNIT_1,
          DSFILE.DS_RNEWUNIT_2,
          DSFILE.DS_RNEWUNIT_3,
          DSFILE.DS_RNEWAMT_1,
          DSFILE.DS_RNEWAMT_2,
          DSFILE.DS_RNEWAMT_3,
          DSFILE.DS_PAIDUNIT_1,
          DSFILE.DS_PAIDUNIT_2,
          DSFILE.DS_PAIDUNIT_3,
          DSFILE.DS_PAIDAMT_1,
          DSFILE.DS_PAIDAMT_2,
          DSFILE.DS_PAIDAMT_3,
          DSFILE.DS_TODLUNIT_1,
          DSFILE.DS_TODLUNIT_2,
          DSFILE.DS_TODLUNIT_3,
          DSFILE.DS_TODLAMT_1,
          DSFILE.DS_TODLAMT_2,
          DSFILE.DS_TODLAMT_3,
          DSFILE.DS_OUTSUNIT_1,
          DSFILE.DS_OUTSUNIT_2,
          DSFILE.DS_OUTSUNIT_3,
          DSFILE.DS_OUTSAMT_1,
          DSFILE.DS_OUTSAMT_2,
          DSFILE.DS_OUTSAMT_3,
          DSFILE.DS_PLOSUNIT_1,
          DSFILE.DS_PLOSUNIT_2,
          DSFILE.DS_PLOSUNIT_3,
          DSFILE.DS_PLOSAMT_1,
          DSFILE.DS_PLOSAMT_2,
          DSFILE.DS_PLOSAMT_3,
          DSFILE.DS_RCPLUNIT_1,
          DSFILE.DS_RCPLUNIT_2,
          DSFILE.DS_RCPLUNIT_3,
          DSFILE.DS_RCPLAMT_1,
          DSFILE.DS_RCPLAMT_2,
          DSFILE.DS_RCPLAMT_3,
          DSFILE.DS_JDOSUNIT_1,
          DSFILE.DS_JDOSUNIT_2,
          DSFILE.DS_JDOSUNIT_3,
          DSFILE.DS_JDOSAMT_1,
          DSFILE.DS_JDOSAMT_2,
          DSFILE.DS_JDOSAMT_3,
          DSFILE.DS_PROCEEDS_1,
          DSFILE.DS_PROCEEDS_2,
          DSFILE.DS_NO_REPO_1_1_1,
          DSFILE.DS_NO_REPO_1_1_2,
          DSFILE.DS_NO_REPO_1_1_3,
          DSFILE.DS_NO_REPO_1_1_4,
          DSFILE.DS_NO_REPO_1_1_5,
          DSFILE.DS_NO_REPO_1_2_1,
          DSFILE.DS_NO_REPO_1_2_2,
          DSFILE.DS_NO_REPO_1_2_3,
          DSFILE.DS_NO_REPO_1_2_4,
          DSFILE.DS_NO_REPO_1_2_5,
          DSFILE.DS_NO_REPO_2_1_1,
          DSFILE.DS_NO_REPO_2_1_2,
          DSFILE.DS_NO_REPO_2_1_3,
          DSFILE.DS_NO_REPO_2_1_4,
          DSFILE.DS_NO_REPO_2_1_5,
          DSFILE.DS_NO_REPO_2_2_1,
          DSFILE.DS_NO_REPO_2_2_2,
          DSFILE.DS_NO_REPO_2_2_3,
          DSFILE.DS_NO_REPO_2_2_4,
          DSFILE.DS_NO_REPO_2_2_5,
          DSFILE.DS_NO_REPO_3_1_1,
          DSFILE.DS_NO_REPO_3_1_2,
          DSFILE.DS_NO_REPO_3_1_3,
          DSFILE.DS_NO_REPO_3_1_4,
          DSFILE.DS_NO_REPO_3_1_5,
          DSFILE.DS_NO_REPO_3_2_1,
          DSFILE.DS_NO_REPO_3_2_2,
          DSFILE.DS_NO_REPO_3_2_3,
          DSFILE.DS_NO_REPO_3_2_4,
          DSFILE.DS_NO_REPO_3_2_5,
          DSFILE.DS_AMT_REPO_1_1_1,
          DSFILE.DS_AMT_REPO_1_1_2,
          DSFILE.DS_AMT_REPO_1_1_3,
          DSFILE.DS_AMT_REPO_1_1_4,
          DSFILE.DS_AMT_REPO_1_1_5,
          DSFILE.DS_AMT_REPO_1_2_1,
          DSFILE.DS_AMT_REPO_1_2_2,
          DSFILE.DS_AMT_REPO_1_2_3,
          DSFILE.DS_AMT_REPO_1_2_4,
          DSFILE.DS_AMT_REPO_1_2_5,
          DSFILE.DS_AMT_REPO_2_1_1,
          DSFILE.DS_AMT_REPO_2_1_2,
          DSFILE.DS_AMT_REPO_2_1_3,
          DSFILE.DS_AMT_REPO_2_1_4,
          DSFILE.DS_AMT_REPO_2_1_5,
          DSFILE.DS_AMT_REPO_2_2_1,
          DSFILE.DS_AMT_REPO_2_2_2,
          DSFILE.DS_AMT_REPO_2_2_3,
          DSFILE.DS_AMT_REPO_2_2_4,
          DSFILE.DS_AMT_REPO_2_2_5,
          DSFILE.DS_AMT_REPO_3_1_1,
          DSFILE.DS_AMT_REPO_3_1_2,
          DSFILE.DS_AMT_REPO_3_1_3,
          DSFILE.DS_AMT_REPO_3_1_4,
          DSFILE.DS_AMT_REPO_3_1_5,
          DSFILE.DS_AMT_REPO_3_2_1,
          DSFILE.DS_AMT_REPO_3_2_2,
          DSFILE.DS_AMT_REPO_3_2_3,
          DSFILE.DS_AMT_REPO_3_2_4,
          DSFILE.DS_AMT_REPO_3_2_5,
          DSFILE.DS_UNEARNED_AMT_1_1_1,
          DSFILE.DS_UNEARNED_AMT_1_1_2,
          DSFILE.DS_UNEARNED_AMT_1_1_3,
          DSFILE.DS_UNEARNED_AMT_1_1_4,
          DSFILE.DS_UNEARNED_AMT_1_1_5,
          DSFILE.DS_UNEARNED_AMT_1_1_6,
          DSFILE.DS_UNEARNED_AMT_1_1_7,
          DSFILE.DS_UNEARNED_AMT_1_1_8,
          DSFILE.DS_UNEARNED_AMT_1_1_9,
          DSFILE.DS_UNEARNED_AMT_1_1_10,
          DSFILE.DS_UNEARNED_AMT_1_2_1,
          DSFILE.DS_UNEARNED_AMT_1_2_2,
          DSFILE.DS_UNEARNED_AMT_1_2_3,
          DSFILE.DS_UNEARNED_AMT_1_2_4,
          DSFILE.DS_UNEARNED_AMT_1_2_5,
          DSFILE.DS_UNEARNED_AMT_1_2_6,
          DSFILE.DS_UNEARNED_AMT_1_2_7,
          DSFILE.DS_UNEARNED_AMT_1_2_8,
          DSFILE.DS_UNEARNED_AMT_1_2_9,
          DSFILE.DS_UNEARNED_AMT_1_2_10,
          DSFILE.DS_UNEARNED_AMT_2_1_1,
          DSFILE.DS_UNEARNED_AMT_2_1_2,
          DSFILE.DS_UNEARNED_AMT_2_1_3,
          DSFILE.DS_UNEARNED_AMT_2_1_4,
          DSFILE.DS_UNEARNED_AMT_2_1_5,
          DSFILE.DS_UNEARNED_AMT_2_1_6,
          DSFILE.DS_UNEARNED_AMT_2_1_7,
          DSFILE.DS_UNEARNED_AMT_2_1_8,
          DSFILE.DS_UNEARNED_AMT_2_1_9,
          DSFILE.DS_UNEARNED_AMT_2_1_10,
          DSFILE.DS_UNEARNED_AMT_2_2_1,
          DSFILE.DS_UNEARNED_AMT_2_2_2,
          DSFILE.DS_UNEARNED_AMT_2_2_3,
          DSFILE.DS_UNEARNED_AMT_2_2_4,
          DSFILE.DS_UNEARNED_AMT_2_2_5,
          DSFILE.DS_UNEARNED_AMT_2_2_6,
          DSFILE.DS_UNEARNED_AMT_2_2_7,
          DSFILE.DS_UNEARNED_AMT_2_2_8,
          DSFILE.DS_UNEARNED_AMT_2_2_9,
          DSFILE.DS_UNEARNED_AMT_2_2_10,
          DSFILE.DS_UNEARNED_AMT_3_1_1,
          DSFILE.DS_UNEARNED_AMT_3_1_2,
          DSFILE.DS_UNEARNED_AMT_3_1_3,
          DSFILE.DS_UNEARNED_AMT_3_1_4,
          DSFILE.DS_UNEARNED_AMT_3_1_5,
          DSFILE.DS_UNEARNED_AMT_3_1_6,
          DSFILE.DS_UNEARNED_AMT_3_1_7,
          DSFILE.DS_UNEARNED_AMT_3_1_8,
          DSFILE.DS_UNEARNED_AMT_3_1_9,
          DSFILE.DS_UNEARNED_AMT_3_1_10,
          DSFILE.DS_UNEARNED_AMT_3_2_1,
          DSFILE.DS_UNEARNED_AMT_3_2_2,
          DSFILE.DS_UNEARNED_AMT_3_2_3,
          DSFILE.DS_UNEARNED_AMT_3_2_4,
          DSFILE.DS_UNEARNED_AMT_3_2_5,
          DSFILE.DS_UNEARNED_AMT_3_2_6,
          DSFILE.DS_UNEARNED_AMT_3_2_7,
          DSFILE.DS_UNEARNED_AMT_3_2_8,
          DSFILE.DS_UNEARNED_AMT_3_2_9,
          DSFILE.DS_UNEARNED_AMT_3_2_10,
          DSFILE.DS_DLDISC_VOL_1,
          DSFILE.DS_DLDISC_VOL_2,
          DSFILE.DS_DLDISC_VOL_3

     FROM DBO.DSFILE DSFILE

     WHERE DSFILE.DS_BRANCH            = @QDS1_WBEG_BRANCH
       AND DSFILE.DS_DATE_CCYYMM BETWEEN @QDS1_WBEG_DATE_CCYYMM
                                     AND @QDS1_WEND_DATE_CCYYMM
       AND DSFILE.DS_NUM         BETWEEN @QDS1_WBEG_NUM
                                     AND @QDS1_WEND_NUM
       AND DSFILE.DS_CLASS       BETWEEN @QDS1_WBEG_CLASS
                                     AND @QDS1_WEND_CLASS) TEMP;

    SELECT #TEMP_EOYUPD_DSFILE.DS_DATE_CCYYMM,
           #TEMP_EOYUPD_DSFILE.DS_BRANCH,
           #TEMP_EOYUPD_DSFILE.DS_NUM,
           #TEMP_EOYUPD_DSFILE.DS_CLASS,
           #TEMP_EOYUPD_DSFILE.DS_NPURUNIT_1,
           #TEMP_EOYUPD_DSFILE.DS_NPURUNIT_2,
           #TEMP_EOYUPD_DSFILE.DS_NPURUNIT_3,
           #TEMP_EOYUPD_DSFILE.DS_NPURAMT_1,
           #TEMP_EOYUPD_DSFILE.DS_NPURAMT_2,
           #TEMP_EOYUPD_DSFILE.DS_NPURAMT_3,
           #TEMP_EOYUPD_DSFILE.DS_OPURUNIT_1,
           #TEMP_EOYUPD_DSFILE.DS_OPURUNIT_2,
           #TEMP_EOYUPD_DSFILE.DS_OPURUNIT_3,
           #TEMP_EOYUPD_DSFILE.DS_OPURAMT_1,
           #TEMP_EOYUPD_DSFILE.DS_OPURAMT_2,
           #TEMP_EOYUPD_DSFILE.DS_OPURAMT_3,
           #TEMP_EOYUPD_DSFILE.DS_RNEWUNIT_1,
           #TEMP_EOYUPD_DSFILE.DS_RNEWUNIT_2,
           #TEMP_EOYUPD_DSFILE.DS_RNEWUNIT_3,
           #TEMP_EOYUPD_DSFILE.DS_RNEWAMT_1,
           #TEMP_EOYUPD_DSFILE.DS_RNEWAMT_2,
           #TEMP_EOYUPD_DSFILE.DS_RNEWAMT_3,
           #TEMP_EOYUPD_DSFILE.DS_PAIDUNIT_1,
           #TEMP_EOYUPD_DSFILE.DS_PAIDUNIT_2,
           #TEMP_EOYUPD_DSFILE.DS_PAIDUNIT_3,
           #TEMP_EOYUPD_DSFILE.DS_PAIDAMT_1,
           #TEMP_EOYUPD_DSFILE.DS_PAIDAMT_2,
           #TEMP_EOYUPD_DSFILE.DS_PAIDAMT_3,
           #TEMP_EOYUPD_DSFILE.DS_TODLUNIT_1,
           #TEMP_EOYUPD_DSFILE.DS_TODLUNIT_2,
           #TEMP_EOYUPD_DSFILE.DS_TODLUNIT_3,
           #TEMP_EOYUPD_DSFILE.DS_TODLAMT_1,
           #TEMP_EOYUPD_DSFILE.DS_TODLAMT_2,
           #TEMP_EOYUPD_DSFILE.DS_TODLAMT_3,
           #TEMP_EOYUPD_DSFILE.DS_OUTSUNIT_1,
           #TEMP_EOYUPD_DSFILE.DS_OUTSUNIT_2,
           #TEMP_EOYUPD_DSFILE.DS_OUTSUNIT_3,
           #TEMP_EOYUPD_DSFILE.DS_OUTSAMT_1,
           #TEMP_EOYUPD_DSFILE.DS_OUTSAMT_2,
           #TEMP_EOYUPD_DSFILE.DS_OUTSAMT_3,
           #TEMP_EOYUPD_DSFILE.DS_PLOSUNIT_1,
           #TEMP_EOYUPD_DSFILE.DS_PLOSUNIT_2,
           #TEMP_EOYUPD_DSFILE.DS_PLOSUNIT_3,
           #TEMP_EOYUPD_DSFILE.DS_PLOSAMT_1,
           #TEMP_EOYUPD_DSFILE.DS_PLOSAMT_2,
           #TEMP_EOYUPD_DSFILE.DS_PLOSAMT_3,
           #TEMP_EOYUPD_DSFILE.DS_RCPLUNIT_1,
           #TEMP_EOYUPD_DSFILE.DS_RCPLUNIT_2,
           #TEMP_EOYUPD_DSFILE.DS_RCPLUNIT_3,
           #TEMP_EOYUPD_DSFILE.DS_RCPLAMT_1,
           #TEMP_EOYUPD_DSFILE.DS_RCPLAMT_2,
           #TEMP_EOYUPD_DSFILE.DS_RCPLAMT_3,
           #TEMP_EOYUPD_DSFILE.DS_JDOSUNIT_1,
           #TEMP_EOYUPD_DSFILE.DS_JDOSUNIT_2,
           #TEMP_EOYUPD_DSFILE.DS_JDOSUNIT_3,
           #TEMP_EOYUPD_DSFILE.DS_JDOSAMT_1,
           #TEMP_EOYUPD_DSFILE.DS_JDOSAMT_2,
           #TEMP_EOYUPD_DSFILE.DS_JDOSAMT_3,
           #TEMP_EOYUPD_DSFILE.DS_PROCEEDS_1,
           #TEMP_EOYUPD_DSFILE.DS_PROCEEDS_2,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_1_1_1,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_1_1_2,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_1_1_3,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_1_1_4,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_1_1_5,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_1_2_1,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_1_2_2,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_1_2_3,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_1_2_4,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_1_2_5,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_2_1_1,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_2_1_2,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_2_1_3,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_2_1_4,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_2_1_5,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_2_2_1,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_2_2_2,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_2_2_3,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_2_2_4,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_2_2_5,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_3_1_1,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_3_1_2,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_3_1_3,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_3_1_4,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_3_1_5,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_3_2_1,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_3_2_2,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_3_2_3,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_3_2_4,
           #TEMP_EOYUPD_DSFILE.DS_NO_REPO_3_2_5,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_1_1_1,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_1_1_2,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_1_1_3,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_1_1_4,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_1_1_5,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_1_2_1,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_1_2_2,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_1_2_3,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_1_2_4,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_1_2_5,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_2_1_1,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_2_1_2,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_2_1_3,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_2_1_4,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_2_1_5,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_2_2_1,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_2_2_2,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_2_2_3,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_2_2_4,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_2_2_5,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_3_1_1,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_3_1_2,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_3_1_3,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_3_1_4,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_3_1_5,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_3_2_1,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_3_2_2,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_3_2_3,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_3_2_4,
           #TEMP_EOYUPD_DSFILE.DS_AMT_REPO_3_2_5,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_1_1,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_1_2,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_1_3,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_1_4,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_1_5,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_1_6,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_1_7,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_1_8,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_1_9,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_1_10,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_2_1,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_2_2,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_2_3,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_2_4,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_2_5,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_2_6,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_2_7,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_2_8,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_2_9,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_1_2_10,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_1_1,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_1_2,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_1_3,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_1_4,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_1_5,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_1_6,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_1_7,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_1_8,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_1_9,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_1_10,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_2_1,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_2_2,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_2_3,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_2_4,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_2_5,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_2_6,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_2_7,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_2_8,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_2_9,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_2_2_10,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_1_1,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_1_2,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_1_3,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_1_4,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_1_5,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_1_6,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_1_7,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_1_8,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_1_9,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_1_10,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_2_1,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_2_2,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_2_3,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_2_4,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_2_5,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_2_6,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_2_7,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_2_8,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_2_9,
           #TEMP_EOYUPD_DSFILE.DS_UNEARNED_AMT_3_2_10,
           #TEMP_EOYUPD_DSFILE.DS_DLDISC_VOL_1,
           #TEMP_EOYUPD_DSFILE.DS_DLDISC_VOL_2,
           #TEMP_EOYUPD_DSFILE.DS_DLDISC_VOL_3

      FROM #TEMP_EOYUPD_DSFILE	   

     ORDER BY #TEMP_EOYUPD_DSFILE.DS_DATE_CCYYMM,
              #TEMP_EOYUPD_DSFILE.DS_BRANCH,
              #TEMP_EOYUPD_DSFILE.DS_NUM,
              #TEMP_EOYUPD_DSFILE.DS_CLASS;

 DROP TABLE IF EXISTS #TEMP_EOYUPD_DSFILE;

END
GO
