USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LSMFLE_LSMFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LSMFLE_LSMFILE_SELECT             */
/*               PROGRAM NAME: UT/LSMFLE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 03/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LSMFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_LSMFLE_LSMFILE_SELECT]
    @QLSM_WBEG_BRNO   AS INT,
	@QLSM_WBEG_ACCTNO AS INT,
	@QLSM_WEND_ACCTNO AS INT

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLSM_WBEG_BRNO  INT
--DECLARE @QLSM_WBEG_ACCTNO INT
--DECLARE @QLSM_WEND_ACCTNO INT

--SET @QLSM_WBEG_BRNO   = 1504
--SET @QLSM_WBEG_ACCTNO = 0
--SET @QLSM_WEND_ACCTNO = 99999999

            SELECT LSMFILE.LSM_BRNO,
                   LSMFILE.LSM_ACCTNO,
                   LSMFILE.LSM_SEQNO,
                   CAST(LSMFILE.LSM_LTOUCH_DATE AS VARCHAR(10)),
                   LSMFILE.LSM_MISC_FIELD_1,
                   LSMFILE.LSM_MISC_FIELD_2,
                   LSMFILE.LSM_MISC_FIELD_3,
                   LSMFILE.LSM_MISC_FIELD_4,
                   LSMFILE.LSM_MISC_FIELD_5,
                   LSMFILE.LSM_MISC_FIELD_6,
                   LSMFILE.LSM_MISC_FIELD_7,
                   LSMFILE.LSM_MISC_FIELD_8,
                   LSMFILE.LSM_MISC_FIELD_9,
                   LSMFILE.LSM_MISC_FIELD_10,
                   LSMFILE.LSM_MISC_FIELD_11,
                   LSMFILE.LSM_MISC_FIELD_12,
                   LSMFILE.LSM_MISC_FIELD_13,
                   LSMFILE.LSM_MISC_FIELD_14,
                   LSMFILE.LSM_MISC_FIELD_15,
                   LSMFILE.LSM_MISC_FIELD_16,
                   LSMFILE.LSM_MISC_FIELD_17,
                   LSMFILE.LSM_MISC_FIELD_18,
                   LSMFILE.LSM_MISC_FIELD_19,
                   LSMFILE.LSM_MISC_FIELD_20,
                   LSMFILE.LSM_MISC_FIELD_21,
                   LSMFILE.LSM_MISC_FIELD_22,
                   LSMFILE.LSM_MISC_FIELD_23,
                   LSMFILE.LSM_MISC_FIELD_24,
                   LSMFILE.LSM_MISC_FIELD_25,
                   LSMFILE.LSM_MISC_FIELD_26,
                   LSMFILE.LSM_MISC_FIELD_27,
                   LSMFILE.LSM_MISC_FIELD_28,
                   LSMFILE.LSM_MISC_FIELD_29,
                   LSMFILE.LSM_MISC_FIELD_30,
                   LSMFILE.LSM_MISC_FIELD_31,
                   LSMFILE.LSM_MISC_FIELD_32,
                   LSMFILE.LSM_TRANS_FROM_BRNO,
                   LSMFILE.LSM_TRANS_FROM_ACCTNO,
                   CAST(LSMFILE.LSM_TRANS_FROM_DATE AS VARCHAR(10)),
                   CAST(LSMFILE.LSM_MISPAY_90_DATE  AS VARCHAR(10)),
                   LSMFILE.LSM_SECOND_BEN_NAME,
                   LSMFILE.LSM_SECOND_BEN_ADR,
                   LSMFILE.LSM_SECOND_BEN_CITY,
                   LSMFILE.LSM_SECOND_BEN_ST,
                   LSMFILE.LSM_SECOND_BEN_ZIP,
                   LSMFILE.LSM_SECOND_BEN_PHONE,
                   LSMFILE.LSM_SECOND_BEN_RELATION
            FROM DBO.LSMFILE
 
            WHERE LSMFILE.LSM_BRNO =  @QLSM_WBEG_BRNO
              AND LSMFILE.LSM_ACCTNO BETWEEN @QLSM_WBEG_ACCTNO AND @QLSM_WEND_ACCTNO
            
			ORDER BY LSMFILE.LSM_BRNO,
                     LSMFILE.LSM_ACCTNO,
                     LSMFILE.LSM_SEQNO
 
END 
GO
