USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BWEXTR_CIFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_BWEXTR_CIFILE_SELECT              */
/*               PROGRAM NAME: SP/BWEXTR.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: CIFILE                                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_BWEXTR_CIFILE_SELECT]
    @QCI1_WBEG_BRNO       AS INT 
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QCI1_WBEG_BRNO    INT
--SET     @QCI1_WBEG_BRNO  = 10   
 
 SELECT CIFILE.CI_BRNO,
        CIFILE.CI_ACCTNO,
        CIFILE.CI_SSNO,
        CIFILE.CI_SSNO_2,
        CAST(CIFILE.CI_DATE_UPDATED    AS VARCHAR(10)),
        CIFILE.CI_AMT_REQUESTED,
        CIFILE.CI_MARITAL_STAT,
        CIFILE.CI_YEARS_IN_AREA,
        CAST(CIFILE.CI_DATE_AT_PRESENT_ADR
                                       AS VARCHAR(10)),
        CIFILE.CI_MONTHLY_RENT_MTG,
        CIFILE.CI_FAIR_MARKET_VALUE,
        CIFILE.CI_MTG_BALANCE,
        CIFILE.CI_CHECKING_ACCOUNT,
        CIFILE.CI_SAVINGS_ACCOUNT,
        CIFILE.CI_TOTAL_MO_INCOME,
        CIFILE.CI_LESS_MO_PAY,
        CAST(CIFILE.CI_DATE_HIRE_1     AS VARCHAR(10)), 
        CIFILE.CI_POSITION_CODE_1,
        CIFILE.CI_GROSS_MO_INCOME_1,
        CAST(CIFILE.CI_DATE_HIRE_2     AS VARCHAR(10)), 
        CIFILE.CI_POSITION_CODE_2,
        CIFILE.CI_GROSS_MO_INCOME_2
    
   FROM DBO.CIFILE CIFILE 
  WHERE ( CIFILE.CI_BRNO = @QCI1_WBEG_BRNO )   
  ORDER BY CIFILE.CI_BRNO,
           CIFILE.CI_ACCTNO 

END
GO
