USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_CQRUN_GQFILE_SELECT_BRANCH_ALL]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_CQRUN_GQFILE_SELECT_BRANCH_ALL    */
/*               PROGRAM NAME: LP/CQRUN.CBL                          */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 12/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*           NEEDED DUE TO PROGRAM UPDATING GQFILE IN PROCESSING     */
/*                                                                   */
/*   TABLES: GQFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/


CREATE PROCEDURE [dbo].[SSP_CQRUN_GQFILE_SELECT_BRANCH_ALL]
    @BEG_BRNO     AS INT

 AS
BEGIN
	SET NOCOUNT ON;
	 		   
--DECLARE @BEG_BRNO    INT
--SET @BEG_BRNO    = 10

  DROP TABLE IF EXISTS #TEMP_CQRUN_GQFILE;

            SELECT GQFILE.GQ_BRNO,
                   GQFILE.GQ_ACCTNO,
                   GQFILE.GQ_COLLID,
                   GQFILE.GQ_SEQ_FG,
                   CAST(GQFILE.GQ_DATE AS VARCHAR(10)) AS GQ_DATE,
                   GQFILE.GQ_START_TIME,
                   GQFILE.GQ_REV_DEL,
                   GQFILE.GQ_MISC_KEY_FLD,
                   GQFILE.GQ_REV_PDUE_DAYS,
                   GQFILE.GQ_REV_BAL,
                   GQFILE.GQ_SEQ,
                   CAST(GQFILE.GQ_LTOUCH_DATE AS VARCHAR(10)) AS GQ_LTOUCH_DATE,
                   GQFILE.GQ_WORK_COLLID,
                   GQFILE.GQ_WORKED_FG,
                   GQFILE.GQ_IN_PROCESS,
                   CAST(GQFILE.GQ_DATE_QUEUED AS VARCHAR(10)) AS GQ_DATE_QUEUED,
                   GQFILE.GQ_TIME_ZONE_ERROR

                   INTO #TEMP_CQRUN_GQFILE

	   FROM DBO.GQFILE GQFILE	   
       WHERE GQFILE.GQ_BRNO = @BEG_BRNO
	   ;
	  
		SELECT *
		FROM #TEMP_CQRUN_GQFILE
	    ORDER BY GQ_ACCTNO
		;
	   
	   DROP TABLE #TEMP_CQRUN_GQFILE;
	   
END 
GO
