USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_TINEXT_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_TINEXT_LNFILE_SELECT              */
/*               PROGRAM NAME: SP/TINEXT.CBL                         */
/*                 CREATED BY: MB   S35Q-121                         */
/*                CREATE DATE: 08/26/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE, BWFILE                                          */
/*                                                                   */
/*   REV DT:     BY:       REV:                                      */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_TINEXT_LNFILE_SELECT]
    @QLN3_WBEG_OWNBR      AS INT,
    @QLN3_WBEG_CLASS      AS INT,
	@QLN3_WEND_CLASS      AS INT,
	@BEG_LOANDATE         AS CHAR(10),
    @END_LOANDATE         AS CHAR(10),
	@BEG_PLDATE           AS CHAR(10),
    @END_PLDATE           AS CHAR(10)

 	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE  @QLN3_WBEG_OWNBR   AS INT 
--DECLARE  @QLN3_WBEG_CLASS   AS INT
--DECLARE  @QLN3_WEND_CLASS   AS INT
--DECLARE  @BEG_LOANDATE      AS CHAR(10)
--DECLARE  @END_LOANDATE      AS CHAR(10)
--DECLARE  @BEG_PLDATE        AS CHAR(10)
--DECLARE  @END_PLDATE        AS CHAR(10)

--SET  @QLN3_WBEG_OWNBR  = 701
--SET  @QLN3_WBEG_CLASS  = 0
--SET  @QLN3_WEND_CLASS  = 999
--SET  @BEG_LOANDATE     = '2023-01-01'
--SET  @END_LOANDATE     = '2023-12-31'
--SET  @BEG_PLDATE       = '1900-01-01'
--SET  @END_PLDATE       = '2049-12-31'

            SELECT LNFILE.LN_OWNBR,
                   LNFILE.LN_ACCTNO,
                   LNFILE.LN_CLASS,
                   LNFILE.LN_SUBCLASS,
                   LNFILE.LN_LAWCODE,
                   LNFILE.LN_SSNO1,
                   LNFILE.LN_MAKERCD1,
                   LNFILE.LN_SSNO2,
                   LNFILE.LN_MAKERCD2,
                   LNFILE.LN_SSNO3,
                   LNFILE.LN_MAKERCD3,
                   LNFILE.LN_SSNO4,
                   LNFILE.LN_MAKERCD4,
                   LNFILE.LN_ORGST,
                   LNFILE.LN_SPRCLASS,
                   LNFILE.LN_SRCD,
                   LNFILE.LN_POCD,
                   LNFILE.LN_LOANTYPE,
                   LNFILE.LN_STATFLAGS,
                   CAST(LNFILE.LN_LOANDATE       AS VARCHAR(10)),
                   CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_1STPYDATE      AS VARCHAR(10)),
                   CAST(LNFILE.LN_JDDATE         AS VARCHAR(10)),
                   CAST(LNFILE.LN_PLDATE         AS VARCHAR(10)),
                   CAST(LNFILE.LN_LEGALDATE      AS VARCHAR(10)),
                   CAST(LNFILE.LN_DEBTAIDATE     AS VARCHAR(10)),
                   CAST(LNFILE.LN_LAST_PYPA_DATE AS VARCHAR(10)),
                   LNFILE.LN_INTCHG,
                   LNFILE.LN_SERCHG,
                   LNFILE.LN_EXTCHG,
                   LNFILE.LN_MAINTFEE,
                   LNFILE.LN_ORGTERM,
                   LNFILE.LN_1STPYAMT,
                   LNFILE.LN_NOREGPY,
                   LNFILE.LN_REGPYAMT,
                   LNFILE.LN_LASTPYAMT,
                   LNFILE.LN_FEECODE_1,
                   LNFILE.LN_FEECODE_2,
                   LNFILE.LN_FEECODE_3,
                   LNFILE.LN_FEECODE_4,
                   LNFILE.LN_FEECODE_5,
                   LNFILE.LN_FEECODE_6,
                   LNFILE.LN_FEECODE_7,
                   LNFILE.LN_FEECODE_8,
                   LNFILE.LN_FEECODE_9,
                   LNFILE.LN_FEECODE_10,
                   LNFILE.LN_FEECODE_11,
                   LNFILE.LN_FEECODE_12,
                   LNFILE.LN_FEECODE_13,
                   LNFILE.LN_FEECODE_14,
                   LNFILE.LN_FEECODE_15,
                   LNFILE.LN_FEECODE_16,
                   LNFILE.LN_FEECODE_17,
                   LNFILE.LN_FEECODE_18,
                   LNFILE.LN_FEECODE_19,
                   LNFILE.LN_FEECODE_20,
                   LNFILE.LN_FEEAMT_1,
                   LNFILE.LN_FEEAMT_2,
                   LNFILE.LN_FEEAMT_3,
                   LNFILE.LN_FEEAMT_4,
                   LNFILE.LN_FEEAMT_5,
                   LNFILE.LN_FEEAMT_6,
                   LNFILE.LN_FEEAMT_7,
                   LNFILE.LN_FEEAMT_8,
                   LNFILE.LN_FEEAMT_9,
                   LNFILE.LN_FEEAMT_10,
                   LNFILE.LN_FEEAMT_11,
                   LNFILE.LN_FEEAMT_12,
                   LNFILE.LN_FEEAMT_13,
                   LNFILE.LN_FEEAMT_14,
                   LNFILE.LN_FEEAMT_15,
                   LNFILE.LN_FEEAMT_16,
                   LNFILE.LN_FEEAMT_17,
                   LNFILE.LN_FEEAMT_18,
                   LNFILE.LN_FEEAMT_19,
                   LNFILE.LN_FEEAMT_20,
                   LNFILE.LN_FEEOURS_1,
                   LNFILE.LN_FEEOURS_2,
                   LNFILE.LN_FEEOURS_3,
                   LNFILE.LN_FEEOURS_4,
                   LNFILE.LN_FEEOURS_5,
                   LNFILE.LN_FEEOURS_6,
                   LNFILE.LN_FEEOURS_7,
                   LNFILE.LN_FEEOURS_8,
                   LNFILE.LN_FEEOURS_9,
                   LNFILE.LN_FEEOURS_10,
                   LNFILE.LN_FEEOURS_11,
                   LNFILE.LN_FEEOURS_12,
                   LNFILE.LN_FEEOURS_13,
                   LNFILE.LN_FEEOURS_14,
                   LNFILE.LN_FEEOURS_15,
                   LNFILE.LN_FEEOURS_16,
                   LNFILE.LN_FEEOURS_17,
                   LNFILE.LN_FEEOURS_18,
                   LNFILE.LN_FEEOURS_19,
                   LNFILE.LN_FEEOURS_20,
                   LNFILE.LN_FEEFINCHG_1,
                   LNFILE.LN_FEEFINCHG_2,
                   LNFILE.LN_FEEFINCHG_3,
                   LNFILE.LN_FEEFINCHG_4,
                   LNFILE.LN_FEEFINCHG_5,
                   LNFILE.LN_FEEFINCHG_6,
                   LNFILE.LN_FEEFINCHG_7,
                   LNFILE.LN_FEEFINCHG_8,
                   LNFILE.LN_FEEFINCHG_9,
                   LNFILE.LN_FEEFINCHG_10,
                   LNFILE.LN_FEEFINCHG_11,
                   LNFILE.LN_FEEFINCHG_12,
                   LNFILE.LN_FEEFINCHG_13,
                   LNFILE.LN_FEEFINCHG_14,
                   LNFILE.LN_FEEFINCHG_15,
                   LNFILE.LN_FEEFINCHG_16,
                   LNFILE.LN_FEEFINCHG_17,
                   LNFILE.LN_FEEFINCHG_18,
                   LNFILE.LN_FEEFINCHG_19,
                   LNFILE.LN_FEEFINCHG_20,
                   LNFILE.LN_INSOURS_1,
                   LNFILE.LN_INSOURS_2,
                   LNFILE.LN_INSOURS_3,
                   LNFILE.LN_INSOURS_4,
                   LNFILE.LN_INSOURS_5,
                   LNFILE.LN_INSOURS_6,
                   LNFILE.LN_INSOURS_7,
                   LNFILE.LN_INSOURS_8,
                   LNFILE.LN_INSOURS_9,
                   LNFILE.LN_INSOURS_10,
                   LNFILE.LN_INSPREM_1,
                   LNFILE.LN_INSPREM_2,
                   LNFILE.LN_INSPREM_3,
                   LNFILE.LN_INSPREM_4,
                   LNFILE.LN_INSPREM_5,
                   LNFILE.LN_INSPREM_6,
                   LNFILE.LN_INSPREM_7,
                   LNFILE.LN_INSPREM_8,
                   LNFILE.LN_INSPREM_9,
                   LNFILE.LN_INSPREM_10,
                   LNFILE.LN_INSFINCHG_1,
                   LNFILE.LN_INSFINCHG_2,
                   LNFILE.LN_INSFINCHG_3,
                   LNFILE.LN_INSFINCHG_4,
                   LNFILE.LN_INSFINCHG_5,
                   LNFILE.LN_INSFINCHG_6,
                   LNFILE.LN_INSFINCHG_7,
                   LNFILE.LN_INSFINCHG_8,
                   LNFILE.LN_INSFINCHG_9,
                   LNFILE.LN_INSFINCHG_10,
                   LNFILE.LN_CURBAL,
                   LNFILE.LN_ANTICERN_1,
                   LNFILE.LN_ANTICERN_2,
                   LNFILE.LN_ANTICERN_3,
                   LNFILE.LN_ANTICERN_4,
                   LNFILE.LN_ANTICERN_5,
                   LNFILE.LN_ANTICERN_6,
                   LNFILE.LN_ANTICERN_7,
                   LNFILE.LN_ANTICERN_8,
                   LNFILE.LN_ANTICERN_9,
                   LNFILE.LN_ANTICERN_10,
                   LNFILE.LN_TOTNODEF,
                   LNFILE.LN_CREDITLIM,
                   LNFILE.LN_SUM_ORGTERM,
                   LNFILE.LN_UNITPER_CD,
                   LNFILE.LN_UNITPER_FREQ,
				   ISNULL(BWFILE.BW_OWNBR,0),
                   ISNULL(BWFILE.BW_SSNO,0),
                   ISNULL(BWFILE.BW_LNAME,''),
                   ISNULL(BWFILE.BW_FNAME,''),
                   ISNULL(BWFILE.BW_ZIP,''),
                   ISNULL(BWFILE.BW_SOLICIT,'')

     FROM DBO.LNFILE LNFILE

	 LEFT OUTER JOIN DBO.BWFILE BWFILE
       ON LNFILE.LN_OWNBR = BWFILE.BW_OWNBR	
      AND LNFILE.LN_SSNO1 = BWFILE.BW_SSNO  
	  
    WHERE LNFILE.LN_OWNBR     = @QLN3_WBEG_OWNBR
	  AND LNFILE.LN_CLASS BETWEEN @QLN3_WBEG_CLASS AND @QLN3_WEND_CLASS
      AND LNFILE.LN_POCD NOT IN ('*I','*R','**', '*U')
	  AND LNFILE.LN_LOANDATE BETWEEN @BEG_LOANDATE AND @END_LOANDATE
	  AND LNFILE.LN_PLDATE   BETWEEN @BEG_PLDATE   AND @END_PLDATE

 	ORDER BY LNFILE.LN_CLASS, LNFILE.LN_ACCTNO
    
	OPTION (RECOMPILE);

END
GO
