USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LNAGSR_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LNAGSR_LNFILE_SELECT              */
/*               PROGRAM NAME: LP/LNAGSR.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 09/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE BRFILE                                           */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_LNAGSR_LNFILE_SELECT]
    @BRANCHLIST         AS VARCHAR(7500),
    @QLN3_WBEG_CLASS    AS INT,
    @QLN3_WEND_CLASS    AS INT,
	@ZBAL               AS CHAR(1),
	@PL                 AS CHAR(1),
    @SRCCD              AS CHAR(2)

 AS
BEGIN
	SET NOCOUNT ON;

  DECLARE @PARAMLIST  NVARCHAR(4000),      
		  @SQL        NVARCHAR(MAX)
		   
--DECLARE @BRANCHLIST        VARCHAR(7500)
--DECLARE @QLN3_WBEG_CLASS   INT
--DECLARE @QLN3_WEND_CLASS   INT 
--DECLARE @ZBAL              CHAR(1)
--DECLARE @PL                CHAR(1)
--DECLARE @SRCCD             CHAR(2)
--
--SET @BRANCHLIST        = '10,102'
--SET @QLN3_WBEG_CLASS   =  000
--SET @QLN3_WEND_CLASS   =  999
--SET @PL                = 'O'
--SET @ZBAL              = 'S'
--SET @SRCCD             = '**'

 CREATE TABLE #TEMP1_BRANCH_GROUP_TBL
   ( SEQ int IDENTITY(1,1),
     BRNO int ); 

INSERT INTO #TEMP1_BRANCH_GROUP_TBL (BRNO)
SELECT P.VALUE FROM string_Split(@BRANCHLIST, ',') P;

SELECT @SQL = 'SELECT BRFILE.BR_NO,
                      BRFILE.BR_NAME, 
                      BRFILE.BR_LOAN_NUM_FLAG, 
                      BRFILE.BR_DATA_PATH, 
                      BRFILE.BR_MACHINE, 
                      LNFILE.LN_OWNBR,
                      LNFILE.LN_ACCTNO,
                      LNFILE.LN_CLASS,
                      LNFILE.LN_SUBCLASS,
                      LNFILE.LN_LAWCODE,
                      LNFILE.LN_SSNO1,
                      LNFILE.LN_MAKERCD1,
                      LNFILE.LN_SSNO2,
                      LNFILE.LN_MAKERCD2,
                      LNFILE.LN_SSNO3,
                      LNFILE.LN_MAKERCD3,
                      LNFILE.LN_SSNO4,
                      LNFILE.LN_MAKERCD4,
                      LNFILE.LN_ORGST,
                      LNFILE.LN_SPRCLASS,
                      LNFILE.LN_SRCD,
                      LNFILE.LN_POCD,
                      LNFILE.LN_PLCD,
                      LNFILE.LN_PLTYPE,
                      LNFILE.LN_STATUSFG,
                      LNFILE.LN_SALEFIN,
                      LNFILE.LN_SERVACCT,
                      LNFILE.LN_LOANTYPE,
                      LNFILE.LN_PAY_SCHLD_FG,
                      LNFILE.LN_STATFLAGS,
                      CAST(LNFILE.LN_ENTDATE  AS VARCHAR(10)),
                      CAST(LNFILE.LN_LOANDATE AS VARCHAR(10)),
                      CAST(LNFILE.LN_INTDATE  AS VARCHAR(10)),
                      CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)),
                      CAST(LNFILE.LN_1STPYDATE   AS VARCHAR(10)),
                      CAST(LNFILE.LN_JDDATE     AS VARCHAR(10)),
                      CAST(LNFILE.LN_PLDATE     AS VARCHAR(10)),
                      CAST(LNFILE.LN_ACCELDATE  AS VARCHAR(10)),
                      CAST(LNFILE.LN_REDUDATE   AS VARCHAR(10)),
                      CAST(LNFILE.LN_LEGALDATE  AS VARCHAR(10)),
                      CAST(LNFILE.LN_BNKRPTDATE AS VARCHAR(10)),
                      CAST(LNFILE.LN_DEBTAIDATE AS VARCHAR(10)),
                      LNFILE.LN_APRATE,
                      LNFILE.LN_JDRATE,
                      LNFILE.LN_ORGTERM,
                      LNFILE.LN_1STPYAMT,
                      LNFILE.LN_NOREGPY,
                      LNFILE.LN_REGPYAMT,
                      LNFILE.LN_LASTPYAMT,
                      LNFILE.LN_PY_YYYYMM_RECDEL,
                      LNFILE.LN_MTD_PAYS_RECDEL,
                      LNFILE.LN_DLNO,
                      LNFILE.LN_DLRECOURSE,
                      LNFILE.LN_CURBAL,
                      LNFILE.LN_INTBAL,
                      LNFILE.LN_LCBAL,
                      LNFILE.LN_OTHBAL,
                      LNFILE.LN_OT2BAL,
                      LNFILE.LN_ANTICERN_1,
                      LNFILE.LN_ANTICERN_2,
                      LNFILE.LN_ANTICERN_3,
                      LNFILE.LN_ANTICERN_4,
                      LNFILE.LN_ANTICERN_5,
                      LNFILE.LN_ANTICERN_6,
                      LNFILE.LN_ANTICERN_7,
                      LNFILE.LN_ANTICERN_8,
                      LNFILE.LN_ANTICERN_9,
                      LNFILE.LN_ANTICERN_10,
                      LNFILE.LN_ANTICADJ_1,
                      LNFILE.LN_ANTICADJ_2,
                      LNFILE.LN_ANTICADJ_3,
                      LNFILE.LN_ANTICADJ_4,
                      LNFILE.LN_ANTICADJ_5,
                      LNFILE.LN_ANTICADJ_6,
                      LNFILE.LN_ANTICADJ_7,
                      LNFILE.LN_ANTICADJ_8,
                      LNFILE.LN_ANTICADJ_9,
                      LNFILE.LN_ANTICADJ_10,
                      LNFILE.LN_UFERN_1,
                      LNFILE.LN_UFERN_2,
                      LNFILE.LN_UFERN_3,
                      LNFILE.LN_UFERN_4,
                      LNFILE.LN_UFERN_5,
                      LNFILE.LN_UFERN_6,
                      LNFILE.LN_UFERN_7,
                      LNFILE.LN_UFERN_8,
                      LNFILE.LN_UFERN_9,
                      LNFILE.LN_UFERN_10,
                      LNFILE.LN_ACCERN_1,
                      LNFILE.LN_ACCERN_2,
                      LNFILE.LN_ACCERN_3,
                      LNFILE.LN_ACCERN_4,
                      LNFILE.LN_ACCERN_5,
                      LNFILE.LN_ACCERN_6,
                      LNFILE.LN_ACCERN_7,
                      LNFILE.LN_ACCERN_8,
                      LNFILE.LN_ACCERN_9,
                      LNFILE.LN_ACCERN_10,
                      LNFILE.LN_TOTPAYMNTD,
                      LNFILE.LN_TOTNODEF,
                      LNFILE.LN_TOTNOALDEL,
                      CAST(LNFILE.LN_DATE_PAID_LAST AS VARCHAR(10)),
                      LNFILE.LN_SUM_LNAMT,
                      LNFILE.LN_SUM_ORGTERM,
                      LNFILE.LN_UNITPER_CD,
                      LNFILE.LN_UNITPER_FREQ,
                      LNFILE.LN_REPOCD,
                      LNFILE.LN_CONPROFILE_1,
                      LNFILE.LN_CONPROFILE_2,
                      LNFILE.LN_CONPROFILE_3,
                      LNFILE.LN_CONPROFILE_4,
                      LNFILE.LN_CONPROFILE_5,
                      LNFILE.LN_RECPROFILE_1,
                      LNFILE.LN_RECPROFILE_2,
                      LNFILE.LN_RECPROFILE_3,
                      LNFILE.LN_RECPROFILE_4,
                      LNFILE.LN_RECPROFILE_5,
			          ISNULL(BWFILE.BW_OWNBR,0),  
                      ISNULL(BWFILE.BW_SSNO,0),
	 		 	      ISNULL(BWFILE.BW_FNAME,''''),
				      ISNULL(BWFILE.BW_LNAME,''''),
				      ISNULL(BWFILE.BW_SOLICIT,''''),
				      ISNULL(CAST(BWFILE.BW_REFDATE AS VARCHAR(10)),''0'')
			
            FROM #TEMP1_BRANCH_GROUP_TBL T1

			INNER JOIN DBO.BRFILE BRFILE
			  ON BRFILE.BR_NO = T1.BRNO

			INNER JOIN DBO.LNFILE LNFILE
			  ON LNFILE.LN_OWNBR = BRFILE.BR_NO
			 
			 LEFT OUTER JOIN DBO.BWFILE BWFILE
              ON BWFILE.BW_OWNBR = LNFILE.LN_OWNBR 
             AND BWFILE.BW_SSNO  = LNFILE.LN_SSNO1
             
            WHERE LNFILE.LN_CLASS BETWEEN @QLN3_WBEG_CLASS AND @QLN3_WEND_CLASS'

   IF @ZBAL = 'O'
   SELECT @SQL += ' AND (LN_CURBAL = 0 AND LN_INTBAL = 0 AND LN_LCBAL = 0 AND LN_OTHBAL = 0)'  

   IF @ZBAL = 'S'
   SELECT @SQL += ' AND (LN_CURBAL <> 0 OR LN_INTBAL <> 0 OR LN_LCBAL <> 0 OR LN_OTHBAL <> 0)'  

   IF @PL = 'O'
   SELECT @SQL += ' AND (LN_PLDATE > ''1900-01-01'')'  

   IF @PL = 'S'
   SELECT @SQL += ' AND (LN_PLDATE = ''1900-01-01'')'  

   IF @SRCCD != '**'
   SELECT @SQL += ' AND (LN_SRCD = @SRCCD )'

   SELECT @SQL += ' ORDER BY T1.SEQ,
			        LNFILE.LN_OWNBR,
					LNFILE.LN_CLASS,
                    LNFILE.LN_ACCTNO '  

SELECT @paramlist = '@BRANCHLIST       VARCHAR(7500),
	                 @QLN3_WBEG_CLASS  INT,
                     @QLN3_WEND_CLASS  INT,
					 @ZBAL             CHAR(1),
					 @PL               CHAR(1),
					 @SRCCD            CHAR(2)'

EXEC sp_executesql @SQL, @paramlist, @BRANCHLIST, @QLN3_WBEG_CLASS, @QLN3_WEND_CLASS, @ZBAL, @PL, @SRCCD

END 
GO
