USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_WDAYGL_GTFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_WDAYGL_GTFILE_SELECT              */
/*               PROGRAM NAME: GL/WDAYGL.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: GTFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_WDAYGL_GTFILE_SELECT]
    @QWS_WBEG_DATE        AS DATE,
    @QWS_WEND_DATE        AS DATE,
    @QWS_WBEG_SOURCE_CODE AS INT,
    @QWS_WEND_SOURCE_CODE AS INT,
    @QWS_PREV_EXTRACTED   AS CHAR(1)
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QWS_WBEG_DATE        DATE
--DECLARE @QWS_WEND_DATE        DATE
--DECLARE @QWS_WBEG_SOURCE_CODE INT
--DECLARE @QWS_WEND_SOURCE_CODE INT
--DECLARE @QWS_PREV_EXTRACTED   CHAR(1)
 
--SET     @QWS_WBEG_DATE        = '2022-12-01'
--SET     @QWS_WEND_DATE        = '2022-12-31'
--SET     @QWS_WBEG_SOURCE_CODE = 3
--SET     @QWS_WEND_SOURCE_CODE = 3
--SET     @QWS_PREV_EXTRACTED   = 'I' 

DROP TABLE IF EXISTS #TEMP_WDAYGL_GTFILE;

    SELECT TEMP.GT_FLAG, 
           TEMP.GT_REF, 
           TEMP.GT_DATE1, 
           TEMP.GT_SOURCE,		    
           TEMP.GT_DATE2, 
           TEMP.GT_BRANCH,
           TEMP.GT_ACCTNO,
           TEMP.GT_DATE3,
           TEMP.GT_DRCRFG,
           TEMP.GT_LINE,
           TEMP.GT_AMT,
           TEMP.GT_EXPL,
           TEMP.GT_PERIOD,
           TEMP.GT_SMITH_SENT

     INTO #TEMP_WDAYGL_GTFILE

     FROM

   (SELECT GTFILE.GT_FLAG, 
           GTFILE.GT_REF, 
           CAST(GTFILE.GT_DATE1  AS VARCHAR(10)) AS GT_DATE1, 
           GTFILE.GT_SOURCE,						    
           CAST(GTFILE.GT_DATE2  AS VARCHAR(10)) AS GT_DATE2, 
           GTFILE.GT_BRANCH,
           GTFILE.GT_ACCTNO,
           CAST(GTFILE.GT_DATE3  AS VARCHAR(10)) AS GT_DATE3,
           GTFILE.GT_DRCRFG,
           GTFILE.GT_LINE,
           GTFILE.GT_AMT,
           GTFILE.GT_EXPL,
           GTFILE.GT_PERIOD,
           GTFILE.GT_SMITH_SENT

      FROM DBO.GTFILE GTFILE 

     WHERE  (GTFILE.GT_DATE1     BETWEEN @QWS_WBEG_DATE 
                                     AND @QWS_WEND_DATE)
	   AND  (GTFILE.GT_SOURCE    BETWEEN @QWS_WBEG_SOURCE_CODE
                                     AND @QWS_WEND_SOURCE_CODE)                 
       AND ((@QWS_PREV_EXTRACTED       = 'I')
        OR  (@QWS_PREV_EXTRACTED       = 'S'
       AND   GTFILE.GT_SMITH_SENT NOT IN ('X', 'E'))
        OR  (@QWS_PREV_EXTRACTED       = 'O'
       AND   GTFILE.GT_SMITH_SENT     IN ('X', 'E')))  
       AND  (GTFILE.GT_EXPL           != 'EOD-DEPOSIT')) TEMP;

    SELECT #TEMP_WDAYGL_GTFILE.GT_FLAG, 
           #TEMP_WDAYGL_GTFILE.GT_REF, 
           #TEMP_WDAYGL_GTFILE.GT_DATE1, 
           #TEMP_WDAYGL_GTFILE.GT_SOURCE,		    
           #TEMP_WDAYGL_GTFILE.GT_DATE2, 
           #TEMP_WDAYGL_GTFILE.GT_BRANCH,
           #TEMP_WDAYGL_GTFILE.GT_ACCTNO,
           #TEMP_WDAYGL_GTFILE.GT_DATE3,
           #TEMP_WDAYGL_GTFILE.GT_DRCRFG,
           #TEMP_WDAYGL_GTFILE.GT_LINE,
           #TEMP_WDAYGL_GTFILE.GT_AMT,
           #TEMP_WDAYGL_GTFILE.GT_EXPL,
           #TEMP_WDAYGL_GTFILE.GT_PERIOD,
           #TEMP_WDAYGL_GTFILE.GT_SMITH_SENT

      FROM #TEMP_WDAYGL_GTFILE	   

     ORDER BY #TEMP_WDAYGL_GTFILE.GT_DATE1,
              #TEMP_WDAYGL_GTFILE.GT_SOURCE,
              #TEMP_WDAYGL_GTFILE.GT_DATE2,
              #TEMP_WDAYGL_GTFILE.GT_BRANCH,
              #TEMP_WDAYGL_GTFILE.GT_ACCTNO,
              #TEMP_WDAYGL_GTFILE.GT_DATE3,
              #TEMP_WDAYGL_GTFILE.GT_DRCRFG,
              #TEMP_WDAYGL_GTFILE.GT_LINE;

 DROP TABLE IF EXISTS #TEMP_WDAYGL_GTFILE;

END
GO
