USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_OPREP2_BYFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_OPREP2_BYFILE_SELECT              */
/*               PROGRAM NAME: LP/OPREP2.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: BYAFILE, BYBFILE, LCFILE                                */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_OPREP2_BYFILE_SELECT]
    @QBY1_WBEG_DATE_CCYYMM  AS INT,
    @QBY1_WEND_DATE_CCYYMM  AS INT,
    @QBY1_WBEG_BRNO         AS INT, 
    @QBY1_WBEG_CLASS        AS INT,
    @QBY1_WEND_CLASS        AS INT  

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QBY1_WBEG_DATE_CCYYMM   INT
--DECLARE @QBY1_WEND_DATE_CCYYMM   INT
--DECLARE @QBY1_WBEG_BRNO          INT
--DECLARE @QBY1_WBEG_CLASS         INT
--DECLARE @QBY1_WEND_CLASS         INT  

--SET     @QBY1_WBEG_DATE_CCYYMM   = 201912   
--SET     @QBY1_WEND_DATE_CCYYMM   = 201912
--SET     @QBY1_WBEG_BRNO          = 0010 
--SET     @QBY1_WBEG_CLASS         = 000 
--SET     @QBY1_WEND_CLASS         = 999  
 

   SELECT BYAFILE.BYA_DATE_CCYYMM,
          BYAFILE.BYA_BRNO,
          BYAFILE.BYA_CLASS,
          BYAFILE.BYA_NO_1_1_1,
          BYAFILE.BYA_NO_1_1_2,
          BYAFILE.BYA_NO_1_1_3,
          BYAFILE.BYA_NO_1_1_4,
          BYAFILE.BYA_NO_1_1_5,
          BYAFILE.BYA_NO_1_1_6,
          BYAFILE.BYA_NO_1_1_7,
          BYAFILE.BYA_NO_1_1_8,
          BYAFILE.BYA_NO_1_1_9,
          BYAFILE.BYA_NO_1_1_10,
          BYAFILE.BYA_NO_1_1_11,
          BYAFILE.BYA_NO_1_2_1,
          BYAFILE.BYA_NO_1_2_2,
          BYAFILE.BYA_NO_1_2_3,
          BYAFILE.BYA_NO_1_2_4,
          BYAFILE.BYA_NO_1_2_5,
          BYAFILE.BYA_NO_1_2_6,
          BYAFILE.BYA_NO_1_2_7,
          BYAFILE.BYA_NO_1_2_8,
          BYAFILE.BYA_NO_1_2_9,
          BYAFILE.BYA_NO_1_2_10,
          BYAFILE.BYA_NO_1_2_11,
          BYAFILE.BYA_NO_2_1_1,
          BYAFILE.BYA_NO_2_1_2,
          BYAFILE.BYA_NO_2_1_3,
          BYAFILE.BYA_NO_2_1_4,
          BYAFILE.BYA_NO_2_1_5,
          BYAFILE.BYA_NO_2_1_6,
          BYAFILE.BYA_NO_2_1_7,
          BYAFILE.BYA_NO_2_1_8,
          BYAFILE.BYA_NO_2_1_9,
          BYAFILE.BYA_NO_2_1_10,
          BYAFILE.BYA_NO_2_1_11,
          BYAFILE.BYA_NO_2_2_1,
          BYAFILE.BYA_NO_2_2_2,
          BYAFILE.BYA_NO_2_2_3,
          BYAFILE.BYA_NO_2_2_4,
          BYAFILE.BYA_NO_2_2_5,
          BYAFILE.BYA_NO_2_2_6,
          BYAFILE.BYA_NO_2_2_7,
          BYAFILE.BYA_NO_2_2_8,
          BYAFILE.BYA_NO_2_2_9,
          BYAFILE.BYA_NO_2_2_10,
          BYAFILE.BYA_NO_2_2_11,
          BYAFILE.BYA_NO_3_1_1,
          BYAFILE.BYA_NO_3_1_2,
          BYAFILE.BYA_NO_3_1_3,
          BYAFILE.BYA_NO_3_1_4,
          BYAFILE.BYA_NO_3_1_5,
          BYAFILE.BYA_NO_3_1_6,
          BYAFILE.BYA_NO_3_1_7,
          BYAFILE.BYA_NO_3_1_8,
          BYAFILE.BYA_NO_3_1_9,
          BYAFILE.BYA_NO_3_1_10,
          BYAFILE.BYA_NO_3_1_11,
          BYAFILE.BYA_NO_3_2_1,
          BYAFILE.BYA_NO_3_2_2,
          BYAFILE.BYA_NO_3_2_3,
          BYAFILE.BYA_NO_3_2_4,
          BYAFILE.BYA_NO_3_2_5,
          BYAFILE.BYA_NO_3_2_6,
          BYAFILE.BYA_NO_3_2_7,
          BYAFILE.BYA_NO_3_2_8,
          BYAFILE.BYA_NO_3_2_9,
          BYAFILE.BYA_NO_3_2_10,
          BYAFILE.BYA_NO_3_2_11,
          BYAFILE.BYA_AMT_1_1_1,
          BYAFILE.BYA_AMT_1_1_2,
          BYAFILE.BYA_AMT_1_1_3,
          BYAFILE.BYA_AMT_1_1_4,
          BYAFILE.BYA_AMT_1_1_5,
          BYAFILE.BYA_AMT_1_1_6,
          BYAFILE.BYA_AMT_1_1_7,
          BYAFILE.BYA_AMT_1_1_8,
          BYAFILE.BYA_AMT_1_1_9,
          BYAFILE.BYA_AMT_1_1_10,
          BYAFILE.BYA_AMT_1_1_11,
          BYAFILE.BYA_AMT_1_2_1,
          BYAFILE.BYA_AMT_1_2_2,
          BYAFILE.BYA_AMT_1_2_3,
          BYAFILE.BYA_AMT_1_2_4,
          BYAFILE.BYA_AMT_1_2_5,
          BYAFILE.BYA_AMT_1_2_6,
          BYAFILE.BYA_AMT_1_2_7,
          BYAFILE.BYA_AMT_1_2_8,
          BYAFILE.BYA_AMT_1_2_9,
          BYAFILE.BYA_AMT_1_2_10,
          BYAFILE.BYA_AMT_1_2_11,
          BYAFILE.BYA_AMT_2_1_1,
          BYAFILE.BYA_AMT_2_1_2,
          BYAFILE.BYA_AMT_2_1_3,
          BYAFILE.BYA_AMT_2_1_4,
          BYAFILE.BYA_AMT_2_1_5,
          BYAFILE.BYA_AMT_2_1_6,
          BYAFILE.BYA_AMT_2_1_7,
          BYAFILE.BYA_AMT_2_1_8,
          BYAFILE.BYA_AMT_2_1_9,
          BYAFILE.BYA_AMT_2_1_10,
          BYAFILE.BYA_AMT_2_1_11,
          BYAFILE.BYA_AMT_2_2_1,
          BYAFILE.BYA_AMT_2_2_2,
          BYAFILE.BYA_AMT_2_2_3,
          BYAFILE.BYA_AMT_2_2_4,
          BYAFILE.BYA_AMT_2_2_5,
          BYAFILE.BYA_AMT_2_2_6,
          BYAFILE.BYA_AMT_2_2_7,
          BYAFILE.BYA_AMT_2_2_8,
          BYAFILE.BYA_AMT_2_2_9,
          BYAFILE.BYA_AMT_2_2_10,
          BYAFILE.BYA_AMT_2_2_11,
          BYAFILE.BYA_AMT_3_1_1,
          BYAFILE.BYA_AMT_3_1_2,
          BYAFILE.BYA_AMT_3_1_3,
          BYAFILE.BYA_AMT_3_1_4,
          BYAFILE.BYA_AMT_3_1_5,
          BYAFILE.BYA_AMT_3_1_6,
          BYAFILE.BYA_AMT_3_1_7,
          BYAFILE.BYA_AMT_3_1_8,
          BYAFILE.BYA_AMT_3_1_9,
          BYAFILE.BYA_AMT_3_1_10,
          BYAFILE.BYA_AMT_3_1_11,
          BYAFILE.BYA_AMT_3_2_1,
          BYAFILE.BYA_AMT_3_2_2,
          BYAFILE.BYA_AMT_3_2_3,
          BYAFILE.BYA_AMT_3_2_4,
          BYAFILE.BYA_AMT_3_2_5,
          BYAFILE.BYA_AMT_3_2_6,
          BYAFILE.BYA_AMT_3_2_7,
          BYAFILE.BYA_AMT_3_2_8,
          BYAFILE.BYA_AMT_3_2_9,
          BYAFILE.BYA_AMT_3_2_10,
          BYAFILE.BYA_AMT_3_2_11,
          BYAFILE.BYA_NO_REPO_1_1_1,
          BYAFILE.BYA_NO_REPO_1_1_2,
          BYAFILE.BYA_NO_REPO_1_1_3,
          BYAFILE.BYA_NO_REPO_1_1_4,
          BYAFILE.BYA_NO_REPO_1_1_5,
          BYAFILE.BYA_NO_REPO_1_2_1,
          BYAFILE.BYA_NO_REPO_1_2_2,
          BYAFILE.BYA_NO_REPO_1_2_3,
          BYAFILE.BYA_NO_REPO_1_2_4,
          BYAFILE.BYA_NO_REPO_1_2_5,
          BYAFILE.BYA_NO_REPO_2_1_1,
          BYAFILE.BYA_NO_REPO_2_1_2,
          BYAFILE.BYA_NO_REPO_2_1_3,
          BYAFILE.BYA_NO_REPO_2_1_4,
          BYAFILE.BYA_NO_REPO_2_1_5,
          BYAFILE.BYA_NO_REPO_2_2_1,
          BYAFILE.BYA_NO_REPO_2_2_2,
          BYAFILE.BYA_NO_REPO_2_2_3,
          BYAFILE.BYA_NO_REPO_2_2_4,
          BYAFILE.BYA_NO_REPO_2_2_5,
          BYAFILE.BYA_NO_REPO_3_1_1,
          BYAFILE.BYA_NO_REPO_3_1_2,
          BYAFILE.BYA_NO_REPO_3_1_3,
          BYAFILE.BYA_NO_REPO_3_1_4,
          BYAFILE.BYA_NO_REPO_3_1_5,
          BYAFILE.BYA_NO_REPO_3_2_1,
          BYAFILE.BYA_NO_REPO_3_2_2,
          BYAFILE.BYA_NO_REPO_3_2_3,
          BYAFILE.BYA_NO_REPO_3_2_4,
          BYAFILE.BYA_NO_REPO_3_2_5,
          BYAFILE.BYA_AMT_REPO_1_1_1,
          BYAFILE.BYA_AMT_REPO_1_1_2,
          BYAFILE.BYA_AMT_REPO_1_1_3,
          BYAFILE.BYA_AMT_REPO_1_1_4,
          BYAFILE.BYA_AMT_REPO_1_1_5,
          BYAFILE.BYA_AMT_REPO_1_2_1,
          BYAFILE.BYA_AMT_REPO_1_2_2,
          BYAFILE.BYA_AMT_REPO_1_2_3,
          BYAFILE.BYA_AMT_REPO_1_2_4,
          BYAFILE.BYA_AMT_REPO_1_2_5,
          BYAFILE.BYA_AMT_REPO_2_1_1,
          BYAFILE.BYA_AMT_REPO_2_1_2,
          BYAFILE.BYA_AMT_REPO_2_1_3,
          BYAFILE.BYA_AMT_REPO_2_1_4,
          BYAFILE.BYA_AMT_REPO_2_1_5,
          BYAFILE.BYA_AMT_REPO_2_2_1,
          BYAFILE.BYA_AMT_REPO_2_2_2,
          BYAFILE.BYA_AMT_REPO_2_2_3,
          BYAFILE.BYA_AMT_REPO_2_2_4,
          BYAFILE.BYA_AMT_REPO_2_2_5,
          BYAFILE.BYA_AMT_REPO_3_1_1,
          BYAFILE.BYA_AMT_REPO_3_1_2,
          BYAFILE.BYA_AMT_REPO_3_1_3,
          BYAFILE.BYA_AMT_REPO_3_1_4,
          BYAFILE.BYA_AMT_REPO_3_1_5,
          BYAFILE.BYA_AMT_REPO_3_2_1,
          BYAFILE.BYA_AMT_REPO_3_2_2,
          BYAFILE.BYA_AMT_REPO_3_2_3,
          BYAFILE.BYA_AMT_REPO_3_2_4,
          BYAFILE.BYA_AMT_REPO_3_2_5,
          BYAFILE.BYA_NO_PL_1_1_1,
          BYAFILE.BYA_NO_PL_1_1_2,
          BYAFILE.BYA_NO_PL_1_1_3,
          BYAFILE.BYA_NO_PL_1_1_4,
          BYAFILE.BYA_NO_PL_1_1_5,
          BYAFILE.BYA_NO_PL_1_1_6,
          BYAFILE.BYA_NO_PL_1_1_7,
          BYAFILE.BYA_NO_PL_1_1_8,
          BYAFILE.BYA_NO_PL_1_1_9,
          BYAFILE.BYA_NO_PL_1_1_10,
          BYAFILE.BYA_NO_PL_1_2_1,
          BYAFILE.BYA_NO_PL_1_2_2,
          BYAFILE.BYA_NO_PL_1_2_3,
          BYAFILE.BYA_NO_PL_1_2_4,
          BYAFILE.BYA_NO_PL_1_2_5,
          BYAFILE.BYA_NO_PL_1_2_6,
          BYAFILE.BYA_NO_PL_1_2_7,
          BYAFILE.BYA_NO_PL_1_2_8,
          BYAFILE.BYA_NO_PL_1_2_9,
          BYAFILE.BYA_NO_PL_1_2_10,
          BYAFILE.BYA_NO_PL_2_1_1,
          BYAFILE.BYA_NO_PL_2_1_2,
          BYAFILE.BYA_NO_PL_2_1_3,
          BYAFILE.BYA_NO_PL_2_1_4,
          BYAFILE.BYA_NO_PL_2_1_5,
          BYAFILE.BYA_NO_PL_2_1_6,
          BYAFILE.BYA_NO_PL_2_1_7,
          BYAFILE.BYA_NO_PL_2_1_8,
          BYAFILE.BYA_NO_PL_2_1_9,
          BYAFILE.BYA_NO_PL_2_1_10,
          BYAFILE.BYA_NO_PL_2_2_1,
          BYAFILE.BYA_NO_PL_2_2_2,
          BYAFILE.BYA_NO_PL_2_2_3,
          BYAFILE.BYA_NO_PL_2_2_4,
          BYAFILE.BYA_NO_PL_2_2_5,
          BYAFILE.BYA_NO_PL_2_2_6,
          BYAFILE.BYA_NO_PL_2_2_7,
          BYAFILE.BYA_NO_PL_2_2_8,
          BYAFILE.BYA_NO_PL_2_2_9,
          BYAFILE.BYA_NO_PL_2_2_10,
          BYAFILE.BYA_NO_PL_3_1_1,
          BYAFILE.BYA_NO_PL_3_1_2,
          BYAFILE.BYA_NO_PL_3_1_3,
          BYAFILE.BYA_NO_PL_3_1_4,
          BYAFILE.BYA_NO_PL_3_1_5,
          BYAFILE.BYA_NO_PL_3_1_6,
          BYAFILE.BYA_NO_PL_3_1_7,
          BYAFILE.BYA_NO_PL_3_1_8,
          BYAFILE.BYA_NO_PL_3_1_9,
          BYAFILE.BYA_NO_PL_3_1_10,
          BYAFILE.BYA_NO_PL_3_2_1,
          BYAFILE.BYA_NO_PL_3_2_2,
          BYAFILE.BYA_NO_PL_3_2_3,
          BYAFILE.BYA_NO_PL_3_2_4,
          BYAFILE.BYA_NO_PL_3_2_5,
          BYAFILE.BYA_NO_PL_3_2_6,
          BYAFILE.BYA_NO_PL_3_2_7,
          BYAFILE.BYA_NO_PL_3_2_8,
          BYAFILE.BYA_NO_PL_3_2_9,
          BYAFILE.BYA_NO_PL_3_2_10,
          BYAFILE.BYA_AMT_PL_1_1_1,
          BYAFILE.BYA_AMT_PL_1_1_2,
          BYAFILE.BYA_AMT_PL_1_1_3,
          BYAFILE.BYA_AMT_PL_1_1_4,
          BYAFILE.BYA_AMT_PL_1_1_5,
          BYAFILE.BYA_AMT_PL_1_1_6,
          BYAFILE.BYA_AMT_PL_1_1_7,
          BYAFILE.BYA_AMT_PL_1_1_8,
          BYAFILE.BYA_AMT_PL_1_1_9,
          BYAFILE.BYA_AMT_PL_1_1_10,
          BYAFILE.BYA_AMT_PL_1_2_1,
          BYAFILE.BYA_AMT_PL_1_2_2,
          BYAFILE.BYA_AMT_PL_1_2_3,
          BYAFILE.BYA_AMT_PL_1_2_4,
          BYAFILE.BYA_AMT_PL_1_2_5,
          BYAFILE.BYA_AMT_PL_1_2_6,
          BYAFILE.BYA_AMT_PL_1_2_7,
          BYAFILE.BYA_AMT_PL_1_2_8,
          BYAFILE.BYA_AMT_PL_1_2_9,
          BYAFILE.BYA_AMT_PL_1_2_10,
          BYAFILE.BYA_AMT_PL_2_1_1,
          BYAFILE.BYA_AMT_PL_2_1_2,
          BYAFILE.BYA_AMT_PL_2_1_3,
          BYAFILE.BYA_AMT_PL_2_1_4,
          BYAFILE.BYA_AMT_PL_2_1_5,
          BYAFILE.BYA_AMT_PL_2_1_6,
          BYAFILE.BYA_AMT_PL_2_1_7,
          BYAFILE.BYA_AMT_PL_2_1_8,
          BYAFILE.BYA_AMT_PL_2_1_9,
          BYAFILE.BYA_AMT_PL_2_1_10,
          BYAFILE.BYA_AMT_PL_2_2_1,
          BYAFILE.BYA_AMT_PL_2_2_2,
          BYAFILE.BYA_AMT_PL_2_2_3,
          BYAFILE.BYA_AMT_PL_2_2_4,
          BYAFILE.BYA_AMT_PL_2_2_5,
          BYAFILE.BYA_AMT_PL_2_2_6,
          BYAFILE.BYA_AMT_PL_2_2_7,
          BYAFILE.BYA_AMT_PL_2_2_8,
          BYAFILE.BYA_AMT_PL_2_2_9,
          BYAFILE.BYA_AMT_PL_2_2_10,
          BYAFILE.BYA_AMT_PL_3_1_1,
          BYAFILE.BYA_AMT_PL_3_1_2,
          BYAFILE.BYA_AMT_PL_3_1_3,
          BYAFILE.BYA_AMT_PL_3_1_4,
          BYAFILE.BYA_AMT_PL_3_1_5,
          BYAFILE.BYA_AMT_PL_3_1_6,
          BYAFILE.BYA_AMT_PL_3_1_7,
          BYAFILE.BYA_AMT_PL_3_1_8,
          BYAFILE.BYA_AMT_PL_3_1_9,
          BYAFILE.BYA_AMT_PL_3_1_10,
          BYAFILE.BYA_AMT_PL_3_2_1,
          BYAFILE.BYA_AMT_PL_3_2_2,
          BYAFILE.BYA_AMT_PL_3_2_3,
          BYAFILE.BYA_AMT_PL_3_2_4,
          BYAFILE.BYA_AMT_PL_3_2_5,
          BYAFILE.BYA_AMT_PL_3_2_6,
          BYAFILE.BYA_AMT_PL_3_2_7,
          BYAFILE.BYA_AMT_PL_3_2_8,
          BYAFILE.BYA_AMT_PL_3_2_9,
          BYAFILE.BYA_AMT_PL_3_2_10,
          BYBFILE.BYB_INS_NO_WROTE_1_1,
          BYBFILE.BYB_INS_NO_WROTE_1_2,
          BYBFILE.BYB_INS_NO_WROTE_1_3,
          BYBFILE.BYB_INS_NO_WROTE_1_4,
          BYBFILE.BYB_INS_NO_WROTE_1_5,
          BYBFILE.BYB_INS_NO_WROTE_1_6,
          BYBFILE.BYB_INS_NO_WROTE_1_7,
          BYBFILE.BYB_INS_NO_WROTE_1_8,
          BYBFILE.BYB_INS_NO_WROTE_1_9,
          BYBFILE.BYB_INS_NO_WROTE_1_10,
          BYBFILE.BYB_INS_NO_WROTE_2_1,
          BYBFILE.BYB_INS_NO_WROTE_2_2,
          BYBFILE.BYB_INS_NO_WROTE_2_3,
          BYBFILE.BYB_INS_NO_WROTE_2_4,
          BYBFILE.BYB_INS_NO_WROTE_2_5,
          BYBFILE.BYB_INS_NO_WROTE_2_6,
          BYBFILE.BYB_INS_NO_WROTE_2_7,
          BYBFILE.BYB_INS_NO_WROTE_2_8,
          BYBFILE.BYB_INS_NO_WROTE_2_9,
          BYBFILE.BYB_INS_NO_WROTE_2_10,
          BYBFILE.BYB_UNITS_1_1_1,
          BYBFILE.BYB_UNITS_1_1_2,
          BYBFILE.BYB_UNITS_1_1_3,
          BYBFILE.BYB_UNITS_1_1_4,
          BYBFILE.BYB_UNITS_1_1_5,
          BYBFILE.BYB_UNITS_1_1_6,
          BYBFILE.BYB_UNITS_1_1_7,
          BYBFILE.BYB_UNITS_1_1_8,
          BYBFILE.BYB_UNITS_1_1_9,
          BYBFILE.BYB_UNITS_1_1_10,
          BYBFILE.BYB_UNITS_1_2_1,
          BYBFILE.BYB_UNITS_1_2_2,
          BYBFILE.BYB_UNITS_1_2_3,
          BYBFILE.BYB_UNITS_1_2_4,
          BYBFILE.BYB_UNITS_1_2_5,
          BYBFILE.BYB_UNITS_1_2_6,
          BYBFILE.BYB_UNITS_1_2_7,
          BYBFILE.BYB_UNITS_1_2_8,
          BYBFILE.BYB_UNITS_1_2_9,
          BYBFILE.BYB_UNITS_1_2_10,
          BYBFILE.BYB_UNITS_2_1_1,
          BYBFILE.BYB_UNITS_2_1_2,
          BYBFILE.BYB_UNITS_2_1_3,
          BYBFILE.BYB_UNITS_2_1_4,
          BYBFILE.BYB_UNITS_2_1_5,
          BYBFILE.BYB_UNITS_2_1_6,
          BYBFILE.BYB_UNITS_2_1_7,
          BYBFILE.BYB_UNITS_2_1_8,
          BYBFILE.BYB_UNITS_2_1_9,
          BYBFILE.BYB_UNITS_2_1_10,
          BYBFILE.BYB_UNITS_2_2_1,
          BYBFILE.BYB_UNITS_2_2_2,
          BYBFILE.BYB_UNITS_2_2_3,
          BYBFILE.BYB_UNITS_2_2_4,
          BYBFILE.BYB_UNITS_2_2_5,
          BYBFILE.BYB_UNITS_2_2_6,
          BYBFILE.BYB_UNITS_2_2_7,
          BYBFILE.BYB_UNITS_2_2_8,
          BYBFILE.BYB_UNITS_2_2_9,
          BYBFILE.BYB_UNITS_2_2_10,
          BYBFILE.BYB_UNITS_3_1_1,
          BYBFILE.BYB_UNITS_3_1_2,
          BYBFILE.BYB_UNITS_3_1_3,
          BYBFILE.BYB_UNITS_3_1_4,
          BYBFILE.BYB_UNITS_3_1_5,
          BYBFILE.BYB_UNITS_3_1_6,
          BYBFILE.BYB_UNITS_3_1_7,
          BYBFILE.BYB_UNITS_3_1_8,
          BYBFILE.BYB_UNITS_3_1_9,
          BYBFILE.BYB_UNITS_3_1_10,
          BYBFILE.BYB_UNITS_3_2_1,
          BYBFILE.BYB_UNITS_3_2_2,
          BYBFILE.BYB_UNITS_3_2_3,
          BYBFILE.BYB_UNITS_3_2_4,
          BYBFILE.BYB_UNITS_3_2_5,
          BYBFILE.BYB_UNITS_3_2_6,
          BYBFILE.BYB_UNITS_3_2_7,
          BYBFILE.BYB_UNITS_3_2_8,
          BYBFILE.BYB_UNITS_3_2_9,
          BYBFILE.BYB_UNITS_3_2_10,
          BYBFILE.BYB_OUTBAL_1_1_1,
          BYBFILE.BYB_OUTBAL_1_1_2,
          BYBFILE.BYB_OUTBAL_1_1_3,
          BYBFILE.BYB_OUTBAL_1_1_4,
          BYBFILE.BYB_OUTBAL_1_1_5,
          BYBFILE.BYB_OUTBAL_1_1_6,
          BYBFILE.BYB_OUTBAL_1_1_7,
          BYBFILE.BYB_OUTBAL_1_1_8,
          BYBFILE.BYB_OUTBAL_1_1_9,
          BYBFILE.BYB_OUTBAL_1_1_10,
          BYBFILE.BYB_OUTBAL_1_2_1,
          BYBFILE.BYB_OUTBAL_1_2_2,
          BYBFILE.BYB_OUTBAL_1_2_3,
          BYBFILE.BYB_OUTBAL_1_2_4,
          BYBFILE.BYB_OUTBAL_1_2_5,
          BYBFILE.BYB_OUTBAL_1_2_6,
          BYBFILE.BYB_OUTBAL_1_2_7,
          BYBFILE.BYB_OUTBAL_1_2_8,
          BYBFILE.BYB_OUTBAL_1_2_9,
          BYBFILE.BYB_OUTBAL_1_2_10,
          BYBFILE.BYB_OUTBAL_2_1_1,
          BYBFILE.BYB_OUTBAL_2_1_2,
          BYBFILE.BYB_OUTBAL_2_1_3,
          BYBFILE.BYB_OUTBAL_2_1_4,
          BYBFILE.BYB_OUTBAL_2_1_5,
          BYBFILE.BYB_OUTBAL_2_1_6,
          BYBFILE.BYB_OUTBAL_2_1_7,
          BYBFILE.BYB_OUTBAL_2_1_8,
          BYBFILE.BYB_OUTBAL_2_1_9,
          BYBFILE.BYB_OUTBAL_2_1_10,
          BYBFILE.BYB_OUTBAL_2_2_1,
          BYBFILE.BYB_OUTBAL_2_2_2,
          BYBFILE.BYB_OUTBAL_2_2_3,
          BYBFILE.BYB_OUTBAL_2_2_4,
          BYBFILE.BYB_OUTBAL_2_2_5,
          BYBFILE.BYB_OUTBAL_2_2_6,
          BYBFILE.BYB_OUTBAL_2_2_7,
          BYBFILE.BYB_OUTBAL_2_2_8,
          BYBFILE.BYB_OUTBAL_2_2_9,
          BYBFILE.BYB_OUTBAL_2_2_10,
          BYBFILE.BYB_OUTBAL_3_1_1,
          BYBFILE.BYB_OUTBAL_3_1_2,
          BYBFILE.BYB_OUTBAL_3_1_3,
          BYBFILE.BYB_OUTBAL_3_1_4,
          BYBFILE.BYB_OUTBAL_3_1_5,
          BYBFILE.BYB_OUTBAL_3_1_6,
          BYBFILE.BYB_OUTBAL_3_1_7,
          BYBFILE.BYB_OUTBAL_3_1_8,
          BYBFILE.BYB_OUTBAL_3_1_9,
          BYBFILE.BYB_OUTBAL_3_1_10,
          BYBFILE.BYB_OUTBAL_3_2_1,
          BYBFILE.BYB_OUTBAL_3_2_2,
          BYBFILE.BYB_OUTBAL_3_2_3,
          BYBFILE.BYB_OUTBAL_3_2_4,
          BYBFILE.BYB_OUTBAL_3_2_5,
          BYBFILE.BYB_OUTBAL_3_2_6,
          BYBFILE.BYB_OUTBAL_3_2_7,
          BYBFILE.BYB_OUTBAL_3_2_8,
          BYBFILE.BYB_OUTBAL_3_2_9,
          BYBFILE.BYB_OUTBAL_3_2_10,
          BYBFILE.BYB_STD_POS,
          BYBFILE.BYB_30_DAY_MOVED,
          BYBFILE.BYB_PROJ_INCREASE,
          BYBFILE.BYB_PROJ_PROFIT,
		  ISNULL(LCFILE.LC_CODE, ' '), 
          ISNULL(LCFILE.LC_SMALLOAN,'%'),
          ISNULL(LCFILE.LC_SALEFIN,' '),
          ISNULL(LCFILE.LC_SERVACCT,' '),
          ISNULL(LCFILE.LC_LOANTYPE,' '),
          ISNULL(LCFILE.LC_AFP_CLASS,' '),
          ISNULL(LCFILE.LC_GIFTNET,' ')
    FROM DBO.BYAFILE BYAFILE
        ,DBO.BYBFILE BYBFILE
    LEFT OUTER JOIN
         DBO.LCFILE LCFILE
      ON ( LCFILE.LC_CODE                = BYBFILE.BYB_CLASS ) 
   WHERE ( BYAFILE.BYA_DATE_CCYYMM BETWEEN @QBY1_WBEG_DATE_CCYYMM
                                       AND @QBY1_WEND_DATE_CCYYMM
     AND   BYAFILE.BYA_BRNO              = @QBY1_WBEG_BRNO
     AND   BYAFILE.BYA_CLASS       BETWEEN @QBY1_WBEG_CLASS
                                       AND @QBY1_WEND_CLASS )
	 AND ( BYBFILE.BYB_DATE_CCYYMM       = BYAFILE.BYA_DATE_CCYYMM 
     AND   BYBFILE.BYB_BRNO              = BYAFILE.BYA_BRNO 
     AND   BYBFILE.BYB_CLASS             = BYAFILE.BYA_CLASS ) 
   ORDER BY BYAFILE.BYA_DATE_CCYYMM,
            BYAFILE.BYA_BRNO,
            BYAFILE.BYA_CLASS;

END 
GO
