USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_COLRPT_CJFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_COLRPT_CJFILE_SELECT              */
/*               PROGRAM NAME: LP/COLRPT.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: CJFILE, CDBFILE, LNFILE, BWFILE, CDFILE                 */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_COLRPT_CJFILE_SELECT]
   @QCJ1_WBEG_BRNO         AS INT,
   @QCJ1_WBEG_COLLID       AS CHAR(3),   
   @QCJ1_WEND_COLLID       AS CHAR(3),
   @QCJ1_WBEG_DATE         AS DATE,
   @QCJ1_WEND_DATE         AS DATE,
   @QCJ1_WBEG_START_TIME   AS SMALLINT,
   @QCJ1_WEND_START_TIME   AS SMALLINT      
	 
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QCJ1_WBEG_BRNO         INT
--DECLARE @QCJ1_WBEG_COLLID       CHAR(3)
--DECLARE @QCJ1_WEND_COLLID       CHAR(3)
--DECLARE @QCJ1_WBEG_DATE         DATE
--DECLARE @QCJ1_WEND_DATE         DATE
--DECLARE @QCJ1_WBEG_START_TIME   SMALLINT
--DECLARE @QCJ1_WEND_START_TIME   SMALLINT

--SET     @QCJ1_WBEG_BRNO         = 21
--SET     @QCJ1_WBEG_COLLID       = '   '   
--SET     @QCJ1_WEND_COLLID       = 'ZZZ'
--SET     @QCJ1_WBEG_DATE         = '2023-03-01' 
--SET     @QCJ1_WEND_DATE         = '2023-03-31'    
--SET     @QCJ1_WBEG_START_TIME   = 0
--SET     @QCJ1_WEND_START_TIME   = 2400

    SELECT CJFILE.CJ_BRNO,
           CJFILE.CJ_COLLID,
           CAST(CJFILE.CJ_DATE            AS VARCHAR(10)),
           CJFILE.CJ_START_TIME,
           CJFILE.CJ_SEQNO,
           CJFILE.CJ_ACCTNO,
           CJFILE.CJ_END_TIME,
           CJFILE.CJ_ACTIVITY_CD, 
           CJFILE.CJ_RESULT_CD, 
           CJFILE.CJ_ACTION_CD, 
           CJFILE.CJ_NEW_COLLID, 
           CJFILE.CJ_CON_STAT, 
           CJFILE.CJ_REC_STAT, 
           CJFILE.CJ_FORM_NO,
           CAST(CJFILE.CJ_PROMISE_DATE1   AS VARCHAR(10)), 
           CJFILE.CJ_PROMISE_AMT,
           CJFILE.CJ_BEG_LM_SEQ,
           CJFILE.CJ_END_LM_SEQ,
           CAST(CJFILE.CJ_PROMISE_DATE2   AS VARCHAR(10)), 
           CJFILE.CJ_CUR_BAL,
           CJFILE.CJ_PAST_DUE,
           CJFILE.CJ_QUEUE,
           ISNULL(CDBFILE.CDB_TYPE,''),
           ISNULL(CDBFILE.CDB_BRANCH, 0),
           ISNULL(CDBFILE.CDB_CODE,''),
           ISNULL(CDBFILE.CDB_DESC,'* NOT ON FILE *'),
           ISNULL(LNFILE.LN_OWNBR, 0),
           ISNULL(LNFILE.LN_ACCTNO, 0), 
           ISNULL(LNFILE.LN_SSNO1, 0),
           ISNULL(LNFILE.LN_MAKERCD1,''),
           ISNULL(LNFILE.LN_DLNO, 0), 
           ISNULL(BWFILE.BW_OWNBR, 0),
           ISNULL(BWFILE.BW_SSNO, 0),
           ISNULL(BWFILE.BW_LNAME,''),
           ISNULL(CDFILE.CD_TYPE,''),
           ISNULL(CDFILE.CD_CODE,''),
           ISNULL(CDFILE.CD_DESC,''),
           ISNULL(CDFILE.CD_RE_WORKED_ACCOUNT,'')

     FROM DBO.CJFILE  CJFILE

     LEFT OUTER JOIN
          DBO.CDBFILE CDBFILE
	   ON  ( CDBFILE.CDB_BRANCH          = CJFILE.CJ_BRNO
      AND    CDBFILE.CDB_TYPE            = 'CN'
      AND    CDBFILE.CDB_CODE            = CJFILE.CJ_COLLID )

     LEFT OUTER JOIN
          DBO.CDFILE  CDFILE
       ON  ( CDFILE.CD_CODE              = CJFILE.CJ_RESULT_CD
      AND    CDFILE.CD_TYPE              = 'RE' )

	 LEFT OUTER JOIN
          DBO.LNFILE  LNFILE
	   ON  ( LNFILE.LN_OWNBR             = CJFILE.CJ_BRNO
      AND    LNFILE.LN_ACCTNO            = CJFILE.CJ_ACCTNO ) 
   
     LEFT OUTER JOIN
          DBO.BWFILE  BWFILE
       ON (  BWFILE.BW_OWNBR             = LNFILE.LN_OWNBR    
      AND    BWFILE.BW_SSNO              = LNFILE.LN_SSNO1 )

    WHERE  ( CJFILE.CJ_BRNO              = @QCJ1_WBEG_BRNO   
      AND  ( CJFILE.CJ_COLLID      BETWEEN @QCJ1_WBEG_COLLID 
                                       AND @QCJ1_WEND_COLLID )
      AND  ( CJFILE.CJ_DATE        BETWEEN @QCJ1_WBEG_DATE
                                       AND @QCJ1_WEND_DATE )
      AND  ( CJFILE.CJ_START_TIME  BETWEEN @QCJ1_WBEG_START_TIME
                                       AND @QCJ1_WEND_START_TIME ))
 
    ORDER BY CJFILE.CJ_BRNO,
             CJFILE.CJ_COLLID,
             CJFILE.CJ_DATE,        
             CJFILE.CJ_START_TIME,
             CJFILE.CJ_END_TIME,
             CJFILE.CJ_ACCTNO,           
             CJFILE.CJ_BEG_LM_SEQ,
             CJFILE.CJ_END_LM_SEQ,
             CJFILE.CJ_SEQNO
			                
END
GO
