USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_EOYUPD_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_EOYUPD_LNFILE_SELECT              */
/*               PROGRAM NAME: LP/EOYUPD.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 03/04/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_EOYUPD_LNFILE_SELECT]
    @QLN1_WBEG_OWNBR         AS INT,
    @QLN1_WBEG_ACCTNO        AS INT,
    @QLN1_WEND_ACCTNO        AS INT
 
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN1_WBEG_OWNBR      INT
--DECLARE @QLN1_WBEG_ACCTNO     INT
--DECLARE @QLN1_WEND_ACCTNO     INT


--SET @QLN1_WBEG_OWNBR        = 11
--SET @QLN1_WBEG_ACCTNO       = 00000000 
--SET @QLN1_WEND_ACCTNO       = 99999999 


DROP TABLE IF EXISTS #TEMP_EOYUPD_LNFILE;

   SELECT TEMP.LN_OWNBR,
          TEMP.LN_ACCTNO,
          TEMP.LN_POCD,
          TEMP.LN_YTDINTPD,
          TEMP.LN_LYRINTPD 

     INTO #TEMP_EOYUPD_LNFILE

     FROM

  (SELECT LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_POCD,
          LNFILE.LN_YTDINTPD,
          LNFILE.LN_LYRINTPD 

     FROM DBO.LNFILE LNFILE

    WHERE LNFILE.LN_OWNBR        = @QLN1_WBEG_OWNBR
      AND LNFILE.LN_ACCTNO BETWEEN @QLN1_WBEG_ACCTNO
                               AND @QLN1_WEND_ACCTNO
      AND LNFILE.LN_POCD    NOT IN ('**', '*I', '*R', '*U') ) TEMP;

    SELECT #TEMP_EOYUPD_LNFILE.LN_OWNBR,
           #TEMP_EOYUPD_LNFILE.LN_ACCTNO,
           #TEMP_EOYUPD_LNFILE.LN_POCD,
           #TEMP_EOYUPD_LNFILE.LN_YTDINTPD,
           #TEMP_EOYUPD_LNFILE.LN_LYRINTPD 
 
      FROM #TEMP_EOYUPD_LNFILE	   

     ORDER BY #TEMP_EOYUPD_LNFILE.LN_OWNBR,
              #TEMP_EOYUPD_LNFILE.LN_ACCTNO;

 DROP TABLE IF EXISTS #TEMP_EOYUPD_LNFILE;

END
GO
