USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_CJEXTR_CJFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SP_CJEXTR_CJFILE_SELECT               */
/*               PROGRAM NAME: SP/CJEXTR.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: CJFILE                                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_CJEXTR_CJFILE_SELECT]
      @QCJ1_WBEG_BRNO    AS INT,
      @QCJ1_WBEG_DATE    AS DATE,
      @QCJ1_WEND_DATE    AS DATE 
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QCJ1_WBEG_BRNO   INT
--DECLARE @QCJ1_WBEG_DATE   DATE
--DECLARE @QCJ1_WEND_DATE   DATE 
 
--SET     @QCJ1_WBEG_BRNO   = 1504   
--SET	  @QCJ1_WBEG_DATE   = '2021-01-01'
--SET	  @QCJ1_WEND_DATE   = '2021-01-31'

   SELECT CJFILE.CJ_BRNO,
          CJFILE.CJ_COLLID, 
          CAST(CJFILE.CJ_DATE          AS VARCHAR(10)), 
          CJFILE.CJ_START_TIME,
          CJFILE.CJ_SEQNO,
          CJFILE.CJ_ACCTNO,
          CJFILE.CJ_END_TIME,
          CJFILE.CJ_ACTIVITY_CD, 
          CJFILE.CJ_RESULT_CD, 
          CJFILE.CJ_ACTION_CD, 
          CJFILE.CJ_NEW_COLLID,
          CJFILE.CJ_CON_STAT, 
          CJFILE.CJ_REC_STAT, 
          CJFILE.CJ_FORM_NO,
          CAST(CJFILE.CJ_PROMISE_DATE1 AS VARCHAR(10)), 
          CJFILE.CJ_PROMISE_AMT,
          CJFILE.CJ_BEG_LM_SEQ,
          CJFILE.CJ_END_LM_SEQ,
          CAST(CJFILE.CJ_PROMISE_DATE2 AS VARCHAR(10)), 
          CJFILE.CJ_CUR_BAL,
          CJFILE.CJ_PAST_DUE,
          CJFILE.CJ_POSTING_BR,
          CJFILE.CJ_QUEUE 

   FROM DBO.CJFILE

   WHERE CJFILE.CJ_BRNO       = @QCJ1_WBEG_BRNO
     AND CJFILE.CJ_DATE BETWEEN @QCJ1_WBEG_DATE
                            AND @QCJ1_WEND_DATE

   ORDER BY CJFILE.CJ_BRNO,
            CJFILE.CJ_COLLID,
            CJFILE.CJ_DATE,
            CJFILE.CJ_START_TIME,
            CJFILE.CJ_SEQNO

END
GO
