USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_ILUEXT_TRLFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_ILUEXT_TRLFILE_SELECT             */
/*               PROGRAM NAME: SP/ILUEXT.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRLFILE, LNFILE, LSMFILE                                */
/*                                                                   */
/*   REV DT:     BY:       REV:                                      */
/*   06/28/2024  RMZ       ADDED CLASS 55 TO EXCLUDE LIST: #S35Q-75  */
/*   MM/DD/YYYY  XXX       XXXXXXX                                   */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_ILUEXT_TRLFILE_SELECT]
    @QTRL1_WBEG_BRNO       AS INT,
    @QTRL1_WBEG_DATE       AS DATE,
    @QTRL1_WEND_DATE       AS DATE

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRL1_WBEG_BRNO      INT 
--DECLARE @QTRL1_WBEG_DATE      DATE
--DECLARE @QTRL1_WEND_DATE      DATE

--SET     @QTRL1_WBEG_BRNO      = 10
--SET     @QTRL1_WBEG_DATE      = '2022-08-01' 
--SET     @QTRL1_WEND_DATE      = '2022-08-31' 

 
   SELECT TRLFILE.TL_BRNO,
          CAST(TRLFILE.TL_DATE AS VARCHAR(10)),
          TRLFILE.TL_CLASS,
          TRLFILE.TL_ACCTNO,
          TRLFILE.TL_LAWCODE,
          TRLFILE.TL_LINE,
          TRLFILE.TL_LNAMT,
          ISNULL(LNFILE.LN_OWNBR, 0),
          ISNULL(LNFILE.LN_ACCTNO, 0),
          ISNULL(LNFILE.LN_SSNO1, 0),
          ISNULL(LNFILE.LN_MAKERCD1,''),
          ISNULL(LNFILE.LN_SSNO2, 0),
          ISNULL(LNFILE.LN_MAKERCD2,''),
          ISNULL(LNFILE.LN_SSNO3, 0), 
          ISNULL(LNFILE.LN_MAKERCD3,''),
          ISNULL(LNFILE.LN_SSNO4, 0),
          ISNULL(LNFILE.LN_MAKERCD4,''),
          ISNULL(LNFILE.LN_ORGST,''),
          ISNULL(LNFILE.LN_CONVERCD,''),
          ISNULL(CAST(LNFILE.LN_ENTDATE  AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LNFILE.LN_LOANDATE AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LNFILE.LN_APRATE, 0),
          ISNULL(LNFILE.LN_TOTPAYMNTD, 0),
          ISNULL(LSMFILE.LSM_BRNO, 0), 
          ISNULL(LSMFILE.LSM_ACCTNO, 0),
          ISNULL(LSMFILE.LSM_SEQNO, 0),
          ISNULL(LSMFILE.LSM_MISC_FIELD_15,' ')

     FROM DBO.TRLFILE  TRLFILE

	 LEFT OUTER JOIN 
          DBO.LNFILE LNFILE
       ON (  TRLFILE.TL_BRNO          = LNFILE.LN_OWNBR	
      AND    TRLFILE.TL_ACCTNO        = LNFILE.LN_ACCTNO
      AND    LNFILE.LN_ORGST          = 'IL'
      AND    LNFILE.LN_POFFDATE      != '1900-01-01'
      AND    SUBSTRING(CAST(LNFILE.LN_LOANDATE AS VARCHAR(10)), 1, 7)
	                                 !=  
             SUBSTRING(CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)), 1, 7) )

	 LEFT OUTER JOIN 
          DBO.LSMFILE LSMFILE
       ON (  LSMFILE.LSM_BRNO        = LNFILE.LN_OWNBR	
      AND    LSMFILE.LSM_ACCTNO      = LNFILE.LN_ACCTNO
      AND    LSMFILE.LSM_SEQNO       = 1 )

    WHERE (  TRLFILE.TL_BRNO         = @QTRL1_WBEG_BRNO 
	  AND    TRLFILE.TL_DATE   BETWEEN @QTRL1_WBEG_DATE
                                   AND @QTRL1_WEND_DATE
      AND    TRLFILE.TL_LNAMT       <= 0
      AND    TRLFILE.TL_CLASS   NOT IN (50, 55))
 
    ORDER BY TRLFILE.TL_BRNO,
             TRLFILE.TL_DATE,
             TRLFILE.TL_CLASS,
             TRLFILE.TL_ACCTNO,
             TRLFILE.TL_LAWCODE,
             TRLFILE.TL_LINE; 
             
END
GO
