USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_CQEXTR_CQFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_CQEXTR_CQFILE_SELECT              */
/*               PROGRAM NAME: SP/CQEXTR.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: CQFILE                                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_CQEXTR_CQFILE_SELECT]
      @QCQ1_WBEG_BRNO        AS INT  

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QCQ1_WBEG_BRNO    INT 
--SET     @QCQ1_WBEG_BRNO    = 1504     

   SELECT CQFILE.CQ_BRNO,
          CQFILE.CQ_ACCTNO,
          CQFILE.CQ_COLLID, 
          CQFILE.CQ_REV_BEHAVIOR_RISK,
          CQFILE.CQ_SEQ_FG,  
          CAST(CQFILE.CQ_DATE         AS VARCHAR(10)), 
          CQFILE.CQ_START_TIME,
          CQFILE.CQ_REV_DEL,
          CQFILE.CQ_REV_PDUE_DAYS,
          CQFILE.CQ_REV_BAL,
          CQFILE.CQ_WORK_COLLID, 
          CQFILE.CQ_WORKED_FG, 
          CQFILE.CQ_IN_PROCESS, 
          CAST(CQFILE.CQ_DATE_QUEUED  AS VARCHAR(10)), 
          CQFILE.CQ_TIME_ZONE_ERROR 
     FROM DBO.CQFILE  CQFILE
    WHERE  ( CQFILE.CQ_BRNO   = @QCQ1_WBEG_BRNO )  
    ORDER BY CQFILE.CQ_BRNO,
             CQFILE.CQ_ACCTNO

END
GO
