USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_ILNEXT_LNFILE_TOTAL_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_ILNEXT_LNFILE_TOTAL_SELECT        */
/*               PROGRAM NAME: SP/ILNEXT.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL COUNTER CALLS IN COBOL PROGRAM.    */
/*                                                                   */
/*   TABLES: LNFILE                                                  */
/*                                                                   */
/*   REV DT:     BY:       REV:                                      */
/*   07/02/2024  RMZ       ADDED CLASS 55 TO EXCLUDE LIST: #S35Q-75  */
/*   MM/DD/YYYY  XXX       XXXXXXX                                   */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_ILNEXT_LNFILE_TOTAL_SELECT]
    @QLN3_WBEG_OWNBR      AS INT,
	@QLN3_WBEG_CLASS      AS INT,
	@QLN3_WEND_CLASS      AS INT, 
    @QWS_BEG_DATE         AS DATE,
    @QWS_END_DATE         AS DATE

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN3_WBEG_OWNBR      INT
--DECLARE @QLN3_WBEG_CLASS      INT
--DECLARE @QLN3_WEND_CLASS      INT
--DECLARE @QWS_BEG_DATE         DATE
--DECLARE @QWS_END_DATE         DATE
 
--SET     @QLN3_WBEG_OWNBR      = 1000
--SET     @QLN3_WBEG_CLASS      = 1   
--SET     @QLN3_WEND_CLASS      = 5
--SET     @QWS_BEG_DATE         = '2023-12-01' 
--SET     @QWS_END_DATE         = '2023-12-31' 

 
   SELECT COUNT(*)          AS BRANCH_RECORDS, 
          SUM(CASE WHEN  (  LNFILE.LN_POCD          IN ('**', '*I', '*R', '*U', 'BT'))
                      OR (  LNFILE.LN_ORGST         != 'IL' )
                      OR (  LNFILE.LN_CLASS         IN (50, 55) )
                      OR (( LNFILE.LN_CONVERCD       = 'Y'
                     AND    LNFILE.LN_ENTDATE        < @QWS_BEG_DATE
                      OR    LNFILE.LN_ENTDATE        > @QWS_END_DATE )
                      OR  ( LNFILE.LN_CONVERCD      != 'Y'   
                     AND    LNFILE.LN_LOANDATE       < @QWS_BEG_DATE
                      OR    LNFILE.LN_LOANDATE       > @QWS_END_DATE ))
                   THEN 1
                   ELSE 0
               END)           AS BRANCH_BYPASSED,
          SUM(CASE WHEN  (  LNFILE.LN_POCD      NOT IN ('**', '*I', '*R', '*U', 'BT'))
                     AND (  LNFILE.LN_ORGST          = 'IL' )
                     AND (  LNFILE.LN_CLASS     NOT IN (50, 55) )
                     AND (( LNFILE.LN_CONVERCD       = 'Y'
                     AND    LNFILE.LN_ENTDATE  BETWEEN @QWS_BEG_DATE
                                                   AND @QWS_END_DATE )
                      OR  ( LNFILE.LN_CONVERCD      != 'Y'   
                     AND    LNFILE.LN_LOANDATE BETWEEN @QWS_BEG_DATE
                                                   AND @QWS_END_DATE ))
                   THEN 1
                   ELSE 0
               END)           AS BRANCH_INCLUDED

     FROM DBO.LNFILE  LNFILE
    WHERE ( LNFILE.LN_OWNBR         = @QLN3_WBEG_OWNBR
      AND   LNFILE.LN_CLASS   BETWEEN @QLN3_WBEG_CLASS
                                  AND @QLN3_WEND_CLASS )

END 
GO
