USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_AVAILC_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_AVAILC_LNFILE_SELECT              */
/*               PROGRAM NAME: LP/AVAILC.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 06/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE BWFILE                                           */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_AVAILC_LNFILE_SELECT]
    @WBEG_BRNO     AS INT,
    @WBEG_CLASS    AS INT,
    @WEND_CLASS    AS INT,
	@WBEG_ACCTNO   AS INT,
    @WEND_ACCTNO   AS INT,
	@ZBAL          AS CHAR(1)
   

 AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @PARAMLIST  NVARCHAR(4000),      
		    @SQL        NVARCHAR(MAX)

--DECLARE @WBEG_BRNO    INT
--DECLARE @WBEG_CLASS   INT
--DECLARE @WEND_CLASS   INT 
--DECLARE @WBEG_ACCTNO  INT
--DECLARE @WEND_ACCTNO  INT 
--DECLARE @ZBAL        CHAR(1)

--SET @WBEG_BRNO     = ' 0200'
--SET @WBEG_CLASS    =  000
--SET @WEND_CLASS    =  999
--SET @WBEG_ACCTNO   =  0
--SET @WEND_ACCTNO   =  99999999
--SET @ZBAL          = 'I'
  

SELECT @SQL = 'SELECT LNFILE.LN_OWNBR,
                   LNFILE.LN_ACCTNO,
                   LNFILE.LN_CLASS,
                   LNFILE.LN_SUBCLASS,
                   LNFILE.LN_LAWCODE,
                   LNFILE.LN_SSNO1,
                   LNFILE.LN_MAKERCD1,
                   LNFILE.LN_SSNO2,
                   LNFILE.LN_MAKERCD2,
                   LNFILE.LN_SSNO3,
                   LNFILE.LN_MAKERCD3,
                   LNFILE.LN_SSNO4,
                   LNFILE.LN_MAKERCD4,
                   LNFILE.LN_ORGST,
                   LNFILE.LN_SPRCLASS,
                   LNFILE.LN_CONVERCD,
                   LNFILE.LN_POCD,
                   LNFILE.LN_CONFIDENTCD,
                   LNFILE.LN_ALLOTCD,
                   LNFILE.LN_STATUSFG,
                   LNFILE.LN_SALEFIN,
                   LNFILE.LN_LOANTYPE,
                   LNFILE.LN_ADDON_FG,
                   LNFILE.LN_PAY_SCHLD_FG,
                   LNFILE.LN_LC_CODE,
                   CAST(LNFILE.LN_LOANDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_PURDATE  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INTDATE  AS VARCHAR(10)),
                   CAST(LNFILE.LN_CASHDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_1STPYDATE      AS VARCHAR(10)),
                   CAST(LNFILE.LN_JDDATE    AS VARCHAR(10)),
                   CAST(LNFILE.LN_PLDATE    AS VARCHAR(10)),
                   CAST(LNFILE.LN_ACCELDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_REDUDATE  AS VARCHAR(10)),
                   CAST(LNFILE.LN_POFFDATE  AS VARCHAR(10)),
                   CAST(LNFILE.LN_BNKRPTDATE AS VARCHAR(10)),
                   LNFILE.LN_APRATE,
                   LNFILE.LN_EFFRATE,
                   LNFILE.LN_SMPRATE,
                   LNFILE.LN_OVRDRATE,
                   LNFILE.LN_ENDORATE,
                   LNFILE.LN_JDRATE,
                   LNFILE.LN_ACCRATE,
                   LNFILE.LN_REDURATE,
                   LNFILE.LN_LNAMT,
                   LNFILE.LN_FINCHG,
                   LNFILE.LN_INTCHG,
                   LNFILE.LN_SERCHG,
                   LNFILE.LN_EXTCHG,
                   LNFILE.LN_MAINTFEE,
                   LNFILE.LN_POINTS,
                   LNFILE.LN_ORGTERM,
                   LNFILE.LN_1STPYAMT,
                   LNFILE.LN_NOREGPY,
                   LNFILE.LN_REGPYAMT,
                   LNFILE.LN_LASTPYAMT,
                   LNFILE.LN_FEECODE_1,
                   LNFILE.LN_FEECODE_2,
                   LNFILE.LN_FEECODE_3,
                   LNFILE.LN_FEECODE_4,
                   LNFILE.LN_FEECODE_5,
                   LNFILE.LN_FEECODE_6,
                   LNFILE.LN_FEECODE_7,
                   LNFILE.LN_FEECODE_8,
                   LNFILE.LN_FEECODE_9,
                   LNFILE.LN_FEECODE_10,
                   LNFILE.LN_FEECODE_11,
                   LNFILE.LN_FEECODE_12,
                   LNFILE.LN_FEECODE_13,
                   LNFILE.LN_FEECODE_14,
                   LNFILE.LN_FEECODE_15,
                   LNFILE.LN_FEECODE_16,
                   LNFILE.LN_FEECODE_17,
                   LNFILE.LN_FEECODE_18,
                   LNFILE.LN_FEECODE_19,
                   LNFILE.LN_FEECODE_20,
                   LNFILE.LN_FEEAMT_1,
                   LNFILE.LN_FEEAMT_2,
                   LNFILE.LN_FEEAMT_3,
                   LNFILE.LN_FEEAMT_4,
                   LNFILE.LN_FEEAMT_5,
                   LNFILE.LN_FEEAMT_6,
                   LNFILE.LN_FEEAMT_7,
                   LNFILE.LN_FEEAMT_8,
                   LNFILE.LN_FEEAMT_9,
                   LNFILE.LN_FEEAMT_10,
                   LNFILE.LN_FEEAMT_11,
                   LNFILE.LN_FEEAMT_12,
                   LNFILE.LN_FEEAMT_13,
                   LNFILE.LN_FEEAMT_14,
                   LNFILE.LN_FEEAMT_15,
                   LNFILE.LN_FEEAMT_16,
                   LNFILE.LN_FEEAMT_17,
                   LNFILE.LN_FEEAMT_18,
                   LNFILE.LN_FEEAMT_19,
                   LNFILE.LN_FEEAMT_20,
                   LNFILE.LN_FEEOURS_1,
                   LNFILE.LN_FEEOURS_2,
                   LNFILE.LN_FEEOURS_3,
                   LNFILE.LN_FEEOURS_4,
                   LNFILE.LN_FEEOURS_5,
                   LNFILE.LN_FEEOURS_6,
                   LNFILE.LN_FEEOURS_7,
                   LNFILE.LN_FEEOURS_8,
                   LNFILE.LN_FEEOURS_9,
                   LNFILE.LN_FEEOURS_10,
                   LNFILE.LN_FEEOURS_11,
                   LNFILE.LN_FEEOURS_12,
                   LNFILE.LN_FEEOURS_13,
                   LNFILE.LN_FEEOURS_14,
                   LNFILE.LN_FEEOURS_15,
                   LNFILE.LN_FEEOURS_16,
                   LNFILE.LN_FEEOURS_17,
                   LNFILE.LN_FEEOURS_18,
                   LNFILE.LN_FEEOURS_19,
                   LNFILE.LN_FEEOURS_20,
                   LNFILE.LN_FEEFINCHG_1,
                   LNFILE.LN_FEEFINCHG_2,
                   LNFILE.LN_FEEFINCHG_3,
                   LNFILE.LN_FEEFINCHG_4,
                   LNFILE.LN_FEEFINCHG_5,
                   LNFILE.LN_FEEFINCHG_6,
                   LNFILE.LN_FEEFINCHG_7,
                   LNFILE.LN_FEEFINCHG_8,
                   LNFILE.LN_FEEFINCHG_9,
                   LNFILE.LN_FEEFINCHG_10,
                   LNFILE.LN_FEEFINCHG_11,
                   LNFILE.LN_FEEFINCHG_12,
                   LNFILE.LN_FEEFINCHG_13,
                   LNFILE.LN_FEEFINCHG_14,
                   LNFILE.LN_FEEFINCHG_15,
                   LNFILE.LN_FEEFINCHG_16,
                   LNFILE.LN_FEEFINCHG_17,
                   LNFILE.LN_FEEFINCHG_18,
                   LNFILE.LN_FEEFINCHG_19,
                   LNFILE.LN_FEEFINCHG_20,
                   LNFILE.LN_INSURED,
                   LNFILE.LN_INSTYPES,
                   LNFILE.LN_INSCOMP_1,
                   LNFILE.LN_INSCOMP_2,
                   LNFILE.LN_INSCOMP_3,
                   LNFILE.LN_INSCOMP_4,
                   LNFILE.LN_INSCOMP_5,
                   LNFILE.LN_INSCOMP_6,
                   LNFILE.LN_INSCOMP_7,
                   LNFILE.LN_INSCOMP_8,
                   LNFILE.LN_INSCOMP_9,
                   LNFILE.LN_INSCOMP_10,
                   LNFILE.LN_INSOURS_1,
                   LNFILE.LN_INSOURS_2,
                   LNFILE.LN_INSOURS_3,
                   LNFILE.LN_INSOURS_4,
                   LNFILE.LN_INSOURS_5,
                   LNFILE.LN_INSOURS_6,
                   LNFILE.LN_INSOURS_7,
                   LNFILE.LN_INSOURS_8,
                   LNFILE.LN_INSOURS_9,
                   LNFILE.LN_INSOURS_10,
                   CAST(LNFILE.LN_INSEFF_DATE_1 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_2 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_3 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_4 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_5 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_6 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_7 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_8 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_9 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_10 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_1 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_2 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_3 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_4 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_5 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_6 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_7 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_8 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_9 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_10 AS VARCHAR(10)),
                   LNFILE.LN_INSPREM_1,
                   LNFILE.LN_INSPREM_2,
                   LNFILE.LN_INSPREM_3,
                   LNFILE.LN_INSPREM_4,
                   LNFILE.LN_INSPREM_5,
                   LNFILE.LN_INSPREM_6,
                   LNFILE.LN_INSPREM_7,
                   LNFILE.LN_INSPREM_8,
                   LNFILE.LN_INSPREM_9,
                   LNFILE.LN_INSPREM_10,
                   LNFILE.LN_INSCOVR_1,
                   LNFILE.LN_INSCOVR_2,
                   LNFILE.LN_INSCOVR_3,
                   LNFILE.LN_INSCOVR_4,
                   LNFILE.LN_INSCOVR_5,
                   LNFILE.LN_INSCOVR_6,
                   LNFILE.LN_INSCOVR_7,
                   LNFILE.LN_INSCOVR_8,
                   LNFILE.LN_INSCOVR_9,
                   LNFILE.LN_INSCOVR_10,
                   LNFILE.LN_INSFINCHG_1,
                   LNFILE.LN_INSFINCHG_2,
                   LNFILE.LN_INSFINCHG_3,
                   LNFILE.LN_INSFINCHG_4,
                   LNFILE.LN_INSFINCHG_5,
                   LNFILE.LN_INSFINCHG_6,
                   LNFILE.LN_INSFINCHG_7,
                   LNFILE.LN_INSFINCHG_8,
                   LNFILE.LN_INSFINCHG_9,
                   LNFILE.LN_INSFINCHG_10,
                   LNFILE.LN_MIP_FG,
                   CAST(LNFILE.LN_MIP_CLPDTH_DATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_MIP_AHPDTH_DATE AS VARCHAR(10)),
                   LNFILE.LN_DLNO,
                   CAST(LNFILE.LN_LCPDTH_DATE  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INTPDTH_DATE AS VARCHAR(10)),
                   LNFILE.LN_CURBAL,
                   LNFILE.LN_INTBAL,
                   LNFILE.LN_LCBAL,
                   LNFILE.LN_OTHBAL,
                   LNFILE.LN_OT2BAL,
                   LNFILE.LN_LCPAID,
                   LNFILE.LN_LCPARTIALS,
                   LNFILE.LN_ANTICERN_1,
                   LNFILE.LN_ANTICERN_2,
                   LNFILE.LN_ANTICERN_3,
                   LNFILE.LN_ANTICERN_4,
                   LNFILE.LN_ANTICERN_5,
                   LNFILE.LN_ANTICERN_6,
                   LNFILE.LN_ANTICERN_7,
                   LNFILE.LN_ANTICERN_8,
                   LNFILE.LN_ANTICERN_9,
                   LNFILE.LN_ANTICERN_10,
                   LNFILE.LN_ANTICADJ_1,
                   LNFILE.LN_ANTICADJ_2,
                   LNFILE.LN_ANTICADJ_3,
                   LNFILE.LN_ANTICADJ_4,
                   LNFILE.LN_ANTICADJ_5,
                   LNFILE.LN_ANTICADJ_6,
                   LNFILE.LN_ANTICADJ_7,
                   LNFILE.LN_ANTICADJ_8,
                   LNFILE.LN_ANTICADJ_9,
                   LNFILE.LN_ANTICADJ_10,
                   LNFILE.LN_UFERN_1,
                   LNFILE.LN_UFERN_2,
                   LNFILE.LN_UFERN_3,
                   LNFILE.LN_UFERN_4,
                   LNFILE.LN_UFERN_5,
                   LNFILE.LN_UFERN_6,
                   LNFILE.LN_UFERN_7,
                   LNFILE.LN_UFERN_8,
                   LNFILE.LN_UFERN_9,
                   LNFILE.LN_UFERN_10,
                   LNFILE.LN_TOTINT,
                   LNFILE.LN_TOTLCHG,
                   LNFILE.LN_TOTDEF,
                   LNFILE.LN_TOTPAYMNTD,
                   LNFILE.LN_TOTNODEF,
                   LNFILE.LN_TOTNOALDEL,
                   LNFILE.LN_CL_REBATE,
                   LNFILE.LN_AH_REBATE,
                   LNFILE.LN_PP_REBATE,
                   LNFILE.LN_INT_REBATE,
                   LNFILE.LN_SC_REBATE,
                   LNFILE.LN_MF_REBATE,
                   LNFILE.LN_DF_REBATE,
                   LNFILE.LN_EX_REBATE,
                   LNFILE.LN_O1_REBATE,
                   LNFILE.LN_O2_REBATE,
                   LNFILE.LN_O3_REBATE,
                   LNFILE.LN_O4_REBATE,
                   LNFILE.LN_O5_REBATE,
                   LNFILE.LN_O6_REBATE,
                   LNFILE.LN_O7_REBATE,
                   LNFILE.LN_UN_O7_REB,
                   LNFILE.LN_UN_O8_REB,
                   LNFILE.LN_UN_O9_REB,
                   LNFILE.LN_UN_O10_REB,
                   LNFILE.LN_ESCROW_FG,
                   CAST(LNFILE.LN_DATE_PAID_LAST AS VARCHAR(10)),
                   LNFILE.LN_CREDITLIM,
                   LNFILE.LN_OLDACCTNO,
                   LNFILE.LN_PRLNNO,
                   LNFILE.LN_SUM_FINCHG,
                   LNFILE.LN_SUM_ORGTERM,
                   LNFILE.LN_UNITPER_CD,
                   LNFILE.LN_UNITPER_FREQ,
                   LNFILE.LN_REPOCD,
                   LNFILE.LN_LBOX,
                   BWFILE.BW_OWNBR,
                   BWFILE.BW_SSNO,
                   BWFILE.BW_LNAME,
                   BWFILE.BW_FNAME,
                   BWFILE.BW_ADR1,
                   BWFILE.BW_ADR2,
                   BWFILE.BW_CITY,
                   BWFILE.BW_STATE,
                   BWFILE.BW_ZIP,
                   BWFILE.BW_PHONE,
                   CAST(BWFILE.BW_LAST_RN_FOR10_DATE AS VARCHAR(10)),
                   BWFILE.BW_CONFIDENTIAL

            FROM DBO.LNFILE LNFILE

           INNER JOIN DBO.BWFILE BWFILE
              ON BWFILE.BW_OWNBR = LNFILE.LN_OWNBR
             AND BWFILE.BW_SSNO  = LNFILE.LN_SSNO1
             AND BWFILE.BW_CONFIDENTIAL != ''Y''

             WHERE LNFILE.LN_OWNBR       = @WBEG_BRNO
               AND LNFILE.LN_CLASS BETWEEN @WBEG_CLASS   AND @WEND_CLASS
               AND LNFILE.LN_ACCTNO BETWEEN @WBEG_ACCTNO AND @WEND_ACCTNO 
	           AND LNFILE.LN_POCD NOT IN (''**'',''*I'',''*R'', ''*U'',''PB'',''RN'',''SC'',''RB'',''RO'')
			   AND LNFILE.LN_CREDITLIM   != 0
               AND LNFILE.LN_PLDATE      = ''1900-01-01''
               AND LNFILE.LN_JDDATE      = ''1900-01-01''
               AND LNFILE.LN_BNKRPTDATE  = ''1900-01-01''
               AND LNFILE.LN_CONFIDENTCD != ''Y''
               AND LNFILE.LN_REPOCD NOT IN (''X'', ''S'') '

  IF @ZBAL  = 'O'
  SELECT @SQL += ' AND LNFILE.LN_CURBAL = 0
                   AND LNFILE.LN_INTBAL = 0  
                   AND LNFILE.LN_LCBAL  = 0 
                   AND LNFILE.LN_OTHBAL = 0 '
  
  IF @ZBAL  = 'S'
  SELECT @SQL += ' AND (LNFILE.LN_CURBAL != 0
                     OR LNFILE.LN_INTBAL != 0  
                     OR LNFILE.LN_LCBAL  != 0 
                     OR LNFILE.LN_OTHBAL != 0) '


SELECT @SQL += ' ORDER BY LNFILE.LN_CLASS, BWFILE.BW_LNAME, LNFILE.LN_ACCTNO '

SELECT @paramlist = '@WBEG_BRNO     AS INT,
                     @WBEG_CLASS    AS INT,
                     @WEND_CLASS    AS INT,
					 @WBEG_ACCTNO   AS INT,
                     @WEND_ACCTNO   AS INT,
	                 @ZBAL          AS CHAR(1)'

EXEC sp_executesql @SQL, @paramlist, @WBEG_BRNO, @WBEG_CLASS, @WEND_CLASS, @WBEG_ACCTNO, @WEND_ACCTNO, @ZBAL

END 
GO
