USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_COLLET_LMFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_COLLET_LMFILE_SELECT              */
/*               PROGRAM NAME: LP/COLLET.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LMFILE, LNFILE                                          */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_COLLET_LMFILE_SELECT]
    @QLM1_WBEG_BRNO        AS INT,
    @QLM1_WBEG_DATE_REV    AS INT,
    @QLM1_WEND_DATE_REV    AS INT,
    @QWS_ZBAL_ISO          AS CHAR(1) 
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLM1_WBEG_BRNO     INT
--DECLARE @QLM1_WBEG_DATE_REV INT
--DECLARE @QLM1_WEND_DATE_REV INT
--DECLARE @QWS_ZBAL_ISO       CHAR(1) 

--SET     @QLM1_WBEG_BRNO     = 10 
--SET     @QLM1_WBEG_DATE_REV = 79808768    
--SET     @QLM1_WEND_DATE_REV = 79808798  
--SET     @QWS_ZBAL_ISO       = 'I'  

   SELECT LMFILE.LM_BRNO,
          LNFILE.LN_CLASS,
          LMFILE.LM_ACCTNO,
          LMFILE.LM_DATE_REVERSED,
          LMFILE.LM_SEQ,
          LMFILE.LM_MEMO

    FROM DBO.LMFILE  LMFILE

   INNER JOIN
         DBO.LNFILE  LNFILE
	  ON (( LNFILE.LN_OWNBR              = LMFILE.LM_BRNO 
     AND    LNFILE.LN_ACCTNO             = LMFILE.LM_ACCTNO )
     AND (  LNFILE.LN_POCD          NOT IN ('**', '*I', '*R', '*U'))
     AND (  LNFILE.LN_PLDATE             = '1900-01-01'  )
     AND (( @QWS_ZBAL_ISO                = 'I' )
      OR (  @QWS_ZBAL_ISO                = 'O' 
     AND    LNFILE.LN_CURBAL             = 0
     AND    LNFILE.LN_INTBAL             = 0
     AND    LNFILE.LN_LCBAL              = 0 
     AND    LNFILE.LN_OTHBAL             = 0 )
      OR (  @QWS_ZBAL_ISO                = 'S' 
      OR    LNFILE.LN_CURBAL            != 0
      OR    LNFILE.LN_INTBAL            != 0
      OR    LNFILE.LN_LCBAL             != 0 
      OR    LNFILE.LN_OTHBAL            != 0 )))

   WHERE (  LMFILE.LM_BRNO                = @QLM1_WBEG_BRNO
     AND    LMFILE.LM_DATE_REVERSED BETWEEN @QLM1_WBEG_DATE_REV
	                                    AND @QLM1_WEND_DATE_REV )
   ORDER BY LMFILE.LM_BRNO,
            LNFILE.LN_CLASS,
            LMFILE.LM_ACCTNO,
            LMFILE.LM_DATE_REVERSED 
             
END
GO
