USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_EMPLRG_TRPFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_EMPLRG_TRPFILE_SELECT             */
/*               PROGRAM NAME: LP/EMPLRG.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRPFILE                                                 */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
   
CREATE PROCEDURE [dbo].[SSP_EMPLRG_TRPFILE_SELECT]
  @QTRP1_WBEG_BRNO    AS INT,
  @QTRP1_WBEG_DATE    AS DATE,
  @QTRP1_WEND_DATE    AS DATE,
  @QTRP1_WBEG_CLASS   AS INT,
  @QTRP1_WEND_CLASS   AS INT  

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRP1_WBEG_BRNO    INT
--DECLARE @QTRP1_WBEG_DATE    DATE
--DECLARE @QTRP1_WEND_DATE    DATE
--DECLARE @QTRP1_WBEG_CLASS   INT
--DECLARE @QTRP1_WEND_CLASS   INT 
 
--SET @QTRP1_WBEG_BRNO    =  0010
--SET @QTRP1_WBEG_DATE    =  '2019-12-01'
--SET @QTRP1_WEND_DATE    =  '2019-12-31'
--SET @QTRP1_WBEG_CLASS   =  000
--SET @QTRP1_WEND_CLASS   =  999

   SELECT  TRPFILE.TP_BRNO,
           CAST(TRPFILE.TP_DATE AS VARCHAR(10)),
           TRPFILE.TP_CLASS,
           TRPFILE.TP_ACCTNO,
           TRPFILE.TP_LINE,
           TRPFILE.TP_SSNO,
           TRPFILE.TP_MAKER, 
           TRPFILE.TP_TRCD, 
           TRPFILE.TP_REFNO, 
           CAST(TRPFILE.TP_PAYDATE AS VARCHAR(10)), 
           TRPFILE.TP_TRAMT,
           TRPFILE.TP_WORKAMT_1,
           TRPFILE.TP_WORKAMT_2,
           TRPFILE.TP_WORKAMT_3,
           TRPFILE.TP_WORKAMT_4,
           TRPFILE.TP_WORKAMT_5,
           TRPFILE.TP_WORKAMT_6,
           TRPFILE.TP_OT2BAL,
           TRPFILE.TP_POSTING_BR,
           TRPFILE.TP_OTHBR_FG, 
           TRPFILE.TP_REV 
     FROM DBO.TRPFILE TRPFILE
    WHERE  TRPFILE.TP_BRNO        = @QTRP1_WBEG_BRNO   
      AND  TRPFILE.TP_DATE  BETWEEN @QTRP1_WBEG_DATE
                                AND @QTRP1_WEND_DATE  
      AND  TRPFILE.TP_CLASS BETWEEN @QTRP1_WBEG_CLASS
                                AND @QTRP1_WEND_CLASS 
    ORDER BY TRPFILE.TP_BRNO,
             TRPFILE.TP_DATE,
             TRPFILE.TP_CLASS,
             TRPFILE.TP_ACCTNO,
             TRPFILE.TP_LINE

END 
GO
