USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LPEXTR_LPFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LPEXTR_LPFILE_SELECT              */
/*               PROGRAM NAME: SP/LPEXTR.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LPFILE, LXGFILE                                         */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   01/16/2025  RMZ          ADDED THE FOLLOWING TO SSP:            */ 
/*                                TABLE: DBO.LXFILE                  */   
/*                                COLUMN: XLR_REB_AMT                */
/*                            (#1697 S35Q-157)                       */   
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_LPEXTR_LPFILE_SELECT]
    @QLP1_WBEG_BRNO        AS INT, 
    @QWS_BEG_DATE          AS DATE,
    @QWS_END_DATE          AS DATE,
    @QWS_REV_ONLY          AS CHAR(1)

	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLP1_WBEG_BRNO     INT    
--DECLARE @QWS_BEG_DATE       DATE 
--DECLARE @QWS_END_DATE       DATE      
--DECLARE @QWS_REV_ONLY       CHAR(1)
 
--SET   @QLP1_WBEG_BRNO   = 25   
--SET   @QWS_BEG_DATE     = '2019-12-01'   
--SET	  @QWS_END_DATE     = '2024-12-31'   
--SET   @QWS_REV_ONLY     = 'N' 

   SELECT LPFILE.LP_BRNO,
          LPFILE.LP_ACCTNO,
          LPFILE.LP_SEQNO,
          LPFILE.LP_USERID, 
          CAST(LPFILE.LP_POSTDATE AS VARCHAR(10)),
          LPFILE.LP_POSTTIME,
          CAST(LPFILE.LP_TRDATE   AS VARCHAR(10)), 
          CAST(LPFILE.LP_PAYDATE  AS VARCHAR(10)), 
          LPFILE.LP_TRCD, 
          LPFILE.LP_REFNO, 
          LPFILE.LP_TRAMT,
          LPFILE.LP_APOTH,
          LPFILE.LP_APOT2,
          LPFILE.LP_APINT,
          LPFILE.LP_APLC,
          LPFILE.LP_APCUR,
          LPFILE.LP_OTHBAL,
          LPFILE.LP_OT2BAL,
          LPFILE.LP_INTBAL,
          LPFILE.LP_LCBAL,
          LPFILE.LP_CURBAL,
          LPFILE.LP_INTDUE,
          LPFILE.LP_DLPROC,
          LPFILE.LP_EARNED_1,
          LPFILE.LP_EARNED_2,
          LPFILE.LP_EARNED_3,
          LPFILE.LP_INTPAID,
          LPFILE.LP_SSNO,
          CAST(LPFILE.LP_PDTH_DATE   AS VARCHAR(10)), 
          CAST(LPFILE.LP_LCPDTH_DATE AS VARCHAR(10)), 
          LPFILE.LP_TILLNO,
          LPFILE.LP_APINTOWE,
          LPFILE.LP_DLPARVHELD_ADJ,
          LPFILE.LP_IBPC, 
          LPFILE.LP_MANUAL_RB, 
          LPFILE.LP_REV, 
          LPFILE.LP_REVTRCD, 
          LPFILE.LP_REVSEQNO,
          LPFILE.LP_STATUSFG, 
          LPFILE.LP_NEWSTAT_RATE,
          LPFILE.LP_LCPARTIALS,
          LPFILE.LP_LCPAID,
          LPFILE.LP_DLRVCHGS_ADJ_1,
          LPFILE.LP_DLRVCHGS_ADJ_2,
          LPFILE.LP_DLRVCHGS_ADJ_3,
          LPFILE.LP_DLPARVPAID_ADJ,
          LPFILE.LP_DLNO,
          LPFILE.LP_PREPAY_PENALTY,
          LPFILE.LP_PRORATED_INS_REB,
          LPFILE.LP_POSTING_BR,
          LPFILE.LP_NOLCHG,
          LPFILE.LP_COLLECTOR,
          LPFILE.LP_EXTRA_PRIN_LFP,
          LPFILE.LP_REMAIN_INT_SINCE_LFP,
          LPFILE.LP_REMAIN_PRIN_SINCE_LFP,
          ISNULL(LXGFILE.LXG_BRNO, 0),
          ISNULL(LXGFILE.LXG_ACCTNO, 0),
          ISNULL(LXGFILE.LXG_SEQNO, 0),
          ISNULL(LXGFILE.LXG_GLNO_1, 0),
          ISNULL(LXGFILE.LXG_GLNO_2, 0),
          ISNULL(LXGFILE.LXG_GLNO_3, 0),
          ISNULL(LXGFILE.LXG_GLAMT_1, 0),
          ISNULL(LXGFILE.LXG_GLAMT_2, 0),
          ISNULL(LXGFILE.LXG_GLAMT_3, 0),
          ISNULL(LXFILE.LXR_REB_AMT, 0)

     FROM DBO.LPFILE LPFILE
	 
     LEFT OUTER JOIN
          DBO.LXGFILE LXGFILE
       ON (  LPFILE.LP_BRNO           = LXGFILE.LXG_BRNO
      AND    LPFILE.LP_ACCTNO         = LXGFILE.LXG_ACCTNO
      AND    LPFILE.LP_SEQNO          = LXGFILE.LXG_SEQNO )

     LEFT OUTER JOIN
          DBO.LXFILE LXFILE
       ON (  LPFILE.LP_BRNO           = LXFILE.LX_BRNO
      AND    LPFILE.LP_ACCTNO         = LXFILE.LX_ACCTNO
      AND    LPFILE.LP_SEQNO          = LXFILE.LX_SEQNO )
  
    WHERE (  LPFILE.LP_BRNO           = @QLP1_WBEG_BRNO  
      AND    LPFILE.LP_POSTDATE BETWEEN @QWS_BEG_DATE
                                    AND @QWS_END_DATE 
      AND (( @QWS_REV_ONLY            = 'N' )
       OR  ( @QWS_REV_ONLY            = 'Y'
      AND    LPFILE.LP_REV            = 'Y' )))

    ORDER BY LPFILE.LP_BRNO,
             LPFILE.LP_ACCTNO,
             LPFILE.LP_SEQNO;

END
GO
