USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LSOUTH_TRSFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LSOUTH_TRSFILE_SELECT             */
/*               PROGRAM NAME: LP/LSOUTH.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 10/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRSFILE LNFILE                                          */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_LSOUTH_TRSFILE_SELECT]
    @BRANCHLIST         AS VARCHAR(7500),
   	@QTRS1_WBEG_DATE    AS DATE,
    @QTRS1_WEND_DATE    AS DATE,
    @QTRS1_WBEG_CLASS   AS INT,
    @QTRS1_WEND_CLASS   AS INT

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @BRANCHLIST         VARCHAR(7500)
--DECLARE @QTRS1_WBEG_DATE    DATE
--DECLARE @QTRS1_WEND_DATE    DATE
--DECLARE @QTRS1_WBEG_CLASS   INT
--DECLARE @QTRS1_WEND_CLASS   INT 

--SET @BRANCHLIST         = '1504'
--SET @QTRS1_WBEG_DATE    = '2019-12-01'
--SET @QTRS1_WEND_DATE    = '2019-12-31'
--SET @QTRS1_WBEG_CLASS   = 000
--SET @QTRS1_WEND_CLASS   = 999
      
CREATE TABLE #TEMP1_BRANCH_GROUP_TBL
   ( SEQ int IDENTITY(1,1),
     BRNO int ); 

INSERT INTO #TEMP1_BRANCH_GROUP_TBL (BRNO)
SELECT P.VALUE FROM string_Split(@BRANCHLIST, ',') P;

	       SELECT TRSFILE.TS_BRNO,
                   CAST(TRSFILE.TS_DATE AS VARCHAR(10)),
                   TRSFILE.TS_CLASS,
                   TRSFILE.TS_ACCTNO,
                   TRSFILE.TS_LAWCODE,
                   TRSFILE.TS_LINE,
                   TRSFILE.TS_FEECODE_1,
                   TRSFILE.TS_FEECODE_2,
                   TRSFILE.TS_FEECODE_3,
                   TRSFILE.TS_FEECODE_4,
                   TRSFILE.TS_FEECODE_5,
                   TRSFILE.TS_FEECODE_6,
                   TRSFILE.TS_FEECODE_7,
                   TRSFILE.TS_FEECODE_8,
                   TRSFILE.TS_FEECODE_9,
                   TRSFILE.TS_FEECODE_10,
                   TRSFILE.TS_FEECODE_11,
                   TRSFILE.TS_FEECODE_12,
                   TRSFILE.TS_FEECODE_13,
                   TRSFILE.TS_FEECODE_14,
                   TRSFILE.TS_FEECODE_15,
                   TRSFILE.TS_FEECODE_16,
                   TRSFILE.TS_FEECODE_17,
                   TRSFILE.TS_FEECODE_18,
                   TRSFILE.TS_FEECODE_19,
                   TRSFILE.TS_FEECODE_20,
                   TRSFILE.TS_FEEAMT_1,
                   TRSFILE.TS_FEEAMT_2,
                   TRSFILE.TS_FEEAMT_3,
                   TRSFILE.TS_FEEAMT_4,
                   TRSFILE.TS_FEEAMT_5,
                   TRSFILE.TS_FEEAMT_6,
                   TRSFILE.TS_FEEAMT_7,
                   TRSFILE.TS_FEEAMT_8,
                   TRSFILE.TS_FEEAMT_9,
                   TRSFILE.TS_FEEAMT_10,
                   TRSFILE.TS_FEEAMT_11,
                   TRSFILE.TS_FEEAMT_12,
                   TRSFILE.TS_FEEAMT_13,
                   TRSFILE.TS_FEEAMT_14,
                   TRSFILE.TS_FEEAMT_15,
                   TRSFILE.TS_FEEAMT_16,
                   TRSFILE.TS_FEEAMT_17,
                   TRSFILE.TS_FEEAMT_18,
                   TRSFILE.TS_FEEAMT_19,
                   TRSFILE.TS_FEEAMT_20,
                   TRSFILE.TS_INSCOMP_1,
                   TRSFILE.TS_INSCOMP_2,
                   TRSFILE.TS_INSCOMP_3,
                   TRSFILE.TS_INSCOMP_4,
                   TRSFILE.TS_INSCOMP_5,
                   TRSFILE.TS_INSCOMP_6,
                   TRSFILE.TS_INSCOMP_7,
                   TRSFILE.TS_INSCOMP_8,
                   TRSFILE.TS_INSCOMP_9,
                   TRSFILE.TS_INSCOMP_10,
                   TRSFILE.TS_INSOURS_1,
                   TRSFILE.TS_INSOURS_2,
                   TRSFILE.TS_INSOURS_3,
                   TRSFILE.TS_INSOURS_4,
                   TRSFILE.TS_INSOURS_5,
                   TRSFILE.TS_INSOURS_6,
                   TRSFILE.TS_INSOURS_7,
                   TRSFILE.TS_INSOURS_8,
                   TRSFILE.TS_INSOURS_9,
                   TRSFILE.TS_INSOURS_10,
                   TRSFILE.TS_INSPREM_1,
                   TRSFILE.TS_INSPREM_2,
                   TRSFILE.TS_INSPREM_3,
                   TRSFILE.TS_INSPREM_4,
                   TRSFILE.TS_INSPREM_5,
                   TRSFILE.TS_INSPREM_6,
                   TRSFILE.TS_INSPREM_7,
                   TRSFILE.TS_INSPREM_8,
                   TRSFILE.TS_INSPREM_9,
                   TRSFILE.TS_INSPREM_10,
                   TRSFILE.TS_INS_TAX_COUNTY_CD,
                   TRSFILE.TS_INS_TAX_CITY_CD, 

				   LNFILE.LN_OWNBR,
                   LNFILE.LN_ACCTNO,
                   LNFILE.LN_CLASS,
                   LNFILE.LN_SUBCLASS,
                   LNFILE.LN_LAWCODE,
                   LNFILE.LN_SSNO1,
                   LNFILE.LN_MAKERCD1,
                   LNFILE.LN_SSNO2,
                   LNFILE.LN_MAKERCD2,
                   LNFILE.LN_SSNO3,
                   LNFILE.LN_MAKERCD3,
                   LNFILE.LN_SSNO4,
                   LNFILE.LN_MAKERCD4,
                   LNFILE.LN_ORGST,
                   LNFILE.LN_SPRCLASS,
                   CAST(LNFILE.LN_LOANDATE AS VARCHAR(10)),
                   LNFILE.LN_APRATE,
                   LNFILE.LN_LNAMT,
                   LNFILE.LN_MAINTFEE,
                   LNFILE.LN_ORGTERM,
                   LNFILE.LN_REGPYAMT,
                   LNFILE.LN_FEECODE_1,
                   LNFILE.LN_FEECODE_2,
                   LNFILE.LN_FEECODE_3,
                   LNFILE.LN_FEECODE_4,
                   LNFILE.LN_FEECODE_5,
                   LNFILE.LN_FEECODE_6,
                   LNFILE.LN_FEECODE_7,
                   LNFILE.LN_FEECODE_8,
                   LNFILE.LN_FEECODE_9,
                   LNFILE.LN_FEECODE_10,
                   LNFILE.LN_FEECODE_11,
                   LNFILE.LN_FEECODE_12,
                   LNFILE.LN_FEECODE_13,
                   LNFILE.LN_FEECODE_14,
                   LNFILE.LN_FEECODE_15,
                   LNFILE.LN_FEECODE_16,
                   LNFILE.LN_FEECODE_17,
                   LNFILE.LN_FEECODE_18,
                   LNFILE.LN_FEECODE_19,
                   LNFILE.LN_FEECODE_20,
                   LNFILE.LN_FEEAMT_1,
                   LNFILE.LN_FEEAMT_2,
                   LNFILE.LN_FEEAMT_3,
                   LNFILE.LN_FEEAMT_4,
                   LNFILE.LN_FEEAMT_5,
                   LNFILE.LN_FEEAMT_6,
                   LNFILE.LN_FEEAMT_7,
                   LNFILE.LN_FEEAMT_8,
                   LNFILE.LN_FEEAMT_9,
                   LNFILE.LN_FEEAMT_10,
                   LNFILE.LN_FEEAMT_11,
                   LNFILE.LN_FEEAMT_12,
                   LNFILE.LN_FEEAMT_13,
                   LNFILE.LN_FEEAMT_14,
                   LNFILE.LN_FEEAMT_15,
                   LNFILE.LN_FEEAMT_16,
                   LNFILE.LN_FEEAMT_17,
                   LNFILE.LN_FEEAMT_18,
                   LNFILE.LN_FEEAMT_19,
                   LNFILE.LN_FEEAMT_20,
                   LNFILE.LN_INSURED,
                   LNFILE.LN_INSTYPES,
                   LNFILE.LN_INSCOMP_1,
                   LNFILE.LN_INSCOMP_2,
                   LNFILE.LN_INSCOMP_3,
                   LNFILE.LN_INSCOMP_4,
                   LNFILE.LN_INSCOMP_5,
                   LNFILE.LN_INSCOMP_6,
                   LNFILE.LN_INSCOMP_7,
                   LNFILE.LN_INSCOMP_8,
                   LNFILE.LN_INSCOMP_9,
                   LNFILE.LN_INSCOMP_10,
                   LNFILE.LN_INSOURS_1,
                   LNFILE.LN_INSOURS_2,
                   LNFILE.LN_INSOURS_3,
                   LNFILE.LN_INSOURS_4,
                   LNFILE.LN_INSOURS_5,
                   LNFILE.LN_INSOURS_6,
                   LNFILE.LN_INSOURS_7,
                   LNFILE.LN_INSOURS_8,
                   LNFILE.LN_INSOURS_9,
                   LNFILE.LN_INSOURS_10,
                   CAST(LNFILE.LN_INSEFF_DATE_1 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_2 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_3 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_4 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_5 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_6 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_7 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_8 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_9 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_10 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_1  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_2  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_3  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_4  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_5  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_6  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_7  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_8  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_9  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_10 AS VARCHAR(10)),
                   LNFILE.LN_INSPREM_1,
                   LNFILE.LN_INSPREM_2,
                   LNFILE.LN_INSPREM_3,
                   LNFILE.LN_INSPREM_4,
                   LNFILE.LN_INSPREM_5,
                   LNFILE.LN_INSPREM_6,
                   LNFILE.LN_INSPREM_7,
                   LNFILE.LN_INSPREM_8,
                   LNFILE.LN_INSPREM_9,
                   LNFILE.LN_INSPREM_10,
                   LNFILE.LN_INSCOVR_1,
                   LNFILE.LN_INSCOVR_2,
                   LNFILE.LN_INSCOVR_3,
                   LNFILE.LN_INSCOVR_4,
                   LNFILE.LN_INSCOVR_5,
                   LNFILE.LN_INSCOVR_6,
                   LNFILE.LN_INSCOVR_7,
                   LNFILE.LN_INSCOVR_8,
                   LNFILE.LN_INSCOVR_9,
                   LNFILE.LN_INSCOVR_10,
                   LNFILE.LN_AD_D_INS_COVR,
                   LNFILE.LN_CURBAL,
                   LNFILE.LN_CL_REBATE,
                   LNFILE.LN_AH_REBATE,
                   LNFILE.LN_PP_REBATE,
                   LNFILE.LN_INT_REBATE,
                   LNFILE.LN_SC_REBATE,
                   LNFILE.LN_MF_REBATE,
                   LNFILE.LN_DF_REBATE,
                   LNFILE.LN_EX_REBATE,
                   LNFILE.LN_O1_REBATE,
                   LNFILE.LN_O2_REBATE,
                   LNFILE.LN_O3_REBATE,
                   LNFILE.LN_O4_REBATE,
                   LNFILE.LN_O5_REBATE,
                   LNFILE.LN_O6_REBATE,
                   LNFILE.LN_O7_REBATE,
                   LNFILE.LN_UN_O7_REB,
                   LNFILE.LN_UN_O8_REB,
                   LNFILE.LN_UN_O9_REB,
                   LNFILE.LN_UN_O10_REB,
                   LNFILE.LN_UNITPER_CD,
                   LNFILE.LN_UNITPER_FREQ
	
	 FROM #TEMP1_BRANCH_GROUP_TBL T1

	 INNER JOIN DBO.TRSFILE TRSFILE
	  ON TRSFILE.TS_BRNO = T1.BRNO

     INNER JOIN DBO.LNFILE LNFILE
       ON LNFILE.LN_OWNBR  = TRSFILE.TS_BRNO
      AND LNFILE.LN_ACCTNO = TRSFILE.TS_ACCTNO
      
	WHERE TRSFILE.TS_DATE  BETWEEN @QTRS1_WBEG_DATE  AND @QTRS1_WEND_DATE
      AND TRSFILE.TS_CLASS BETWEEN @QTRS1_WBEG_CLASS AND @QTRS1_WEND_CLASS
 
     ORDER BY T1.SEQ,
	          TRSFILE.TS_DATE,
	          TRSFILE.TS_CLASS,
              TRSFILE.TS_ACCTNO,
	          TRSFILE.TS_LINE

END 
GO
