USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_PR1686_NotNull_ALTER_BWFILE]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create procedure [dbo].[SSP_PR1686_NotNull_ALTER_BWFILE] 
as begin

UPDATE [dbo].[BWFILE]
SET bw_cease_desist_date = '1900-01-01'
WHERE bw_cease_desist_date IS NULL;

UPDATE [dbo].[BWFILE]
SET bw_umc_expire_date = '1900-01-01'
WHERE bw_umc_expire_date IS NULL;

UPDATE [dbo].[BWFILE]
SET bw_umc_pr_expire_date = '1900-01-01'
WHERE bw_umc_pr_expire_date IS NULL;

Alter Table [dbo].[BWFILE] 
  Alter column bw_cease_desist_date date NOT NULL 
  ;
Alter Table [dbo].[BWFILE] 
  Alter column bw_umc_expire_date date NOT NULL 
  ;
Alter Table [dbo].[BWFILE] 
  Alter column bw_umc_pr_expire_date date NOT NULL 
    ;

end
GO
