USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_AC1ERN_LNFILE_SELECT2]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_AC1ERN_LNFILE_SELECT2             */
/*               PROGRAM NAME: LP/AC1ERN.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE, BWFILE, CDFILE                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  01/30/2025  RMZ          REMOVED BWFILE FROM SSP AS THE SAME     */
/*                           KEY IS BEING UPDATED MULTIPLE TIMES     */
/*                           IN THE PROGRAM BUT THE SSP STORES       */
/*                           THE ORIGIONAL DATA. (S35Q-104)          */
/*                                                                   */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_AC1ERN_LNFILE_SELECT2]
    @QLN3_WBEG_OWNBR      AS INT  
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN3_WBEG_OWNBR      INT 
--SET     @QLN3_WBEG_OWNBR      = 400
 

   DROP TABLE IF EXISTS #TEMP_AC1ERN_LNFILE2;

   SELECT TEMP2.LN_OWNBR,
          TEMP2.LN_ACCTNO,
          TEMP2.LN_CLASS,
          TEMP2.LN_SUBCLASS,
          TEMP2.LN_LAWCODE,
          TEMP2.LN_SSNO1,
          TEMP2.LN_MAKERCD1, 
          TEMP2.LN_SSNO2,
          TEMP2.LN_MAKERCD2, 
          TEMP2.LN_SSNO3,
          TEMP2.LN_MAKERCD3, 
          TEMP2.LN_SSNO4,
          TEMP2.LN_MAKERCD4, 
          TEMP2.LN_ORGST, 
          TEMP2.LN_SPRCLASS,
          TEMP2.LN_CONVERCD, 
          TEMP2.LN_COLLCD, 
          TEMP2.LN_POCD, 
          TEMP2.LN_PLCD, 
          TEMP2.LN_STATUSFG, 
          TEMP2.LN_SALEFIN, 
          TEMP2.LN_SERVACCT, 
          TEMP2.LN_LOANTYPE, 
          TEMP2.LN_ADDON_FG, 
          TEMP2.LN_PAY_SCHLD_FG, 
          TEMP2.LN_STATFLAGS, 
          TEMP2.LN_ENTDATE,
          TEMP2.LN_LOANDATE, 
          TEMP2.LN_PURDATE, 
          TEMP2.LN_INTDATE,
          TEMP2.LN_CASHDATE, 
          TEMP2.LN_ORIG_1STPYDATE,
          TEMP2.LN_1STPYDATE, 
          TEMP2.LN_JDDATE,
          TEMP2.LN_PLDATE, 
          TEMP2.LN_ACCELDATE, 
          TEMP2.LN_REDUDATE, 
          TEMP2.LN_POFFDATE,
          TEMP2.LN_LAST_ACCRUAL_DATE, 
          TEMP2.LN_APRATE,
          TEMP2.LN_EFFRATE,
          TEMP2.LN_SMPRATE,
          TEMP2.LN_OVRDRATE,
          TEMP2.LN_ENDORATE,
          TEMP2.LN_JDRATE,
          TEMP2.LN_ACCRATE,
          TEMP2.LN_REDURATE,
          TEMP2.LN_DOWNPY,
          TEMP2.LN_LNAMT,
          TEMP2.LN_FINCHG,
          TEMP2.LN_INTCHG,
          TEMP2.LN_SERCHG,
          TEMP2.LN_EXTCHG,
          TEMP2.LN_MAINTFEE,
          TEMP2.LN_POINTS,
          TEMP2.LN_ORGTERM,
          TEMP2.LN_1STPYAMT,
          TEMP2.LN_NOREGPY,
          TEMP2.LN_REGPYAMT,
          TEMP2.LN_LASTPYAMT,
          TEMP2.LN_FEECODE_1, 
          TEMP2.LN_FEECODE_2, 
          TEMP2.LN_FEECODE_3, 
          TEMP2.LN_FEECODE_4, 
          TEMP2.LN_FEECODE_5, 
          TEMP2.LN_FEECODE_6, 
          TEMP2.LN_FEECODE_7, 
          TEMP2.LN_FEECODE_8, 
          TEMP2.LN_FEECODE_9, 
          TEMP2.LN_FEECODE_10, 
          TEMP2.LN_FEECODE_11, 
          TEMP2.LN_FEECODE_12, 
          TEMP2.LN_FEECODE_13, 
          TEMP2.LN_FEECODE_14, 
          TEMP2.LN_FEECODE_15, 
          TEMP2.LN_FEECODE_16, 
          TEMP2.LN_FEECODE_17, 
          TEMP2.LN_FEECODE_18, 
          TEMP2.LN_FEECODE_19, 
          TEMP2.LN_FEECODE_20, 
          TEMP2.LN_FEEAMT_1,
          TEMP2.LN_FEEAMT_2,
          TEMP2.LN_FEEAMT_3,
          TEMP2.LN_FEEAMT_4,
          TEMP2.LN_FEEAMT_5,
          TEMP2.LN_FEEAMT_6,
          TEMP2.LN_FEEAMT_7,
          TEMP2.LN_FEEAMT_8,
          TEMP2.LN_FEEAMT_9,
          TEMP2.LN_FEEAMT_10,
          TEMP2.LN_FEEAMT_11,
          TEMP2.LN_FEEAMT_12,
          TEMP2.LN_FEEAMT_13,
          TEMP2.LN_FEEAMT_14,
          TEMP2.LN_FEEAMT_15,
          TEMP2.LN_FEEAMT_16,
          TEMP2.LN_FEEAMT_17,
          TEMP2.LN_FEEAMT_18,
          TEMP2.LN_FEEAMT_19,
          TEMP2.LN_FEEAMT_20,
          TEMP2.LN_FEEOURS_1, 
          TEMP2.LN_FEEOURS_2, 
          TEMP2.LN_FEEOURS_3, 
          TEMP2.LN_FEEOURS_4, 
          TEMP2.LN_FEEOURS_5, 
          TEMP2.LN_FEEOURS_6, 
          TEMP2.LN_FEEOURS_7, 
          TEMP2.LN_FEEOURS_8, 
          TEMP2.LN_FEEOURS_9, 
          TEMP2.LN_FEEOURS_10, 
          TEMP2.LN_FEEOURS_11, 
          TEMP2.LN_FEEOURS_12, 
          TEMP2.LN_FEEOURS_13, 
          TEMP2.LN_FEEOURS_14, 
          TEMP2.LN_FEEOURS_15, 
          TEMP2.LN_FEEOURS_16, 
          TEMP2.LN_FEEOURS_17, 
          TEMP2.LN_FEEOURS_18, 
          TEMP2.LN_FEEOURS_19, 
          TEMP2.LN_FEEOURS_20, 
          TEMP2.LN_FEEFINCHG_1, 
          TEMP2.LN_FEEFINCHG_2, 
          TEMP2.LN_FEEFINCHG_3, 
          TEMP2.LN_FEEFINCHG_4, 
          TEMP2.LN_FEEFINCHG_5, 
          TEMP2.LN_FEEFINCHG_6, 
          TEMP2.LN_FEEFINCHG_7, 
          TEMP2.LN_FEEFINCHG_8, 
          TEMP2.LN_FEEFINCHG_9, 
          TEMP2.LN_FEEFINCHG_10, 
          TEMP2.LN_FEEFINCHG_11, 
          TEMP2.LN_FEEFINCHG_12, 
          TEMP2.LN_FEEFINCHG_13, 
          TEMP2.LN_FEEFINCHG_14, 
          TEMP2.LN_FEEFINCHG_15, 
          TEMP2.LN_FEEFINCHG_16, 
          TEMP2.LN_FEEFINCHG_17, 
          TEMP2.LN_FEEFINCHG_18, 
          TEMP2.LN_FEEFINCHG_19, 
          TEMP2.LN_FEEFINCHG_20, 
          TEMP2.LN_INSURED, 
          TEMP2.LN_INSTYPES, 
          TEMP2.LN_INSCOMP_1,
          TEMP2.LN_INSCOMP_2,
          TEMP2.LN_INSCOMP_3,
          TEMP2.LN_INSCOMP_4,
          TEMP2.LN_INSCOMP_5,
          TEMP2.LN_INSCOMP_6,
          TEMP2.LN_INSCOMP_7,
          TEMP2.LN_INSCOMP_8,
          TEMP2.LN_INSCOMP_9,
          TEMP2.LN_INSCOMP_10,
          TEMP2.LN_INSOURS_1, 
          TEMP2.LN_INSOURS_2, 
          TEMP2.LN_INSOURS_3, 
          TEMP2.LN_INSOURS_4, 
          TEMP2.LN_INSOURS_5, 
          TEMP2.LN_INSOURS_6, 
          TEMP2.LN_INSOURS_7, 
          TEMP2.LN_INSOURS_8, 
          TEMP2.LN_INSOURS_9, 
          TEMP2.LN_INSOURS_10, 
          TEMP2.LN_INSEFF_DATE_1, 
          TEMP2.LN_INSEFF_DATE_2, 
          TEMP2.LN_INSEFF_DATE_3, 
          TEMP2.LN_INSEFF_DATE_4, 
          TEMP2.LN_INSEFF_DATE_5, 
          TEMP2.LN_INSEFF_DATE_6, 
          TEMP2.LN_INSEFF_DATE_7, 
          TEMP2.LN_INSEFF_DATE_8, 
          TEMP2.LN_INSEFF_DATE_9, 
          TEMP2.LN_INSEFF_DATE_10, 
          TEMP2.LN_INSEXP_DATE_1, 
          TEMP2.LN_INSEXP_DATE_2, 
          TEMP2.LN_INSEXP_DATE_3, 
          TEMP2.LN_INSEXP_DATE_4, 
          TEMP2.LN_INSEXP_DATE_5, 
          TEMP2.LN_INSEXP_DATE_6, 
          TEMP2.LN_INSEXP_DATE_7, 
          TEMP2.LN_INSEXP_DATE_8, 
          TEMP2.LN_INSEXP_DATE_9, 
          TEMP2.LN_INSEXP_DATE_10, 
          TEMP2.LN_INSPREM_1,
          TEMP2.LN_INSPREM_2,
          TEMP2.LN_INSPREM_3,
          TEMP2.LN_INSPREM_4,
          TEMP2.LN_INSPREM_5,
          TEMP2.LN_INSPREM_6,
          TEMP2.LN_INSPREM_7,
          TEMP2.LN_INSPREM_8,
          TEMP2.LN_INSPREM_9,
          TEMP2.LN_INSPREM_10,
          TEMP2.LN_INSCOVR_1,
          TEMP2.LN_INSCOVR_2,
          TEMP2.LN_INSCOVR_3,
          TEMP2.LN_INSCOVR_4,
          TEMP2.LN_INSCOVR_5,
          TEMP2.LN_INSCOVR_6,
          TEMP2.LN_INSCOVR_7,
          TEMP2.LN_INSCOVR_8,
          TEMP2.LN_INSCOVR_9,
          TEMP2.LN_INSCOVR_10,
          TEMP2.LN_INSFINCHG_1, 
          TEMP2.LN_INSFINCHG_2, 
          TEMP2.LN_INSFINCHG_3, 
          TEMP2.LN_INSFINCHG_4, 
          TEMP2.LN_INSFINCHG_5, 
          TEMP2.LN_INSFINCHG_6, 
          TEMP2.LN_INSFINCHG_7, 
          TEMP2.LN_INSFINCHG_8, 
          TEMP2.LN_INSFINCHG_9, 
          TEMP2.LN_INSFINCHG_10, 
          TEMP2.LN_PY_YYYYMM_RECDEL,
          TEMP2.LN_MTD_PAYS_RECDEL,
          TEMP2.LN_ORIGPURAMT,
          TEMP2.LN_PURBAL,
          TEMP2.LN_DLDISC,
          TEMP2.LN_INTPDTH_DATE, 
          TEMP2.LN_CURBAL,
          TEMP2.LN_INTBAL,
          TEMP2.LN_OT2BAL,
          TEMP2.LN_ANTICTERM,
          TEMP2.LN_ANTICERN_1,
          TEMP2.LN_ANTICERN_2,
          TEMP2.LN_ANTICERN_3,
          TEMP2.LN_ANTICERN_4,
          TEMP2.LN_ANTICERN_5,
          TEMP2.LN_ANTICERN_6,
          TEMP2.LN_ANTICERN_7,
          TEMP2.LN_ANTICERN_8,
          TEMP2.LN_ANTICERN_9,
          TEMP2.LN_ANTICERN_10,
          TEMP2.LN_ANTICADJ_1,
          TEMP2.LN_ANTICADJ_2,
          TEMP2.LN_ANTICADJ_3,
          TEMP2.LN_ANTICADJ_4,
          TEMP2.LN_ANTICADJ_5,
          TEMP2.LN_ANTICADJ_6,
          TEMP2.LN_ANTICADJ_7,
          TEMP2.LN_ANTICADJ_8,
          TEMP2.LN_ANTICADJ_9,
          TEMP2.LN_ANTICADJ_10,
          TEMP2.LN_UFERN_1,
          TEMP2.LN_UFERN_2,
          TEMP2.LN_UFERN_3,
          TEMP2.LN_UFERN_4,
          TEMP2.LN_UFERN_5,
          TEMP2.LN_UFERN_6,
          TEMP2.LN_UFERN_7,
          TEMP2.LN_UFERN_8,
          TEMP2.LN_UFERN_9,
          TEMP2.LN_UFERN_10,
          TEMP2.LN_ACCERN_1,
          TEMP2.LN_ACCERN_2,
          TEMP2.LN_ACCERN_3,
          TEMP2.LN_ACCERN_4,
          TEMP2.LN_ACCERN_5,
          TEMP2.LN_ACCERN_6,
          TEMP2.LN_ACCERN_7,
          TEMP2.LN_ACCERN_8,
          TEMP2.LN_ACCERN_9,
          TEMP2.LN_ACCERN_10,
          TEMP2.LN_LMO_PRIOR_INTEREST,
          TEMP2.LN_PRIOR_UNEARNED,
          TEMP2.LN_ERNDELQ_STOP, 
          TEMP2.LN_NONACRERN,
          TEMP2.LN_PRIOR_NONACRERN,
          TEMP2.LN_ERN_IB_PDTH_DATE, 
          TEMP2.LN_ERN_IB_PRINBAL,
          TEMP2.LN_ERN_IB_INTOWE,
          TEMP2.LN_TOTERN,
          TEMP2.LN_TOTINT,
          TEMP2.LN_TOTLCHG,
          TEMP2.LN_TOTDEF,
          TEMP2.LN_TOTPAYMNTD,
          TEMP2.LN_TOTEXCPAYMNTD,
          TEMP2.LN_TOTNODEF,
          TEMP2.LN_TOTNOALDEL,
          TEMP2.LN_YTDINTPD,
          TEMP2.LN_TOTINTPD,
          TEMP2.LN_CL_REBATE, 
          TEMP2.LN_AH_REBATE, 
          TEMP2.LN_PP_REBATE, 
          TEMP2.LN_INT_REBATE, 
          TEMP2.LN_SC_REBATE, 
          TEMP2.LN_MF_REBATE, 
          TEMP2.LN_DF_REBATE, 
          TEMP2.LN_EX_REBATE, 
          TEMP2.LN_O1_REBATE, 
          TEMP2.LN_O2_REBATE, 
          TEMP2.LN_O3_REBATE, 
          TEMP2.LN_O4_REBATE, 
          TEMP2.LN_O5_REBATE, 
          TEMP2.LN_O6_REBATE, 
          TEMP2.LN_O7_REBATE, 
          TEMP2.LN_UN_O7_REB, 
          TEMP2.LN_UN_O8_REB, 
          TEMP2.LN_UN_O9_REB, 
          TEMP2.LN_UN_O10_REB, 
          TEMP2.LN_DATE_PAID_LAST, 
          TEMP2.LN_CREDITLIM,
          TEMP2.LN_OLDACCTNO,
          TEMP2.LN_PRLNNO,
          TEMP2.LN_SUM_LNAMT,
          TEMP2.LN_SUM_FINCHG,
          TEMP2.LN_SUM_INTCHG,
          TEMP2.LN_SUM_ORGTERM,
          TEMP2.LN_SUM_EXTCHG,
          TEMP2.LN_UNITPER_CD, 
          TEMP2.LN_UNITPER_FREQ,
          TEMP2.LN_REPOCD, 
          TEMP2.LN_CONPROFILE_1,
          TEMP2.LN_CONPROFILE_2,
          TEMP2.LN_CONPROFILE_3,
          TEMP2.LN_CONPROFILE_4,
          TEMP2.LN_CONPROFILE_5,
          TEMP2.CD_TYPE, 
          TEMP2.CD_CODE, 
          TEMP2.CD_CO_SECURED 

     INTO #TEMP_AC1ERN_LNFILE2

     FROM

  (SELECT LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_SUBCLASS,
          LNFILE.LN_LAWCODE,
          LNFILE.LN_SSNO1,
          LNFILE.LN_MAKERCD1, 
          LNFILE.LN_SSNO2,
          LNFILE.LN_MAKERCD2, 
          LNFILE.LN_SSNO3,
          LNFILE.LN_MAKERCD3, 
          LNFILE.LN_SSNO4,
          LNFILE.LN_MAKERCD4, 
          LNFILE.LN_ORGST, 
          LNFILE.LN_SPRCLASS,
          LNFILE.LN_CONVERCD, 
          LNFILE.LN_COLLCD, 
          LNFILE.LN_POCD, 
          LNFILE.LN_PLCD, 
          LNFILE.LN_STATUSFG, 
          LNFILE.LN_SALEFIN, 
          LNFILE.LN_SERVACCT, 
          LNFILE.LN_LOANTYPE, 
          LNFILE.LN_ADDON_FG, 
          LNFILE.LN_PAY_SCHLD_FG, 
          LNFILE.LN_STATFLAGS, 
          CAST(LNFILE.LN_ENTDATE           
                             AS VARCHAR(10)) AS LN_ENTDATE, 
          CAST(LNFILE.LN_LOANDATE
                             AS VARCHAR(10)) AS LN_LOANDATE, 
          CAST(LNFILE.LN_PURDATE
                             AS VARCHAR(10)) AS LN_PURDATE, 
          CAST(LNFILE.LN_INTDATE
                             AS VARCHAR(10)) AS LN_INTDATE, 
          CAST(LNFILE.LN_CASHDATE
                             AS VARCHAR(10)) AS LN_CASHDATE, 
          CAST(LNFILE.LN_ORIG_1STPYDATE	   
                             AS VARCHAR(10)) AS LN_ORIG_1STPYDATE, 
          CAST(LNFILE.LN_1STPYDATE
                             AS VARCHAR(10)) AS LN_1STPYDATE, 
          CAST(LNFILE.LN_JDDATE
                             AS VARCHAR(10)) AS LN_JDDATE, 
          CAST(LNFILE.LN_PLDATE
                             AS VARCHAR(10)) AS LN_PLDATE, 
          CAST(LNFILE.LN_ACCELDATE
                             AS VARCHAR(10)) AS LN_ACCELDATE, 
          CAST(LNFILE.LN_REDUDATE
                             AS VARCHAR(10)) AS LN_REDUDATE, 
          CAST(LNFILE.LN_POFFDATE
                             AS VARCHAR(10)) AS LN_POFFDATE, 
          CAST(LNFILE.LN_LAST_ACCRUAL_DATE 
                             AS VARCHAR(10)) AS LN_LAST_ACCRUAL_DATE, 
          LNFILE.LN_APRATE,
          LNFILE.LN_EFFRATE,
          LNFILE.LN_SMPRATE,
          LNFILE.LN_OVRDRATE,
          LNFILE.LN_ENDORATE,
          LNFILE.LN_JDRATE,
          LNFILE.LN_ACCRATE,
          LNFILE.LN_REDURATE,
          LNFILE.LN_DOWNPY,
          LNFILE.LN_LNAMT,
          LNFILE.LN_FINCHG,
          LNFILE.LN_INTCHG,
          LNFILE.LN_SERCHG,
          LNFILE.LN_EXTCHG,
          LNFILE.LN_MAINTFEE,
          LNFILE.LN_POINTS,
          LNFILE.LN_ORGTERM,
          LNFILE.LN_1STPYAMT,
          LNFILE.LN_NOREGPY,
          LNFILE.LN_REGPYAMT,
          LNFILE.LN_LASTPYAMT,
          LNFILE.LN_FEECODE_1, 
          LNFILE.LN_FEECODE_2, 
          LNFILE.LN_FEECODE_3, 
          LNFILE.LN_FEECODE_4, 
          LNFILE.LN_FEECODE_5, 
          LNFILE.LN_FEECODE_6, 
          LNFILE.LN_FEECODE_7, 
          LNFILE.LN_FEECODE_8, 
          LNFILE.LN_FEECODE_9, 
          LNFILE.LN_FEECODE_10, 
          LNFILE.LN_FEECODE_11, 
          LNFILE.LN_FEECODE_12, 
          LNFILE.LN_FEECODE_13, 
          LNFILE.LN_FEECODE_14, 
          LNFILE.LN_FEECODE_15, 
          LNFILE.LN_FEECODE_16, 
          LNFILE.LN_FEECODE_17, 
          LNFILE.LN_FEECODE_18, 
          LNFILE.LN_FEECODE_19, 
          LNFILE.LN_FEECODE_20, 
          LNFILE.LN_FEEAMT_1,
          LNFILE.LN_FEEAMT_2,
          LNFILE.LN_FEEAMT_3,
          LNFILE.LN_FEEAMT_4,
          LNFILE.LN_FEEAMT_5,
          LNFILE.LN_FEEAMT_6,
          LNFILE.LN_FEEAMT_7,
          LNFILE.LN_FEEAMT_8,
          LNFILE.LN_FEEAMT_9,
          LNFILE.LN_FEEAMT_10,
          LNFILE.LN_FEEAMT_11,
          LNFILE.LN_FEEAMT_12,
          LNFILE.LN_FEEAMT_13,
          LNFILE.LN_FEEAMT_14,
          LNFILE.LN_FEEAMT_15,
          LNFILE.LN_FEEAMT_16,
          LNFILE.LN_FEEAMT_17,
          LNFILE.LN_FEEAMT_18,
          LNFILE.LN_FEEAMT_19,
          LNFILE.LN_FEEAMT_20,
          LNFILE.LN_FEEOURS_1, 
          LNFILE.LN_FEEOURS_2, 
          LNFILE.LN_FEEOURS_3, 
          LNFILE.LN_FEEOURS_4, 
          LNFILE.LN_FEEOURS_5, 
          LNFILE.LN_FEEOURS_6, 
          LNFILE.LN_FEEOURS_7, 
          LNFILE.LN_FEEOURS_8, 
          LNFILE.LN_FEEOURS_9, 
          LNFILE.LN_FEEOURS_10, 
          LNFILE.LN_FEEOURS_11, 
          LNFILE.LN_FEEOURS_12, 
          LNFILE.LN_FEEOURS_13, 
          LNFILE.LN_FEEOURS_14, 
          LNFILE.LN_FEEOURS_15, 
          LNFILE.LN_FEEOURS_16, 
          LNFILE.LN_FEEOURS_17, 
          LNFILE.LN_FEEOURS_18, 
          LNFILE.LN_FEEOURS_19, 
          LNFILE.LN_FEEOURS_20, 
          LNFILE.LN_FEEFINCHG_1, 
          LNFILE.LN_FEEFINCHG_2, 
          LNFILE.LN_FEEFINCHG_3, 
          LNFILE.LN_FEEFINCHG_4, 
          LNFILE.LN_FEEFINCHG_5, 
          LNFILE.LN_FEEFINCHG_6, 
          LNFILE.LN_FEEFINCHG_7, 
          LNFILE.LN_FEEFINCHG_8, 
          LNFILE.LN_FEEFINCHG_9, 
          LNFILE.LN_FEEFINCHG_10, 
          LNFILE.LN_FEEFINCHG_11, 
          LNFILE.LN_FEEFINCHG_12, 
          LNFILE.LN_FEEFINCHG_13, 
          LNFILE.LN_FEEFINCHG_14, 
          LNFILE.LN_FEEFINCHG_15, 
          LNFILE.LN_FEEFINCHG_16, 
          LNFILE.LN_FEEFINCHG_17, 
          LNFILE.LN_FEEFINCHG_18, 
          LNFILE.LN_FEEFINCHG_19, 
          LNFILE.LN_FEEFINCHG_20, 
          LNFILE.LN_INSURED, 
          LNFILE.LN_INSTYPES, 
          LNFILE.LN_INSCOMP_1,
          LNFILE.LN_INSCOMP_2,
          LNFILE.LN_INSCOMP_3,
          LNFILE.LN_INSCOMP_4,
          LNFILE.LN_INSCOMP_5,
          LNFILE.LN_INSCOMP_6,
          LNFILE.LN_INSCOMP_7,
          LNFILE.LN_INSCOMP_8,
          LNFILE.LN_INSCOMP_9,
          LNFILE.LN_INSCOMP_10,
          LNFILE.LN_INSOURS_1, 
          LNFILE.LN_INSOURS_2, 
          LNFILE.LN_INSOURS_3, 
          LNFILE.LN_INSOURS_4, 
          LNFILE.LN_INSOURS_5, 
          LNFILE.LN_INSOURS_6, 
          LNFILE.LN_INSOURS_7, 
          LNFILE.LN_INSOURS_8, 
          LNFILE.LN_INSOURS_9, 
          LNFILE.LN_INSOURS_10, 
          CAST(LNFILE.LN_INSEFF_DATE_1  
                             AS VARCHAR(10)) AS LN_INSEFF_DATE_1, 
          CAST(LNFILE.LN_INSEFF_DATE_2  
                             AS VARCHAR(10)) AS LN_INSEFF_DATE_2, 
          CAST(LNFILE.LN_INSEFF_DATE_3  
                             AS VARCHAR(10)) AS LN_INSEFF_DATE_3, 
          CAST(LNFILE.LN_INSEFF_DATE_4  
                             AS VARCHAR(10)) AS LN_INSEFF_DATE_4, 
          CAST(LNFILE.LN_INSEFF_DATE_5  
                             AS VARCHAR(10)) AS LN_INSEFF_DATE_5, 
          CAST(LNFILE.LN_INSEFF_DATE_6  
                             AS VARCHAR(10)) AS LN_INSEFF_DATE_6, 
          CAST(LNFILE.LN_INSEFF_DATE_7  
                             AS VARCHAR(10)) AS LN_INSEFF_DATE_7, 
          CAST(LNFILE.LN_INSEFF_DATE_8  
                             AS VARCHAR(10)) AS LN_INSEFF_DATE_8, 
          CAST(LNFILE.LN_INSEFF_DATE_9  
                             AS VARCHAR(10)) AS LN_INSEFF_DATE_9, 
          CAST(LNFILE.LN_INSEFF_DATE_10 
                             AS VARCHAR(10)) AS LN_INSEFF_DATE_10, 
          CAST(LNFILE.LN_INSEXP_DATE_1  
                             AS VARCHAR(10)) AS LN_INSEXP_DATE_1, 
          CAST(LNFILE.LN_INSEXP_DATE_2  
                             AS VARCHAR(10)) AS LN_INSEXP_DATE_2, 
          CAST(LNFILE.LN_INSEXP_DATE_3  
                             AS VARCHAR(10)) AS LN_INSEXP_DATE_3, 
          CAST(LNFILE.LN_INSEXP_DATE_4  
                             AS VARCHAR(10)) AS LN_INSEXP_DATE_4, 
          CAST(LNFILE.LN_INSEXP_DATE_5  
                             AS VARCHAR(10)) AS LN_INSEXP_DATE_5, 
          CAST(LNFILE.LN_INSEXP_DATE_6  
                             AS VARCHAR(10)) AS LN_INSEXP_DATE_6, 
          CAST(LNFILE.LN_INSEXP_DATE_7  
                             AS VARCHAR(10)) AS LN_INSEXP_DATE_7, 
          CAST(LNFILE.LN_INSEXP_DATE_8  
                             AS VARCHAR(10)) AS LN_INSEXP_DATE_8, 
          CAST(LNFILE.LN_INSEXP_DATE_9  
                             AS VARCHAR(10)) AS LN_INSEXP_DATE_9, 
          CAST(LNFILE.LN_INSEXP_DATE_10 
                             AS VARCHAR(10)) AS LN_INSEXP_DATE_10, 
          LNFILE.LN_INSPREM_1,
          LNFILE.LN_INSPREM_2,
          LNFILE.LN_INSPREM_3,
          LNFILE.LN_INSPREM_4,
          LNFILE.LN_INSPREM_5,
          LNFILE.LN_INSPREM_6,
          LNFILE.LN_INSPREM_7,
          LNFILE.LN_INSPREM_8,
          LNFILE.LN_INSPREM_9,
          LNFILE.LN_INSPREM_10,
          LNFILE.LN_INSCOVR_1,
          LNFILE.LN_INSCOVR_2,
          LNFILE.LN_INSCOVR_3,
          LNFILE.LN_INSCOVR_4,
          LNFILE.LN_INSCOVR_5,
          LNFILE.LN_INSCOVR_6,
          LNFILE.LN_INSCOVR_7,
          LNFILE.LN_INSCOVR_8,
          LNFILE.LN_INSCOVR_9,
          LNFILE.LN_INSCOVR_10,
          LNFILE.LN_INSFINCHG_1, 
          LNFILE.LN_INSFINCHG_2, 
          LNFILE.LN_INSFINCHG_3, 
          LNFILE.LN_INSFINCHG_4, 
          LNFILE.LN_INSFINCHG_5, 
          LNFILE.LN_INSFINCHG_6, 
          LNFILE.LN_INSFINCHG_7, 
          LNFILE.LN_INSFINCHG_8, 
          LNFILE.LN_INSFINCHG_9, 
          LNFILE.LN_INSFINCHG_10, 
          LNFILE.LN_PY_YYYYMM_RECDEL,
          LNFILE.LN_MTD_PAYS_RECDEL,
          LNFILE.LN_ORIGPURAMT,
          LNFILE.LN_PURBAL,
          LNFILE.LN_DLDISC,
          CAST(LNFILE.LN_INTPDTH_DATE 
                             AS VARCHAR(10)) AS LN_INTPDTH_DATE, 
          LNFILE.LN_CURBAL,
          LNFILE.LN_INTBAL,
          LNFILE.LN_OT2BAL,
          LNFILE.LN_ANTICTERM,
          LNFILE.LN_ANTICERN_1,
          LNFILE.LN_ANTICERN_2,
          LNFILE.LN_ANTICERN_3,
          LNFILE.LN_ANTICERN_4,
          LNFILE.LN_ANTICERN_5,
          LNFILE.LN_ANTICERN_6,
          LNFILE.LN_ANTICERN_7,
          LNFILE.LN_ANTICERN_8,
          LNFILE.LN_ANTICERN_9,
          LNFILE.LN_ANTICERN_10,
          LNFILE.LN_ANTICADJ_1,
          LNFILE.LN_ANTICADJ_2,
          LNFILE.LN_ANTICADJ_3,
          LNFILE.LN_ANTICADJ_4,
          LNFILE.LN_ANTICADJ_5,
          LNFILE.LN_ANTICADJ_6,
          LNFILE.LN_ANTICADJ_7,
          LNFILE.LN_ANTICADJ_8,
          LNFILE.LN_ANTICADJ_9,
          LNFILE.LN_ANTICADJ_10,
          LNFILE.LN_UFERN_1,
          LNFILE.LN_UFERN_2,
          LNFILE.LN_UFERN_3,
          LNFILE.LN_UFERN_4,
          LNFILE.LN_UFERN_5,
          LNFILE.LN_UFERN_6,
          LNFILE.LN_UFERN_7,
          LNFILE.LN_UFERN_8,
          LNFILE.LN_UFERN_9,
          LNFILE.LN_UFERN_10,
          LNFILE.LN_ACCERN_1,
          LNFILE.LN_ACCERN_2,
          LNFILE.LN_ACCERN_3,
          LNFILE.LN_ACCERN_4,
          LNFILE.LN_ACCERN_5,
          LNFILE.LN_ACCERN_6,
          LNFILE.LN_ACCERN_7,
          LNFILE.LN_ACCERN_8,
          LNFILE.LN_ACCERN_9,
          LNFILE.LN_ACCERN_10,
          LNFILE.LN_LMO_PRIOR_INTEREST,
          LNFILE.LN_PRIOR_UNEARNED,
          LNFILE.LN_ERNDELQ_STOP, 
          LNFILE.LN_NONACRERN,
          LNFILE.LN_PRIOR_NONACRERN,
          CAST(LNFILE.LN_ERN_IB_PDTH_DATE 
                             AS VARCHAR(10)) AS LN_ERN_IB_PDTH_DATE, 
          LNFILE.LN_ERN_IB_PRINBAL,
          LNFILE.LN_ERN_IB_INTOWE,
          LNFILE.LN_TOTERN,
          LNFILE.LN_TOTINT,
          LNFILE.LN_TOTLCHG,
          LNFILE.LN_TOTDEF,
          LNFILE.LN_TOTPAYMNTD,
          LNFILE.LN_TOTEXCPAYMNTD,
          LNFILE.LN_TOTNODEF,
          LNFILE.LN_TOTNOALDEL,
          LNFILE.LN_YTDINTPD,
          LNFILE.LN_TOTINTPD,
          LNFILE.LN_CL_REBATE, 
          LNFILE.LN_AH_REBATE, 
          LNFILE.LN_PP_REBATE, 
          LNFILE.LN_INT_REBATE, 
          LNFILE.LN_SC_REBATE, 
          LNFILE.LN_MF_REBATE, 
          LNFILE.LN_DF_REBATE, 
          LNFILE.LN_EX_REBATE, 
          LNFILE.LN_O1_REBATE, 
          LNFILE.LN_O2_REBATE, 
          LNFILE.LN_O3_REBATE, 
          LNFILE.LN_O4_REBATE, 
          LNFILE.LN_O5_REBATE, 
          LNFILE.LN_O6_REBATE, 
          LNFILE.LN_O7_REBATE, 
          LNFILE.LN_UN_O7_REB, 
          LNFILE.LN_UN_O8_REB, 
          LNFILE.LN_UN_O9_REB, 
          LNFILE.LN_UN_O10_REB, 
          CAST(LNFILE.LN_DATE_PAID_LAST 
                             AS VARCHAR(10)) AS LN_DATE_PAID_LAST, 
          LNFILE.LN_CREDITLIM,
          LNFILE.LN_OLDACCTNO,
          LNFILE.LN_PRLNNO,
          LNFILE.LN_SUM_LNAMT,
          LNFILE.LN_SUM_FINCHG,
          LNFILE.LN_SUM_INTCHG,
          LNFILE.LN_SUM_ORGTERM,
          LNFILE.LN_SUM_EXTCHG,
          LNFILE.LN_UNITPER_CD, 
          LNFILE.LN_UNITPER_FREQ,
          LNFILE.LN_REPOCD, 
          LNFILE.LN_CONPROFILE_1,
          LNFILE.LN_CONPROFILE_2,
          LNFILE.LN_CONPROFILE_3,
          LNFILE.LN_CONPROFILE_4,
          LNFILE.LN_CONPROFILE_5,
          ISNULL(CDFILE.CD_TYPE, ' ')       AS CD_TYPE,
          ISNULL(CDFILE.CD_CODE, ' ')       AS CD_CODE,
          ISNULL(CDFILE.CD_CO_SECURED, ' ') AS CD_CO_SECURED 

     FROM DBO.LNFILE  LNFILE

     LEFT OUTER JOIN
          DBO.CDFILE  CDFILE
       ON (LNFILE.LN_COLLCD = CDFILE.CD_CODE      
      AND  CDFILE.CD_TYPE                 = 'CO') 

    WHERE LNFILE.LN_OWNBR   = @QLN3_WBEG_OWNBR 
      AND NOT
        ( LNFILE.LN_CURBAL    = 0      
       OR LNFILE.LN_PLDATE   != '1900-01-01'      
       OR LNFILE.LN_PLCD     != ' '
       OR LNFILE.LN_POCD     IN ('*I', '*R', '**')) ) TEMP2;  

   SELECT #TEMP_AC1ERN_LNFILE2.LN_OWNBR,
          #TEMP_AC1ERN_LNFILE2.LN_ACCTNO,
          #TEMP_AC1ERN_LNFILE2.LN_CLASS,
          #TEMP_AC1ERN_LNFILE2.LN_SUBCLASS,
          #TEMP_AC1ERN_LNFILE2.LN_LAWCODE,
          #TEMP_AC1ERN_LNFILE2.LN_SSNO1,
          #TEMP_AC1ERN_LNFILE2.LN_MAKERCD1, 
          #TEMP_AC1ERN_LNFILE2.LN_SSNO2,
          #TEMP_AC1ERN_LNFILE2.LN_MAKERCD2, 
          #TEMP_AC1ERN_LNFILE2.LN_SSNO3,
          #TEMP_AC1ERN_LNFILE2.LN_MAKERCD3, 
          #TEMP_AC1ERN_LNFILE2.LN_SSNO4,
          #TEMP_AC1ERN_LNFILE2.LN_MAKERCD4, 
          #TEMP_AC1ERN_LNFILE2.LN_ORGST, 
          #TEMP_AC1ERN_LNFILE2.LN_SPRCLASS,
          #TEMP_AC1ERN_LNFILE2.LN_CONVERCD, 
          #TEMP_AC1ERN_LNFILE2.LN_COLLCD, 
          #TEMP_AC1ERN_LNFILE2.LN_POCD, 
          #TEMP_AC1ERN_LNFILE2.LN_PLCD, 
          #TEMP_AC1ERN_LNFILE2.LN_STATUSFG, 
          #TEMP_AC1ERN_LNFILE2.LN_SALEFIN, 
          #TEMP_AC1ERN_LNFILE2.LN_SERVACCT, 
          #TEMP_AC1ERN_LNFILE2.LN_LOANTYPE, 
          #TEMP_AC1ERN_LNFILE2.LN_ADDON_FG, 
          #TEMP_AC1ERN_LNFILE2.LN_PAY_SCHLD_FG, 
          #TEMP_AC1ERN_LNFILE2.LN_STATFLAGS, 
          #TEMP_AC1ERN_LNFILE2.LN_ENTDATE,
          #TEMP_AC1ERN_LNFILE2.LN_LOANDATE, 
          #TEMP_AC1ERN_LNFILE2.LN_PURDATE, 
          #TEMP_AC1ERN_LNFILE2.LN_INTDATE,
          #TEMP_AC1ERN_LNFILE2.LN_CASHDATE, 
          #TEMP_AC1ERN_LNFILE2.LN_ORIG_1STPYDATE,
          #TEMP_AC1ERN_LNFILE2.LN_1STPYDATE, 
          #TEMP_AC1ERN_LNFILE2.LN_JDDATE,
          #TEMP_AC1ERN_LNFILE2.LN_PLDATE, 
          #TEMP_AC1ERN_LNFILE2.LN_ACCELDATE, 
          #TEMP_AC1ERN_LNFILE2.LN_REDUDATE, 
          #TEMP_AC1ERN_LNFILE2.LN_POFFDATE,
          #TEMP_AC1ERN_LNFILE2.LN_LAST_ACCRUAL_DATE, 
          #TEMP_AC1ERN_LNFILE2.LN_APRATE,
          #TEMP_AC1ERN_LNFILE2.LN_EFFRATE,
          #TEMP_AC1ERN_LNFILE2.LN_SMPRATE,
          #TEMP_AC1ERN_LNFILE2.LN_OVRDRATE,
          #TEMP_AC1ERN_LNFILE2.LN_ENDORATE,
          #TEMP_AC1ERN_LNFILE2.LN_JDRATE,
          #TEMP_AC1ERN_LNFILE2.LN_ACCRATE,
          #TEMP_AC1ERN_LNFILE2.LN_REDURATE,
          #TEMP_AC1ERN_LNFILE2.LN_DOWNPY,
          #TEMP_AC1ERN_LNFILE2.LN_LNAMT,
          #TEMP_AC1ERN_LNFILE2.LN_FINCHG,
          #TEMP_AC1ERN_LNFILE2.LN_INTCHG,
          #TEMP_AC1ERN_LNFILE2.LN_SERCHG,
          #TEMP_AC1ERN_LNFILE2.LN_EXTCHG,
          #TEMP_AC1ERN_LNFILE2.LN_MAINTFEE,
          #TEMP_AC1ERN_LNFILE2.LN_POINTS,
          #TEMP_AC1ERN_LNFILE2.LN_ORGTERM,
          #TEMP_AC1ERN_LNFILE2.LN_1STPYAMT,
          #TEMP_AC1ERN_LNFILE2.LN_NOREGPY,
          #TEMP_AC1ERN_LNFILE2.LN_REGPYAMT,
          #TEMP_AC1ERN_LNFILE2.LN_LASTPYAMT,
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_1, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_2, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_3, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_4, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_5, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_6, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_7, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_8, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_9, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_10, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_11, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_12, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_13, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_14, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_15, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_16, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_17, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_18, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_19, 
          #TEMP_AC1ERN_LNFILE2.LN_FEECODE_20, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_1,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_2,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_3,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_4,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_5,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_6,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_7,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_8,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_9,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_10,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_11,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_12,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_13,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_14,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_15,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_16,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_17,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_18,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_19,
          #TEMP_AC1ERN_LNFILE2.LN_FEEAMT_20,
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_1, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_2, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_3, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_4, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_5, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_6, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_7, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_8, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_9, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_10, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_11, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_12, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_13, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_14, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_15, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_16, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_17, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_18, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_19, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEOURS_20, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_1, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_2, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_3, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_4, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_5, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_6, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_7, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_8, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_9, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_10, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_11, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_12, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_13, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_14, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_15, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_16, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_17, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_18, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_19, 
          #TEMP_AC1ERN_LNFILE2.LN_FEEFINCHG_20, 
          #TEMP_AC1ERN_LNFILE2.LN_INSURED, 
          #TEMP_AC1ERN_LNFILE2.LN_INSTYPES, 
          #TEMP_AC1ERN_LNFILE2.LN_INSCOMP_1,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOMP_2,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOMP_3,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOMP_4,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOMP_5,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOMP_6,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOMP_7,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOMP_8,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOMP_9,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOMP_10,
          #TEMP_AC1ERN_LNFILE2.LN_INSOURS_1, 
          #TEMP_AC1ERN_LNFILE2.LN_INSOURS_2, 
          #TEMP_AC1ERN_LNFILE2.LN_INSOURS_3, 
          #TEMP_AC1ERN_LNFILE2.LN_INSOURS_4, 
          #TEMP_AC1ERN_LNFILE2.LN_INSOURS_5, 
          #TEMP_AC1ERN_LNFILE2.LN_INSOURS_6, 
          #TEMP_AC1ERN_LNFILE2.LN_INSOURS_7, 
          #TEMP_AC1ERN_LNFILE2.LN_INSOURS_8, 
          #TEMP_AC1ERN_LNFILE2.LN_INSOURS_9, 
          #TEMP_AC1ERN_LNFILE2.LN_INSOURS_10, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEFF_DATE_1, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEFF_DATE_2, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEFF_DATE_3, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEFF_DATE_4, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEFF_DATE_5, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEFF_DATE_6, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEFF_DATE_7, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEFF_DATE_8, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEFF_DATE_9, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEFF_DATE_10, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEXP_DATE_1, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEXP_DATE_2, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEXP_DATE_3, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEXP_DATE_4, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEXP_DATE_5, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEXP_DATE_6, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEXP_DATE_7, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEXP_DATE_8, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEXP_DATE_9, 
          #TEMP_AC1ERN_LNFILE2.LN_INSEXP_DATE_10, 
          #TEMP_AC1ERN_LNFILE2.LN_INSPREM_1,
          #TEMP_AC1ERN_LNFILE2.LN_INSPREM_2,
          #TEMP_AC1ERN_LNFILE2.LN_INSPREM_3,
          #TEMP_AC1ERN_LNFILE2.LN_INSPREM_4,
          #TEMP_AC1ERN_LNFILE2.LN_INSPREM_5,
          #TEMP_AC1ERN_LNFILE2.LN_INSPREM_6,
          #TEMP_AC1ERN_LNFILE2.LN_INSPREM_7,
          #TEMP_AC1ERN_LNFILE2.LN_INSPREM_8,
          #TEMP_AC1ERN_LNFILE2.LN_INSPREM_9,
          #TEMP_AC1ERN_LNFILE2.LN_INSPREM_10,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOVR_1,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOVR_2,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOVR_3,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOVR_4,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOVR_5,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOVR_6,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOVR_7,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOVR_8,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOVR_9,
          #TEMP_AC1ERN_LNFILE2.LN_INSCOVR_10,
          #TEMP_AC1ERN_LNFILE2.LN_INSFINCHG_1, 
          #TEMP_AC1ERN_LNFILE2.LN_INSFINCHG_2, 
          #TEMP_AC1ERN_LNFILE2.LN_INSFINCHG_3, 
          #TEMP_AC1ERN_LNFILE2.LN_INSFINCHG_4, 
          #TEMP_AC1ERN_LNFILE2.LN_INSFINCHG_5, 
          #TEMP_AC1ERN_LNFILE2.LN_INSFINCHG_6, 
          #TEMP_AC1ERN_LNFILE2.LN_INSFINCHG_7, 
          #TEMP_AC1ERN_LNFILE2.LN_INSFINCHG_8, 
          #TEMP_AC1ERN_LNFILE2.LN_INSFINCHG_9, 
          #TEMP_AC1ERN_LNFILE2.LN_INSFINCHG_10, 
          #TEMP_AC1ERN_LNFILE2.LN_PY_YYYYMM_RECDEL,
          #TEMP_AC1ERN_LNFILE2.LN_MTD_PAYS_RECDEL,
          #TEMP_AC1ERN_LNFILE2.LN_ORIGPURAMT,
          #TEMP_AC1ERN_LNFILE2.LN_PURBAL,
          #TEMP_AC1ERN_LNFILE2.LN_DLDISC,
          #TEMP_AC1ERN_LNFILE2.LN_INTPDTH_DATE, 
          #TEMP_AC1ERN_LNFILE2.LN_CURBAL,
          #TEMP_AC1ERN_LNFILE2.LN_INTBAL,
          #TEMP_AC1ERN_LNFILE2.LN_OT2BAL,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICTERM,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICERN_1,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICERN_2,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICERN_3,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICERN_4,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICERN_5,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICERN_6,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICERN_7,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICERN_8,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICERN_9,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICERN_10,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICADJ_1,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICADJ_2,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICADJ_3,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICADJ_4,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICADJ_5,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICADJ_6,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICADJ_7,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICADJ_8,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICADJ_9,
          #TEMP_AC1ERN_LNFILE2.LN_ANTICADJ_10,
          #TEMP_AC1ERN_LNFILE2.LN_UFERN_1,
          #TEMP_AC1ERN_LNFILE2.LN_UFERN_2,
          #TEMP_AC1ERN_LNFILE2.LN_UFERN_3,
          #TEMP_AC1ERN_LNFILE2.LN_UFERN_4,
          #TEMP_AC1ERN_LNFILE2.LN_UFERN_5,
          #TEMP_AC1ERN_LNFILE2.LN_UFERN_6,
          #TEMP_AC1ERN_LNFILE2.LN_UFERN_7,
          #TEMP_AC1ERN_LNFILE2.LN_UFERN_8,
          #TEMP_AC1ERN_LNFILE2.LN_UFERN_9,
          #TEMP_AC1ERN_LNFILE2.LN_UFERN_10,
          #TEMP_AC1ERN_LNFILE2.LN_ACCERN_1,
          #TEMP_AC1ERN_LNFILE2.LN_ACCERN_2,
          #TEMP_AC1ERN_LNFILE2.LN_ACCERN_3,
          #TEMP_AC1ERN_LNFILE2.LN_ACCERN_4,
          #TEMP_AC1ERN_LNFILE2.LN_ACCERN_5,
          #TEMP_AC1ERN_LNFILE2.LN_ACCERN_6,
          #TEMP_AC1ERN_LNFILE2.LN_ACCERN_7,
          #TEMP_AC1ERN_LNFILE2.LN_ACCERN_8,
          #TEMP_AC1ERN_LNFILE2.LN_ACCERN_9,
          #TEMP_AC1ERN_LNFILE2.LN_ACCERN_10,
          #TEMP_AC1ERN_LNFILE2.LN_LMO_PRIOR_INTEREST,
          #TEMP_AC1ERN_LNFILE2.LN_PRIOR_UNEARNED,
          #TEMP_AC1ERN_LNFILE2.LN_ERNDELQ_STOP, 
          #TEMP_AC1ERN_LNFILE2.LN_NONACRERN,
          #TEMP_AC1ERN_LNFILE2.LN_PRIOR_NONACRERN,
          #TEMP_AC1ERN_LNFILE2.LN_ERN_IB_PDTH_DATE, 
          #TEMP_AC1ERN_LNFILE2.LN_ERN_IB_PRINBAL,
          #TEMP_AC1ERN_LNFILE2.LN_ERN_IB_INTOWE,
          #TEMP_AC1ERN_LNFILE2.LN_TOTERN,
          #TEMP_AC1ERN_LNFILE2.LN_TOTINT,
          #TEMP_AC1ERN_LNFILE2.LN_TOTLCHG,
          #TEMP_AC1ERN_LNFILE2.LN_TOTDEF,
          #TEMP_AC1ERN_LNFILE2.LN_TOTPAYMNTD,
          #TEMP_AC1ERN_LNFILE2.LN_TOTEXCPAYMNTD,
          #TEMP_AC1ERN_LNFILE2.LN_TOTNODEF,
          #TEMP_AC1ERN_LNFILE2.LN_TOTNOALDEL,
          #TEMP_AC1ERN_LNFILE2.LN_YTDINTPD,
          #TEMP_AC1ERN_LNFILE2.LN_TOTINTPD,
          #TEMP_AC1ERN_LNFILE2.LN_CL_REBATE, 
          #TEMP_AC1ERN_LNFILE2.LN_AH_REBATE, 
          #TEMP_AC1ERN_LNFILE2.LN_PP_REBATE, 
          #TEMP_AC1ERN_LNFILE2.LN_INT_REBATE, 
          #TEMP_AC1ERN_LNFILE2.LN_SC_REBATE, 
          #TEMP_AC1ERN_LNFILE2.LN_MF_REBATE, 
          #TEMP_AC1ERN_LNFILE2.LN_DF_REBATE, 
          #TEMP_AC1ERN_LNFILE2.LN_EX_REBATE, 
          #TEMP_AC1ERN_LNFILE2.LN_O1_REBATE, 
          #TEMP_AC1ERN_LNFILE2.LN_O2_REBATE, 
          #TEMP_AC1ERN_LNFILE2.LN_O3_REBATE, 
          #TEMP_AC1ERN_LNFILE2.LN_O4_REBATE, 
          #TEMP_AC1ERN_LNFILE2.LN_O5_REBATE, 
          #TEMP_AC1ERN_LNFILE2.LN_O6_REBATE, 
          #TEMP_AC1ERN_LNFILE2.LN_O7_REBATE, 
          #TEMP_AC1ERN_LNFILE2.LN_UN_O7_REB, 
          #TEMP_AC1ERN_LNFILE2.LN_UN_O8_REB, 
          #TEMP_AC1ERN_LNFILE2.LN_UN_O9_REB, 
          #TEMP_AC1ERN_LNFILE2.LN_UN_O10_REB, 
          #TEMP_AC1ERN_LNFILE2.LN_DATE_PAID_LAST, 
          #TEMP_AC1ERN_LNFILE2.LN_CREDITLIM,
          #TEMP_AC1ERN_LNFILE2.LN_OLDACCTNO,
          #TEMP_AC1ERN_LNFILE2.LN_PRLNNO,
          #TEMP_AC1ERN_LNFILE2.LN_SUM_LNAMT,
          #TEMP_AC1ERN_LNFILE2.LN_SUM_FINCHG,
          #TEMP_AC1ERN_LNFILE2.LN_SUM_INTCHG,
          #TEMP_AC1ERN_LNFILE2.LN_SUM_ORGTERM,
          #TEMP_AC1ERN_LNFILE2.LN_SUM_EXTCHG,
          #TEMP_AC1ERN_LNFILE2.LN_UNITPER_CD, 
          #TEMP_AC1ERN_LNFILE2.LN_UNITPER_FREQ,
          #TEMP_AC1ERN_LNFILE2.LN_REPOCD, 
          #TEMP_AC1ERN_LNFILE2.LN_CONPROFILE_1,
          #TEMP_AC1ERN_LNFILE2.LN_CONPROFILE_2,
          #TEMP_AC1ERN_LNFILE2.LN_CONPROFILE_3,
          #TEMP_AC1ERN_LNFILE2.LN_CONPROFILE_4,
          #TEMP_AC1ERN_LNFILE2.LN_CONPROFILE_5,  
          #TEMP_AC1ERN_LNFILE2.CD_TYPE,  
          #TEMP_AC1ERN_LNFILE2.CD_CODE,  
          #TEMP_AC1ERN_LNFILE2.CD_CO_SECURED 

     FROM #TEMP_AC1ERN_LNFILE2

    ORDER BY #TEMP_AC1ERN_LNFILE2.LN_OWNBR,
             #TEMP_AC1ERN_LNFILE2.LN_CLASS,
             #TEMP_AC1ERN_LNFILE2.LN_ACCTNO; 
      
     DROP TABLE IF EXISTS #TEMP_AC1ERN_LNFILE2;

END
GO
