USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_ICMORP_TRPFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_ICMORP_TRPFILE_SELECT             */
/*               PROGRAM NAME: LP/ICMORP.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRPFILE, LNFILE                                         */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/  

CREATE PROCEDURE [dbo].[SSP_ICMORP_TRPFILE_SELECT]
    @QTRP1_WBEG_BRNO    AS INT,
    @QTRP1_WBEG_DATE    AS DATE,
    @QTRP1_WEND_DATE    AS DATE,
    @QTRP1_WBEG_CLASS   AS INT,
    @QTRP1_WEND_CLASS   AS INT  
 
 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRP1_WBEG_BRNO    INT
--DECLARE @QTRP1_WBEG_DATE    DATE
--DECLARE @QTRP1_WEND_DATE    DATE
--DECLARE @QTRP1_WBEG_CLASS   INT
--DECLARE @QTRP1_WEND_CLASS   INT 

--SET @QTRP1_WBEG_BRNO    =  0010
--SET @QTRP1_WBEG_DATE    =  '2019-01-01'
--SET @QTRP1_WEND_DATE    =  '2023-12-31'
--SET @QTRP1_WBEG_CLASS   =  000
--SET @QTRP1_WEND_CLASS   =  999

   SELECT TRPFILE.TP_BRNO,
          CAST(TRPFILE.TP_DATE          AS VARCHAR(10)), 
          TRPFILE.TP_CLASS,
          TRPFILE.TP_ACCTNO,
          TRPFILE.TP_LINE,
          TRPFILE.TP_TRCD, 
          TRPFILE.TP_REFNO, 
          CAST(TRPFILE.TP_PAYDATE       AS VARCHAR(10)), 
          TRPFILE.TP_TRAMT,
          TRPFILE.TP_APCUR,
          TRPFILE.TP_INSOURS, 
          TRPFILE.TP_OTHBR_FG,
          TRPFILE.TP_INSCOMM,
          TRPFILE.TP_INSCOMP,
          TRPFILE.TP_INS_TAX_RB,
          TRPFILE.TP_ADDON_TYP,
          LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_SUBCLASS,
          LNFILE.LN_LAWCODE,
          LNFILE.LN_SSNO1,
          LNFILE.LN_MAKERCD1, 
          LNFILE.LN_SSNO2,
          LNFILE.LN_MAKERCD2, 
          LNFILE.LN_SSNO3,
          LNFILE.LN_MAKERCD3, 
          LNFILE.LN_SSNO4,
          LNFILE.LN_MAKERCD4, 
          LNFILE.LN_ORGST, 
          LNFILE.LN_SPRCLASS,
          LNFILE.LN_STATFLAGS, 
          CAST(LNFILE.LN_ORIG_1STPYDATE  AS VARCHAR(10)), 
          CAST(LNFILE.LN_1STPYDATE       AS VARCHAR(10)), 
          LNFILE.LN_MAINTFEE,
          LNFILE.LN_ORGTERM,
          LNFILE.LN_REGPYAMT,
          LNFILE.LN_INSURED, 
          LNFILE.LN_INSTYPES, 
          LNFILE.LN_INSCOMP_1,
          LNFILE.LN_INSCOMP_2,
          LNFILE.LN_INSCOMP_3,
          LNFILE.LN_INSCOMP_4,
          LNFILE.LN_INSCOMP_5,
          LNFILE.LN_INSCOMP_6,
          LNFILE.LN_INSCOMP_7,
          LNFILE.LN_INSCOMP_8,
          LNFILE.LN_INSCOMP_9,
          LNFILE.LN_INSCOMP_10,
          CAST(LNFILE.LN_INSEFF_DATE_1   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_2   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_3   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_4   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_5   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_6   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_7   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_8   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEFF_DATE_9   AS VARCHAR(10)),
          CAST(LNFILE.LN_INSEFF_DATE_10  AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_1   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_2   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_3   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_4   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_5   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_6   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_7   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_8   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_9   AS VARCHAR(10)), 
          CAST(LNFILE.LN_INSEXP_DATE_10  AS VARCHAR(10)), 
          LNFILE.LN_INSCOVR_1,
          LNFILE.LN_INSCOVR_2,
          LNFILE.LN_INSCOVR_3,
          LNFILE.LN_INSCOVR_4,
          LNFILE.LN_INSCOVR_5,
          LNFILE.LN_INSCOVR_6,
          LNFILE.LN_INSCOVR_7,
          LNFILE.LN_INSCOVR_8,
          LNFILE.LN_INSCOVR_9,
          LNFILE.LN_INSCOVR_10,
          LNFILE.LN_TOTNODEF,
          LNFILE.LN_CL_REBATE, 
          LNFILE.LN_AH_REBATE, 
          LNFILE.LN_PP_REBATE, 
          LNFILE.LN_INT_REBATE, 
          LNFILE.LN_SC_REBATE, 
          LNFILE.LN_MF_REBATE, 
          LNFILE.LN_DF_REBATE, 
          LNFILE.LN_EX_REBATE, 
          LNFILE.LN_O1_REBATE, 
          LNFILE.LN_O2_REBATE, 
          LNFILE.LN_O3_REBATE, 
          LNFILE.LN_O4_REBATE, 
          LNFILE.LN_O5_REBATE, 
          LNFILE.LN_O6_REBATE, 
          LNFILE.LN_O7_REBATE, 
          LNFILE.LN_UN_O7_REB, 
          LNFILE.LN_UN_O8_REB, 
          LNFILE.LN_UN_O9_REB, 
          LNFILE.LN_UN_O10_REB, 
          LNFILE.LN_SUM_ORGTERM,
          LNFILE.LN_UNITPER_CD,
          LNFILE.LN_UNITPER_FREQ
     FROM DBO.TRPFILE TRPFILE
       INNER JOIN
          DBO.LNFILE  LNFILE
          ON ( LNFILE.LN_OWNBR        = TRPFILE.TP_BRNO
         AND   LNFILE.LN_ACCTNO       = TRPFILE.TP_ACCTNO )
       WHERE ( TRPFILE.TP_BRNO        = @QTRP1_WBEG_BRNO   
         AND   TRPFILE.TP_DATE  BETWEEN @QTRP1_WBEG_DATE
		                            AND @QTRP1_WEND_DATE  
         AND   TRPFILE.TP_CLASS BETWEEN @QTRP1_WBEG_CLASS
                                    AND @QTRP1_WEND_CLASS )
    ORDER BY TRPFILE.TP_BRNO,
             TRPFILE.TP_DATE,
             TRPFILE.TP_CLASS,
             TRPFILE.TP_ACCTNO,
             TRPFILE.TP_LINE

END 
GO
