USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_EOMALL_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************/
/*      STORED PROCEDURE NAME: SSP_EOMALL_LNFILE_SELECT                   */
/*               PROGRAM NAME: LP/EOMALL.CBL                              */
/*                 CREATED BY: MB                                         */
/*                CREATE DATE: 02/2024                                    */
/*                                                                        */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.            */
/*                                                                        */
/*   TABLES: LNFILE                                                       */
/*                                                                        */
/*  REV DT:     BY:           REV:                                        */
/*  06/11/2024  MB  S35Q-67   ADDED USE OF TEMP TABLE                     */
/*  08/01/2024  MB  S35Q-104  CHANGED ORDER BY FROM LN_ACCTNO TO LN_CLASS */
/*                            LIMITED COLUMNS PER XCOL                    */
/**************************************************************************/

CREATE PROCEDURE [dbo].[SSP_EOMALL_LNFILE_SELECT]
    @QLN1_WBEG_OWNBR   AS INT
 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN1_WBEG_OWNBR  INT
--SET @QLN1_WBEG_OWNBR   =  1504
 
   DROP TABLE IF EXISTS #TEMP_EOMALL_LNFILE;

            SELECT LNFILE.LN_OWNBR,
                   LNFILE.LN_ACCTNO,
                   LNFILE.LN_CLASS,
                   LNFILE.LN_SUBCLASS,
                   LNFILE.LN_LAWCODE,
                   LNFILE.LN_ORGST,
                   LNFILE.LN_SPRCLASS,
                   LNFILE.LN_SRCD,
                   LNFILE.LN_POCD,
                   LNFILE.LN_PLCD,
                   LNFILE.LN_PLTYPE,
                   LNFILE.LN_SERVACCT,
                   LNFILE.LN_PAY_SCHLD_FG,
                   CAST(LNFILE.LN_LOANDATE       AS VARCHAR(10)) AS LN_LOANDATE,
                   CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)) AS LN_ORIG_1STPYDATE,
                   CAST(LNFILE.LN_1STPYDATE      AS VARCHAR(10)) AS LN_1STPYDATE,
                   CAST(LNFILE.LN_PLDATE         AS VARCHAR(10)) AS LN_PLDATE,
                   CAST(LNFILE.LN_POFFDATE       AS VARCHAR(10)) AS LN_POFFDATE,
                   CAST(LNFILE.LN_BNKRPTDATE     AS VARCHAR(10)) AS LN_BNKRPTDATE,
                   CAST(LNFILE.LN_REPODATE       AS VARCHAR(10)) AS LN_REPODATE,
                   CAST(LNFILE.LN_REDEEMDATE     AS VARCHAR(10)) AS LN_REDEEMDATE,
                   CAST(LNFILE.LN_TRW_DOFD_DATE  AS VARCHAR(10)) AS LN_TRW_DOFD_DATE,
                   LNFILE.LN_LNAMT,
                   LNFILE.LN_ORGTERM,
                   LNFILE.LN_1STPYAMT,
                   LNFILE.LN_NOREGPY,
                   LNFILE.LN_REGPYAMT,
                   LNFILE.LN_LASTPYAMT,
                   LNFILE.LN_PY_YYYYMM_RECDEL,
                   LNFILE.LN_MTD_PAYS_RECDEL,
                   LNFILE.LN_DLNO,
                   LNFILE.LN_CURBAL,
                   LNFILE.LN_INTBAL,
                   LNFILE.LN_LCBAL,
                   LNFILE.LN_OTHBAL,
                   LNFILE.LN_OT2BAL,
                   LNFILE.LN_MONTHEND_BAL,
                   LNFILE.LN_ANTICERN_1,
                   LNFILE.LN_ANTICERN_2,
                   LNFILE.LN_ANTICERN_3,
                   LNFILE.LN_ANTICERN_4,
                   LNFILE.LN_ANTICERN_5,
                   LNFILE.LN_ANTICERN_6,
                   LNFILE.LN_ANTICERN_7,
                   LNFILE.LN_ANTICERN_8,
                   LNFILE.LN_ANTICERN_9,
                   LNFILE.LN_ANTICERN_10,
                   LNFILE.LN_ANTICADJ_1,
                   LNFILE.LN_ANTICADJ_2,
                   LNFILE.LN_ANTICADJ_3,
                   LNFILE.LN_ANTICADJ_4,
                   LNFILE.LN_ANTICADJ_5,
                   LNFILE.LN_ANTICADJ_6,
                   LNFILE.LN_ANTICADJ_7,
                   LNFILE.LN_ANTICADJ_8,
                   LNFILE.LN_ANTICADJ_9,
                   LNFILE.LN_ANTICADJ_10,
                   LNFILE.LN_UFERN_1,
                   LNFILE.LN_UFERN_2,
                   LNFILE.LN_UFERN_3,
                   LNFILE.LN_UFERN_4,
                   LNFILE.LN_UFERN_5,
                   LNFILE.LN_UFERN_6,
                   LNFILE.LN_UFERN_7,
                   LNFILE.LN_UFERN_8,
                   LNFILE.LN_UFERN_9,
                   LNFILE.LN_UFERN_10,
                   LNFILE.LN_ACCERN_1,
                   LNFILE.LN_ACCERN_2,
                   LNFILE.LN_ACCERN_3,
                   LNFILE.LN_ACCERN_4,
                   LNFILE.LN_ACCERN_5,
                   LNFILE.LN_ACCERN_6,
                   LNFILE.LN_ACCERN_7,
                   LNFILE.LN_ACCERN_8,
                   LNFILE.LN_ACCERN_9,
                   LNFILE.LN_ACCERN_10,
                   LNFILE.LN_TOTPAYMNTD,
                   LNFILE.LN_TOTNODEF,
                   LNFILE.LN_YTDNODEF,
                   LNFILE.LN_YTDNODEFACT,
                   LNFILE.LN_TOTNOALDEL,
                   LNFILE.LN_YTDNOALDEL,
                   CAST(LNFILE.LN_DATE_PAID_LAST AS VARCHAR(10)) AS LN_DATE_PAID_LAST,
                   LNFILE.LN_PRLNAMT,
                   LNFILE.LN_PRPDUE_DAYS,
                   LNFILE.LN_SUM_ORGTERM,
                   LNFILE.LN_UNITPER_CD,
                   LNFILE.LN_UNITPER_FREQ,
                   LNFILE.LN_REPOCD,
                   LNFILE.LN_MTD_PRIN,
                   LNFILE.LN_MTD_LC,
                   LNFILE.LN_MTD_INT,
                   LNFILE.LN_MTD_OT,
                   LNFILE.LN_MTD_EX,
                   LNFILE.LN_BMO_CON_STATUS,
                   LNFILE.LN_BMO_REC_STATUS,
                   LNFILE.LN_CONPROFILE_1,
                   LNFILE.LN_CONPROFILE_2,
                   LNFILE.LN_CONPROFILE_3,
                   LNFILE.LN_CONPROFILE_4,
                   LNFILE.LN_CONPROFILE_5,
                   LNFILE.LN_RECPROFILE_1,
                   LNFILE.LN_RECPROFILE_2,
                   LNFILE.LN_RECPROFILE_3,
                   LNFILE.LN_RECPROFILE_4,
                   LNFILE.LN_RECPROFILE_5

            INTO #TEMP_EOMALL_LNFILE

            FROM DBO.LNFILE
            WHERE LNFILE.LN_OWNBR = @QLN1_WBEG_OWNBR
              AND LNFILE.LN_POCD  NOT IN ('**', '*I', '*R', '*U');

			SELECT *
			FROM #TEMP_EOMALL_LNFILE
            ORDER BY LN_CLASS, LN_ACCTNO;

            DROP TABLE #TEMP_EOMALL_LNFILE;
END 
GO
