USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LEXBNK_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LEXBNK_LNFILE_SELECT              */
/*               PROGRAM NAME: SP/LEXBNK.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 07/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE BWFILE BRFILE                                    */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_LEXBNK_LNFILE_SELECT]
    @BRANCHLIST       AS VARCHAR(7500),
	@ENT_TYPE         AS CHAR(1),
    @CONV_FLAG        AS CHAR(1),
	@BEG_LNDATE       AS DATE,
	@END_LNDATE       AS DATE

 AS
BEGIN
	SET NOCOUNT ON;

DECLARE @PARAMLIST  NVARCHAR(4000),      
        @SQL        NVARCHAR(MAX)

--DECLARE @BRANCHLIST      VARCHAR(7500)
--DECLARE @ENT_TYPE        CHAR(1)
--DECLARE @CONV_FLAG       CHAR(1)
--DECLARE @BEG_LNDATE      DATE
--DECLARE @END_LNDATE      DATE

--SET @BRANCHLIST     = '0010'
--SET @ENT_TYPE       = 'K' 
--SET @CONV_FLAG      = 'S'
--SET @BEG_LNDATE     = '2019-12-01'
--SET @END_LNDATE     = '2019-12-31'


CREATE TABLE #TEMP1_BRANCH_GROUP_TBL
   ( SEQ INT IDENTITY(1,1),
     BRNO INT ); 

INSERT INTO #TEMP1_BRANCH_GROUP_TBL (BRNO)
SELECT P.VALUE FROM STRING_SPLIT(@BRANCHLIST, ',') P;


SELECT @SQL = 'SELECT BRFILE.BR_NO,
                   BRFILE.BR_DATA_PATH, 
                   BRFILE.BR_MACHINE, 
                   LNFILE.LN_OWNBR,
                   LNFILE.LN_ACCTNO,
                   LNFILE.LN_CLASS,
                   LNFILE.LN_SSNO1,
                   LNFILE.LN_MAKERCD1,
                   LNFILE.LN_SSNO2,
                   LNFILE.LN_MAKERCD2,
                   LNFILE.LN_SSNO3,
                   LNFILE.LN_MAKERCD3,
                   LNFILE.LN_SSNO4,
                   LNFILE.LN_MAKERCD4,
                   LNFILE.LN_CONVERCD,
                   LNFILE.LN_POCD,
                   LNFILE.LN_PLCD,
                   CAST(LNFILE.LN_ENTDATE    AS VARCHAR(10)),
                   CAST(LNFILE.LN_LOANDATE   AS VARCHAR(10)),
                   CAST(LNFILE.LN_POFFDATE   AS VARCHAR(10)),
                   CAST(LNFILE.LN_BNKRPTDATE AS VARCHAR(10)),
				   ISNULL(BWFILE.BW_OWNBR,0),
                   ISNULL(BWFILE.BW_SSNO,0),
				   ISNULL(BWFILE.BW_FNAME,''''),
				   ISNULL(BWFILE.BW_MNAME,''''),
				   ISNULL(BWFILE.BW_LNAME,''''),
		           ISNULL(BWFILE.BW_ADR1,''''),
                   ISNULL(BWFILE.BW_ADR2,''''),
                   ISNULL(BWFILE.BW_CITY,''''),
                   ISNULL(BWFILE.BW_STATE,''''),
                   ISNULL(BWFILE.BW_ZIP,'''')
		
		FROM #TEMP1_BRANCH_GROUP_TBL T1
    	
		INNER JOIN DBO.BRFILE BRFILE
		  ON BRFILE.BR_NO = T1.BRNO
		
 	    INNER JOIN DBO.LNFILE LNFILE
		  ON LNFILE.LN_OWNBR = BRFILE.BR_NO
		
		LEFT OUTER JOIN DBO.BWFILE BWFILE
              ON BWFILE.BW_OWNBR = LNFILE.LN_OWNBR 
             AND BWFILE.BW_SSNO  = LNFILE.LN_SSNO1

		WHERE LNFILE.LN_POCD NOT IN (''**'', ''*I'', ''*R'', ''*U'', ''BT'') 
         AND ( (LNFILE.LN_CONVERCD = ''Y''  AND LNFILE.LN_ENTDATE  BETWEEN @BEG_LNDATE AND @END_LNDATE)
		  OR   (LNFILE.LN_CONVERCD != ''Y'' AND LNFILE.LN_LOANDATE BETWEEN @BEG_LNDATE AND @END_LNDATE) )'

 IF @ENT_TYPE = 'R'
   SELECT @SQL += ' AND (LNFILE.LN_PLCD != ''I'' AND LNFILE.LN_POFFDATE = ''1900-01-01'' )'  

 IF @ENT_TYPE = 'K'
   SELECT @SQL += ' AND (LNFILE.LN_BNKRPTDATE > ''1900-01-01'')'  

 IF @ENT_TYPE = 'I'
   SELECT @SQL += ' AND (LNFILE.LN_BNKRPTDATE = ''1900-01-01'')'  

 IF @CONV_FLAG = 'S'
   SELECT @SQL += ' AND (LNFILE.LN_CONVERCD = '' '')'  

 IF @CONV_FLAG = 'O'
   SELECT @SQL += ' AND (LNFILE.LN_CONVERCD != '' '')'  
   
 SELECT @SQL += ' ORDER BY T1.SEQ, LNFILE.LN_CLASS, LNFILE.LN_ACCTNO'

 SELECT @paramlist = '@BRANCHLIST  VARCHAR(7500),
                      @ENT_TYPE    CHAR(1),
                      @CONV_FLAG   CHAR(1),
					  @BEG_LNDATE  DATE,
					  @END_LNDATE  DATE'

EXEC sp_executesql @SQL, @paramlist, @BRANCHLIST, @ENT_TYPE, @CONV_FLAG, @BEG_LNDATE, @END_LNDATE

END 
GO
