USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_PR1686_ALTER_BWFILE]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[SSP_PR1686_ALTER_BWFILE] 
as begin

Alter Table [dbo].[BWFILE] 
  ADD bw_cease_desist_date date NULL
    , bw_cease_desist_type char(1) NOT NULL default ' ' with values    
    , bw_umc_expire_date date NULL 
    , bw_umc_pr_expire_date date NULL    
   
 ;

end
GO
