USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LTEXTR_LNFILE_LSFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LTEXTR_LNFILE_LSFILE_SELECT       */
/*               PROGRAM NAME: SP/LTEXTR.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE, LSDFILE, LSFFILE, LSJFILE, LSLFILE, LSMFILE     */
/*           LSRFILE, LSXFILE, NOFILE                                */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_LTEXTR_LNFILE_LSFILE_SELECT]
  @QLN3_WBEG_OWNBR              AS INT,
  @QLN3_WBEG_CLASS              AS INT,
  @QLN3_WEND_CLASS              AS INT,
  @QWS_ZBAL                     AS CHAR(1),
  @QWS_PL                       AS CHAR(1),
  @QWS_PLACTIVE                 AS CHAR(1),
  @QWS_PLTYPE                   AS CHAR(1),
  @QWS_PL_FROM_DATE             AS DATE,
  @QWS_ZBAL_DATE                AS DATE,
  @QWS_JULIAN_BEG               AS DATE,
  @QWS_TEST_DATE_PAID_LAST      AS DATE


AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLN3_WBEG_OWNBR         INT
--DECLARE @QLN3_WBEG_CLASS         INT
--DECLARE @QLN3_WEND_CLASS         INT
--DECLARE @QWS_ZBAL                CHAR(1)
--DECLARE @QWS_PL                  CHAR(1)
--DECLARE @QWS_PLACTIVE            CHAR(1)
--DECLARE @QWS_PLTYPE              CHAR(1)
--DECLARE @QWS_PL_FROM_DATE        DATE
--DECLARE @QWS_ZBAL_DATE           DATE 
--DECLARE @QWS_JULIAN_BEG          DATE
--DECLARE @QWS_TEST_DATE_PAID_LAST DATE

--SET     @QLN3_WBEG_OWNBR         = 440
--SET     @QLN3_WBEG_CLASS         = 000   
--SET     @QLN3_WEND_CLASS         = 999
--SET     @QWS_ZBAL                = 'I' 
--SET     @QWS_PL                  = 'I' 
--SET     @QWS_PLACTIVE            = 'B' 
--SET     @QWS_PLTYPE              = 'A' 
--SET     @QWS_PL_FROM_DATE        = '2015-01-01'
--SET     @QWS_ZBAL_DATE           = '2008-12-01' 
--SET     @QWS_JULIAN_BEG          = '1950-01-01' 
--SET     @QWS_TEST_DATE_PAID_LAST = '2018-01-01'

   SELECT TEMP.LN_OWNBR,
          TEMP.LN_ACCTNO,
          TEMP.LN_CLASS,
          ISNULL(LSDFILE.LSD_BRNO, 0),
          ISNULL(LSDFILE.LSD_ACCTNO, 0),
          ISNULL(LSDFILE.LSD_SEQNO, 0),
          ISNULL(CAST(LSDFILE.LSD_STOLEN_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSDFILE.LSD_GAP_INS_PAID, 0),
          ISNULL(LSDFILE.LSD_OTHER_EXPENSE, 0),
          ISNULL(LSDFILE.LSD_MISC_AMT_EXPENSE, 0),
          ISNULL(LSDFILE.LSD_MISC_DESC_EXPENSE,''),
          ISNULL(LSDFILE.LSD_TOT_EXPENSE, 0),
          ISNULL(LSDFILE.LSD_INT_REB, 0),
          ISNULL(LSDFILE.LSD_CPP_REB, 0),
          ISNULL(LSDFILE.LSD_GAP_REB, 0),
          ISNULL(LSDFILE.LSD_WARRANTY_REB, 0),
          ISNULL(LSDFILE.LSD_MISC_AMT_CREDIT, 0),
          ISNULL(LSDFILE.LSD_MISC_DESC_CREDIT,''),
          ISNULL(LSDFILE.LSD_TOT_CREDITS, 0),
          ISNULL(LSDFILE.LSD_PAID_TO_OTHER, 0),
          ISNULL(LSDFILE.LSD_AMT_FROM_OWING, 0),
          ISNULL(LSDFILE.LSD_AMT_OF_SURPLUS, 0),
          ISNULL(LSDFILE.LSD_AMT_OF_DEFICIENCY, 0),
          ISNULL(LSDFILE.LSD_SEND_FMNO, 0),
          ISNULL(LSDFILE.LSD_INSURANCE_PROCEEDS, 0),
          ISNULL(CAST(LSDFILE.LSD_DATE_CHECK_RECV 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSDFILE.LSD_INSURANCE_CHECK, 0),
          ISNULL(LSDFILE.LSD_WHO_ADJUSTED,''),
          ISNULL(LSDFILE.LSD_INS_COMPANY,''),
          ISNULL(CAST(LSDFILE.LSD_SALES_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSDFILE.LSD_AUCTION,''),
          ISNULL(LSDFILE.LSD_AUCTN_TIME, 0),
          ISNULL(LSDFILE.LSD_AUCTN_ADR,''),
          ISNULL(LSDFILE.LSD_AUCTN_CITY,''),
          ISNULL(LSDFILE.LSD_AUCTN_STATE,''),
          ISNULL(LSDFILE.LSD_AUCTN_ZIP,''),
          ISNULL(LSDFILE.LSD_AUCTN_PHONE, 0),
          ISNULL(LSDFILE.LSD_REPO_CHARGE, 0),
          ISNULL(LSDFILE.LSD_STORAGE_CHARGE, 0),
          ISNULL(LSDFILE.LSD_REPAIR_CHARGE, 0),
          ISNULL(LSDFILE.LSD_OTHER_CHARGE, 0),
          ISNULL(LSDFILE.LSD_STORAGE_RATE, 0),
          ISNULL(LSDFILE.LSD_EST_REBATE, 0),
          ISNULL(LSDFILE.LSD_MINIMUM_BID, 0),
          ISNULL(LSDFILE.LSD_MAY_REINSTATE,''),
          ISNULL(LSDFILE.LSD_MAY_NOT_REINSTATE,''),
          ISNULL(LSDFILE.LSD_IN_PAST_12MONTHS,''),
          ISNULL(LSDFILE.LSD_2X_DURING_CONTRACT,''),
          ISNULL(LSDFILE.LSD_OTHER,''),
          ISNULL(LSDFILE.LSD_OTHER_COMMENTS1,''),
          ISNULL(LSDFILE.LSD_OTHER_COMMENTS2,''),
          ISNULL(LSDFILE.LSD_CA_PYMTS_AS_AGREED,''),
          ISNULL(LSDFILE.LSD_CA_KEEP_INS,''),
          ISNULL(LSDFILE.LSD_CA_KEEP_LIEN_FREE,''),
          ISNULL(LSDFILE.LSD_CA_OTHER,''),
          ISNULL(LSDFILE.LSD_CA_OTHER_DESC,''),
          ISNULL(LSDFILE.LSD_CURE,''),
          ISNULL(LSFFILE.LSF_BRNO, 0),
          ISNULL(LSFFILE.LSF_ACCTNO, 0),
          ISNULL(LSFFILE.LSF_SEQNO, 0),
          ISNULL(CAST(LSFFILE.LSF_SKIP_START_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSFFILE.LSF_SKIP_END_DATE   
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSFFILE.LSF_OFR_START_DATE  
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSFFILE.LSF_OFR_END_DATE    
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSFFILE.LSF_IMPOUND_START_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSFFILE.LSF_IMPOUND_END_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSFFILE.LSF_BNKRPT_START_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSFFILE.LSF_BNKRPT_END_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSFFILE.LSF_INSUR_START_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSFFILE.LSF_INSUR_END_DATE  
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSFFILE.LSF_COLLECT_START_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSFFILE.LSF_COLLECT_END_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSJFILE.LSJ_BRNO, 0),
          ISNULL(LSJFILE.LSJ_ACCTNO, 0),
          ISNULL(LSJFILE.LSJ_SEQNO, 0),
          ISNULL(CAST(LSJFILE.LSJ_FILEDATE        
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSJFILE.LSJ_CASE_NO,''),
          ISNULL(LSJFILE.LSJ_AMT, 0),
          ISNULL(LSJFILE.LSJ_COUNTY,''),
          ISNULL(LSJFILE.LSJ_CLERK_NAME,''),
          ISNULL(LSJFILE.LSJ_CLERK_ADDR,''),
          ISNULL(LSJFILE.LSJ_CLERK_CITY,''),
          ISNULL(LSJFILE.LSJ_CLERK_STATE,''),
          ISNULL(LSJFILE.LSJ_CLERK_ZIP,''),
          ISNULL(LSJFILE.LSJ_CLERK_PHONE, 0),
          ISNULL(LSJFILE.LSJ_SHERIFF_FEE, 0),
          ISNULL(LSJFILE.LSJ_COURT_FEE, 0),
          ISNULL(LSJFILE.LSJ_ATTY_FEE, 0),
          ISNULL(CAST(LSJFILE.LSJ_DISMISS_DATE    
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSJFILE.LSJ_GARN_INFO,''),
          ISNULL(LSJFILE.LSJ_EMPLOY_NAME,''),
          ISNULL(LSJFILE.LSJ_EMPLOY_ADDR,''),
          ISNULL(LSJFILE.LSJ_EMPLOY_CITY,''),
          ISNULL(LSJFILE.LSJ_EMPLOY_STATE,''),
          ISNULL(LSJFILE.LSJ_EMPLOY_ZIP,''),
          ISNULL(CAST(LSJFILE.LSJ_GARN_DATE       
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSJFILE.LSJ_JD_FILED_ON,''),
          ISNULL(LSJFILE.LSJ_GARN_FILED_ON,''),
          ISNULL(LSJFILE.LSJ_ATTY_NAME,''),
          ISNULL(LSJFILE.LSJ_ATTY_ADDR,''),
          ISNULL(LSJFILE.LSJ_ATTY_CITY,''),
          ISNULL(LSJFILE.LSJ_ATTY_STATE,''),
          ISNULL(LSJFILE.LSJ_ATTY_ZIP,''),
          ISNULL(LSJFILE.LSJ_ATTY_PHONE, 0),
          ISNULL(LSLFILE.LSL_BRNO, 0),
          ISNULL(LSLFILE.LSL_ACCTNO, 0),
          ISNULL(LSLFILE.LSL_SEQNO, 0),
          ISNULL(CAST(LSLFILE.LSL_DATE_SUIT_AUTH  
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSLFILE.LSL_DATE_SUIT_AUTH_BY,''),
          ISNULL(LSLFILE.LSL_ATTORNEY_NET_ASSIGN,''),
          ISNULL(LSLFILE.LSL_LOCAL_ATTORNEY,''),
          ISNULL(LSLFILE.LSL_ATTORNEY_ADDRESS,''),
          ISNULL(LSLFILE.LSL_ATTORNEY_PHONE, 0),
          ISNULL(CAST(LSLFILE.LSL_DATE_ASSIGNED   
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSLFILE.LSL_ATTORNEY_ACCTNO,''),
          ISNULL(LSLFILE.LSL_PRIN_BAL_SENT, 0),
          ISNULL(CAST(LSLFILE.LSL_RECEIVED_ACKNOW_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSLFILE.LSL_ATTORNEY_LETTER_SENT_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSLFILE.LSL_HOLD_DATE       
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSLFILE.LSL_RESPONSE_RECEIVED_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSLFILE.LSL_SUIT_DATE       
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSLFILE.LSL_SUIT_FILED_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSLFILE.LSL_SERVICE_DATE    
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSLFILE.LSL_CUSTOMER_SERVED,''),
          ISNULL(CAST(LSLFILE.LSL_ANSWER_FILED_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSLFILE.LSL_COURT_DATE      
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSLFILE.LSL_JUDGMENT_TYPE,''),
          ISNULL(CAST(LSLFILE.LSL_JUDGMENT_OBTAINED_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSLFILE.LSL_JUDGMENT_COPY_FILED,''),
          ISNULL(LSLFILE.LSL_JUDGMENT_AMT, 0),
          ISNULL(LSLFILE.LSL_JUDGMENT_PRIN, 0),
          ISNULL(LSLFILE.LSL_POST_JUDG_INT_RATE, 0),
          ISNULL(LSLFILE.LSL_JUDG_INT_AMT, 0),
          ISNULL(LSLFILE.LSL_ATTORNEY_FEES_ALLOWED, 0),
          ISNULL(LSLFILE.LSL_OTHER_FEES_ALLOWED, 0),
          ISNULL(LSLFILE.LSL_JUDG_INT_RATE, 0),
          ISNULL(LSLFILE.LSL_ASSET_USED_IN_SUIT,''),
          ISNULL(CAST(LSLFILE.LSL_GARN_FILED_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSLFILE.LSL_GARN_TERM_DAYS, 0),
          ISNULL(CAST(LSLFILE.LSL_INTERROGATORY_SENT_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSLFILE.LSL_INTERROGATORY_ANSW_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSLFILE.LSL_FIFA_SENT_DATE  
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSLFILE.LSL_FIFA_ANSWERED_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSLFILE.LSL_DATE_TO_RECV_PAY
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSLFILE.LSL_FOLLOWUP_DATE   
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSLFILE.LSL_FIFA_RENEWED_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSLFILE.LSL_PAYS_RECV_ATTORNEY,''),
          ISNULL(CAST(LSLFILE.LSL_DATE_CLOSED     
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSLFILE.LSL_REASON_CLOSED,''),
          ISNULL(LSMFILE.LSM_BRNO, 0),
          ISNULL(LSMFILE.LSM_ACCTNO, 0),
          ISNULL(LSMFILE.LSM_SEQNO, 0),
          ISNULL(LSMFILE.LSM_MISC_FIELD_1,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_2,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_3,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_4,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_5,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_6,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_7,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_8,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_9,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_10,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_11,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_12,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_13,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_14,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_15,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_16,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_17,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_18,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_19,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_20,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_21,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_22,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_23,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_24,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_25,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_26,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_27,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_28,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_29,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_30,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_31,''),
          ISNULL(LSMFILE.LSM_MISC_FIELD_32,''),
          ISNULL(LSMFILE.LSM_TRANS_FROM_BRNO, 0),
          ISNULL(LSMFILE.LSM_TRANS_FROM_ACCTNO, 0),
          ISNULL(CAST(LSMFILE.LSM_TRANS_FROM_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSMFILE.LSM_MISPAY_90_DATE  AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSMFILE.LSM_SECOND_BEN_NAME,''),
          ISNULL(LSMFILE.LSM_SECOND_BEN_ADR,''),
          ISNULL(LSMFILE.LSM_SECOND_BEN_CITY,''),
          ISNULL(LSMFILE.LSM_SECOND_BEN_ST,''),
          ISNULL(LSMFILE.LSM_SECOND_BEN_ZIP,''),
          ISNULL(LSMFILE.LSM_SECOND_BEN_PHONE, 0),
          ISNULL(LSMFILE.LSM_SECOND_BEN_RELATION,''),
          ISNULL(LSRFILE.LSR_BRNO, 0),
          ISNULL(LSRFILE.LSR_ACCTNO, 0),
          ISNULL(LSRFILE.LSR_SEQNO, 0),
          ISNULL(LSRFILE.LSR_SCRA_ACTIVE,''),
          ISNULL(CAST(LSRFILE.LSR_SCRA_START_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSRFILE.LSR_SCRA_END_DATE   
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSRFILE.LSR_SCRA_BORROWER,''),
          ISNULL(CAST(LSRFILE.LSR_CURRENT_RESCHED_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSRFILE.LSR_CURRENT_REASON_CODE,''),
          ISNULL(CAST(LSRFILE.LSR_INITIAL_RESCHED_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSRFILE.LSR_INITIAL_REASON_CODE,''),
          ISNULL(CAST(LSRFILE.LSR_INITIAL_TDR_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSRFILE.LSR_INITIAL_TDR_REASON,''),
          ISNULL(CAST(LSRFILE.LSR_CURRENT_TDR_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSRFILE.LSR_CURRENT_TDR_REASON,''),
          ISNULL(LSXFILE.LSX_BRNO, 0),
          ISNULL(LSXFILE.LSX_ACCTNO, 0),
          ISNULL(LSXFILE.LSX_SEQNO, 0),
          ISNULL(CAST(LSXFILE.LSX_REPODATE        
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_TITLE_MILEAGE, 0),
          ISNULL(LSXFILE.LSX_VOLUNTARY_FG,''),
          ISNULL(LSXFILE.LSX_PERFECT,''),
          ISNULL(CAST(LSXFILE.LSX_AUTHORIZED_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_AUTHORIZED_BY,''),
          ISNULL(LSXFILE.LSX_REASON,''),
          ISNULL(LSXFILE.LSX_X_ASSIGNED_TO,''),
          ISNULL(CAST(LSXFILE.LSX_ASSIGNED_DATE   
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_REPO_CKNO, 0),
          ISNULL(CAST(LSXFILE.LSX_REPO_CKDATE     
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_REPO_CKAMT, 0),
          ISNULL(LSXFILE.LSX_STORED_ADR1,''),
          ISNULL(CAST(LSXFILE.LSX_STORED_CKDATE   
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_STORED_CKNO, 0),
          ISNULL(LSXFILE.LSX_STORED_CKAMT, 0),
          ISNULL(CAST(LSXFILE.LSX_REDEEM_DATE     
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_BUREAU_NOTIFIED,''),
          ISNULL(CAST(LSXFILE.LSX_BUREAU_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_BUREAU_BY,''),
          ISNULL(CAST(LSXFILE.LSX_10DAY_DATE    
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_10DAY_BY,''),
          ISNULL(LSXFILE.LSX_10DAY_COST, 0),
          ISNULL(CAST(LSXFILE.LSX_TITLE_APPL_DATE AS VARCHAR(10)),'0'),
          ISNULL(LSXFILE.LSX_TITLE_APPL_BY,''),
          ISNULL(LSXFILE.LSX_TITLE_APPL_COST, 0),
          ISNULL(LSXFILE.LSX_COND_MILEAGE, 0),
          ISNULL(LSXFILE.LSX_COND_REPORT_Y_N,''),
          ISNULL(LSXFILE.LSX_REPAIRS_DESC_1,''),
          ISNULL(LSXFILE.LSX_REPAIRS_DESC_2,''),
          ISNULL(LSXFILE.LSX_REPAIRS_COST, 0),
          ISNULL(LSXFILE.LSX_ASSIGN_TO_1,''),
          ISNULL(LSXFILE.LSX_ASSIGN_TO_2,''),
          ISNULL(CAST(LSXFILE.LSX_ASSIGN_COMPLETE_DATE_1
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSXFILE.LSX_ASSIGN_COMPLETE_DATE_2
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSXFILE.LSX_ASSIGN_CKDATE_1 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSXFILE.LSX_ASSIGN_CKDATE_2 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_ASSIGN_CKNO_1, 0),
          ISNULL(LSXFILE.LSX_ASSIGN_CKNO_2, 0),
          ISNULL(LSXFILE.LSX_ASSIGN_CKAMT_1, 0),
          ISNULL(LSXFILE.LSX_ASSIGN_CKAMT_2, 0),
          ISNULL(LSXFILE.LSX_OTH_EXP_1,''),
          ISNULL(LSXFILE.LSX_OTH_EXP_2,''),
          ISNULL(LSXFILE.LSX_OTH_EXP_3,''),
          ISNULL(CAST(LSXFILE.LSX_OTH_EXP_CKDATE_1
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSXFILE.LSX_OTH_EXP_CKDATE_2
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSXFILE.LSX_OTH_EXP_CKDATE_3
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_OTH_EXP_CKNO_1, 0),
          ISNULL(LSXFILE.LSX_OTH_EXP_CKNO_2, 0),
          ISNULL(LSXFILE.LSX_OTH_EXP_CKNO_3, 0),
          ISNULL(LSXFILE.LSX_OTH_EXP_CKAMT_1, 0),
          ISNULL(LSXFILE.LSX_OTH_EXP_CKAMT_2, 0),
          ISNULL(LSXFILE.LSX_OTH_EXP_CKAMT_3, 0),
          ISNULL(CAST(LSXFILE.LSX_INS_RB_REQ_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSXFILE.LSX_INS_RB_REC_DATE 
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_INS_RB_AMT, 0),
          ISNULL(CAST(LSXFILE.LSX_RB_REQ_DATE     
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSXFILE.LSX_RB_REC_DATE     
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_RB_AMT, 0),
          ISNULL(CAST(LSXFILE.LSX_SIC_INS_FILE_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LSXFILE.LSX_SIC_INS_PAID_DATE
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_SIC_INS_PAID_AMT, 0),
          ISNULL(LSXFILE.LSX_BOOK_VALUE, 0),
          ISNULL(LSXFILE.LSX_SOLD_TO_1,''),
          ISNULL(LSXFILE.LSX_SOLD_TO_2,''),
          ISNULL(LSXFILE.LSX_SOLD_TO_3,''),
          ISNULL(CAST(LSXFILE.LSX_SOLD_TO_DATE    
                                   AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_SOLD_TO_AMT, 0),
          ISNULL(LSXFILE.LSX_DLNO, 0),
          ISNULL(LSXFILE.LSX_DLR_RSV_CKNO, 0),
          ISNULL(LSXFILE.LSX_DLR_RSV_CKAMT, 0),
          ISNULL(LSXFILE.LSX_PL_EXPENSE, 0),
          ISNULL(LSXFILE.LSX_DEFICIENCY_Y_N,''),
          ISNULL(LSXFILE.LSX_NET_BAL_DUE, 0),
          ISNULL(LSXFILE.LSX_DEFICIENCY_BAL, 0),
          ISNULL(LSXFILE.LSX_AUCTION_EXPENSE, 0),
          ISNULL(LSXFILE.LSX_REASON_CODE,''),
          ISNULL(LSXFILE.LSX_TRIM,''),
          ISNULL(LSXFILE.LSX_DOORS,''),
          ISNULL(LSXFILE.LSX_COLOR,''),
          ISNULL(LSXFILE.LSX_CYLINDERS, 0),
          ISNULL(LSXFILE.LSX_AUTO_TRANS,''),
          ISNULL(LSXFILE.LSX_AC,''),
          ISNULL(LSXFILE.LSX_SROOF,''),
          ISNULL(LSXFILE.LSX_LEATHER,''),
          ISNULL(LSXFILE.LSX_4WD,''),
          ISNULL(LSXFILE.LSX_DIESEL,''),
          ISNULL(LSXFILE.LSX_DUAL_AIR,''),
          ISNULL(LSXFILE.LSX_EXT_CAB,''),
          ISNULL(LSXFILE.LSX_AGENT_PHONE, 0),
          ISNULL(LSXFILE.LSX_AGENT_FAX, 0),
          ISNULL(LSXFILE.LSX_STORED_ADR2,''),
          ISNULL(LSXFILE.LSX_X_STORED_CITY,''),
          ISNULL(LSXFILE.LSX_X_STORED_STATE,''),
          ISNULL(LSXFILE.LSX_X_STORED_ZIP,''),
          ISNULL(LSXFILE.LSX_INS_CLAIM_PENDING,''),
          ISNULL(LSXFILE.LSX_WARRANTY_AVAILABLE,''),
          ISNULL(LSXFILE.LSX_INS_REBATE_REQUESTED,''),
          ISNULL(LSXFILE.LSX_EXTRACTED,''),
          ISNULL(CAST(LSXFILE.LSX_TITLE_SENT_DATE 
                                    AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_DISPOSAL_HOLD,''),
          ISNULL(CAST(LSXFILE.LSX_NEXT_HLD_RVW_DATE
                                    AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LSXFILE.LSX_CASE_ID, 0),
          ISNULL(LSXFILE.LSX_COLLATERAL_LOCATION,''),
          ISNULL(LSXFILE.LSX_VIN_MATCH,''),
          ISNULL(LSXFILE.LSX_PERSONALS,''),
          ISNULL(LSXFILE.LSX_KEYS,''),
          ISNULL(LSXFILE.LSX_DRIVES,''),
          ISNULL(LSXFILE.LSX_DMG,''),
          ISNULL(LSXFILE.LSX_Y_ASSIGNED_TO,''),
          ISNULL(LSXFILE.LSX_SUPPLIER_ID, 0),
          ISNULL(LSXFILE.LSX_TRANSPORT_EMAIL,''),
          ISNULL(LSXFILE.LSX_STORED_LOCATION,''),
          ISNULL(LSXFILE.LSX_STORED_ADDRESS,''),
          ISNULL(LSXFILE.LSX_Y_STORED_CITY,''),
          ISNULL(LSXFILE.LSX_Y_STORED_STATE,''),
          ISNULL(LSXFILE.LSX_Y_STORED_ZIP,''),
          ISNULL(LSXFILE.LSX_AGENCY_NAME,''),
          ISNULL(LSXFILE.LSX_AGENCY_ADDRESS,''),
          ISNULL(LSXFILE.LSX_AGENCY_CITY,''),
          ISNULL(LSXFILE.LSX_AGENCY_STATE,''),
          ISNULL(LSXFILE.LSX_AGENCY_ZIP,''),
          ISNULL(LSXFILE.LSX_AGENCY_PHONE, 0),
          ISNULL(NOFILE.NO_BRNO, 0)          AS NO_BRNO,
          ISNULL(NOFILE.NO_ACCTNO, 0)        AS NO_ACCTNO,
          ISNULL(CAST(NOFILE.NO_LTOUCH_DATE
            AS VARCHAR(10)),'1900-01-01')    AS NO_LTOUCH_DATE,
          ISNULL(CAST(NOFILE.NO_TDUE_DATE
            AS VARCHAR(10)),'0')             AS NO_TDUE_DATE,
          ISNULL(NOFILE.NO_TDUELC, 0)        AS NO_TDUELC, 
          ISNULL(NOFILE.NO_TDUEAMT, 0)       AS NO_TDUEAMT, 
          ISNULL(NOFILE.NO_TDUEPRIN, 0)      AS NO_TDUEPRIN,
          ISNULL(NOFILE.NO_TDUETBAL, 0)      AS NO_TDUETBAL,
          ISNULL(NOFILE.NO_TDUEPOFF, 0)      AS NO_TDUEPOFF,
          ISNULL(CAST(NOFILE.NO_LDUE_DATE
            AS VARCHAR(10)),'1900-01-01')    AS NO_LDUE_DATE,
          ISNULL(NOFILE.NO_LDUELC, 0)        AS NO_LDUELC, 
          ISNULL(NOFILE.NO_LDUEAMT, 0)       AS NO_LDUEAMT,
          ISNULL(CAST(NOFILE.NO_DATE_PAID_LAST
            AS VARCHAR(10)),'1900-01-01')    AS NO_DATE_PAID_LAST,
          ISNULL(NOFILE.NO_AMT_PAID_LAST, 0) AS NO_AMT_PAID_LAST,
          ISNULL(NOFILE.NO_LSTLPKEY,'')      AS NO_LSTLPKEY,
          ISNULL(CAST(NOFILE.NO_NXDUE_DATE
            AS VARCHAR(10)),'1900-01-01')    AS NO_NXDUE_DATE,
          ISNULL(NOFILE.NO_NXDUEAMT, 0)      AS NO_NXDUEAMT,
          ISNULL(NOFILE.NO_NXDUELC, 0)       AS NO_NXDUELC, 
          ISNULL(NOFILE.NO_TRUCONTR, 0)      AS NO_TRUCONTR,
          ISNULL(NOFILE.NO_RECENCY, 0)       AS NO_RECENCY, 
          ISNULL(CAST(NOFILE.NO_PDTH_DATE     
            AS VARCHAR(10)),'1900-01-01')    AS NO_PDTH_DATE,
          ISNULL(CAST(NOFILE.NO_LCPDTH_DATE
            AS VARCHAR(10)),'1900-01-01')    AS NO_LCPDTH_DATE,
          ISNULL(NOFILE.NO_LCHG_INTDUE, 0)   AS NO_LCHG_INTDUE,
          ISNULL(NOFILE.NO_AVAILCREDIT, 0)   AS NO_AVAILCREDIT,
          ISNULL(NOFILE.NO_TDUEDELINQ, 0)    AS NO_TDUEDELINQ, 
          ISNULL(NOFILE.NO_DEFERMENT, 0)     AS NO_DEFERMENT, 
          ISNULL(CAST(NOFILE.NO_TRUE_DUE_DATE
            AS VARCHAR(10)),'1900-01-01')    AS NO_TRUE_DUE_DATE,
          ISNULL(NOFILE.NO_SCHED_PAYMENT, 0) AS NO_SCHED_PAYMENT,
          ISNULL(NOFILE.NO_TDUECONTR, 0)     AS NO_TDUECONTR,  
          ISNULL(NOFILE.NO_LDUECONTR, 0)     AS NO_LDUECONTR,  
          ISNULL(NOFILE.NO_NXDUECONTR, 0)    AS NO_NXDUECONTR, 
          ISNULL(NOFILE.NO_CURRENT_AVAIL, 0) AS NO_CURRENT_AVAIL,
          ISNULL(NOFILE.NO_LATE_CHG, 0)      AS NO_LATE_CHG,   
          ISNULL(NOFILE.NO_PAST_DUE_DAYS, 0) AS NO_PAST_DUE_DAYS,
          ISNULL(NOFILE.NO_RECDEL, 0)        AS NO_RECDEL,     
          ISNULL(NOFILE.NO_AVCR_RESTRICT_FG,'') 
                                             AS NO_AVCR_RESTRICT_FG, 
          ISNULL(NOFILE.NO_INDU_PENALTY, 0)  AS NO_INDU_PENALTY,
          ISNULL(NOFILE.NO_CPOT30,'')        AS NO_CPOT30,
          ISNULL(NOFILE.NO_RDPOT30,'')       AS NO_RDPOT30,
          ISNULL(NOFILE.NO_CPOTCHGOFF,'')    AS NO_CPOTCHGOFF,
          ISNULL(NOFILE.NO_RDPOTCHGOFF,'')   AS NO_RDPOTCHGOFF,
          ISNULL(NOFILE.NO_CSUB, 0)          AS NO_CSUB, 
          ISNULL(NOFILE.NO_RSUB, 0)          AS NO_RSUB

     FROM

  (SELECT LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          CASE WHEN @QWS_PL           = 'O'
                AND LNFILE.LN_PLDATE  = '1900-01-01'
               THEN 'N'
      		   WHEN @QWS_PL           = 'S'
                AND LNFILE.LN_PLDATE != '1900-01-01'
               THEN 'N' 
               WHEN LNFILE.LN_PLDATE != '1900-01-01'
                AND @QWS_PLACTIVE     = 'A'
                AND LNFILE.LN_PLCD   != 'P'
               THEN 'N' 
               WHEN LNFILE.LN_PLDATE != '1900-01-01'
                AND @QWS_PLACTIVE     = 'I'
                AND LNFILE.LN_PLCD   != 'I'
                AND LNFILE.LN_PLCD   != 'W'
               THEN 'N'    
               WHEN LNFILE.LN_PLDATE != '1900-01-01'
                AND @QWS_PLTYPE      != 'A'
                AND LNFILE.LN_PLTYPE != @QWS_PLTYPE
               THEN 'N'
               WHEN LNFILE.LN_PLDATE != '1900-01-01'
                AND LNFILE.LN_PLDATE  < @QWS_PL_FROM_DATE
                AND LNFILE.LN_DATE_PAID_LAST 
                                      = '1900-01-01'
               THEN 'N'
               WHEN LNFILE.LN_PLDATE != '1900-01-01'
                AND LNFILE.LN_PLDATE  < @QWS_PL_FROM_DATE
                AND LNFILE.LN_DATE_PAID_LAST 
                                      < @QWS_TEST_DATE_PAID_LAST
               THEN 'N'
               WHEN @QWS_ZBAL         = 'O'
               AND (LNFILE.LN_CURBAL != 0 
                 OR LNFILE.LN_INTBAL != 0 
                 OR LNFILE.LN_LCBAL  != 0 
                 OR LNFILE.LN_OTHBAL != 0 )
               THEN 'N'
               WHEN @QWS_ZBAL         = 'S'
               AND (LNFILE.LN_CURBAL  = 0 
               AND  LNFILE.LN_INTBAL  = 0 
               AND  LNFILE.LN_LCBAL   = 0 
               AND  LNFILE.LN_OTHBAL  = 0 )
               THEN 'N'
               WHEN LNFILE.LN_POFFDATE != '1900-01-01'
                AND @QWS_ZBAL_DATE     != @QWS_JULIAN_BEG
                AND LNFILE.LN_POFFDATE < @QWS_ZBAL_DATE
               THEN 'N'
               ELSE 'Y'
           END  AS USE_SW     

     FROM DBO.LNFILE  LNFILE

    WHERE    LNFILE.LN_OWNBR            = @QLN3_WBEG_OWNBR
      AND    LNFILE.LN_CLASS      BETWEEN @QLN3_WBEG_CLASS
                                      AND @QLN3_WEND_CLASS) TEMP 

     LEFT OUTER JOIN
            DBO.LSDFILE  LSDFILE
       ON (  TEMP.LN_OWNBR            = LSDFILE.LSD_BRNO   
      AND    TEMP.LN_ACCTNO           = LSDFILE.LSD_ACCTNO
      AND    LSDFILE.LSD_SEQNO          = 1 ) 

     LEFT OUTER JOIN
            DBO.LSFFILE  LSFFILE
       ON (  TEMP.LN_OWNBR            = LSFFILE.LSF_BRNO   
      AND    TEMP.LN_ACCTNO           = LSFFILE.LSF_ACCTNO
      AND    LSFFILE.LSF_SEQNO          = 1 ) 

     LEFT OUTER JOIN
            DBO.LSJFILE  LSJFILE
       ON (  TEMP.LN_OWNBR            = LSJFILE.LSJ_BRNO   
      AND    TEMP.LN_ACCTNO           = LSJFILE.LSJ_ACCTNO
      AND    LSJFILE.LSJ_SEQNO          = 1 )

     LEFT OUTER JOIN
            DBO.LSLFILE  LSLFILE
       ON (  TEMP.LN_OWNBR            = LSLFILE.LSL_BRNO   
      AND    TEMP.LN_ACCTNO           = LSLFILE.LSL_ACCTNO
      AND    LSLFILE.LSL_SEQNO          = 1 ) 

     LEFT OUTER JOIN
            DBO.LSMFILE  LSMFILE
       ON (  TEMP.LN_OWNBR            = LSMFILE.LSM_BRNO   
      AND    TEMP.LN_ACCTNO           = LSMFILE.LSM_ACCTNO
      AND    LSMFILE.LSM_SEQNO          = 1 )

     LEFT OUTER JOIN
            DBO.LSRFILE  LSRFILE
       ON (  TEMP.LN_OWNBR            = LSRFILE.LSR_BRNO   
      AND    TEMP.LN_ACCTNO           = LSRFILE.LSR_ACCTNO
      AND    LSRFILE.LSR_SEQNO          = 1 )

     LEFT OUTER JOIN
            DBO.LSXFILE  LSXFILE
       ON (  TEMP.LN_OWNBR            = LSXFILE.LSX_BRNO   
      AND    TEMP.LN_ACCTNO           = LSXFILE.LSX_ACCTNO
      AND    LSXFILE.LSX_SEQNO          = 1 )

     LEFT OUTER JOIN
            DBO.NOFILE  NOFILE
       ON (  TEMP.LN_OWNBR            = NOFILE.NO_BRNO   
      AND    TEMP.LN_ACCTNO           = NOFILE.NO_ACCTNO )

    WHERE TEMP.USE_SW = 'Y'  

    ORDER BY TEMP.LN_OWNBR,
             TEMP.LN_CLASS,
             TEMP.LN_ACCTNO;
             
END
GO
