USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LXFILE_LXFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LXFILE_LXFILE_SELECT              */
/*               PROGRAM NAME: UT/LXFILE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 03/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LXFILE, LXEFILE, LXGFILE                                */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_LXFILE_LXFILE_SELECT]
    @QLX_WBEG_BRNO    AS INT,
	@QLX_WBEG_ACCTNO  AS INT,
	@QLX_WEND_ACCTNO  AS INT

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLX_WBEG_BRNO    INT
--DECLARE @QLX_WBEG_ACCTNO  INT
--DECLARE @QLX_WEND_ACCTNO  INT

--SET @QLX_WBEG_BRNO    = 1504
--SET @QLX_WBEG_ACCTNO  = 0
--SET @QLX_WEND_ACCTNO  = 99999999

            SELECT TMP.BRNO,
                   TMP.ACCTNO,
                   TMP.SEQNO,
				   ISNULL(LXFILE.LX_BRNO,0),
                   LXFILE.LX_ACCTNO,
                   LXFILE.LX_SEQNO,
                   CAST(LXFILE.LX_LTOUCH_DATE AS VARCHAR(10)),
                   LXFILE.LXT_CODE,
                   LXFILE.LXT_EARN_1,
                   LXFILE.LXT_EARN_2,
                   LXFILE.LXT_EARN_3,
                   LXFILE.LXT_EARN_4,
                   LXFILE.LXT_EARN_5,
                   LXFILE.LXT_EARN_6,
                   LXFILE.LXT_EARN_7,
                   LXFILE.LXT_EARN_8,
                   LXFILE.LXT_EARN_9,
                   LXFILE.LXT_EARN_10,
                   LXFILE.LXT_EARN_11,
                   LXFILE.LXT_EARN_12,
                   LXFILE.LXT_EARN_13,
                   LXFILE.LXT_EARN_14,
                   LXFILE.LXT_EARN_15,
                   LXFILE.LXT_EARN_16,
                   LXFILE.LXT_EARN_17,
                   LXFILE.LXT_EARN_18,
                   LXFILE.LXT_EARN_19,
                   LXFILE.LXT_EARN_20,
                   LXFILE.LXP_CODE,
                   LXFILE.LXP_EARN_1,
                   LXFILE.LXP_EARN_2,
                   LXFILE.LXP_EARN_3,
                   LXFILE.LXP_EARN_4,
                   LXFILE.LXP_EARN_5,
                   LXFILE.LXP_EARN_6,
                   LXFILE.LXP_EARN_7,
                   LXFILE.LXP_EARN_8,
                   LXFILE.LXP_EARN_9,
                   LXFILE.LXP_EARN_10,
                   LXFILE.LXP_EARN_11,
                   LXFILE.LXP_EARN_12,
                   LXFILE.LXP_EARN_13,
                   LXFILE.LXP_EARN_14,
                   LXFILE.LXP_EARN_15,
                   LXFILE.LXP_EARN_16,
                   LXFILE.LXP_EARN_17,
                   LXFILE.LXP_EARN_18,
                   LXFILE.LXP_EARN_19,
                   LXFILE.LXP_EARN_20,
                   LXFILE.LXA_CODE,
                   LXFILE.LXA_SRCD,
                   LXFILE.LXA_START_PMT_1,
                   LXFILE.LXA_END_PMT_1,
                   LXFILE.LXA_NET_CHANGE_1,
                   LXFILE.LXA_START_PMT_2,
                   LXFILE.LXA_END_PMT_2,
                   LXFILE.LXA_NET_CHANGE_2,
                   LXFILE.LXA_START_PMT_3,
                   LXFILE.LXA_END_PMT_3,
                   LXFILE.LXA_NET_CHANGE_3,
                   LXFILE.LXA_START_PMT_4,
                   LXFILE.LXA_END_PMT_4,
                   LXFILE.LXA_NET_CHANGE_4,
                   LXFILE.LXA_START_PMT_5,
                   LXFILE.LXA_END_PMT_5,
                   LXFILE.LXA_NET_CHANGE_5,
                   LXFILE.LXA_START_PMT_6,
                   LXFILE.LXA_END_PMT_6,
                   LXFILE.LXA_NET_CHANGE_6,
                   LXFILE.LXA_START_PMT_7,
                   LXFILE.LXA_END_PMT_7,
                   LXFILE.LXA_NET_CHANGE_7,
                   LXFILE.LXA_START_PMT_8,
                   LXFILE.LXA_END_PMT_8,
                   LXFILE.LXA_NET_CHANGE_8,
                   LXFILE.LXA_START_PMT_9,
                   LXFILE.LXA_END_PMT_9,
                   LXFILE.LXA_NET_CHANGE_9,
                   LXFILE.LXA_LN_INSCOMP,
                   LXFILE.LXA_LN_INSOURS,
                   CAST(LXFILE.LXA_LN_INSEFF_DATE AS VARCHAR(10)),
                   CAST(LXFILE.LXA_LN_INSEXP_DATE AS VARCHAR(10)),
                   LXFILE.LXA_LN_INSPREM,
                   LXFILE.LXA_LN_INSCOVR,
                   LXFILE.LXA_LN_INSCOMM,
                   LXFILE.LXA_LN_INS_REBATE,
                   LXFILE.LXA_LN_INSCODES,
                   LXFILE.LXZ_CODE,
                   LXFILE.LXZ_POST_REGPY,
                   LXFILE.LXZ_POST_EXTRA_PRIN,
                   LXFILE.LXZ_POST_OTH,
                   LXFILE.LXZ_POST_LCHG,
                   LXFILE.LXZ_PDUE_APINT,
                   LXFILE.LXZ_PDUE_APPRIN,
                   LXFILE.LXZ_CUR_APINT,
                   LXFILE.LXZ_CUR_APPRIN,
                   LXFILE.LXR_CODE,
                   LXFILE.LXR_REB_AMT,
                   LXFILE.LXX_CODE,
                   LXFILE.LXX_INS_TAX_COUNTY_CD,
                   LXFILE.LXX_INS_TAX_CITY_CD,
                   LXFILE.LXM_CODE,
                   LXFILE.LXM_MIP_CLPAID,
                   CAST(LXFILE.LXM_MIP_CLPDTH_DATE AS VARCHAR(10)),
                   LXFILE.LXM_MIP_AHPAID,
                   CAST(LXFILE.LXM_MIP_AHPDTH_DATE AS VARCHAR(10)),
  
                   ISNULL(LXEFILE.LXE_BRNO,0),
                   LXEFILE.LXE_ACCTNO,
                   LXEFILE.LXE_SEQNO,
                   CAST(LXEFILE.LXE_LTOUCH_DATE AS VARCHAR(10)),
                   LXEFILE.LXE_EARN_1,
                   LXEFILE.LXE_EARN_2,
                   LXEFILE.LXE_EARN_3,
                   LXEFILE.LXE_EARN_4,
                   LXEFILE.LXE_EARN_5,
                   LXEFILE.LXE_EARN_6,
                   LXEFILE.LXE_EARN_7,
                   LXEFILE.LXE_WORKER,
                   LXEFILE.LXE_WORKER2, 

			       ISNULL(LXGFILE.LXG_BRNO,0),
                   LXGFILE.LXG_ACCTNO,
                   LXGFILE.LXG_SEQNO,
                   CAST(LXGFILE.LXG_LTOUCH_DATE AS VARCHAR(10)),
                   LXGFILE.LXG_GLNO_1,
                   LXGFILE.LXG_GLAMT_1,
                   LXGFILE.LXG_GLNO_2,
                   LXGFILE.LXG_GLAMT_2,
                   LXGFILE.LXG_GLNO_3,
                   LXGFILE.LXG_GLAMT_3

  FROM
   (SELECT LXFILE.LX_BRNO   AS BRNO
          ,LXFILE.LX_ACCTNO AS ACCTNO
          ,LXFILE.LX_SEQNO  AS SEQNO
    FROM DBO.LXFILE
    WHERE LXFILE.LX_BRNO = @QLX_WBEG_BRNO
      AND LXFILE.LX_ACCTNO BETWEEN @QLX_WBEG_ACCTNO AND @QLX_WEND_ACCTNO
   
 UNION 
 
   SELECT LXEFILE.LXE_BRNO   AS BRNO
         ,LXEFILE.LXE_ACCTNO AS ACCTNO
		 ,LXEFILE.LXE_SEQNO  AS SEQNO
   FROM DBO.LXEFILE
   WHERE LXEFILE.LXE_BRNO = @QLX_WBEG_BRNO
     AND LXEFILE.LXE_ACCTNO BETWEEN @QLX_WBEG_ACCTNO AND @QLX_WEND_ACCTNO

 UNION

   SELECT LXGFILE.LXG_BRNO   AS BRNO
         ,LXGFILE.LXG_ACCTNO AS ACCTNO
		 ,LXGFILE.LXG_SEQNO  AS SEQNO
   FROM DBO.LXGFILE
   WHERE LXGFILE.LXG_BRNO  = @QLX_WBEG_BRNO
     AND LXGFILE.LXG_ACCTNO BETWEEN @QLX_WBEG_ACCTNO AND @QLX_WEND_ACCTNO) TMP
 
 LEFT OUTER JOIN DBO.LXFILE
    ON LXFILE.LX_BRNO = TMP.brno
   AND LXFILE.LX_ACCTNO = TMP.ACCTNO
   AND LXFILE.LX_SEQNO  = TMP.SEQNO
 
  LEFT OUTER JOIN DBO.LXEFILE
    ON LXEFILE.LXE_BRNO = TMP.brno
   AND LXEFILE.LXE_ACCTNO = TMP.ACCTNO
   AND LXEFILE.LXE_SEQNO  = TMP.SEQNO

  LEFT OUTER JOIN DBO.LXGFILE
    ON LXGFILE.LXG_BRNO = TMP.brno
   AND LXGFILE.LXG_ACCTNO = TMP.ACCTNO
   AND LXGFILE.LXG_SEQNO  = TMP.SEQNO

  ORDER BY TMP.ACCTNO, TMP.SEQNO

END 
GO
