USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_CPCORP_LMFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_CPCORP_LMFILE_SELECT              */
/*               PROGRAM NAME: LP/CPCORP.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 03/08/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LMFILE                                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_CPCORP_LMFILE_SELECT]
    @QLM1_WBEG_BRNO       AS INT,
    @QLM1_WBEG_ACCTNO     AS INT
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLM1_WBEG_BRNO     INT
--DECLARE @QLM1_WBEG_ACCTNO   INT

--SET @QLM1_WBEG_BRNO    = 1504 
--SET @QLM1_WBEG_ACCTNO  = 226 

   SELECT TOP 4 LMFILE.LM_BRNO,
          LMFILE.LM_ACCTNO,
          LMFILE.LM_DATE_REVERSED,
		  LMFILE.LM_SEQ,
          LMFILE.LM_MEMO

    FROM DBO.LMFILE  LMFILE
	
   WHERE LMFILE.LM_BRNO   = @QLM1_WBEG_BRNO
     AND LMFILE.LM_ACCTNO = @QLM1_WBEG_ACCTNO

   ORDER BY LMFILE.LM_ACCTNO,
            LMFILE.LM_DATE_REVERSED,
            LMFILE.LM_SEQ
             
END
GO
