USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_EMOTRG_TRPFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_EMOTRG_TRPFILE_SELECT             */
/*               PROGRAM NAME: LP/EMOTRG.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 08/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRPFILE LNFILE BWFILE                                   */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_EMOTRG_TRPFILE_SELECT]
    @QTRP1_WBEG_BRNO    AS INT,
    @QTRP1_WBEG_DATE    AS DATE,
    @QTRP1_WEND_DATE    AS DATE,
    @QTRP1_WBEG_CLASS   AS INT,
    @QTRP1_WEND_CLASS   AS INT

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRP1_WBEG_BRNO    INT
--DECLARE @QTRP1_WBEG_DATE    DATE
--DECLARE @QTRP1_WEND_DATE    DATE
--DECLARE @QTRP1_WBEG_CLASS   INT
--DECLARE @QTRP1_WEND_CLASS   INT 

--SET @QTRP1_WBEG_BRNO    =  10
--SET @QTRP1_WBEG_DATE    =  '2019-01-01'
--SET @QTRP1_WEND_DATE    =  '2019-01-31'
--SET @QTRP1_WBEG_CLASS   =  000
--SET @QTRP1_WEND_CLASS   =  999

            SELECT TRPFILE.TP_BRNO,
                   CAST(TRPFILE.TP_DATE AS VARCHAR(10)), 
                   TRPFILE.TP_CLASS,
                   TRPFILE.TP_ACCTNO,
                   TRPFILE.TP_LINE,
                   TRPFILE.TP_SSNO,
                   TRPFILE.TP_MAKER, 
                   TRPFILE.TP_IBPC, 
                   TRPFILE.TP_TRCD, 
                   TRPFILE.TP_REFNO, 
                   CAST(TRPFILE.TP_PAYDATE AS VARCHAR(10)), 
                   TRPFILE.TP_TRAMT,
                   TRPFILE.TP_INTDUE,
                   TRPFILE.TP_APOTH,
                   TRPFILE.TP_APINT,
                   TRPFILE.TP_APLC,
                   TRPFILE.TP_APCUR,
                   TRPFILE.TP_GLNO_1,
                   TRPFILE.TP_GLNO_2,
                   TRPFILE.TP_GLNO_3,
                   TRPFILE.TP_GLAMT_1,
                   TRPFILE.TP_GLAMT_2,
                   TRPFILE.TP_GLAMT_3,
                   TRPFILE.TP_EARNINGS_1,
                   TRPFILE.TP_EARNINGS_2,
                   TRPFILE.TP_EARNINGS_3,
                   TRPFILE.TP_EARNINGS_4,
                   TRPFILE.TP_EARNINGS_5,
                   TRPFILE.TP_EARNINGS_6,
                   TRPFILE.TP_EARNINGS_7,
                   TRPFILE.TP_EARNINGS_8,
                   TRPFILE.TP_EARNINGS_9,
                   TRPFILE.TP_EARNINGS_10,
                   TRPFILE.TP_OTHBAL,
                   TRPFILE.TP_INTBAL,
                   TRPFILE.TP_LCBAL,
                   TRPFILE.TP_CURBAL,
                   CAST(TRPFILE.TP_PDTH_DATE AS VARCHAR(10)), 
                   TRPFILE.TP_DLNO,
                   TRPFILE.TP_DLPROC,
                   TRPFILE.TP_SERVACCT, 
                   TRPFILE.TP_TILLNO,
                   CAST(TRPFILE.TP_LCPDTH_DATE AS VARCHAR(10)), 
                   TRPFILE.TP_POSTING_BR,
                   TRPFILE.TP_OTHBR_FG, 
                   TRPFILE.TP_REV, 
                   TRPFILE.TP_UNITPER_CD,
				   ISNULL(BWFILE.BW_FNAME,''),
				   ISNULL(BWFILE.BW_LNAME,''),
				   ISNULL(BWFILE.BW_SOLICIT,''),
				   ISNULL(LNFILE.LN_OWNBR,0),
                   ISNULL(LNFILE.LN_ACCTNO,0),
                   ISNULL(LNFILE.LN_CLASS,0),
                   ISNULL(LNFILE.LN_SUBCLASS,0),
                   ISNULL(LNFILE.LN_LAWCODE,0),
                   ISNULL(LNFILE.LN_ORGST,''),
                   ISNULL(LNFILE.LN_SPRCLASS,0),
                   ISNULL(LNFILE.LN_STATFLAGS,''),
                   ISNULL(CAST(LNFILE.LN_ORIG_1STPYDATE  AS VARCHAR(10)),'1900-01-01'),
                   ISNULL(CAST(LNFILE.LN_1STPYDATE       AS VARCHAR(10)),'1900-01-01'),
                   ISNULL(LNFILE.LN_ORGTERM,0),
                   ISNULL(LNFILE.LN_TOTNODEF,0),
                   ISNULL(LNFILE.LN_SUM_ORGTERM,0),
                   ISNULL(LNFILE.LN_UNITPER_CD,''),
                   ISNULL(LNFILE.LN_UNITPER_FREQ,0)

     FROM DBO.TRPFILE TRPFILE
	 
	 LEFT OUTER JOIN DBO.BWFILE BWFILE
	  ON BWFILE.BW_OWNBR  = TRPFILE.TP_BRNO 
      AND BWFILE.BW_SSNO  = TRPFILE.TP_SSNO

	 LEFT OUTER JOIN DBO.LNFILE LNFILE
	  ON LNFILE.LN_OWNBR   = TRPFILE.TP_BRNO
	  AND LNFILE.LN_ACCTNO = TRPFILE.TP_ACCTNO  

    WHERE TRPFILE.TP_BRNO = @QTRP1_WBEG_BRNO
      AND TRPFILE.TP_DATE  BETWEEN @QTRP1_WBEG_DATE  AND @QTRP1_WEND_DATE
      AND TRPFILE.TP_CLASS BETWEEN @QTRP1_WBEG_CLASS AND @QTRP1_WEND_CLASS
      AND TRPFILE.TP_TRCD IN ('OT', 'AP', 'O2', 'OP')
	  
	ORDER BY TRPFILE.TP_CLASS,
             TRPFILE.TP_ACCTNO,
	         TRPFILE.TP_DATE,
             TRPFILE.TP_LINE

END 
GO
