USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LPFILE_LPFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LPFILE_LPFILE_SELECT              */
/*               PROGRAM NAME: UT/LPFILE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 02/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LPFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_LPFILE_LPFILE_SELECT]
    @QLP1_WBEG_BRNO    AS INT,
	@QLP1_WBEG_ACCTNO  AS INT,
	@QLP1_WEND_ACCTNO  AS INT
 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLP1_WBEG_BRNO   INT
--DECLARE @QLP1_WBEG_ACCTNO INT
--DECLARE @QLP1_WEND_ACCTNO INT

--SET @QLP1_WBEG_BRNO    =  1504
--SET @QLP1_WBEG_ACCTNO  = 0
--SET @QLP1_WEND_ACCTNO  = 99999999

            SELECT LPFILE.LP_BRNO,
                   LPFILE.LP_ACCTNO,
                   LPFILE.LP_SEQNO,
                   CAST(LPFILE.LP_LTOUCH_DATE AS VARCHAR(10)),
                   LPFILE.LP_USERID,
                   CAST(LPFILE.LP_POSTDATE AS VARCHAR(10)),
                   LPFILE.LP_POSTTIME,
                   CAST(LPFILE.LP_TRDATE AS VARCHAR(10)),
                   CAST(LPFILE.LP_PAYDATE AS VARCHAR(10)),
                   LPFILE.LP_TRCD,
                   LPFILE.LP_REFNO,
                   LPFILE.LP_TRAMT,
                   LPFILE.LP_APOTH,
                   LPFILE.LP_APOT2,
                   LPFILE.LP_APINT,
                   LPFILE.LP_APLC,
                   LPFILE.LP_APCUR,
                   LPFILE.LP_OTHBAL,
                   LPFILE.LP_OT2BAL,
                   LPFILE.LP_INTBAL,
                   LPFILE.LP_LCBAL,
                   LPFILE.LP_CURBAL,
                   LPFILE.LP_INTDUE,
                   LPFILE.LP_DLPROC,
                   LPFILE.LP_EARNED_1,
                   LPFILE.LP_EARNED_2,
                   LPFILE.LP_EARNED_3,
                   LPFILE.LP_INTPAID,
                   LPFILE.LP_SSNO,
                   CAST(LPFILE.LP_PDTH_DATE    AS VARCHAR(10)),
                   CAST(LPFILE.LP_LCPDTH_DATE  AS VARCHAR(10)),
                   CAST(LPFILE.LP_INTPDTH_DATE AS VARCHAR(10)),
                   LPFILE.LP_TILLNO,
                   LPFILE.LP_APINTOWE,
                   LPFILE.LP_DLPARVHELD_ADJ,
                   LPFILE.LP_LT_SEQNO,
                   LPFILE.LP_IBPC,
                   LPFILE.LP_MANUAL_RB,
                   LPFILE.LP_INSTYPES,
                   LPFILE.LP_REV,
                   LPFILE.LP_REVTRCD,
                   LPFILE.LP_REVSEQNO,
                   LPFILE.LP_STATUSFG,
                   LPFILE.LP_NEWSTAT_RATE,
                   LPFILE.LP_LCPARTIALS,
                   LPFILE.LP_ADDON_ORIG_REGPY,
                   CAST(LPFILE.LP_NEW1ST_PYDATE AS VARCHAR(10)),
                   CAST(LPFILE.LP_DEF_DUEDATE   AS VARCHAR(10)),
                   LPFILE.LP_LCPAID,
                   CAST(LPFILE.LP_OLD1ST_PYDATE AS VARCHAR(10)),
                   LPFILE.LP_DEF_TERM,
                   LPFILE.LP_ADDON_LAST_PYAMT,
                   LPFILE.LP_DLRVCHGS_ADJ_1,
                   LPFILE.LP_DLRVCHGS_ADJ_2,
                   LPFILE.LP_DLRVCHGS_ADJ_3,
                   LPFILE.LP_DLPARVPAID_ADJ,
                   LPFILE.LP_DLNO,
                   LPFILE.LP_PREPAY_PENALTY,
                   LPFILE.LP_PRORATED_INS_REB,
                   LPFILE.LP_POSTING_BR,
                   LPFILE.LP_NOLCHG,
                   LPFILE.LP_COLLECTOR,
                   LPFILE.LP_EXTRA_PRIN_LFP,
                   LPFILE.LP_REMAIN_INT_SINCE_LFP,
                   LPFILE.LP_REMAIN_PRIN_SINCE_LFP,
                   LPFILE.LP_APPLIED_TO_ESCROW,
                   LPFILE.LP_ESCROW_PREPAID,
                   LPFILE.LP_PRIOR_POOLID,
                   CAST(LPFILE.LP_ADDON_INTPDTH_DATE AS VARCHAR(10)),
                   LPFILE.LP_FROMCL,
                   LPFILE.LP_TOCL,
                   LPFILE.LP_ALT_PREPAY_FG,
                   LPFILE.LP_REPAY_TRANS_ID
            FROM DBO.LPFILE
            WHERE LPFILE.LP_BRNO = @QLP1_WBEG_BRNO
              AND LPFILE.LP_ACCTNO BETWEEN @QLP1_WBEG_ACCTNO AND @QLP1_WEND_ACCTNO
            ORDER BY LPFILE.LP_ACCTNO, LPFILE.LP_SEQNO

END 
GO
