USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_NFMORP_TRLFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_NFMORP_TRLFILE_SELECT             */
/*               PROGRAM NAME: LP/NFMORP.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 08/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRLFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_NFMORP_TRLFILE_SELECT]
    @QTRL1_WBEG_BRNO    AS INT,
    @QTRL1_WBEG_DATE    AS DATE,
    @QTRL1_WEND_DATE    AS DATE,
    @QTRL1_WBEG_CLASS   AS INT,
    @QTRL1_WEND_CLASS   AS INT,
	@QTRL1_FEECODE      AS CHAR(2)
    
 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRL1_WBEG_BRNO    INT
--DECLARE @QTRL1_WBEG_DATE    DATE
--DECLARE @QTRL1_WEND_DATE    DATE
--DECLARE @QTRL1_WBEG_CLASS   INT
--DECLARE @QTRL1_WEND_CLASS   INT 
--DECLARE @QTRL1_FEECODE      CHAR(2)

--SET @QTRL1_WBEG_BRNO    =  0010
--SET @QTRL1_WBEG_DATE    =  '2010-01-01'
--SET @QTRL1_WEND_DATE    =  '2023-12-31'
--SET @QTRL1_WBEG_CLASS   =  000
--SET @QTRL1_WEND_CLASS   =  999
--SET @QTRL1_FEECODE      = '95'

  SELECT   TRLFILE.TL_BRNO,
           CAST(TRLFILE.TL_DATE AS VARCHAR(10)), 
           TRLFILE.TL_CLASS,
           TRLFILE.TL_ACCTNO,
           TRLFILE.TL_LAWCODE,
           TRLFILE.TL_LINE,
           TRLFILE.TL_SRCD, 
           TRLFILE.TL_FEECODE_1, 
           TRLFILE.TL_FEECODE_2, 
           TRLFILE.TL_FEECODE_3, 
           TRLFILE.TL_FEECODE_4, 
           TRLFILE.TL_FEECODE_5,
           TRLFILE.TL_FEECODE_6, 
           TRLFILE.TL_FEECODE_7,
           TRLFILE.TL_FEECODE_8, 
           TRLFILE.TL_FEECODE_9,
           TRLFILE.TL_FEECODE_10,
           TRLFILE.TL_FEECODE_11,
           TRLFILE.TL_FEECODE_12,
           TRLFILE.TL_FEECODE_13,
           TRLFILE.TL_FEECODE_14,
           TRLFILE.TL_FEECODE_15,
           TRLFILE.TL_FEECODE_16,
           TRLFILE.TL_FEECODE_17,
           TRLFILE.TL_FEECODE_18,
           TRLFILE.TL_FEECODE_19,
           TRLFILE.TL_FEECODE_20,
           TRLFILE.TL_FEEAMT_1,
           TRLFILE.TL_FEEAMT_2,
           TRLFILE.TL_FEEAMT_3,
           TRLFILE.TL_FEEAMT_4,
           TRLFILE.TL_FEEAMT_5,
           TRLFILE.TL_FEEAMT_6,
           TRLFILE.TL_FEEAMT_7,
           TRLFILE.TL_FEEAMT_8,
           TRLFILE.TL_FEEAMT_9,
           TRLFILE.TL_FEEAMT_10,
           TRLFILE.TL_FEEAMT_11,
           TRLFILE.TL_FEEAMT_12,
           TRLFILE.TL_FEEAMT_13,
           TRLFILE.TL_FEEAMT_14,
           TRLFILE.TL_FEEAMT_15,
           TRLFILE.TL_FEEAMT_16,
           TRLFILE.TL_FEEAMT_17,
           TRLFILE.TL_FEEAMT_18,
           TRLFILE.TL_FEEAMT_19,
           TRLFILE.TL_FEEAMT_20
    FROM   DBO.TRLFILE TRLFILE
   WHERE  TRLFILE.TL_BRNO   = @QTRL1_WBEG_BRNO
     AND  TRLFILE.TL_DATE  BETWEEN @QTRL1_WBEG_DATE  AND @QTRL1_WEND_DATE
     AND  TRLFILE.TL_CLASS BETWEEN @QTRL1_WBEG_CLASS AND @QTRL1_WEND_CLASS
	 AND (TL_FEECODE_1  = @QTRL1_FEECODE OR TL_FEECODE_2 = @QTRL1_FEECODE OR TL_FEECODE_3 = @QTRL1_FEECODE OR
	      TL_FEECODE_4  = @QTRL1_FEECODE OR TL_FEECODE_5 = @QTRL1_FEECODE OR TL_FEECODE_6 = @QTRL1_FEECODE OR 
	      TL_FEECODE_7  = @QTRL1_FEECODE OR TL_FEECODE_8 = @QTRL1_FEECODE OR TL_FEECODE_9 = @QTRL1_FEECODE OR
		  TL_FEECODE_10 = @QTRL1_FEECODE)

   ORDER BY TRLFILE.TL_CLASS,
            TRLFILE.TL_ACCTNO,
            TRLFILE.TL_DATE,
            TRLFILE.TL_LAWCODE,
            TRLFILE.TL_LINE

END 
GO
