USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_NONACR_TRPFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_NONACR_TRPFILE_SELECT             */
/*               PROGRAM NAME: LP/NONACR.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRPFILE, TRLFILE, LNFILE, BWFILE, LPFILE, SPAFILE       */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_NONACR_TRPFILE_SELECT]
    @QTRP1_WBEG_BRNO     AS INT,          
    @QTRP1_WBEG_DATE     AS DATE,
    @QTRP1_WEND_DATE     AS DATE,
    @QTRP1_WBEG_CLASS    AS INT,
    @QTRP1_WEND_CLASS    AS INT

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRP1_WBEG_BRNO    INT          
--DECLARE @QTRP1_WBEG_DATE    DATE  
--DECLARE @QTRP1_WEND_DATE    DATE
--DECLARE @QTRP1_WBEG_CLASS   INT
--DECLARE @QTRP1_WEND_CLASS   INT

--SET @QTRP1_WBEG_BRNO    =  0010        
--SET @QTRP1_WBEG_DATE    =  '2019-12-01'  
--SET @QTRP1_WEND_DATE    =  '2019-12-31' 
--SET @QTRP1_WBEG_CLASS   =  000 
--SET @QTRP1_WEND_CLASS   =  999


 SELECT WK2.WK2_BRANCH,
        WK2.WK2_CLASS,
        WK2.WK2_ACCTNO,
        CAST(WK2.WK2_DATE                  AS VARCHAR(10)),
        WK2.WK2_LINE,
        WK2.WK2_INT,
        WK2.WK2_ADDON,  
        WK2.WK2_SRV,  
        WK2.WK2_MFEE, 
        WK2.WK2_DISC, 
        WK2.WK2_OTHER, 
        WK2.WK2_INT_RB,
        WK2.WK2_SRV_RB,
        WK2.WK2_MFEE_RB,
        CAST(WK2.WK2_NON_ACCRUAL_DATE      AS VARCHAR(10)),
        ISNULL(LNFILE.LN_OWNBR, 0),
        ISNULL(LNFILE.LN_ACCTNO, 0),
        ISNULL(LNFILE.LN_CLASS, 0),
        ISNULL(LNFILE.LN_SUBCLASS, 0),
        ISNULL(LNFILE.LN_LAWCODE, 0),
        ISNULL(LNFILE.LN_SSNO1, 0),
        ISNULL(LNFILE.LN_ORGST,' '),
        ISNULL(LNFILE.LN_SPRCLASS, 0),
        ISNULL(LNFILE.LN_POCD,' '),
        ISNULL(LNFILE.LN_SALEFIN,' '),
        ISNULL(LNFILE.LN_STATFLAGS,' '),
        ISNULL(CAST(LNFILE.LN_LOANDATE     AS VARCHAR(10)),'0'),
        ISNULL(CAST(LNFILE.LN_PURDATE      AS VARCHAR(10)),'0'),
        ISNULL(CAST(LNFILE.LN_ORIG_1STPYDATE
                                           AS VARCHAR(10)),'0'),
        ISNULL(CAST(LNFILE.LN_1STPYDATE
                                           AS VARCHAR(10)),'0'),
        ISNULL(CAST(LNFILE.LN_POFFDATE     AS VARCHAR(10)),'0'),
        ISNULL(LNFILE.LN_ORGTERM, 0),
        ISNULL(LNFILE.LN_DLNO, 0),
        ISNULL(LNFILE.LN_CURBAL, 0),
        ISNULL(LNFILE.LN_PRIOR_UNEARNED, 0),
        ISNULL(LNFILE.LN_TOTNODEF, 0),
        ISNULL(LNFILE.LN_SUM_ORGTERM, 0),
        ISNULL(LNFILE.LN_UNITPER_CD,' '),
        ISNULL(LNFILE.LN_UNITPER_FREQ, 0),
        ISNULL(BWFILE.BW_OWNBR, 0),
        ISNULL(BWFILE.BW_SSNO, 0),
        ISNULL(BWFILE.BW_LNAME,' '),
        ISNULL(BWFILE.BW_FNAME,' '),
        ISNULL(BWFILE.BW_SPSSNO, 0),
        ISNULL(BWFILE.BW_SPLNAME,' '),
        ISNULL(BWFILE.BW_SPFNAME,' '),
        ISNULL(BWFILE.BW_SOLICIT,' '),
        ISNULL(LCFILE.LC_CODE, 0),
        ISNULL(LCFILE.LC_DESC,' '),
        ISNULL(SPAFILE.SPA_ORGST,' '),
        ISNULL(SPAFILE.SPA_SPRCLASS, 0),
        ISNULL(SPAFILE.SPA_SUBCLASS, 0),
        ISNULL(SPAFILE.SPA_LAWCODE, 0),
        ISNULL(SPAFILE.SPA_EXPD_FRMLA,' ')
   FROM
    (SELECT ISNULL(TL.TL_BRNO,   TP.TP_BRNO)   AS WK2_BRANCH,
            ISNULL(TL.TL_CLASS,  TP.TP_CLASS)  AS WK2_CLASS,
            ISNULL(TL.TL_ACCTNO, TP.TP_ACCTNO) AS WK2_ACCTNO,
            ISNULL(TL.TL_DATE,   TP.TP_DATE)   AS WK2_DATE,
            ISNULL(TL.TL_LINE,   TP.TP_LINE)   AS WK2_LINE,
            (ISNULL(TL.TL_INT,     '0')   + 
 		    ISNULL(TP.TP_INT,     '0'))       AS WK2_INT,
            (ISNULL(TL.TL_ADDON,   '0')   + 
 		    ISNULL(TP.TP_ADDON,   '0'))       AS WK2_ADDON, 
            (ISNULL(TL.TL_SRV,   '0')   + 
 		    ISNULL(TP.TP_SRV,   '0'))         AS WK2_SRV,
            (ISNULL(TL.TL_MFEE,    '0')   + 
 		    ISNULL(TP.TP_MFEE,    '0'))       AS WK2_MFEE, 
            (ISNULL(TL.TL_DISC,    '0')   + 
 		    ISNULL(TP.TP_DISC,    '0'))       AS WK2_DISC, 
            (ISNULL(TL.TL_OTHER,   '0')   + 
 		    ISNULL(TP.TP_OTHER,   '0'))       AS WK2_OTHER, 
            (ISNULL(TL.TL_INT_RB,  '0')   + 
 		    ISNULL(TP.TP_INT_RB,  '0'))       AS WK2_INT_RB,
            (ISNULL(TL.TL_SRV_RB,  '0')   + 
 		    ISNULL(TP.TP_SRV_RB,  '0'))       AS WK2_SRV_RB,
            (ISNULL(TL.TL_MFEE_RB, '0')   + 
 		    ISNULL(TP.TP_MFEE_RB, '0'))       AS WK2_MFEE_RB,
 		    ISNULL(TP.TP_NON_ACCRUAL_DATE, TL.TL_NON_ACCRUAL_DATE) 
                                               AS WK2_NON_ACCRUAL_DATE
        FROM
          (SELECT TRLFILE.TL_BRNO              AS TL_BRNO,
                  TRLFILE.TL_CLASS             AS TL_CLASS,
                  TRLFILE.TL_ACCTNO            AS TL_ACCTNO,
                  MIN(ISNULL(CAST(TRLFILE.TL_DATE AS VARCHAR(10)),'0'))
       		                                  AS TL_DATE,
                  MIN(TRLFILE.TL_LINE)         AS TL_LINE,
                  SUM(TRLFILE.TL_EARNINGS_1)   AS TL_INT,
                  SUM(TRLFILE.TL_EARNINGS_2)   AS TL_ADDON,
                  SUM(TRLFILE.TL_EARNINGS_3)   AS TL_SRV,
                  SUM(TRLFILE.TL_EARNINGS_4)   AS TL_MFEE,
                  SUM(TRLFILE.TL_EARNINGS_5)   AS TL_DISC,
                  SUM(TRLFILE.TL_EARNINGS_6)   AS TL_OTHER,
                  0                            AS TL_INT_RB,
                  0                            AS TL_SRV_RB,
                  0                            AS TL_MFEE_RB,
                 (CASE WHEN SUM(TRLFILE.TL_EARNINGS_1  +
                                TRLFILE.TL_EARNINGS_2  +
                                TRLFILE.TL_EARNINGS_3  +
                                TRLFILE.TL_EARNINGS_4  +
                                TRLFILE.TL_EARNINGS_5  +
                                TRLFILE.TL_EARNINGS_6) != 0
                       THEN MAX(ISNULL(CAST(TRLFILE.TL_DATE AS VARCHAR(10)),'0'))
                       ELSE '0'
                   END)                        AS TL_NON_ACCRUAL_DATE 
             FROM DBO.TRLFILE TRLFILE
            WHERE TRLFILE.TL_BRNO        = @QTRP1_WBEG_BRNO   
              AND TRLFILE.TL_DATE  BETWEEN @QTRP1_WBEG_DATE
		                               AND @QTRP1_WEND_DATE  
              AND TRLFILE.TL_CLASS BETWEEN @QTRP1_WBEG_CLASS
                                       AND @QTRP1_WEND_CLASS 
              AND TRLFILE.TL_LNAMT       < 0    
            GROUP BY TRLFILE.TL_BRNO,         
                     TRLFILE.TL_CLASS, 
                     TRLFILE.TL_ACCTNO) TL
 							   
   FULL OUTER JOIN
 
          (SELECT TPTEMP.TP_BRNO                  AS TP_BRNO,
                  TPTEMP.TP_CLASS                 AS TP_CLASS,
                  TPTEMP.TP_ACCTNO                AS TP_ACCTNO, 
                  MIN(TPTEMP.TP_DATE)             AS TP_DATE,
                  MIN(TPTEMP.TP_LINE)             AS TP_LINE,
                  SUM(TPTEMP.TP_INT)              AS TP_INT,
                  SUM(TPTEMP.TP_ADDON)            AS TP_ADDON,
                  SUM(TPTEMP.TP_SRV)              AS TP_SRV,
                  SUM(TPTEMP.TP_MFEE)             AS TP_MFEE,   
                  SUM(TPTEMP.TP_DISC)             AS TP_DISC,       
                  SUM(TPTEMP.TP_OTHER)            AS TP_OTHER,
                  SUM(TPTEMP.TP_INT_RB)           AS TP_INT_RB,   
                  SUM(TPTEMP.TP_SRV_RB)           AS TP_SRV_RB,
           	      SUM(TPTEMP.TP_MFEE_RB)          AS TP_MFEE_RB,
           	      MAX(TPTEMP.TP_NON_ACCRUAL_DATE) AS TP_NON_ACCRUAL_DATE 
             FROM 
              (SELECT TRPFILE.TP_BRNO             AS TP_BRNO,
                      TRPFILE.TP_CLASS            AS TP_CLASS,
                      TRPFILE.TP_ACCTNO           AS TP_ACCTNO,
                      MIN(ISNULL(CAST(TRPFILE.TP_DATE AS VARCHAR(10)),'0'))
           		                                 AS TP_DATE,
                      MIN(TRPFILE.TP_LINE)        AS TP_LINE,
                      SUM(TRPFILE.TP_EARNINGS_1)  AS TP_INT,
                      SUM(TRPFILE.TP_EARNINGS_2)  AS TP_ADDON,
                      SUM(TRPFILE.TP_EARNINGS_3)  AS TP_SRV,
                      SUM(TRPFILE.TP_EARNINGS_4)  AS TP_MFEE,
                      SUM(TRPFILE.TP_EARNINGS_5)  AS TP_DISC,
                      SUM(TRPFILE.TP_EARNINGS_6)  AS TP_OTHER,
                     (CASE WHEN TRPFILE.TP_TRCD = 'RI'
                           THEN SUM(TP_TRAMT)
                           ELSE 0
                       END)                       AS TP_INT_RB,
                     (CASE WHEN TRPFILE.TP_TRCD = 'RS'
                           THEN SUM(TP_TRAMT)
                            ELSE 0
                       END)                       AS TP_SRV_RB,
                     (CASE WHEN TRPFILE.TP_TRCD = 'RM'
                           THEN SUM(TP_TRAMT)
                           ELSE 0
                       END)                       AS TP_MFEE_RB,
                     (CASE WHEN SUM(TRPFILE.TP_EARNINGS_1  +
                                    TRPFILE.TP_EARNINGS_2  +
                                    TRPFILE.TP_EARNINGS_3  +
                                    TRPFILE.TP_EARNINGS_4  +
                                    TRPFILE.TP_EARNINGS_5  +
                                    TRPFILE.TP_EARNINGS_6) != 0
                           THEN MAX(ISNULL(CAST(TRPFILE.TP_DATE AS VARCHAR(10)),'0'))
                           ELSE '0'
                       END)                       AS TP_NON_ACCRUAL_DATE 
                 FROM DBO.TRPFILE TRPFILE
                WHERE ( TRPFILE.TP_BRNO        = @QTRP1_WBEG_BRNO   
                  AND   TRPFILE.TP_DATE  BETWEEN @QTRP1_WBEG_DATE
		                                     AND @QTRP1_WEND_DATE  
                  AND   TRPFILE.TP_CLASS BETWEEN @QTRP1_WBEG_CLASS
                                             AND @QTRP1_WEND_CLASS )
                  AND ((TRPFILE.TP_PLCD        = ' ') 
                   OR  (TRPFILE.TP_PLCD       != ' '
                  AND   TRPFILE.TP_TRCD      NOT IN ('RI', 'RS', 'RM')))
                  AND  (TRPFILE.TP_OTHBR_FG   != 'C')
                GROUP BY TRPFILE.TP_BRNO,
                         TRPFILE.TP_CLASS,
                         TRPFILE.TP_ACCTNO,
           			     TRPFILE.TP_TRCD) TPTEMP 
            GROUP BY TPTEMP.TP_BRNO,         
                     TPTEMP.TP_CLASS, 
                     TPTEMP.TP_ACCTNO)  TP
     ON TP.TP_BRNO   = TL.TL_BRNO
    AND TP.TP_CLASS  = TL.TL_CLASS
    AND TP.TP_ACCTNO = TL.TL_ACCTNO)    WK2
  
   LEFT JOIN DBO.LNFILE  LNFILE
         ON (LNFILE.LN_OWNBR      = WK2.WK2_BRANCH
        AND  LNFILE.LN_ACCTNO     = WK2.WK2_ACCTNO
        AND  LNFILE.LN_CLASS      = WK2.WK2_CLASS)
 				
   LEFT JOIN DBO.BWFILE  BWFILE 
         ON (BWFILE.BW_OWNBR      = LNFILE.LN_OWNBR	
 	    AND  BWFILE.BW_SSNO       = LNFILE.LN_SSNO1) 
 
   LEFT JOIN DBO.LCFILE  LCFILE 
         ON (LCFILE.LC_CODE       = LNFILE.LN_CLASS)
 
   LEFT JOIN DBO.SPAFILE SPAFILE
         ON (SPAFILE.SPA_ORGST    = LNFILE.LN_ORGST
        AND  SPAFILE.SPA_SPRCLASS = LNFILE.LN_SPRCLASS
 	    AND  SPAFILE.SPA_SUBCLASS = LNFILE.LN_SUBCLASS
        AND  SPAFILE.SPA_LAWCODE  = LNFILE.LN_LAWCODE)
 
  ORDER BY WK2.WK2_BRANCH,
           WK2.WK2_CLASS,
           WK2.WK2_ACCTNO,
           WK2.WK2_LINE,
		   WK2_DATE
 
END 


GO
