USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LTFFLE_LTFFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LTFFLE_LTFFILE_SELECT             */
/*               PROGRAM NAME: UT/LTFFLE.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 03/26/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LTFFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_LTFFLE_LTFFILE_SELECT]
    @QLTF1_WBEG_BRNO            AS INT,
    @QLTF1_WBEG_ACCTNO          AS INT,
    @QLTF1_WEND_ACCTNO          AS INT  
 	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLTF1_WBEG_BRNO      INT
--DECLARE @QLTF1_WBEG_ACCTNO    INT
--DECLARE @QLTF1_WEND_ACCTNO    INT 
 
--SET @QLTF1_WBEG_BRNO           = 10 
--SET @QLTF1_WBEG_ACCTNO         = 00000000 
--SET @QLTF1_WEND_ACCTNO         = 99999999   
 
    SELECT LTFFILE.LTF_BRNO,
           LTFFILE.LTF_ACCTNO,
           LTFFILE.LTF_SEQNO,
           CAST(LTFFILE.LTF_LTOUCH_DATE AS VARCHAR(10)),
           LTFFILE.LTF_FEECODE_1,
           LTFFILE.LTF_FEECODE_PAYABLE_1,
           LTFFILE.LTF_FEECODE_2,
           LTFFILE.LTF_FEECODE_PAYABLE_2,
           LTFFILE.LTF_FEECODE_3,
           LTFFILE.LTF_FEECODE_PAYABLE_3,
           LTFFILE.LTF_FEECODE_4,
           LTFFILE.LTF_FEECODE_PAYABLE_4,
           LTFFILE.LTF_FEECODE_5,
           LTFFILE.LTF_FEECODE_PAYABLE_5,
           LTFFILE.LTF_FEECODE_6,
           LTFFILE.LTF_FEECODE_PAYABLE_6,
           LTFFILE.LTF_FEECODE_7,
           LTFFILE.LTF_FEECODE_PAYABLE_7,
           LTFFILE.LTF_FEECODE_8,
           LTFFILE.LTF_FEECODE_PAYABLE_8,
           LTFFILE.LTF_FEECODE_9,
           LTFFILE.LTF_FEECODE_PAYABLE_9,
           LTFFILE.LTF_FEECODE_10,
           LTFFILE.LTF_FEECODE_PAYABLE_10
    FROM DBO.LTFFILE

    WHERE LTFFILE.LTF_BRNO         = @QLTF1_WBEG_BRNO
      AND LTFFILE.LTF_ACCTNO BETWEEN @QLTF1_WBEG_ACCTNO
                                 AND @QLTF1_WEND_ACCTNO 

    ORDER BY LTFFILE.LTF_BRNO,
             LTFFILE.LTF_ACCTNO,
             LTFFILE.LTF_SEQNO;
             
END




GO
