USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_CIFILE_CIFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_CIFILE_CIFILE_SELECT              */
/*               PROGRAM NAME: UT/CIFILE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 03/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: CIFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_CIFILE_CIFILE_SELECT]
    @QCI_WBEG_BRNO    AS INT,
	@QCI_WBEG_ACCTNO  AS INT,
	@QCI_WEND_ACCTNO  AS INT

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QCI_WBEG_BRNO    INT
--DECLARE @QCI_WBEG_ACCTNO  INT
--DECLARE @QCI_WEND_ACCTNO  INT

--SET @QCI_WBEG_BRNO    = 1504
--SET @QCI_WBEG_ACCTNO  = 0
--SET @QCI_WEND_ACCTNO  = 99999999

            SELECT CIFILE.CI_BRNO,
                   CIFILE.CI_ACCTNO,
                   CIFILE.CI_SSNO,
                   CIFILE.CI_SSNO_2,
                   CAST(CIFILE.CI_LTOUCH_DATE  AS VARCHAR(10)),
                   CAST(CIFILE.CI_DATE_UPDATED AS VARCHAR(10)),
                   CIFILE.CI_AMT_REQUESTED,
                   CIFILE.CI_MARITAL_STAT,
                   CIFILE.CI_YEARS_IN_AREA,
                   CAST(CIFILE.CI_DATE_AT_PRESENT_ADR AS VARCHAR(10)),
                   CIFILE.CI_MONTHLY_RENT_MTG,
                   CIFILE.CI_FAIR_MARKET_VALUE,
                   CIFILE.CI_MTG_BALANCE,
                   CIFILE.CI_CHECKING_ACCOUNT,
                   CIFILE.CI_SAVINGS_ACCOUNT,
                   CIFILE.CI_TOTAL_MO_INCOME,
                   CIFILE.CI_LESS_MO_PAY,
                   CAST(CIFILE.CI_DATE_HIRE_1  AS VARCHAR(10)),
                   CIFILE.CI_POSITION_CODE_1,
                   CIFILE.CI_GROSS_MO_INCOME_1,
                   CAST(CIFILE.CI_DATE_HIRE_2  AS VARCHAR(10)),
                   CIFILE.CI_POSITION_CODE_2,
                   CIFILE.CI_GROSS_MO_INCOME_2

            FROM DBO.CIFILE

            WHERE CIFILE.CI_BRNO = @QCI_WBEG_BRNO
              AND CIFILE.CI_ACCTNO BETWEEN @QCI_WBEG_ACCTNO AND @QCI_WEND_ACCTNO

             ORDER BY CIFILE.CI_BRNO,
                      CIFILE.CI_ACCTNO
 
END 
GO
