USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BMEXTR_BMFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_BMEXTR_BMFILE_SELECT              */
/*               PROGRAM NAME: SP/BMEXTR.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 03/14/2025                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*           (S35Q-182)                                              */
/*                                                                   */
/*   TABLES: BMFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_BMEXTR_BMFILE_SELECT]
    @QBM1_WBEG_BRNO       AS INT,
    @QBM1_WBEG_SSNO       AS INT,
    @QBM1_WEND_SSNO       AS INT,
 	@QBM1_WBEG_DATE_REV   AS INT,
	@QBM1_WEND_DATE_REV   AS INT,
	@QBM1_WBEG_SEQ        AS INT, 
	@QBM1_WEND_SEQ	      AS INT,
    @QWS_PRIORITY_ISO     AS CHAR(1)

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QBM1_WBEG_BRNO     INT
--DECLARE @QBM1_WBEG_SSNO     INT
--DECLARE @QBM1_WEND_SSNO     INT
--DECLARE @QBM1_WBEG_DATE_REV INT
--DECLARE @QBM1_WEND_DATE_REV INT
--DECLARE @QBM1_WBEG_SEQ      INT 
--DECLARE @QBM1_WEND_SEQ      INT
--DECLARE @QWS_PRIORITY_ISO   CHAR(1)
 
--SET @QBM1_WBEG_BRNO         = 300
--SET @QBM1_WBEG_SSNO         = 000000000
--SET @QBM1_WEND_SSNO         = 999999999
--SET @QBM1_WBEG_DATE_REV     = 00000000
--SET @QBM1_WEND_DATE_REV     = 99999999
--SET @QBM1_WBEG_SEQ          = 000
--SET @QBM1_WEND_SEQ          = 999
--SET @QWS_PRIORITY_ISO       = 'S' 

   SELECT TEMP.BM_BRNO,
          TEMP.BM_SSNO,
          TEMP.BM_DATE_REVERSED,
          TEMP.BM_SEQ,
          TEMP.BM_MEMO,
          TEMP.BM_MEMO_TYPE

     FROM

  (SELECT BMFILE.BM_BRNO,
          BMFILE.BM_SSNO,
          BMFILE.BM_DATE_REVERSED,
          BMFILE.BM_SEQ,
          BMFILE.BM_MEMO,
          BMFILE.BM_MEMO_TYPE

     FROM DBO.BMFILE
 
    WHERE  BMFILE.BM_BRNO               = @QBM1_WBEG_BRNO
      AND  BMFILE.BM_SSNO          BETWEEN @QBM1_WBEG_SSNO
                                       AND @QBM1_WEND_SSNO
      AND (BMFILE.BM_DATE_REVERSED BETWEEN @QBM1_WBEG_DATE_REV
                                       AND @QBM1_WEND_DATE_REV
       OR  BMFILE.BM_DATE_REVERSED       = 0)
      AND  BMFILE.BM_SEQ           BETWEEN @QBM1_WBEG_SEQ       
                                       AND @QBM1_WEND_SEQ) TEMP

    WHERE ((TEMP.BM_DATE_REVERSED       != 99999999)
      AND  (@QWS_PRIORITY_ISO            = 'S'         
      AND   TEMP.BM_DATE_REVERSED       != 0)
       OR  (@QWS_PRIORITY_ISO            = 'O'         
      AND   TEMP.BM_DATE_REVERSED        = 0) 
       OR  (@QWS_PRIORITY_ISO            = 'I')) 
    ORDER BY TEMP.BM_BRNO,
             TEMP.BM_SSNO,
             TEMP.BM_DATE_REVERSED,
             TEMP.BM_SEQ;
 
END
GO
