USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LTCFLE_LTCFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LTCFLE_LTCFILE_SELECT             */
/*               PROGRAM NAME: UT/LTCFLE.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 03/25/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LTCFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_LTCFLE_LTCFILE_SELECT]
    @QLTC1_WBEG_BRNO             AS INT,
    @QLTC1_WBEG_ACCTNO           AS INT,
    @QLTC1_WEND_ACCTNO           AS INT  
 	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLTC1_WBEG_BRNO      INT
--DECLARE @QLTC1_WBEG_ACCTNO    INT
--DECLARE @QLTC1_WEND_ACCTNO    INT 

--SET @QLTC1_WBEG_BRNO          = 803
--SET @QLTC1_WBEG_ACCTNO        = 00000000
--SET @QLTC1_WEND_ACCTNO        = 99999999  
 
    SELECT LTCFILE.LTC_BRNO,
           LTCFILE.LTC_ACCTNO,
           LTCFILE.LTC_SEQNO,
           CAST(LTCFILE.LTC_LTOUCH_DATE    AS VARCHAR(10)),
           LTCFILE.LTC_DESC_1,
           LTCFILE.LTC_MAKE_1,
           LTCFILE.LTC_MODEL_1,
           LTCFILE.LTC_YEAR_1,
           LTCFILE.LTC_STYLE_1,
           LTCFILE.LTC_CLASS_1,
           LTCFILE.LTC_VIN_1,
           LTCFILE.LTC_TITLE_NO_1,
           LTCFILE.LTC_MILEAGE_1,
           LTCFILE.LTC_VALUE_1,
           LTCFILE.LTC_SELLPR_1,
           LTCFILE.LTC_MISC_AMT_1,
           LTCFILE.LTC_SENT_FLAG_1,
           CAST(LTCFILE.LTC_VIN_CHG_DATE_1 AS VARCHAR(10)),
           LTCFILE.LTC_DESC_2,
           LTCFILE.LTC_MAKE_2,
           LTCFILE.LTC_MODEL_2,
           LTCFILE.LTC_YEAR_2,
           LTCFILE.LTC_STYLE_2,
           LTCFILE.LTC_CLASS_2,
           LTCFILE.LTC_VIN_2,
           LTCFILE.LTC_TITLE_NO_2,
           LTCFILE.LTC_MILEAGE_2,
           LTCFILE.LTC_VALUE_2,
           LTCFILE.LTC_SELLPR_2,
           LTCFILE.LTC_MISC_AMT_2,
           LTCFILE.LTC_SENT_FLAG_2,
           CAST(LTCFILE.LTC_VIN_CHG_DATE_2 AS VARCHAR(10)),
           LTCFILE.LTC_DESC_3,
           LTCFILE.LTC_MAKE_3,
           LTCFILE.LTC_MODEL_3,
           LTCFILE.LTC_YEAR_3,
           LTCFILE.LTC_STYLE_3,
           LTCFILE.LTC_CLASS_3,
           LTCFILE.LTC_VIN_3,
           LTCFILE.LTC_TITLE_NO_3,
           LTCFILE.LTC_MILEAGE_3,
           LTCFILE.LTC_VALUE_3,
           LTCFILE.LTC_SELLPR_3,
           LTCFILE.LTC_MISC_AMT_3,
           LTCFILE.LTC_SENT_FLAG_3,
           CAST(LTCFILE.LTC_VIN_CHG_DATE_3 AS VARCHAR(10)),
           LTCFILE.LTC_HHGS_1,
           LTCFILE.LTC_HHGS_2,
           LTCFILE.LTC_HHGS_3

    FROM DBO.LTCFILE

    WHERE LTCFILE.LTC_BRNO         = @QLTC1_WBEG_BRNO
      AND LTCFILE.LTC_ACCTNO BETWEEN @QLTC1_WBEG_ACCTNO
                                 AND @QLTC1_WEND_ACCTNO

    ORDER BY LTCFILE.LTC_BRNO,
             LTCFILE.LTC_ACCTNO,
             LTCFILE.LTC_SEQNO;
             
END
GO
