USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_REPAYE_LPFILE_SELECT]    Script Date: 4/16/2025 3:28:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_REPAYE_LPFILE_SELECT              */
/*               PROGRAM NAME: SP/REPAYE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 03/2025                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE LPFILE                                           */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_REPAYE_LPFILE_SELECT]
    @QLN3_WBEG_OWNBR    AS INT,
    @QLN3_WBEG_CLASS    AS INT,
    @QLN3_WEND_CLASS    AS INT,
	@BEG_LNDATE         AS DATE,
	@END_LNDATE         AS DATE

 AS
BEGIN
	SET NOCOUNT ON;

  DECLARE @PARAMLIST  NVARCHAR(4000),      
		  @SQL        NVARCHAR(MAX)
		   
--DECLARE @QLN3_WBEG_OWNBR   INT
--DECLARE @QLN3_WBEG_CLASS   INT
--DECLARE @QLN3_WEND_CLASS   INT 
--DECLARE @BEG_LNDATE        DATE
--DECLARE @END_LNDATE        DATE

--SET @BRANCHLIST        = '10,1504'
--SET @QLN3_WBEG_CLASS   =  000
--SET @QLN3_WEND_CLASS   =  999
--SET @BEG_LNDATE        = '1900-01-01'
--SET @END_LNDATE        = '2049-12-31'

         SELECT LPFILE.LP_BRNO,
                LPFILE.LP_ACCTNO,
                LPFILE.LP_SEQNO,
                CAST(LPFILE.LP_PAYDATE AS VARCHAR(10)), 
                LPFILE.LP_TRCD, 
                LPFILE.LP_REFNO, 
                LPFILE.LP_TRAMT,
                LPFILE.LP_REVTRCD
      
	   FROM DBO.LNFILE LNFILE
       
	   INNER JOIN DBO.LPFILE LPFILE
         ON LPFILE.LP_BRNO   = LNFILE.LN_OWNBR 
        AND LPFILE.LP_ACCTNO = LNFILE.LN_ACCTNO
      
	   WHERE LNFILE.LN_OWNBR    = @QLN3_WBEG_OWNBR
         AND LNFILE.LN_CLASS    BETWEEN @QLN3_WBEG_CLASS AND @QLN3_WEND_CLASS
         AND LNFILE.LN_POCD     NOT IN ('**', '*I', '*R', '*U')
         AND LNFILE.LN_LOANDATE BETWEEN @BEG_LNDATE AND @END_LNDATE
         AND LNFILE.LN_DLPOOL < 80000
         AND (LNFILE.LN_CURBAL > 0 OR LNFILE.LN_INTBAL > 0 OR LNFILE.LN_LCBAL > 0 OR LNFILE.LN_OTHBAL > 0)
         AND (LNFILE.LN_PLDATE = '1900-01-01' OR LNFILE.LN_PLDATE > '2010-01-01')
         AND (LNFILE.LN_PLDATE = '1900-01-01' OR LNFILE.LN_POFFDATE = '1900-01-01')
      
	   ORDER BY LNFILE.LN_CLASS, LNFILE.LN_ACCTNO, LPFILE.LP_SEQNO
	   
END 
GO
