USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_CQRUN_CPFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_CQRUN_CPFILE_SELECT               */
/*               PROGRAM NAME: LP/CQRUN.CBL                          */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 12/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*           NEEDED DUE TO PROGRAM UPDATING CPFILE IN PROCESSING     */
/*                                                                   */
/*   TABLES: CPFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_CQRUN_CPFILE_SELECT]
    @WBEG_BRNO     AS INT,
    @WBEG_CLASS    AS INT,
    @WEND_CLASS    AS INT,
	@GROUP_ID      AS CHAR(6)

 AS
BEGIN
	SET NOCOUNT ON;
	 		   
--DECLARE @WBEG_BRNO    INT
--DECLARE @WBEG_CLASS   INT
--DECLARE @WEND_CLASS   INT 
--DECLARE @GROUP_ID     CHAR(6)

--SET @WBEG_BRNO     =  408
--SET @WBEG_CLASS    =  000
--SET @WEND_CLASS    =  999
--SET @GROUP_ID      = 'SETQ'

  DROP TABLE IF EXISTS #TEMP_CQRUN_CPFILE;

            SELECT CPFILE.CP_BRNO,
	               CPFILE.CP_ID,
                   CPFILE.CP_COL_ID_1,
                   CPFILE.CP_COL_ID_2,
                   CPFILE.CP_COL_ID_3,
                   CPFILE.CP_COL_ID_4,
                   CPFILE.CP_COL_ID_5,
                   CPFILE.CP_COL_ID_6,
                   CPFILE.CP_COL_ID_7,
                   CPFILE.CP_COL_ID_8,
                   CPFILE.CP_COL_ID_9,
                   CPFILE.CP_COL_ID_10,
                   CPFILE.CP_COL_ID_11,
                   CPFILE.CP_COL_ID_12,
                   CPFILE.CP_COL_ID_13,
                   CPFILE.CP_COL_ID_14,
                   CPFILE.CP_COL_ID_15,
                   CPFILE.CP_COL_ID_16,
                   CPFILE.CP_COL_ID_17,
                   CPFILE.CP_COL_ID_18,
                   CPFILE.CP_COL_ID_19,
                   CPFILE.CP_COL_ID_20,
                   CPFILE.CP_COL_ID_21,
                   CPFILE.CP_COL_ID_22,
                   CPFILE.CP_COL_ID_23,
                   CPFILE.CP_COL_ID_24,
                   CPFILE.CP_COL_ID_25,
                   CPFILE.CP_COL_ID_26,
                   CPFILE.CP_COL_ID_27,
                   CPFILE.CP_COL_ID_28,
                   CPFILE.CP_COL_ID_29,
                   CPFILE.CP_COL_ID_30,
                   CPFILE.CP_COL_ID_31,
                   CPFILE.CP_COL_ID_32,
                   CPFILE.CP_COL_ID_33,
                   CPFILE.CP_COL_ID_34,
                   CPFILE.CP_COL_ID_35,
                   CPFILE.CP_COL_ID_36,
                   CPFILE.CP_COL_ID_37,
                   CPFILE.CP_COL_ID_38,
                   CPFILE.CP_COL_ID_39,
                   CPFILE.CP_COL_ID_40,
                   CPFILE.CP_COL_ID_41,
                   CPFILE.CP_COL_ID_42,
                   CPFILE.CP_COL_ID_43,
                   CPFILE.CP_COL_ID_44,
                   CPFILE.CP_COL_ID_45,
                   CPFILE.CP_COL_ID_46,
                   CPFILE.CP_COL_ID_47,
                   CPFILE.CP_COL_ID_48,
                   CPFILE.CP_COL_ID_49,
                   CPFILE.CP_COL_ID_50,
                   CPFILE.CP_COL_ID_51,
                   CPFILE.CP_COL_ID_52,
                   CPFILE.CP_COL_ID_53,
                   CPFILE.CP_COL_ID_54,
                   CPFILE.CP_COL_ID_55,
                   CPFILE.CP_COL_ID_56,
                   CPFILE.CP_COL_ID_57,
                   CPFILE.CP_COL_ID_58,
                   CPFILE.CP_COL_ID_59,
                   CPFILE.CP_COL_ID_60,
                   CPFILE.CP_COL_ID_61,
                   CPFILE.CP_COL_ID_62,
                   CPFILE.CP_COL_ID_63,
                   CPFILE.CP_COL_ID_64,
                   CPFILE.CP_COL_ID_65,
                   CPFILE.CP_COL_ID_66,
                   CPFILE.CP_COL_ID_67,
                   CPFILE.CP_COL_ID_68,
                   CPFILE.CP_COL_ID_69,
                   CPFILE.CP_COL_ID_70,
                   CPFILE.CP_COL_ID_71,
                   CPFILE.CP_COL_ID_72,
                   CPFILE.CP_COL_ID_73,
                   CPFILE.CP_COL_ID_74,
                   CPFILE.CP_COL_ID_75,
                   CPFILE.CP_COL_ID_76,
                   CPFILE.CP_COL_ID_77,
                   CPFILE.CP_COL_ID_78,
                   CPFILE.CP_COL_ID_79,
                   CPFILE.CP_COL_ID_80
	               
		INTO #TEMP_CQRUN_CPFILE

		FROM DBO.EAFILE EAFILE
			
	   INNER JOIN DBO.CPFILE CPFILE
	     ON CPFILE.CP_BRNO = EAFILE.EA_BRANCH
	    AND CPFILE.CP_ID  = EAFILE.EA_COL_POOL
	   
	   WHERE EAFILE.EA_BRANCH = @WBEG_BRNO
	    AND EAFILE.EA_CLASS BETWEEN @WBEG_CLASS AND @WEND_CLASS
	    AND EAFILE.EA_GROUP_ID = @GROUP_ID

		SELECT *
		FROM #TEMP_CQRUN_CPFILE
		ORDER BY CP_ID
		;
	   
	   DROP TABLE #TEMP_CQRUN_CPFILE;
	   
END 
GO
