USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_RECAPJ_TRFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_RECAPJ_TRFILE_SELECT              */
/*               PROGRAM NAME: LP/RECAPJ.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 09/2023                               */
/*                                                                   */
/*  PURPOSE: CHECK FOR TR ROWS FOR BRANCH PROCESSING .               */
/*                                                                   */
/*   TABLES: TRBFILE TRCFILE TRBFILE TRDFILE TRJFILE TRKFILE         */
/*           TRLFILE TRPFILE TRSFILE TRXFILE                         */    
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_RECAPJ_TRFILE_SELECT]
    @BRANCHLIST1       AS VARCHAR(7500),
   	@PASS_WBEG_DATE    AS DATE

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @BRANCHLIST1      VARCHAR(7500)
--DECLARE @QTR1_WBEG_DATE    DATE

--SET @BRANCHLIST1      = '10,102'
--SET @QTR1_WBEG_DATE   =  '2019-12-01'


 CREATE TABLE #TEMP1_BRANCH_GROUP_TBL
   ( SEQ int IDENTITY(1,1),
     BRNO int ); 

INSERT INTO #TEMP1_BRANCH_GROUP_TBL (BRNO)
SELECT P.VALUE FROM string_Split(@BRANCHLIST1, ',') P;
     
            SELECT T1.BRNO
                   
				  ,CASE WHEN EXISTS ( 
                        SELECT 1 FROM DBO.TRBFILE TRBFILE
                        WHERE TRBFILE.TB_BRNO = T1.BRNO
		                 AND TRBFILE.TB_DATE = @PASS_WBEG_DATE)
                        THEN 'Y' ELSE 'N' END AS TRBSW

                  ,CASE WHEN EXISTS ( 
                        SELECT 1 FROM DBO.TRCFILE TRCFILE
                        WHERE TRCFILE.TC_BRNO = T1.BRNO
		                 AND TRCFILE.TC_KEY_DATE = @PASS_WBEG_DATE)
                        THEN 'Y' ELSE 'N' END AS TRCSW

                  ,CASE WHEN EXISTS ( 
                        SELECT 1 FROM DBO.TRDFILE TRDFILE
                        WHERE TRDFILE.TD_BRNO = T1.BRNO
		                 AND TRDFILE.TD_DATE = @PASS_WBEG_DATE)
                        THEN 'Y' ELSE 'N' END AS TRDSW

                   ,CASE WHEN EXISTS ( 
                        SELECT 1 FROM DBO.TRJFILE TRJFILE
                        WHERE TRJFILE.TJ_BRNO = T1.BRNO
		                 AND TRJFILE.TJ_DATE = @PASS_WBEG_DATE)
                        THEN 'Y' ELSE 'N' END AS TRJSW

				   ,CASE WHEN EXISTS ( 
                        SELECT 1 FROM DBO.TRKFILE TRKFILE
                        WHERE TRKFILE.TK_BRNO = T1.BRNO
		                 AND TRKFILE.TK_DATE = @PASS_WBEG_DATE)
                        THEN 'Y' ELSE 'N' END AS TRKSW

				    ,CASE WHEN EXISTS ( 
                        SELECT 1 FROM DBO.TRLFILE TRLFILE
                        WHERE TRLFILE.TL_BRNO = T1.BRNO
		                 AND TRLFILE.TL_DATE = @PASS_WBEG_DATE)
                        THEN 'Y' ELSE 'N' END AS TRLSW

				    ,CASE WHEN EXISTS ( 
                        SELECT 1 FROM DBO.TRPFILE TRPFILE
                        WHERE TRPFILE.TP_BRNO = T1.BRNO
		                 AND TRPFILE.TP_DATE = @PASS_WBEG_DATE)
                        THEN 'Y' ELSE 'N' END AS TRPSW		 

					,CASE WHEN EXISTS ( 
                        SELECT 1 FROM DBO.TRSFILE TRSFILE
                        WHERE TRSFILE.TS_BRNO = T1.BRNO
		                 AND TRSFILE.TS_DATE = @PASS_WBEG_DATE)
                        THEN 'Y' ELSE 'N' END AS TRSSW

					,CASE WHEN EXISTS ( 
                        SELECT 1 FROM DBO.TRXFILE TRXFILE
                        WHERE TRXFILE.TX_BRNO = T1.BRNO
		                 AND TRXFILE.TX_DATE = @PASS_WBEG_DATE)
                        THEN 'Y' ELSE 'N' END AS TRXSW

	 FROM #TEMP1_BRANCH_GROUP_TBL T1
	 	
	 ORDER BY T1.SEQ

END 
GO
