USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_FDPURG_FMFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_FDPURG_FMFILE_SELECT              */
/*               PROGRAM NAME: LP/FDPURG.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: FMFILE, FDFILE                                          */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_FDPURG_FMFILE_SELECT]
   @QFM1_WBEG_BRNO         AS INT,  
   @QFM1_WEND_BRNO         AS INT,  
   @QWS_FORM_NO            AS INT,
   @QWS_PURGE_TYPE         AS CHAR(1)
	 
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QFM1_WBEG_BRNO         INT 
--DECLARE @QFM1_WEND_BRNO         INT 
--DECLARE @QWS_FORM_NO            INT 
--DECLARE @QWS_PURGE_TYPE         CHAR(1)
 
--SET     @QFM1_WBEG_BRNO         = 0
--SET     @QFM1_WEND_BRNO         = 9999  
--SET     @QWS_FORM_NO            = 0    
--SET     @QWS_PURGE_TYPE         = 'A' 

DROP TABLE IF EXISTS #TEMP_FDPURG_FMFILE;

   SELECT TEMP.FM_BRNO,
          TEMP.FM_INITKEY,
          TEMP.FM_FMNO,
          TEMP.FM_PRINT, 
          TEMP.FD_FMNO, 
          TEMP.FD_PROG 

     INTO #TEMP_FDPURG_FMFILE

     FROM
	
  (SELECT FMFILE.FM_BRNO,
          FMFILE.FM_INITKEY,
          FMFILE.FM_FMNO,
          FMFILE.FM_PRINT, 
          ISNULL(FDFILE.FD_FMNO, 0)   AS FD_FMNO,
          ISNULL(FDFILE.FD_PROG,'&&') AS FD_PROG

     FROM DBO.FMFILE FMFILE

     LEFT OUTER JOIN
          DBO.FDFILE FDFILE 
       ON  ( FMFILE.FM_FMNO              = FDFILE.FD_FMNO )

    WHERE  ( FMFILE.FM_BRNO        BETWEEN @QFM1_WBEG_BRNO
                                       AND @QFM1_WEND_BRNO )   
      AND (( @QWS_FORM_NO                = 0 )   
	   OR  ( @QWS_FORM_NO               != 0
	  AND    FMFILE.FM_FMNO              = @QWS_FORM_NO )) 
      AND ((@QWS_PURGE_TYPE              = 'A' ) 
       OR  (@QWS_PURGE_TYPE              = 'P'
      AND    FMFILE.FM_PRINT             = 'Y' )
       OR  (@QWS_PURGE_TYPE              = 'N'
      AND    FMFILE.FM_PRINT             = ' ' ))) TEMP;

   SELECT #TEMP_FDPURG_FMFILE.FM_BRNO,
          #TEMP_FDPURG_FMFILE.FM_INITKEY,
          #TEMP_FDPURG_FMFILE.FM_FMNO,
          #TEMP_FDPURG_FMFILE.FM_PRINT, 
          #TEMP_FDPURG_FMFILE.FD_FMNO, 
          #TEMP_FDPURG_FMFILE.FD_PROG 

     FROM #TEMP_FDPURG_FMFILE

    ORDER BY #TEMP_FDPURG_FMFILE.FM_BRNO,
             #TEMP_FDPURG_FMFILE.FM_INITKEY,
             #TEMP_FDPURG_FMFILE.FM_FMNO;
      
DROP TABLE IF EXISTS #TEMP_FDPURG_FMFILE;

END
GO
