USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_ICUNR3_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_ICUNR3_LNFILE_SELECT              */
/*               PROGRAM NAME: CL/ICUNR3.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 09/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE GIFILE                                           */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_ICUNR3_LNFILE_SELECT]
    @QLN3_WBEG_OWNBR    AS INT,
    @QLN3_WBEG_CLASS    AS INT,
    @QLN3_WEND_CLASS    AS INT,
	@PASS_WBEG_IC       AS INT,
    @PASS_WEND_IC       AS INT,
	@PASS_WBEG_ST       AS CHAR(2),
    @PASS_WEND_ST       AS CHAR(2)

 AS
BEGIN
	SET NOCOUNT ON;
	 		   
--DECLARE @QLN3_WBEG_OWNBR   INT
--DECLARE @QLN3_WBEG_CLASS   INT
--DECLARE @QLN3_WEND_CLASS   INT 
--DECLARE @PASS_WBEG_IC      INT
--DECLARE @PASS_WEND_IC      INT 
--DECLARE @PASS_WBEG_ST      CHAR(2)
--DECLARE @PASS_WEND_ST      CHAR(2)

--SET @QLN3_WBEG_OWNBR   =  10
--SET @QLN3_WBEG_CLASS   =  000
--SET @QLN3_WEND_CLASS   =  999
--SET @PASS_WBEG_IC      =  00
--SET @PASS_WEND_IC      =  99
--SET @PASS_WBEG_ST      = 'AA'
--SET @PASS_WEND_ST     = 'ZZ'

            SELECT LNFILE.LN_OWNBR,
                   LNFILE.LN_ACCTNO,
                   LNFILE.LN_CLASS,
                   LNFILE.LN_SUBCLASS,
                   LNFILE.LN_LAWCODE,
                   LNFILE.LN_ORGST,
                   LNFILE.LN_SPRCLASS,
                   LNFILE.LN_CONVERCD,
                   LNFILE.LN_POCD,
                   LNFILE.LN_SALEFIN,
                   LNFILE.LN_LOANTYPE,
                   LNFILE.LN_ADDON_FG,
                   LNFILE.LN_PAY_SCHLD_FG,
                   CAST(LNFILE.LN_ENTDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_LOANDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_PURDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_INTDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_CASHDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_ORIG_1STPYDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_1STPYDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_PLDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)),
                   LNFILE.LN_APRATE,
                   LNFILE.LN_EFFRATE,
                   LNFILE.LN_SMPRATE,
                   LNFILE.LN_OVRDRATE,
                   LNFILE.LN_LNAMT,
                   LNFILE.LN_FINCHG,
                   LNFILE.LN_INTCHG,
                   LNFILE.LN_SERCHG,
                   LNFILE.LN_EXTCHG,
                   LNFILE.LN_MAINTFEE,
                   LNFILE.LN_POINTS,
                   LNFILE.LN_ORGTERM,
                   LNFILE.LN_1STPYAMT,
                   LNFILE.LN_NOREGPY,
                   LNFILE.LN_REGPYAMT,
                   LNFILE.LN_LASTPYAMT,
                   LNFILE.LN_FEECODE_1,
                   LNFILE.LN_FEECODE_2,
                   LNFILE.LN_FEECODE_3,
                   LNFILE.LN_FEECODE_4,
                   LNFILE.LN_FEECODE_5,
                   LNFILE.LN_FEECODE_6,
                   LNFILE.LN_FEECODE_7,
                   LNFILE.LN_FEECODE_8,
                   LNFILE.LN_FEECODE_9,
                   LNFILE.LN_FEECODE_10,
                   LNFILE.LN_FEECODE_11,
                   LNFILE.LN_FEECODE_12,
                   LNFILE.LN_FEECODE_13,
                   LNFILE.LN_FEECODE_14,
                   LNFILE.LN_FEECODE_15,
                   LNFILE.LN_FEECODE_16,
                   LNFILE.LN_FEECODE_17,
                   LNFILE.LN_FEECODE_18,
                   LNFILE.LN_FEECODE_19,
                   LNFILE.LN_FEECODE_20,
                   LNFILE.LN_FEEAMT_1,
                   LNFILE.LN_FEEAMT_2,
                   LNFILE.LN_FEEAMT_3,
                   LNFILE.LN_FEEAMT_4,
                   LNFILE.LN_FEEAMT_5,
                   LNFILE.LN_FEEAMT_6,
                   LNFILE.LN_FEEAMT_7,
                   LNFILE.LN_FEEAMT_8,
                   LNFILE.LN_FEEAMT_9,
                   LNFILE.LN_FEEAMT_10,
                   LNFILE.LN_FEEAMT_11,
                   LNFILE.LN_FEEAMT_12,
                   LNFILE.LN_FEEAMT_13,
                   LNFILE.LN_FEEAMT_14,
                   LNFILE.LN_FEEAMT_15,
                   LNFILE.LN_FEEAMT_16,
                   LNFILE.LN_FEEAMT_17,
                   LNFILE.LN_FEEAMT_18,
                   LNFILE.LN_FEEAMT_19,
                   LNFILE.LN_FEEAMT_20,
                   LNFILE.LN_FEEOURS_1,
                   LNFILE.LN_FEEOURS_2,
                   LNFILE.LN_FEEOURS_3,
                   LNFILE.LN_FEEOURS_4,
                   LNFILE.LN_FEEOURS_5,
                   LNFILE.LN_FEEOURS_6,
                   LNFILE.LN_FEEOURS_7,
                   LNFILE.LN_FEEOURS_8,
                   LNFILE.LN_FEEOURS_9,
                   LNFILE.LN_FEEOURS_10,
                   LNFILE.LN_FEEOURS_11,
                   LNFILE.LN_FEEOURS_12,
                   LNFILE.LN_FEEOURS_13,
                   LNFILE.LN_FEEOURS_14,
                   LNFILE.LN_FEEOURS_15,
                   LNFILE.LN_FEEOURS_16,
                   LNFILE.LN_FEEOURS_17,
                   LNFILE.LN_FEEOURS_18,
                   LNFILE.LN_FEEOURS_19,
                   LNFILE.LN_FEEOURS_20,
                   LNFILE.LN_FEEFINCHG_1,
                   LNFILE.LN_FEEFINCHG_2,
                   LNFILE.LN_FEEFINCHG_3,
                   LNFILE.LN_FEEFINCHG_4,
                   LNFILE.LN_FEEFINCHG_5,
                   LNFILE.LN_FEEFINCHG_6,
                   LNFILE.LN_FEEFINCHG_7,
                   LNFILE.LN_FEEFINCHG_8,
                   LNFILE.LN_FEEFINCHG_9,
                   LNFILE.LN_FEEFINCHG_10,
                   LNFILE.LN_FEEFINCHG_11,
                   LNFILE.LN_FEEFINCHG_12,
                   LNFILE.LN_FEEFINCHG_13,
                   LNFILE.LN_FEEFINCHG_14,
                   LNFILE.LN_FEEFINCHG_15,
                   LNFILE.LN_FEEFINCHG_16,
                   LNFILE.LN_FEEFINCHG_17,
                   LNFILE.LN_FEEFINCHG_18,
                   LNFILE.LN_FEEFINCHG_19,
                   LNFILE.LN_FEEFINCHG_20,
                   LNFILE.LN_INSURED,
                   LNFILE.LN_INSTYPES,
                   LNFILE.LN_INSELIGIBLE,
                   LNFILE.LN_INSCOMP_1,
                   LNFILE.LN_INSCOMP_2,
                   LNFILE.LN_INSCOMP_3,
                   LNFILE.LN_INSCOMP_4,
                   LNFILE.LN_INSCOMP_5,
                   LNFILE.LN_INSCOMP_6,
                   LNFILE.LN_INSCOMP_7,
                   LNFILE.LN_INSCOMP_8,
                   LNFILE.LN_INSCOMP_9,
                   LNFILE.LN_INSCOMP_10,
                   LNFILE.LN_INSOURS_1,
                   LNFILE.LN_INSOURS_2,
                   LNFILE.LN_INSOURS_3,
                   LNFILE.LN_INSOURS_4,
                   LNFILE.LN_INSOURS_5,
                   LNFILE.LN_INSOURS_6,
                   LNFILE.LN_INSOURS_7,
                   LNFILE.LN_INSOURS_8,
                   LNFILE.LN_INSOURS_9,
                   LNFILE.LN_INSOURS_10,
                   CAST(LNFILE.LN_INSEFF_DATE_1 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_2 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_3 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_4 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_5 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_6 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_7 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_8 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_9 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_10 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_1  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_2  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_3  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_4  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_5  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_6  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_7  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_8  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_9  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_10 AS VARCHAR(10)),
                   LNFILE.LN_INSPREM_1,
                   LNFILE.LN_INSPREM_2,
                   LNFILE.LN_INSPREM_3,
                   LNFILE.LN_INSPREM_4,
                   LNFILE.LN_INSPREM_5,
                   LNFILE.LN_INSPREM_6,
                   LNFILE.LN_INSPREM_7,
                   LNFILE.LN_INSPREM_8,
                   LNFILE.LN_INSPREM_9,
                   LNFILE.LN_INSPREM_10,
                   LNFILE.LN_INSCOVR_1,
                   LNFILE.LN_INSCOVR_2,
                   LNFILE.LN_INSCOVR_3,
                   LNFILE.LN_INSCOVR_4,
                   LNFILE.LN_INSCOVR_5,
                   LNFILE.LN_INSCOVR_6,
                   LNFILE.LN_INSCOVR_7,
                   LNFILE.LN_INSCOVR_8,
                   LNFILE.LN_INSCOVR_9,
                   LNFILE.LN_INSCOVR_10,
                   LNFILE.LN_INSCOMM_1,
                   LNFILE.LN_INSCOMM_2,
                   LNFILE.LN_INSCOMM_3,
                   LNFILE.LN_INSCOMM_4,
                   LNFILE.LN_INSCOMM_5,
                   LNFILE.LN_INSCOMM_6,
                   LNFILE.LN_INSCOMM_7,
                   LNFILE.LN_INSCOMM_8,
                   LNFILE.LN_INSCOMM_9,
                   LNFILE.LN_INSCOMM_10,
                   LNFILE.LN_INSANTICERN_1,
                   LNFILE.LN_INSANTICERN_2,
                   LNFILE.LN_INSANTICERN_3,
                   LNFILE.LN_INSANTICERN_4,
                   LNFILE.LN_INSANTICERN_5,
                   LNFILE.LN_INSANTICERN_6,
                   LNFILE.LN_INSANTICERN_7,
                   LNFILE.LN_INSANTICERN_8,
                   LNFILE.LN_INSANTICERN_9,
                   LNFILE.LN_INSANTICERN_10,
                   LNFILE.LN_INSANTICADJ_1,
                   LNFILE.LN_INSANTICADJ_2,
                   LNFILE.LN_INSANTICADJ_3,
                   LNFILE.LN_INSANTICADJ_4,
                   LNFILE.LN_INSANTICADJ_5,
                   LNFILE.LN_INSANTICADJ_6,
                   LNFILE.LN_INSANTICADJ_7,
                   LNFILE.LN_INSANTICADJ_8,
                   LNFILE.LN_INSANTICADJ_9,
                   LNFILE.LN_INSANTICADJ_10,
                   LNFILE.LN_INSUFERN_1,
                   LNFILE.LN_INSUFERN_2,
                   LNFILE.LN_INSUFERN_3,
                   LNFILE.LN_INSUFERN_4,
                   LNFILE.LN_INSUFERN_5,
                   LNFILE.LN_INSUFERN_6,
                   LNFILE.LN_INSUFERN_7,
                   LNFILE.LN_INSUFERN_8,
                   LNFILE.LN_INSUFERN_9,
                   LNFILE.LN_INSUFERN_10,
                   LNFILE.LN_INSACCERN_1,
                   LNFILE.LN_INSACCERN_2,
                   LNFILE.LN_INSACCERN_3,
                   LNFILE.LN_INSACCERN_4,
                   LNFILE.LN_INSACCERN_5,
                   LNFILE.LN_INSACCERN_6,
                   LNFILE.LN_INSACCERN_7,
                   LNFILE.LN_INSACCERN_8,
                   LNFILE.LN_INSACCERN_9,
                   LNFILE.LN_INSACCERN_10,
                   LNFILE.LN_INSEARN_ORDER_1,
                   LNFILE.LN_INSEARN_ORDER_2,
                   LNFILE.LN_INSEARN_ORDER_3,
                   LNFILE.LN_INSEARN_ORDER_4,
                   LNFILE.LN_INSEARN_ORDER_5,
                   LNFILE.LN_INSEARN_ORDER_6,
                   LNFILE.LN_INSEARN_ORDER_7,
                   LNFILE.LN_INSEARN_ORDER_8,
                   LNFILE.LN_INSEARN_ORDER_9,
                   LNFILE.LN_INSEARN_ORDER_10,
                   LNFILE.LN_INSFINCHG_1,
                   LNFILE.LN_INSFINCHG_2,
                   LNFILE.LN_INSFINCHG_3,
                   LNFILE.LN_INSFINCHG_4,
                   LNFILE.LN_INSFINCHG_5,
                   LNFILE.LN_INSFINCHG_6,
                   LNFILE.LN_INSFINCHG_7,
                   LNFILE.LN_INSFINCHG_8,
                   LNFILE.LN_INSFINCHG_9,
                   LNFILE.LN_INSFINCHG_10,
                   LNFILE.LN_CURBAL,
                   LNFILE.LN_OT2BAL,
                   LNFILE.LN_ANTICERN_1,
                   LNFILE.LN_ANTICERN_2,
                   LNFILE.LN_ANTICERN_3,
                   LNFILE.LN_ANTICERN_4,
                   LNFILE.LN_ANTICERN_5,
                   LNFILE.LN_ANTICERN_6,
                   LNFILE.LN_ANTICERN_7,
                   LNFILE.LN_ANTICERN_8,
                   LNFILE.LN_ANTICERN_9,
                   LNFILE.LN_ANTICERN_10,
                   LNFILE.LN_ANTICADJ_1,
                   LNFILE.LN_ANTICADJ_2,
                   LNFILE.LN_ANTICADJ_3,
                   LNFILE.LN_ANTICADJ_4,
                   LNFILE.LN_ANTICADJ_5,
                   LNFILE.LN_ANTICADJ_6,
                   LNFILE.LN_ANTICADJ_7,
                   LNFILE.LN_ANTICADJ_8,
                   LNFILE.LN_ANTICADJ_9,
                   LNFILE.LN_ANTICADJ_10,
                   LNFILE.LN_UFERN_1,
                   LNFILE.LN_UFERN_2,
                   LNFILE.LN_UFERN_3,
                   LNFILE.LN_UFERN_4,
                   LNFILE.LN_UFERN_5,
                   LNFILE.LN_UFERN_6,
                   LNFILE.LN_UFERN_7,
                   LNFILE.LN_UFERN_8,
                   LNFILE.LN_UFERN_9,
                   LNFILE.LN_UFERN_10,
                   LNFILE.LN_TOTINT,
                   LNFILE.LN_TOTLCHG,
                   LNFILE.LN_TOTDEF,
                   LNFILE.LN_TOTPAYMNTD,
                   LNFILE.LN_TOTNODEF,
                   LNFILE.LN_TOTNOALDEL,
                   LNFILE.LN_CL_REBATE,
                   LNFILE.LN_AH_REBATE,
                   LNFILE.LN_PP_REBATE,
                   LNFILE.LN_INT_REBATE,
                   LNFILE.LN_SC_REBATE,
                   LNFILE.LN_MF_REBATE,
                   LNFILE.LN_DF_REBATE,
                   LNFILE.LN_EX_REBATE,
                   LNFILE.LN_O1_REBATE,
                   LNFILE.LN_O2_REBATE,
                   LNFILE.LN_O3_REBATE,
                   LNFILE.LN_O4_REBATE,
                   LNFILE.LN_O5_REBATE,
                   LNFILE.LN_O6_REBATE,
                   LNFILE.LN_O7_REBATE,
                   LNFILE.LN_UN_O7_REB,
                   LNFILE.LN_UN_O8_REB,
                   LNFILE.LN_UN_O9_REB,
                   LNFILE.LN_UN_O10_REB,
                   LNFILE.LN_ACTIONCD2,
                   CAST(LNFILE.LN_DATE_PAID_LAST AS VARCHAR(10)),
                   LNFILE.LN_CREDITLIM,
                   LNFILE.LN_OLDACCTNO,
                   LNFILE.LN_PRLNNO,
                   LNFILE.LN_SUM_FINCHG,
                   LNFILE.LN_SUM_ORGTERM,
                   LNFILE.LN_UNITPER_CD,
                   LNFILE.LN_UNITPER_FREQ,
                   LNFILE.LN_REPOCD,
				   ISNULL(GIFILE.GI_BRANCH,0),
                   ISNULL(GIFILE.GI_CLASS,0),
                   ISNULL(GIFILE.GI_UNO3,0),
                   ISNULL(GIFILE.GI_O3,0)
				   			               
	FROM DBO.LNFILE LNFILE
	
	LEFT OUTER JOIN DBO.GIFILE GIFILE
	  ON GIFILE.GI_BRANCH = LNFILE.LN_OWNBR
	  AND GIFILE.GI_CLASS = LNFILE.LN_CLASS

	WHERE LNFILE.LN_OWNBR = @QLN3_WBEG_OWNBR
	 AND LNFILE.LN_CLASS BETWEEN @QLN3_WBEG_CLASS AND @QLN3_WEND_CLASS
	 AND LNFILE.LN_ORGST BETWEEN @PASS_WBEG_ST AND @PASS_WEND_ST
	 AND (LNFILE.LN_INSCOMP_6 !< @PASS_WBEG_IC OR LNFILE.LN_INSCOMP_7 !< @PASS_WBEG_IC)
	 AND (LNFILE.LN_INSCOMP_6 !> @PASS_WEND_IC OR LNFILE.LN_INSCOMP_7 !> @PASS_WEND_IC)	
	 AND LNFILE.LN_POCD NOT IN ('*I','*R') 

	ORDER BY LNFILE.LN_CLASS, LNFILE.LN_ACCTNO

END 
GO
