USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_DNSRPT_LNFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_DNSRPT_LNFILE_SELECT              */
/*               PROGRAM NAME: LP/DNSRPT.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 3/2024                                */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LNFILE BWFILE                                           */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_DNSRPT_LNFILE_SELECT]
    @QLN3_WBEG_OWNBR    AS INT,
    @QLN3_WBEG_CLASS    AS INT,
    @QLN3_WEND_CLASS    AS INT,
	@ZBAL               AS CHAR(1),
	@BEGCREDITLIM       AS INT,
	@ENDCREDITLIM       AS INT,
	@BEGPODATE          AS DATE,
	@ENDPODATE          AS DATE

 AS
BEGIN
	SET NOCOUNT ON;

  DECLARE @PARAMLIST  NVARCHAR(4000),      
		  @SQL        NVARCHAR(MAX)
		   
--DECLARE @QLN3_WBEG_OWNBR   INT
--DECLARE @QLN3_WBEG_CLASS   INT
--DECLARE @QLN3_WEND_CLASS   INT 
--DECLARE @ZBAL              CHAR(1)
--DECLARE @BEGCREDITLIM      INT
--DECLARE @ENDCREDITLIM      INT
--DECLARE @BEGPODATE         DATE
--DECLARE @ENDPODATE         DATE
 
--SET @QLN3_WBEG_OWNBR   = 1504
--SET @QLN3_WBEG_CLASS   =  000
--SET @QLN3_WEND_CLASS   =  999
--SET @ZBAL              = 'S'
--SET @BEGCREDITLIM      = 0
--SET @ENDCREDITLIM      = 999999
--SET @BEGPODATE         = '1900-01-01'
--SET @ENDPODATE         = '2049-12-31'

 SELECT @SQL = 'SELECT LNFILE.LN_OWNBR,
                   LNFILE.LN_ACCTNO,
                   LNFILE.LN_CLASS,
                   LNFILE.LN_SSNO1,
                   LNFILE.LN_MAKERCD1,
                   LNFILE.LN_SSNO2,
                   LNFILE.LN_MAKERCD2,
                   LNFILE.LN_SSNO3,
                   LNFILE.LN_MAKERCD3,
                   LNFILE.LN_SSNO4,
                   LNFILE.LN_MAKERCD4,
                   LNFILE.LN_POCD,
                   CAST(LNFILE.LN_PLDATE AS VARCHAR(10)),
                   CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)),
                   LNFILE.LN_CURBAL,
                   LNFILE.LN_INTBAL,
                   LNFILE.LN_LCBAL,
                   LNFILE.LN_OTHBAL,
                   LNFILE.LN_CREDITLIM,
				
	   	     	  ISNULL(BWFILE.BW_OWNBR,0),  
                  ISNULL(BWFILE.BW_SSNO,0),
	 			  ISNULL(BWFILE.BW_LNAME,''''),
				  ISNULL(BWFILE.BW_FNAME,''''),
				  ISNULL(BWFILE.BW_SOLICIT,'''')
			
			 FROM DBO.LNFILE LNFILE
			 			 
			 LEFT OUTER JOIN DBO.BWFILE BWFILE
              ON BWFILE.BW_OWNBR = LNFILE.LN_OWNBR 
             AND BWFILE.BW_SSNO  = LNFILE.LN_SSNO1
             
			 WHERE LNFILE.LN_OWNBR = @QLN3_WBEG_OWNBR
               AND LNFILE.LN_CLASS BETWEEN @QLN3_WBEG_CLASS AND @QLN3_WEND_CLASS
			   AND LNFILE.LN_PLDATE = ''1900-01-01''
			   AND LNFILE.LN_CREDITLIM BETWEEN @BEGCREDITLIM AND @ENDCREDITLIM
			   AND LNFILE.LN_POCD != ''**'' 
			   AND (LNFILE.LN_POFFDATE = ''1900-01-01'' 
			            OR (LNFILE.LN_POFFDATE BETWEEN @BEGPODATE AND @ENDPODATE))
			   AND (BWFILE.BW_SOLICIT IS NULL OR BWFILE.BW_SOLICIT = ''N'') '

  IF @ZBAL = 'O'
   SELECT @SQL += ' AND (LNFILE.LN_CURBAL = 0 AND LNFILE.LN_INTBAL = 0 AND LNFILE.LN_LCBAL = 0 AND LNFILE.LN_OTHBAL = 0)'  

  IF @ZBAL = 'S'
   SELECT @SQL += ' AND (LNFILE.LN_CURBAL <> 0 OR LNFILE.LN_INTBAL <> 0 OR LNFILE.LN_LCBAL <> 0 OR LNFILE.LN_OTHBAL <> 0)'  

   SELECT @SQL += ' ORDER BY BWFILE.BW_LNAME, BWFILE.BW_FNAME, LNFILE.LN_CREDITLIM, LNFILE.LN_CLASS, LNFILE.LN_ACCTNO '  

SELECT @paramlist = '@QLN3_WBEG_OWNBR   INT,
	                 @QLN3_WBEG_CLASS  INT,
                     @QLN3_WEND_CLASS  INT,
					 @ZBAL             CHAR(1),
					 @BEGCREDITLIM     INT,
					 @ENDCREDITLIM     INT,
					 @BEGPODATE        DATE,
 	                 @ENDPODATE        DATE'

EXEC sp_executesql @SQL, @paramlist, @QLN3_WBEG_OWNBR, @QLN3_WBEG_CLASS, @QLN3_WEND_CLASS, @ZBAL, @BEGCREDITLIM, @ENDCREDITLIM,
                                     @BEGPODATE, @ENDPODATE

END 
GO
