USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BYINQ_WRFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_BYINQ_WRFILE_SELECT               */
/*               PROGRAM NAME: LP/BYINQ.CBL                          */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 06/20/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: WRFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_BYINQ_WRFILE_SELECT]
    @QWR1_WBEG_YYYYMM         AS INT 
    
 	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QWR1_WBEG_YYYYMM      INT
--SET @QWR1_WBEG_YYYYMM          = 202312
 
  SELECT WRFILE.WR_YYYYMM,
         WRFILE.WR_BRNO,
         WRFILE.WR_ELM_OUTS_BALANCE,
         WRFILE.WR_ELY_OUTS_BALANCE,
         WRFILE.WR_NO_NB_1,
         WRFILE.WR_NO_NB_2,
         WRFILE.WR_NO_FB_1,
         WRFILE.WR_NO_FB_2,
         WRFILE.WR_NO_PB_1,
         WRFILE.WR_NO_PB_2,
         WRFILE.WR_BSR_BONUS_1,
         WRFILE.WR_BSR_BONUS_2,
         WRFILE.WR_INTEREST_ALLOCATION_1,
         WRFILE.WR_INTEREST_ALLOCATION_2,
         WRFILE.WR_GEN_RESERVE_ADJ_1,
         WRFILE.WR_GEN_RESERVE_ADJ_2,
         WRFILE.WR_INTANGIBLE_AMORT_1,
         WRFILE.WR_INTANGIBLE_AMORT_2,
         WRFILE.WR_ROBBERIES_1,
         WRFILE.WR_ROBBERIES_2,
         WRFILE.WR_RATING_SHEET_INCOME_1,
         WRFILE.WR_RATING_SHEET_INCOME_2,
         WRFILE.WR_INT_FEE_INCOME_1,
         WRFILE.WR_INT_FEE_INCOME_2,
         WRFILE.WR_INSURANCE_INCOME_1,
         WRFILE.WR_INSURANCE_INCOME_2,
         WRFILE.WR_RATING_SHEET_EXPENSES_1,
         WRFILE.WR_RATING_SHEET_EXPENSES_2,
         WRFILE.WR_PERSONNEL_EXPENSE_1,
         WRFILE.WR_PERSONNEL_EXPENSE_2,
         WRFILE.WR_YTD_PCT_RATE_SHT_PROFIT,
         WRFILE.WR_YTD_PCT_RS_INC_LEDGER,
         WRFILE.WR_YTD_PCT_INT_FEE_LEDGER,
         WRFILE.WR_YTD_PCT_INS_INC_LEDGER,
         WRFILE.WR_YTD_PCT_EXPENSE_LEDGER,
         WRFILE.WR_MGR_BONUS,
         WRFILE.WR_PRETAX_PROFIT_1,
         WRFILE.WR_PRETAX_PROFIT_2,
         WRFILE.WR_SUPERVISION_1,
         WRFILE.WR_SUPERVISION_2
  FROM DBO.WRFILE
  WHERE WRFILE.WR_YYYYMM =  @QWR1_WBEG_YYYYMM
  ORDER BY WRFILE.WR_YYYYMM,
           WRFILE.WR_BRNO;
                       
END
GO
