USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_OPNDUP_BIFILE_SELECT1]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SP_OPNDUP_BIFILE_SELECT1              */
/*               PROGRAM NAME: SP/OPNDUP.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 08/23/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: BIFILE, LNFILE, BRFILE, GRFILE                          */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_OPNDUP_BIFILE_SELECT1]
  @BEGIN_BRNO_GRID  AS VARCHAR(4), 
  @END_BR_NO        AS VARCHAR(4) 
 	
AS
BEGIN
	SET NOCOUNT ON;
	 
--DECLARE @BEGIN_BRNO_GRID  VARCHAR(4) 
--DECLARE @END_BR_NO        VARCHAR(4)

--SET @BEGIN_BRNO_GRID      =  'SC  '  
--SET @END_BR_NO            =  'SC  '  

----------------------------------------------------------------------
 
DECLARE @RECORD_COUNT    AS INT
SET     @RECORD_COUNT     = 0;

----------------------------------------------------------------------
-- CREATE TEMP1 TABLE = 1ST LEVEL OF GROUP LOGIC PROCESS 
----------------------------------------------------------------------

 IF OBJECT_ID('tempdb.dbo.#TEMP1_BRANCH_GROUP_TBL', 'U') IS NOT NULL
   DROP TABLE #TEMP1_BRANCH_GROUP_TBL;

 CREATE TABLE #TEMP1_BRANCH_GROUP_TBL
   ( GR_ID      CHAR(4),
     GR_KEY     VARCHAR(100),
     MEMBER_ID  CHAR(4));

----------------------------------------------------------------------
-- CREATE TEMP2 TABLE = LOOPING TABLE FOR GROUP LOGIC PROCESS 
----------------------------------------------------------------------

 IF OBJECT_ID('tempdb.dbo.#TEMP2_BRANCH_GROUP_TBL', 'U') IS NOT NULL
   DROP TABLE #TEMP2_BRANCH_GROUP_TBL;

 CREATE TABLE #TEMP2_BRANCH_GROUP_TBL
   ( GR_ID      CHAR(4),
     GR_KEY     VARCHAR(100),
     MEMBER_ID  CHAR(4));

----------------------------------------------------------------------
-- CREATE TEMP3 TABLE = BRANCH ONLY LOGIC PROCESS 
----------------------------------------------------------------------

 IF OBJECT_ID('tempdb.dbo.#TEMP3_BRANCH_TBL', 'U') IS NOT NULL
   DROP TABLE #TEMP3_BRANCH_TBL;

 CREATE TABLE #TEMP3_BRANCH_TBL
   ( GR_ID      CHAR(4),
     GR_KEY     VARCHAR(100),
     MEMBER_ID  INT);
      
----------------------------------------------------------------------
-- IF BEGIN_BRNO_GRID IS NUMERIC (BRANCH) - GOTO BRANCH LOGIC PROCESS 
----------------------------------------------------------------------
 IF ( @BEGIN_BRNO_GRID < '0000' OR  
      @BEGIN_BRNO_GRID > '9999')
   BEGIN
     GOTO GROUPS_SELECT
   END 
 
----------------------------------------------------------------------
-- BRANCH LOGIC = SELECT ALL BRANCHES AND INSERT INTO TEMP3 TABLE,
-- THEN GOTO RESULT TABLE PROCESS. 
----------------------------------------------------------------------
 BRANCHES_SELECT:  
 
  INSERT INTO #TEMP3_BRANCH_TBL 
   SELECT '    '               AS GR_ID,
          FORMAT(BR_NO, 'D4')  AS GR_KEY, 
          FORMAT(BR_NO, 'D4')  AS MEMBER_ID 
     FROM DBO.BRFILE BRFILE 
    WHERE BR_NO BETWEEN @BEGIN_BRNO_GRID AND @END_BR_NO;

 GOTO RESULTS_SELECT 
   
----------------------------------------------------------------------
-- GROUP LOGIC = 1ST PROCESS AGAINS DBO.GRFILE ONLY   
----------------------------------------------------------------------
 GROUPS_SELECT:
 
 INSERT INTO #TEMP1_BRANCH_GROUP_TBL 
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'001',GR_MEMBER_ID_1)   AS GR_KEY, 
          GR_MEMBER_ID_1                           AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID = GR_ID) 
      AND (GR_MEMBER_ID_1   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'002',GR_MEMBER_ID_2)   AS GR_KEY, 
          GR_MEMBER_ID_2                           AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID = GR_ID) 
      AND (GR_MEMBER_ID_2   > '') 
    UNION ALL   
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'003',GR_MEMBER_ID_3)   AS GR_KEY, 
          GR_MEMBER_ID_3                           AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID = GR_ID) 
      AND (GR_MEMBER_ID_3   > '') 
    UNION ALL   
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'004',GR_MEMBER_ID_4)   AS GR_KEY, 
          GR_MEMBER_ID_4                           AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID = GR_ID) 
      AND (GR_MEMBER_ID_4   > '') 
    UNION ALL 
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'005',GR_MEMBER_ID_5)   AS GR_KEY, 
          GR_MEMBER_ID_5                           AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID = GR_ID) 
      AND (GR_MEMBER_ID_5   > '')
    UNION ALL  
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'006',GR_MEMBER_ID_6)   AS GR_KEY, 
          GR_MEMBER_ID_6                           AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID = GR_ID) 
      AND (GR_MEMBER_ID_6   > '')
    UNION ALL  
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'007',GR_MEMBER_ID_7)   AS GR_KEY, 
          GR_MEMBER_ID_7                           AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID = GR_ID) 
      AND (GR_MEMBER_ID_7   > '')
    UNION ALL  
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'008',GR_MEMBER_ID_8)   AS GR_KEY, 
          GR_MEMBER_ID_8                           AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID = GR_ID) 
      AND (GR_MEMBER_ID_8   > '')
    UNION ALL  
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'009',GR_MEMBER_ID_9)   AS GR_KEY, 
          GR_MEMBER_ID_9                           AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID = GR_ID) 
      AND (GR_MEMBER_ID_9   > '')
    UNION ALL  
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'010',GR_MEMBER_ID_10)  AS GR_KEY, 
          GR_MEMBER_ID_10                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID = GR_ID) 
      AND (GR_MEMBER_ID_10  > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'011',GR_MEMBER_ID_11)  AS GR_KEY, 
          GR_MEMBER_ID_11                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID = GR_ID) 
      AND (GR_MEMBER_ID_11  > '') 
    UNION ALL   
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'012',GR_MEMBER_ID_12)  AS GR_KEY, 
          GR_MEMBER_ID_12                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID = GR_ID) 
      AND (GR_MEMBER_ID_12  > '') 
    UNION ALL 
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'013',GR_MEMBER_ID_13)  AS GR_KEY, 
          GR_MEMBER_ID_13                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID = GR_ID) 
      AND (GR_MEMBER_ID_13  > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'014',GR_MEMBER_ID_14)  AS GR_KEY, 
          GR_MEMBER_ID_14                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_14   > '') 
    UNION ALL   
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'015',GR_MEMBER_ID_15)  AS GR_KEY, 
          GR_MEMBER_ID_15                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_15   > '')
    UNION ALL  
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'016',GR_MEMBER_ID_16)  AS GR_KEY, 
          GR_MEMBER_ID_16                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_16   > '')
    UNION ALL  
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'017',GR_MEMBER_ID_17)  AS GR_KEY, 
          GR_MEMBER_ID_17                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_17   > '')
    UNION ALL 
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'018',GR_MEMBER_ID_18)  AS GR_KEY, 
          GR_MEMBER_ID_18                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_18   > '')
    UNION ALL 
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'019',GR_MEMBER_ID_19)  AS GR_KEY, 
          GR_MEMBER_ID_19                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_19   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'020',GR_MEMBER_ID_20)  AS GR_KEY, 
          GR_MEMBER_ID_20                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_20   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'021',GR_MEMBER_ID_21)  AS GR_KEY, 
          GR_MEMBER_ID_21                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_21   > '') 
    UNION ALL   
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'022',GR_MEMBER_ID_22)  AS GR_KEY, 
          GR_MEMBER_ID_22                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_22   > '') 
    UNION ALL   
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'023',GR_MEMBER_ID_23)  AS GR_KEY, 
          GR_MEMBER_ID_23                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_23   > '') 
    UNION ALL  
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'024',GR_MEMBER_ID_24)  AS GR_KEY, 
          GR_MEMBER_ID_24                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_24   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'025',GR_MEMBER_ID_25)  AS GR_KEY, 
          GR_MEMBER_ID_25                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_25   > '')
    UNION ALL 
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'026',GR_MEMBER_ID_26)  AS GR_KEY, 
          GR_MEMBER_ID_26                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_26   > '')
    UNION ALL  
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'027',GR_MEMBER_ID_27)  AS GR_KEY, 
          GR_MEMBER_ID_27                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_27   > '')
    UNION ALL  
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'028',GR_MEMBER_ID_28)  AS GR_KEY, 
          GR_MEMBER_ID_28                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_28   > '')
    UNION ALL 
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'029',GR_MEMBER_ID_29)  AS GR_KEY, 
          GR_MEMBER_ID_29                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_29   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'030',GR_MEMBER_ID_30)  AS GR_KEY, 
          GR_MEMBER_ID_30                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_30   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'031',GR_MEMBER_ID_31)  AS GR_KEY, 
          GR_MEMBER_ID_31                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_31   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'032',GR_MEMBER_ID_32)  AS GR_KEY, 
          GR_MEMBER_ID_32                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_32   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'033',GR_MEMBER_ID_33)  AS GR_KEY, 
          GR_MEMBER_ID_33                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_33   > '') 
    UNION ALL  
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'034',GR_MEMBER_ID_34)  AS GR_KEY, 
          GR_MEMBER_ID_34                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)              
      AND (GR_MEMBER_ID_34   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'035',GR_MEMBER_ID_35)  AS GR_KEY, 
          GR_MEMBER_ID_35                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_35   > '')
    UNION ALL 
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'036',GR_MEMBER_ID_36)  AS GR_KEY, 
          GR_MEMBER_ID_36                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_36   > '')
    UNION ALL  
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'037',GR_MEMBER_ID_37)  AS GR_KEY, 
          GR_MEMBER_ID_37                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_37   > '')
    UNION ALL  
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'038',GR_MEMBER_ID_38)  AS GR_KEY, 
          GR_MEMBER_ID_38                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_38   > '')
    UNION ALL  
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'039',GR_MEMBER_ID_39)  AS GR_KEY, 
          GR_MEMBER_ID_39                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_39   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'040',GR_MEMBER_ID_40)  AS GR_KEY, 
          GR_MEMBER_ID_40                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_40   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'041',GR_MEMBER_ID_41)  AS GR_KEY, 
          GR_MEMBER_ID_41                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_41   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'042',GR_MEMBER_ID_42)  AS GR_KEY, 
          GR_MEMBER_ID_42                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_42   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'043',GR_MEMBER_ID_43)  AS GR_KEY, 
          GR_MEMBER_ID_43                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_43   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'044',GR_MEMBER_ID_44)  AS GR_KEY, 
          GR_MEMBER_ID_44                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_44   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'045',GR_MEMBER_ID_45)  AS GR_KEY, 
          GR_MEMBER_ID_45                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_45   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'046',GR_MEMBER_ID_46)  AS GR_KEY, 
          GR_MEMBER_ID_46                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_46   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'047',GR_MEMBER_ID_47)  AS GR_KEY, 
          GR_MEMBER_ID_47                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_47   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'048',GR_MEMBER_ID_48)  AS GR_KEY, 
          GR_MEMBER_ID_48                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_48   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'049',GR_MEMBER_ID_49)  AS GR_KEY, 
          GR_MEMBER_ID_49                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_49   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'050',GR_MEMBER_ID_50)  AS GR_KEY, 
          GR_MEMBER_ID_50                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_50   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'051',GR_MEMBER_ID_51)  AS GR_KEY, 
          GR_MEMBER_ID_51                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_51   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'052',GR_MEMBER_ID_52)  AS GR_KEY, 
          GR_MEMBER_ID_52                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_52   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'053',GR_MEMBER_ID_53)  AS GR_KEY, 
          GR_MEMBER_ID_53                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_53   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'054',GR_MEMBER_ID_54)  AS GR_KEY, 
          GR_MEMBER_ID_54                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_54   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'055',GR_MEMBER_ID_55)  AS GR_KEY, 
          GR_MEMBER_ID_55                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_55   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'056',GR_MEMBER_ID_56)  AS GR_KEY, 
          GR_MEMBER_ID_56                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_56   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'057',GR_MEMBER_ID_57)  AS GR_KEY, 
          GR_MEMBER_ID_57                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_57   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'058',GR_MEMBER_ID_58)  AS GR_KEY, 
          GR_MEMBER_ID_58                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_58   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'059',GR_MEMBER_ID_59)  AS GR_KEY, 
          GR_MEMBER_ID_59                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_59   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'060',GR_MEMBER_ID_60)  AS GR_KEY, 
          GR_MEMBER_ID_60                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_60   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'061',GR_MEMBER_ID_61)  AS GR_KEY, 
          GR_MEMBER_ID_61                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_61   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'062',GR_MEMBER_ID_62)  AS GR_KEY, 
          GR_MEMBER_ID_62                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)    
      AND (GR_MEMBER_ID_62   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'063',GR_MEMBER_ID_63)  AS GR_KEY, 
          GR_MEMBER_ID_63                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_63   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'064',GR_MEMBER_ID_64)  AS GR_KEY, 
          GR_MEMBER_ID_64                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_64   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'065',GR_MEMBER_ID_65)  AS GR_KEY, 
          GR_MEMBER_ID_65                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_65   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'066',GR_MEMBER_ID_66)  AS GR_KEY, 
          GR_MEMBER_ID_66                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_66   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'067',GR_MEMBER_ID_67)  AS GR_KEY, 
          GR_MEMBER_ID_67                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_67   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'068',GR_MEMBER_ID_68)  AS GR_KEY, 
          GR_MEMBER_ID_68                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_68   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'069',GR_MEMBER_ID_69)  AS GR_KEY, 
          GR_MEMBER_ID_69                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_69   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'070',GR_MEMBER_ID_70)  AS GR_KEY, 
          GR_MEMBER_ID_70                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_70   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'071',GR_MEMBER_ID_71)  AS GR_KEY, 
          GR_MEMBER_ID_71                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_71   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'072',GR_MEMBER_ID_72)  AS GR_KEY, 
          GR_MEMBER_ID_72                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID) 
      AND (GR_MEMBER_ID_72   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'073',GR_MEMBER_ID_73)  AS GR_KEY, 
          GR_MEMBER_ID_73                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_73   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'074',GR_MEMBER_ID_74)  AS GR_KEY, 
          GR_MEMBER_ID_74                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_74   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'075',GR_MEMBER_ID_75)  AS GR_KEY, 
          GR_MEMBER_ID_75                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_75   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'076',GR_MEMBER_ID_76)  AS GR_KEY, 
          GR_MEMBER_ID_76                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_76   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'077',GR_MEMBER_ID_77)  AS GR_KEY, 
          GR_MEMBER_ID_77                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_77   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'078',GR_MEMBER_ID_78)  AS GR_KEY, 
          GR_MEMBER_ID_78                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_78   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'079',GR_MEMBER_ID_79)  AS GR_KEY, 
          GR_MEMBER_ID_79                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_79   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'080',GR_MEMBER_ID_80)  AS GR_KEY, 
          GR_MEMBER_ID_80                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_80   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'081',GR_MEMBER_ID_81)  AS GR_KEY, 
          GR_MEMBER_ID_81                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_81   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'082',GR_MEMBER_ID_82)  AS GR_KEY, 
          GR_MEMBER_ID_82                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_82   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'083',GR_MEMBER_ID_83)  AS GR_KEY, 
          GR_MEMBER_ID_83                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_83   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'084',GR_MEMBER_ID_84)  AS GR_KEY, 
          GR_MEMBER_ID_84                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_84   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'085',GR_MEMBER_ID_85)  AS GR_KEY, 
          GR_MEMBER_ID_85                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_85   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'086',GR_MEMBER_ID_86)  AS GR_KEY, 
          GR_MEMBER_ID_86                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_86   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'087',GR_MEMBER_ID_87)  AS GR_KEY, 
          GR_MEMBER_ID_87                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_87   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'088',GR_MEMBER_ID_88)  AS GR_KEY, 
          GR_MEMBER_ID_88                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_88   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'089',GR_MEMBER_ID_89)  AS GR_KEY, 
          GR_MEMBER_ID_89                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_89   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'090',GR_MEMBER_ID_90)  AS GR_KEY, 
          GR_MEMBER_ID_90                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_90   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'091',GR_MEMBER_ID_91)  AS GR_KEY, 
          GR_MEMBER_ID_91                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_91   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'092',GR_MEMBER_ID_92)  AS GR_KEY, 
          GR_MEMBER_ID_92                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_92   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'093',GR_MEMBER_ID_93)  AS GR_KEY, 
          GR_MEMBER_ID_93                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_93   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'094',GR_MEMBER_ID_94)  AS GR_KEY, 
          GR_MEMBER_ID_94                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_94   > '') 
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'095',GR_MEMBER_ID_95)  AS GR_KEY, 
          GR_MEMBER_ID_95                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_95   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'096',GR_MEMBER_ID_96)  AS GR_KEY, 
          GR_MEMBER_ID_96                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_96   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'097',GR_MEMBER_ID_97)  AS GR_KEY, 
          GR_MEMBER_ID_97                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_97   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'098',GR_MEMBER_ID_98)  AS GR_KEY, 
          GR_MEMBER_ID_98                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_98   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'099',GR_MEMBER_ID_99)  AS GR_KEY, 
          GR_MEMBER_ID_99                          AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_99   > '')
    UNION ALL
   SELECT GR_ID                                    AS GR_ID,
          CONCAT('1',GR_ID,'100',GR_MEMBER_ID_100) AS GR_KEY, 
          GR_MEMBER_ID_100                         AS MEMBER_ID 
     FROM DBO.GRFILE 
    WHERE (@BEGIN_BRNO_GRID  = GR_ID)  
      AND (GR_MEMBER_ID_100  > '');

----------------------------------------------------------------------
-- INSERT INTO TEMP3 TABLE ALL MEMBER_ID'S THAT ARE NUMERIC (BRANCHES) 
----------------------------------------------------------------------
 INSERT 
   INTO #TEMP3_BRANCH_TBL 
     SELECT GR_ID, GR_KEY, MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL
      WHERE ( MEMBER_ID >= '0000' 
        AND   MEMBER_ID <= '9999' );

----------------------------------------------------------------------
-- COUNT ALL MEMBER_ID'S NOT NUMERIC. IF THERE ARE NONE, GO TO RESULT
-- PROCESS.  IF THERE ARE NON-NUMERIC MEMBERS (GROUPS), DELETE ALL 
-- NUMERIC ROWS AND THEN GOTO LOOP GROUP PROCESS.
----------------------------------------------------------------------
 SET @RECORD_COUNT =  
   ( SELECT COUNT(*)  
       FROM #TEMP1_BRANCH_GROUP_TBL
      WHERE ( MEMBER_ID  < '0000'
         OR   MEMBER_ID  > '9999' )); 
 
 IF @RECORD_COUNT  = 0 
    BEGIN
      GOTO RESULTS_SELECT    
    END

 DELETE 
   FROM #TEMP1_BRANCH_GROUP_TBL 
  WHERE ( MEMBER_ID >= '0000'
    AND   MEMBER_ID <= '9999' ); 

----------------------------------------------------------------------
-- GROUP LOGIC - LOOPING PROCESS TO READ ALL 'NEXT LEVEL' GROUP ID'S 
-- AND INSERT ALL OF THEIR BRANCHES INTO TEMP3 TABLE.  CONTINUE THIS
-- LOOP PROCESS UNTIL THERE ARE NO MORE GROUPS TO PROCESS.
----------------------------------------------------------------------
 GROUPS_SELECT_LOOP: 

 INSERT INTO #TEMP2_BRANCH_GROUP_TBL
     SELECT A.GR_ID                     AS GR_ID,
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'001',B.GR_MEMBER_ID_1)
                                        AS GR_KEY,   
            B.GR_MEMBER_ID_1            AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_1 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_1
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'002',B.GR_MEMBER_ID_2)  
                                        AS GR_KEY,
            B.GR_MEMBER_ID_2            AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_2 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_2
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'003',B.GR_MEMBER_ID_3)  
                                        AS GR_KEY,
            B.GR_MEMBER_ID_3            AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_3 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_3
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'004',B.GR_MEMBER_ID_4)  
                                        AS GR_KEY,
            B.GR_MEMBER_ID_4            AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_4 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_4
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'005',B.GR_MEMBER_ID_5)  
                                        AS GR_KEY,
            B.GR_MEMBER_ID_5            AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_5 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_5
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'006',B.GR_MEMBER_ID_6)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_6            AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_6 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_6
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'007',B.GR_MEMBER_ID_7)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_7            AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_7 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_7
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'008',B.GR_MEMBER_ID_8) 
                                        AS GR_KEY,
            B.GR_MEMBER_ID_8            AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_8 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_8
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'009',B.GR_MEMBER_ID_9) 
                                        AS GR_KEY,
            B.GR_MEMBER_ID_9            AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_9 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_9
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'010',B.GR_MEMBER_ID_10) 
                                        AS GR_KEY,
            B.GR_MEMBER_ID_10           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_10 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_10
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'011',B.GR_MEMBER_ID_11) 
                                        AS GR_KEY,
            B.GR_MEMBER_ID_11           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_11 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_11
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'012',B.GR_MEMBER_ID_12) 
                                        AS GR_KEY,
            B.GR_MEMBER_ID_12           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_12 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_12
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'013',B.GR_MEMBER_ID_13) 
                                        AS GR_KEY,
            B.GR_MEMBER_ID_13           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_13 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_13
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'014',B.GR_MEMBER_ID_14) 
                                        AS GR_KEY,
            B.GR_MEMBER_ID_14           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_14 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_14
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'015',B.GR_MEMBER_ID_15) 
                                        AS GR_KEY,
            B.GR_MEMBER_ID_15           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_15 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_15
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'016',B.GR_MEMBER_ID_16) 
                                        AS GR_KEY,
            B.GR_MEMBER_ID_16           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_16 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_16
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'017',B.GR_MEMBER_ID_17) 
                                        AS GR_KEY,
            B.GR_MEMBER_ID_17           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_17 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_17
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'018',B.GR_MEMBER_ID_18) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_18           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_18 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_18
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'019',B.GR_MEMBER_ID_19) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_19           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_19 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_19
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'020',B.GR_MEMBER_ID_20) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_20           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_20 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_20
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'021',B.GR_MEMBER_ID_21) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_21           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_21 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_21
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'022',B.GR_MEMBER_ID_22) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_22           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_22 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_22
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'023',B.GR_MEMBER_ID_23) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_23           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_23 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_23
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'024',B.GR_MEMBER_ID_24) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_24           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_24 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_24
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'025',B.GR_MEMBER_ID_25) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_25           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_25 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_25
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'026',B.GR_MEMBER_ID_26) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_26           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_26 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_26
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'027',B.GR_MEMBER_ID_27) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_27           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_27 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_27
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'028',B.GR_MEMBER_ID_28) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_28           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_28 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_28
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'029',B.GR_MEMBER_ID_29) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_29           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_29 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_29
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'030',B.GR_MEMBER_ID_30) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_30           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_30 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_30
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'031',B.GR_MEMBER_ID_31) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_31           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_31 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_31
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'032',B.GR_MEMBER_ID_32) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_32           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_32 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_32
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'033',B.GR_MEMBER_ID_33) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_33           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_33 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_33
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'034',B.GR_MEMBER_ID_34) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_34           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_34 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_34
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'035',B.GR_MEMBER_ID_35) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_35           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_35 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_35
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'036',B.GR_MEMBER_ID_36) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_36           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_36 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_36
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'037',B.GR_MEMBER_ID_37) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_37           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_37 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_37
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'038',B.GR_MEMBER_ID_38) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_38           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_38 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_38
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'039',B.GR_MEMBER_ID_39) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_39           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_39 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_39
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'040',B.GR_MEMBER_ID_40) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_40           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_40 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_40
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'041',B.GR_MEMBER_ID_41) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_41           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_41 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_41
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'042',B.GR_MEMBER_ID_42) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_42           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_42 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_42
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'043',B.GR_MEMBER_ID_43) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_43           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_43 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_43
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'044',B.GR_MEMBER_ID_44) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_44           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_44 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_44
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'045',B.GR_MEMBER_ID_45) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_45           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_45 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_45
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'046',B.GR_MEMBER_ID_46) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_46           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_46 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_46
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'047',B.GR_MEMBER_ID_47) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_47           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_47 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_47
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'048',B.GR_MEMBER_ID_48) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_48           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_48 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_48
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'049',B.GR_MEMBER_ID_49) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_49           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_49 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_49
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'050',B.GR_MEMBER_ID_50) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_50           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_50 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_50
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'051',B.GR_MEMBER_ID_51) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_51           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_51 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_51
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'052',B.GR_MEMBER_ID_52) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_52           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_52 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_52
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'053',B.GR_MEMBER_ID_53) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_53           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_53 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_53
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'054',B.GR_MEMBER_ID_54) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_54           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_54 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_54
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'055',B.GR_MEMBER_ID_55) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_55           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_55 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_55
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'056',B.GR_MEMBER_ID_56) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_56           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_56 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_56
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'057',B.GR_MEMBER_ID_57) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_57           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_57 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_57
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'058',B.GR_MEMBER_ID_58) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_58           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_58 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_58
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'059',B.GR_MEMBER_ID_59) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_59           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_59 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_59
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'060',B.GR_MEMBER_ID_60) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_60           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_60 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_60
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'061',B.GR_MEMBER_ID_61) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_61           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_61 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_61
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'062',B.GR_MEMBER_ID_62)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_62           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_62 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_62
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'063',B.GR_MEMBER_ID_63)  
                                        AS GR_KEY, 
           B.GR_MEMBER_ID_63           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_63 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_63
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'064',B.GR_MEMBER_ID_64)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_64           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_64 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_64
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'065',B.GR_MEMBER_ID_65)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_65           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_65 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_65
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'066',B.GR_MEMBER_ID_66)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_66           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_66 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_66
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'067',B.GR_MEMBER_ID_67)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_67           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_67 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_67
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'068',B.GR_MEMBER_ID_68)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_68           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_68 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_68
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'069',B.GR_MEMBER_ID_69)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_69           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_69 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_69
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'070',B.GR_MEMBER_ID_70)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_70           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_70 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_70
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'071',B.GR_MEMBER_ID_71)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_71           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_71 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_71
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'072',B.GR_MEMBER_ID_72)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_72           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_72 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_72
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'073',B.GR_MEMBER_ID_73)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_73           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_73 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_73
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'074',B.GR_MEMBER_ID_74)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_74           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_74 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_74
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'075',B.GR_MEMBER_ID_75)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_75           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_75 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_75
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'076',B.GR_MEMBER_ID_76)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_76           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_76 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_76
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'077',B.GR_MEMBER_ID_77)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_77           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_77 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_77
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'078',B.GR_MEMBER_ID_78)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_78           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_78 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_78
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'079',B.GR_MEMBER_ID_79)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_79           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_79 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_79
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'080',B.GR_MEMBER_ID_80)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_80           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_80 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_80
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'081',B.GR_MEMBER_ID_81)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_81           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_81 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_81
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'082',B.GR_MEMBER_ID_82)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_82           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_82 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_82
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'083',B.GR_MEMBER_ID_83)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_83           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_83 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_83
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'084',B.GR_MEMBER_ID_84)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_84           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_84 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_84
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'085',B.GR_MEMBER_ID_85)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_85           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_85 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_85
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'086',B.GR_MEMBER_ID_86)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_86           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_86 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_86
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'087',B.GR_MEMBER_ID_87)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_87           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_87 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_87
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'088',B.GR_MEMBER_ID_88)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_88           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_88 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_88
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'089',B.GR_MEMBER_ID_89)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_89           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_89 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_89
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'090',B.GR_MEMBER_ID_90)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_90           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_90 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_90
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'091',B.GR_MEMBER_ID_91)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_91           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_91 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_91
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'092',B.GR_MEMBER_ID_92)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_92           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_92 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_92
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'093',B.GR_MEMBER_ID_93)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_93           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_93 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_93
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'094',B.GR_MEMBER_ID_94)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_94           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_94 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_94
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'095',B.GR_MEMBER_ID_95)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_95           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_95 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_95
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'096',B.GR_MEMBER_ID_96)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_96           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_96 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_96
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'097',B.GR_MEMBER_ID_97)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_97           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_97 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_97
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'098',B.GR_MEMBER_ID_98)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_98           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_98 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_98
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'099',B.GR_MEMBER_ID_99)  
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_99           AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_99 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_99
      UNION ALL
     SELECT A.GR_ID                     AS GR_ID,  
            CONCAT(A.GR_KEY,COUNT(A.GR_KEY),B.GR_ID,'100',GR_MEMBER_ID_100) 
                                        AS GR_KEY, 
            B.GR_MEMBER_ID_100          AS MEMBER_ID
       FROM #TEMP1_BRANCH_GROUP_TBL A ,DBO.GRFILE B 
      WHERE (A.MEMBER_ID = B.GR_ID) AND (B.GR_MEMBER_ID_100 > '') 
      GROUP BY A.GR_ID, A.GR_KEY, B.GR_ID, GR_MEMBER_ID_100; 

------------------------------------------------------------------------
-- INSERT INTO TEMP3, ALL ROWS WHERE THE MEMBER_ID IS NUMERIC (A BRANCH). 
------------------------------------------------------------------------
 INSERT INTO #TEMP3_BRANCH_TBL
   SELECT GR_ID, GR_KEY, MEMBER_ID
     FROM #TEMP2_BRANCH_GROUP_TBL
    WHERE ( MEMBER_ID >= '0000' 
      AND   MEMBER_ID <= '9999');

------------------------------------------------------------------------
-- SELECT COUNT OF ANY ROWS THAT ARE NOT A BRANCH ROW.  IF ALL ARE BRANCH
-- ROWS, GOTO RESULT_SELECT PROCESS TO RUN FINAL SELECT.
------------------------------------------------------------------------  
 SET @RECORD_COUNT =  
   ( SELECT COUNT(*)  
       FROM #TEMP2_BRANCH_GROUP_TBL
    WHERE ( MEMBER_ID < '0000' 
      OR    MEMBER_ID > '9999' ));  
  
 IF @RECORD_COUNT  = 0  
   BEGIN
     GOTO  RESULTS_SELECT
   END 
 
------------------------------------------------------------------------
-- EMPTY TEMP1 TABLE, AND INSERT ALL ROWS FROM TEMP2 THAT ARE GROUP ROWS 
-- (NOT NUMERIC). EMPTY TEMP2 TABLE FOR NEXT LOOP PROCESS, AND GO TO TOP
-- OF LOOP, TO PROCESS THE NEXT LEVEL OF GROUPS. 
------------------------------------------------------------------------
 TRUNCATE TABLE #TEMP1_BRANCH_GROUP_TBL;

 INSERT INTO #TEMP1_BRANCH_GROUP_TBL 
   SELECT GR_ID, GR_KEY, MEMBER_ID
     FROM #TEMP2_BRANCH_GROUP_TBL
    WHERE ( MEMBER_ID < '0000' 
      OR    MEMBER_ID > '9999' );  
  
 TRUNCATE TABLE #TEMP2_BRANCH_GROUP_TBL; 

 GOTO GROUPS_SELECT_LOOP  
  
------------------------------------------------------------------------
-- THIS SELECT STATEMENT WILL EXECUTE THE SQL AS THE RESULT SENT BACK 
-- TO THE COBOL PROGRAM.
------------------------------------------------------------------------
 RESULTS_SELECT:

	   SELECT BIFILE.BI_OWNBR,
          BIFILE.BI_SSNO,
          BIFILE.BI_LNAME,
          BIFILE.BI_FNAME,
          BIFILE.BI_ACCTNO,
          CAST(BIFILE.BI_ENTDATE  AS VARCHAR(10)) AS BI_ENTDATE,
          BIFILE.BI_MAKERCD, 
          CAST(BIFILE.BI_POFFDATE AS VARCHAR(10)) AS BI_POFFDATE,
          BIFILE.BI_PLCD,    
          BIFILE.BI_GIFTNET,
          LNFILE.LN_OWNBR,
          LNFILE.LN_ACCTNO,
          LNFILE.LN_CLASS,
          LNFILE.LN_CURBAL

     FROM DBO.BIFILE BIFILE

    INNER JOIN
          #TEMP3_BRANCH_TBL TEMP3
       ON (BIFILE.BI_OWNBR  = TEMP3.MEMBER_ID) 

    INNER JOIN 
          DBO.LNFILE LNFILE
       ON (BIFILE.BI_OWNBR  = LNFILE.LN_OWNBR
      AND  BIFILE.BI_ACCTNO = LNFILE.LN_ACCTNO) 

    INNER JOIN (SELECT BIFILE.BI_SSNO
                  FROM DBO.BIFILE BIFILE,
                       #TEMP3_BRANCH_TBL TEMP3
                 WHERE BIFILE.BI_MAKERCD      = 'M'
                   AND BIFILE.BI_POFFDATE     = '1900-01-01'
                   AND BIFILE.BI_PLCD         = ' ' 
                   AND BIFILE.BI_GIFTNET NOT IN ('Y', 'X', 'A')
                   AND BIFILE.BI_OWNBR        = MEMBER_ID

                 GROUP BY BIFILE.BI_SSNO
                HAVING COUNT(DISTINCT BI_ACCTNO) > 1) TEMP  
       ON (BIFILE.BI_SSNO = TEMP.BI_SSNO)
    WHERE BIFILE.BI_MAKERCD      = 'M'
      AND BIFILE.BI_POFFDATE     = '1900-01-01'
      AND BIFILE.BI_PLCD         = ' ' 
      AND BIFILE.BI_GIFTNET NOT IN ('Y', 'X', 'A')

    ORDER BY BIFILE.BI_SSNO,  
             BIFILE.BI_ACCTNO,
             BIFILE.BI_OWNBR;

END
GO
