USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_BYANRP_BYFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_BYANRP_BYFILE_SELECT              */
/*               PROGRAM NAME: LP/BYANRP.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: BYAFILE, BYBFILE                                        */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_BYANRP_BYFILE_SELECT]
    @QBY1_WBEG_DATE_CCYYMM   AS INT,
    @QBY1_WEND_DATE_CCYYMM   AS INT,
    @QBY1_WBEG_BRNO          AS INT, 
    @QBY1_WBEG_CLASS         AS INT,
    @QBY1_WEND_CLASS         AS INT 
	   	  

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QBY1_WBEG_DATE_CCYYMM   INT
--DECLARE @QBY1_WEND_DATE_CCYYMM   INT
--DECLARE @QBY1_WBEG_BRNO          INT
--DECLARE @QBY1_WBEG_CLASS         INT 
--DECLARE @QBY1_WEND_CLASS         INT  
 
--SET     @QBY1_WBEG_DATE_CCYYMM   = 201912   
--SET     @QBY1_WEND_DATE_CCYYMM   = 201912
--SET     @QBY1_WBEG_BRNO          = 0010   
--SET     @QBY1_WBEG_CLASS         = 000  
--SET     @QBY1_WEND_CLASS         = 999
 
   SELECT BYAFILE.BYA_DATE_CCYYMM,
          BYAFILE.BYA_BRNO,
          BYAFILE.BYA_CLASS,
          BYAFILE.BYA_NO_1_1_1,
          BYAFILE.BYA_NO_1_1_2,
          BYAFILE.BYA_NO_1_1_3,
          BYAFILE.BYA_NO_1_1_4,
          BYAFILE.BYA_NO_1_1_5,
          BYAFILE.BYA_NO_1_1_6,
          BYAFILE.BYA_NO_1_1_7,
          BYAFILE.BYA_NO_1_1_8,
          BYAFILE.BYA_NO_1_1_9,
          BYAFILE.BYA_NO_1_1_10,
          BYAFILE.BYA_NO_1_1_11,
          BYAFILE.BYA_NO_1_2_1,
          BYAFILE.BYA_NO_1_2_2,
          BYAFILE.BYA_NO_1_2_3,
          BYAFILE.BYA_NO_1_2_4,
          BYAFILE.BYA_NO_1_2_5,
          BYAFILE.BYA_NO_1_2_6,
          BYAFILE.BYA_NO_1_2_7,
          BYAFILE.BYA_NO_1_2_8,
          BYAFILE.BYA_NO_1_2_9,
          BYAFILE.BYA_NO_1_2_10,
          BYAFILE.BYA_NO_1_2_11,
          BYAFILE.BYA_NO_2_1_1,
          BYAFILE.BYA_NO_2_1_2,
          BYAFILE.BYA_NO_2_1_3,
          BYAFILE.BYA_NO_2_1_4,
          BYAFILE.BYA_NO_2_1_5,
          BYAFILE.BYA_NO_2_1_6,
          BYAFILE.BYA_NO_2_1_7,
          BYAFILE.BYA_NO_2_1_8,
          BYAFILE.BYA_NO_2_1_9,
          BYAFILE.BYA_NO_2_1_10,
          BYAFILE.BYA_NO_2_1_11,
          BYAFILE.BYA_NO_2_2_1,
          BYAFILE.BYA_NO_2_2_2,
          BYAFILE.BYA_NO_2_2_3,
          BYAFILE.BYA_NO_2_2_4,
          BYAFILE.BYA_NO_2_2_5,
          BYAFILE.BYA_NO_2_2_6,
          BYAFILE.BYA_NO_2_2_7,
          BYAFILE.BYA_NO_2_2_8,
          BYAFILE.BYA_NO_2_2_9,
          BYAFILE.BYA_NO_2_2_10,
          BYAFILE.BYA_NO_2_2_11,
          BYAFILE.BYA_NO_3_1_1,
          BYAFILE.BYA_NO_3_1_2,
          BYAFILE.BYA_NO_3_1_3,
          BYAFILE.BYA_NO_3_1_4,
          BYAFILE.BYA_NO_3_1_5,
          BYAFILE.BYA_NO_3_1_6,
          BYAFILE.BYA_NO_3_1_7,
          BYAFILE.BYA_NO_3_1_8,
          BYAFILE.BYA_NO_3_1_9,
          BYAFILE.BYA_NO_3_1_10,
          BYAFILE.BYA_NO_3_1_11,
          BYAFILE.BYA_NO_3_2_1,
          BYAFILE.BYA_NO_3_2_2,
          BYAFILE.BYA_NO_3_2_3,
          BYAFILE.BYA_NO_3_2_4,
          BYAFILE.BYA_NO_3_2_5,
          BYAFILE.BYA_NO_3_2_6,
          BYAFILE.BYA_NO_3_2_7,
          BYAFILE.BYA_NO_3_2_8,
          BYAFILE.BYA_NO_3_2_9,
          BYAFILE.BYA_NO_3_2_10,
          BYAFILE.BYA_NO_3_2_11,
          BYAFILE.BYA_AMT_1_1_1,
          BYAFILE.BYA_AMT_1_1_2,
          BYAFILE.BYA_AMT_1_1_3,
          BYAFILE.BYA_AMT_1_1_4,
          BYAFILE.BYA_AMT_1_1_5,
          BYAFILE.BYA_AMT_1_1_6,
          BYAFILE.BYA_AMT_1_1_7,
          BYAFILE.BYA_AMT_1_1_8,
          BYAFILE.BYA_AMT_1_1_9,
          BYAFILE.BYA_AMT_1_1_10,
          BYAFILE.BYA_AMT_1_1_11,
          BYAFILE.BYA_AMT_1_2_1,
          BYAFILE.BYA_AMT_1_2_2,
          BYAFILE.BYA_AMT_1_2_3,
          BYAFILE.BYA_AMT_1_2_4,
          BYAFILE.BYA_AMT_1_2_5,
          BYAFILE.BYA_AMT_1_2_6,
          BYAFILE.BYA_AMT_1_2_7,
          BYAFILE.BYA_AMT_1_2_8,
          BYAFILE.BYA_AMT_1_2_9,
          BYAFILE.BYA_AMT_1_2_10,
          BYAFILE.BYA_AMT_1_2_11,
          BYAFILE.BYA_AMT_2_1_1,
          BYAFILE.BYA_AMT_2_1_2,
          BYAFILE.BYA_AMT_2_1_3,
          BYAFILE.BYA_AMT_2_1_4,
          BYAFILE.BYA_AMT_2_1_5,
          BYAFILE.BYA_AMT_2_1_6,
          BYAFILE.BYA_AMT_2_1_7,
          BYAFILE.BYA_AMT_2_1_8,
          BYAFILE.BYA_AMT_2_1_9,
          BYAFILE.BYA_AMT_2_1_10,
          BYAFILE.BYA_AMT_2_1_11,
          BYAFILE.BYA_AMT_2_2_1,
          BYAFILE.BYA_AMT_2_2_2,
          BYAFILE.BYA_AMT_2_2_3,
          BYAFILE.BYA_AMT_2_2_4,
          BYAFILE.BYA_AMT_2_2_5,
          BYAFILE.BYA_AMT_2_2_6,
          BYAFILE.BYA_AMT_2_2_7,
          BYAFILE.BYA_AMT_2_2_8,
          BYAFILE.BYA_AMT_2_2_9,
          BYAFILE.BYA_AMT_2_2_10,
          BYAFILE.BYA_AMT_2_2_11,
          BYAFILE.BYA_AMT_3_1_1,
          BYAFILE.BYA_AMT_3_1_2,
          BYAFILE.BYA_AMT_3_1_3,
          BYAFILE.BYA_AMT_3_1_4,
          BYAFILE.BYA_AMT_3_1_5,
          BYAFILE.BYA_AMT_3_1_6,
          BYAFILE.BYA_AMT_3_1_7,
          BYAFILE.BYA_AMT_3_1_8,
          BYAFILE.BYA_AMT_3_1_9,
          BYAFILE.BYA_AMT_3_1_10,
          BYAFILE.BYA_AMT_3_1_11,
          BYAFILE.BYA_AMT_3_2_1,
          BYAFILE.BYA_AMT_3_2_2,
          BYAFILE.BYA_AMT_3_2_3,
          BYAFILE.BYA_AMT_3_2_4,
          BYAFILE.BYA_AMT_3_2_5,
          BYAFILE.BYA_AMT_3_2_6,
          BYAFILE.BYA_AMT_3_2_7,
          BYAFILE.BYA_AMT_3_2_8,
          BYAFILE.BYA_AMT_3_2_9,
          BYAFILE.BYA_AMT_3_2_10,
          BYAFILE.BYA_AMT_3_2_11,
          BYAFILE.BYA_O2_1_1_1,
          BYAFILE.BYA_O2_1_1_2,
          BYAFILE.BYA_O2_1_1_3,
          BYAFILE.BYA_O2_1_1_4,
          BYAFILE.BYA_O2_1_1_5,
          BYAFILE.BYA_O2_1_1_6,
          BYAFILE.BYA_O2_1_1_7,
          BYAFILE.BYA_O2_1_1_8,
          BYAFILE.BYA_O2_1_1_9,
          BYAFILE.BYA_O2_1_1_10,
          BYAFILE.BYA_O2_1_1_11,
          BYAFILE.BYA_O2_1_2_1,
          BYAFILE.BYA_O2_1_2_2,
          BYAFILE.BYA_O2_1_2_3,
          BYAFILE.BYA_O2_1_2_4,
          BYAFILE.BYA_O2_1_2_5,
          BYAFILE.BYA_O2_1_2_6,
          BYAFILE.BYA_O2_1_2_7,
          BYAFILE.BYA_O2_1_2_8,
          BYAFILE.BYA_O2_1_2_9,
          BYAFILE.BYA_O2_1_2_10,
          BYAFILE.BYA_O2_1_2_11,
          BYAFILE.BYA_O2_2_1_1,
          BYAFILE.BYA_O2_2_1_2,
          BYAFILE.BYA_O2_2_1_3,
          BYAFILE.BYA_O2_2_1_4,
          BYAFILE.BYA_O2_2_1_5,
          BYAFILE.BYA_O2_2_1_6,
          BYAFILE.BYA_O2_2_1_7,
          BYAFILE.BYA_O2_2_1_8,
          BYAFILE.BYA_O2_2_1_9,
          BYAFILE.BYA_O2_2_1_10,
          BYAFILE.BYA_O2_2_1_11,
          BYAFILE.BYA_O2_2_2_1,
          BYAFILE.BYA_O2_2_2_2,
          BYAFILE.BYA_O2_2_2_3,
          BYAFILE.BYA_O2_2_2_4,
          BYAFILE.BYA_O2_2_2_5,
          BYAFILE.BYA_O2_2_2_6,
          BYAFILE.BYA_O2_2_2_7,
          BYAFILE.BYA_O2_2_2_8,
          BYAFILE.BYA_O2_2_2_9,
          BYAFILE.BYA_O2_2_2_10,
          BYAFILE.BYA_O2_2_2_11,
          BYAFILE.BYA_O2_3_1_1,
          BYAFILE.BYA_O2_3_1_2,
          BYAFILE.BYA_O2_3_1_3,
          BYAFILE.BYA_O2_3_1_4,
          BYAFILE.BYA_O2_3_1_5,
          BYAFILE.BYA_O2_3_1_6,
          BYAFILE.BYA_O2_3_1_7,
          BYAFILE.BYA_O2_3_1_8,
          BYAFILE.BYA_O2_3_1_9,
          BYAFILE.BYA_O2_3_1_10,
          BYAFILE.BYA_O2_3_1_11,
          BYAFILE.BYA_O2_3_2_1,
          BYAFILE.BYA_O2_3_2_2,
          BYAFILE.BYA_O2_3_2_3,
          BYAFILE.BYA_O2_3_2_4,
          BYAFILE.BYA_O2_3_2_5,
          BYAFILE.BYA_O2_3_2_6,
          BYAFILE.BYA_O2_3_2_7,
          BYAFILE.BYA_O2_3_2_8,
          BYAFILE.BYA_O2_3_2_9,
          BYAFILE.BYA_O2_3_2_10,
          BYAFILE.BYA_O2_3_2_11,
          BYAFILE.BYA_INT_1_1_1,
          BYAFILE.BYA_INT_1_1_2,
          BYAFILE.BYA_INT_1_1_3,
          BYAFILE.BYA_INT_1_1_4,
          BYAFILE.BYA_INT_1_1_5,
          BYAFILE.BYA_INT_1_1_6,
          BYAFILE.BYA_INT_1_1_7,
          BYAFILE.BYA_INT_1_1_8,
          BYAFILE.BYA_INT_1_1_9,
          BYAFILE.BYA_INT_1_1_10,
          BYAFILE.BYA_INT_1_1_11,
          BYAFILE.BYA_INT_1_2_1,
          BYAFILE.BYA_INT_1_2_2,
          BYAFILE.BYA_INT_1_2_3,
          BYAFILE.BYA_INT_1_2_4,
          BYAFILE.BYA_INT_1_2_5,
          BYAFILE.BYA_INT_1_2_6,
          BYAFILE.BYA_INT_1_2_7,
          BYAFILE.BYA_INT_1_2_8,
          BYAFILE.BYA_INT_1_2_9,
          BYAFILE.BYA_INT_1_2_10,
          BYAFILE.BYA_INT_1_2_11,
          BYAFILE.BYA_INT_2_1_1,
          BYAFILE.BYA_INT_2_1_2,
          BYAFILE.BYA_INT_2_1_3,
          BYAFILE.BYA_INT_2_1_4,
          BYAFILE.BYA_INT_2_1_5,
          BYAFILE.BYA_INT_2_1_6,
          BYAFILE.BYA_INT_2_1_7,
          BYAFILE.BYA_INT_2_1_8,
          BYAFILE.BYA_INT_2_1_9,
          BYAFILE.BYA_INT_2_1_10,
          BYAFILE.BYA_INT_2_1_11,
          BYAFILE.BYA_INT_2_2_1,
          BYAFILE.BYA_INT_2_2_2,
          BYAFILE.BYA_INT_2_2_3,
          BYAFILE.BYA_INT_2_2_4,
          BYAFILE.BYA_INT_2_2_5,
          BYAFILE.BYA_INT_2_2_6,
          BYAFILE.BYA_INT_2_2_7,
          BYAFILE.BYA_INT_2_2_8,
          BYAFILE.BYA_INT_2_2_9,
          BYAFILE.BYA_INT_2_2_10,
          BYAFILE.BYA_INT_2_2_11,
          BYAFILE.BYA_INT_3_1_1,
          BYAFILE.BYA_INT_3_1_2,
          BYAFILE.BYA_INT_3_1_3,
          BYAFILE.BYA_INT_3_1_4,
          BYAFILE.BYA_INT_3_1_5,
          BYAFILE.BYA_INT_3_1_6,
          BYAFILE.BYA_INT_3_1_7,
          BYAFILE.BYA_INT_3_1_8,
          BYAFILE.BYA_INT_3_1_9,
          BYAFILE.BYA_INT_3_1_10,
          BYAFILE.BYA_INT_3_1_11,
          BYAFILE.BYA_INT_3_2_1,
          BYAFILE.BYA_INT_3_2_2,
          BYAFILE.BYA_INT_3_2_3,
          BYAFILE.BYA_INT_3_2_4,
          BYAFILE.BYA_INT_3_2_5,
          BYAFILE.BYA_INT_3_2_6,
          BYAFILE.BYA_INT_3_2_7,
          BYAFILE.BYA_INT_3_2_8,
          BYAFILE.BYA_INT_3_2_9,
          BYAFILE.BYA_INT_3_2_10,
          BYAFILE.BYA_INT_3_2_11,
          BYAFILE.BYA_NO_REPO_1_1_1,
          BYAFILE.BYA_NO_REPO_1_1_2,
          BYAFILE.BYA_NO_REPO_1_1_3,
          BYAFILE.BYA_NO_REPO_1_1_4,
          BYAFILE.BYA_NO_REPO_1_1_5,
          BYAFILE.BYA_NO_REPO_1_2_1,
          BYAFILE.BYA_NO_REPO_1_2_2,
          BYAFILE.BYA_NO_REPO_1_2_3,
          BYAFILE.BYA_NO_REPO_1_2_4,
          BYAFILE.BYA_NO_REPO_1_2_5,
          BYAFILE.BYA_NO_REPO_2_1_1,
          BYAFILE.BYA_NO_REPO_2_1_2,
          BYAFILE.BYA_NO_REPO_2_1_3,
          BYAFILE.BYA_NO_REPO_2_1_4,
          BYAFILE.BYA_NO_REPO_2_1_5,
          BYAFILE.BYA_NO_REPO_2_2_1,
          BYAFILE.BYA_NO_REPO_2_2_2,
          BYAFILE.BYA_NO_REPO_2_2_3,
          BYAFILE.BYA_NO_REPO_2_2_4,
          BYAFILE.BYA_NO_REPO_2_2_5,
          BYAFILE.BYA_NO_REPO_3_1_1,
          BYAFILE.BYA_NO_REPO_3_1_2,
          BYAFILE.BYA_NO_REPO_3_1_3,
          BYAFILE.BYA_NO_REPO_3_1_4,
          BYAFILE.BYA_NO_REPO_3_1_5,
          BYAFILE.BYA_NO_REPO_3_2_1,
          BYAFILE.BYA_NO_REPO_3_2_2,
          BYAFILE.BYA_NO_REPO_3_2_3,
          BYAFILE.BYA_NO_REPO_3_2_4,
          BYAFILE.BYA_NO_REPO_3_2_5,
          BYAFILE.BYA_AMT_REPO_1_1_1,
          BYAFILE.BYA_AMT_REPO_1_1_2,
          BYAFILE.BYA_AMT_REPO_1_1_3,
          BYAFILE.BYA_AMT_REPO_1_1_4,
          BYAFILE.BYA_AMT_REPO_1_1_5,
          BYAFILE.BYA_AMT_REPO_1_2_1,
          BYAFILE.BYA_AMT_REPO_1_2_2,
          BYAFILE.BYA_AMT_REPO_1_2_3,
          BYAFILE.BYA_AMT_REPO_1_2_4,
          BYAFILE.BYA_AMT_REPO_1_2_5,
          BYAFILE.BYA_AMT_REPO_2_1_1,
          BYAFILE.BYA_AMT_REPO_2_1_2,
          BYAFILE.BYA_AMT_REPO_2_1_3,
          BYAFILE.BYA_AMT_REPO_2_1_4,
          BYAFILE.BYA_AMT_REPO_2_1_5,
          BYAFILE.BYA_AMT_REPO_2_2_1,
          BYAFILE.BYA_AMT_REPO_2_2_2,
          BYAFILE.BYA_AMT_REPO_2_2_3,
          BYAFILE.BYA_AMT_REPO_2_2_4,
          BYAFILE.BYA_AMT_REPO_2_2_5,
          BYAFILE.BYA_AMT_REPO_3_1_1,
          BYAFILE.BYA_AMT_REPO_3_1_2,
          BYAFILE.BYA_AMT_REPO_3_1_3,
          BYAFILE.BYA_AMT_REPO_3_1_4,
          BYAFILE.BYA_AMT_REPO_3_1_5,
          BYAFILE.BYA_AMT_REPO_3_2_1,
          BYAFILE.BYA_AMT_REPO_3_2_2,
          BYAFILE.BYA_AMT_REPO_3_2_3,
          BYAFILE.BYA_AMT_REPO_3_2_4,
          BYAFILE.BYA_AMT_REPO_3_2_5,
          BYAFILE.BYA_O2_REPO_1_1_1,
          BYAFILE.BYA_O2_REPO_1_1_2,
          BYAFILE.BYA_O2_REPO_1_1_3,
          BYAFILE.BYA_O2_REPO_1_1_4,
          BYAFILE.BYA_O2_REPO_1_1_5,
          BYAFILE.BYA_O2_REPO_1_2_1,
          BYAFILE.BYA_O2_REPO_1_2_2,
          BYAFILE.BYA_O2_REPO_1_2_3,
          BYAFILE.BYA_O2_REPO_1_2_4,
          BYAFILE.BYA_O2_REPO_1_2_5,
          BYAFILE.BYA_O2_REPO_2_1_1,
          BYAFILE.BYA_O2_REPO_2_1_2,
          BYAFILE.BYA_O2_REPO_2_1_3,
          BYAFILE.BYA_O2_REPO_2_1_4,
          BYAFILE.BYA_O2_REPO_2_1_5,
          BYAFILE.BYA_O2_REPO_2_2_1,
          BYAFILE.BYA_O2_REPO_2_2_2,
          BYAFILE.BYA_O2_REPO_2_2_3,
          BYAFILE.BYA_O2_REPO_2_2_4,
          BYAFILE.BYA_O2_REPO_2_2_5,
          BYAFILE.BYA_O2_REPO_3_1_1,
          BYAFILE.BYA_O2_REPO_3_1_2,
          BYAFILE.BYA_O2_REPO_3_1_3,
          BYAFILE.BYA_O2_REPO_3_1_4,
          BYAFILE.BYA_O2_REPO_3_1_5,
          BYAFILE.BYA_O2_REPO_3_2_1,
          BYAFILE.BYA_O2_REPO_3_2_2,
          BYAFILE.BYA_O2_REPO_3_2_3,
          BYAFILE.BYA_O2_REPO_3_2_4,
          BYAFILE.BYA_O2_REPO_3_2_5,
          BYAFILE.BYA_INT_REPO_1_1_1,
          BYAFILE.BYA_INT_REPO_1_1_2,
          BYAFILE.BYA_INT_REPO_1_1_3,
          BYAFILE.BYA_INT_REPO_1_1_4,
          BYAFILE.BYA_INT_REPO_1_1_5,
          BYAFILE.BYA_INT_REPO_1_2_1,
          BYAFILE.BYA_INT_REPO_1_2_2,
          BYAFILE.BYA_INT_REPO_1_2_3,
          BYAFILE.BYA_INT_REPO_1_2_4,
          BYAFILE.BYA_INT_REPO_1_2_5,
          BYAFILE.BYA_INT_REPO_2_1_1,
          BYAFILE.BYA_INT_REPO_2_1_2,
          BYAFILE.BYA_INT_REPO_2_1_3,
          BYAFILE.BYA_INT_REPO_2_1_4,
          BYAFILE.BYA_INT_REPO_2_1_5,
          BYAFILE.BYA_INT_REPO_2_2_1,
          BYAFILE.BYA_INT_REPO_2_2_2,
          BYAFILE.BYA_INT_REPO_2_2_3,
          BYAFILE.BYA_INT_REPO_2_2_4,
          BYAFILE.BYA_INT_REPO_2_2_5,
          BYAFILE.BYA_INT_REPO_3_1_1,
          BYAFILE.BYA_INT_REPO_3_1_2,
          BYAFILE.BYA_INT_REPO_3_1_3,
          BYAFILE.BYA_INT_REPO_3_1_4,
          BYAFILE.BYA_INT_REPO_3_1_5,
          BYAFILE.BYA_INT_REPO_3_2_1,
          BYAFILE.BYA_INT_REPO_3_2_2,
          BYAFILE.BYA_INT_REPO_3_2_3,
          BYAFILE.BYA_INT_REPO_3_2_4,
          BYAFILE.BYA_INT_REPO_3_2_5,
          BYAFILE.BYA_NO_PL_1_1_1,
          BYAFILE.BYA_NO_PL_1_1_2,
          BYAFILE.BYA_NO_PL_1_1_3,
          BYAFILE.BYA_NO_PL_1_1_4,
          BYAFILE.BYA_NO_PL_1_1_5,
          BYAFILE.BYA_NO_PL_1_1_6,
          BYAFILE.BYA_NO_PL_1_1_7,
          BYAFILE.BYA_NO_PL_1_1_8,
          BYAFILE.BYA_NO_PL_1_1_9,
          BYAFILE.BYA_NO_PL_1_1_10,
          BYAFILE.BYA_NO_PL_1_2_1,
          BYAFILE.BYA_NO_PL_1_2_2,
          BYAFILE.BYA_NO_PL_1_2_3,
          BYAFILE.BYA_NO_PL_1_2_4,
          BYAFILE.BYA_NO_PL_1_2_5,
          BYAFILE.BYA_NO_PL_1_2_6,
          BYAFILE.BYA_NO_PL_1_2_7,
          BYAFILE.BYA_NO_PL_1_2_8,
          BYAFILE.BYA_NO_PL_1_2_9,
          BYAFILE.BYA_NO_PL_1_2_10,
          BYAFILE.BYA_NO_PL_2_1_1,
          BYAFILE.BYA_NO_PL_2_1_2,
          BYAFILE.BYA_NO_PL_2_1_3,
          BYAFILE.BYA_NO_PL_2_1_4,
          BYAFILE.BYA_NO_PL_2_1_5,
          BYAFILE.BYA_NO_PL_2_1_6,
          BYAFILE.BYA_NO_PL_2_1_7,
          BYAFILE.BYA_NO_PL_2_1_8,
          BYAFILE.BYA_NO_PL_2_1_9,
          BYAFILE.BYA_NO_PL_2_1_10,
          BYAFILE.BYA_NO_PL_2_2_1,
          BYAFILE.BYA_NO_PL_2_2_2,
          BYAFILE.BYA_NO_PL_2_2_3,
          BYAFILE.BYA_NO_PL_2_2_4,
          BYAFILE.BYA_NO_PL_2_2_5,
          BYAFILE.BYA_NO_PL_2_2_6,
          BYAFILE.BYA_NO_PL_2_2_7,
          BYAFILE.BYA_NO_PL_2_2_8,
          BYAFILE.BYA_NO_PL_2_2_9,
          BYAFILE.BYA_NO_PL_2_2_10,
          BYAFILE.BYA_NO_PL_3_1_1,
          BYAFILE.BYA_NO_PL_3_1_2,
          BYAFILE.BYA_NO_PL_3_1_3,
          BYAFILE.BYA_NO_PL_3_1_4,
          BYAFILE.BYA_NO_PL_3_1_5,
          BYAFILE.BYA_NO_PL_3_1_6,
          BYAFILE.BYA_NO_PL_3_1_7,
          BYAFILE.BYA_NO_PL_3_1_8,
          BYAFILE.BYA_NO_PL_3_1_9,
          BYAFILE.BYA_NO_PL_3_1_10,
          BYAFILE.BYA_NO_PL_3_2_1,
          BYAFILE.BYA_NO_PL_3_2_2,
          BYAFILE.BYA_NO_PL_3_2_3,
          BYAFILE.BYA_NO_PL_3_2_4,
          BYAFILE.BYA_NO_PL_3_2_5,
          BYAFILE.BYA_NO_PL_3_2_6,
          BYAFILE.BYA_NO_PL_3_2_7,
          BYAFILE.BYA_NO_PL_3_2_8,
          BYAFILE.BYA_NO_PL_3_2_9,
          BYAFILE.BYA_NO_PL_3_2_10,
          BYAFILE.BYA_AMT_PL_1_1_1,
          BYAFILE.BYA_AMT_PL_1_1_2,
          BYAFILE.BYA_AMT_PL_1_1_3,
          BYAFILE.BYA_AMT_PL_1_1_4,
          BYAFILE.BYA_AMT_PL_1_1_5,
          BYAFILE.BYA_AMT_PL_1_1_6,
          BYAFILE.BYA_AMT_PL_1_1_7,
          BYAFILE.BYA_AMT_PL_1_1_8,
          BYAFILE.BYA_AMT_PL_1_1_9,
          BYAFILE.BYA_AMT_PL_1_1_10,
          BYAFILE.BYA_AMT_PL_1_2_1,
          BYAFILE.BYA_AMT_PL_1_2_2,
          BYAFILE.BYA_AMT_PL_1_2_3,
          BYAFILE.BYA_AMT_PL_1_2_4,
          BYAFILE.BYA_AMT_PL_1_2_5,
          BYAFILE.BYA_AMT_PL_1_2_6,
          BYAFILE.BYA_AMT_PL_1_2_7,
          BYAFILE.BYA_AMT_PL_1_2_8,
          BYAFILE.BYA_AMT_PL_1_2_9,
          BYAFILE.BYA_AMT_PL_1_2_10,
          BYAFILE.BYA_AMT_PL_2_1_1,
          BYAFILE.BYA_AMT_PL_2_1_2,
          BYAFILE.BYA_AMT_PL_2_1_3,
          BYAFILE.BYA_AMT_PL_2_1_4,
          BYAFILE.BYA_AMT_PL_2_1_5,
          BYAFILE.BYA_AMT_PL_2_1_6,
          BYAFILE.BYA_AMT_PL_2_1_7,
          BYAFILE.BYA_AMT_PL_2_1_8,
          BYAFILE.BYA_AMT_PL_2_1_9,
          BYAFILE.BYA_AMT_PL_2_1_10,
          BYAFILE.BYA_AMT_PL_2_2_1,
          BYAFILE.BYA_AMT_PL_2_2_2,
          BYAFILE.BYA_AMT_PL_2_2_3,
          BYAFILE.BYA_AMT_PL_2_2_4,
          BYAFILE.BYA_AMT_PL_2_2_5,
          BYAFILE.BYA_AMT_PL_2_2_6,
          BYAFILE.BYA_AMT_PL_2_2_7,
          BYAFILE.BYA_AMT_PL_2_2_8,
          BYAFILE.BYA_AMT_PL_2_2_9,
          BYAFILE.BYA_AMT_PL_2_2_10,
          BYAFILE.BYA_AMT_PL_3_1_1,
          BYAFILE.BYA_AMT_PL_3_1_2,
          BYAFILE.BYA_AMT_PL_3_1_3,
          BYAFILE.BYA_AMT_PL_3_1_4,
          BYAFILE.BYA_AMT_PL_3_1_5,
          BYAFILE.BYA_AMT_PL_3_1_6,
          BYAFILE.BYA_AMT_PL_3_1_7,
          BYAFILE.BYA_AMT_PL_3_1_8,
          BYAFILE.BYA_AMT_PL_3_1_9,
          BYAFILE.BYA_AMT_PL_3_1_10,
          BYAFILE.BYA_AMT_PL_3_2_1,
          BYAFILE.BYA_AMT_PL_3_2_2,
          BYAFILE.BYA_AMT_PL_3_2_3,
          BYAFILE.BYA_AMT_PL_3_2_4,
          BYAFILE.BYA_AMT_PL_3_2_5,
          BYAFILE.BYA_AMT_PL_3_2_6,
          BYAFILE.BYA_AMT_PL_3_2_7,
          BYAFILE.BYA_AMT_PL_3_2_8,
          BYAFILE.BYA_AMT_PL_3_2_9,
          BYAFILE.BYA_AMT_PL_3_2_10,
          BYAFILE.BYA_O2_PL_1_1_1,
          BYAFILE.BYA_O2_PL_1_1_2,
          BYAFILE.BYA_O2_PL_1_1_3,
          BYAFILE.BYA_O2_PL_1_1_4,
          BYAFILE.BYA_O2_PL_1_1_5,
          BYAFILE.BYA_O2_PL_1_1_6,
          BYAFILE.BYA_O2_PL_1_1_7,
          BYAFILE.BYA_O2_PL_1_1_8,
          BYAFILE.BYA_O2_PL_1_1_9,
          BYAFILE.BYA_O2_PL_1_1_10,
          BYAFILE.BYA_O2_PL_1_2_1,
          BYAFILE.BYA_O2_PL_1_2_2,
          BYAFILE.BYA_O2_PL_1_2_3,
          BYAFILE.BYA_O2_PL_1_2_4,
          BYAFILE.BYA_O2_PL_1_2_5,
          BYAFILE.BYA_O2_PL_1_2_6,
          BYAFILE.BYA_O2_PL_1_2_7,
          BYAFILE.BYA_O2_PL_1_2_8,
          BYAFILE.BYA_O2_PL_1_2_9,
          BYAFILE.BYA_O2_PL_1_2_10,
          BYAFILE.BYA_O2_PL_2_1_1,
          BYAFILE.BYA_O2_PL_2_1_2,
          BYAFILE.BYA_O2_PL_2_1_3,
          BYAFILE.BYA_O2_PL_2_1_4,
          BYAFILE.BYA_O2_PL_2_1_5,
          BYAFILE.BYA_O2_PL_2_1_6,
          BYAFILE.BYA_O2_PL_2_1_7,
          BYAFILE.BYA_O2_PL_2_1_8,
          BYAFILE.BYA_O2_PL_2_1_9,
          BYAFILE.BYA_O2_PL_2_1_10,
          BYAFILE.BYA_O2_PL_2_2_1,
          BYAFILE.BYA_O2_PL_2_2_2,
          BYAFILE.BYA_O2_PL_2_2_3,
          BYAFILE.BYA_O2_PL_2_2_4,
          BYAFILE.BYA_O2_PL_2_2_5,
          BYAFILE.BYA_O2_PL_2_2_6,
          BYAFILE.BYA_O2_PL_2_2_7,
          BYAFILE.BYA_O2_PL_2_2_8,
          BYAFILE.BYA_O2_PL_2_2_9,
          BYAFILE.BYA_O2_PL_2_2_10,
          BYAFILE.BYA_O2_PL_3_1_1,
          BYAFILE.BYA_O2_PL_3_1_2,
          BYAFILE.BYA_O2_PL_3_1_3,
          BYAFILE.BYA_O2_PL_3_1_4,
          BYAFILE.BYA_O2_PL_3_1_5,
          BYAFILE.BYA_O2_PL_3_1_6,
          BYAFILE.BYA_O2_PL_3_1_7,
          BYAFILE.BYA_O2_PL_3_1_8,
          BYAFILE.BYA_O2_PL_3_1_9,
          BYAFILE.BYA_O2_PL_3_1_10,
          BYAFILE.BYA_O2_PL_3_2_1,
          BYAFILE.BYA_O2_PL_3_2_2,
          BYAFILE.BYA_O2_PL_3_2_3,
          BYAFILE.BYA_O2_PL_3_2_4,
          BYAFILE.BYA_O2_PL_3_2_5,
          BYAFILE.BYA_O2_PL_3_2_6,
          BYAFILE.BYA_O2_PL_3_2_7,
          BYAFILE.BYA_O2_PL_3_2_8,
          BYAFILE.BYA_O2_PL_3_2_9,
          BYAFILE.BYA_O2_PL_3_2_10,
          BYAFILE.BYA_INT_PL_1_1_1,
          BYAFILE.BYA_INT_PL_1_1_2,
          BYAFILE.BYA_INT_PL_1_1_3,
          BYAFILE.BYA_INT_PL_1_1_4,
          BYAFILE.BYA_INT_PL_1_1_5,
          BYAFILE.BYA_INT_PL_1_1_6,
          BYAFILE.BYA_INT_PL_1_1_7,
          BYAFILE.BYA_INT_PL_1_1_8,
          BYAFILE.BYA_INT_PL_1_1_9,
          BYAFILE.BYA_INT_PL_1_1_10,
          BYAFILE.BYA_INT_PL_1_2_1,
          BYAFILE.BYA_INT_PL_1_2_2,
          BYAFILE.BYA_INT_PL_1_2_3,
          BYAFILE.BYA_INT_PL_1_2_4,
          BYAFILE.BYA_INT_PL_1_2_5,
          BYAFILE.BYA_INT_PL_1_2_6,
          BYAFILE.BYA_INT_PL_1_2_7,
          BYAFILE.BYA_INT_PL_1_2_8,
          BYAFILE.BYA_INT_PL_1_2_9,
          BYAFILE.BYA_INT_PL_1_2_10,
          BYAFILE.BYA_INT_PL_2_1_1,
          BYAFILE.BYA_INT_PL_2_1_2,
          BYAFILE.BYA_INT_PL_2_1_3,
          BYAFILE.BYA_INT_PL_2_1_4,
          BYAFILE.BYA_INT_PL_2_1_5,
          BYAFILE.BYA_INT_PL_2_1_6,
          BYAFILE.BYA_INT_PL_2_1_7,
          BYAFILE.BYA_INT_PL_2_1_8,
          BYAFILE.BYA_INT_PL_2_1_9,
          BYAFILE.BYA_INT_PL_2_1_10,
          BYAFILE.BYA_INT_PL_2_2_1,
          BYAFILE.BYA_INT_PL_2_2_2,
          BYAFILE.BYA_INT_PL_2_2_3,
          BYAFILE.BYA_INT_PL_2_2_4,
          BYAFILE.BYA_INT_PL_2_2_5,
          BYAFILE.BYA_INT_PL_2_2_6,
          BYAFILE.BYA_INT_PL_2_2_7,
          BYAFILE.BYA_INT_PL_2_2_8,
          BYAFILE.BYA_INT_PL_2_2_9,
          BYAFILE.BYA_INT_PL_2_2_10,
          BYAFILE.BYA_INT_PL_3_1_1,
          BYAFILE.BYA_INT_PL_3_1_2,
          BYAFILE.BYA_INT_PL_3_1_3,
          BYAFILE.BYA_INT_PL_3_1_4,
          BYAFILE.BYA_INT_PL_3_1_5,
          BYAFILE.BYA_INT_PL_3_1_6,
          BYAFILE.BYA_INT_PL_3_1_7,
          BYAFILE.BYA_INT_PL_3_1_8,
          BYAFILE.BYA_INT_PL_3_1_9,
          BYAFILE.BYA_INT_PL_3_1_10,
          BYAFILE.BYA_INT_PL_3_2_1,
          BYAFILE.BYA_INT_PL_3_2_2,
          BYAFILE.BYA_INT_PL_3_2_3,
          BYAFILE.BYA_INT_PL_3_2_4,
          BYAFILE.BYA_INT_PL_3_2_5,
          BYAFILE.BYA_INT_PL_3_2_6,
          BYAFILE.BYA_INT_PL_3_2_7,
          BYAFILE.BYA_INT_PL_3_2_8,
          BYAFILE.BYA_INT_PL_3_2_9,
          BYAFILE.BYA_INT_PL_3_2_10,
          BYAFILE.BYA_DLRVPRIN_1_1_1,
          BYAFILE.BYA_DLRVPRIN_1_1_2,
          BYAFILE.BYA_DLRVPRIN_1_1_3,
          BYAFILE.BYA_DLRVPRIN_1_2_1,
          BYAFILE.BYA_DLRVPRIN_1_2_2,
          BYAFILE.BYA_DLRVPRIN_1_2_3,
          BYAFILE.BYA_DLRVPRIN_2_1_1,
          BYAFILE.BYA_DLRVPRIN_2_1_2,
          BYAFILE.BYA_DLRVPRIN_2_1_3,
          BYAFILE.BYA_DLRVPRIN_2_2_1,
          BYAFILE.BYA_DLRVPRIN_2_2_2,
          BYAFILE.BYA_DLRVPRIN_2_2_3,
          BYAFILE.BYA_DLRVPRIN_3_1_1,
          BYAFILE.BYA_DLRVPRIN_3_1_2,
          BYAFILE.BYA_DLRVPRIN_3_1_3,
          BYAFILE.BYA_DLRVPRIN_3_2_1,
          BYAFILE.BYA_DLRVPRIN_3_2_2,
          BYAFILE.BYA_DLRVPRIN_3_2_3,
          BYAFILE.BYA_DLRVCHGS_1_1_1,
          BYAFILE.BYA_DLRVCHGS_1_1_2,
          BYAFILE.BYA_DLRVCHGS_1_1_3,
          BYAFILE.BYA_DLRVCHGS_1_2_1,
          BYAFILE.BYA_DLRVCHGS_1_2_2,
          BYAFILE.BYA_DLRVCHGS_1_2_3,
          BYAFILE.BYA_DLRVCHGS_2_1_1,
          BYAFILE.BYA_DLRVCHGS_2_1_2,
          BYAFILE.BYA_DLRVCHGS_2_1_3,
          BYAFILE.BYA_DLRVCHGS_2_2_1,
          BYAFILE.BYA_DLRVCHGS_2_2_2,
          BYAFILE.BYA_DLRVCHGS_2_2_3,
          BYAFILE.BYA_DLRVCHGS_3_1_1,
          BYAFILE.BYA_DLRVCHGS_3_1_2,
          BYAFILE.BYA_DLRVCHGS_3_1_3,
          BYAFILE.BYA_DLRVCHGS_3_2_1,
          BYAFILE.BYA_DLRVCHGS_3_2_2,
          BYAFILE.BYA_DLRVCHGS_3_2_3,
          BYAFILE.BYA_DLPARVHELD_1_1,
          BYAFILE.BYA_DLPARVHELD_1_2,
          BYAFILE.BYA_DLPARVHELD_2_1,
          BYAFILE.BYA_DLPARVHELD_2_2,
          BYAFILE.BYA_DLPARVHELD_3_1,
          BYAFILE.BYA_DLPARVHELD_3_2,
          BYBFILE.BYB_PL_PRINCOL_1_1,
          BYBFILE.BYB_PL_PRINCOL_1_2,
          BYBFILE.BYB_PL_PRINCOL_1_3,
          BYBFILE.BYB_PL_PRINCOL_1_4,
          BYBFILE.BYB_PL_PRINCOL_1_5,
          BYBFILE.BYB_PL_PRINCOL_2_1,
          BYBFILE.BYB_PL_PRINCOL_2_2,
          BYBFILE.BYB_PL_PRINCOL_2_3,
          BYBFILE.BYB_PL_PRINCOL_2_4,
          BYBFILE.BYB_PL_PRINCOL_2_5,
          BYBFILE.BYB_PL_INTCOL_1_1,
          BYBFILE.BYB_PL_INTCOL_1_2,
          BYBFILE.BYB_PL_INTCOL_1_3,
          BYBFILE.BYB_PL_INTCOL_1_4,
          BYBFILE.BYB_PL_INTCOL_1_5,
          BYBFILE.BYB_PL_INTCOL_2_1,
          BYBFILE.BYB_PL_INTCOL_2_2,
          BYBFILE.BYB_PL_INTCOL_2_3,
          BYBFILE.BYB_PL_INTCOL_2_4,
          BYBFILE.BYB_PL_INTCOL_2_5,
          BYBFILE.BYB_PL_LATECOL_1_1,
          BYBFILE.BYB_PL_LATECOL_1_2,
          BYBFILE.BYB_PL_LATECOL_1_3,
          BYBFILE.BYB_PL_LATECOL_1_4,
          BYBFILE.BYB_PL_LATECOL_1_5,
          BYBFILE.BYB_PL_LATECOL_2_1,
          BYBFILE.BYB_PL_LATECOL_2_2,
          BYBFILE.BYB_PL_LATECOL_2_3,
          BYBFILE.BYB_PL_LATECOL_2_4,
          BYBFILE.BYB_PL_LATECOL_2_5,
          BYBFILE.BYB_PL_O2COL_1_1,
          BYBFILE.BYB_PL_O2COL_1_2,
          BYBFILE.BYB_PL_O2COL_1_3,
          BYBFILE.BYB_PL_O2COL_1_4,
          BYBFILE.BYB_PL_O2COL_1_5,
          BYBFILE.BYB_PL_O2COL_2_1,
          BYBFILE.BYB_PL_O2COL_2_2,
          BYBFILE.BYB_PL_O2COL_2_3,
          BYBFILE.BYB_PL_O2COL_2_4,
          BYBFILE.BYB_PL_O2COL_2_5,
          BYBFILE.BYB_AMT_SOLD_1,
          BYBFILE.BYB_AMT_SOLD_2,
          BYBFILE.BYB_AMT_TRANS_1,
          BYBFILE.BYB_AMT_TRANS_2,
          BYBFILE.BYB_AMT_PURCH_1,
          BYBFILE.BYB_AMT_PURCH_2,
          BYBFILE.BYB_NO_SOLD_1,
          BYBFILE.BYB_NO_SOLD_2,
          BYBFILE.BYB_NO_TRANS_1,
          BYBFILE.BYB_NO_TRANS_2,
          BYBFILE.BYB_NO_PURCH_1,
          BYBFILE.BYB_NO_PURCH_2,
          BYBFILE.BYB_OTHCOL_1,
          BYBFILE.BYB_OTHCOL_2,
          BYBFILE.BYB_OT2COL_1,
          BYBFILE.BYB_OT2COL_2,
          BYBFILE.BYB_INTCOL_1,
          BYBFILE.BYB_INTCOL_2,
          BYBFILE.BYB_LATECOL_1,
          BYBFILE.BYB_LATECOL_2,
          BYBFILE.BYB_PRINCOL_1,
          BYBFILE.BYB_PRINCOL_2,
          BYBFILE.BYB_DEFCOL_1,
          BYBFILE.BYB_DEFCOL_2,
          BYBFILE.BYB_RNPRIN_1,
          BYBFILE.BYB_RNPRIN_2,
          BYBFILE.BYB_INTREB_1,
          BYBFILE.BYB_INTREB_2,
          BYBFILE.BYB_CLREB1_1,
          BYBFILE.BYB_CLREB1_2,
          BYBFILE.BYB_CLREB2_1,
          BYBFILE.BYB_CLREB2_2,
          BYBFILE.BYB_CLREB3_1,
          BYBFILE.BYB_CLREB3_2,
          BYBFILE.BYB_CLREB4_1,
          BYBFILE.BYB_CLREB4_2,
          BYBFILE.BYB_AHREB_1,
          BYBFILE.BYB_AHREB_2,
          BYBFILE.BYB_PPREB_1,
          BYBFILE.BYB_PPREB_2,
          BYBFILE.BYB_O1REB_1,
          BYBFILE.BYB_O1REB_2,
          BYBFILE.BYB_O2REB_1,
          BYBFILE.BYB_O2REB_2,
          BYBFILE.BYB_O3REB_1,
          BYBFILE.BYB_O3REB_2,
          BYBFILE.BYB_O4REB_1,
          BYBFILE.BYB_O4REB_2,
          BYBFILE.BYB_O5REB_1,
          BYBFILE.BYB_O5REB_2,
          BYBFILE.BYB_O6REB_1,
          BYBFILE.BYB_O6REB_2,
          BYBFILE.BYB_O7REB_1,
          BYBFILE.BYB_O7REB_2,
          BYBFILE.BYB_SCREB_1,
          BYBFILE.BYB_SCREB_2,
          BYBFILE.BYB_MFREB_1,
          BYBFILE.BYB_MFREB_2,
          BYBFILE.BYB_DFREB_1,
          BYBFILE.BYB_DFREB_2,
          BYBFILE.BYB_UN7_REB_1,
          BYBFILE.BYB_UN7_REB_2,
          BYBFILE.BYB_UN8_REB_1,
          BYBFILE.BYB_UN8_REB_2,
          BYBFILE.BYB_UN9_REB_1,
          BYBFILE.BYB_UN9_REB_2,
          BYBFILE.BYB_UN10_REB_1,
          BYBFILE.BYB_UN10_REB_2,
          BYBFILE.BYB_PART_CHGOFF_1,
          BYBFILE.BYB_PART_CHGOFF_2,
          BYBFILE.BYB_ALLOTMENTS_1,
          BYBFILE.BYB_ALLOTMENTS_2,
          BYBFILE.BYB_INS_NO_ELIG_1_1,
          BYBFILE.BYB_INS_NO_ELIG_1_2,
          BYBFILE.BYB_INS_NO_ELIG_1_3,
          BYBFILE.BYB_INS_NO_ELIG_1_4,
          BYBFILE.BYB_INS_NO_ELIG_1_5,
          BYBFILE.BYB_INS_NO_ELIG_1_6,
          BYBFILE.BYB_INS_NO_ELIG_1_7,
          BYBFILE.BYB_INS_NO_ELIG_1_8,
          BYBFILE.BYB_INS_NO_ELIG_1_9,
          BYBFILE.BYB_INS_NO_ELIG_1_10,
          BYBFILE.BYB_INS_NO_ELIG_2_1,
          BYBFILE.BYB_INS_NO_ELIG_2_2,
          BYBFILE.BYB_INS_NO_ELIG_2_3,
          BYBFILE.BYB_INS_NO_ELIG_2_4,
          BYBFILE.BYB_INS_NO_ELIG_2_5,
          BYBFILE.BYB_INS_NO_ELIG_2_6,
          BYBFILE.BYB_INS_NO_ELIG_2_7,
          BYBFILE.BYB_INS_NO_ELIG_2_8,
          BYBFILE.BYB_INS_NO_ELIG_2_9,
          BYBFILE.BYB_INS_NO_ELIG_2_10,
          BYBFILE.BYB_INS_NO_WROTE_1_1,
          BYBFILE.BYB_INS_NO_WROTE_1_2,
          BYBFILE.BYB_INS_NO_WROTE_1_3,
          BYBFILE.BYB_INS_NO_WROTE_1_4,
          BYBFILE.BYB_INS_NO_WROTE_1_5,
          BYBFILE.BYB_INS_NO_WROTE_1_6,
          BYBFILE.BYB_INS_NO_WROTE_1_7,
          BYBFILE.BYB_INS_NO_WROTE_1_8,
          BYBFILE.BYB_INS_NO_WROTE_1_9,
          BYBFILE.BYB_INS_NO_WROTE_1_10,
          BYBFILE.BYB_INS_NO_WROTE_2_1,
          BYBFILE.BYB_INS_NO_WROTE_2_2,
          BYBFILE.BYB_INS_NO_WROTE_2_3,
          BYBFILE.BYB_INS_NO_WROTE_2_4,
          BYBFILE.BYB_INS_NO_WROTE_2_5,
          BYBFILE.BYB_INS_NO_WROTE_2_6,
          BYBFILE.BYB_INS_NO_WROTE_2_7,
          BYBFILE.BYB_INS_NO_WROTE_2_8,
          BYBFILE.BYB_INS_NO_WROTE_2_9,
          BYBFILE.BYB_INS_NO_WROTE_2_10,
          BYBFILE.BYB_INS_NO_NOTWROTE_1_1,
          BYBFILE.BYB_INS_NO_NOTWROTE_1_2,
          BYBFILE.BYB_INS_NO_NOTWROTE_1_3,
          BYBFILE.BYB_INS_NO_NOTWROTE_1_4,
          BYBFILE.BYB_INS_NO_NOTWROTE_1_5,
          BYBFILE.BYB_INS_NO_NOTWROTE_1_6,
          BYBFILE.BYB_INS_NO_NOTWROTE_1_7,
          BYBFILE.BYB_INS_NO_NOTWROTE_1_8,
          BYBFILE.BYB_INS_NO_NOTWROTE_1_9,
          BYBFILE.BYB_INS_NO_NOTWROTE_1_10,
          BYBFILE.BYB_INS_NO_NOTWROTE_2_1,
          BYBFILE.BYB_INS_NO_NOTWROTE_2_2,
          BYBFILE.BYB_INS_NO_NOTWROTE_2_3,
          BYBFILE.BYB_INS_NO_NOTWROTE_2_4,
          BYBFILE.BYB_INS_NO_NOTWROTE_2_5,
          BYBFILE.BYB_INS_NO_NOTWROTE_2_6,
          BYBFILE.BYB_INS_NO_NOTWROTE_2_7,
          BYBFILE.BYB_INS_NO_NOTWROTE_2_8,
          BYBFILE.BYB_INS_NO_NOTWROTE_2_9,
          BYBFILE.BYB_INS_NO_NOTWROTE_2_10,
          BYBFILE.BYB_INS_AMT_WROTE_1_1,
          BYBFILE.BYB_INS_AMT_WROTE_1_2,
          BYBFILE.BYB_INS_AMT_WROTE_1_3,
          BYBFILE.BYB_INS_AMT_WROTE_1_4,
          BYBFILE.BYB_INS_AMT_WROTE_1_5,
          BYBFILE.BYB_INS_AMT_WROTE_1_6,
          BYBFILE.BYB_INS_AMT_WROTE_1_7,
          BYBFILE.BYB_INS_AMT_WROTE_1_8,
          BYBFILE.BYB_INS_AMT_WROTE_1_9,
          BYBFILE.BYB_INS_AMT_WROTE_1_10,
          BYBFILE.BYB_INS_AMT_WROTE_2_1,
          BYBFILE.BYB_INS_AMT_WROTE_2_2,
          BYBFILE.BYB_INS_AMT_WROTE_2_3,
          BYBFILE.BYB_INS_AMT_WROTE_2_4,
          BYBFILE.BYB_INS_AMT_WROTE_2_5,
          BYBFILE.BYB_INS_AMT_WROTE_2_6,
          BYBFILE.BYB_INS_AMT_WROTE_2_7,
          BYBFILE.BYB_INS_AMT_WROTE_2_8,
          BYBFILE.BYB_INS_AMT_WROTE_2_9,
          BYBFILE.BYB_INS_AMT_WROTE_2_10,
          BYBFILE.BYB_FEE_NO_ELIG_1_1,
          BYBFILE.BYB_FEE_NO_ELIG_1_2,
          BYBFILE.BYB_FEE_NO_ELIG_1_3,
          BYBFILE.BYB_FEE_NO_ELIG_2_1,
          BYBFILE.BYB_FEE_NO_ELIG_2_2,
          BYBFILE.BYB_FEE_NO_ELIG_2_3,
          BYBFILE.BYB_FEE_NO_WROTE_1_1,
          BYBFILE.BYB_FEE_NO_WROTE_1_2,
          BYBFILE.BYB_FEE_NO_WROTE_1_3,
          BYBFILE.BYB_FEE_NO_WROTE_2_1,
          BYBFILE.BYB_FEE_NO_WROTE_2_2,
          BYBFILE.BYB_FEE_NO_WROTE_2_3,
          BYBFILE.BYB_FEE_NO_NOTWROTE_1_1,
          BYBFILE.BYB_FEE_NO_NOTWROTE_1_2,
          BYBFILE.BYB_FEE_NO_NOTWROTE_1_3,
          BYBFILE.BYB_FEE_NO_NOTWROTE_2_1,
          BYBFILE.BYB_FEE_NO_NOTWROTE_2_2,
          BYBFILE.BYB_FEE_NO_NOTWROTE_2_3,
          BYBFILE.BYB_FEE_AMT_WROTE_1_1,
          BYBFILE.BYB_FEE_AMT_WROTE_1_2,
          BYBFILE.BYB_FEE_AMT_WROTE_1_3,
          BYBFILE.BYB_FEE_AMT_WROTE_2_1,
          BYBFILE.BYB_FEE_AMT_WROTE_2_2,
          BYBFILE.BYB_FEE_AMT_WROTE_2_3,
          BYBFILE.BYB_OTH_NO_COL_1,
          BYBFILE.BYB_OTH_NO_COL_2,
          BYBFILE.BYB_OT2_NO_COL_1,
          BYBFILE.BYB_OT2_NO_COL_2,
          BYBFILE.BYB_INT_NO_COL_1,
          BYBFILE.BYB_INT_NO_COL_2,
          BYBFILE.BYB_LATE_NO_COL_1,
          BYBFILE.BYB_LATE_NO_COL_2,
          BYBFILE.BYB_OTH_NO_WAIVED_1,
          BYBFILE.BYB_OTH_NO_WAIVED_2,
          BYBFILE.BYB_OT2_NO_WAIVED_1,
          BYBFILE.BYB_OT2_NO_WAIVED_2,
          BYBFILE.BYB_INT_NO_WAIVED_1,
          BYBFILE.BYB_INT_NO_WAIVED_2,
          BYBFILE.BYB_LATE_NO_WAIVED_1,
          BYBFILE.BYB_LATE_NO_WAIVED_2,
          BYBFILE.BYB_OTH_AMT_WAIVED_1,
          BYBFILE.BYB_OTH_AMT_WAIVED_2,
          BYBFILE.BYB_OT2_AMT_WAIVED_1,
          BYBFILE.BYB_OT2_AMT_WAIVED_2,
          BYBFILE.BYB_INT_AMT_WAIVED_1,
          BYBFILE.BYB_INT_AMT_WAIVED_2,
          BYBFILE.BYB_LATE_AMT_WAIVED_1,
          BYBFILE.BYB_LATE_AMT_WAIVED_2,
          BYBFILE.BYB_UNITS_1_1_1,
          BYBFILE.BYB_UNITS_1_1_2,
          BYBFILE.BYB_UNITS_1_1_3,
          BYBFILE.BYB_UNITS_1_1_4,
          BYBFILE.BYB_UNITS_1_1_5,
          BYBFILE.BYB_UNITS_1_1_6,
          BYBFILE.BYB_UNITS_1_1_7,
          BYBFILE.BYB_UNITS_1_1_8,
          BYBFILE.BYB_UNITS_1_1_9,
          BYBFILE.BYB_UNITS_1_1_10,
          BYBFILE.BYB_UNITS_1_2_1,
          BYBFILE.BYB_UNITS_1_2_2,
          BYBFILE.BYB_UNITS_1_2_3,
          BYBFILE.BYB_UNITS_1_2_4,
          BYBFILE.BYB_UNITS_1_2_5,
          BYBFILE.BYB_UNITS_1_2_6,
          BYBFILE.BYB_UNITS_1_2_7,
          BYBFILE.BYB_UNITS_1_2_8,
          BYBFILE.BYB_UNITS_1_2_9,
          BYBFILE.BYB_UNITS_1_2_10,
          BYBFILE.BYB_UNITS_2_1_1,
          BYBFILE.BYB_UNITS_2_1_2,
          BYBFILE.BYB_UNITS_2_1_3,
          BYBFILE.BYB_UNITS_2_1_4,
          BYBFILE.BYB_UNITS_2_1_5,
          BYBFILE.BYB_UNITS_2_1_6,
          BYBFILE.BYB_UNITS_2_1_7,
          BYBFILE.BYB_UNITS_2_1_8,
          BYBFILE.BYB_UNITS_2_1_9,
          BYBFILE.BYB_UNITS_2_1_10,
          BYBFILE.BYB_UNITS_2_2_1,
          BYBFILE.BYB_UNITS_2_2_2,
          BYBFILE.BYB_UNITS_2_2_3,
          BYBFILE.BYB_UNITS_2_2_4,
          BYBFILE.BYB_UNITS_2_2_5,
          BYBFILE.BYB_UNITS_2_2_6,
          BYBFILE.BYB_UNITS_2_2_7,
          BYBFILE.BYB_UNITS_2_2_8,
          BYBFILE.BYB_UNITS_2_2_9,
          BYBFILE.BYB_UNITS_2_2_10,
          BYBFILE.BYB_UNITS_3_1_1,
          BYBFILE.BYB_UNITS_3_1_2,
          BYBFILE.BYB_UNITS_3_1_3,
          BYBFILE.BYB_UNITS_3_1_4,
          BYBFILE.BYB_UNITS_3_1_5,
          BYBFILE.BYB_UNITS_3_1_6,
          BYBFILE.BYB_UNITS_3_1_7,
          BYBFILE.BYB_UNITS_3_1_8,
          BYBFILE.BYB_UNITS_3_1_9,
          BYBFILE.BYB_UNITS_3_1_10,
          BYBFILE.BYB_UNITS_3_2_1,
          BYBFILE.BYB_UNITS_3_2_2,
          BYBFILE.BYB_UNITS_3_2_3,
          BYBFILE.BYB_UNITS_3_2_4,
          BYBFILE.BYB_UNITS_3_2_5,
          BYBFILE.BYB_UNITS_3_2_6,
          BYBFILE.BYB_UNITS_3_2_7,
          BYBFILE.BYB_UNITS_3_2_8,
          BYBFILE.BYB_UNITS_3_2_9,
          BYBFILE.BYB_UNITS_3_2_10,
          BYBFILE.BYB_OUTBAL_1_1_1,
          BYBFILE.BYB_OUTBAL_1_1_2,
          BYBFILE.BYB_OUTBAL_1_1_3,
          BYBFILE.BYB_OUTBAL_1_1_4,
          BYBFILE.BYB_OUTBAL_1_1_5,
          BYBFILE.BYB_OUTBAL_1_1_6,
          BYBFILE.BYB_OUTBAL_1_1_7,
          BYBFILE.BYB_OUTBAL_1_1_8,
          BYBFILE.BYB_OUTBAL_1_1_9,
          BYBFILE.BYB_OUTBAL_1_1_10,
          BYBFILE.BYB_OUTBAL_1_2_1,
          BYBFILE.BYB_OUTBAL_1_2_2,
          BYBFILE.BYB_OUTBAL_1_2_3,
          BYBFILE.BYB_OUTBAL_1_2_4,
          BYBFILE.BYB_OUTBAL_1_2_5,
          BYBFILE.BYB_OUTBAL_1_2_6,
          BYBFILE.BYB_OUTBAL_1_2_7,
          BYBFILE.BYB_OUTBAL_1_2_8,
          BYBFILE.BYB_OUTBAL_1_2_9,
          BYBFILE.BYB_OUTBAL_1_2_10,
          BYBFILE.BYB_OUTBAL_2_1_1,
          BYBFILE.BYB_OUTBAL_2_1_2,
          BYBFILE.BYB_OUTBAL_2_1_3,
          BYBFILE.BYB_OUTBAL_2_1_4,
          BYBFILE.BYB_OUTBAL_2_1_5,
          BYBFILE.BYB_OUTBAL_2_1_6,
          BYBFILE.BYB_OUTBAL_2_1_7,
          BYBFILE.BYB_OUTBAL_2_1_8,
          BYBFILE.BYB_OUTBAL_2_1_9,
          BYBFILE.BYB_OUTBAL_2_1_10,
          BYBFILE.BYB_OUTBAL_2_2_1,
          BYBFILE.BYB_OUTBAL_2_2_2,
          BYBFILE.BYB_OUTBAL_2_2_3,
          BYBFILE.BYB_OUTBAL_2_2_4,
          BYBFILE.BYB_OUTBAL_2_2_5,
          BYBFILE.BYB_OUTBAL_2_2_6,
          BYBFILE.BYB_OUTBAL_2_2_7,
          BYBFILE.BYB_OUTBAL_2_2_8,
          BYBFILE.BYB_OUTBAL_2_2_9,
          BYBFILE.BYB_OUTBAL_2_2_10,
          BYBFILE.BYB_OUTBAL_3_1_1,
          BYBFILE.BYB_OUTBAL_3_1_2,
          BYBFILE.BYB_OUTBAL_3_1_3,
          BYBFILE.BYB_OUTBAL_3_1_4,
          BYBFILE.BYB_OUTBAL_3_1_5,
          BYBFILE.BYB_OUTBAL_3_1_6,
          BYBFILE.BYB_OUTBAL_3_1_7,
          BYBFILE.BYB_OUTBAL_3_1_8,
          BYBFILE.BYB_OUTBAL_3_1_9,
          BYBFILE.BYB_OUTBAL_3_1_10,
          BYBFILE.BYB_OUTBAL_3_2_1,
          BYBFILE.BYB_OUTBAL_3_2_2,
          BYBFILE.BYB_OUTBAL_3_2_3,
          BYBFILE.BYB_OUTBAL_3_2_4,
          BYBFILE.BYB_OUTBAL_3_2_5,
          BYBFILE.BYB_OUTBAL_3_2_6,
          BYBFILE.BYB_OUTBAL_3_2_7,
          BYBFILE.BYB_OUTBAL_3_2_8,
          BYBFILE.BYB_OUTBAL_3_2_9,
          BYBFILE.BYB_OUTBAL_3_2_10,
          BYBFILE.BYB_SUMWGTTM,
          BYBFILE.BYB_SUMWGTAV,
          BYBFILE.BYB_SUMWGTTA,
          BYBFILE.BYB_IB_ACCRUED,
          BYBFILE.BYB_DLDISC_1,
          BYBFILE.BYB_DLDISC_2,
          BYBFILE.BYB_DLDISC_3,
          BYBFILE.BYB_STD_POS,
          BYBFILE.BYB_30_DAY_MOVED,
          BYBFILE.BYB_PROJ_INCREASE,
          BYBFILE.BYB_PROJ_PROFIT,
          LCFILE.LC_CODE,
          ISNULL(LCFILE.LC_SALEFIN,' '),
          ISNULL(LCFILE.LC_SERVACCT,' ')
    FROM DBO.BYAFILE BYAFILE,
         DBO.BYBFILE BYBFILE
    LEFT OUTER JOIN
         DBO.LCFILE  LCFILE
      ON ( BYBFILE.BYB_CLASS             =  LCFILE.LC_CODE ) 
   WHERE ( BYAFILE.BYA_BRNO              = @QBY1_WBEG_BRNO 
     AND   BYAFILE.BYA_CLASS       BETWEEN @QBY1_WBEG_CLASS
                                       AND @QBY1_WEND_CLASS 
     AND   BYAFILE.BYA_DATE_CCYYMM BETWEEN @QBY1_WBEG_DATE_CCYYMM
                                       AND @QBY1_WEND_DATE_CCYYMM )
     AND ( BYAFILE.BYA_BRNO              = BYBFILE.BYB_BRNO
     AND   BYAFILE.BYA_CLASS             = BYBFILE.BYB_CLASS        
     AND   BYAFILE.BYA_DATE_CCYYMM       = BYBFILE.BYB_DATE_CCYYMM )
   ORDER BY BYAFILE.BYA_DATE_CCYYMM,
            BYAFILE.BYA_BRNO,
            BYAFILE.BYA_CLASS

END
GO
