USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_TRBFLE_TRBFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_TRBFLE_TRBFILE_SELECT             */
/*               PROGRAM NAME: UT/TRBFLE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 02/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRBFILE                                                 */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_TRBFLE_TRBFILE_SELECT]
    @QTRB1_WBEG_BRNO  AS INT,
	@QTRB1_WBEG_DATE  AS DATE,
	@QTRB1_WEND_DATE  AS DATE
 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRB1_WBEG_BRNO  INT
--DECLARE @QTRB1_WBEG_DATE  DATE
--DECLARE @QTRB1_WEND_DATE  DATE

--SET @QTRB1_WBEG_BRNO  =  10
--SET @QTRB1_WBEG_DATE  = '2019-01-01'
--SET @QTRB1_WEND_DATE  = '2019-06-30'

            SELECT TRBFILE.TB_BRNO,
                   CAST(TRBFILE.TB_DATE AS VARCHAR(10)),
                   TRBFILE.TB_CLASS,
                   TRBFILE.TB_ACCTNO,
                   TRBFILE.TB_LAWCODE,
                   TRBFILE.TB_LINE,
                   CAST(TRBFILE.TB_LTOUCH_DATE AS VARCHAR(10)),
                   TRBFILE.TB_SSNO_1,
                   TRBFILE.TB_MAKERCD_1,
                   TRBFILE.TB_SSNO_2,
                   TRBFILE.TB_MAKERCD_2,
                   TRBFILE.TB_SSNO_3,
                   TRBFILE.TB_MAKERCD_3,
                   TRBFILE.TB_SSNO_4,
                   TRBFILE.TB_MAKERCD_4,
                   TRBFILE.TB_REF_FRTO,
                   TRBFILE.TB_REFBR,
                   TRBFILE.TB_PURCD,
                   TRBFILE.TB_SRCD,
                   TRBFILE.TB_COLLCD,
                   TRBFILE.TB_SERVACCT,
                   TRBFILE.TB_LOANTYPE,
                   TRBFILE.TB_SUBCLASS,
                   CAST(TRBFILE.TB_LOANDATE AS VARCHAR(10)),
                   TRBFILE.TB_PROCEEDS,
                   TRBFILE.TB_LNAMT,
                   TRBFILE.TB_FINCHG,
                   TRBFILE.TB_INTCHG,
                   TRBFILE.TB_SERCHG,
                   TRBFILE.TB_EXTCHG,
                   TRBFILE.TB_MAINTFEE,
                   TRBFILE.TB_ORGTERM,
                   TRBFILE.TB_INSURED,
                   TRBFILE.TB_INSUNEARN_1,
                   TRBFILE.TB_INSUNEARN_2,
                   TRBFILE.TB_INSUNEARN_3,
                   TRBFILE.TB_INSUNEARN_4,
                   TRBFILE.TB_INSUNEARN_5,
                   TRBFILE.TB_INSUNEARN_6,
                   TRBFILE.TB_INSUNEARN_7,
                   TRBFILE.TB_INSUNEARN_8,
                   TRBFILE.TB_INSUNEARN_9,
                   TRBFILE.TB_INSUNEARN_10,
                   TRBFILE.TB_DLNO,
                   TRBFILE.TB_DLRV,
                   TRBFILE.TB_DLSPRV,
                   TRBFILE.TB_DLDISC,
                   TRBFILE.TB_DLPARV,
                   TRBFILE.TB_DLRECOURSE,
                   TRBFILE.TB_DLPARTRCAMT,
                   TRBFILE.TB_PURBAL,
                   TRBFILE.TB_UNEARN_1,
                   TRBFILE.TB_UNEARN_2,
                   TRBFILE.TB_UNEARN_3,
                   TRBFILE.TB_UNEARN_4,
                   TRBFILE.TB_UNEARN_5,
                   TRBFILE.TB_UNEARN_6,
                   TRBFILE.TB_UNEARN_7,
                   TRBFILE.TB_UNEARN_8,
                   TRBFILE.TB_UNEARN_9,
                   TRBFILE.TB_UNEARN_10,
                   TRBFILE.TB_REF_ACCTNO,
                   TRBFILE.TB_DLRVPRIN_1,
                   TRBFILE.TB_DLRVPRIN_2,
                   TRBFILE.TB_DLRVPRIN_3,
                   TRBFILE.TB_DLRVCHGS_1,
                   TRBFILE.TB_DLRVCHGS_2,
                   TRBFILE.TB_DLRVCHGS_3,
                   TRBFILE.TB_DLPARVPAID,
                   TRBFILE.TB_DLPARVHELD,
                   TRBFILE.TB_USERID,
                   CAST(TRBFILE.TB_POSTDATE  AS VARCHAR(10)),
                   TRBFILE.TB_POSTTIME,
                   TRBFILE.TB_PLCD,
                   TRBFILE.TB_PLTYPE,
                   TRBFILE.TB_REPOCD,
                   TRBFILE.TB_ACTIONCD2
            FROM DBO.TRBFILE
            WHERE TRBFILE.TB_BRNO  = @QTRB1_WBEG_BRNO
              AND TRBFILE.TB_DATE >= @QTRB1_WBEG_DATE
              AND TRBFILE.TB_DATE <= @QTRB1_WEND_DATE
             ORDER BY TRBFILE.TB_DATE,
                      TRBFILE.TB_CLASS,
                      TRBFILE.TB_ACCTNO,
                      TRBFILE.TB_LAWCODE,
                      TRBFILE.TB_LINE

END 
GO
