USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LSOUTH_TRPFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LSOUTH_TRPFILE_SELECT             */
/*               PROGRAM NAME: LP/LSOUTH.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 10/2023                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRPFILE LNFILE                                          */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_LSOUTH_TRPFILE_SELECT]
    @BRANCHLIST         AS VARCHAR(7500),
   	@QTRP1_WBEG_DATE    AS DATE,
    @QTRP1_WEND_DATE    AS DATE,
    @QTRP1_WBEG_CLASS   AS INT,
    @QTRP1_WEND_CLASS   AS INT

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @BRANCHLIST         VARCHAR(7500)
--DECLARE @QTRP1_WBEG_DATE    DATE
--DECLARE @QTRP1_WEND_DATE    DATE
--DECLARE @QTRP1_WBEG_CLASS   INT
--DECLARE @QTRP1_WEND_CLASS   INT 

--SET @BRANCHLIST         = '1504'
--SET @QTRP1_WBEG_DATE    = '2019-12-01'
--SET @QTRP1_WEND_DATE    = '2019-12-31'
--SET @QTRP1_WBEG_CLASS   = 000
--SET @QTRP1_WEND_CLASS   = 999
     
CREATE TABLE #TEMP1_BRANCH_GROUP_TBL
   ( SEQ int IDENTITY(1,1),
     BRNO int ); 

INSERT INTO #TEMP1_BRANCH_GROUP_TBL (BRNO)
SELECT P.VALUE FROM string_Split(@BRANCHLIST, ',') P;

	        SELECT TRPFILE.TP_BRNO,
                   CAST(TRPFILE.TP_DATE AS VARCHAR(10)), 
                   TRPFILE.TP_CLASS,
                   TRPFILE.TP_ACCTNO,
                   TRPFILE.TP_LINE,
                   TRPFILE.TP_TRCD, 
                   TRPFILE.TP_REFNO, 
                   CAST(TRPFILE.TP_PAYDATE AS VARCHAR(10)), 
                   TRPFILE.TP_TRAMT,
                   TRPFILE.TP_APCUR,
                   TRPFILE.TP_OTHBR_FG, 
                   TRPFILE.TP_INS_TAX_RB,
                   TRPFILE.TP_INS_TAX_COUNTY_CD, 
                   TRPFILE.TP_INS_TAX_CITY_CD, 

				   LNFILE.LN_OWNBR,
                   LNFILE.LN_ACCTNO,
                   LNFILE.LN_CLASS,
                   LNFILE.LN_SUBCLASS,
                   LNFILE.LN_LAWCODE,
                   LNFILE.LN_SSNO1,
                   LNFILE.LN_MAKERCD1,
                   LNFILE.LN_SSNO2,
                   LNFILE.LN_MAKERCD2,
                   LNFILE.LN_SSNO3,
                   LNFILE.LN_MAKERCD3,
                   LNFILE.LN_SSNO4,
                   LNFILE.LN_MAKERCD4,
                   LNFILE.LN_ORGST,
                   LNFILE.LN_SPRCLASS,
                   CAST(LNFILE.LN_LOANDATE AS VARCHAR(10)),
                   LNFILE.LN_APRATE,
                   LNFILE.LN_LNAMT,
                   LNFILE.LN_MAINTFEE,
                   LNFILE.LN_ORGTERM,
                   LNFILE.LN_REGPYAMT,
                   LNFILE.LN_FEECODE_1,
                   LNFILE.LN_FEECODE_2,
                   LNFILE.LN_FEECODE_3,
                   LNFILE.LN_FEECODE_4,
                   LNFILE.LN_FEECODE_5,
                   LNFILE.LN_FEECODE_6,
                   LNFILE.LN_FEECODE_7,
                   LNFILE.LN_FEECODE_8,
                   LNFILE.LN_FEECODE_9,
                   LNFILE.LN_FEECODE_10,
                   LNFILE.LN_FEECODE_11,
                   LNFILE.LN_FEECODE_12,
                   LNFILE.LN_FEECODE_13,
                   LNFILE.LN_FEECODE_14,
                   LNFILE.LN_FEECODE_15,
                   LNFILE.LN_FEECODE_16,
                   LNFILE.LN_FEECODE_17,
                   LNFILE.LN_FEECODE_18,
                   LNFILE.LN_FEECODE_19,
                   LNFILE.LN_FEECODE_20,
                   LNFILE.LN_FEEAMT_1,
                   LNFILE.LN_FEEAMT_2,
                   LNFILE.LN_FEEAMT_3,
                   LNFILE.LN_FEEAMT_4,
                   LNFILE.LN_FEEAMT_5,
                   LNFILE.LN_FEEAMT_6,
                   LNFILE.LN_FEEAMT_7,
                   LNFILE.LN_FEEAMT_8,
                   LNFILE.LN_FEEAMT_9,
                   LNFILE.LN_FEEAMT_10,
                   LNFILE.LN_FEEAMT_11,
                   LNFILE.LN_FEEAMT_12,
                   LNFILE.LN_FEEAMT_13,
                   LNFILE.LN_FEEAMT_14,
                   LNFILE.LN_FEEAMT_15,
                   LNFILE.LN_FEEAMT_16,
                   LNFILE.LN_FEEAMT_17,
                   LNFILE.LN_FEEAMT_18,
                   LNFILE.LN_FEEAMT_19,
                   LNFILE.LN_FEEAMT_20,
                   LNFILE.LN_INSURED,
                   LNFILE.LN_INSTYPES,
                   LNFILE.LN_INSCOMP_1,
                   LNFILE.LN_INSCOMP_2,
                   LNFILE.LN_INSCOMP_3,
                   LNFILE.LN_INSCOMP_4,
                   LNFILE.LN_INSCOMP_5,
                   LNFILE.LN_INSCOMP_6,
                   LNFILE.LN_INSCOMP_7,
                   LNFILE.LN_INSCOMP_8,
                   LNFILE.LN_INSCOMP_9,
                   LNFILE.LN_INSCOMP_10,
                   LNFILE.LN_INSOURS_1,
                   LNFILE.LN_INSOURS_2,
                   LNFILE.LN_INSOURS_3,
                   LNFILE.LN_INSOURS_4,
                   LNFILE.LN_INSOURS_5,
                   LNFILE.LN_INSOURS_6,
                   LNFILE.LN_INSOURS_7,
                   LNFILE.LN_INSOURS_8,
                   LNFILE.LN_INSOURS_9,
                   LNFILE.LN_INSOURS_10,
                   CAST(LNFILE.LN_INSEFF_DATE_1 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_2 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_3 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_4 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_5 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_6 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_7 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_8 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_9 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEFF_DATE_10 AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_1  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_2  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_3  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_4  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_5  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_6  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_7  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_8  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_9  AS VARCHAR(10)),
                   CAST(LNFILE.LN_INSEXP_DATE_10 AS VARCHAR(10)),
                   LNFILE.LN_INSPREM_1,
                   LNFILE.LN_INSPREM_2,
                   LNFILE.LN_INSPREM_3,
                   LNFILE.LN_INSPREM_4,
                   LNFILE.LN_INSPREM_5,
                   LNFILE.LN_INSPREM_6,
                   LNFILE.LN_INSPREM_7,
                   LNFILE.LN_INSPREM_8,
                   LNFILE.LN_INSPREM_9,
                   LNFILE.LN_INSPREM_10,
                   LNFILE.LN_INSCOVR_1,
                   LNFILE.LN_INSCOVR_2,
                   LNFILE.LN_INSCOVR_3,
                   LNFILE.LN_INSCOVR_4,
                   LNFILE.LN_INSCOVR_5,
                   LNFILE.LN_INSCOVR_6,
                   LNFILE.LN_INSCOVR_7,
                   LNFILE.LN_INSCOVR_8,
                   LNFILE.LN_INSCOVR_9,
                   LNFILE.LN_INSCOVR_10,
                   LNFILE.LN_AD_D_INS_COVR,
                   LNFILE.LN_CURBAL,
                   LNFILE.LN_CL_REBATE,
                   LNFILE.LN_AH_REBATE,
                   LNFILE.LN_PP_REBATE,
                   LNFILE.LN_INT_REBATE,
                   LNFILE.LN_SC_REBATE,
                   LNFILE.LN_MF_REBATE,
                   LNFILE.LN_DF_REBATE,
                   LNFILE.LN_EX_REBATE,
                   LNFILE.LN_O1_REBATE,
                   LNFILE.LN_O2_REBATE,
                   LNFILE.LN_O3_REBATE,
                   LNFILE.LN_O4_REBATE,
                   LNFILE.LN_O5_REBATE,
                   LNFILE.LN_O6_REBATE,
                   LNFILE.LN_O7_REBATE,
                   LNFILE.LN_UN_O7_REB,
                   LNFILE.LN_UN_O8_REB,
                   LNFILE.LN_UN_O9_REB,
                   LNFILE.LN_UN_O10_REB,
                   LNFILE.LN_UNITPER_CD,
                   LNFILE.LN_UNITPER_FREQ
				   				  
	 FROM #TEMP1_BRANCH_GROUP_TBL T1
	
	 INNER JOIN DBO.TRPFILE TRPFILE
	   ON TRPFILE.TP_BRNO = T1.BRNO

     INNER JOIN DBO.LNFILE LNFILE
       ON LNFILE.LN_OWNBR  = TRPFILE.TP_BRNO
      AND LNFILE.LN_ACCTNO = TRPFILE.TP_ACCTNO
         
	WHERE TRPFILE.TP_DATE  BETWEEN @QTRP1_WBEG_DATE  AND @QTRP1_WEND_DATE
      AND TRPFILE.TP_CLASS BETWEEN @QTRP1_WBEG_CLASS AND @QTRP1_WEND_CLASS
      AND TRPFILE.TP_OTHBR_FG != 'C'
	  AND  ((TRPFILE.TP_REFNO LIKE 'ADD%%' OR TRPFILE.TP_REFNO LIKE 'CNL%%' OR TRPFILE.TP_REFNO LIKE 'ADJ%%')  
       OR (TP_TRCD IN ('RC','RA','CC','CA','CP','RP','C1','R1','C2','R2','C3','R3')))

     ORDER BY T1.SEQ,
	          TRPFILE.TP_DATE,
	          TRPFILE.TP_CLASS,
              TRPFILE.TP_ACCTNO,
	          TRPFILE.TP_LINE

END 
GO
