USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_TCLP_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_TCLP_SELECT                       */
/*               PROGRAM NAME: MISC. PROGRAMS                        */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: THIS STORED PROCEDURE IS TO BE USED BY MULTIPLE         */
/*   PROGRAMS, WHERE THE SQL IS EMBEDDED IN THE COBOL PROGRAM,       */
/*   AND PASSED INTO THIS PROGRAM FOR PROCESSING.                    */
/*                                                                   */
/*   TABLES: N/A                                                     */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_TCLP_SELECT]
 	@IN_SQL  AS VARCHAR(MAX)

 AS
BEGIN
	SET NOCOUNT ON;

 DECLARE  @SQL        NVARCHAR(MAX)
		   
--DECLARE @IN_SQL    AS VARCHAR(1000)
--SET @IN_SQL = 'SELECT * FROM DBO.BRFILE WHERE BR_NO = 10'
 
SELECT @SQL = @IN_SQL

EXEC sp_executesql @SQL 

END 
GO
