USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_EOYUPD_BWFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_EOYUPD_BWFILE_SELECT              */
/*               PROGRAM NAME: LP/EOYUPD.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 03/04/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: BWFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_EOYUPD_BWFILE_SELECT]
    @QBW1_WBEG_OWNBR       AS INT,
    @QBW1_WBEG_SSNO        AS INT,
    @QBW1_WEND_SSNO        AS INT
 
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QBW1_WBEG_OWNBR     INT
--DECLARE @QBW1_WBEG_SSNO      INT
--DECLARE @QBW1_WEND_SSNO      INT

--SET @QBW1_WBEG_OWNBR         = 11
--SET @QBW1_WBEG_SSNO          = 000000000 
--SET @QBW1_WEND_SSNO          = 999999999 


DROP TABLE IF EXISTS #TEMP_EOYUPD_BWFILE;

   SELECT TEMP.BW_OWNBR,
          TEMP.BW_SSNO,
          TEMP.BW_INTYTD,
          TEMP.BW_INTLYR,
          TEMP.BW_RE_INTYTD,
          TEMP.BW_RE_INTLYR 

     INTO #TEMP_EOYUPD_BWFILE

     FROM

  (SELECT BWFILE.BW_OWNBR,
          BWFILE.BW_SSNO,
          BWFILE.BW_INTYTD,
          BWFILE.BW_INTLYR,
          BWFILE.BW_RE_INTYTD,
          BWFILE.BW_RE_INTLYR 

     FROM DBO.BWFILE BWFILE

    WHERE BWFILE.BW_OWNBR      = @QBW1_WBEG_OWNBR
      AND BWFILE.BW_SSNO BETWEEN @QBW1_WBEG_SSNO
                             AND @QBW1_WEND_SSNO ) TEMP;

    SELECT #TEMP_EOYUPD_BWFILE.BW_OWNBR,
           #TEMP_EOYUPD_BWFILE.BW_SSNO,
           #TEMP_EOYUPD_BWFILE.BW_INTYTD,
           #TEMP_EOYUPD_BWFILE.BW_INTLYR,
           #TEMP_EOYUPD_BWFILE.BW_RE_INTYTD,
           #TEMP_EOYUPD_BWFILE.BW_RE_INTLYR 
 
      FROM #TEMP_EOYUPD_BWFILE	   

     ORDER BY #TEMP_EOYUPD_BWFILE.BW_OWNBR,
              #TEMP_EOYUPD_BWFILE.BW_SSNO;

 DROP TABLE IF EXISTS #TEMP_EOYUPD_BWFILE;

END
GO
