USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_EMCKRG_TRLFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*********************************************************************/
/*      STORED PROCEDURE NAME: SP_EMCKRG_TRLFILE_SELECT              */
/*               PROGRAM NAME: LP/EMCKRG.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRCFILE, GIFILE                                         */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_EMCKRG_TRLFILE_SELECT]
    @QTRC1_WBEG_BRNO      AS INT,
    @QTRC1_WBEG_KEY_DATE  AS DATE,
    @QTRC1_WEND_KEY_DATE  AS DATE, 
	@QWS_MISC_CHECKS      AS CHAR(1)
    
 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRC1_WBEG_BRNO     INT
--DECLARE @QTRC1_WBEG_KEY_DATE DATE
--DECLARE @QTRC1_WEND_KEY_DATE DATE
--DECLARE @QWS_MISC_CHECKS     CHAR(1) 
 
--SET     @QTRC1_WBEG_BRNO     =  0010
--SET     @QTRC1_WBEG_KEY_DATE =  '2019-12-01'
--SET     @QTRC1_WEND_KEY_DATE =  '2019-12-31'
--SET     @QWS_MISC_CHECKS     =  'I' 

  SELECT  TRCFILE.TC_BRNO,
          CAST(TRCFILE.TC_KEY_DATE AS VARCHAR(10)),
          TRCFILE.TC_CKNO,
          TRCFILE.TC_CLASS,
          TRCFILE.TC_SEQ,
          TRCFILE.TC_TYPE,
          CAST(TRCFILE.TC_DATE     AS VARCHAR(10)),
          TRCFILE.TC_AMT,
          TRCFILE.TC_PAYEE,
          TRCFILE.TC_REF,
          TRCFILE.TC_REASON,
          TRCFILE.TC_GLNO_1,
          TRCFILE.TC_GLNO_2,
          TRCFILE.TC_GLNO_3,
          TRCFILE.TC_GLNO_4,
          TRCFILE.TC_GLNO_5,
          TRCFILE.TC_GLAMT_1,
          TRCFILE.TC_GLAMT_2,
          TRCFILE.TC_GLAMT_3,
          TRCFILE.TC_GLAMT_4,
          TRCFILE.TC_GLAMT_5,
          TRCFILE.TC_VOID,
          TRCFILE.TC_ACCTNO,
          TRCFILE.TC_PAID,
          TRCFILE.TC_PGM,
          TRCFILE.TC_DLRVNO,
          TRCFILE.TC_DLNO,
          TRCFILE.TC_PAYEE_NO,
          ISNULL(GIFILE.GI_BRANCH, 0),
          ISNULL(GIFILE.GI_CLASS, 0),
          ISNULL(GIFILE.GI_CASH, 0),
          ISNULL(GIFILE.GI_BANK, 0),
          ISNULL(GIFILE.GI_DLPAYABLE, 0),
          ISNULL(GIFILE.GI_DLRVPRIN_1, 0),
          ISNULL(GIFILE.GI_DLRVPRIN_2, 0),
          ISNULL(GIFILE.GI_DLRVPRIN_3, 0),
          ISNULL(GIFILE.GI_DLRVCHGS_1, 0),
          ISNULL(GIFILE.GI_DLRVCHGS_2, 0),
          ISNULL(GIFILE.GI_DLRVCHGS_3, 0),
          ISNULL(GIFILE.GI_DLPARV, 0),
          ISNULL(GIFILE.GI_DIRECT_PAY, 0),
          ISNULL(GIFILE.GI_ACH_BANK, 0)

    FROM  DBO.TRCFILE TRCFILE

    LEFT OUTER JOIN
          DBO.GIFILE GIFILE
      ON  ( TRCFILE.TC_BRNO           = GIFILE.GI_BRANCH
     AND    TRCFILE.TC_CLASS          = GIFILE.GI_CLASS )

   WHERE    TRCFILE.TC_BRNO           = @QTRC1_WBEG_BRNO
     AND    TRCFILE.TC_KEY_DATE BETWEEN @QTRC1_WBEG_KEY_DATE  
                                    AND @QTRC1_WEND_KEY_DATE
     AND    TRCFILE.TC_TYPE      NOT IN ( 'CA', 'BK', 'RR', 'RC', 'RP', 
                                          'RD', 'ID', 'IW', 'DB ' )
     AND (( @QWS_MISC_CHECKS          = 'I' )
      OR  ( @QWS_MISC_CHECKS          = 'S'
     AND    TRCFILE.TC_TYPE          != 'MS' )
      OR  ( @QWS_MISC_CHECKS          = 'O'
     AND    TRCFILE.TC_TYPE           = 'MS' ))

   ORDER BY TRCFILE.TC_BRNO,
            TRCFILE.TC_CKNO,
            TRCFILE.TC_KEY_DATE,
            TRCFILE.TC_CLASS,
            TRCFILE.TC_SEQ;

END 
GO
