USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_CKFILE_CKFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_CKFILE_CKFILE_SELECT              */
/*               PROGRAM NAME: UT/CKFILE.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 03/15/2024                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: CKFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_CKFILE_CKFILE_SELECT]
    @QCK1_WBEG_BRNO             AS INT,
    @QCK1_WBEG_CKNO             AS INT,
    @QCK1_WEND_CKNO             AS INT  
 	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QCK1_WBEG_BRNO       INT
--DECLARE @QCK1_WBEG_CKNO       INT
--DECLARE @QCK1_WEND_CKNO       INT 

--SET @QCK1_WBEG_BRNO           = 803
--SET @QCK1_WBEG_CKNO           = 000000
--SET @QCK1_WEND_CKNO           = 999999 
 

    SELECT CKFILE.CK_BRNO,
           CKFILE.CK_NO,
           CAST(CKFILE.CK_LTOUCH_DATE   AS VARCHAR(10)),
           CKFILE.CK_TYPE,
           CAST(CKFILE.CK_DATE          AS VARCHAR(10)),
           CKFILE.CK_AMT,
           CKFILE.CK_PAYEE,
           CKFILE.CK_ADR1,
           CKFILE.CK_ADR2,
           CKFILE.CK_CITY,
           CKFILE.CK_STATE,
           CKFILE.CK_ZIP,
           CKFILE.CK_REF,
           CKFILE.CK_REASON,
           CKFILE.CK_GLNO_1,
           CKFILE.CK_GLAMT_1,
           CKFILE.CK_GLNO_2,
           CKFILE.CK_GLAMT_2,
           CKFILE.CK_GLNO_3,
           CKFILE.CK_GLAMT_3,
           CKFILE.CK_GLNO_4,
           CKFILE.CK_GLAMT_4,
           CKFILE.CK_GLNO_5,
           CKFILE.CK_GLAMT_5,
           CKFILE.CK_VOID,
           CKFILE.CK_PAID,
           CKFILE.CK_CLASS,
           CKFILE.CK_DLNO,
           CKFILE.CK_PGM,
           CKFILE.CK_NC_SEQNO,
           CAST(CKFILE.CK_VOID_DATE     AS VARCHAR(10)),
           CKFILE.CK_ACCTNO,
           CKFILE.CK_DLRVNO,
           CKFILE.CK_CLEARED_FG,
           CKFILE.CK_SSNO,
           CKFILE.CK_BATCHID,
           CKFILE.CK_UNPAID,
           CAST(CKFILE.CK_CLEARED_DATE  AS VARCHAR(10)),
           CKFILE.CK_TILLNO,
           CKFILE.CK_EVENT_CD,
           CKFILE.CK_PAYEE_NO,
           CKFILE.CK_FREE1,
           CKFILE.CK_FREE2,
           CKFILE.CK_BWPROC

     FROM  DBO.CKFILE CKFILE 

    WHERE  CKFILE.CK_BRNO          = @QCK1_WBEG_BRNO          
      AND  CKFILE.CK_NO      BETWEEN @QCK1_WBEG_CKNO         
                                 AND @QCK1_WEND_CKNO        
    ORDER BY CKFILE.CK_BRNO,
             CKFILE.CK_NO;
             
END
GO
