USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_ILUEXT_TRPFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_ILUEXT_TRPFILE_SELECT             */
/*               PROGRAM NAME: SP/ILUEXT.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: TRLFILE, LNFILE, LSMFILE                                */
/*                                                                   */
/*   REV DT:     BY:       REV:                                      */
/*   06/28/2024  RMZ       ADDED CLASS 55 TO EXCLUDE LIST: #S35Q-75  */
/*   MM/DD/YYYY  XXX       XXXXXXX                                   */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_ILUEXT_TRPFILE_SELECT]
    @QTRP1_WBEG_BRNO       AS INT,
    @QTRP1_WBEG_DATE       AS DATE,
    @QTRP1_WEND_DATE       AS DATE

AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QTRP1_WBEG_BRNO      INT 
--DECLARE @QTRP1_WBEG_DATE      DATE
--DECLARE @QTRP1_WEND_DATE      DATE
 
--SET     @QTRP1_WBEG_BRNO      = 10
--SET     @QTRP1_WBEG_DATE      = '2022-08-01' 
--SET     @QTRP1_WEND_DATE      = '2022-08-31' 

 
   SELECT TRPFILE.TP_BRNO,
          CAST(TRPFILE.TP_DATE    AS VARCHAR(10)),
          TRPFILE.TP_CLASS,
          TRPFILE.TP_ACCTNO,
          TRPFILE.TP_LINE,
          TRPFILE.TP_TRCD,
          TRPFILE.TP_REFNO,
          CAST(TRPFILE.TP_PAYDATE AS VARCHAR(10)),
          TRPFILE.TP_INTDUE,
          TRPFILE.TP_APCUR,
          TRPFILE.TP_CURBAL,
          TRPFILE.TP_OTHBR_FG,
          TRPFILE.TP_REV,
          TRPFILE.TP_LCDUE,
          ISNULL(LNFILE.LN_OWNBR, 0),
          ISNULL(LNFILE.LN_ACCTNO, 0),
          ISNULL(LNFILE.LN_SSNO1, 0),
          ISNULL(LNFILE.LN_MAKERCD1,''),
          ISNULL(LNFILE.LN_SSNO2, 0),
          ISNULL(LNFILE.LN_MAKERCD2,''),
          ISNULL(LNFILE.LN_SSNO3, 0), 
          ISNULL(LNFILE.LN_MAKERCD3,''),
          ISNULL(LNFILE.LN_SSNO4, 0),
          ISNULL(LNFILE.LN_MAKERCD4,''),
          ISNULL(LNFILE.LN_ORGST,''),
          ISNULL(LNFILE.LN_CONVERCD,''),
          ISNULL(CAST(LNFILE.LN_ENTDATE  AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LNFILE.LN_LOANDATE AS VARCHAR(10)),'1900-01-01'),
          ISNULL(CAST(LNFILE.LN_POFFDATE AS VARCHAR(10)),'1900-01-01'),
          ISNULL(LNFILE.LN_APRATE, 0),
          ISNULL(LNFILE.LN_TOTPAYMNTD, 0),
          ISNULL(LSMFILE.LSM_BRNO, 0), 
          ISNULL(LSMFILE.LSM_ACCTNO, 0),
          ISNULL(LSMFILE.LSM_SEQNO, 0),
          ISNULL(LSMFILE.LSM_MISC_FIELD_15,' ')

     FROM DBO.TRPFILE  TRPFILE

	 LEFT OUTER JOIN 
          DBO.LNFILE   LNFILE
       ON (  TRPFILE.TP_BRNO          = LNFILE.LN_OWNBR	
      AND    TRPFILE.TP_ACCTNO        = LNFILE.LN_ACCTNO
      AND    LNFILE.LN_ORGST          = 'IL'
      AND (( LNFILE.LN_CONVERCD       = 'Y'
      AND    LNFILE.LN_ENTDATE       >= '2022-08-01' )
       OR  ( LNFILE.LN_CONVERCD      != 'Y'
      AND    LNFILE.LN_LOANDATE      >= '2022-08-01' )))

	 LEFT OUTER JOIN 
          DBO.LSMFILE  LSMFILE
       ON (  LSMFILE.LSM_BRNO        = LNFILE.LN_OWNBR	
      AND    LSMFILE.LSM_ACCTNO      = LNFILE.LN_ACCTNO
      AND    LSMFILE.LSM_SEQNO       = 1 )

    WHERE (  TRPFILE.TP_BRNO         = @QTRP1_WBEG_BRNO 
	  AND    TRPFILE.TP_DATE   BETWEEN @QTRP1_WBEG_DATE
                                   AND @QTRP1_WEND_DATE
      AND    TRPFILE.TP_REV         != 'Y'
      AND    TRPFILE.TP_CLASS   NOT IN (50, 55)
      AND    TRPFILE.TP_OTHBR_FG    != 'C' )

    ORDER BY TRPFILE.TP_BRNO,
             TRPFILE.TP_DATE,
             TRPFILE.TP_CLASS,
             TRPFILE.TP_ACCTNO,
             TRPFILE.TP_LINE; 
             
END
GO
