USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LEFILE_LEFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LEFILE_LEFILE_SELECT              */
/*               PROGRAM NAME: UT/LEFILE.CBL                         */
/*                 CREATED BY: MB                                    */
/*                CREATE DATE: 03/2024                               */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LEFILE                                                  */
/*                                                                   */
/*  REV DT:     BY:          REV:                                    */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*  MM/DD/YYYY  XXX          XXXXXXX                                 */
/*                                                                   */
/*********************************************************************/

CREATE PROCEDURE [dbo].[SSP_LEFILE_LEFILE_SELECT]
    @QLE_WBEG_BRNO    AS INT,
	@QLE_WBEG_ACCTNO  AS INT,
	@QLE_WEND_ACCTNO  AS INT

 AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLE_WBEG_BRNO   INT
--DECLARE @QLE_WBEG_ACCTNO INT
--DECLARE @QLE_WEND_ACCTNO INT

--SET @QLE_WBEG_BRNO    = 121
--SET @QLE_WBEG_ACCTNO  = 0
--SET @QLE_WEND_ACCTNO  = 99999999

   SELECT LEFILE.LE_BRNO,
          LEFILE.LE_ACCTNO,
          LEFILE.LE_TYPE,
          LEFILE.LE_FLAG,
          LEFILE.LE_SSNO,
          LEFILE.LE_OSACCTNO,
          CAST(LEFILE.LE_LTOUCH_DATE AS VARCHAR(10)),
          LEFILE.LE_E_OSRATE,
          LEFILE.LE_E_OSAMT,
          CAST(LEFILE.LE_E_OSDATE   AS VARCHAR(10)),
          LEFILE.LE_E_AMT,
          CAST(LEFILE.LE_E_DATE     AS VARCHAR(10)),
          LEFILE.LE_E_OSMAKERCD,
          CAST(LEFILE.LE_R_LOANDATE AS VARCHAR(10)),
          LEFILE.LE_R_LNAMT,
          CAST(LEFILE.LE_R_POFFDATE AS VARCHAR(10)),
          LEFILE.LE_R_RESTRICTED_MONEY,
          LEFILE.LE_R_BALANCE,
          LEFILE.LE_R_SALEFIN

   FROM DBO.LEFILE

   WHERE LEFILE.LE_BRNO         = @QLE_WBEG_BRNO
     AND LEFILE.LE_ACCTNO BETWEEN @QLE_WBEG_ACCTNO 
                              AND @QLE_WEND_ACCTNO

   ORDER BY LEFILE.LE_BRNO,
            LEFILE.LE_ACCTNO,
            LEFILE.LE_TYPE,
            LEFILE.LE_FLAG,
            LEFILE.LE_SSNO,
            LEFILE.LE_OSACCTNO;
 
END 
GO
