USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_COLRPT_LMFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_COLRPT_LMFILE_SELECT              */
/*               PROGRAM NAME: LP/COLRPT.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: LMFILE, CJFILE                                          */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
  
CREATE PROCEDURE [dbo].[SSP_COLRPT_LMFILE_SELECT]
    @QLM1_WBEG_BRNO        AS INT,
    @QWS_WBEG_DATE_REV     AS INT,
    @QWS_WEND_DATE_REV     AS INT
	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QLM1_WBEG_BRNO      INT
--DECLARE @QWS_WBEG_DATE_REV   INT
--DECLARE @QWS_WEND_DATE_REV   INT
 
--SET     @QLM1_WBEG_BRNO     = 21 
--SET     @QWS_WBEG_DATE_REV  = 79769668      
--SET     @QWS_WEND_DATE_REV  = 79769698      

   SELECT LMFILE.LM_BRNO,
          CJFILE.CJ_COLLID,
          99999999 + (LMFILE.LM_DATE_REVERSED * -1),
          CJFILE.CJ_START_TIME,
          CJFILE.CJ_END_TIME,
          LMFILE.LM_ACCTNO,
		  CJFILE.CJ_BEG_LM_SEQ,
		  CJFILE.CJ_END_LM_SEQ,
          LMFILE.LM_SEQ,
          LMFILE.LM_MEMO

    FROM DBO.LMFILE  LMFILE

   INNER JOIN
         DBO.CJFILE  CJFILE
	  ON  ( LMFILE.LM_BRNO                  = CJFILE.CJ_BRNO 
     AND    LMFILE.LM_ACCTNO                = CJFILE.CJ_ACCTNO 
     AND    LMFILE.LM_DATE_REVERSED         = (99999999 - 
	                                          CAST(FORMAT(CJFILE.CJ_DATE, 'yyyyMMdd')  
                                                AS INT))
     AND    LMFILE.LM_SEQ             BETWEEN CJFILE.CJ_BEG_LM_SEQ
	                                      AND CJFILE.CJ_END_LM_SEQ ) 
 
   WHERE  ( LMFILE.LM_BRNO                  = @QLM1_WBEG_BRNO
     AND    LMFILE.LM_DATE_REVERSED   BETWEEN @QWS_WBEG_DATE_REV 
                                          AND @QWS_WEND_DATE_REV )

   GROUP BY LMFILE.LM_BRNO,
            CJFILE.CJ_COLLID,
            99999999 + (LMFILE.LM_DATE_REVERSED * -1),
            CJFILE.CJ_START_TIME,
			CJFILE.CJ_END_TIME,
            LMFILE.LM_ACCTNO,
		    CJFILE.CJ_BEG_LM_SEQ,
		    CJFILE.CJ_END_LM_SEQ,
            LMFILE.LM_SEQ,
            LMFILE.LM_MEMO

   ORDER BY LMFILE.LM_BRNO,
            CJFILE.CJ_COLLID,
            99999999 + (LMFILE.LM_DATE_REVERSED * -1), 
            CJFILE.CJ_START_TIME,
            CJFILE.CJ_END_TIME,
  			LMFILE.LM_ACCTNO,
		    CJFILE.CJ_BEG_LM_SEQ,
		    CJFILE.CJ_END_LM_SEQ,
            LMFILE.LM_SEQ
             
END
GO
