USE [OTIS_TEMPLATE]
GO
/****** Object:  StoredProcedure [dbo].[SSP_LPEOD5_GTFILE_SELECT]    Script Date: 4/10/2025 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************/
/*      STORED PROCEDURE NAME: SSP_LPEOD5_GTFILE_SELECT              */
/*               PROGRAM NAME: LP/LPEOD5.CBL                         */
/*                 CREATED BY: RMZ                                   */
/*                CREATE DATE: 12/15/2023                            */
/*                                                                   */
/*  PURPOSE: REPLACE EMBEDDED SQL READ CALLS IN COBOL PROGRAM.       */
/*                                                                   */
/*   TABLES: GTFILE                                                  */
/*                                                                   */
/*   REV DT:     BY:          REV:                                   */
/*   06/13/2024  RMZ          ADDED 'TEMP' TABLE PROCESS - (S35Q-67) */
/*   MM/DD/YYYY  XXX          XXXXXXX                                */
/*                                                                   */
/*********************************************************************/
 
CREATE PROCEDURE [dbo].[SSP_LPEOD5_GTFILE_SELECT]
    @QWS_GT_SOURCE      AS INT,
    @QWS_GT_DATE2       AS DATE,
    @QWS_GT_BRANCH      AS INT, 
 	@QWS_GT_ACCTNO      AS INT,
	@QWS_GT_DATE3       AS DATE,  
	@QWS_GT_DRCRFG      AS CHAR(1)

	
AS
BEGIN
	SET NOCOUNT ON;

--DECLARE @QWS_GT_SOURCE  INT
--DECLARE @QWS_GT_DATE2   DATE
--DECLARE @QWS_GT_BRANCH  INT 
--DECLARE @QWS_GT_ACCTNO  INT
--DECLARE @QWS_GT_DATE3   DATE  
--DECLARE @QWS_GT_DRCRFG  CHAR(1)
 
--SET     @QWS_GT_SOURCE = 3
--SET     @QWS_GT_DATE2  = '2021-04-01'
--SET     @QWS_GT_BRANCH = 10
--SET     @QWS_GT_ACCTNO = 1023000
--SET     @QWS_GT_DATE3  = '2021-04-01'
--SET     @QWS_GT_DRCRFG = '1' 

    DROP TABLE IF EXISTS #TEMP_LPEOD5_GTFILE;

    SELECT GTFILE.GT_SOURCE,
           CAST(GTFILE.GT_DATE2       AS VARCHAR(10)) AS GT_DATE2,
           GTFILE.GT_BRANCH,
           GTFILE.GT_ACCTNO,
           CAST(GTFILE.GT_DATE3       AS VARCHAR(10)) AS GT_DATE3,
           GTFILE.GT_DRCRFG,
           GTFILE.GT_LINE,
           GTFILE.GT_FLAG,
           GTFILE.GT_REF,
           CAST(GTFILE.GT_DATE1       AS VARCHAR(10)) AS GT_DATE1,
           CAST(GTFILE.GT_LTOUCH_DATE AS VARCHAR(10)) AS GT_LTOUCH_DATE,
           GTFILE.GT_AMT,
           GTFILE.GT_EXPL,
           GTFILE.GT_PERIOD,
           GTFILE.GT_SMITH_SENT,
           GTFILE.GT_POST_USERID,
           CAST(GTFILE.GT_POST_DATE   AS VARCHAR(10)) AS GT_POST_DATE,
           GTFILE.GT_POST_TIME

      INTO #TEMP_LPEOD5_GTFILE

      FROM DBO.GTFILE GTFILE
     WHERE GT_SOURCE = @QWS_GT_SOURCE
       AND GT_DATE2  = @QWS_GT_DATE2 
       AND GT_BRANCH = @QWS_GT_BRANCH
       AND GT_ACCTNO = @QWS_GT_ACCTNO
       AND GT_DATE3  = @QWS_GT_DATE3 
       AND GT_DRCRFG = @QWS_GT_DRCRFG
       AND GT_LINE = ( SELECT MAX(GT_LINE) 
                         FROM GTFILE
                        WHERE GT_SOURCE = @QWS_GT_SOURCE
                          AND GT_DATE2  = @QWS_GT_DATE2 
                          AND GT_BRANCH = @QWS_GT_BRANCH
                          AND GT_ACCTNO = @QWS_GT_ACCTNO
                          AND GT_DATE3  = @QWS_GT_DATE3 
                          AND GT_DRCRFG = @QWS_GT_DRCRFG ); 


    SELECT #TEMP_LPEOD5_GTFILE.GT_SOURCE,
           #TEMP_LPEOD5_GTFILE.GT_DATE2,
           #TEMP_LPEOD5_GTFILE.GT_BRANCH,
           #TEMP_LPEOD5_GTFILE.GT_ACCTNO,
           #TEMP_LPEOD5_GTFILE.GT_DATE3,
           #TEMP_LPEOD5_GTFILE.GT_DRCRFG,
           #TEMP_LPEOD5_GTFILE.GT_LINE,
           #TEMP_LPEOD5_GTFILE.GT_FLAG,
           #TEMP_LPEOD5_GTFILE.GT_REF,
           #TEMP_LPEOD5_GTFILE.GT_DATE1,
           #TEMP_LPEOD5_GTFILE.GT_LTOUCH_DATE,
           #TEMP_LPEOD5_GTFILE.GT_AMT,
           #TEMP_LPEOD5_GTFILE.GT_EXPL,
           #TEMP_LPEOD5_GTFILE.GT_PERIOD,
           #TEMP_LPEOD5_GTFILE.GT_SMITH_SENT,
           #TEMP_LPEOD5_GTFILE.GT_POST_USERID,
           #TEMP_LPEOD5_GTFILE.GT_POST_DATE,
           #TEMP_LPEOD5_GTFILE.GT_POST_TIME
      FROM #TEMP_LPEOD5_GTFILE; 

    DROP TABLE IF EXISTS #TEMP_LPEOD5_GTFILE;

END
GO
